Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

chore: update rustc
  .github/deploy_manylinux.sh
  .github/workflows/create-python-release.yml
  Cargo.toml
  polars/polars-arrow/src/kernels/agg_mean.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/hashing/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-ops/src/chunked_array/list/hash.rs
  polars/polars-utils/src/hash.rs
  polars/polars-utils/src/lib.rs
  rust-toolchain.toml
Owners: @ritchie46, @stinodego

activate dtype-array feature on lazy
  polars/polars-lazy/Cargo.toml
Owners: @ritchie46

update cargo hack
  .github/workflows/build-test-rust.yml
Owners: @ritchie46, @stinodego

fix features
  polars/Makefile
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Owners: @ritchie46

remove features
  polars/polars-core/src/series/iterator.rs
Owners: @ritchie46

feat(rust, python): implement explode for DataType::Array
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/operations/test_explode.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): implement explode for DataType::Array (#9157)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/operations/test_explode.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): add arr.unique expression
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-ops/src/chunked_array/array/namespace.rs
  polars/polars-ops/src/chunked_array/list/count.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

features
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
Owners: @ritchie46

feat(rust, python): add arr.unique expression (#9159)
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-ops/src/chunked_array/array/namespace.rs
  polars/polars-ops/src/chunked_array/list/count.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): groupby_dynamic by quarter. (#6842)
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

feat(rust, python): add binary to list<u8> cast
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_binary.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): add binary to list<u8> cast (#9161)
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_binary.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): return single numpy array in Array dtype -> numpy
  polars/polars-core/src/chunked_array/logical/mod.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/namespaces/test_array.py
Owners: @ritchie46, @stinodego, @alexander-beedie

mypy
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): respect time zone in strptime/to_datetime when exact=False
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

chore(rust): remove outdated struct, improve naming
  polars/polars-io/src/csv/buffer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
Owners: @ritchie46, @MarcoGorelli

fix(rust, python): return single numpy array in Array dtype -> numpy (#9164)
  polars/polars-core/src/chunked_array/logical/mod.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/namespaces/test_array.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): make null chunking behavior equal to other dtypes
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/datatypes/test_list.py
Owners: @ritchie46, @stinodego, @alexander-beedie

simplify
  polars/polars-time/src/chunkedarray/utf8/mod.rs
Owners: @ritchie46, @MarcoGorelli

fix(rust, python): make null chunking behavior equal to other dtypes (#9176)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/datatypes/test_list.py
Owners: @ritchie46, @stinodego, @alexander-beedie

further simplify
  polars/polars-time/src/chunkedarray/utf8/mod.rs
Owners: @ritchie46, @MarcoGorelli

refactor: operate on i256 on decimal mul/div
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/compute/arithmetics/decimal/div.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mul.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): rolling_apply window_size == len
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): respect time zone in strptime/to_datetime when exact=False (#9171)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

chore(rust): remove outdated struct, improve naming (#9172)
  polars/polars-io/src/csv/buffer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
Owners: @ritchie46, @MarcoGorelli

refactor: operate on i256 on decimal mul/div (#9179)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/compute/arithmetics/decimal/div.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mul.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): rolling_apply window_size == len (#9181)
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @stinodego, @alexander-beedie

doc(python): note that `exact=False` is a performance footgun
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore(rust): simplify slow datetime parser
  polars/polars-io/src/csv/buffer.rs
Owners: @ritchie46

Avoid deprecated method
  polars/polars-core/src/cloud.rs
Owners: @ritchie46

Address breaking changes
  examples/python_rust_compiled_function/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/expr/general.rs
  py-polars/src/functions/lazy.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

clarify which setting introduces the penalty
  py-polars/polars/expr/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix the missing ones
  py-polars/polars/series/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

doc(python): clarify what the windows are in rolling_* functions
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

better notation
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

correct (series funcs have no `by`)
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): note that `exact=False` is a performance footgun (#9186)
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fixup
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

correct mistake
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie
