Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

Add scccache
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Ci benchmark (#56)
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Trigger
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

ci(rust): Caching for benchmark workflow (#9267)
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Try to make rolling min/max faster
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Owners: @ritchie46

docs(python): update suggested 'selectors' import alias from "s" to "cs" (so as not to step on the typical "Series" abbreviation)
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust): match missing Array and Struct classes in FromPyObject
  py-polars/src/conversion.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(testing): Allow for tolerance in list columns
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix mypy tuple error
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

run black
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

check if dtype has attribute inner
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

try to resolve mypy error with inner
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

try to resolve mypy error with inner
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

circumvent mypy error by using __getattribute__
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

run black
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): match missing Array and Struct classes in FromPyObject (#9271)
  py-polars/src/conversion.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): raise on invalid sort_by (#9262)
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/test_errors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

ensure alphabetic order
  py-polars/docs/source/reference/expressions/functions.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

fix a lingering "s" => "cs" in a comment :)
  py-polars/polars/selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): update suggested 'selectors' import alias from "s" to "cs" (#9269)
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): fix pyarrow dataset litetal filter
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust,python): add "sql_expr" function (#9248)
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/src/sql.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_sql.py
Owners: @ritchie46, @universalmind303, @stinodego, @alexander-beedie

feat(rust, python): keep sorted flag after Expr::truncate
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): fix pyarrow dataset litetal filter (#9274)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): keep sorted flag after Expr::truncate (#9275)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): implement set operations for selector API
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  py-polars/polars/selectors.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

add selector to expression conversionA
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

remove add and document sets
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Faster Rolling Max/Min
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Owners: @ritchie46

fix repr and docstring
  py-polars/polars/selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): implement set operations for selector API (#9276)
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

wip
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-ops/src/frame/join/mod.rs
  polars/polars-time/src/upsample.rs
Owners: @ritchie46, @MarcoGorelli

Make clippy happy
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Owners: @ritchie46

rust side dispatch
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
Owners: @ritchie46

Actually make clippy happy
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Owners: @ritchie46

tests
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/core/joins.rs
Owners: @ritchie46

refactor _assert_frame_nested_nans_equal to _assert_frame_nested_equal
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

add mypy to testing signatures
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

run black
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

more tests
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie
