Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-

unskip skipped test
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: docs add right to docstring
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

it gets simpler?
  py-polars/polars/_utils/construction/dataframe.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

and simpler
  py-polars/polars/_utils/construction/dataframe.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

dont keep recreating the same dict
  py-polars/polars/_utils/construction/dataframe.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Add right to lazyframe join docstring (#17529)
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fixup deprecated directive
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/functions/test_business_day_count.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

core compiles [skip ci]
  crates/polars-core/src/serde/chunked_array.rs
  crates/polars-core/src/series/implementations/struct__.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

docs(python): Adjust rendering of links in `read_database_uri` docstring
  py-polars/polars/io/database/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: batch nested Parquet decoding
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/translator.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more
  crates/polars-core/src/chunked_array/logical/struct_/from.rs
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-ops/src/frame/pivot/positioning.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/name.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more [skip ci]
  crates/polars-core/src/chunked_array/iterator/mod.rs
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/map/series.rs
  py-polars/src/series/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-io/src/predicates.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-expr/src/expressions/apply.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

test(python): Add/fix some version-gating in tests for alchemy/pandas
  py-polars/pyproject.toml
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/io/database/test_async.py
  py-polars/tests/unit/io/database/test_read.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

more
  crates/polars-arrow/src/array/static_array.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/series/comparison.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Clarify the use of infer_schema_length in CsvReadOptions
  crates/polars-io/src/csv/read/options.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/chunked_array/logical/struct_/from.rs
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/row/av_buffer.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/ops/null.rs
  crates/polars-core/src/series/series_trait.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

remove old struct
  crates/polars-core/src/chunked_array/struct_/frame.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-ops/src/chunked_array/array/to_struct.rs
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/chunked_array/list/to_struct.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/split.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/frame/pivot/positioning.rs
  crates/polars-ops/src/series/ops/cut.rs
  crates/polars-ops/src/series/ops/rle.rs
  crates/polars-plan/src/dsl/function_expr/coerce.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  py-polars/src/map/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Support `describe` on decimal
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Batch nested Parquet decoding (#17542)
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/translator.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf: Batch nested embed parquet decoding
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/struct_.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more tests [skip ci]
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/mod.rs
  py-polars/src/conversion/chunked_array.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

capitalize the name Polars
  docs/user-guide/ecosystem.md
Owners: @ritchie46, @stinodego, @c-peters

Add with_max_retries on CloudOptions
  crates/polars-io/src/cloud/options.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Add test
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Batch nested embed parquet decoding (#17549)
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/struct_.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): No longer blanket allow unused items in polars-stream
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/utils/linearizer.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

clippy
  crates/polars-stream/src/nodes/streaming_slice.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

add missing unused
  crates/polars-stream/src/async_primitives/pipe.rs
  crates/polars-stream/src/morsel.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix more tests
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/from.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/series/test_append.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix more tests [skip ci]
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/operations/test_drop_nulls.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/operations/test_is_null.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust): Correct logic for descending sort of BooleanChunked
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix(python): Handle current position of file objects
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/utils/other.rs
  py-polars/src/file.rs
  py-polars/tests/unit/io/test_csv.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs(python): Mention stream position issue in doc
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json/read.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix retries logic
  py-polars/src/lazyframe/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Align retries default number
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Update test
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Update test
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/parquet/read/read_impl.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters
