Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

c
  crates/polars-io/src/partition.rs
  crates/polars-io/src/prelude.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

more [skip ci]
  crates/polars-arrow/src/array/static_array.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_is_in.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

lint
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/comparison.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat(rust): optimize column load of row groups with predicate(#13608)
  Cargo.lock
  Cargo.toml
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/executors/sinks/output/batch_sink.rs
  crates/polars-pipe/src/executors/sinks/output/mod.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa

lint
  crates/polars-core/src/serde/mod.rs
  docs/src/rust/user-guide/expressions/structs.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Update SQL examples in README
  README.md
Owners: @ritchie46, @stinodego, @c-peters

more
  py-polars/tests/unit/dataframe/test_serde.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix more
  crates/polars-core/src/chunked_array/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix
  py-polars/tests/unit/lazyframe/test_serde.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/options.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): smaller filter / valid in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/deserialize/filtered_rle.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/lazyframe/test_serde.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/utils/path.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/utils/path.rs
  crates/polars-plan/src/plans/conversion/scans.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/src/file_cache/utils.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: temporary skip more tests
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Temporary skip more tests (#17572)
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Fix scanning from HTTP cloud paths (#17571)
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/utils/path.rs
  crates/polars-plan/src/plans/conversion/scans.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): Smaller filter / valid in Parquet (#17569)
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/deserialize/filtered_rle.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Don't unwrap send attempt to oneshot channel (#17566)
  crates/polars-io/src/parquet/read/read_impl.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix(python): Fix `retries` parameter in scan functions not taking effect when it was set to `0` (#17564)
  crates/polars-io/src/cloud/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/cloud/test_cloud.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): No longer blanket allow unused items in polars-stream (#17551)
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-stream/src/async_primitives/pipe.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/utils/linearizer.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix(rust): Correct logic for descending sort of BooleanChunked (#17558)
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf: Support datetime in predicate during hive partition pruning (#17545)
  crates/polars-io/src/predicates.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): Make no-default-features compile (#17516)
  crates/polars-plan/src/dsl/function_expr/mod.rs
  docs/src/rust/Cargo.toml
  py-polars/Cargo.toml
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/expr/struct.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/src/lib.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Improve parallelism in writing hive parquet (#17512)
  crates/polars-io/src/partition.rs
  crates/polars-io/src/prelude.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Support `describe` on decimal (#15092)
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs(python): Fixup "deprecated" directive for `DataFrame.melt` and `LazyFrame.melt` (#17530)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/functions/test_business_day_count.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Set O_CLOEXEC on dupped fd
  py-polars/src/file.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: add masked type param to numpy interop API
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/series/series.py
  py-polars/src/interop/numpy/to_numpy_df.rs
  py-polars/src/interop/numpy/to_numpy_series.rs
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

whitespace and import cruft
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/interop/numpy/to_numpy_series.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

test(python): Add/fix version-gating in some SQLAlchemy and Pandas tests (#17538)
  py-polars/pyproject.toml
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/io/database/test_async.py
  py-polars/tests/unit/io/database/test_read.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add test
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add test for Cloud URI
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Remove expand paths on FileListReader
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Update test
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix CSV
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Remove expand from default finish
  crates/polars-lazy/src/scan/file_list_reader.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Use keywords in scan_csv impl
  py-polars/polars/io/csv/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix Parquet
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
