Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

Update anonymous
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

NDjson [skip ci]
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Split expand paths util
  crates/polars-io/src/utils/path.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix feature flags
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix IPC [skip ci]
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Add test for scan_csv with_column_names
  crates/polars-lazy/src/scan/csv.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Solve code duplication
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Minor refactor
  crates/polars-lazy/src/scan/parquet.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Move test
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: add fastpath for when rounding by single constant durations
  crates/polars-time/src/round.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

fix: dt.truncate was sometimes returning incorrect results for pre-1970 datetimes
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

add hypothesis test
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

chore: move some tests over to test_round
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Defer path expansion until `collect` in file scan methods (#17532)
  crates/polars-io/src/utils/path.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

increase coverage
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Add HDFS support in object_store
  Cargo.lock
  Cargo.toml
  crates/Makefile
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/utils/path.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/partition.rs
  crates/polars-io/src/shared.rs
  docs/_build/API_REFERENCE_LINKS.yml
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/hive.py
  py-polars/src/dataframe/io.rs
  py-polars/src/io/hive.rs
  py-polars/src/io/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  docs/src/python/user-guide/io/hive.py
Owners: @ritchie46, @stinodego, @c-peters

c
  py-polars/polars/io/hive.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  py-polars/polars/dataframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/partition.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Method dt.truncate was sometimes returning incorrect results for pre-1970 datetimes (#17582)
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

docs: Update SQL examples in README (#17568)
  README.md
Owners: @ritchie46, @stinodego, @c-peters

feat: Add option to include file path for Parquet, IPC, CSV scans (#17563)
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Set `O_CLOEXEC` on duplicated file descriptor (#17537)
  py-polars/src/file.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs(python): Adjust rendering of links in `read_database_uri` docstring (#17536)
  py-polars/polars/io/database/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Handle current position of file objects (#17543)
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/utils/other.rs
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json/read.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/src/file.rs
  py-polars/tests/unit/io/test_csv.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Make schema picklable (#17524)
  py-polars/polars/schema.py
  py-polars/tests/unit/test_schema.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix fmt and ignored test
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: bitmap collect into safety
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Bitmap collect into safety (#17588)
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  docs/_build/API_REFERENCE_LINKS.yml
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/hive.py
  py-polars/src/dataframe/io.rs
  py-polars/src/io/hive.rs
  py-polars/src/io/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor: Fix outer validity;fmt;is_in;cast
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-ops/src/series/ops/cut.rs
  py-polars/polars/_utils/construction/series.py
  py-polars/src/dataframe/general.rs
  py-polars/tests/unit/operations/test_is_in.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Allow passing custom HTTP headers (#17197)
  Cargo.lock
  Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
Owners: @ritchie46, @stinodego, @c-peters, @orlp

fix
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix comparison
  crates/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Handle URL
  crates/polars-io/src/cloud/object_store_setup.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

sort before comparing join results if order isn't guaranteed
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

cleanup
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
