Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-

refactor: Extract parquet `op` to trait
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/types.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

docs(python): Update `plot` docs to refer to docstrings (#17504)
  py-polars/docs/source/reference/dataframe/plot.rst
  py-polars/docs/source/reference/series/plot.rst
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Add `ArrayChunks` to optimize codegen of BatchDecoder (#17632)
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/types.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat: implement round and truncate for Duration
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

consistency
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

consistency
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli

Reproducer for 17472.
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

A start of a fix for 17472, thwarted by undo_aliases().
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

move tests to more appropriate location
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

A better way to alias expressions, so that tests pass.
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Small cleanup.
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix lints.
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

add fetch
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

more [skip ci]
  crates/polars-stream/src/nodes/reduce.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix bug caught in review.
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

chore(rust): document and simplify MutableBinView::push_ignore_validity
  crates/polars-arrow/src/array/binview/mutable.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

align formulae between datetime and duration
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

Don't use red for negative numbers as default
  py-polars/polars/io/spreadsheet/_write_utils.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

add unreachable
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf: Cache path resolving of `scan` functions (#17616)
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Return error
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/client/mod.rs
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Make function public
  crates/polars-lazy/src/prelude.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/lib.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Expose to Python
  py-polars/polars/_utils/cloud.py
  py-polars/src/cloud.rs
  py-polars/src/lib.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Add DSL validation for cloud eligible check
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/client/dsl.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/lib.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix features
  crates/polars-plan/src/client/dsl.rs
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Add some initial tests
  py-polars/tests/unit/cloud/__init__.py
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Finish inputs/get_expr
  crates/polars-plan/src/client/dsl.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Update tests
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Set up feature flags
  crates/polars-lazy/Cargo.toml
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Tests WIP
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix UDFs
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Check for local paths
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Raise on PythonScan
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Remove anonymous scan
  crates/polars-plan/src/client/mod.rs
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add Sink check
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix feature flag
  crates/polars-plan/src/client/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): use extend_views in IfThenElseKernel
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-compute/src/if_then_else/view.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): Add same buffers optimization in GrowableBinaryViewArray
  crates/polars-arrow/src/array/growable/binview.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat(rust): extend_views_* in MutableBinaryViewArray
  crates/polars-arrow/src/array/binview/mutable.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): Use MutableBinaryViewArray to implement GrowableBinaryViewArray
  crates/polars-arrow/src/array/binview/buffers.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/growable/binview.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters
