Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

improve error message
  polars/polars-core/src/frame/asof_join/mod.rs
Owners: @ritchie46

fix(python): Allow for tolerance when comparing nested dtype columns (#9272)
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): raise more informative error on string arguments (#9352)
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): document apply 'return_dtype' requirement
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): raise groupby apply on empty frame (#9360)
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/unit/test_empty.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust,python,cli): add sql DROP TABLE (#9355)
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/keywords.rs
  polars/polars-sql/tests/statements.rs
Owners: @ritchie46, @universalmind303

fix(rust, python): respect startby in groupby_dynamic when every is greater than 1d
  polars/polars-time/src/windows/window.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

fix(rust, python): parquet + categorical
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @alexander-beedie

grammar
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

try fixing rust test
  polars/tests/it/lazy/groupby_dynamic.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

features
  polars/polars-io/src/parquet/read_impl.rs
Owners: @ritchie46

fix(rust, python): respect startby in groupby_dynamic when every is greater than 1d (#9362)
  polars/polars-time/src/windows/window.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

docs(python): document apply 'return_dtype' requirement (#9361)
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): parquet + categorical (#9363)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): list zip with
  polars/polars-core/src/chunked_array/arithmetic/decimal.rs
  polars/polars-core/src/chunked_array/arithmetic/numeric.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/nulls.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/test_arity.py
Owners: @ritchie46, @stinodego, @alexander-beedie

restore object
  polars/polars-core/src/chunked_array/ops/zip.rs
Owners: @ritchie46

fix(rust, python): list zip with (#9367)
  polars/polars-core/src/chunked_array/arithmetic/decimal.rs
  polars/polars-core/src/chunked_array/arithmetic/numeric.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/nulls.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/test_arity.py
Owners: @ritchie46, @stinodego, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie
