Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

bubble up errors
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-ops/src/frame/join/mod.rs
Owners: @ritchie46

fix suffix
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-lazy/src/frame/mod.rs
Owners: @ritchie46

check left joins
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/tpch.rs
Owners: @ritchie46

add input validation
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_outer.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-ops/src/frame/join/mod.rs
Owners: @ritchie46

wrap-up
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/conversion.rs
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/operations/test_join.py
Owners: @ritchie46, @stinodego, @alexander-beedie

compile tests
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Owners: @ritchie46

perf(rust, python): slightly improve n_unique performance
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Owners: @ritchie46

compile tests
  polars/tests/it/core/joins.rs
  polars/tests/it/lazy/cse.rs
  polars/tests/it/lazy/projection_queries.rs
  polars/tests/it/lazy/queries.rs
Owners: @ritchie46

perf(rust, python): slightly improve n_unique performance (#9286)
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Owners: @ritchie46

python polars 0.18.1
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @alexander-beedie

python polars 0.18.1 (#9287)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @alexander-beedie

ci(python): publish wheels with API token
  .github/workflows/release-python.yml
Owners: @ritchie46, @stinodego

force run
  .github/workflows/release-python.yml
Owners: @ritchie46, @stinodego

ci(python): publish wheels with API token (#9290)
  .github/workflows/release-python.yml
Owners: @ritchie46, @stinodego

Fix rolling weighted mean
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
Owners: @ritchie46

feat(rust, python): serde for 'to_physical' expr
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

fmt
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

Update selectors.rst
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): serde for 'to_physical' expr (#9294)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): account for root model in the object's dict in pydantic 2.x series
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

lint (py37)
  py-polars/tests/unit/test_constructors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): Fix typo in Selectors documentation (#9295)
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

Update test job
  .github/workflows/test-rust.yml
  polars/Makefile
  polars/src/lib.rs
Owners: @ritchie46, @stinodego

docs(python): fix extraneous indent in examples block
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

Split test/integration test
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

fix(python): fix when loading model data from upcoming `pydantic` 2.x release (#9296)
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): fix extraneous indent in examples block (#9297)
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

Add sccache
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

Update cargo hack
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

Compile separately
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

No sccache
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

ci(rust): Utilize caching in test job (#9301)
  .github/workflows/test-rust.yml
  polars/Makefile
  polars/src/lib.rs
Owners: @ritchie46, @stinodego

add more test, identify and fix more bugs
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

run black
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

simplify and comment nan handling
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

shorten comment
  py-polars/polars/testing/asserts.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): fix overly-broad string matching in selectors
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): allow use of Config object as a function decorator
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): allow use of StringCache object as a function decorator
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/string_cache.py
  py-polars/tests/unit/datatypes/test_categorical.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Clarify comments and standardize names
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Owners: @ritchie46
