Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

refactor(rust): Remove has_validity, use has_nulls (#17519)
  crates/polars-arrow/src/legacy/array/mod.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/builder/list/primitive.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate_by.rs
  py-polars/polars/series/series.py
  py-polars/src/map/series.rs
  py-polars/src/series/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/path_utils/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf: Fix pathological perf issue in window-order-by
  crates/polars-expr/src/expressions/sortby.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf: Fix pathological perf issue in window-order-by (#17650)
  crates/polars-expr/src/expressions/sortby.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

chore(rust): Document and simplify MutableBinView::push_ignore_validity (#17645)
  crates/polars-arrow/src/array/binview/mutable.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Fix explode invalid check
  crates/polars-core/src/frame/explode.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Add GB agg UDF example
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

better
  crates/polars-core/src/frame/explode.rs
  py-polars/tests/unit/operations/test_explode.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Diversify local path tests
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Catch Scan predicates
  crates/polars-plan/src/client/mod.rs
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): Rename Pipe to Connector
  crates/polars-stream/src/async_primitives/connector.rs
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/nodes/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Fix explode invalid check (#17651)
  crates/polars-core/src/frame/explode.rs
  py-polars/tests/unit/operations/test_explode.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): Rename Pipe to Connector (#17655)
  crates/polars-stream/src/async_primitives/connector.rs
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/nodes/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat: raise informative error message if list or tuple is passed to `by` in *Frame.group_by
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_group_by.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: interpret %y consistently with Chrono in to_date/to_datetime/strptime
  crates/polars-time/src/chunkedarray/string/strptime.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

fix(rust): fix type inference failure caused by double transpose
  crates/polars-plan/src/plans/ir/dot.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

appease rustfmt
  crates/polars-plan/src/plans/ir/dot.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/src/path_utils/hugging_face.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat: Raise informative error message if non-IntoExpr is passed by name in *Frame.group_by (#17654)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_group_by.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

wip: [skip ci]
  crates/polars-stream/src/nodes/reduce.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Add DSL validation for cloud eligible check (#17287)
  crates/polars-error/src/lib.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/prelude.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/client/dsl.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/lib.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/polars/_utils/cloud.py
  py-polars/src/cloud.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/cloud/__init__.py
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Hugging Face path expansion (#17665)
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Interpret %y consistently with Chrono in to_date/to_datetime/strptime (#17661)
  crates/polars-time/src/chunkedarray/string/strptime.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

fix(python): Support duplicate expression names when calling ufuncs (#17641)
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Python Polars 1.2.0
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Python Polars 1.2.0 (#17667)
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

further work
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/parquet/page/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

further further work
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix failing tests
  crates/polars-plan/src/plans/ir/dot.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Export Series via pycapsule interface
  py-polars/polars/series/series.py
  py-polars/src/interop/arrow/to_py.rs
  py-polars/src/series/export.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Try to add __arrow_c_stream__ on DataFrame
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe/export.rs
  py-polars/src/interop/arrow/to_py.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add series test
  crates/polars-arrow/src/ffi/stream.rs
  py-polars/tests/unit/series/test_series.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix Series test
  py-polars/tests/unit/series/test_series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

replaced todo! with panic! in serialize method for anytype on wildcard scenario
  crates/polars-core/src/datatypes/any_value.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(python): specify tune-cpu
  .github/workflows/release-python.yml
Owners: @ritchie46, @stinodego, @c-peters

perf(python): add feature +movbe
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf(python): add feature +cmpxchg16b
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-core/src/utils/mod.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/polars/io/ndjson.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
