Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

add "overview" section to selector API docs
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): Allow empty `select`/`with_columns`/`groupby`
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

tweak import style, add "string" selector, further-enhance API docs
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/__init__.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix api docs (typo, menu entry)
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): raise error on invalid df.apply return
  polars/polars-core/src/frame/row/dataframe.rs
  py-polars/src/apply/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): clipy window_size to length in rolling_apply
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): raise error on invalid df.apply return (#9207)
  polars/polars-core/src/frame/row/dataframe.rs
  py-polars/src/apply/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): support float expression on integers
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_integer.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): add dedicated `selectors` module, consolidating/expanding existing selector capabilities (#9204)
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/__init__.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): clipy window_size to length in rolling_apply (#9209)
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): df.apply first rechunk
  py-polars/src/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): add a datetime selector
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): df.apply first rechunk (#9211)
  py-polars/src/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): support float expression on integers (#9210)
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_integer.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): add a `datetime` selector (#9212)
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(rust): split up dsl::functions module
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/arity.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/coerce.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/horizontal.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/index.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/selectors.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/syntactic_sugar.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
Owners: @ritchie46

feat(python): Allow empty `select`/`with_columns`/`groupby` (#9205)
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix test
  py-polars/tests/unit/test_errors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(rust): split up dsl::functions module (#9213)
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/arity.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/coerce.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/horizontal.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/index.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/selectors.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/syntactic_sugar.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  py-polars/tests/unit/test_errors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): don't SO on concat(expressions)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  py-polars/polars/functions/eager.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_concat.py
Owners: @ritchie46, @stinodego, @alexander-beedie

exist_ok=True
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Remove vendored copy
  py-polars/polars/testing/_tempdir.py
Owners: @ritchie46, @stinodego, @alexander-beedie

test(python): Use pytest `tmp_path`
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Update test
  py-polars/tests/unit/io/test_database.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Remove windows xfail markers
  py-polars/tests/unit/io/test_ipc.py
Owners: @ritchie46, @stinodego, @alexander-beedie

supertypes
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
Owners: @ritchie46

fix(rust, python): don't SO on concat(expressions) (#9214)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  py-polars/polars/functions/eager.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_concat.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): immediately flatten nested unions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/unit/functions/test_concat.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): immediately flatten nested unions (#9220)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/unit/functions/test_concat.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): ensure agg(F(lit)) == lit
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): add docstring to __array__ methods (#8055)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): ensure agg(F(lit)) == lit (#9222)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore(rust): Fix unused import warning in release build
  polars/polars-lazy/src/physical_plan/streaming/tree.rs
Owners: @ritchie46

Deny warnings in the CI
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Remove unnecessary print
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
Owners: @ritchie46, @MarcoGorelli

chore(rust): Fix unused import warning in release build (#9224)
  .github/workflows/benchmark.yml
  polars/polars-lazy/src/physical_plan/streaming/tree.rs
Owners: @ritchie46, @stinodego

Fix some imports
  polars/polars-core/src/frame/groupby/perfect.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
Owners: @ritchie46

Fix some doc links
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-row/src/lib.rs
  polars/src/lib.rs
Owners: @ritchie46

Remove some pip caching
  .github/workflows/benchmark.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-check-python.yml
  .github/workflows/lint-python.yml
Owners: @ritchie46, @stinodego

Unify Python docs workflows
  .github/workflows/docs-check-python.yml
  .github/workflows/docs-python.yml
Owners: @ritchie46, @stinodego

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie
