Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-

build(python): Pin `setuptools` to fix failing CI (#17695)
  py-polars/requirements-dev.txt
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

allow unused
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/pipe.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat(python): Expose Arrow C interface directly on Polars (#17696)
  docs/src/python/user-guide/misc/arrow.py
  docs/user-guide/misc/arrow.md
  mkdocs.yml
  py-polars/polars/__init__.py
  py-polars/polars/interchange/__init__.py
  py-polars/polars/series/series.py
  py-polars/src/series/c_interface.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Fix return type hint for LazyFrame `sink` methods (#17698)
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Remove non-existing names from `__all__` (#17494)
  py-polars/polars/__init__.py
  py-polars/tests/unit/test_init.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): Allow compute nodes in streaming engine to decide whether they want serial or parallel input/output (#17699)
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/filter.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_sink.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/map.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/ordered_union.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/nodes/simple_projection.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/pipe.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat: Raise error instead of panic in unsupported serde (#17679)
  crates/polars-core/src/datatypes/any_value.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: avoid UB in Parquet ArrayChunks
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/parquet/types.rs
Owners: @ritchie46, @stinodego, @c-peters, @orlp

fix(rust): chrono::TimeDelta needs chrono >= 0.4.34
  Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters

fix: Use bytemuck in slice reinterpret for Parquet ArrayChunks (#17700)
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/parquet/types.rs
Owners: @ritchie46, @stinodego, @c-peters, @orlp

Pass through whether rolling offset and period are negative
  py-polars/src/lazyframe/visitor/expr_nodes.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(python): Pass through missing stringfunction info in pyir
  py-polars/src/lazyframe/visitor/expr_nodes.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Python Polars 1.2.1
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf(rust): zero-copy BinViewChunkedBuilder
  crates/polars-core/src/chunked_array/builder/string.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy ListString/BinaryChunkedBuilder
  crates/polars-core/src/chunked_array/builder/list/binary.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): move extract_all & extract_all_many to extract.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy str.split*
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/split.rs
  crates/polars-ops/src/chunked_array/strings/utils.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy str.extract_*
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/find_many.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/utils.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy substring
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/substring.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy CategoricalChunked::cast_with_options
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy str.strip_*
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/strip.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(rust): zero-copy CategoricalChunkedBuilder
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Python Polars 1.2.1 (#17704)
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(rust): Add NontemporalArithmeticChunked
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/arithmetic/float.rs
  crates/polars-compute/src/arithmetic/mod.rs
  crates/polars-compute/src/arithmetic/signed.rs
  crates/polars-compute/src/arithmetic/unsigned.rs
  crates/polars-compute/src/arity.rs
  crates/polars-compute/src/lib.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Support stream import to series and use that for DataFrame import
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/dataframe/mod.rs
  py-polars/src/series/import.rs
  py-polars/src/series/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Import __arrow_c_array__ as well
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/series/import.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa
