Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

Update PR (#36)
  .github/workflows/build-rust.yml
  .github/workflows/test-python.yml
  README.md
Owners: @ritchie46, @stinodego

Use shared cache from other workflow (#37)
  .github/workflows/build-rust.yml
  .github/workflows/cache-rust.yml
  .github/workflows/test-python.yml
  README.md
Owners: @ritchie46, @stinodego

Check cache speed (#38)
  .github/workflows/cache-rust.yml
  .github/workflows/test-python.yml
  README.md
Owners: @ritchie46, @stinodego

Caching
  README.md
Owners: @ritchie46

ci(python): Cache Rust build on main branch
  .github/workflows/cache-rust.yml
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

ci(python): Cache Rust build on main branch (#9130)
  .github/workflows/cache-rust.yml
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

fix(rust): json_extract on empty series (#9126)
  polars/polars-json/src/ndjson/deserialize.rs
  py-polars/tests/unit/namespaces/test_string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

wrap-up
  polars/polars-arrow/src/compute/arithmetics/decimal/commutative.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/div.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mod.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mul.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/sub.rs
  polars/polars-core/src/chunked_array/arithmetic/decimal.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Added '1q' to all the docs where duration strings are listed.
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): Decimal arithmetic (#9123)
  polars/polars-arrow/src/compute/arithmetics/decimal/add.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/commutative.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/div.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mod.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mul.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/sub.rs
  polars/polars-arrow/src/compute/arithmetics/mod.rs
  polars/polars-arrow/src/compute/arity.rs
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/arithmetic/decimal.rs
  polars/polars-core/src/chunked_array/arithmetic/mod.rs
  polars/polars-core/src/chunked_array/arithmetic/numeric.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Added assertion to test.
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(python, rust): change decimal inference and argument order
  polars/polars-arrow/src/compute/decimal.rs
  polars/polars-core/src/chunked_array/ops/decimal.rs
  polars/polars-io/src/csv/read.rs
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(python, rust): change decimal inference and argument order (#9133)
  polars/polars-arrow/src/compute/decimal.rs
  polars/polars-core/src/chunked_array/ops/decimal.rs
  polars/polars-io/src/csv/read.rs
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): sum, min, max groupy -> agg for Decimal
  polars/polars-core/src/series/implementations/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

stable
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix doctests
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

add aggregations
  polars/polars-core/src/series/implementations/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Formatted with black.
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Parametrized test.
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): `Decimal` type: `sum`, `min`, `max` aggregations in `select` and `agg` context. (#9135)
  polars/polars-core/src/series/implementations/decimal.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/datatypes/test_decimal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Add -S option to prevent site import
  py-polars/tests/unit/test_polars_import.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fixed error in test.
  py-polars/tests/unit/datatypes/test_temporal.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): struct `is_in` should upcast numeric types (#9110)
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): don't raise on longest value in args
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/test_expr_multi_cols.py
Owners: @ritchie46, @stinodego, @alexander-beedie

apply determines when lengths needs to be checked
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_empty.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): fix regression in boolean nulls comparison
  polars/polars-core/src/chunked_array/comparison/mod.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-ops/src/chunked_array/list/count.rs
  py-polars/tests/unit/namespaces/test_list.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): let `apply` caller determine if length needs to be checked. (#9140)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_empty.py
  py-polars/tests/unit/test_expr_multi_cols.py
Owners: @ritchie46, @stinodego, @alexander-beedie

exclude object
  polars/polars-core/src/chunked_array/from.rs
Owners: @ritchie46

fix(python): Fix DataFrame.to_arrow() for 0x0 dataframes
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): categorical construction from null values
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Update test_categorical.py
  py-polars/tests/unit/datatypes/test_categorical.py
Owners: @ritchie46, @stinodego, @alexander-beedie

perf(rust): use par_iter over entire concat input
  polars/polars-lazy/src/physical_plan/executors/union.rs
Owners: @ritchie46

perf(rust): allow parallel joins and unions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cache_states.rs
Owners: @ritchie46

fix(rust, python): categorical construction from null values (#9145)
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(python): Fix DataFrame.to_arrow() for 0x0 dataframes (#9144)
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Owners: @ritchie46, @stinodego, @alexander-beedie

only primitive types
  polars/polars-core/src/chunked_array/from.rs
Owners: @ritchie46

fix(rust, python): fix struct null_count if fields are null arrays
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @alexander-beedie

nonempty
  polars/polars-core/src/chunked_array/from.rs
Owners: @ritchie46

fix(rust, python): fix struct null_count if fields are null arrays (#9151)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): fix regression in boolean nulls comparison (#9142)
  polars/polars-core/src/chunked_array/comparison/mod.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-ops/src/chunked_array/list/count.rs
  py-polars/tests/unit/namespaces/test_list.py
Owners: @ritchie46, @stinodego, @alexander-beedie
