Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

Get rid of pip upgrade in CI
  .github/workflows/benchmark.yml
  .github/workflows/docs-python.yml
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

ci(python): Unify Python docs workflows (#9228)
  .github/workflows/benchmark.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-check-python.yml
  .github/workflows/docs-python.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

ci(python): Build docs in parallel
  .github/workflows/docs-python.yml
Owners: @ritchie46, @stinodego

ci(python): Build docs in parallel (#9229)
  .github/workflows/docs-python.yml
Owners: @ritchie46, @stinodego

feat(rust, python): Add ddof option to rolling_var and rolling_std (#8957)
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_series.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

docs(rust): Fix some doc links (#9227)
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/frame/groupby/perfect.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
  polars/polars-row/src/lib.rs
  polars/src/lib.rs
Owners: @ritchie46

test(python): Use pytest `tmp_path` (#9206)
  py-polars/polars/testing/_tempdir.py
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix broken doc links
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/registry.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-json/src/json/infer_schema.rs
  polars/polars-json/src/ndjson/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-time/src/series/_trait.rs
Owners: @ritchie46, @MarcoGorelli

Update doc workflow
  .github/workflows/docs-rust.yml
Owners: @ritchie46, @stinodego

Update agg
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/operations/test_groupby.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix typing
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Add deprecation tests
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Adjust struct
  py-polars/polars/functions/as_datatype.py
  py-polars/tests/unit/functions/test_as_datatype.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Restore test
  py-polars/tests/unit/test_lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Update with_columns
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Update select
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Cleanup
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix feature flags
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Owners: @ritchie46

feat(rust, python): building blocks for expression expansion sets
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/expr_dyn_fn.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

features
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
Owners: @ritchie46

ci(python): Enable parallelization in Python Windows tests
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

docs(rust): Fix more broken links (#9230)
  .github/workflows/docs-rust.yml
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/registry.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-json/src/json/infer_schema.rs
  polars/polars-json/src/ndjson/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-time/src/series/_trait.rs
Owners: @ritchie46, @stinodego, @MarcoGorelli

ci(python): Enable parallelization in Python Windows tests (#9232)
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

ensure duplicates are handled
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fmt
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): building blocks for expression expansion sets (#9231)
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/expr_dyn_fn.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(python): Deprecate `exprs=...` input for `select`/`with_columns`/`agg`/`struct` (#9219)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/functions/test_as_datatype.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

perf(python): use ciborium in Expression pickling
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

perf(python): use ciborium in Expression pickling (#9235)
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

chore(rust): Fix itoap dependency specification
  polars/polars-core/Cargo.toml
Owners: @ritchie46

feat(rust, python): add intersection primitive for selector API
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore(rust): Fix itoap dependency specification (#9239)
  polars/polars-core/Cargo.toml
Owners: @ritchie46

clippy
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
Owners: @ritchie46

Fix YAML syntax
  .github/workflows/cache-rust.yml
Owners: @ritchie46, @stinodego

Remove clippy from lint python workflow
  .github/workflows/lint-python.yml
Owners: @ritchie46, @stinodego

Add separate workflow for linting py-polars crate
  .github/workflows/lint-py-polars.yml
Owners: @ritchie46, @stinodego

ci(python): Update linting for `py-polars` crate (#9242)
  .github/workflows/cache-rust.yml
  .github/workflows/lint-py-polars.yml
  .github/workflows/lint-python.yml
Owners: @ritchie46, @stinodego

feat(rust, python): add intersection primitive for selector API (#9240)
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Owners: @ritchie46, @stinodego, @alexander-beedie

rebase
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/docs/source/reference/expressions/miscellaneous.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/test_serde.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor Expr.read_json_string -> Expr.from_json
  py-polars/docs/source/reference/expressions/miscellaneous.rst
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_serde.py
Owners: @ritchie46, @stinodego, @alexander-beedie
