Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

perf(rust): Better GC and push_view for binviews (#17627)
  crates/polars-arrow/src/array/binview/buffers.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-compute/src/if_then_else/view.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/file_cache/metadata.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-io/src/file_cache/entry.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

add limit 0 test
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

returning an error rather that panicing
  crates/polars-core/src/datatypes/any_value.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

wrap-up
  Cargo.lock
  Cargo.toml
  crates/Makefile
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @orlp

[docs] Fixed default name based on normalize parameter in documentation
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feedback
  crates/polars-stream/src/nodes/reduce.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feedback
  Cargo.lock
  Cargo.toml
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/reduce.rs
Owners: @ritchie46, @stinodego, @c-peters, @orlp

c
  crates/Makefile
  crates/polars-stream/src/nodes/reduce.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

features
  crates/polars-core/src/scalar/reduce.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Add reduce `ComputeNode` in new streaming engine (#17389)
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-core/src/scalar/reduce.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/lib.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/reduce/convert.rs
  crates/polars-plan/src/reduce/extrema.rs
  crates/polars-plan/src/reduce/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

docs(python): Fixed default name for `value_counts` methods based on normalize parameter (#17685)
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust): Fix type inference failure caused by double transpose (#17663)
  crates/polars-plan/src/plans/ir/dot.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat: Include file path option for NDJSON (#17681)
  crates/polars-core/src/utils/mod.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/polars/io/ndjson.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Use ETag for HTTP file cache invalidation (#17684)
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/file_cache/metadata.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

perf(python): Specify tune-cpu & add more CPU features (#17615)
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Address `read_database` issue with batched reads from Snowflake
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

build(python): Correctly reference released package in optional dependencies
  .github/workflows/release-python.yml
Owners: @ritchie46, @stinodego, @c-peters

chore: use MutablePlString instead of MutableBinaryViewArray::<str>
  crates/polars-core/src/frame/explode.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_sort.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

more drive-by
  crates/polars-compute/src/if_then_else/view.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

test: Name tests so they actually run (#17690)
  crates/polars-compute/src/if_then_else/view.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_sort.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Address `read_database` issue with batched reads from Snowflake (#17688)
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Port from R
  py-polars/src/dataframe/export.rs
  py-polars/src/interop/arrow/to_py.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add df interop test
  py-polars/tests/unit/interop/test_interop.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

type hints
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

lint
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/series/test_series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

tmp
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
  crates/polars-parquet/src/parquet/read/page/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/write/column_chunk.rs
  crates/polars-parquet/src/parquet/write/compression.rs
  crates/polars-parquet/src/parquet/write/mod.rs
  crates/polars-parquet/src/parquet/write/page.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/write/indexes.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fixing formatting error
  crates/polars-core/src/datatypes/any_value.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Support __arrow_c_stream__ in DataFrame constructor
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe/import.rs
  py-polars/src/dataframe/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  py-polars/tests/unit/trigger_ci.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  py-polars/requirements-dev.txt
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(python): Expose Arrow C interface directly on Polars
  docs/src/python/user-guide/misc/arrow.py
  docs/user-guide/misc/arrow.md
  mkdocs.yml
  py-polars/polars/__init__.py
  py-polars/polars/interchange/__init__.py
  py-polars/polars/series/series.py
  py-polars/src/series/c_interface.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Propagate struct outer nullability eagerly
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

give names to async executor threads
  crates/polars-stream/src/async_executor/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

allow nodes to specify serial or parallel ports and automatically connect them
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/nodes/filter.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_sink.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/map.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/ordered_union.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/nodes/simple_projection.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/pipe.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

chore(python): fix type hint
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

don't clear outer
  crates/polars-arrow/src/array/struct_/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix
  crates/polars-arrow/src/array/null.rs
  crates/polars-core/src/series/implementations/struct__.rs
  py-polars/tests/unit/operations/test_hash.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Propagate struct outer nullability eagerly (#17697)
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/struct__.rs
  py-polars/tests/unit/operations/test_hash.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
