Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

correct window_size non-temporal case
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

typo
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

typo
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

tests(python): stabilise polars importtime check
  py-polars/tests/unit/test_polars_import.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Refactor inputs
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): fix "to_decimal" docstring
  py-polars/polars/expr/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(python): Handle edge cases of named `select` input
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/operations/test_select.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Update typing
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/groupby.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): fix "to_decimal" docstring (#9197)
  py-polars/polars/expr/string.py
Owners: @ritchie46, @stinodego, @alexander-beedie

tests(python): stabilise polars importtime check (#9196)
  py-polars/tests/unit/test_polars_import.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Remove empty test for now
  py-polars/tests/unit/operations/test_select.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Run on main
  .github/workflows/benchmark.yml
  .github/workflows/build-test-rust.yml
  .github/workflows/cache-rust.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-check-python.yml
  .github/workflows/docs-deploy-python.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test-python.yml
Owners: @ritchie46, @stinodego

Trigger
  README.md
Owners: @ritchie46

fix(python): Handle edge cases of named `select` input (#9198)
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(python): Update expr parsing util to return PyExpr
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): clarify how the windows are formed in the rolling_* functions (#9192)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore(rust): simplify slow datetime parser (#9183)
  polars/polars-io/src/csv/buffer.rs
Owners: @ritchie46

refactor(python): Update expr parsing util to return `PyExpr` (#9166)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor(rust): replace once_cell with std lib
  polars/polars-lazy/src/physical_plan/state.rs
Owners: @ritchie46

feat(python): add dedicated selector "s", consolidating/expanding existing selector capabilities available from "col" and "exclude"
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

update doc reference
  py-polars/docs/source/reference/selectors.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

try to fix things
  polars/polars-arrow/src/prelude.rs
Owners: @ritchie46

Add some underscores for unused rollfun params
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
Owners: @ritchie46

try to fix things
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie

First try at allowing ddof for rollvar and rollfun params
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/test_series.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

syntax
  py-polars/src/expr/general.rs
  py-polars/tests/unit/test_series.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Python exprs
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Change params to Any
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/src/expr/general.rs
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

Fix python tests and add DynArgs type
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

A few more tests
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
Owners: @ritchie46

Return infinity when ddof >= count
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Owners: @ritchie46

Let some tests use approximate differences
  polars/polars-time/src/groupby/dynamic.rs
Owners: @ritchie46, @MarcoGorelli

float-proof another test
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/tests/it/core/rolling_window.rs
Owners: @ritchie46

allow too many arguments
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
Owners: @ritchie46, @MarcoGorelli

reformat
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-time/src/groupby/dynamic.rs
Owners: @ritchie46, @MarcoGorelli

tests and formatting
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_rolling.py
Owners: @ritchie46, @MarcoGorelli, @stinodego, @alexander-beedie

oops
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
Owners: @ritchie46

More too many args
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
Owners: @ritchie46, @MarcoGorelli

oops
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
Owners: @ritchie46

More too many args
  py-polars/src/expr/general.rs
Owners: @ritchie46, @stinodego, @alexander-beedie
