Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @c-peters, @orlp, @alexander-beedie, @coastalwhite, @MarcoGorelli, @reswqa, @wence-

refactor: Move AggregationContext to use Column
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/count.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/group_iter.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/sort.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-lazy/src/frame/pivot.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  crates/polars-ops/src/series/ops/index.rs
Owners: @ritchie46, @orlp, @c-peters

perf: Scalar-opt for certain aggregation
  crates/polars-core/src/frame/column/mod.rs
Owners: @ritchie46, @orlp, @c-peters

feat(rust,python): Implement max/min methods for dtypes (#19494)
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/dsl/function_expr/bounds.rs
  crates/polars-python/src/datatypes.rs
  py-polars/polars/datatypes/classes.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_datatypes.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(python): Try to support native SAP HANA driver via `read_database` (#19733)
  py-polars/polars/io/database/_executor.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Python Polars 1.13.0
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Python Polars 1.13.0 (#19737)
  Cargo.lock
  py-polars/Cargo.toml
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

remove many more materializations
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/partitioned.rs
  crates/polars-core/src/frame/column/series.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-mem-engine/src/executors/filter.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  crates/polars-mem-engine/src/executors/stack.rs
Owners: @ritchie46, @orlp, @c-peters

add way to access materialization tracker
  crates/polars-core/src/frame/column/series.rs
  crates/polars-core/src/frame/mod.rs
Owners: @ritchie46, @orlp, @c-peters

format and clippy
  crates/polars-core/src/frame/column/series.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-ops/src/series/ops/index.rs
Owners: @ritchie46, @orlp, @c-peters

docs: Specify the semantics of empty Series aggregations
  docs/source/user-guide/expressions/aggregation.md
Owners: @ritchie46, @c-peters

fix aggregation of empty series
  crates/polars-core/src/frame/column/mod.rs
Owners: @ritchie46, @orlp, @c-peters

refactor(rust): Add InMemoryJoin to new-streaming engine
  Cargo.lock
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/operations/test_is_sorted.py
Owners: @ritchie46, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa

Undo cargo.lock changes
  Cargo.lock
Owners: @ritchie46, @c-peters

Forgot missing files
  crates/polars-stream/src/nodes/joins/in_memory.rs
  crates/polars-stream/src/nodes/joins/mod.rs
Owners: @ritchie46, @orlp, @c-peters

Minimal cargo.lock update
  Cargo.lock
Owners: @ritchie46, @c-peters

fmt
  crates/polars-stream/src/nodes/joins/in_memory.rs
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Owners: @ritchie46, @orlp, @c-peters

mypy
  py-polars/tests/unit/operations/test_is_sorted.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Address incorrect `selector & col` expansion (should represent intersection)
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add `meta.is_column` to API docs
  py-polars/docs/source/reference/expressions/meta.rst
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): Add InMemoryJoin to new-streaming engine (#19741)
  Cargo.lock
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/joins/in_memory.rs
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/operations/test_is_sorted.py
Owners: @ritchie46, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa

.github/CODEOWNERS:

*  @ritchie46 @c-peters

/crates/  @ritchie46 @orlp @c-peters
/crates/polars-sql/  @ritchie46 @orlp @c-peters @alexander-beedie
/crates/polars-parquet/  @ritchie46 @orlp @c-peters @coastalwhite
/crates/polars-time/  @ritchie46 @orlp @c-peters @MarcoGorelli
/crates/polars-python/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa
/crates/polars-python/src/lazyframe/visit.rs  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/crates/polars-python/src/lazyframe/visitor/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa
