Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-

add parameter for `scan_csv` and add test for `read_csv`
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Fix struct -> enum is_in (#17622)
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_is_in.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Rechunk before we go into grouped gathers
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/partition.rs
  py-polars/src/dataframe/io.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Rechunk before we go into grouped gathers (#17623)
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/partition.rs
  py-polars/src/dataframe/io.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs: Rename `str.lengths` to `str.len_bytes` in description text (#11577)
  docs/user-guide/expressions/strings.md
Owners: @ritchie46, @stinodego, @c-peters

perf(rust): Consider ref count when deciding GC
  crates/polars-arrow/src/array/binview/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

General solution for implicit colname dupes, index dupes.
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/interop/test_from_pandas.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Expand brackets in async glob expansion
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/utils/path.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/ndjson/core.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Fix row index disappearing after projection pushdown in NDJSON (#17631)
  crates/polars-io/src/ndjson/core.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Expand brackets in async glob expansion (#17630)
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/utils/path.rs
  py-polars/tests/unit/io/test_scan.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(python): Add `infer_schema` parameter to `read_csv` / `scan_csv` (#17617)
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Raise for overlapping index/column names in pandas dataframes post string coercion (#17628)
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/interop/test_from_pandas.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

wip: Add reduce
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/reduce/convert.rs
  crates/polars-plan/src/reduce/extrema.rs
  crates/polars-plan/src/reduce/mod.rs
  crates/polars-plan/src/reduce/nth.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

remove nth
  crates/polars-plan/src/reduce/nth.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

rebase and move to expr [skip ci]
  crates/polars-expr/src/lib.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-plan/src/lib.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

remove nth
  crates/polars-plan/src/reduce/convert.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

docs: Rename `str.lengths` to `str.len_bytes` in description text (#11577) (#17626)
  docs/user-guide/expressions/strings.md
Owners: @ritchie46, @stinodego, @c-peters

Update plan structure
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

DSL fix
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

DSL WIP
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix ndjson
  crates/polars-lazy/src/scan/ndjson.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Move path logic to from `utils` to `path_utils` in polars-io
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/prelude.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

c
  crates/polars-plan/src/plans/hive.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix Hive partitioning issue
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat(rust): new `MutableBinaryViewArray::push_view()`
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Update link to related issue
  crates/polars-lazy/src/scan/csv.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust): Warn in join if user requested coalescing but not supported
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix(rust): Ensure multiple join keys are elementwise
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/operations/test_join.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Remove single_aexpr_is_elementwise
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/utils.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Move path logic to from `utils` to `path_utils` in polars-io (#17635)
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/prelude.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-plan/src/plans/hive.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

more [skip ci]
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-core/src/scalar/reduce.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/lib.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

send [skip ci]
  crates/polars-expr/src/reduce/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

Fix feature flags
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(rust): Remove has_validity, use has_nulls
  crates/polars-arrow/src/legacy/array/mod.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/builder/list/primitive.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate_by.rs
  py-polars/polars/series/series.py
  py-polars/src/map/series.rs
  py-polars/src/series/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix infinite recursion
  py-polars/polars/series/series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust): Tighten up error checking on join keys (#17517)
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/operations/test_join.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

replace has_validity with has_nulls for the new struct impl
  crates/polars-core/src/series/implementations/struct__.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters
