Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @c-peters, @orlp, @alexander-beedie, @MarcoGorelli, @reswqa, @wence-

.github/CODEOWNERS:

*  @ritchie46 @stinodego @c-peters

/crates/  @ritchie46 @stinodego @orlp @c-peters
/crates/polars-sql/  @ritchie46 @stinodego @orlp @c-peters @alexander-beedie
/crates/polars-time/  @ritchie46 @stinodego @orlp @c-peters @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa
/py-polars/lazyframe/visit.rs  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/lazyframe/visitor/  @ritchie46 @stinodego @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-

more cleanup
  py-polars/tests/unit/streaming/test_streaming.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

invert logic
  py-polars/tests/unit/streaming/test_streaming.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

preserve order for left join
  py-polars/tests/unit/streaming/test_streaming_join.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix struct map
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/map/series.rs
  py-polars/tests/unit/operations/map/test_map_elements.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Revert "Handle URL"
  crates/polars-io/src/cloud/object_store_setup.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feature gate
  crates/polars-core/src/chunked_array/ops/any_value.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Fix struct outer validity;fmt;is_in;cast;cmp (#17590)
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-ops/src/series/ops/cut.rs
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/conversion/mod.rs
  py-polars/src/dataframe/general.rs
  py-polars/src/map/series.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_is_in.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

test: re-enable struct related tests
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/lazyframe/test_serde.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix empty struct
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/lazyframe/test_serde.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fmt
  py-polars/tests/unit/io/test_json.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Don't enforce row order in join test results where not guaranteed (#17596)
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor(rust): completely redo Parquet decode
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/gatherer.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

deal with unaligned chunks
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Completely redo structure of Parquet decoder (#17589)
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/gatherer.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

test: Re-enable struct related tests (#17597)
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/lazyframe/test_serde.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust!, python): reject literal input in `sort_by_exprs()`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/ops_distinct_on.rs
  crates/polars-sql/tests/simple_exprs.rs
  crates/polars/src/docs/lazy.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs(rust): fix example
  crates/polars-lazy/src/frame/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor(python): remove unused `with_column` method of PyLazyFrame
  py-polars/src/lazyframe/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Add right join in the user guide
  docs/src/python/user-guide/transformations/joins.py
  docs/src/rust/user-guide/transformations/joins.rs
  docs/user-guide/transformations/joins.md
Owners: @ritchie46, @stinodego, @c-peters

Align table in the joins user guide
  docs/user-guide/transformations/joins.md
Owners: @ritchie46, @stinodego, @c-peters

docs: Add right join in the user guide (#17608)
  docs/src/python/user-guide/transformations/joins.py
  docs/src/rust/user-guide/transformations/joins.rs
  docs/user-guide/transformations/joins.md
Owners: @ritchie46, @stinodego, @c-peters

perf: Add fastpath for when rounding by single constant durations (#17580)
  crates/polars-time/src/round.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @MarcoGorelli, @alexander-beedie, @reswqa

refactor(python): Remove unused `with_column` method of PyLazyFrame (#17607)
  py-polars/src/lazyframe/mod.rs
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(rust!, python): Reject literal input in `sort_by_exprs()` (#17606)
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/ops_distinct_on.rs
  crates/polars-sql/tests/simple_exprs.rs
  crates/polars/src/docs/lazy.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Cache schema resolve back to DSL
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Don't needlessly unwrap in `pivot_schema`
  crates/polars-plan/src/plans/functions/schema.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

fix: Don't needlessly unwrap in `pivot_schema` (#17611)
  crates/polars-plan/src/plans/functions/schema.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

only modify if we have a write lock
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

docs: Create example for `polars.Expr.bin.decode` (#17508)
  py-polars/polars/expr/binary.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Expose `returns_scalar` to map_elements
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/polars/datatypes/_parse.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_schema.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Expose `returns_scalar` to map_elements (#17613)
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/polars/datatypes/_parse.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_schema.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix order
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

feat(python): add `infer_schema` parameter to `read_csv`
  py-polars/polars/io/csv/functions.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

adding tests to ensure dtypes are preserved in the face of null values
  py-polars/src/interop/numpy/to_numpy_series.rs
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Owners: @ritchie46, @stinodego, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Cache schema resolve back to DSL (#17610)
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters

refactor: Fix struct gather
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor: Fix struct gather (#17621)
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  py-polars/tests/unit/datatypes/test_struct.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: Fix struct -> enum is_in
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_is_in.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat: Change API for writing partitioned Parquet to reduce code duplication (#17586)
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/partition.rs
  crates/polars-io/src/shared.rs
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe/io.rs
  py-polars/tests/unit/io/test_hive.py
Owners: @ritchie46, @stinodego, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

dbg
  crates/polars-ops/src/series/ops/is_in.rs
Owners: @ritchie46, @stinodego, @orlp, @c-peters
