Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

docs(python): add "if you're coming from pandas" tip to groupby_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fixup
  py-polars/tests/parametric/test_groupby_dynamic.py
Owners: @ritchie46, @stinodego, @alexander-beedie

refactor a bit
  py-polars/tests/parametric/test_groupby_dynamic.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust): add decoding support for row format
  polars/polars-row/src/decode.rs
  polars/polars-row/src/encode.rs
  polars/polars-row/src/encodings/mod.rs
  polars/polars-row/src/fixed.rs
  polars/polars-row/src/lib.rs
  polars/polars-row/src/variable.rs
Owners: @ritchie46

update arrow
  Cargo.toml
Owners: @ritchie46

type
  py-polars/tests/parametric/test_groupby_dynamic.py
Owners: @ritchie46, @stinodego, @alexander-beedie

make equivalent
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

note "holes" difference
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

try adding sphinx link
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix link
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): fix string language formatting
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): clarify when day of week takes effect in groupby_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): fix string language formatting (#9341)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): support ternary expressions in streaming
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/streaming/test_streaming.py
Owners: @ritchie46, @stinodego, @alexander-beedie

update arrow
  Cargo.toml
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust): add decoding support for row format (#9339)
  Cargo.toml
  polars/polars-row/src/decode.rs
  polars/polars-row/src/encode.rs
  polars/polars-row/src/encodings/mod.rs
  polars/polars-row/src/fixed.rs
  polars/polars-row/src/lib.rs
  polars/polars-row/src/variable.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): support ternary expressions in streaming (#9343)
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  py-polars/tests/unit/streaming/test_streaming.py
Owners: @ritchie46, @stinodego, @alexander-beedie

WIP groupby with row bytes
  polars/polars-core/src/hashing/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/global.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/utils.rs
  polars/polars-row/src/row.rs
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): add "if you're coming from pandas" tip to groupby_dynamic (#9336)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): clarify when day of week takes effect in groupby_dynamic (#9342)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Owners: @ritchie46, @stinodego, @alexander-beedie

all tests run except for groupby by struct
  polars/polars-core/src/hashing/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/global.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  polars/polars-row/src/encode.rs
  polars/polars-row/src/fixed.rs
  polars/polars-row/src/variable.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

remove commented out cargo
  py-polars/Cargo.toml
Owners: @ritchie46, @stinodego, @alexander-beedie

reuse buffers in row encode
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/sink.rs
  polars/polars-row/src/encode.rs
  polars/polars-row/src/fixed.rs
  polars/polars-row/src/lib.rs
  polars/polars-row/src/row.rs
  polars/polars-row/src/variable.rs
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/vec.rs
Owners: @ritchie46

perf(rust, python): push slices down map functions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

changes to lock
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

formatting
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

perf(rust, python): push slices down map functions (#9350)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/Cargo.lock
Owners: @ritchie46, @stinodego, @alexander-beedie

implement struct
  polars/polars-core/src/series/mod.rs
  polars/polars-row/src/decode.rs
  polars/polars-row/src/encode.rs
Owners: @ritchie46

perf(rust, python): bytes row format for streaming groupby/unique keys `>3.5x` (#9346)
  polars/polars-core/src/hashing/vector_hasher.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/global.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/utils.rs
  polars/polars-row/src/decode.rs
  polars/polars-row/src/encode.rs
  polars/polars-row/src/fixed.rs
  polars/polars-row/src/lib.rs
  polars/polars-row/src/row.rs
  polars/polars-row/src/variable.rs
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/vec.rs
Owners: @ritchie46

take_agg_no_null_primitive_iter_unchecked assert no nulls instead of validity fixes #9128 (#9320)
  polars/polars-arrow/src/kernels/take_agg/mod.rs
Owners: @ritchie46

fix(rust, python): raise more informative error on string arguments
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Owners: @ritchie46, @stinodego, @alexander-beedie

add more tests
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

run black
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix typo
  polars/polars-lazy/src/lib.rs
Owners: @ritchie46

docs(rust): fix typo in polars-lazy docs (#9354)
  polars/polars-lazy/src/lib.rs
Owners: @ritchie46

feat(rust,python,cli): add sql DROP TABLE
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/keywords.rs
  polars/polars-sql/tests/statements.rs
Owners: @ritchie46, @universalmind303

feat(rust,python,cli): add sql LIKE & ILIKE
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
Owners: @ritchie46, @universalmind303

chore: update error message
  polars/polars-sql/src/sql_expr.rs
Owners: @ritchie46, @universalmind303

fix(python): fix bug when comparing series
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): raise groupby apply on empty frame
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/unit/test_empty.py
Owners: @ritchie46, @stinodego, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie
