Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @c-peters, @orlp, @alexander-beedie, @coastalwhite, @MarcoGorelli, @reswqa, @wence-

Remove dead excel code
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix linting
  py-polars/tests/unit/io/test_spreadsheet.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix NoDataError for Excel Reads with Calamine
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

refactor: Remove Dead Excel Code (#19710)
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix(python): Ensure `NoDataError` raised consistently between engines for Excel reads (#19712)
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: SQL `ELSE` clause should be implicitly `NULL` if omitted
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_conditional.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs: update `by` docs for rolling_*_by functions
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

docs: Expand plotting docs
  docs/source/src/python/user-guide/misc/visualization.py
  docs/source/user-guide/misc/visualization.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Support StrEnums for Enums
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/datatypes/test_enum.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Remove constant
  py-polars/polars/datatypes/classes.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix Ruff
  py-polars/polars/datatypes/classes.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

cls -> Self
  py-polars/polars/datatypes/classes.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Improve type-hint for `n_chunks`
  py-polars/polars/dataframe/frame.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Fix
  py-polars/polars/dataframe/frame.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(python): Improve `n_chunks` typing (#19727)
  py-polars/polars/dataframe/frame.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix: SQL `ELSE` clause should be implicitly `NULL` when omitted (#19714)
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_conditional.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Update crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
Owners: @ritchie46, @orlp, @c-peters

fix: Fix validation for inner and left join when join_nulls unflaged (#19698)
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  py-polars/tests/unit/sql/test_joins.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

c
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils/byte_source.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
  crates/polars-utils/src/mmap.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
Owners: @ritchie46, @orlp, @c-peters

perf: Improve cloud scan performance (#19728)
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils/byte_source.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
  crates/polars-utils/src/mmap.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

perf: Adjust coalesce for `[<tiny range>, <massive range>]` (#19730)
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

perf: Improve `DataFrame.sort().limit` performance
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/series/general.rs
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Improve `DataFrame.sort().limit` performance
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/test_top_k.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

lint
  py-polars/tests/unit/operations/test_top_k.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

fix
  py-polars/tests/unit/operations/test_top_k.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

perf: Improve `DataFrame.sort().limit/top_k` performance (#19731)
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/series/general.rs
  py-polars/tests/unit/operations/test_top_k.py
Owners: @ritchie46, @orlp, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Give up on runtime detection for now.
  crates/polars-core/src/lib.rs
Owners: @ritchie46, @orlp, @c-peters

fix(python): Use `cls` for `to_python` (#19726)
  py-polars/polars/datatypes/classes.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

feat(python): Try to support native SAP HANA driver via `read_database`
  py-polars/polars/io/database/_executor.py
Owners: @ritchie46, @c-peters, @alexander-beedie, @MarcoGorelli, @reswqa

Revert "perf: Adjust coalesce for `[<tiny range>, <massive range>]` (#19730)"
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

c
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

perf: Fix cloud download speed regression (#19734)
  crates/polars-io/src/cloud/polars_object_store.rs
Owners: @ritchie46, @orlp, @c-peters

.github/CODEOWNERS:

*  @ritchie46 @c-peters

/crates/  @ritchie46 @orlp @c-peters
/crates/polars-sql/  @ritchie46 @orlp @c-peters @alexander-beedie
/crates/polars-parquet/  @ritchie46 @orlp @c-peters @coastalwhite
/crates/polars-time/  @ritchie46 @orlp @c-peters @MarcoGorelli
/crates/polars-python/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa
/crates/polars-python/src/lazyframe/visit.rs  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/crates/polars-python/src/lazyframe/visitor/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa @wence-
/py-polars/  @ritchie46 @c-peters @alexander-beedie @MarcoGorelli @reswqa
