Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @orlp, @universalmind303, @MarcoGorelli, @alexander-beedie

test: add test for 10401
  py-polars/Cargo.lock
  py-polars/tests/unit/test_cse.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix lint
  crates/polars/tests/it/lazy/expressions/arity.rs
Owners: @ritchie46, @orlp

test: add test for 10401 (#10405)
  py-polars/Cargo.lock
  py-polars/tests/unit/test_cse.py
Owners: @ritchie46, @stinodego, @alexander-beedie

post merge fixup
  py-polars/polars/utils/udfs.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Add a note about slicing in `get_chunks`
  py-polars/polars/interchange/buffer.py
  py-polars/polars/interchange/column.py
  py-polars/polars/interchange/dataframe.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): fix list groupby of array dtype
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/groupby/aggregations/agg_list.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/ops/to_list.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_array.py
Owners: @ritchie46, @orlp, @stinodego, @alexander-beedie

comments
  crates/polars-core/src/frame/groupby/aggregations/agg_list.rs
Owners: @ritchie46, @orlp

Minor optimization for dtype conversion calls
  py-polars/polars/interchange/column.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Improve dtype conversion performance
  py-polars/polars/interchange/utils.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix return type of base_type util
  py-polars/polars/datatypes/classes.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore: Remove `js-polars` from repo (#10402)
  js-polars/.gitignore
  js-polars/Cargo.toml
  js-polars/Makefile
  js-polars/app.js
  js-polars/src/dataframe.rs
  js-polars/src/lib.rs
  js-polars/src/series.rs
Owners: @ritchie46

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/crates/  @ritchie46 @orlp
/crates/polars-sql/  @ritchie46 @orlp @universalmind303
/crates/polars-time/  @ritchie46 @orlp @MarcoGorelli
/py-polars/  @ritchie46 @stinodego @alexander-beedie
