Repository pola-rs/polars, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ritchie46, @stinodego, @universalmind303, @MarcoGorelli, @alexander-beedie

.github/CODEOWNERS:

*  @ritchie46

/.github/ @ritchie46 @stinodego
/polars/polars-sql/  @ritchie46 @universalmind303
/polars/polars-time/  @ritchie46 @MarcoGorelli
/polars-cli/  @ritchie46 @universalmind303
/py-polars/  @ritchie46 @stinodego @alexander-beedie

fix import error
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(python): add expression json serde (#9236)
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/docs/source/reference/expressions/miscellaneous.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/test_serde.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix grammar and periods
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs(python): Fix grammar and add periods in `Expr.over` docs (#9244)
  py-polars/polars/expr/expr.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix clippy lints
  polars-cli/src/main.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Owners: @ritchie46, @universalmind303

New workflow
  .github/workflows/build-test-rust.yml
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Fix flags
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Update miri settings
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Skip fmt on main
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Set RUSTFLAGS
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

feat(rust,python): add "sql_expr" function
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/src/sql.rs
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_sql.py
Owners: @ritchie46, @universalmind303, @stinodego, @alexander-beedie

chore: fix clippy warning
  polars/polars-sql/src/sql_expr.rs
Owners: @ritchie46, @universalmind303

chore: fix clippy warning
  polars/polars-sql/src/sql_expr.rs
Owners: @ritchie46, @universalmind303

chore: fix doctest
  py-polars/polars/functions/lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

chore: fix doctest
  py-polars/polars/functions/lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): delay opening files in streaming engine
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Owners: @ritchie46

fix(rust, python): delay opening files in streaming engine (#9251)
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Owners: @ritchie46

feat(rust, python): keep sorted flag on `offset_by`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): keep sorted flag on `offset_by` (#9253)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Owners: @ritchie46, @stinodego, @alexander-beedie

ci(rust): Separate workflow for Rust lints (#9245)
  .github/workflows/build-test-rust.yml
  .github/workflows/lint-rust.yml
  polars-cli/src/main.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Owners: @ritchie46, @stinodego, @universalmind303

fix(rust, python): fix cached reproject offsets
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/reproject.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Owners: @ritchie46

fix(rust, python): fix cached reproject offsets (#9254)
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/reproject.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Owners: @ritchie46

fix(rust, python): correct ne/e_missing schema
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Owners: @ritchie46, @stinodego, @alexander-beedie

feat(rust, python): rewrite correlation functions to expression architecture
  polars/polars-lazy/polars-plan/src/dsl/function_expr/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  py-polars/tests/unit/operations/test_statistics.py
Owners: @ritchie46, @stinodego, @alexander-beedie

fix(rust, python): correct ne/e_missing schema (#9257)
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Improve lint
  .github/workflows/lint-rust.yml
  .github/workflows/release-python.yml
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

No cache for miri
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Fix stable version
  .github/workflows/lint-rust.yml
Owners: @ritchie46, @stinodego

Move miri back to test workflow
  .github/workflows/lint-rust.yml
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

Fix trigger
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

Move miri again
  .github/workflows/lint-rust.yml
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

feat(rust, python): rewrite correlation functions to expression architecture (#9258)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  py-polars/tests/unit/operations/test_statistics.py
Owners: @ritchie46, @stinodego, @alexander-beedie

ci(rust): Further CI cleanup for Rust lints (#9260)
  .github/workflows/build-test-rust.yml
  .github/workflows/lint-rust.yml
  .github/workflows/release-python.yml
  .github/workflows/test-rust.yml
Owners: @ritchie46, @stinodego

fix(rust, python): raise on invalid sort_by
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/test_errors.py
Owners: @ritchie46, @stinodego, @alexander-beedie

Set up cache for data
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Cache release
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

chore: fix doctest
  py-polars/polars/functions/lazy.py
Owners: @ritchie46, @stinodego, @alexander-beedie

docs: add sql_expr
  py-polars/docs/source/reference/expressions/functions.rst
Owners: @ritchie46, @stinodego, @alexander-beedie

Fix cache
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego

Fix data caching
  .github/workflows/benchmark.yml
Owners: @ritchie46, @stinodego
