Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix[rust]: fix slice pushdown in rolling/dynamic groupby (#4542)
  polars/polars-core/src/error.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

feat[python]: re-implement DataFrame.__setitem__
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

docs[python]: List optional dependencies for polars in README. (#4543)
  README.md
Labels: none

feat[python]: re-implement DataFrame.__setitem__ (#4544)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

python polars 0.14.5
  .github/workflows/create-py-release-manylinux.yaml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
