Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

python fix lazy self join (#2733)
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python

remove assert; it is a false positive
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

fix_rename
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

remove assert; it is a false positive (#2741)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

fix categorical lexical rechunk
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_lazy.py
Labels: python, rust

fix_rename (#2740)
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

fix categorical lexical rechunk (#2742)
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_lazy.py
Labels: python, rust

Update read_csv and scan_csv quote_char docstring default value.
  py-polars/polars/io.py
Labels: python

Update read_csv and scan_csv quote_char docstring default value. (#2743)
  py-polars/polars/io.py
Labels: python

added examples to lazy_frame and series
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

wip
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

expr examples for null/nan is_first & is_between
  py-polars/polars/internals/expr.py
Labels: python

Fix reading a df with an empty series
  polars/polars-core/src/testing.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
Labels: rust

Adding examples to python docstrings (#2753)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

better asof_by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

clean up rust side dispatch
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner.rs
Labels: rust

node 0.3.1 release (#2739)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

Fix lazy query test to add types in expected result and update import in lib.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

dispatch
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

docs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

Add type to expected result row_nr
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

better join_asof (#2752)
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

Remove checking for dtypes in series equals
  polars/polars-core/src/testing.rs
  polars/polars-io/src/lib.rs
Labels: rust

fix from empty pandas
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

fix from empty pandas (#2757)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

Fix reading a df with an empty series (#2685)
  polars/polars-core/src/testing.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

add join_asof tolerances
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

add join_asof tolerances (#2758)
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix outer join categorical
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/test_categorical.py
Labels: python, rust

fix outer join categorical (#2760)
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/test_categorical.py
Labels: python, rust

python read_json accept files
  polars/polars-io/src/mmap.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/tests/io/test_json.py
  py-polars/tests/test_df.py
Labels: python, rust

python read_json accept files (#2761)
  polars/polars-io/src/mmap.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/tests/io/test_json.py
  py-polars/tests/test_df.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

added more expression examples to docstrings
  py-polars/polars/internals/expr.py
Labels: python

update to rustc-nightly-2022-01-01
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/series/from.rs
Labels: node-js, rust

make pre-commit
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

fix diff to polars master
  py-polars/polars/internals/lazy_frame.py
Labels: python

update arrow (#2762)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

update to rustc-nightly-2022-01-01 (#2763)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/series/from.rs
Labels: node-js, rust

python polars 0.13.6
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python
