Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

WIP
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/lib.rs
Labels: rust

inner sorted join
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/right.rs
Labels: rust

Fix mode for multiple modes
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

Add read_excel() to allow reading XLSX files to a dataframe.
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

Improve Typescript Readability
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/polars/functions.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
Labels: node-js

Functions.ts fix horizontally
  nodejs-polars/polars/functions.ts
Labels: node-js

Improve parse_lines error message.
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

Add examples to read_excel() docstring.
  py-polars/polars/io.py
Labels: python

Add read_excel() to allow reading XLSX files to a dataframe. (#3567)
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

Improve parse_lines error message. (#3569)
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

Improve Typescript Readability (#3568)
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/polars/functions.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
Labels: node-js

working
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/right.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
Labels: rust

`sorted_merge_join` (#3505)
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

update arrow (#3570)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.41
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix `pywhenthenthen`
  py-polars/polars/internals/whenthen.py
Labels: python

Rust Readability Improvements
  polars-sql/src/context.rs
  polars-sql/src/sql_expr.rs
  polars/polars-arrow/src/array/get.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/asof_join/asof.rs
Labels: rust

Rust Readability Improvements (#3573)
  polars-sql/src/context.rs
  polars-sql/src/sql_expr.rs
  polars/polars-arrow/src/array/get.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  py-polars/polars/internals/whenthen.py
Labels: python, rust

test reverse join optimization and ensure we don't always take it
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/test_joins.py
Labels: python, rust

python polars 0.13.41
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

test sortedness propagation in joins
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

fix typo for null_count in expr.py
  py-polars/polars/internals/expr.py
Labels: python

fix typo for null_count in expr.py (#3578)
  py-polars/polars/internals/expr.py
Labels: python

fix invalid fast path of sorted joins and improve sortedness propagation (#3577)
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_joins.py
Labels: python, rust

prevent expensive type coercion in expression and fix when->then->otheriwise fill null for list
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
Labels: python, rust

prevent expensive type coercion in expression and fix when->then->otheriwise fill null for list (#3579)
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
Labels: python, rust

python polars 0.13.42
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

correctly tag private API unsafe
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

python polars 0.13.42 (#3580)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Tag unsafe (#3581)
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

Update str replace docs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Fix u16 Series formatting.
  polars/polars-core/src/fmt.rs
Labels: rust

update scan
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

update test
  polars/polars-lazy/src/tests/io.rs
Labels: rust

updates to anonymous scan
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

fix accidental typo
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/tests/io.rs
Labels: rust

add test for anonymous scan
  polars/polars-lazy/src/tests/io.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
