Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

remove unneeded
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

core test run
  polars/polars-core/src/chunked_array/categorical/builder.rs
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/logical/categorical/series.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

Update .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

tests run
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-io/src/csv.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

all tests run
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/series.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

clippy
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-io/src/csv.rs
Labels: rust

start python
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
Labels: rust

fix categorical
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
Labels: python, rust

features
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

add manylinux aarch64 target
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

try aarch64 build for manylinux (#2684)
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

don't test on lexical sorting
  polars/polars-core/src/chunked_array/ops/sort.rs
Labels: rust

fix polars.read_csv inadvertently closing BytesIO input buffers
  py-polars/polars/io.py
  py-polars/tests/test_io.py
Labels: python

improve logical types in list iteration
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/series/from.rs
Labels: rust

fix polars.read_csv inadvertently closing BytesIO input buffers (#2704)
  py-polars/polars/io.py
  py-polars/tests/test_io.py
Labels: python

improve categorical::full_null
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
Labels: rust

improve categorical::full_null (#2706)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
Labels: rust

fix lower bound of dynamic_groupby of larger intervals
  polars/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/named_from.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/window.rs
  polars/src/export.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  polars/tests/it/lazy/mod.rs
  py-polars/src/lib.rs
Labels: python, rust

ignore index column in empty pandas dataframe
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

fix lower bound of dynamic_groupby of larger intervals (#2711)
  polars/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/named_from.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/window.rs
  polars/src/export.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  polars/tests/it/lazy/mod.rs
  py-polars/src/lib.rs
Labels: python, rust

ignore index column in empty pandas dataframe (#2712)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

python add example to strptime documentation
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

python add example to strptime documentation (#2717)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

fix doc render
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

fix doc render (#2721)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

fix typo: .arr namespace description
  py-polars/polars/internals/expr.py
Labels: python

add examples for agg_list, pipe, extend_const
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

lexical_cats
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
Labels: rust

impl CategoricalTakeRandom
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/take_random.rs
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

wip: infer rows
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/internals/polars_internal.ts
  nodejs-polars/row.ts
  nodejs-polars/src/dataframe/io.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/row/deserialize.rs
  polars/polars-core/src/frame/row/mod.rs
Labels: node-js, rust

wip: infer rows
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/io.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/frame/row/deserialize.rs
  polars/polars-core/src/frame/row/infer_schema.rs
  polars/polars-core/src/frame/row/mod.rs
  py-polars/Cargo.lock
Labels: python, node-js, rust

generic row infer
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/src/dataframe/io.rs
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

chore: fix whitespace
  py-polars/Cargo.lock
Labels: python

wip: infer rows
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/internals/polars_internal.ts
  nodejs-polars/row.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/series.rs
  polars/polars-core/src/frame/row/infer_schema.rs
Labels: node-js, rust

chore: code cleanup
  polars/polars-core/src/frame/row.rs
Labels: rust

feat: add missing values support for row reader
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

chore: code cleanup
  polars/polars-core/src/frame/row.rs
Labels: rust

wip: infer rows
  nodejs-polars/row.ts
  nodejs-polars/src/dataframe/io.rs
Labels: node-js

resolving diffs
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/src/dataframe/io.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/frame/row/deserialize.rs
  polars/polars-core/src/frame/row/infer_schema.rs
Labels: node-js, rust

code cleanup
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/dataframe.ts
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
