Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix[rust]: don't divide by zero on parquet write row_groups > df.size
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

Move expr module into folder
  py-polars/polars/internals/expr/__init__.py
  py-polars/polars/internals/expr/expr.py
Labels: python

Move namespaces to their own modules
  py-polars/polars/internals/expr/categorical.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/expr/struct.py
Labels: python

Move public function to top of module
  py-polars/polars/internals/expr/expr.py
Labels: python

Fix docs
  py-polars/docs/source/reference/expression.rst
Labels: python

fix[rust]: fix unique order on 'last' keep setting (#4405)
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix[rust]: don't divide by zero on parquet write row_groups > df.size (#4406)
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

fix[rust]: fix Series::full_null for list dtype
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/tests/test_lists.py
Labels: python, rust

Add show_versions (#4367)
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/utils.rst
  py-polars/polars/__init__.py
  py-polars/polars/show_versions.py
  py-polars/pyproject.toml
  py-polars/tests/test_show_versions.py
Labels: python

feat[python]: Expose format parameters to `DataFrame.write_csv` (#4403)
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

refactor[python]: Break up `expr` module into submodules (#4399)
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr/__init__.py
  py-polars/polars/internals/expr/categorical.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/expr/struct.py
Labels: python

fix[rust]: fix Series::full_null for list dtype (#4407)
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/tests/test_lists.py
Labels: python, rust

Fix datetime conversion bindings
  py-polars/src/conversion.rs
Labels: python

Move Series to subfolder
  py-polars/polars/internals/series/__init__.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

Move namespaces to submodules
  py-polars/polars/internals/series/categorical.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/series/struct.py
Labels: python

Fix docs
  py-polars/docs/source/reference/series.rst
Labels: python

Add rustfmt.toml
  rustfmt.toml
Labels: none

Move LazyGroupBy to submodule
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
Labels: python

Move LazyFrame to subfolder
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/lazyframe/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

Fix docs
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

Move private function to bottom of file
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

refactor[python]: Break up `lazy_frame` module into submodules (#4410)
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/lazyframe/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
Labels: python

refactor[python]: Break up `series` module into submodules (#4408)
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/__init__.py
  py-polars/polars/internals/series/categorical.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/series/struct.py
  py-polars/src/conversion.rs
  py-polars/tests/test_series.py
Labels: python

Move private function to bottom of module
  py-polars/polars/internals/dataframe/frame.py
Labels: python

Move GroupBy to separate module
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
Labels: python

Move DataFrame to submodule
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_struct.py
Labels: python

Fix doc example
  py-polars/polars/internals/series/series.py
Labels: python

Move PivotOps to separate module
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/pivot.py
Labels: python

Fix docs
  py-polars/docs/source/reference/dataframe.rst
Labels: python

fix[rust]: don't run parititioned groupby when computing mean of logical column
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/tests/db-benchmark/main.py
Labels: python, rust

chore[python]: Enforce strict type equality in mypy check
  py-polars/pyproject.toml
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_datatypes.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python

fix[rust]: don't run parititioned groupby when computing mean of logical column (#4412)
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/tests/db-benchmark/main.py
Labels: python, rust

fix[rust]: improve numeric stability of rolling variance
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
Labels: rust

fix[rust]: improve numeric stability of rolling variance (#4413)
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
Labels: rust

(chore)[python]: Turn on mypy strict mode
  py-polars/pyproject.toml
Labels: python

Fix formatting
  py-polars/pyproject.toml
Labels: python

Add back ignore imports
  py-polars/pyproject.toml
Labels: python

fix[python]: Fix type indexing py3.7 test error
  py-polars/tests/io/test_csv.py
Labels: python

test[python]: Fix type indexing py3.7 test error
  py-polars/tests/io/test_csv.py
Labels: python

Remove fsspec and pyarrow
  py-polars/pyproject.toml
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
