Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

use array_ref in favor of chunks (#3368)
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix null commutativity (#3479)
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

Check if length of index in pivot operation is non-zero. Fixes: #3343. (#3346)
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

fix accidental quadratic behavior in rolling_groupby (#3510)
  polars/polars-time/src/windows/groupby.rs
Labels: rust

Improve error message in FileNotFoundError (#3448)
  py-polars/src/file.rs
  py-polars/tests/test_df.py
Labels: python

fix rename same name (#3364)
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

str().extract_all / str().count_match (#3507)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/strings/mod.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

use anyvalue if first apply list result is empty (#3480)
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

cumulative_eval (#3400)
  polars/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

reduce probability of quadratic behavior in min/max rolling (#3516)
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  py-polars/Cargo.lock
Labels: python, rust

use specialize kernels in rolling_groupby aggregation (#3515)
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
Labels: rust

docs examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

Update jemallocator. (#3517)
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

python polars 0.13.39 (#3518)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

some more docs examples (#3526)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

fix aggregation of empty list
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix sorting of chunked numeric arrays
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

adjust for kleene logic in drop_na
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_series.py
Labels: python, rust

adjust for kleene logic in drop_na (#3529)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_series.py
Labels: python, rust

fix aggregation of empty list (#3527)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix sorting of chunked numeric arrays (#3528)
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

adjust for kleene logic in drop_na
  py-polars/tests/test_series.py
Labels: python

adjust for kleene logic in drop_na (#3530)
  py-polars/tests/test_series.py
Labels: python

early escape rolling_min/max
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Labels: rust

null_min/max add early returns
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
Labels: rust

min_periods check out of window
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
Labels: rust

min/max nulls more dry
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: rust

improve rolling window computation
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

parallelize most rolling_window groups computation
  polars/polars-time/Cargo.toml
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

docs examples
  py-polars/polars/internals/frame.py
Labels: python

add rolling info to groups slice
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

docs examples (#3532)
  py-polars/polars/internals/frame.py
Labels: python

sorted check for min/max with nulls and rolling window lags, so do not naively clone slice
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: rust

Improve rolling min max (#3531)
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

fix null aggregation edge case
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix null aggregation edge case (#3536)
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

python polars 0.13.40
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

allow concat/append expressions
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

allow concat/append expressions (#3541)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Improve Err() messages in nodejs-polars
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
