Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

serde/pickling for js. related to: #3096
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/datetime.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/lazy/whenthen.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

run fmtting
  nodejs-polars/Cargo.toml
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

NodeJS updates (#3105)
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/datetime.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/lazy/whenthen.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/rust-toolchain
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

node 0.4.0 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

chore(nodejs): node release 0.4.0
  nodejs-polars/README.md
Labels: node-js

use a good sha for linux-gnu target
  .github/workflows/create-js-release.yaml
Labels: none

use a good sha for linux-gnu target
  .github/workflows/create-js-release.yaml
Labels: none

Adding nested struct support by fixing ArrayRef determination (#3103)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Enhanced columns param for DataFrame init, additionally allowing for inline type specification (#3100)
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

improve rolling_agg
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_series.py
Labels: python, rust

python: jemalloc
  polars/src/lib.rs
  py-polars/.flake8
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/config.rst
  py-polars/polars/__init__.py
  py-polars/polars/cfg.py
  py-polars/src/lib.rs
Labels: python, rust

improve rolling_agg (#3101)
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_series.py
Labels: python, rust

add estimate_size methods
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

keep mimalloc on windows
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python

python: jemalloc (#3108)
  polars/src/lib.rs
  py-polars/.flake8
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/config.rst
  py-polars/polars/__init__.py
  py-polars/polars/cfg.py
  py-polars/src/lib.rs
Labels: python, rust

add estimate_size methods (#3110)
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

pyton polars 0.13.21
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix and test estimated_size
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_utils.py
Labels: python

closes #3109
  polars/polars-core/src/chunked_array/random.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python, rust

fix and test estimated_size (#3113)
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_utils.py
Labels: python

pyton polars 0.13.21 (#3111)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

remove unused datafusion integration
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/datafusion/conversion.rs
  polars/polars-lazy/src/datafusion/mod.rs
  polars/polars-lazy/src/tests/mod.rs
Labels: rust

remove unused datafusion integration (#3115)
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/datafusion/conversion.rs
  polars/polars-lazy/src/datafusion/mod.rs
  polars/polars-lazy/src/tests/mod.rs
Labels: rust

closes #3109 (#3114)
  polars/polars-core/src/chunked_array/random.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python, rust

run fmtting
  nodejs-polars/Cargo.toml
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

serde/pickling for js. related to: #3096
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe/frame.rs
Labels: node-js

feat(nodejs): add avro read/write
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
Labels: node-js

update str.strip methods
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

feat(nodejs): add avro read/write
  nodejs-polars/polars/io.ts
Labels: node-js

accidentally deprecated non deprecated method
  nodejs-polars/polars/dataframe.ts
Labels: node-js

update branch
  nodejs-polars/__tests__/dataframe.test.ts
Labels: node-js

cargo.toml fmtting
  nodejs-polars/Cargo.toml
Labels: node-js

node polars 0.4.0 release (#3107)
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/README.md
  nodejs-polars/package.json
Labels: node-js

Nodejs writejson fix & avro read/write (#3116)
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

chore(nodejs): node release 0.4.1
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

doc(): to_numpy advice for when working with Utf8
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

README.md: corrected meaningful typo `32^2` => `2^32`
  README.md
Labels: none

ci: fix windows tests failure
  .github/workflows/test-windows.yaml
Labels: none

chore(nodejs): node release 0.4.1 (#3118)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

doc(): to_numpy advice for when working with Utf8 (#3072)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
