Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Changing aarch64 manylinux tag to 2_17 (manylinux2014) for broader support (#3174)
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

Adding support for struct columns in DataFrame.to_pandas
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix duration filters with different time units
  polars/polars-core/src/series/arithmetic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Adding support for struct columns in DataFrame.to_pandas (#3178)
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix duration filters with different time units (#3179)
  polars/polars-core/src/series/arithmetic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix overflow in agg_mean
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix overflow in agg_mean (#3183)
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_queries.py
Labels: python, rust

list eval expression
  polars-sql/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Matching Rust API for Series.any() and Series.all() as bool
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Adding support for StructChunked comparison
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/series/comparison.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Linting fix
  py-polars/tests/test_struct.py
Labels: python

Adding dtype-struct feature flag in comparison.rs
  polars/polars-core/src/chunked_array/comparison.rs
Labels: rust

add parallel execution
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

list eval expression (#3185)
  polars-sql/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Supporting Struct comparison and any/all API (#3180)
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/series/comparison.rs
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python, rust

Python series: min/max logical types
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/series/comparison.rs
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python, rust

Python series: min/max logical types (#3191)
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python

struct logical type arrow conversion
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct logical type arrow conversion (#3193)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

make series comparissons fallible
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/testing.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
Labels: python, rust

make series comparissons fallible (#3192)
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/testing.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
Labels: python, rust

python all anyvalue to python conversion return python types
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_interop.py
  py-polars/tests/test_struct.py
Labels: python, rust

python all anyvalue to python conversion return python types (#3194)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_interop.py
  py-polars/tests/test_struct.py
Labels: python, rust

fix_pivot
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

fix_pivot (#3199)
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

recursively convert arrow
  polars/polars-core/src/series/from.rs
  py-polars/src/apply/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

recursively convert arrow (#3200)
  polars/polars-core/src/series/from.rs
  py-polars/src/apply/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python polars 0.13.24
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.24 (#3196)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

undo_many_linux_2_17_aarch64
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

undo_many_linux_2_17_aarch64 (#3202)
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

fix arr.eval type inference
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lists.py
Labels: python, rust

fix arr.eval type inference (#3203)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lists.py
Labels: python, rust

take from dfs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

change types
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/core/mod.rs
Labels: rust

take_chunked
  polars/polars-arrow/src/array/get.rs
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/functions.rs
  polars/polars-utils/src/lib.rs
  polars/tests/it/core/utils.rs
Labels: rust

WIP
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/Cargo.toml
  py-polars/Makefile
Labels: python, rust

restructure hash join modules
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/hash_join/single_keys_outer.rs
  polars/polars-core/src/frame/hash_join/single_keys_semi_anti.rs
Labels: rust

feature gate
  polars/Cargo.toml
  polars/polars-arrow/src/array/get.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/core/mod.rs
  py-polars/Cargo.toml
Labels: python, rust

WIP
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-utils/src/functions.rs
  polars/polars-utils/src/lib.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/utils.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
