Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Add serde feature to field to fix serde feature (#3808)
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

fix join asof on floats
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/test_joins.py
Labels: python, rust

add new map example
  py-polars/polars/internals/expr.py
Labels: python

check final apply examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

fix join asof on floats (#3812)
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/test_joins.py
Labels: python, rust

refactor(left_caught_up): catched -> caught
  polars/polars-core/src/frame/asof_join/asof.rs
Labels: rust

chore(frame): Readability fixes in `polars-core/src/frame`
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

chore: `/polars/polars-core/src/frame/` readability (#3813)
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

Fixing small typos in docs (#3811)
  py-polars/polars/internals/frame.py
Labels: python

fix example indentation
  py-polars/polars/internals/frame.py
Labels: python

fix join asof tolerance
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_joins.py
Labels: python, rust

fix error in docstring code
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

fix join asof tolerance (#3816)
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_joins.py
Labels: python, rust

docs: use quotes in pip install instruction
  README.md
Labels: none

docs: use quotes in pip install instruction (#3820)
  README.md
Labels: none

prevent double copy due to mmap and stop early with n_rows
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
Labels: rust

improve parquet reading performance
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
Labels: rust

Improve parquet reading performance `~35-40%` (#3821)
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

from anyvalue for small integers
  polars/polars-core/src/series/any_value.rs
Labels: rust

from anyvalue for small integers (#3826)
  polars/polars-core/src/series/any_value.rs
Labels: rust

remove scipy
  py-polars/polars/internals/expr.py
Labels: python

add date offset
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-time/src/windows/duration.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add date offset (#3827)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-time/src/windows/duration.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

don't parallelize upsample
  polars/polars-time/src/upsample.rs
Labels: rust

fix ternary groupby agg_list not aggregated combination
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

fix sorted unique
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix sorted unique (#3837)
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix ternary groupby agg_list not aggregated combination (#3835)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

don't parallelize upsample (#3836)
  polars/polars-time/src/upsample.rs
Labels: rust

python fix time divide by zero
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
Labels: python, rust

python fix time divide by zero (#3838)
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
Labels: python, rust

don't cache in-expression window functions
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

Improve map/apply docstrings (#3750)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

don't cache in-expression window functions (#3840)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

docs: add example to str.contains
  py-polars/polars/internals/expr.py
Labels: python

docs: fix formatting in str.split_exact and str.split
  py-polars/polars/internals/expr.py
Labels: python

docs: add example to str.lengths
  py-polars/polars/internals/expr.py
Labels: python

docs: add parameter to docstring of str.concat
  py-polars/polars/internals/expr.py
Labels: python

docs: clarify that str.slice is zero-indexed
  py-polars/polars/internals/expr.py
Labels: python

docs: standardize quoting and capitalization
  py-polars/polars/internals/expr.py
Labels: python
