Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

`null_probability` functionality for dataframes/series test strategies. (#3860)
  py-polars/polars/datatypes.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

docs: add null case for str.lengths
  py-polars/polars/internals/series.py
Labels: python

docs: align str docs improvements
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: fix url markup
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

docs: deprecation markup
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: add MWE to str.ends_with and str.starts_with
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

* allow negative indexing for "select_at_idx", "insert_at_idx", "replace_at_idx", and "to_series" * expose frame-level "take_every" method to DataFrame and LazyFrame (already present on Series)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

test coverage for negative indexing and "take_every"
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

add "take_every" doc entries
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

update bug-report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Remove unused typing imports
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

Revert to old type hints for expr.py
  py-polars/polars/internals/expr.py
Labels: python

Fix import for polars List type
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series.py
Labels: python

Run pyupgrade
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

Run black
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/utils.py
Labels: python

Modern style type hints (#3863)
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

fix groups after take expression
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

Concise empty class syntax (#3864)
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

more examples
  py-polars/polars/internals/expr.py
Labels: python

passing tests
  py-polars/polars/internals/expr.py
Labels: python

fix groups after take expression (#3881)
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix predicate pushdown in union + count expression
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

Fix some type errors
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

Add constructor tests
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

Update dependency specs
  py-polars/pyproject.toml
Labels: python

Reimplement some functionality without numpy
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Reorganize optional imports
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
Labels: python

Handle last cases of numpy usage
  py-polars/polars/internals/series.py
Labels: python

Make numpy imports optional and raise ImportErrors
  py-polars/polars/convert.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
Labels: python

fast/cheap empty clone ops
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

fix predicate pushdown in union + count expression (#3882)
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

add join/union branch in window cache keys
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

update ".clone(empty=True)" to ".cleared()"
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

add join/union branch in window cache keys (#3884)
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

Fast/cheap empty `clone` ops (#3883)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

parquet read: fix remaining_rows counter
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

parquet writing: don't clone encodings
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

use parquet compressor and reduce intermediate allocs
  polars/polars-io/src/parquet/write.rs
Labels: rust

parquet read: fix remaining_rows counter (#3887)
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

Parquet writing: reduce heap allocs (#3879)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust
