Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

wip
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/datatypes.rs
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

chore: fix whitespace
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

chore: code cleanup
  polars/polars-core/src/frame/row.rs
Labels: rust

chore: code cleanup
  polars/polars-core/src/frame/mod.rs
Labels: rust

chore: code cleanup
  nodejs-polars/src/conversion/from.rs
Labels: node-js

chore: code cleanup
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/datatypes.rs
Labels: node-js

chore: code cleanup
  polars/polars-core/src/frame/row.rs
Labels: rust

fix to_json bugs (truncate should be True)
  py-polars/src/dataframe.rs
Labels: python

update conftest
  py-polars/tests/conftest.py
Labels: python

split test_io into io dir
  py-polars/tests/io/.gitignore
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_pickle.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_io.py
Labels: python

precommit
  py-polars/tests/io/.gitignore
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_pickle.py
  py-polars/tests/io/test_sql.py
Labels: python

add flake8 options for lint
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
Labels: python

fix mypy issue
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python

resolve merges for "Categorical"
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/series.rs
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

chore: code cleanup
  polars/polars-core/src/frame/row.rs
Labels: rust

fix exception because windows occur other error
  py-polars/tests/io/test_ipc.py
Labels: python

Splitted io test into each format (#2727)
  py-polars/src/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/io/.gitignore
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_pickle.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_io.py
Labels: python

expose python
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-lazy/src/dsl/cat.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_categorical.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python, rust

Optionally order categorical with lexical ordering (#2726)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/take_random.rs
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/dsl/cat.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_categorical.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python, rust

docs examples for melt & repeat_by
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

adding blank line after examples heading
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

update arrow (#2729)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

python polars 0.13.5
  .github/deploy_manylinux.sh
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add docs examples (#2730)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

Lazy: cast to float before we apply per group
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

examples
  py-polars/polars/internals/frame.py
Labels: python

added extend_constant example to series.py
  py-polars/polars/internals/series.py
Labels: python

added with_rowcount and with_column examples
  py-polars/polars/internals/frame.py
Labels: python

python polars 0.13.5 (#2719)
  .github/deploy_manylinux.sh
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

reuse mean in pearson corr
  polars/polars-core/src/functions.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

simple is faster
  polars/polars-core/src/functions.rs
Labels: rust

python fix lazy self join
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python

Lazy: cast to float before we apply per group and integer cov/pearson
  polars/polars-core/src/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

added more examples, eg. for .arr namespace
  py-polars/polars/internals/expr.py
Labels: python

Added more examples to python docstrings (#2735)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Nodejs: readRow enhancements (#2701)
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
  polars/polars-core/src/frame/row.rs
Labels: node-js, rust

docs(nodejs): update nodejs readme
  nodejs-polars/README.md
Labels: node-js

docs(nodejs): update nodejs readme (#2718)
  nodejs-polars/README.md
Labels: node-js

node 0.3.1 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
