Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Update build dependencies (#4266)
  py-polars/build.requirements.txt
  py-polars/docs/source/conf.py
Labels: python

clearer syntax
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

python polars 0.13.61 (#4263)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix `__all__` specification in `__init__.py` files (#4265)
  py-polars/.flake8
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
Labels: python

Update to new arrow avro API (#4270)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/avro/mod.rs
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/avro/write.rs
  py-polars/Cargo.lock
Labels: python, rust

elide bound checks in boolean take_unchecked
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/compute/take/boolean.rs
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
Labels: rust

elide bound checks in boolean take_unchecked (#4274)
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/compute/take/boolean.rs
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
Labels: rust

rust nightly default for whole project
  rust-toolchain
Labels: none

external context
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/ext_context.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_schema.py
Labels: python, rust

CSV starting point offset meaningless when no data (#4269)
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

down to namespaces
  py-polars/polars/internals/expr.py
Labels: python

external context (#4276)
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/ext_context.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_schema.py
Labels: python, rust

fix large idx take chunked
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
Labels: rust

fix large idx take chunked (#4282)
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
Labels: rust

Normalize handling of agg input types
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
Labels: python

ensure schema update of row_count arguments
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

Add settings
  py-polars/.flake8
Labels: python

Fix lints
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datatypes.py
Labels: python

Add flake8-tidy-imports extension
  py-polars/build.requirements.txt
Labels: python

ensure schema update of row_count arguments (#4280)
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

Fix numpy_to_pydf
  py-polars/polars/internals/construction.py
Labels: python

Fix tests
  py-polars/tests/test_constructors.py
Labels: python

fix groupby byte transmute
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

don't reinterpret bits in sorted joins
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/test_groupby.py
  py-polars/tests/test_sort.py
Labels: python, rust

Literal type for encoding
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_series.py
Labels: python

Fix byte transmutes groups (#4290)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/test_groupby.py
  py-polars/tests/test_sort.py
Labels: python, rust

specialize groupby of integers < 32 bits
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

expression to join on argument
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_joins.py
Labels: python

Improve error messages
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

Update docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Update docstrings for read/scan_csv classmethods
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
Labels: python

Specialize groupby (#4292)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_joins.py
Labels: python, rust

Improve handling of `encoding` literal argument (#4293)
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_series.py
Labels: python

join expression argument fix
  polars/polars-lazy/src/logical_plan/alp.rs
  py-polars/tests/test_joins.py
Labels: python, rust

python polars 0.13.62
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix io.py docstring typos
  py-polars/polars/io.py
Labels: python

Update type hints and docstrings
  py-polars/polars/internals/frame.py
Labels: python

Fix typing issues
  py-polars/tests/io/test_parquet.py
Labels: python

Fix error messages
  py-polars/src/dataframe.rs
Labels: python

Make default lz4 first in list of possibilities
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_parquet.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
