Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

first & last expression can take first and last column of context (#2587)
  polars/polars-arrow/src/index.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix outer join dispatch of categorical types
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_df.py
Labels: python, rust

block predicate pushdown in case of strict casts
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

fix outer join dispatch of categorical types (#2590)
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_df.py
Labels: python, rust

block predicate pushdown in case of strict casts (#2591)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

python polars 0.12.23
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.12.23 (#2592)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix(nodejs): rowcount renames
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

chore: consistency with row_count
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

fix: bad copy/paste
  nodejs-polars/src/conversion/from.rs
Labels: node-js

fix(nodejs): rowcount renames (#2594)
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

feat(nodejs): read row_count option
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

chore: remove printlns
  nodejs-polars/src/dataframe/io.rs
Labels: node-js

adding read_avro in py-polars (rust side)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/dataframe.rs
Labels: python

feat(nodejs): read row_count option (#2595)
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

chore: bump node version
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

adding read_avro in py-polars (python side)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

adding avro features
  polars/Cargo.toml
Labels: rust

chore: bump node version (#2596)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

adding test
  py-polars/polars/__init__.py
  py-polars/tests/files/small.avro
  py-polars/tests/test_io.py
Labels: python

fix docs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

pre-commit
  py-polars/polars/__init__.py
Labels: python

fmt
  py-polars/polars/internals/frame.py
Labels: python

fix scan projection pushdown of same file
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

Exporting Avro Reader to `py-polars` (#2597)
  polars/Cargo.toml
  polars/polars-io/src/avro.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/files/small.avro
  py-polars/tests/test_io.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  py-polars/Cargo.lock
Labels: python, rust

fix scan projection pushdown of same file (#2600)
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

don't rename aggregations
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python, rust

update arrow (#2601)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  py-polars/Cargo.lock
Labels: python, rust

new window_function rules
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

don't rename aggregations
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python, rust

fix python tests
  py-polars/tests/test_datelike.py
  py-polars/tests/test_window.py
Labels: python

fix predicate pushdown on null generating joins
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

fix production build
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
Labels: rust

fix predicate pushdown on null generating joins (#2605)
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

non-strict cast should always block predicate pushdown on that col
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

non-strict cast should always block predicate pushdown on that col (#2607)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

fix benchmark
  py-polars/tests/db-benchmark/main.py
Labels: python

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

Added AvroWriter
  polars/polars-io/src/avro.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
