Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

python polars 0.13.6 (#2766)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix parquet stats
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

Added more examples to python docstrings (#2765)
  py-polars/polars/internals/expr.py
Labels: python

fix parquet stats (#2772)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

csv: fix emtpy string/ null round trip
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/io/test_csv.py
Labels: python, rust

allow to_json/from_json interop with StringIO
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_json.py
  py-polars/tests/test_lazy.py
Labels: python

allow to_json/from_json interop with StringIO (#2775)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_json.py
  py-polars/tests/test_lazy.py
Labels: python

csv: fix emtpy string/ null round trip (#2774)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix csv quoting
  .github/workflows/test-windows.yaml
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

python fix and test list creation without pyarrow
  py-polars/polars/internals/construction.py
  py-polars/tests/test_series.py
Labels: python

fix csv quoting (#2776)
  .github/workflows/test-windows.yaml
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

python fix and test list creation without pyarrow (#2777)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_series.py
Labels: python

csv; fix edge case of single line, no eol and no header
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

csv; fix edge case of single line, no eol and no header (#2779)
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

refactor value_counts
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

refactor value_counts (#2781)
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

fix from_pandas null_array
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_interop.py
Labels: python

Check for dtypes when comparing series equality
  polars/polars-core/src/testing.rs
Labels: rust

fix from_pandas null_array (#2784)
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_interop.py
Labels: python

reduce generic bloat
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

reduce generic bloat (#2782)
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

accept expression as slice expr args
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/planner.rs
Labels: rust

Slice expr: accept expression as arguments
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/expressions/slice.rs
  polars/tests/it/lazy/expressions/window.rs
  polars/tests/it/lazy/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python, rust

Slice expr args (#2786)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/expressions/slice.rs
  polars/tests/it/lazy/expressions/window.rs
  polars/tests/it/lazy/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python, rust

change rng from StdRng (1.5 GB/s) to SmallRng (7GB/s)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/random.rs
  py-polars/tests/test_series.py
Labels: python, rust

change rng from StdRng (1.5 GB/s) to SmallRng (7GB/s) (#2787)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/random.rs
  py-polars/tests/test_series.py
Labels: python, rust

remove unsafe_unwrap dependency
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/hash_join/mod.rs
Labels: rust

Add types to csv tests
  polars/tests/it/io/csv.rs
Labels: rust

Add types to expected py-polars results when using series equal
  py-polars/tests/test_lazy.py
Labels: python

a couple more examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

fix formatting
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

Added a couple more examples in python docstrings (#2789)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

python polars 0.13.7
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.7 (#2790)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Speedup df.schema.
  py-polars/polars/internals/frame.py
Labels: python

Speedup df.schema. (#2792)
  py-polars/polars/internals/frame.py
Labels: python

Check for dtypes when comparing series equality (#2785)
  polars/polars-core/src/testing.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

cache schema in projection and use it
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

don't allow std::collections::Hashmap
  polars/clippy.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

use schema when known
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/schema.rs
Labels: rust
