Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

use columns_to_projection function
  polars/polars-io/src/ipc.rs
Labels: rust

adding with_columns
  polars/polars-io/src/avro.rs
Labels: rust

start with examples
  .github/workflows/build-test.yaml
  Cargo.toml
  examples/read_csv/Cargo.toml
  examples/read_csv/src/main.rs
  examples/read_parquet/Cargo.toml
  examples/read_parquet/src/main.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

add example showing custom compiled python functions
  .github/workflows/build-test.yaml
  Cargo.toml
  README.md
  examples/README.md
  examples/python_rust_compiled_function/Cargo.toml
  examples/python_rust_compiled_function/README.md
  examples/python_rust_compiled_function/example.py
  examples/python_rust_compiled_function/pyproject.toml
  examples/python_rust_compiled_function/src/ffi.rs
  examples/python_rust_compiled_function/src/lib.rs
  py-polars/tests/io/test_csv.py
Labels: python

Add python rust compilation example (#2826)
  .github/workflows/build-test.yaml
  Cargo.toml
  README.md
  examples/README.md
  examples/python_rust_compiled_function/Cargo.toml
  examples/python_rust_compiled_function/README.md
  examples/python_rust_compiled_function/example.py
  examples/python_rust_compiled_function/pyproject.toml
  examples/python_rust_compiled_function/src/ffi.rs
  examples/python_rust_compiled_function/src/lib.rs
  examples/read_csv/Cargo.toml
  examples/read_csv/src/main.rs
  examples/read_parquet/Cargo.toml
  examples/read_parquet/src/main.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

remove prettytable.rs
  .github/workflows/build-test.yaml
  examples/python_rust_compiled_function/example.py
  examples/read_csv/Cargo.toml
  examples/read_parquet/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.toml
Labels: python, rust

remove prettytable.rs (#2827)
  .github/workflows/build-test.yaml
  examples/python_rust_compiled_function/example.py
  examples/read_csv/Cargo.toml
  examples/read_parquet/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.toml
Labels: python, rust

adding docs and removing unused import
  polars/polars-io/src/avro.rs
Labels: rust

clippy
  polars/polars-io/src/ipc.rs
Labels: rust

apply column to projection function to parquet reader
  polars/polars-io/src/parquet/read.rs
Labels: rust

add parquet
  polars/polars-io/src/utils.rs
Labels: rust

init struct dtype
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/src/lib.rs
Labels: rust

Added `with_projection` and `with_columns` for `AvroReader` (#2825)
  polars/polars-io/src/avro.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/utils.rs
Labels: rust

struct to python
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Add `Struct` dtype (#2829)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix csv writer delimiter
  polars/polars-io/src/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix csv writer delimiter (#2831)
  polars/polars-io/src/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix not found panic
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dummies.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/error.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_fallible.py
Labels: python, rust

make error type simpler and smaller
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/chunked_array/strings/encoding.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/error.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/tests/it/lazy/expressions/is_in.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

python exceptions
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_df.py
  py-polars/tests/test_fallible.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

python: series.to_pandas
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python

python: series.to_pandas (#2835)
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python

improve structs
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

improve structs (#2836)
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

IPython fix html rendering for DataFrame
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

IPython fix html rendering for DataFrame (#2837)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

python lambdas infer list return type as List Series
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

python lambdas infer list return type as List Series (#2838)
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

update arrow
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/frame/csv.rs
  py-polars/Cargo.lock
  py-polars/src/lib.rs
Labels: python, node-js, rust

update arrow (#2833)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/frame/csv.rs
  py-polars/Cargo.lock
  py-polars/src/lib.rs
Labels: python, node-js, rust

python polars 0.13.9
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

allow py-polars to compile without ipc and parquet support
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
Labels: python

allow using py-polar without parquet or feather support in pyarrow module
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

python polars 0.13.9 (#2839)
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

safer reinterpret; panic in case of field reordering
  polars/polars-core/src/chunked_array/drop.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/testing.rs
Labels: rust

safer reinterpret; panic in case of field reordering (#2841)
  polars/polars-core/src/chunked_array/drop.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/testing.rs
Labels: rust

apply to struct
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  py-polars/Cargo.toml
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_struct.py
Labels: python, rust

apply to struct (#2843)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  py-polars/Cargo.toml
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct rename fields
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct rename fields (#2845)
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
