Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Add DataFrame comparison
  py-polars/polars/internals/frame.py
Labels: python

Parallelize solution
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Add test for shape mismatch
  py-polars/tests/test_df.py
Labels: python

Fix invalid inputs for trigonometric functions (#4164)
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  py-polars/tests/test_series.py
Labels: python, rust

update schema in udfs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/apply.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_lazy.py
Labels: python, rust

update schema in udfs (#4165)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/apply.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_lazy.py
Labels: python, rust

python: expose idx_type
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/lib.rs
  py-polars/tests/test_datatypes.py
Labels: python

add to docs
  py-polars/docs/source/reference/datatypes.rst
Labels: python

python: expose idx type (#4167)
  py-polars/docs/source/reference/datatypes.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/lib.rs
  py-polars/tests/test_datatypes.py
Labels: python

Improve __getitem__ for Dataframe/Series.
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

Improve __getitem__ for Dataframe/Series. (#4160)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

Dataframe equality (#4076)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

Improve DataFrame docstrings
  py-polars/polars/internals/frame.py
Labels: python

Improve Series docstrings
  py-polars/polars/internals/series.py
Labels: python

Improve LazyFrame docstrings
  py-polars/polars/internals/lazy_frame.py
Labels: python

Fix small internal files
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/slice.py
  py-polars/polars/internals/whenthen.py
Labels: python

Improve Expr docstrings
  py-polars/polars/internals/expr.py
Labels: python

Improve lazy functions
  py-polars/polars/internals/lazy_functions.py
Labels: python

Fix non-internal docstrings
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/exceptions.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
Labels: python

Improve misc docstrings
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Fix one-line docstrings
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_lazy.py
Labels: python

Enable lints in the CI
  py-polars/.flake8
  py-polars/build.requirements.txt
Labels: python

Docstring improvements & enable lints (#4161)
  py-polars/.flake8
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Add sign feature to Rust
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/sign.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
Labels: rust

Handle non-numeric types
  polars/polars-lazy/src/dsl/function_expr/sign.rs
  py-polars/tests/test_series.py
Labels: python, rust

Add test for date input
  py-polars/tests/test_series.py
Labels: python

Clarify naming for rust function
  polars/polars-lazy/src/dsl/function_expr/sign.rs
Labels: rust

Add Python bindings
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python

Native implementation of the sign function (#4147)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/sign.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

Update from_records docstring
  py-polars/polars/convert.py
Labels: python

Remove duplicate Expr.mean entry from docs
  py-polars/docs/source/reference/expression.rst
Labels: python

Minor docs updates (#4173)
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/convert.py
Labels: python

Validation for groupby arguments
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Validation for groupby arguments (#4176)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

update arrow (#4177)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

throw error on schema failure
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
Labels: python, rust

throw error on schema failure (#4178)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
Labels: python, rust

with_columns update on duplicates
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  py-polars/tests/test_schema.py
Labels: python, rust

with_columns update on duplicates (#4179)
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  py-polars/tests/test_schema.py
Labels: python, rust
