Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Add Wrap for CsvEncoding
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

Standardize JoinType
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

Standardize AsofStrategy
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

Standardize ListToStructWidthStrategy
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
Labels: python

Standardize CategoricalOrdering
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
Labels: python

Add show_versions
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/utils.rst
  py-polars/polars/__init__.py
  py-polars/polars/show_versions.py
  py-polars/pyproject.toml
  py-polars/tests/test_show_versions.py
Labels: python

Rename parsing function for FillNullStrategy
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
Labels: python

Move parsing for ParquetCompression
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
Labels: python

fix[expr]: sort_by ensure groups are synced
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

Standardize AvroCompression
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
Labels: python

Standardize IpcCompression
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
Labels: python

Use PivotAgg enum for selecting pivot function
  py-polars/src/dataframe.rs
Labels: python

fix[expr]: sort_by ensure groups are synced (#4392)
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

chore[python]: Standardize conversion of Python string literals to Rust enums [Part 2] (#4394)
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: python

fix[rust]: fix flawed simplify expression rule
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/test_filter.py
Labels: python, rust

wip: add string ops to lazy-serde
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/options.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

code cleanup
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

more code cleanup
  polars/polars-lazy/src/dsl/expr.rs
Labels: rust

fix str.concat
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
Labels: rust

code cleanup
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

featur flag serde
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/logical_plan/format.rs
Labels: rust

feature flag an import
  polars/polars-lazy/src/dsl/function_expr/mod.rs
Labels: rust

serde for string funcs & nan funcs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
Labels: rust

use apply_private for dropnans
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

fix[rust]: fix flawed simplify expression rule (#4396)
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/test_filter.py
Labels: python, rust

chore[python]: added more string literal types (#4370)
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_pivot.py
  py-polars/tests/test_utils.py
Labels: python

feat[rust]: serialize `str` and `nan` expressions (#4366)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/options.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

Add JoinType
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
Labels: python

Add CategoricalOrdering
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
Labels: python

Add ConcatMethod
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/test_df.py
Labels: python

Expose date_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Expose time_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Expose datetime_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

feat[python]: Add string literal types for better type checking (#4400)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
Labels: python

fix[rust]: melt default value name was wrong in predicate pushdown
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_filter.py
Labels: python, rust

Enable mypy strict equality
  py-polars/pyproject.toml
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_datatypes.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python

fix[rust]: melt default value name was wrong in predicate pushdown (#4404)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_filter.py
Labels: python, rust

fix[rust]: fix unique order on 'last' keep setting
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
