Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

fix outer join schema (#3021)
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_categorical.py
Labels: python, rust

lazy: fix drop all
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

Adding SQL Context, SELECT and GROUP BY
  polars-sql/Cargo.toml
  polars-sql/rust-toolchain
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/sql_expr.rs
Labels: none

lazy: fix drop all (#3023)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

Fix global formatting
  polars-sql/Cargo.toml
Labels: none

Fix Global Formatting! Again
  polars-sql/Cargo.toml
Labels: none

How do I format this :(
  polars-sql/Cargo.toml
Labels: none

fix schemas of groupby rolling/dynamic
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

fix schemas of groupby rolling/dynamic (#3028)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

fix incorrect match in agg_mean
  polars/polars-core/src/frame/groupby/aggregations.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix div by zero
  polars/polars-core/src/frame/groupby/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

fix div by zero (#3031)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

fix incorrect match in agg_mean (#3030)
  polars/polars-core/src/frame/groupby/aggregations.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

check alias in whole expr on opt
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

check alias in whole expr on opt (#3032)
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

align groups in binary when they not align
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

align groups in binary when they not align (#3033)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

python 0.3.17
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python 0.3.17 (#3034)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

only expand function inputs if wildcard expansion allows it
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

only expand function inputs if wildcard expansion allows it (#3039)
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

fix when_then_chain containing nulls
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix when_then_chain containing nulls (#3040)
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

use get_random_seed for sample
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
Labels: python

add tests for random sample change
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

isort and other formatting
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
Labels: python

fixed typo in format_path docstring
  py-polars/polars/utils.py
Labels: python

fix when-then-chain
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

throw error on empty keyed groupby
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/test_errors.py
Labels: python, rust

fixed typo in format_path docstring (#3045)
  py-polars/polars/utils.py
Labels: python

fix when-then-chain (#3048)
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

throw error on empty keyed groupby (#3049)
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/test_errors.py
Labels: python, rust

compare expand_cols by variant not exact datatype
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/expand.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

dot: use apply instead of map
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

compare expand_cols by variant not exact datatype (#3050)
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/expand.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

check output length of all 'map' expressions
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/test_errors.py
Labels: python, rust

dot: use apply instead of map (#3051)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

check output length of all 'map' expressions (#3052)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/test_errors.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

error on invalid asof_join by input
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_errors.py
Labels: python, rust
