Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Removing unused import
  py-polars/polars/io.py
Labels: python

Fixing import in various.py
  py-polars/tests/db-benchmark/various.py
Labels: python

Formatting with black
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
Labels: python

Adding home dir support to other methods in io.py
  py-polars/polars/io.py
Labels: python

fix groups state after apply
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

see kurtosis as aggregation
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

see kurtosis as aggregation (#2993)
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

fix groups state after apply (#2992)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

bump arrow2 version
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

Home directory support (#2940)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/tests/db-benchmark/various.py
Labels: python

make sure that sort does not index empty list
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/tests/it/lazy/groupby.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

make sure that sort does not index empty list (#2996)
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/tests/it/lazy/groupby.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

python: improve arithmetic consistency
  py-polars/build.requirements.txt
  py-polars/polars/internals/series.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_series.py
Labels: python

python: improve arithmetic consistency (#3001)
  py-polars/build.requirements.txt
  py-polars/polars/internals/series.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_series.py
Labels: python

python: add apply on struct dtype
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/apply.rs
  py-polars/tests/test_apply.py
Labels: python, rust

python: add apply on struct dtype (#3003)
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/apply.rs
  py-polars/tests/test_apply.py
Labels: python, rust

fix null in non-fast-explode explode of numeric arrays
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

fix null in non-fast-explode explode of numeric arrays (#3006)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

use dict instead of namedtuple in apply struct
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

also expand rename in filters
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

use dict instead of namedtuple in apply struct (#3007)
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

also expand rename in filters (#3008)
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

fix when then with literal
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix groups update to match exploded offsets
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

fix when then with literal (#3009)
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix groups update to match exploded offsets (#3010)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

python polars 0.13.16
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.16 (#3011)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Adding test for nested parquet
  py-polars/tests/io/test_parquet.py
Labels: python

Adding support for ArrowDataType::Struct to DataType::Struct
  polars/polars-core/src/datatypes.rs
Labels: rust

Fixing linting
  py-polars/tests/io/test_parquet.py
Labels: python

update pyo3
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/npy.rs
Labels: python

refactor deprecated pyo3 code
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: python

Update to pyo3 0.16 (#3016)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/npy.rs
Labels: python

add duration expression
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add duration expression (#3017)
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

allow nested groupby in groupby_rolling
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

allow nested groupby in groupby_rolling (#3018)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Fix read_parquet with list having nested struct (#2991)
  polars/polars-core/src/datatypes.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

fix outer join schema
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_categorical.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
