Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

add from_numpy to docs (#3976)
  py-polars/docs/source/reference/functions.rst
Labels: python

use bitflags crate
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  py-polars/Cargo.lock
Labels: python, rust

use bitflags crate (#3978)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  py-polars/Cargo.lock
Labels: python, rust

fix accidentally slow cross join
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

fix accidentally slow cross join (#3980)
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

ensure main lazyframe gets file cache opt state
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

ensure main lazyframe gets file cache opt state (#3981)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

fix #3877
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

remove whenthen serde from PR
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

run cargo fmt
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

remove import
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

Remove unnessary imports
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

chore(tests): small readability fixes
  polars/tests/it/io/csv.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

chore(tests): small readability fixes (#3989)
  polars/tests/it/io/csv.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

Remove unnessary imports (#3988)
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

Add support for loading a collection of parquet files
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

Add support for loading a collection of parquet files (#3894)
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

improve from dictionary -> categorical
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/series/from.rs
Labels: rust

fix col aggregation schema and ternary on empty series
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/io/parquet.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

improve from dictionary -> categorical (#3996)
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/series/from.rs
Labels: rust

fix col aggregation schema and ternary on empty series (#3995)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/io/parquet.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

col(dtypes).exclude()
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

release memory on 0% selectivity
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

release memory on 0% selectivity (#4000)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

col(dtypes).exclude() (#4001)
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

Use new maturin api for compiling pypolars
  README.md
Labels: none

fix explode offsets for empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_explode.py
Labels: python, rust

reduce peak memory of reading parquet by row groups
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/predicates.rs
Labels: rust

fix explode offsets for empty lists (#4005)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_explode.py
Labels: python, rust

reduce peak memory of reading parquet by row groups (#4006)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/predicates.rs
Labels: rust

panic on unexpected rolling groupby offsets
  polars/polars-time/src/windows/groupby.rs
Labels: rust

fix rolling groupby with negative windows
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix: Lazyframe::from(lp) #3877
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

fix rolling groupby with negative windows (#4010)
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

update "IntoLazy for Dataframe"
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

fix: Lazyframe::from(lp) #3877 (#4012)
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

python: apply all numeric types
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_apply.py
Labels: python

csv: unquote date buffers
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv: unquote date buffers
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

python: apply all numeric types
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_apply.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
