Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

new statistics api
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
Labels: python, rust

update arrow (#3181)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
Labels: python, rust

fix dispatch of quantile aggregations
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/Cargo.lock
  py-polars/tests/test_window.py
Labels: python, rust

fix dispatch of quantile aggregations (#3234)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/Cargo.lock
  py-polars/tests/test_window.py
Labels: python, rust

Refactoring array_ref into Series.array_ref method
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/series/into.rs
Labels: rust

Adding recursion to to_list
  py-polars/src/series.rs
Labels: python

Testing list-of-list-of-struct behavior
  py-polars/tests/test_df.py
Labels: python

Fixing linting errors
  polars/polars-core/src/series/into.rs
  py-polars/tests/test_df.py
Labels: python, rust

Simplifying to_list return
  py-polars/src/series.rs
Labels: python

Reverting simplification
  py-polars/src/series.rs
Labels: python

Improving array refs for to_list (#3231)
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix offsets in categorical merge
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

python better datetime.time support
  polars/polars-core/src/series/from.rs
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix offsets in categorical merge (#3242)
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

python better datetime.time support (#3243)
  polars/polars-core/src/series/from.rs
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

removing "musl" as it isnt supported by manylinux anyways
  .github/workflows/create-js-release.yaml
  nodejs-polars/package.json
Labels: node-js

wip: node struct support
  nodejs-polars/struct_test.js
Labels: node-js

update js-release ci
  .github/workflows/create-js-release.yaml
  nodejs-polars/index.js
  nodejs-polars/polars/index.d.ts
Labels: node-js

remove index.d.ts
  nodejs-polars/index.d.ts
Labels: node-js

wip: node struct support
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
  nodejs-polars/struct_test.js
Labels: node-js

still working on ci
  nodejs-polars/index.js
  nodejs-polars/polars/index.d.ts
Labels: node-js

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

run formatting
  nodejs-polars/rustfmt.toml
Labels: node-js

update js-release ci
  .github/workflows/create-js-release.yaml
Labels: none

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

remove noders dependency
  nodejs-polars/index.d.ts
  nodejs-polars/package.json
  nodejs-polars/yarn.lock
Labels: node-js

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

update version
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

chore: fix pkg json
  nodejs-polars/package.json
Labels: node-js

update package lock
  nodejs-polars/package.json
  nodejs-polars/yarn.lock
Labels: node-js

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

chore: code cleanup
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/index.spec.mjs
Labels: node-js

update js release template
  .github/workflows/create-js-release.yaml
  nodejs-polars/package.json
Labels: node-js

run formatting
  nodejs-polars/Cargo.toml
Labels: node-js

remove types from native polars
  nodejs-polars/package.json
  nodejs-polars/polars/cfg.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/internals/polars_internal.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/struct.ts
  nodejs-polars/polars/lazy/groupby.ts
  nodejs-polars/polars/lazy/whenthen.ts
  nodejs-polars/polars/native-polars.js
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/polars/series/struct.ts
Labels: node-js

run formatting
  nodejs-polars/.cargo/config.toml
  nodejs-polars/Cargo.toml
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

resolve code updates from master
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none
