Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix[python] floor divide floats
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

fix[python] floor divide floats (#4420)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

python polars 0.14.1
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

chore[python]: Remove outdated todo
  py-polars/polars/internals/series/series.py
Labels: python

chore[python]: Remove outdated todo (#4421)
  py-polars/polars/internals/series/series.py
Labels: python

python polars 0.14.1 (#4418)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

json_deserializer impl
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  py-polars/Cargo.lock
Labels: python, rust

wip: ndjson perf
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

perf(ndjson): use simd_json & fix a bug preventing full parallelism
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

remove serde_json dependency
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

chore: resolve merge conflicts
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

chore: run fmtting
  polars/polars-io/Cargo.toml
Labels: rust

enable non-simd fallbacks
  polars/polars-io/Cargo.toml
Labels: rust

refactor[python]: Break up `frame` module into submodules (#4411)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/dataframe/pivot.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_struct.py
Labels: python

fix some edge cases in json parsing
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

fmtting
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

fix[rust]: sort_by(argsort) window expression did not use updated group
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix[rust]: sort_by(argsort) window expression did not use updated group (#4426)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

perf[rust]: prevent unneeded heap alloc + memcpy
  polars/polars-lazy/src/physical_plan/expressions/window.rs
Labels: rust

perf[rust]: prevent unneeded heap alloc + memcpy (#4427)
  polars/polars-lazy/src/physical_plan/expressions/window.rs
Labels: rust

formatting not working
  py-polars/polars/internals/expr.py
Labels: python

perf[rust]: reuse allocated buffer if available in window perferct sort
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/sort.rs
Labels: rust

passing flake
  py-polars/polars/internals/expr.py
Labels: python

doing doctests
  py-polars/polars/internals/expr.py
Labels: python

perf[rust]: reuse allocated buffer if available in window perferct sort (#4428)
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/sort.rs
Labels: rust

chore[python]: Turn on mypy strict mode (#4415)
  py-polars/pyproject.toml
Labels: python

passing all tests
  py-polars/polars/internals/expr.py
Labels: python

fix[rust]: type coercion in list.eval
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix[rust]: type coercion in list.eval (#4429)
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_lists.py
Labels: python, rust

remove unsafe from parse_impl
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

chore: remove debugs from tests
  polars/polars-io/src/json.rs
Labels: rust

remove unused import
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

update tests
  polars/polars-io/src/json.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
  polars/tests/it/io/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

fix clippy errors
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

use "known-key" for faster object access on reads
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

linting
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

fix py cargolock
  polars/polars-io/src/ndjson_core/ndjson.rs
  py-polars/Cargo.lock
Labels: python, rust

perf[ndjson]: use simd_json (#4424)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
  polars/tests/it/io/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

fix[rust]: argsort argument expansion fixed
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

perf[rust]: use vec![value;n] for ChunkedArray::full
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
