Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

unset sorted metadata on append (#3610)
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

feat: scan_json
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/lazy/dataframe.rs
Labels: node-js

minor updates
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
Labels: node-js

chore: run cargo fmt
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

feat(nodejs): scan json (#3611)
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

node 0.5.3 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

expand regex function input
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  py-polars/src/lib.rs
Labels: python, rust

Expand regex function input (#3613)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  py-polars/src/lib.rs
Labels: python, rust

improve when then otherwise for lists
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python, rust

node 0.5.3 release (#3612)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

improve when then otherwise for lists (#3614)
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python, rust

python polars 0.13.44
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.44 (#3615)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix mode for multiple modes (#3566)
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

fix series init from list containing an empty list (#3608)
  py-polars/polars/internals/construction.py
Labels: python

add test coverage (init from list of empty list/tuple)
  py-polars/tests/test_df.py
Labels: python

fix pl.Object Series init from mixed-type input and extend coverage
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

fix type-lint
  py-polars/tests/test_df.py
Labels: python

fix empty list edge case
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix empty list edge case (#3621)
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix invalid concat dtype
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix invalid concat dtype (#3622)
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_lists.py
Labels: python, rust

respect n_rows
  polars/polars-io/src/lib.rs
Labels: rust

respect n_rows (#3624)
  polars/polars-io/src/lib.rs
Labels: rust

make scan_ipc work on s3
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
Labels: python

fix pl.Object Series init from mixed-type input and extend test coverage
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

parquet and ipc scanning from fsspec
  py-polars/Makefile
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
  py-polars/src/lib.rs
Labels: python

Python: `scan_ipc/parquet` can scan from fsspec sources e.g. `s3`. (#3626)
  py-polars/Makefile
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
Labels: python

fix pl.Object Series init from mixed-type input and extend test coverage (#3627)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

restrict parallel branches in lazy Union
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/mod.rs
Labels: rust

restrict parallel branches in lazy Union (#3628)
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/mod.rs
Labels: rust

native exp expression
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/mod.rs
  polars/polars-ops/src/series/ops/log.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

native exp expression (#3629)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/mod.rs
  polars/polars-ops/src/series/ops/log.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

python dict parallel dataframe creation
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
Labels: python

wip scan refactor
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

python dict parallel dataframe creation (#3630)
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
Labels: python

more control over column typedefs for DataFrame init (nested types in list, temporal units, py-native temporal types, ...)
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

test coverage and minor fix for edge-case wth empty list init
  py-polars/polars/internals/construction.py
  py-polars/tests/test_lists.py
Labels: python

Enhanced column typedef/inference support for DataFrame init (#3633)
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

fix row count file projection pushdown
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust
