Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

handle Utf8Owned AnyValue for DataType
  polars/polars-core/src/frame/row.rs
Labels: rust

handle Utf8Owned AnyValue for DataType (#2944)
  polars/polars-core/src/frame/row.rs
Labels: rust

fix argsort.over
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/logical_plan/options.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_sort.py
Labels: python, rust

remove rogue dbg
  polars/polars-time/src/windows/groupby.rs
Labels: rust

add wildcard expansion and keep argsort as alias
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/tests/test_series.py
Labels: python, rust

Fix argsort (#2946)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
Labels: python, rust

value_counts expression
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

add unique_counts
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

remove special aggregate implementation for binary expressions
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

value_counts expression
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

add unique_counts
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

remove special aggregate implementation for binary expressions
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

use schema in 'with_columns' to amortize lookups and fix bug in emptry rows case
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

use schema in 'with_columns' to amortize lookups and fix bug in emptry rows case (#2949)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

add native log and entropy expression
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/series/ops/log.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  polars/tests/it/core/mod.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

add native log and entropy expression (#2952)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/series/ops/log.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  polars/tests/it/core/mod.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

csv parsing: skip whitespace on failed parse
  polars/polars-io/src/csv_core/buffer.rs
  polars/tests/it/io/csv.rs
Labels: rust

csv parsing: skip whitespace on failed parse (#2953)
  polars/polars-io/src/csv_core/buffer.rs
  polars/tests/it/io/csv.rs
Labels: rust

python polars 0.13.14
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.14 (#2954)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Literal in groupby context, arange and repeat
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_window.py
Labels: python, rust

expose quote char to csv writers api
  polars/polars-io/src/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

Literal in groupby context, arange and repeat (#2958)
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_window.py
Labels: python, rust

expose quote char to csv writers api (#2959)
  polars/polars-io/src/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

improve expressions and ListChunked::from_iter perf
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/chunked_array/iterator/par/macros.rs
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/Cargo.toml
Labels: python, rust

improve expressions and ListChunked::from_iter perf (#2962)
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/chunked_array/iterator/par/macros.rs
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/Cargo.toml
Labels: python, rust

update groups in count() agg and correctly update state
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

don't materialize groups for simple count expr
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
Labels: rust

update groups in count() agg and correctly update state (#2963)
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

python polars 0.13.15
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

python polars 0.13.15 (#2969)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

add sign
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

fix typo in CONTRIBUTING.md (#2972)
  CONTRIBUTING.md
Labels: none

add sign (#2977)
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

update rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/polars/internals/frame.py
Labels: python, node-js, rust

update rustc (#2978)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/polars/internals/frame.py
Labels: python, node-js, rust

Adding tests to db-benchmark/various.py
  py-polars/tests/db-benchmark/various.py
Labels: python

Adding format_path in polars.utils
  py-polars/polars/utils.py
Labels: python

Updating internals/frame.py and io.py with format_path
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python
