Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

remove ipc changes
  polars/polars-io/src/ipc/ipc.rs
Labels: rust

ipc rs
  polars/polars-io/src/ipc/ipc.rs
Labels: rust

change comment
  polars/polars-io/Cargo.toml
Labels: rust

fix feature
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
Labels: rust

Update arrow2 to support IPC Stream Reading with projections
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

Use proper ipc_streaming in cargo
  polars/Cargo.toml
Labels: rust

add is_empty() for Series, and autosummary doc refs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

fix duration computation (#3790)
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add final .gitignore newline (github warning)
  .gitignore
  py-polars/.gitignore
Labels: python

Update arrow2 to support IPC Stream Reading with projections (#3793)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

Some API alignment (missing funcs) between `DataFrame`, `LazyFrame`, and `Series` (#3791)
  .gitignore
  py-polars/.gitignore
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

fix duration computation (#3790)
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Update arrow2 to support IPC Stream Reading with projections (#3793)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

Some API alignment (missing funcs) between `DataFrame`, `LazyFrame`, and `Series` (#3791)
  .gitignore
  py-polars/.gitignore
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

docs: sort subsection entries
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/docs/source/reference/testing.rst
Labels: python

formatting fixes
  polars/Cargo.toml
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
  polars/polars-io/src/utils.rs
Labels: rust

docs: sort subsection entries (#3794)
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/docs/source/reference/testing.rst
Labels: python

csv don't skip delimiter in whitespace trimming
  polars/polars-io/src/csv_core/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv don't skip delimiter in whitespace trimming (#3796)
  polars/polars-io/src/csv_core/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

allow date_range utility func to create both datetime _and_ date ranges
  py-polars/polars/internals/functions.py
  py-polars/polars/utils.py
  py-polars/tests/test_utils.py
Labels: python

add unit tests
  py-polars/polars/internals/functions.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

change file names
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/mod.rs
Labels: rust

don't copy the sorted flag on many operations
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/Cargo.toml
  polars/tests/it/core/groupby.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

remove crate word
  polars/polars-io/src/ipc/mod.rs
Labels: rust

improve docstring note
  py-polars/polars/internals/functions.py
Labels: python

csv don't skip trailing delimiters when infering schema.
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

don't copy the sorted flag on many operations (#3795)
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/Cargo.toml
  polars/tests/it/core/groupby.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

quarter expression
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix mypy lint (under py3.7)
  py-polars/polars/internals/functions.py
Labels: python

undo typo
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/mod.rs
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
Labels: python, rust

csv don't skip trailing delimiters when infering schema. (#3799)
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Allow `date_range` to produce `date` ranges as well as `datetime` (#3798)
  py-polars/polars/internals/functions.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

quarter expression (#3797)
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

code review comments
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/tests/it/io/ipc_stream.rs
  polars/tests/it/io/mod.rs
Labels: rust

unset sorted on take (#3756)
  polars/tests/it/core/random.rs
Labels: rust

add global __pl__ (#3763)
  nodejs-polars/polars/index.ts
Labels: node-js

reexport polars for extension libraries (#3760)
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lib.rs
Labels: node-js

arg_where expression (#3757)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

allow regex expansion in binary/ternary expressions (#3769)
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_df.py
Labels: python, rust

update arrow (#3762)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
