Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Anonymous scan enhancements & cleanup (#3657)
  polars/polars-core/src/frame/row.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
Labels: rust

add pyarrow install to quickstart setup
  README.md
Labels: none

add pyarrow install to quickstart setup (#3682)
  README.md
Labels: none

fix oob in sorted groupby (#3681)
  polars/polars-core/src/frame/groupby/into_groups.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix tests
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

fix cargo.toml for docs.rs
  polars/Cargo.toml
Labels: rust

fix branch supertypes (#3683)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix cargo.toml for docs.rs (#3684)
  polars/Cargo.toml
Labels: rust

python polars 0.13.46
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.46 (#3686)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add pl.Expr.hash Python example
  py-polars/polars/internals/expr.py
Labels: python

preserve rev map
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/frame/row.rs
Labels: rust

ndjson reader complex types support (#3665)
  nodejs-polars/src/lazy/dataframe.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: node-js, rust

fix groupby aggregation on empty df
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

rename groupby interface
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/shared_traits.ts
Labels: node-js

fix groupby aggregation on empty df (#3688)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

Nodejs groupbyrolling (#3670)
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/groupby.ts
  nodejs-polars/polars/shared_traits.ts
Labels: node-js

Adding 'line-height' at 95% to df _html.py print
  py-polars/polars/_html.py
Labels: python

Add pl.Expr.hash Python example (#3679)
  py-polars/polars/internals/expr.py
Labels: python

unique counts for logical types
  polars/polars-core/src/series/ops/unique.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Adding 'line-height' at 95% to df _html.py print (#3691)
  py-polars/polars/_html.py
Labels: python

unique counts for logical types (#3694)
  polars/polars-core/src/series/ops/unique.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

polars-arrow updated
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/float.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-arrow/src/utils.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/Cargo.lock
Labels: python, rust

all
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
Labels: rust

nodejs release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

fix(nodejs): update android release stage
  .github/workflows/create-js-release.yaml
Labels: none

fix extension type
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/drop.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/dataframe.rs
Labels: python, rust

clippy
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
Labels: rust

docs: Readability improvements in `py-polars`
  py-polars/CHANGELOG.md
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python

chore: fix `replace_wildcard`
  polars/polars-lazy/src/logical_plan/projection.rs
Labels: rust

chore: fix `excluded`
  polars/polars-lazy/src/logical_plan/projection.rs
Labels: rust

docs: Readability improvements in `polars-lazy`
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

fix examples
  examples/python_rust_compiled_function/src/ffi.rs
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

improve performance of literals in groupby
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

improve performance of literals in groupby (#3702)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

refactor downcast
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/downcast.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-time/src/series/mod.rs
Labels: rust

panic on invalid groupby_rolling
  polars/polars-time/src/windows/groupby.rs
Labels: rust

refactor downcast
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/downcast.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-time/src/series/mod.rs
Labels: rust

panic on invalid groupby_rolling
  polars/polars-time/src/windows/groupby.rs
Labels: rust

docs: Readability improvements in `py-polars` (#3700)
  py-polars/CHANGELOG.md
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python
