Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Use Vec<T> to collect results
  .gitignore
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
  py-polars/tests_parametric/test_series.py
Labels: python, rust

feat[python]: support np.datetime64 init for Series
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

de-lint
  py-polars/polars/internals/series/series.py
Labels: python

chore[rust]: update arrow (#4461)
  examples/read_csv/Cargo.toml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/predicates.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

treat unsupported timeunits as before, and keep lint happy
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

another type-check fix (not showing up locally)
  py-polars/polars/internals/series/series.py
Labels: python

feat: Add support for reading non-utf8 encoded CSV files.
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

fix[rust]: ewm_mean leading nulls function
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

ci: patch upstream repo and exit docs on failed build
  .github/workflows/docs.yaml
  Cargo.toml
Labels: none

ci: patch upstream repo and exit docs on failed build (#4466)
  .github/workflows/docs.yaml
  Cargo.toml
Labels: none

feat[python]: Add support for reading non-utf8 encoded CSV files. (#4464)
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

fix[rust]: ewm_mean leading nulls function (#4465)
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

python polars 0.14.2
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix[python]: raise DeprecationWarning on deprecated arguments
  py-polars/polars/io.py
  py-polars/tests/io/test_lazy_csv.py
Labels: python

python polars 0.14.2 (#4468)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix[python]: raise DeprecationWarning on deprecated arguments
  py-polars/polars/io.py
  py-polars/tests/io/test_lazy_csv.py
Labels: python

feat[python]: support np.datetime64 init for Series
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

fix[python]: raise DeprecationWarning on deprecated arguments (#4470)
  py-polars/polars/io.py
  py-polars/tests/io/test_lazy_csv.py
Labels: python

doc[python]: add allowed type None to method `.fill_nan()` for data frame and series and expression (#4445)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

chore: fix groupby bench (#4384)
  polars/benches/groupby.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

fix[rust]: ewm correct for leading nulls
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

fix[rust]: ewm correct for leading nulls (#4477)
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

fix[rust]: fix cache on duplicate schemas
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/prelude.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

fix[rust]: fix cache on duplicate schemas (#4479)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/prelude.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

chore[rust]: Deprecate Python:acquire_gil and use Python::with_gil (#4478)
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

chore[rust]: Deprecate Python:acquire_gil and use Python::with_gil (#4478) (#4481)
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

ci: update rust: nightly-2022-08-16
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-js-release.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  rust-toolchain
  rust-toolchain.toml
Labels: none

ci: update rust: nightly-2022-08-16 (#4482)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-js-release.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  rust-toolchain
  rust-toolchain.toml
Labels: none

feat[rust, python] add meta namespace for expressions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/meta.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/names.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/utils.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/meta.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/meta.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/test_meta.py
  py-polars/tests/test_struct.py
Labels: python, rust

feat[rust, python] add meta namespace for expressions (#4480)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/meta.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/names.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/utils.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/meta.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/meta.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/test_meta.py
  py-polars/tests/test_struct.py
Labels: python, rust

refactor[rust]: add generic type coercion node for Function expressions
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

refactor[rust]: add generic type coercion node for Function expressions (#4483)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

feat: add scan_json to lazyframe
  examples/datasets/foods1.ndjson
  polars/polars-io/src/ndjson_core/ndjson.rs
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/io/test_lazy_json.py
Labels: python, rust

run fmtting
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/frame/json.rs
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

refactor: rename ndjson functions
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/ndjson.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_lazy_json.py
Labels: python, rust

chore: update cargo.toml
  py-polars/Cargo.toml
Labels: python

fix: broken imports & feature flags
  polars/Cargo.toml
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/Cargo.toml
Labels: python, rust

chore: move impl into exec/scan
  polars/polars-lazy/src/frame/json.rs
  polars/polars-lazy/src/physical_plan/executors/scan/json.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
Labels: rust

fmtting toml
  py-polars/Cargo.toml
Labels: python

move the reader into lazy
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/json.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
