Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix row_count behavior in lazy optimizations
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

create Date/Datetime/Time/Duration -Chunked from iterators
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

fix row_count behavior in lazy optimizations (#2567)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

create Date/Datetime/Time/Duration -Chunked from iterators (#2568)
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

expose and fix utf8-lossy encoding
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/file.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_df.py
Labels: python, rust

expose and fix utf8-lossy encoding (#2570)
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/file.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_df.py
Labels: python, rust

0.3.0 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

adding avro reader
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/avro.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
Labels: rust

adding must use
  polars/polars-io/src/avro.rs
Labels: rust

fix rowcount
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

refactor ChunkedArray::new_from_chunks -> from_chunks
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/concat_str.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/ops/interpolate.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
Labels: rust

refactor ChunkedArray::new_from_slice -> from_slice
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/named_from.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust

refactor new_from_opt_iter, new_from_iter -> from_iter_options, from_iter_values
  nodejs-polars/src/dataframe/frame.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/named_from.rs
  polars/polars-io/src/csv.rs
  polars/polars-lazy/src/functions.rs
  py-polars/src/dataframe.rs
Labels: python, node-js, rust

Supporting Avro Reader (#2572)
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/avro.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
Labels: rust

impl namedfrom for temporal types
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/named_from.rs
Labels: rust

impl namedfrom for temporal types (#2575)
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/named_from.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

improve utf8 validation performance
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

improve utf8 validation performance
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add row_count to csv parser
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/utils.rs
Labels: rust

row_count in csv reader
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

add row_count to csv parser
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/utils.rs
Labels: rust

row_count in csv reader
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

adding doc for AvroReader
  polars/polars-io/src/avro.rs
Labels: rust

ensure window exprs cache caches the sorted groups
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  py-polars/tests/test_window.py
Labels: python, rust

ensure window exprs cache caches the sorted groups
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  py-polars/tests/test_window.py
Labels: python, rust

make sure we have rechunked in melt and dataframe sort
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

make sure we have rechunked in melt and dataframe sort
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

row_count at scan for ipc and parquet
  polars/polars-io/src/avro.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/test_io.py
Labels: python, rust

make sure that projection pushdown checks input schema of black box udf
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

fix_lossy
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

row_count at scan for ipc and parquet
  polars/polars-io/src/avro.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/test_io.py
Labels: python, rust

make sure that projection pushdown checks input schema of black box udf
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

fix_lossy (#2585)
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

re-export arrow and fix error message
  polars/polars-core/src/frame/mod.rs
  polars/src/export.rs
  polars/src/lib.rs
Labels: rust

re-export arrow and fix error message (#2586)
  polars/polars-core/src/frame/mod.rs
  polars/src/export.rs
  polars/src/lib.rs
Labels: rust

first & last expression can take first and last column of context
  polars/polars-arrow/src/index.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/nth.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

make nth consistent by taking col from schema
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/nth.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
Labels: python, rust

update "fill_null" docstrings with additional example (specifically: use of Expr to replace null values with the empty string), and bring the descriptions a little more in-line with each other.
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
