Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

reduce unnecessary test overhead
  py-polars/tests_parametric/test_testing.py
Labels: python

quiet an unnecessary warning, reduce test overhead
  py-polars/polars/testing.py
  py-polars/tests_parametric/test_testing.py
Labels: python

fix inadvertent change to default null_probability
  py-polars/polars/testing.py
Labels: python

Update most docstring code output with current Polars formatting.
  py-polars/polars/cfg.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
Labels: python

minor optimisations for slices with negative stride
  py-polars/polars/internals/functions.py
Labels: python

Update - frame.py
  py-polars/polars/internals/frame.py
Labels: python

Update most docstring code output with current Polars formatting.
  py-polars/polars/cfg.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
Labels: python

Make embedded CSV test strings easier to read. (#3907)
  py-polars/tests/io/test_csv.py
Labels: python

Quiet an unnecessary warning (tests), and minor optimisation for slices with negative stride (#3913)
  py-polars/polars/internals/functions.py
  py-polars/polars/testing.py
  py-polars/tests_parametric/test_testing.py
Labels: python

Add Series type
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Remove modulo argument
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

extend "with_columns" to allow **kwargs style named expressions
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

use pl.all instead of wildcard
  py-polars/polars/internals/expr.py
Labels: python

fix dataframe explode with empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

fix dataframe explode with empty lists (#3916)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

Implement pow/rpow for Series (#3908)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Fix Series `__setitem__` and `take` (#3910)
  py-polars/polars/internals/series.py
Labels: python

fix negative offset in groupby_rolling
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

fix negative offset in groupby_rolling (#3918)
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

minor docstring fixes
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
Labels: python

make string formatting configurable
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/src/series.rs
Labels: python, rust

make string formatting configurable (#3919)
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/src/series.rs
Labels: python, rust

add blankspace before examples
  py-polars/polars/internals/expr.py
Labels: python

add impl from anyvalue for literal
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

Add lazy streaming to Arrow IPC Streams
  polars/Cargo.toml
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/ipc_stream.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc_stream.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

IPC Arrow Stream tests
  examples/datasets/foods1.ipc_stream
  examples/datasets/foods2.ipc_stream
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-lazy/src/frame/ipc_stream.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc_stream.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

spacing in exponent
  py-polars/polars/internals/expr.py
Labels: python

add feature conditions to literal from anyvalue conversion
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

Expr docstrings (#3871)
  py-polars/polars/internals/expr.py
Labels: python

parquet: parallelize over row groups
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

parquet: parallelize over row groups (#3924)
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

change from impl to tryfrom
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

Don't unwrap IPC Stream, instead use ? to not panic
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/tests/it/io/ipc_stream.rs
Labels: rust

add forgotten conditional compilation for catagorical
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

mark kwargs-usage in "with_columns" as experimental; require opt-in via pl.Config
  py-polars/polars/cfg.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

update docstring example
  py-polars/polars/internals/lazy_frame.py
Labels: python

docstring (again)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

Don't unwrap IPC Stream, instead use ? to not panic (#3927)
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/tests/it/io/ipc_stream.rs
Labels: rust

fix "See Also" docstring formatting, run doctests as part of "make test-all" (and they now pass with no warnings/errors)
  py-polars/Makefile
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/testing.py
  py-polars/tests_parametric/test_dataframe.py
Labels: python

Corrected select sequence type hint
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python
