Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

python: recursive from_dicts (#3270)
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python polars 0.13.26
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

update readme example
  README.md
Labels: none

update readme example (#3272)
  README.md
Labels: none

Update README.md
  README.md
Labels: none

python polars 0.13.26 (#3271)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

wip: wasm
  js-polars/.gitignore
  js-polars/README.md
  js-polars/index.html
  js-polars/index.js
  js-polars/worker.js
Labels: none

fix partitoned and error don't ignore errors
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

fix partitoned and error don't ignore errors (#3273)
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

python polars 0.13.27
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Adding coverage CI for Python and Rust tests with CodeCov
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  py-polars/Makefile
Labels: python

python polars 0.13.28
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

Moving rust-cache after toolchain based on usage guide
  .github/workflows/coverage.yaml
Labels: none

Adding pip cache for coverage CI
  .github/workflows/coverage.yaml
Labels: none

Enabling incremental builds for make coverage
  Makefile
Labels: none

python polars 0.13.28 (#3276)
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

Fix dtype conversion on reverse
  py-polars/polars/internals/lazy_functions.py
Labels: python

unpack select args
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

revert black formatting
  py-polars/tests/test_df.py
Labels: python

deprecate df[[col(foo)]] syntax
  py-polars/polars/internals/frame.py
Labels: python

deprecate df[[col(foo)]] syntax (#3286)
  py-polars/polars/internals/frame.py
Labels: python

fix row count for u64 idx
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

fix row count for u64 idx (#3285)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

polars-core agg_<> -> Series instead of Option<Series>
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

lazy
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

Code coverage for Rust/Python (#3278)
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  py-polars/Makefile
Labels: python

fix segfault
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

Improve groupby states (#3291)
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

recursive list builder in rows
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/frame/row.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/prelude.rs
  py-polars/src/py_modules.rs
  py-polars/tests/test_struct.py
Labels: python, rust

test setup
  polars/Cargo.toml
  py-polars/Cargo.toml
Labels: python, rust

fix bigidx
  polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

recursive list builder in rows (#3293)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/frame/row.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/prelude.rs
  py-polars/src/py_modules.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix bigidx deploy
  .github/deploy_manylinux.sh
  polars/polars-core/src/utils/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/Cargo.toml
Labels: python, rust

fix bigidx release (#3292)
  .github/deploy_manylinux.sh
  polars/Cargo.toml
  polars/polars-core/src/utils/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

python polars 0.13.29
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.29 (#3294)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

sed inplace
  .github/deploy_manylinux.sh
Labels: none

Fix ipc_read_schema so Path() and filename which start with "~/" work.
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

sed inplace (#3296)
  .github/deploy_manylinux.sh
Labels: none

Fix ipc_read_schema so Path() and filename which start with "~/" work. (#3297)
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
