Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Update flake8 args
  py-polars/.flake8
Labels: python

Remove py-polars legacy package (#4037)
  py-polars/.flake8
  py-polars/legacy/README.md
  py-polars/legacy/deploy.sh
  py-polars/legacy/pypolars/__init__.py
  py-polars/legacy/pypolars/datatypes.py
  py-polars/legacy/pypolars/frame.py
  py-polars/legacy/pypolars/functions.py
  py-polars/legacy/pypolars/lazy.py
  py-polars/legacy/pypolars/series.py
  py-polars/legacy/setup.py
Labels: python

Update init files
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
Labels: python

Remove unnecessary ignores
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Remove blanket ignores and fix errors
  py-polars/polars/_html.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/test_df.py
Labels: python

Update flake8 settings
  py-polars/.flake8
Labels: python

fix cross join
  polars/polars-core/src/frame/cross_join.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

Native trigonometry functions (#4034)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigo.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

parquet: stop reading when slice is reached
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

Add inverse hyperbolics on the Rust side
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigo.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

(python) initial tests
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python

(python) update docstring mwe
  py-polars/polars/internals/expr.py
Labels: python

(rust) use with_seeds instead of with_seed
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

use seed/seed_i instead of k(i) for hash params
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

fix formatting
  polars/polars-lazy/src/dsl/function_expr/mod.rs
Labels: rust

Add inverse hyperbolic functions to Python side
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python

parquet: stop reading when slice is reached (#4046)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

fix cross join (#4045)
  polars/polars-core/src/frame/cross_join.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

Rename Rust feature flag
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
Labels: python, rust

More trigonometry (#4047)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

Update flake8 settings (#4038)
  py-polars/.flake8
  py-polars/polars/__init__.py
  py-polars/polars/_html.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/test_df.py
Labels: python

Ignore TYPECHECKING coverage
  py-polars/polars/internals/construction.py
  py-polars/pyproject.toml
Labels: python

Improve consistency of coverage ignore comments
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Ignore all imports from typing_extensions
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

Ignore ImportErrors for optional imports in config
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
Labels: python

rename seed params in dsl.rs
  py-polars/src/lazy/dsl.rs
Labels: python

Enable black preview functionality
  py-polars/pyproject.toml
Labels: python

Update black to the latest version
  py-polars/build.requirements.txt
Labels: python

Apply black
  py-polars/polars/exceptions.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_pyarrow_dataset.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_rolling.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Improve some of the autoformatted strings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datelike.py
Labels: python

pivot: fix categorical logicaltype
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python, rust

Update pyproject.toml
  py-polars/pyproject.toml
Labels: python

pivot: fix categorical logicaltype (#4048)
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python, rust

Update pyproject.toml (#4049)
  py-polars/pyproject.toml
Labels: python

fix: reproducible Expr.hash (#4033)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python, rust

add 'literal' param to string-replace functions and significantly enhance "replace" performance in the small-string regime (<= 32 chars>)
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, rust

WIP: Disallow generics
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
Labels: python

Disallow untyped calls in mypy check
  py-polars/polars/internals/series.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

Mypy warn redundant casts
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

de-lint (imports)
  py-polars/tests/test_strings.py
Labels: python
