Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

python polars 0.13.57 (#4141)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

Mypy disallow untyped calls (#4140)
  .github/workflows/test-python.yaml
  py-polars/polars/internals/series.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

Improve re-raises of Exceptions (#4142)
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
Labels: python

Improve some string wrapping
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/test_errors.py
Labels: python

Wrap long strings
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Undo test_cfg.py changes
  py-polars/tests/test_cfg.py
Labels: python

Fix typo
  py-polars/Cargo.toml
  py-polars/src/lazy/dsl.rs
Labels: python

Fix comments
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

pivot fix categorical index
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

pivot fix categorical index (#4149)
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

Fix typo (#4146)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dsl.rs
Labels: python, rust

Wrap long strings (#4144)
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Wrap long lines
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
Labels: python

Wrap long lines for rest of the code
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_sql.py
Labels: python

Add int type to is_between args
  py-polars/polars/internals/expr.py
Labels: python

Handle long lines in tests
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

Enforce 88 lines in flake8
  py-polars/.flake8
Labels: python

Fix docs check
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
Labels: python

add is_in for categoricals
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/test_lists.py
Labels: python, rust

Fix Python line lengths to 88 characters (#4152)
  py-polars/.flake8
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

add is_in for categoricals (#4153)
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/test_lists.py
Labels: python, rust

python 0.13.58
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Update flake8 settings
  py-polars/.flake8
Labels: python

Improve some docstrings
  py-polars/polars/io.py
  py-polars/polars/utils.py
Labels: python

python 0.13.58 (#4154)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

pivot: fix logical type of multiple indexes
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

Docstring lints & improvements (#4155)
  py-polars/.flake8
  py-polars/polars/io.py
  py-polars/polars/utils.py
Labels: python

pivot: fix logical type of multiple indexes (#4159)
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

Use latest arrow2 to support latest nightly rust
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/mmap.rs
  py-polars/Cargo.lock
Labels: python, rust

more tests
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python

Update nightly version used in CI
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
Labels: none

Fix lint warnings
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
Labels: rust

more tests (#4163)
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python

Use latest arrow2 to support latest nightly rust (#4162)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

Fix invalid inputs for trigonometric functions
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  py-polars/tests/test_series.py
Labels: python, rust

ensure that schema is updated after drop
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/apply.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

Use literal as type hint
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Add tests
  py-polars/tests/test_df.py
Labels: python

Fix types and constructor
  py-polars/polars/internals/frame.py
Labels: python

Add check for DataFrame dimensions
  py-polars/polars/internals/frame.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
