Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

adding must use
  polars/polars-io/src/avro.rs
Labels: rust

python polars 0.12.24
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.12.24 (#2610)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

don't rename aggregations (#2603)
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python, rust

Added Support `AvroWriter` (#2609)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
Labels: rust

fix window function branches
  polars/polars-io/src/csv.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/window_expressions.rs
Labels: rust

fix pyhon tests
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_lazy.py
Labels: python

fix scan_with_set_null_values
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

fix scan_with_set_null_values (#2611)
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

fix incorrect group tuples of binary expressions
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/window_expressions.rs
Labels: rust

New window expression rules (#2604)
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/window_expressions.rs
  py-polars/Cargo.lock
  py-polars/tests/test_datelike.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_window.py
Labels: python, rust

remove deprecated methods
  polars/polars-lazy/src/frame/mod.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python, rust

remove deprecated methods (#2612)
  polars/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python, rust

fast path for explicitly sorted dataframes and window expressions
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/window_expressions.rs
Labels: rust

fast path for explicitly sorted dataframes and window expressions (#2613)
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/window_expressions.rs
Labels: rust

perfect sort optimization for window expressions
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/sort.rs
  py-polars/Cargo.lock
Labels: python, rust

fix reading empty parquet
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/null.parquet
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

perfect sort optimization for window expressions (#2614)
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/sort.rs
  py-polars/Cargo.lock
Labels: python, rust

fix reading empty parquet (#2615)
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/null.parquet
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

python polars 0.13.0
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.0 (#2617)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix null row skipping in csv parsing
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix null row skipping in csv parsing (#2622)
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

update arrow (#2623)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

make timeunits handling more dry
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-time/src/windows/duration.rs
Labels: rust

add 'us' timeunit
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/kernels/temporal.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/truncate.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/calendar.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python, rust

adding avro writer
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_io.py
Labels: python

supporting Path object in avro_reader
  py-polars/polars/io.py
Labels: python

fix avro io and its test
  polars/polars-io/src/avro.rs
Labels: rust

adding to_avro for docs
  py-polars/docs/source/reference/dataframe.rst
Labels: python

add 'us' timeunit
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/kernels/temporal.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/truncate.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/calendar.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python, rust

make timeunits handling more dry
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-time/src/windows/duration.rs
Labels: rust

Exported `AvroWriter` to py-polars (#2628)
  polars/polars-io/src/avro.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

add avro to python docs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
Labels: python

add avro to python docs (#2629)
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
Labels: python

reduce monomorphization
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
Labels: rust

reduce monomorphization (#2630)
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
Labels: rust

add microseconds conversion test
  py-polars/null.parquet
  py-polars/polars/utils.py
  py-polars/tests/lazy_io/test_parquet.py
  py-polars/tests/test_datelike.py
Labels: python

add microseconds conversion test (#2632)
  py-polars/null.parquet
  py-polars/polars/utils.py
  py-polars/tests/lazy_io/test_parquet.py
  py-polars/tests/test_datelike.py
Labels: python
