Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

docs: `polars-lazy` readability improvements (#3701)
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

Python: parallel concat df (#3671)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/frame/row.rs
  py-polars/src/lib.rs
Labels: python, rust

fix ipc column order
  polars/polars-io/src/ipc.rs
Labels: rust

fix ipc column order (#3706)
  polars/polars-io/src/ipc.rs
Labels: rust

nodejs release (#3698)
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

inplace arithmetic
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

take forked branch
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add coc
  CODE_OF_CONDUCT.md
Labels: none

add coc (#3712)
  CODE_OF_CONDUCT.md
Labels: none

add division as well
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
Labels: rust

in place arithmetic in groupby
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

inplace arithmetic (#3709)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/Cargo.lock
Labels: python, rust

Add typing overloads for DataFrame.hstack()
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Add Series to with_columns() argument annotations
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

first change
  py-polars/polars/internals/expr.py
Labels: python

add flag to allow str.contains to search for string literals (#3711)
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, node-js, rust

format empty df
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/test_strings.py
Labels: python, rust

format empty df (#3719)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/test_strings.py
Labels: python, rust

Add typing overloads for DataFrame.hstack() (#3697)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Add Series to with_columns() argument annotations (#3696)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

fix rolling groupby ordering with 'by' argument
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix rolling groupby ordering with 'by' argument (#3720)
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

allow literal as aggregation
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

auto explode product
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

allow literal as aggregation (#3722)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

cast to categorical (non-global) 35% faster
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/Cargo.lock
Labels: python, rust

revert additional param for "contains"; instead, expose separate "contains_literal" fn that doesn't invoke the regex engine at all
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, node-js, rust

refactor stringcache
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/lib.rs
Labels: rust

improve global cache
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
Labels: rust

automatically choose "contains_literal" fast-path if the pattern is clearly not an actual regex
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

Improve performance of categorical casting (#3724)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/Cargo.lock
Labels: python, rust

Add flag to allow str.contains to search for string literals (#3711) (#3718)
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, rust

fix join negative keys
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/tests/test_joins.py
Labels: python, rust

fix join negative keys (#3730)
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/tests/test_joins.py
Labels: python, rust

fix arr.get() offsets
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-ops/Cargo.toml
  py-polars/tests/test_lists.py
  py-polars/tests/test_struct.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix from_pandas object null array
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

fix arr.get() offsets (#3731)
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-ops/Cargo.toml
  py-polars/tests/test_lists.py
  py-polars/tests/test_struct.py
Labels: python, rust

update arrow (#3732)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix from_pandas object null array (#3733)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python
