Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

minor refactor to main export
  nodejs-polars/polars/index.ts
Labels: node-js

fix reexport
  nodejs-polars/polars/index.ts
Labels: node-js

add global __pl__ (#3763)
  nodejs-polars/polars/index.ts
Labels: node-js

arg_where expression (#3757)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

update arrow (#3762)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

allow regex expansion in binary/ternary expressions
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_df.py
Labels: python, rust

python lhs power and broadcast
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_exprs.py
Labels: python, rust

add more expressions
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

python lhs power and broadcast (#3768)
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_exprs.py
Labels: python, rust

allow regex expansion in binary/ternary expressions (#3769)
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_df.py
Labels: python, rust

str.ends_with/ str.starts_with
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

str.ends_with/ str.starts_with (#3770)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

fix bug in agg projections and init tpch schema tests
  examples/datasets/tpc_heads/customer.feather
  examples/datasets/tpc_heads/lineitem.feather
  examples/datasets/tpc_heads/nation.feather
  examples/datasets/tpc_heads/orders.feather
  examples/datasets/tpc_heads/part.feather
  examples/datasets/tpc_heads/partsupp.feather
  examples/datasets/tpc_heads/region.feather
  examples/datasets/tpc_heads/supplier.feather
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
Labels: rust

fix bug in agg projections and init tpch schema tests (#3771)
  examples/datasets/tpc_heads/customer.feather
  examples/datasets/tpc_heads/lineitem.feather
  examples/datasets/tpc_heads/nation.feather
  examples/datasets/tpc_heads/orders.feather
  examples/datasets/tpc_heads/part.feather
  examples/datasets/tpc_heads/partsupp.feather
  examples/datasets/tpc_heads/region.feather
  examples/datasets/tpc_heads/supplier.feather
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
Labels: rust

wip
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

working for ipc
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

csv and parquet
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
Labels: rust

lazy tests run
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

always include offset in groupby_dynamic
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
Labels: rust

remove dbg
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: rust

always include offset in groupby_dynamic (#3779)
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
Labels: rust

reduce contention
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dummies.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
Labels: rust

ensure minimal contention
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

Cache file reads `(tpch 2/7) ~5%` faster (#3774)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dummies.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

python fix arr.contains type
  py-polars/polars/internals/expr.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

python fix arr.contains type (#3782)
  py-polars/polars/internals/expr.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

Add support for IPC Streaming Read/Write
  polars/polars-io/src/ipc_stream.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/prelude.rs
Labels: rust

improve predicate combination and schema state
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_datelike.py
  py-polars/tests/test_queries.py
Labels: python, rust

improve predicate combination and schema state (#3788)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_datelike.py
  py-polars/tests/test_queries.py
Labels: python, rust

fix duration computation
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add reverse() to DataFrame for consistency
  py-polars/polars/internals/frame.py
Labels: python

add reverse() method, make slice() 'length' param optional
  py-polars/src/series.rs
Labels: python

add ".DS_Store" to gitignore (Mac users)
  .gitignore
  py-polars/.gitignore
Labels: python

expose series.reverse() to python
  py-polars/polars/internals/series.py
Labels: python

expose lazyframe.clone() to python
  py-polars/polars/internals/lazy_frame.py
Labels: python

make slice() 'length' param optional (if unset default to length of the frame)
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

add unit tests
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

improve predicate combination and schema state (#3788)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_datelike.py
  py-polars/tests/test_queries.py
Labels: python, rust

python fix arr.contains type (#3782)
  py-polars/polars/internals/expr.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

Move ipc to its own folder, add ipc_streaming
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/ipc/ipc.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
  polars/polars-io/src/prelude.rs
  polars/polars-io/src/utils.rs
Labels: rust
