Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Remove deprecated to_csv/json/etc functions
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/run_doc_examples.py
Labels: python

Remove deprecated distinct functions
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Remove deprecated get_group function
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Remove deprecated aliases
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_joins.py
Labels: python

Unify type annotations for `DataFrame.select` and `LazyFrame.select`
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Remove deprecated functionality (#4316)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

Unify type annotations for `DataFrame.select` and `LazyFrame.select` (#4322)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

handle null values in correlation
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/arity.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_functions.py
Labels: python, rust

Update Rust side
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
Labels: python

Fix existing tests
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

Implement new fill_null methods
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

allow compilation with only 'is_in' feature
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

Fix docstring examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

handle null values in correlation (#4318)
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/arity.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_functions.py
Labels: python, rust

Improve `fill_null` usability (#4324)
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

allow compilation with only 'is_in' feature (#4325)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

Update from_records
  py-polars/polars/convert.py
Labels: python

Remove how=asof from regular join
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
Labels: python

Remove DataFrame.__getitem__ Expr handling
  py-polars/polars/internals/frame.py
  py-polars/tests/test_lazy.py
Labels: python

Remove sort inplace
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_sort.py
Labels: python

add ".mypy_cache" to gitignore (and sort entries)
  .gitignore
Labels: none

Deprecate getattr
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Fix mypy errors
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
Labels: python

Remove DataFrame setitem
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

Remove DataFrame setitem (#4331)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

Remove deprecated `DataFrame.__getattr__` (#4329)
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
Labels: python

Remove more deprecated functionality (#4327)
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python

Remove sort inplace (#4328)
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_sort.py
Labels: python

python: groupby_dynamic closed left
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

ignore unknown supertype
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

python: groupby_dynamic closed left (#4332)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

fix docstring for series max
  py-polars/polars/internals/series.py
Labels: python

python: ensure type information is passed in custom apply expression
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_apply.py
Labels: python

ignore unknown supertype (#4333)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

python: ensure type information is passed in custom apply expression (#4334)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_apply.py
Labels: python

python: filter accept boolean list
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

python: filter accept boolean list (#4335)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

fix issue4258
  py-polars/polars/utils.py
  py-polars/tests/test_series.py
Labels: python

format
  py-polars/polars/utils.py
  py-polars/tests/test_series.py
Labels: python

Disable getitem for GroupBy
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python
