Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

speedup "null_probability" test
  py-polars/tests_parametric/test_testing.py
Labels: python

Corrected select sequence type hint (#3931)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

add impl from anyvalue for literal (#3921)
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

update arrow: ipc limit and reduce categorical-> dictionary bound checks
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
Labels: python, rust

fix window expression case
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

update arrow: ipc limit and reduce categorical-> dictionary bound checks (#3926)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
Labels: python, rust

fix oob panic on expand_at_index and series from pyarrow chunkedarray
  polars/polars-core/src/chunked_array/ops/mod.rs
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_interop.py
Labels: python, rust

make Config setting for "with_columns" kwargs feature a class-local flag (python-only, no rust component / ffi traversal)
  py-polars/polars/cfg.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

fix window expression case (#3937)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

de-lint
  py-polars/polars/cfg.py
Labels: python

fix oob panic on expand_at_index and series from pyarrow chunkedarray (#3938)
  polars/polars-core/src/chunked_array/ops/mod.rs
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_interop.py
Labels: python, rust

block equality/ordering based predicates on null producing joins
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix "assert_frame_equal" and "assert_series_equal" for NaN values
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

block equality/ordering based predicates on null producing joins (#3939)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

upcast float16 to float32
  polars/polars-core/src/series/from.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

Extended `with_columns` to allow **kwargs style named expressions (#3917)
  py-polars/polars/cfg.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_df.py
Labels: python

add better explanatory comment
  py-polars/tests/test_testing.py
Labels: python

upcast float16 to float32 (#3940)
  polars/polars-core/src/series/from.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

python: fix already mutable borrowed append
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

add 'nans_compare_equal' flag for assert functions
  py-polars/polars/testing.py
Labels: python

lint/formatting
  py-polars/polars/testing.py
Labels: python

Switch ordering of construction functions
  py-polars/polars/internals/construction.py
Labels: python

Separate from_numpy and from_records
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
Labels: python

Add tests
  py-polars/tests/test_interop.py
Labels: python

python: fix already mutable borrowed append (#3943)
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Fix Pandas date_range warnings in tests
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python

Revert to closed; Python 3.7 tests use Pandas 1.3.5
  py-polars/tests/test_interop.py
Labels: python

Fixed `assert_frame_equal` and `assert_series_equal` for NaN values (#3941)
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

fix ipc ordering
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  py-polars/Cargo.lock
Labels: python, rust

normalise additional docstring linebreaks
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/io.py
Labels: python

Add from_numpy constructor (#3944)
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

Fix Pandas date_range warnings in tests (#3945)
  py-polars/tests/test_df.py
Labels: python

fix ipc ordering (#3947)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  py-polars/Cargo.lock
Labels: python, rust

Remove "import polars as pl" from docstrings
  py-polars/polars/testing.py
Labels: python

Run pyupgrade on tests
  py-polars/tests/test_datatypes.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python

Apply pyupgrade for annotations
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
  py-polars/tests/test_window.py
  py-polars/tests_parametric/test_series.py
Labels: python

Remove unused imports
  py-polars/tests/test_apply.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
  py-polars/tests/test_window.py
  py-polars/tests_parametric/test_series.py
Labels: python

make clippy a bit happier
  examples/python_rust_compiled_function/src/ffi.rs
  examples/python_rust_compiled_function/src/lib.rs
  polars-sql/src/context.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
Labels: python, rust

Add recursive Struct parsing to df.schema
  py-polars/polars/internals/frame.py
  py-polars/tests/test_struct.py
Labels: python

docs: add link to pl.all
  py-polars/polars/internals/expr.py
Labels: python
