Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

refactor temporal code
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/duration.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/chunkedarray/utf8.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series.rs
  py-polars/Cargo.lock
Labels: python, rust

move most temporal related code to polars time
  polars/polars-core/src/chunked_array/kernels/mod.rs
  polars/polars-core/src/chunked_array/kernels/temporal.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/doc/mod.rs
  polars/polars-core/src/doc/time.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/duration.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/chunkedarray/utf8.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series.rs
  polars/src/prelude.rs
  polars/tests/it/core/list.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/pivot.rs
Labels: rust

Refactor: move most temporal related code to `polars-time`. (#2918)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/mod.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/doc/mod.rs
  polars/polars-core/src/doc/time.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/duration.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/chunkedarray/utf8.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series.rs
  polars/src/prelude.rs
  polars/tests/it/core/list.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/pivot.rs
  py-polars/Cargo.lock
Labels: python, rust

update arrow and rustc in CI
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, node-js, rust

clippy
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner.rs
Labels: rust

update arrow and rustc in CI (#2919)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/Cargo.lock
Labels: python, node-js, rust

python polars 0.13.12
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.12 (#2920)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

add 1 example to pl.struct
  py-polars/polars/internals/lazy_functions.py
Labels: python

Struct examples (#2924)
  py-polars/polars/internals/lazy_functions.py
Labels: python

improve datetime inference
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/lib.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

improve datetime inference (#2923)
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/lib.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

rename distinct to unique
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

docs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

fix some warning
  polars/polars-io/src/lib.rs
Labels: rust

rename distinct to unique (#2926)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

fix some warning (#2927)
  polars/polars-io/src/lib.rs
Labels: rust

improve date/datetime inference
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Added example to set_tbl_cols
  py-polars/polars/cfg.py
Labels: python

improve date/datetime inference (#2925)
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Added empty line after Examples
  py-polars/polars/cfg.py
Labels: python

Indent and deleted the last line
  py-polars/polars/cfg.py
Labels: python

fix fill_nan dtypes
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix fill_nan dtypes (#2933)
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/test_df.py
Labels: python, rust

changed to 5 cols and added output
  py-polars/polars/cfg.py
Labels: python

fix future calculation in groupby dynamic
  polars/polars-time/src/groupby/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/windows/bounds.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

fix future calculation in groupby dynamic (#2935)
  polars/polars-time/src/groupby/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/windows/bounds.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

don't cast pandas datetime[ns] to datetime[ms]
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

don't cast pandas datetime[ns] to datetime[ms] (#2936)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

fix(scan_csv): handle empty csv file exception
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/files/empty.csv
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

add tolerance to asof + by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python, rust

add tolerance to asof + by (#2937)
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python, rust

fix(scan_csv): handle empty csv file exception (#2934)
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/files/empty.csv
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

python polars 0.13.13
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Black formatted
  py-polars/polars/cfg.py
Labels: python

python polars 0.13.13 (#2938)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Updating ValueError on empty bytes for clarity
  py-polars/polars/io.py
Labels: python

Adding home directory support to io._prepare_file_arg
  py-polars/polars/io.py
Labels: python

Added example to set_tbl_cols (#2930)
  py-polars/polars/cfg.py
Labels: python

Updating ValueError on empty bytes for clarity (#2939)
  py-polars/polars/io.py
Labels: python
