Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

rechunk before writing to parquet (#2875)
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

fix n arg in split_exact
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

fix n arg in split_exact (#2879)
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

First try to parse sql and execute polars
  Cargo.toml
  polars/polarSQL/Cargo.toml
  polars/polarSQL/src/lib.rs
  polars/polarSQL/src/main.rs
Labels: rust

rename deprecated feature and formatting
  polars/polarSQL/Cargo.toml
  polars/polarSQL/src/main.rs
Labels: rust

less compiled code sort
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

Python: nest datatypes
  polars/polars-core/src/series/from.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_lists.py
Labels: python, rust

python: add null type
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/tests/test_lists.py
Labels: python

Python: nested datatypes; Allow casting list inner types. (#2882)
  polars/polars-core/src/series/from.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_lists.py
Labels: python, rust

python polars 0.13.11
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

added struct examples + fix typo
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

python polars 0.13.11 (#2883)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Added Struct examples to python docstrings (#2884)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

rust polars 0.20.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-utils/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.lock
Labels: python, rust

Remove crate from polars
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
Labels: rust

rust polars 0.20.0 (#2888)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-utils/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.lock
Labels: python, rust

Remove crate from polars (#2890)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
Labels: rust

chore(nodejs): fix compile issues
  nodejs-polars/Cargo.toml
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/functions.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
Labels: node-js

chore(nodejs): sync node polars with main
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
Labels: node-js

docs(node): fix #2893
  nodejs-polars/tsconfig.json
Labels: node-js

Nodejs updates (#2895)
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/functions.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
  nodejs-polars/tsconfig.json
Labels: node-js

Preserve inherited sub-classes on group by
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

Make DataFrame.unnest() preserve subclass
  py-polars/polars/internals/frame.py
Labels: python

python: respect dtype in create from numpy array
  py-polars/Cargo.lock
  py-polars/polars/internals/series.py
  py-polars/src/npy.rs
  py-polars/tests/test_interop.py
Labels: python

Preserve inherited DataFrame sub-classes on `groupby` operations (#2897)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

python: respect dtype in create from numpy array (#2899)
  py-polars/Cargo.lock
  py-polars/polars/internals/series.py
  py-polars/src/npy.rs
  py-polars/tests/test_interop.py
Labels: python

temporarely pin crossbeam-epoch
  polars/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

temporarely pin crossbeam-epoch (#2902)
  polars/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix unique and drop
  polars/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix explode of empty lists
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix unique and drop (#2908)
  polars/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix function input expansion
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix explode of empty lists (#2910)
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix function input expansion (#2913)
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix compilation lazy + string
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

fix compilation lazy + string (#2914)
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

respect dtype overwrite when schema is overwritten in lazy csv scanner
  polars/polars-lazy/src/frame/csv.rs
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

respect dtype overwrite when schema is overwritten in lazy csv scanner (#2915)
  polars/polars-lazy/src/frame/csv.rs
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

deprecate to_<file> and string cache in lazy
  polars/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

deprecate to_<file> and string cache in lazy (#2916)
  polars/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust
