Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

improve strictness/consistency of when then otherwise (#4241)
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

reinstate old ternary behavior as experimental
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

reinstate old ternary behavior as experimental (#4244)
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

More mypy improvements
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_exprs.py
Labels: python

correct dtype for power
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

correct dtype for power (#4246)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

csv: improve data/datetime/bool overwrite
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv: improve data/datetime/bool overwrite (#4247)
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

rust: polars 0.23.0
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

rust polars 0.23.0
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

Release rust 0.23.0 (#4248)
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

WIP
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/ipc/mod.rs
Labels: rust

native IPC memory map!
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/mmap.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

don't trigger rread on categorical data
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/series/from.rs
Labels: rust

fix boolean/numeric supertypes
  polars/polars-core/src/utils/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix tests
  polars/polars-lazy/src/tests/io.rs
Labels: rust

cast null to categorical
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

native IPC memory map! :tada: (#4250)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/mmap.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/tests/io.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

fix boolean/numeric supertypes (#4252)
  polars/polars-core/src/utils/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

cast null to categorical
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

python polars 0.13.60
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

cast null to categorical (#4254)
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

python polars 0.13.60 (#4255)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix groups edge case
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/Cargo.lock
  py-polars/tests/test_queries.py
Labels: python, rust

fix groups edge case (#4261)
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/Cargo.lock
  py-polars/tests/test_queries.py
Labels: python, rust

More mypy improvements (#4243)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_exprs.py
Labels: python

use faster compression backend for parquet
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/vector_hasher.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.61
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix top-level init
  py-polars/polars/__init__.py
Labels: python

Update .flake8
  py-polars/.flake8
Labels: python

Fix internals __init__
  py-polars/polars/internals/__init__.py
Labels: python

Include toggle_string_cache in __all__
  py-polars/polars/__init__.py
Labels: python

Unpin click
  py-polars/build.requirements.txt
Labels: python

Update docs dependencies
  py-polars/build.requirements.txt
Labels: python

Remove panels dependency
  py-polars/build.requirements.txt
  py-polars/docs/source/conf.py
Labels: python

starting pos option
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

lint
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

fix offset computation
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

Update to new arrow avro API
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/avro/mod.rs
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/avro/write.rs
  py-polars/Cargo.lock
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
