Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

ci: fix windows tests failure (#3122)
  .github/workflows/test-windows.yaml
Labels: none

README.md: corrected meaningful typo `32^2` => `2^32` (#3124)
  README.md
Labels: none

Parquet statistics: don't panic
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

lazy: expand cols in filter
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

python parquet: default to lz4 compression
  py-polars/polars/internals/frame.py
Labels: python

Python: only use jemalloc on linux
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python

temp fix test
  py-polars/tests/io/test_parquet.py
Labels: python

Python: only use jemalloc on linux (#3126)
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python

Parquet statistics: don't panic (#3127)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

lazy: expand cols in filter (#3128)
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

python parquet: default to lz4 compression (#3129)
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_parquet.py
Labels: python

python polars 0.13.22
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.22 (#3130)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

melt extra arguments
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

Joins: accept slice argument
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

melt extra arguments (#3133)
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

implement slice pushdown for joins
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

Lazy: Don't materialize whole table in JOIN followed by SLICE (#3136)
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

groupby accept slice
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

groupby slice pushodwn
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

Pushdown SLICE to GROUPBY nodes (#3138)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

wip
  py-polars/Cargo.toml
Labels: python

Switch from unmaintained jemalloctor to maintained tikv-jemallocator.
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

wip
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

Switch from unmaintained jemalloctor to maintained tikv-jemallocator. (#3141)
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

Support creation of polars series/dataframes from float16 numpy arrays.
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

WIP
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

correct
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

Support creation of polars series/dataframes from float16 numpy arrays. (#3142)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

fix logical
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

clippy
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/series.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

fix tests
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/tests/it/core/pivot.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

Polars vs Pivot: Round 3 🥊 `~2-25x` improvement (#3143)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/series.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/tests/it/core/pivot.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

DataFrame::partition_by
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

DataFrame::partition_by (#3148)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

wip
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
Labels: rust

clean up
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

dispatch
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/Cargo.toml
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_joins.py
Labels: python, rust

semi/anti multiple keys
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
Labels: rust

specialized impls
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_joins.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
