Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Move list method
  py-polars/polars/internals/expr.py
Labels: python

Add pyupgrade to CI
  .github/workflows/test-python.yaml
  py-polars/build.requirements.txt
Labels: python

Run pyupgrade
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

Update Makefile
  py-polars/Makefile
Labels: python

housekeeping
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/tests/it/lazy/expressions/expand.rs
Labels: rust

move function, clean up comments
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

add splitn function
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix docs check
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Add pyupgrade (#4369)
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/build.requirements.txt
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

rust nightly default for whole project (#4275)
  rust-toolchain
Labels: none

Introduce float_precision parameter to `DataFrame.write_csv`
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Expose datetime_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Expose date_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Expose time_format parameter to DataFrame.write_csv
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix groupby bench
  polars/benches/groupby.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

housekeeping (#4371)
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/tests/it/lazy/expressions/expand.rs
Labels: rust

Improve pytz integration
  py-polars/polars/utils.py
  py-polars/pyproject.toml
Labels: python

Remove type:ignore
  py-polars/polars/utils.py
Labels: python

Gather string literal conversions
  py-polars/src/conversion.rs
Labels: python

Standardize lifetimes
  py-polars/src/conversion.rs
Labels: python

Standardize string extraction
  py-polars/src/conversion.rs
Labels: python

Standardize match flow
  py-polars/src/conversion.rs
Labels: python

Standardize error message
  py-polars/src/conversion.rs
Labels: python

Improve pytz integration (#4386)
  py-polars/polars/utils.py
  py-polars/pyproject.toml
Labels: python

Replace NullBehavior parsing by Wrap
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

Implement Wrap for RankMethod
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

Implement Wrap for NullStrategy
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
Labels: python

Reorder wrap implementations
  py-polars/src/conversion.rs
Labels: python

Replace duplicate quantile parsing
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

fix stackoverflow in unique of empty series
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix stackoverflow in unique of empty series (#4389)
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Standardize conversion of Python string literals to Rust enums (#4388)
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

Add NullBehavior
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
Labels: python

Add RankMethod
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
Labels: python

Add PivotAgg
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/test_pivot.py
Labels: python

Add UniqueKeepStrategy
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/type_aliases.py
Labels: python

Add TimeUnit
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

Alphabetize type aliases
  py-polars/polars/internals/type_aliases.py
Labels: python

fix shift window functions
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_window.py
Labels: python, rust

fix shift window functions (#4390)
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_window.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
