Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fold regex expand
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

fold regex expand (#4181)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

python: prefer pyarrow when we can memory map the file
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

python: prefer pyarrow when we can memory map the file (#4182)
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

display struct field's name and dtype
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

window functions: sort cached groups if needed
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/test_window.py
Labels: python, rust

window functions: sort cached groups if needed (#4184)
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/test_window.py
Labels: python, rust

reduce supertype match by calling twice/ allow Some(tz)/None supertype
  polars/polars-core/src/utils/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

reduce supertype match by calling twice/ allow Some(tz)/None supertype (#4186)
  polars/polars-core/src/utils/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Added const empty initializer
  polars/polars-core/src/frame/mod.rs
Labels: rust

display struct field's name and dtype
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

Added import to doc test
  polars/polars-core/src/frame/mod.rs
Labels: rust

Added const empty initializer to DataFrame (#4187)
  polars/polars-core/src/frame/mod.rs
Labels: rust

fix utf8 explode for nulls and empty strings
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

fix utf8 explode for nulls and empty strings (#4189)
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

type-coercion: ignore unknown untill replaced
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

type-coercion: ignore unknown untill replaced (#4192)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

python: always use stdlib http reader and improve memmap ipc reader arguments
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
Labels: python

python: always use stdlib http reader and improve memmap ipc reader arguments (#4193)
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
Labels: python

slice pushdown for cross joins
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

csv: ignore quoted lines in skip lines
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

slice pushdown for cross joins (#4194)
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

csv: ignore quoted lines in skip lines (#4191)
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Small fixes in type formatting
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

Small fixes in type formatting (#4195)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

use native ndjson reader
  polars/polars-io/src/json.rs
Labels: rust

use native ndjson reader (#4196)
  polars/polars-io/src/json.rs
Labels: rust

python: pl.all()/pl.any() accept expr
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python

python polars: 0.13.59
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add flake8-comprehensions extension
  py-polars/build.requirements.txt
Labels: python

Fix linting errors
  py-polars/polars/_html.py
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_window.py
Labels: python

Fix linting errors
  py-polars/polars/_html.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

Add flake8-simplify extension
  py-polars/.flake8
  py-polars/build.requirements.txt
Labels: python

Update build versions
  py-polars/build.requirements.txt
  py-polars/docs/source/conf.py
Labels: python

Miscellaneous improvements
  .gitignore
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

python polars: 0.13.59 (#4198)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python

Miscellaneous improvements (#4203)
  .gitignore
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

Add flake8 extension: comprehensions (#4200)
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_window.py
Labels: python

Add flake8 extension: simplify (#4201)
  py-polars/.flake8
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

don't use pyarrow read if we have categoricals in the schema
  py-polars/polars/io.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
