Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

python: improve __setitem__ (#4121)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-io/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/src/set.rs
  py-polars/tests/test_series.py
Labels: python, rust

python polars 0.13.56
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.56 (#4127)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Assert deprecation warning on DataFrame.__setitem__ in tests (#4126)
  py-polars/tests/test_df.py
Labels: python

Run workflows on definition changes (#4125)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
Labels: none

fix 'fatal: unsafe repository' in python build
  .github/deploy_manylinux.sh
Labels: none

fix 'fatal: unsafe repository' in python build (#4129)
  .github/deploy_manylinux.sh
Labels: none

read nested categoricals
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/set.rs
Labels: python, rust

nested categoricals
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

Nested dict (#4131)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/set.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

improve performance of building global string cache from arrow dictionary
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
Labels: rust

improve performance of building global string cache from arrow dictionary (#4132)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
Labels: rust

fix explode edge cases
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

csv writer quote if string contains new line char
  polars/polars-io/src/csv/write_impl.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv writer quote if string contains new line char (#4134)
  polars/polars-io/src/csv/write_impl.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix explode edge cases (#4133)
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

add pl.cut utility
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_functions.py
Labels: python

Disallow untyped calls in mypy check
  py-polars/polars/internals/series.py
  py-polars/pyproject.toml
  py-polars/test.parquet
  py-polars/tests/test_df.py
Labels: python

Update
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_series.py
Labels: python

Update
  py-polars/pyproject.toml
Labels: python

Fix python_version
  py-polars/pyproject.toml
Labels: python

Make mypy not check untyped-calls on Python 3.7 in CI
  .github/workflows/test-python.yaml
Labels: none

Update 2
  py-polars/pyproject.toml
  py-polars/tests/io/test_parquet.py
Labels: python

Revert ignores
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_series.py
Labels: python

add pl.cut utility (#4137)
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_functions.py
Labels: python

Fix merge
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

Fix github CI yaml (hopefully)
  .github/workflows/test-python.yaml
Labels: none

Factor out Python3.7 in separate job
  .github/workflows/test-python.yaml
Labels: none

Fix yaml
  .github/workflows/test-python.yaml
Labels: none

Fix yaml
  .github/workflows/test-python.yaml
Labels: none

Fix rebase
  py-polars/tests/test_df.py
Labels: python

Add back type annotation
  py-polars/tests/test_df.py
Labels: python

ensure stack optimizations run at scan nodes
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/io/test_lazy_ipc.py
Labels: python, rust

miri: disable stacked borrows
  polars/Makefile
Labels: rust

ensure stack optimizations run at scan nodes (#4138)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/io/test_lazy_ipc.py
Labels: python, rust

miri: disable stacked borrows (#4139)
  polars/Makefile
Labels: rust

Mypy disallow untyped calls
  .github/workflows/test-python.yaml
  py-polars/polars/internals/series.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

python polars 0.13.57
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

Improve re-raises of Exceptions
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/tests/test_example.py
Labels: python

Remove test_example
  py-polars/tests/test_example.py
Labels: python
