Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

initial timezone support
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/upsample.rs
  py-polars/Cargo.lock
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

allow join on same cat source (#3363)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  py-polars/tests/test_joins.py
Labels: python, rust

fix rename same name (#3364)
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

initial timezone support (#3357)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/upsample.rs
  py-polars/Cargo.lock
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Add a flag to trim leading and trailing whitespaces while parsing data.
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

cargo fmt
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

pivot index maintain logical type
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

pivot index maintain logical type (#3367)
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

use array_ref in favor of chunks
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_struct.py
Labels: python, rust

use array_ref in favor of chunks (#3368)
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_struct.py
Labels: python, rust

entropy normalization arg
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

categorical keep type in comparisson
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

fmt
  py-polars/tests/test_exprs.py
Labels: python

entropy normalization arg (#3369)
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

categorical keep type in comparisson (#3370)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

rechunk in asof and allow concat to empty df
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

rechunk in asof and allow concat to empty df (#3376)
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

improve overflow of numeric mean
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

fix parquet stats
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

improve overflow of numeric mean (#3377)
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

fix parquet stats (#3378)
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

delay rechunk optimization
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

delay rechunk optimization (#3381)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

Allow Z in native strpttime
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/tests/it/io/csv.rs
Labels: rust

Allow Z in native strpttime (#3382)
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/tests/it/io/csv.rs
Labels: rust

more partitioned aggregators
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

more partitioned aggregators (#3385)
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

improve partition_by
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

improve partition_by (#3386)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

python polars 0.13.32
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add overload support to partition_by.
  py-polars/polars/internals/frame.py
Labels: python

Check if some arguments for read_csv and scan_csv got a 1 byte input.
  py-polars/polars/io.py
Labels: python

fix for #3365
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

python polars 0.13.32 (#3387)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add overload support to partition_by. (#3388)
  py-polars/polars/internals/frame.py
Labels: python

Check if some arguments for read_csv and scan_csv got a 1 byte input. (#3389)
  py-polars/polars/io.py
Labels: python

fix rayon SO in partition_by
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

fix rayon SO in partition_by (#3391)
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

python polars 0.13.33
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.33 (#3392)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
