Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Check if some arguments for read_csv and scan_csv got a 1 byte input. (#3389)
  py-polars/polars/io.py
Labels: python

Fix some unit test deprecation warnings (#3503)
  py-polars/polars/internals/frame.py
  py-polars/tests/conftest.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

improve partition_by (#3386)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

csv parser fallback on chrono if datetime pattern fails (#3436)
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

make cat merge fallible and loossen restrictions on categorical appends (#3491)
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

Allow Z in native strpttime (#3382)
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/tests/it/io/csv.rs
Labels: rust

power by expression and improve rust lazy ergonomics (#3475)
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/from.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/from.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/polars/internals/expr.py
  py-polars/src/file.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

python: expose PanicException (#3455)
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

python polars 0.13.35 (#3408)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

don't allow predicate pushdown if compared column is being coerced (#3457)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  Makefile
  polars/polars-core/src/lib.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/expressions/is_in.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix predicate pushdown for predicates that do aggregations (#3396)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

Fast json (#3324)
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/mod.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-io/src/prelude.rs
Labels: node-js, rust

list to struct (#3317)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/to_struct.rs
  polars/polars-ops/src/chunked_array/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Add datatypes and exceptions to Python docs (#3499)
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

fix rayon SO in partition_by (#3391)
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

python polars 0.13.32 (#3387)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

improve `rolling_var` performance (#3470)
  .github/workflows/test-windows-python.yaml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix struct list concat (#3435)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Improve list builders, iteration and construction (#3419)
  nodejs-polars/src/list_construction.rs
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/construction.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/tests/test_apply.py
  py-polars/tests/test_struct.py
Labels: python, node-js, rust

add apply to cookbooks (#3504)
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  py-polars/src/lib.rs
Labels: python, rust

Fix init of DataFrame with empty dataset (eg:"[]") and column/schema typedefs (#3353)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

implement anyvalue -> datatype for all variants (#3340)
  polars/Makefile
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

partial update rustc (#3456)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

Improving Python DataType support for Struct and repr (#3471)
  polars/polars-core/src/datatypes.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python polars 0.13.33 (#3392)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix typos (#3488)
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/shared_traits.ts
  polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python, node-js, rust

csv allow only header (#3423)
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

categorical keep type in comparisson (#3370)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
Labels: python, rust

Add extension_module in python example to skip linking against libpython.so and fix cargo build on unix systems (#3358)
  examples/python_rust_compiled_function/Cargo.toml
Labels: none

fix bigidx
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

patch python polars 0.13.34 (#3395)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

feat: support pl.Time in Series.str.strptime (#3496)
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-time/src/chunkedarray/time.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

serde for group options (#3349)
  polars/polars-lazy/src/prelude.rs
Labels: rust

feature gate timezones (#3422)
  polars/Cargo.toml
  polars/src/lib.rs
Labels: rust

Raise ImportError in to_pandas() and from_pandas() if pyarrow is not installed. (#3348)
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

fix parquet stats (#3378)
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

improve `rolling_{min/max/sum/mean}` prerformance `~3.4x` (#3444)
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

Added `PartitionedWriter` for disk partitioning. (#3331)
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/partition.rs
Labels: rust

initial timezone support (#3357)
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/upsample.rs
  py-polars/Cargo.lock
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
