Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

fix skew autoexplode and add test (#3251)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

Nodejs ser/de methods (#3250)
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/struct.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/native-polars.js
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

find first non null to determine pandas object type (#3303)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

Fix ipc_read_schema so Path() and filename which start with "~/" work. (#3297)
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

setup serializable function + null_count expr (#3247)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

partial support for list arithmetic (#3307)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

polars-ops (#3212)
  Cargo.toml
  polars/Cargo.toml
  polars/Makefile
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/lib.rs
  polars/polars-ops/src/prelude.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/boolean.rs
  polars/polars-ops/src/series/implementations/categoricals.rs
  polars/polars-ops/src/series/implementations/date.rs
  polars/polars-ops/src/series/implementations/datetime.rs
  polars/polars-ops/src/series/implementations/duration.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/implementations/list.rs
  polars/polars-ops/src/series/implementations/mod.rs
  polars/polars-ops/src/series/implementations/object.rs
  polars/polars-ops/src/series/implementations/struct_.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-ops/src/series/implementations/utf8.rs
  polars/polars-ops/src/series/mod.rs
  polars/src/prelude.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_categorical.py
Labels: python, rust

shuffle sample option (#3308)
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

python better datetime.time support (#3243)
  polars/polars-core/src/series/from.rs
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add partial decompression in read_csv (#3268)
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

bug template bounce resolved bugs (#3218)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

python polars 0.13.29 (#3294)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

struct: handle validity (#3217)
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix partition boundary (#3223)
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

fix offsets in categorical merge (#3242)
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

Serialize/Deserialize LazyFrames/Logical plans (#3244)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/options.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_serde.py
Labels: python, rust

fix row count for u64 idx (#3285)
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

fix partitoned and error don't ignore errors (#3273)
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

improve ternary in groupby context (#3248)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

add duration minutes (#3219)
  polars/polars-time/src/chunkedarray/duration.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

deprecate df[[col(foo)]] syntax (#3286)
  py-polars/polars/internals/frame.py
Labels: python

python polars 0.13.28 (#3276)
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

fix dispatch of quantile aggregations (#3234)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/Cargo.lock
  py-polars/tests/test_window.py
Labels: python, rust

Improving array refs for to_list (#3231)
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

remove badge (#3341)
  README.md
Labels: none

more partitioned aggregators (#3385)
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

improve overflow of numeric mean (#3377)
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

improve agg_list performance of chunked numerical data (#3351)
  Makefile
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

improve rolling_quantile kernel (no nulls) ~28x (#3437)
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

upgrade arrow (#3316)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

fix cumulative_eval on window expressions (#3421)
  polars/polars-lazy/src/dsl/eval.rs
  py-polars/tests/test_window.py
Labels: python, rust

improve and simplify ternary aggregation (#3403)
  polars/polars-core/src/series/unstable.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix bug in predicate pushdown on dependent predicates (#3394)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

Fix LazyFrame.join_asof documentation reference (#3493)
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

Improve struct (#3468)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Improve partitioned agg (#3314)
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

support all arrow dictionary keys < 64 bit (#3508)
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_interop.py
Labels: python, rust

Struct creations/append/extend stricter schema (#3454)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

allow join on same cat source (#3363)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  py-polars/tests/test_joins.py
Labels: python, rust

run inegration tests in coverage (#3301)
  Makefile
Labels: none
