Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

python polars 0.13.47
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Remove xlsx2csv hack
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

improve check that can automatically opt-in to the "contains_literal" fast-path
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/tests/it/lazy/expressions/arity.rs
  py-polars/Cargo.lock
Labels: python, rust

Replace OOB slice indexing with spare_capacity_mut
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

python polars 0.13.47 (#3734)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Replace OOB slice indexing with spare_capacity_mut (#3737)
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

pow fast paths
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
Labels: rust

pow fast paths (#3738)
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
Labels: rust

simplify fast-path check, unwinding regex-syntax dependency
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/Cargo.lock
Labels: python, rust

Simplify `contains` check that opts-in to `contains_literal` fast-path (#3736)
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix aritmetic bug introduced in #3709
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/test_queries.py
Labels: python, rust

check nan in sort by single column
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

fix aritmetic bug introduced in #3709 (#3741)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/test_queries.py
Labels: python, rust

check nan in sort by single column (#3742)
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

python fix concat
  py-polars/src/lib.rs
  py-polars/tests/test_queries.py
Labels: python

python fix concat (#3743)
  py-polars/src/lib.rs
  py-polars/tests/test_queries.py
Labels: python

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

python polars 0.13.48
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fixed a minor indentation error in test file
  py-polars/tests/test_queries.py
Labels: python

patch python polars 0.13.48 (#3744)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

ternary literal predicates
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

ternary literal predicates (#3747)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

python polars 0.13.49
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.49 (#3748)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Modify dataframe.apply docstring
  py-polars/polars/internals/frame.py
Labels: python

Modify dataframe.apply docstring
  py-polars/polars/internals/expr.py
Labels: python

pre-commit formatting
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

make pre-commit
  py-polars/tests/test_queries.py
Labels: python

extend literal fast-paths to string-replace methods
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, rust

fix docstring (didn't actually add 'n' param)
  py-polars/polars/internals/series.py
Labels: python

unset sorted on take
  polars/tests/it/core/random.rs
Labels: rust

unset sorted on take (#3756)
  polars/tests/it/core/random.rs
Labels: rust

reexport polars for extension libraries
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/src/lib.rs
Labels: node-js

add "clone_external" factory
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/src/lazy/dataframe.rs
Labels: node-js

chore: run linting
  nodejs-polars/polars/lazy/dataframe.ts
Labels: node-js

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

arg_where expression
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

reexport polars for extension libraries (#3760)
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lib.rs
Labels: node-js

add global __pl__
  nodejs-polars/polars/index.ts
Labels: node-js

code cleanup
  nodejs-polars/polars/index.ts
Labels: node-js
