Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix panic in csv parser
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

fix panic in csv parser (#3339)
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

Remove unnecessary count series. Remove unnecessary is_numeric implementation Wrap describe in a feature guard
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

Formatted code
  polars/polars-core/src/frame/mod.rs
Labels: rust

implement anyvalue -> datatype for all variants
  polars/Makefile
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

implement anyvalue -> datatype for all variants (#3340)
  polars/Makefile
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

remove badge
  README.md
Labels: none

remove badge (#3341)
  README.md
Labels: none

Added `PartitionedWriter` for disk partitioning. (#3331)
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/partition.rs
Labels: rust

Fast json (#3324)
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/mod.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-io/src/prelude.rs
Labels: node-js, rust

Raise ImportError in to_pandas() and from_pandas() if pyarrow is not installed.
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

Raise ImportError in to_pandas() and from_pandas() if pyarrow is not installed. (#3348)
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

serde for group options
  polars/polars-lazy/src/prelude.rs
Labels: rust

order of attributes
  polars/polars-lazy/src/prelude.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/prelude.rs
Labels: rust

use when non dynamic groupby
  polars/polars-lazy/src/prelude.rs
Labels: rust

cargo fmt
  polars/polars-lazy/src/prelude.rs
Labels: rust

add hash to rust expressions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

Check if length of index in pivot operation is non-zero. Fixes: #3343.
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

add hash to rust expressions (#3350)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

serde for group options (#3349)
  polars/polars-lazy/src/prelude.rs
Labels: rust

Check if length of index in pivot operation is non-zero. Fixes: #3343. (#3346)
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

CI: Update used actions to v3
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-js-release.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

on init of DataFrame with empty dataset (eg:"[]"), use same codepath as for None (#3321)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

fix test formatting
  py-polars/tests/test_df.py
Labels: python

improve agg_list performance of chunked numerical data
  Makefile
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

CI: Update used actions to v3 (#3352)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-js-release.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

additional de-lint
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

improve agg_list performance of chunked numerical data (#3351)
  Makefile
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

Fix init of DataFrame with empty dataset (eg:"[]") and column/schema typedefs (#3353)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

Fixed issue with describe feature gate. Need to specify describe function path
  polars/Cargo.toml
Labels: rust

rechunk on default sort and groupby
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
Labels: rust

Arrow2 now supports non-ordered projections in IPC. Fixes #1761.
  polars/polars-io/src/ipc.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

rechunk on default sort and groupby (#3354)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
Labels: rust

more partitioned groupby
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

more partitioned groupby (#3355)
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

Add extension_module in python example to skip linking against libpython.so and fix cargo build on unix systems
  examples/python_rust_compiled_function/Cargo.toml
Labels: none

Add extension_module in python example to skip linking against libpython.so and fix cargo build on unix systems (#3358)
  examples/python_rust_compiled_function/Cargo.toml
Labels: none

allow join on same cat source
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  py-polars/tests/test_joins.py
Labels: python, rust

fix rename same name
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
