Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

docs: examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
Labels: python

dynamic dispatch
  polars/polars-core/src/frame/mod.rs
Labels: rust

Docs examples (#3205)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
Labels: python

make sure to align chunks before join
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
Labels: rust

restore cargo.toml
  py-polars/Cargo.toml
Labels: python

sort columns option
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

added struct column tests
  py-polars/tests/test_df.py
Labels: python

added extra nested test
  py-polars/tests/test_df.py
Labels: python

improved assertions
  py-polars/tests/test_df.py
Labels: python

polars-ops
  Cargo.toml
  polars/Cargo.toml
  polars/Makefile
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/lib.rs
  polars/polars-ops/src/prelude.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/boolean.rs
  polars/polars-ops/src/series/implementations/categoricals.rs
  polars/polars-ops/src/series/implementations/date.rs
  polars/polars-ops/src/series/implementations/datetime.rs
  polars/polars-ops/src/series/implementations/duration.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/implementations/list.rs
  polars/polars-ops/src/series/implementations/mod.rs
  polars/polars-ops/src/series/implementations/object.rs
  polars/polars-ops/src/series/implementations/struct_.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-ops/src/series/implementations/utf8.rs
  polars/polars-ops/src/series/mod.rs
  polars/src/prelude.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_categorical.py
Labels: python, rust

moved tests to test_struct, added type hints
  py-polars/tests/test_df.py
  py-polars/tests/test_struct.py
Labels: python

Fix tree traversal complexity
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

polars-ops (#3212)
  Cargo.toml
  polars/Cargo.toml
  polars/Makefile
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/lib.rs
  polars/polars-ops/src/prelude.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/boolean.rs
  polars/polars-ops/src/series/implementations/categoricals.rs
  polars/polars-ops/src/series/implementations/date.rs
  polars/polars-ops/src/series/implementations/datetime.rs
  polars/polars-ops/src/series/implementations/duration.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/implementations/list.rs
  polars/polars-ops/src/series/implementations/mod.rs
  polars/polars-ops/src/series/implementations/object.rs
  polars/polars-ops/src/series/implementations/struct_.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-ops/src/series/implementations/utf8.rs
  polars/polars-ops/src/series/mod.rs
  polars/src/prelude.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_categorical.py
Labels: python, rust

Fix tree traversal complexity (#3213)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

update Series.max type hint
  py-polars/polars/internals/series.py
Labels: python

fix stats type hint
  py-polars/polars/internals/series.py
Labels: python

Update type hints for Series methods to include datetime types (#3215)
  py-polars/polars/internals/series.py
Labels: python

Adding struct column tests (#3209)
  py-polars/tests/test_df.py
  py-polars/tests/test_struct.py
Labels: python

struct: handle validity
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct: handle validity (#3217)
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_struct.py
Labels: python, rust

add duration minutes
  polars/polars-time/src/chunkedarray/duration.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

bug template bounce resolved bugs
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

bug template bounce resolved bugs (#3218)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

fix test
  py-polars/tests/test_queries.py
Labels: python

add duration minutes (#3219)
  polars/polars-time/src/chunkedarray/duration.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

fix test (#3222)
  py-polars/tests/test_queries.py
Labels: python

fix partition boundary
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

more restrictions
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

stricter
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

fix partition boundary (#3223)
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

python polars 0.13.25
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

update check_column_names argument name
  py-polars/polars/testing.py
Labels: python

update check_column_names argument in test
  py-polars/tests/test_testing.py
Labels: python

python polars 0.13.25 (#3224)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

docstring examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

New docs examples (#3226)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Option to check column order when comparing polars dataframes (#3206)
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

Consolidating struct construction with to_arrow(0)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
Labels: rust

Fixing array reference in list/iterator.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
Labels: rust

use lz4 raw
  py-polars/src/dataframe.rs
Labels: python
