Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

unnest operation
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/Makefile
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_struct.py
Labels: python, rust

unnest operation (#2848)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/Makefile
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix(core): contigious slice null count
  polars/polars-core/src/chunked_array/mod.rs
Labels: rust

chore(tests): join with empty series test case
  polars/tests/it/joins.rs
Labels: rust

Use null count to check for contiguous slices (#2849)
  polars/polars-core/src/chunked_array/mod.rs
  polars/tests/it/joins.rs
Labels: rust

misc fix: removing dbg macro and fix typo
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/ipc.rs
Labels: rust

undo std::simd incorrect aggregation
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

misc fix: removing dbg macro and fix typo (#2851)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/ipc.rs
Labels: rust

undo std::simd incorrect aggregation (#2852)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

python polars 0.13.10
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.10 (#2853)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Preserve type in DataFrame->DataFrame methods
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Shorten DataFrameType -> DF, LazyFrameType -> LDF
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

Preserve type in LazyFrame->LazyFrame methods
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_lazy.py
Labels: python

Remove unused import
  py-polars/polars/internals/lazy_frame.py
Labels: python

Preserve types of DataFrame subclasses (#2859)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

fix bug in predicate pd after renaming node
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix bug in predicate pd after renaming node (#2860)
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix: apply projection to select column
  polars/polars-io/src/avro.rs
  polars/polars-io/src/utils.rs
Labels: rust

export select columns of read_avro
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_avro.py
Labels: python

clippy
  polars/polars-io/src/avro.rs
Labels: rust

remove some generic code causing bloat and minor fixes to hashing collect
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/hashing.rs
Labels: rust

remove hash_join_inner from series trait
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

remove left join from series trait
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

Exported the select columns feature of AvroReader to `py-polars` (#2865)
  polars/polars-io/src/avro.rs
  polars/polars-io/src/utils.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_avro.py
Labels: python, rust

remove outer join from series trait
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

Reduce compiler bloat (#2866)
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

faster groupby for utf8 key pairs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/Cargo.toml
Labels: python, rust

Simply use of .lazy() in DataFrame methods
  py-polars/polars/internals/frame.py
Labels: python

Preserve DataFrame type after LazyFrame roundtrips
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

push slice in threadpools
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

faster groupby for utf8 key pairs (#2868)
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/Cargo.toml
Labels: python, rust

improve nested wildcard expansion
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_exprs.py
Labels: python, rust

improve nested wildcard expansion (#2870)
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_exprs.py
Labels: python, rust

Preserve DataFrame type after LazyFrame roundtrips (#2862)
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

split exact expression
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

split exact expression (#2872)
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

csv check quoted null values
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/parser.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

rechunk before writing to parquet
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

csv check quoted null values (#2873)
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/parser.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust
