Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

cast at logical level
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

cast at logical level (#2631)
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

don't forget offset in byte in vec_hasher
  polars/polars-core/src/vector_hasher.rs
Labels: rust

add obscure tests
  py-polars/tests/obscure.py
Labels: python

don't forget offset in byte in vec_hasher (#2635)
  polars/polars-core/src/vector_hasher.rs
Labels: rust

don't overwrite existing offset variable
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

don't overwrite existing offset variable (#2637)
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

python polars 0.13.1
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.1 (#2638)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix NaN in joins and init integration tests
  .github/workflows/build-test.yaml
  .github/workflows/test-windows.yaml
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/utils/series.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
Labels: rust

python default to mmap readers
  polars/polars-io/src/avro.rs
  polars/polars-io/src/ipc.rs
  py-polars/src/dataframe.rs
Labels: python, rust

fix NaN in joins and init integration tests (#2644)
  .github/workflows/build-test.yaml
  .github/workflows/test-windows.yaml
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/utils/series.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
Labels: rust

fix windows expressions and add range to df macro
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/cum_agg.rs
  polars/polars-core/src/named_from.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  polars/tests/it/main.rs
Labels: rust

fix windows expressions and add range to df macro (#2650)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/cum_agg.rs
  polars/polars-core/src/named_from.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  polars/tests/it/main.rs
Labels: rust

udpate arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

reduce heap allocs in strftime
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
Labels: rust

reduce heap allocs in strftime
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
Labels: rust

udpate arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix csv quote escaping empty fields
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

csv tests to integration tests
  polars/polars-io/src/csv.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/main.rs
Labels: rust

fix csv quote escaping empty fields
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

csv tests to integration tests
  polars/polars-io/src/csv.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/main.rs
Labels: rust

fix map/row_count pushdown
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

fix map/row_count pushdown
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

add test and remove dbg macro
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  polars/tests/it/main.rs
Labels: rust

log output in db-bench
  py-polars/tests/db-benchmark/main.py
Labels: python

python polars 0.13.2
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

make casting unit types easier
  .github/workflows/build-test.yaml
  polars/Makefile
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

log output in db-bench
  py-polars/tests/db-benchmark/main.py
Labels: python

python polars 0.13.2
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

add test and remove dbg macro
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  polars/tests/it/main.rs
Labels: rust

make casting unit types easier (#2660)
  .github/workflows/build-test.yaml
  polars/Makefile
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

throw error on invalid map expressions
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

parquet: read all arrays in row-group
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

throw error on invalid map expressions (#2664)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

parquet: read all arrays in row-group (#2665)
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

don't propagate null values in equality comparison
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add sample expression
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust
