Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

allow count in window expressions
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_window.py
Labels: python, rust

python polars 0.13.37
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.37 (#3426)
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_window.py
Labels: python, rust

infer dtype of empty list in recursive list construction
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix struct.arr take
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-ops/src/lib.rs
  polars/polars-time/src/lib.rs
  polars/polars-utils/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix test
  polars/polars-core/src/chunked_array/builder/list.rs
Labels: rust

infer dtype of empty list in recursive list construction & fix struct.arr take (#3433)
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-ops/src/lib.rs
  polars/polars-time/src/lib.rs
  polars/polars-utils/src/lib.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix struct list concat
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_struct.py
Labels: python, rust

csv parser fallback on chrono if datetime pattern fails
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix struct list concat (#3435)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_struct.py
Labels: python, rust

csv parser fallback on chrono if datetime pattern fails (#3436)
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

improve quantile kernel (no nulls) ~28x
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
Labels: rust

abstract and test sorted buf
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

improve quantile nulls
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

improve rolling_quantile kernel (no nulls) ~28x (#3437)
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

improve rolling_min/max prerformance ~3.4x
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

fix nan handling
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
Labels: rust

improve rolling sum
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_min_max_no_nulls.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

rolling mean
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_min_max_no_nulls.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

improve `rolling_{min/max/sum/mean}` prerformance `~3.4x` (#3444)
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

struct add chunk and impl reverse
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct add chunk and impl reverse (#3445)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix struct equality
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix struct equality (#3446)
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Struct error on different dict orders
  polars/polars-core/src/series/any_value.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

added context to read_csv when file not found
  py-polars/polars/internals/frame.py
Labels: python

Struct error on different dict orders (#3447)
  polars/polars-core/src/series/any_value.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

added rm -rf jetstream to satisfy type checker
  py-polars/polars/internals/frame.py
Labels: python

Inherit Exception in fallback exception classes
  py-polars/polars/exceptions.py
Labels: python

moved missing file check to rust
  py-polars/polars/internals/frame.py
  py-polars/src/file.rs
  py-polars/tests/test_df.py
Labels: python

added type hint to test
  py-polars/tests/test_df.py
Labels: python

rust formatting
  py-polars/src/file.rs
Labels: python

rust formatting
  py-polars/src/file.rs
Labels: python

Inherit Exception in fallback exception classes (#3450)
  py-polars/polars/exceptions.py
Labels: python

struct::new check duplicate name and add duplicate exception to python
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct append/extend check field names
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_struct.py
Labels: python, rust

Struct creations/append/extend stricter schema (#3454)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python: expose PanicException
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

partial update rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

python: expose PanicException (#3455)
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
