Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

python: improve error when passing DataFrame to LazyFrame
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_errors.py
Labels: python

Added describe method to rust library (#3320)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
Labels: rust

python: improve error when passing DataFrame to LazyFrame (#3482)
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_errors.py
Labels: python

Reduce realloc probability in several utilizations of GroupsProxy
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/src/lib.rs
Labels: rust

Fix typos
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/shared_traits.ts
  polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python, node-js, rust

Fix typos (#3488)
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/shared_traits.ts
  polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python, node-js, rust

groupby optimization for sorted keys
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sort_partition.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/partition.rs
  polars/tests/it/core/groupby.rs
  polars/tests/it/core/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_queries.py
Labels: python, rust

make cat merge fallible and loossen restrictions on categorical appends
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

Groupby Optimization for sorted keys: `~15x` perf gain. (#3489)
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sort_partition.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/src/lib.rs
  polars/tests/it/core/groupby.rs
  polars/tests/it/core/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_queries.py
Labels: python, rust

Fix LazyFrame.join_asof documentation reference
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

make cat merge fallible and loossen restrictions on categorical appends (#3491)
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

Fix LazyFrame.join_asof documentation reference (#3493)
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

feat: support pl.Time in Series.str.strptime
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-time/src/chunkedarray/time.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

feat: support pl.Time in Series.str.strptime (#3496)
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-time/src/chunkedarray/time.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

Add LazyFrame constructor to docs
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

Add data types and exceptions to Python documentation
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

Update strptime() docstrings and type hints to include Time
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Add datatypes and exceptions to Python docs (#3499)
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

Update strptime() docstrings and type hints to include Time (#3502)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

str().extract_all / str().count_match
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/strings/mod.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

add apply to cookbooks
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  py-polars/src/lib.rs
Labels: python, rust

str().extract_all / str().count_match (#3507)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/strings/mod.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

add apply to cookbooks (#3504)
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  py-polars/src/lib.rs
Labels: python, rust

support all arrow dictionary keys < 64 bit
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_interop.py
Labels: python, rust

support all arrow dictionary keys < 64 bit (#3508)
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_interop.py
Labels: python, rust

Fix some unit test deprecation warnings
  py-polars/tests/conftest.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

Add "no cover" pragma to deprecated DataFrame methods
  py-polars/polars/internals/frame.py
Labels: python

fix accidental quadratic behavior in rolling_groupby
  polars/polars-time/src/windows/groupby.rs
Labels: rust

fix accidental quadratic behavior in rolling_groupby (#3510)
  polars/polars-time/src/windows/groupby.rs
Labels: rust

WIP
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/rolling_kernels/mod.rs
  polars/polars-time/src/rolling_kernels/no_nulls.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

wip
  polars/Cargo.toml
  polars/polars-core/src/series/series_trait.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/boolean.rs
  polars/polars-time/src/series/implementations/categoricals.rs
  polars/polars-time/src/series/implementations/date.rs
  polars/polars-time/src/series/implementations/datetime.rs
  polars/polars-time/src/series/implementations/duration.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/polars-time/src/series/implementations/list.rs
  polars/polars-time/src/series/implementations/mod.rs
  polars/polars-time/src/series/implementations/object.rs
  polars/polars-time/src/series/implementations/struct_.rs
  polars/polars-time/src/series/implementations/time.rs
  polars/polars-time/src/series/implementations/utf8.rs
  polars/polars-time/src/series/mod.rs
Labels: rust

wip
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
Labels: rust

check all
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/series/implementations/integers.rs
Labels: rust

Fix some unit test deprecation warnings (#3503)
  py-polars/polars/internals/frame.py
  py-polars/tests/conftest.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

python tests run
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/boolean.rs
  polars/polars-time/src/series/implementations/categoricals.rs
  polars/polars-time/src/series/implementations/date.rs
  polars/polars-time/src/series/implementations/datetime.rs
  polars/polars-time/src/series/implementations/duration.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/polars-time/src/series/implementations/list.rs
  polars/polars-time/src/series/implementations/object.rs
  polars/polars-time/src/series/implementations/struct_.rs
  polars/polars-time/src/series/implementations/time.rs
  polars/polars-time/src/series/implementations/utf8.rs
  polars/polars-time/src/series/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

no macro
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/rolling_kernels/mod.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/polars-time/src/series/implementations/mod.rs
  polars/polars-time/src/series/mod.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

clippy and rolling tests
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/boolean.rs
  polars/polars-time/src/series/implementations/categoricals.rs
  polars/polars-time/src/series/implementations/date.rs
  polars/polars-time/src/series/implementations/datetime.rs
  polars/polars-time/src/series/implementations/duration.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/polars-time/src/series/implementations/list.rs
  polars/polars-time/src/series/implementations/object.rs
  polars/polars-time/src/series/implementations/struct_.rs
  polars/polars-time/src/series/implementations/time.rs
  polars/polars-time/src/series/implementations/utf8.rs
  polars/polars-time/src/series/mod.rs
  polars/polars-time/src/windows/duration.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust

wrap up
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_rolling.py
Labels: python, rust

use specialize kernels in rolling_groupby aggregation
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
Labels: rust

use specialize kernels in rolling_groupby aggregation (#3515)
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
