Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

update js-release ci
  .github/workflows/create-js-release.yaml
Labels: none

code cleanup
  nodejs-polars/benches/list-operations.js
  nodejs-polars/polars/cfg.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
Labels: node-js

update js-release ci
  .github/workflows/create-js-release.yaml
Labels: none

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

still working on ci
  .github/workflows/create-js-release.yaml
Labels: none

update js-release ci
  .github/workflows/create-js-release.yaml
Labels: none

remove unused targets
  nodejs-polars/package-lock.json
  nodejs-polars/package.json
  nodejs-polars/polars/native-polars.js
Labels: node-js

removing "musl" as it isnt supported by manylinux anyways
  .github/workflows/create-js-release.yaml
Labels: none

add sortBy
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/polars/lazy/expr.ts
Labels: node-js

remove unused files
  .github/workflows/create-js-release.yaml
  nodejs-polars/npm/android-arm-eabi/README.md
  nodejs-polars/npm/android-arm-eabi/package.json
  nodejs-polars/npm/android-arm64/package.json
  nodejs-polars/npm/darwin-arm64/package.json
  nodejs-polars/npm/darwin-x64/package.json
  nodejs-polars/npm/freebsd-x64/README.md
  nodejs-polars/npm/freebsd-x64/package.json
  nodejs-polars/npm/linux-arm64-musl/README.md
  nodejs-polars/npm/linux-arm64-musl/package.json
  nodejs-polars/npm/linux-x64-gnu/package.json
  nodejs-polars/npm/linux-x64-musl/README.md
  nodejs-polars/npm/linux-x64-musl/package.json
  nodejs-polars/npm/win32-arm64-msvc/README.md
  nodejs-polars/npm/win32-arm64-msvc/package.json
  nodejs-polars/npm/win32-x64-msvc/package.json
Labels: node-js

try musl witn a older image
  .github/workflows/create-js-release.yaml
Labels: none

update
  .github/workflows/create-js-release.yaml
  nodejs-polars/package.json
Labels: node-js

removing "musl" as it isnt supported by manylinux anyways
  .github/workflows/create-js-release.yaml
Labels: none

update
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/build.rs
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/utils.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/error.rs
  nodejs-polars/src/file.rs
  nodejs-polars/src/functions.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lib.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/utils.rs
Labels: node-js

fix pipeline
  .github/workflows/create-js-release.yaml
Labels: none

update build scripts
  nodejs-polars/package.json
  nodejs-polars/polars/internals/polars_internal.ts
  nodejs-polars/polars/native-polars.js
Labels: node-js

try musl witn a older image
  .github/workflows/create-js-release.yaml
Labels: none

disable musl
  .github/workflows/create-js-release.yaml
Labels: none

update compression
  .github/workflows/create-js-release.yaml
  nodejs-polars/package.json
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/src/conversion.rs
Labels: node-js

update compression
  nodejs-polars/src/conversion.rs
Labels: node-js

update compression
  nodejs-polars/package.json
Labels: node-js

still working on it
  nodejs-polars/package.json
Labels: node-js

init serde LP
  polars/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/logical_plan.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/logical_plan.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lib.rs
Labels: python, rust

impl basic serde for lp
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/options.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

python LazyFrame serde json round trip
  polars/polars-core/src/schema.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/logical_plan.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/logical_plan.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/test_serde.py
Labels: python, rust

more updates for 0.5.0
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/complex_types.test.ts
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/package.json
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/list_construction.rs
Labels: node-js

more updates for 0.5.0
  nodejs-polars/__tests__/complex_types.test.ts
Labels: node-js

"See Also" for Expr.replace() and Expr.replace_all()
  py-polars/polars/internals/expr.py
Labels: python

Extended docs for .replace() and .replace_all()
  py-polars/polars/internals/series.py
Labels: python

0.5.1
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/datatypes.rs
Labels: node-js

bump version
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

fix features
  polars/polars-core/src/schema.rs
Labels: rust

Serialize/Deserialize LazyFrames/Logical plans (#3244)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/options.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_serde.py
Labels: python, rust

setup serializable function + null_count expr
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

setup serializable function + null_count expr (#3247)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

improve ternary in groupby context
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

wip: serde for lazyframe
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/struct.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/native-polars.js
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

add ser/de for series,df,ldf & expr
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/struct.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

fix skew autoexplode and add test
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

improve ternary in groupby context (#3248)
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
