Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Improve Err() messages in nodejs-polars (#3546)
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

fix node compile errors
  nodejs-polars/Cargo.toml
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/list_construction.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: node-js, rust

wip: nodejs updates
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/series.rs
Labels: node-js

update rolling
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/series.ts
Labels: node-js

revert jsonpath
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

wip: anonymous_scan
  polars/.cargo/config
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/anonymous_scan.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

wip: anonymous_scan
  polars/.cargo/config
Labels: rust

fix node compile errors
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

wip: nodejs updates
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
Labels: node-js

update rolling
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
Labels: node-js

wip
  nodejs-polars/polars/index.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: node-js, rust

Nodejs updates (#3547)
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
Labels: node-js

make sort by multiple columns parallel
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/datatypes.rs
  py-polars/Cargo.lock
Labels: python, rust

make sort by multiple columns parallel (#3549)
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/datatypes.rs
  py-polars/Cargo.lock
Labels: python, rust

allow more aggregations on dtype duration
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/duration.rs
  py-polars/polars/io.py
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

allow more aggregations on dtype duration (#3550)
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/duration.rs
  py-polars/polars/io.py
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

use first series to validate length
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

use first series to validate length (#3551)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

update arrow WIP
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/error.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/error.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

Raise a more helpful TypeError when trying to subscript a LazyFrame.
  py-polars/polars/internals/lazy_frame.py
Labels: python

Raise a more helpful TypeError when trying to subscript a LazyFrame. (#3554)
  py-polars/polars/internals/lazy_frame.py
Labels: python

Fix with_parallel param parallel
  polars/polars-io/src/partition.rs
Labels: rust

Rust Readability r2
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

Readability Fixes r2 (#3556)
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

Fixed parquet
  polars/polars-io/src/parquet/write.rs
Labels: rust

add count_match, extract_all to python ref guide
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python

Fixed parquet (#3557)
  polars/polars-io/src/parquet/write.rs
Labels: rust

add count_match, extract_all to python ref guide (#3558)
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python

finish update
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

add compression levels
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
Labels: python, rust

update arrow (#3553)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/error.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/error.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

fill_null limits
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/pct_change.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/date_range.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

fill_null limits (#3559)
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/pct_change.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/date_range.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

test sortedness propagation
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/src/series.rs
Labels: python, rust

test sortedness propagation (#3560)
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/src/series.rs
Labels: python, rust

more node updates
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

more node updates (#3562)
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

update booelan aggregates and ensure they return IdxSize
  polars/polars-core/src/chunked_array/ops/aggregate.rs
Labels: rust

update booelan aggregates and ensure they return IdxSize (#3563)
  polars/polars-core/src/chunked_array/ops/aggregate.rs
Labels: rust

working sorted left_join kernel
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
Labels: rust
