Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

python lhs power and broadcast (#3768)
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_exprs.py
Labels: python, rust

improve predicate combination and schema state (#3788)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_datelike.py
  py-polars/tests/test_queries.py
Labels: python, rust

Cache file reads `(tpch 2/7) ~5%` faster (#3774)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dummies.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

str.ends_with/ str.starts_with (#3770)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

fix duration computation (#3790)
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

always include offset in groupby_dynamic (#3779)
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
Labels: rust

Update arrow2 to support IPC Stream Reading with projections (#3793)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix bug in agg projections and init tpch schema tests (#3771)
  examples/datasets/tpc_heads/customer.feather
  examples/datasets/tpc_heads/lineitem.feather
  examples/datasets/tpc_heads/nation.feather
  examples/datasets/tpc_heads/orders.feather
  examples/datasets/tpc_heads/part.feather
  examples/datasets/tpc_heads/partsupp.feather
  examples/datasets/tpc_heads/region.feather
  examples/datasets/tpc_heads/supplier.feather
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
Labels: rust

Some API alignment (missing funcs) between `DataFrame`, `LazyFrame`, and `Series` (#3791)
  .gitignore
  py-polars/.gitignore
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

python fix arr.contains type (#3782)
  py-polars/polars/internals/expr.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

quarter expression (#3797)
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

docs: sort subsection entries (#3794)
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/docs/source/reference/testing.rst
Labels: python

Allow `date_range` to produce `date` ranges as well as `datetime` (#3798)
  py-polars/polars/internals/functions.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

extend literal fast-paths to string-replace methods
  py-polars/polars/internals/series.py
Labels: python

don't copy the sorted flag on many operations (#3795)
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/Cargo.toml
  polars/tests/it/core/groupby.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

csv don't skip trailing delimiters when infering schema. (#3799)
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv don't skip delimiter in whitespace trimming (#3796)
  polars/polars-io/src/csv_core/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

remove static serde
  polars/polars-core/src/datatypes/_serde.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/schema.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

clippy
  polars/polars-arrow/src/index.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
Labels: rust

update rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  polars/polars-core/src/frame/asof_join/mod.rs
Labels: rust

fix issue with reading batch files, return Ok for waiting
  polars/polars-io/src/ipc/ipc_stream.rs
Labels: rust

add is finite examples
  py-polars/polars/internals/expr.py
Labels: python

don't write to &ref in transpose
  polars/polars-core/src/frame/row.rs
Labels: rust

python polars 0.13.50
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Fix Node installation instructions
  README.md
Labels: none

Store metadata so it can be fetched, as otherwise if read IPC will error
  polars/polars-io/src/ipc/ipc_stream.rs
Labels: rust

Fix Node installation instructions (#3804)
  README.md
Labels: none

ci fix
  polars/polars-io/src/ipc/ipc_stream.rs
Labels: rust

don't write to &ref in transpose
  polars/polars-core/src/frame/row.rs
Labels: rust

python polars 0.13.50
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

rolling groupby fix index column output order
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

rolling groupby fix index column output order (#3806)
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Add support for IPC Streaming Read/Write (#3783)
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
  polars/polars-io/src/prelude.rs
  polars/polars-io/src/utils.rs
  polars/tests/it/io/ipc_stream.rs
  polars/tests/it/io/mod.rs
Labels: rust

Add serde feature to field to fix serde feature
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

fmt fix
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

refactor(reinterpretted_buf): Correct spelling to reinterpreted_buf
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
Labels: rust

chore(chunked_array): Readability improvements
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
Labels: rust

docs: fix formatting
  py-polars/polars/internals/frame.py
Labels: python

docs: fix typo and formatting
  py-polars/polars/internals/frame.py
Labels: python

chore: `chunked_array` readability improvements (#3810)
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
Labels: rust
