Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

cleanup trusted len trait
  polars/polars-arrow/src/trusted_len/push_unchecked.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
Labels: rust

error on invalid asof_join by input (#3053)
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_errors.py
Labels: python, rust

update arrow (#3054)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/trusted_len/push_unchecked.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

improve performance of asof_join by > 2 keys
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python, rust

improve performance of asof_join by > 2 keys (#3055)
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python, rust

python polars 0.13.18
  py-polars/Cargo.toml
Labels: python

python polars 0.13.18 (#3056)
  py-polars/Cargo.toml
Labels: python

improve numpy value conversion in apply
  py-polars/polars/internals/construction.py
  py-polars/tests/test_apply.py
Labels: python

python polars 64 release
  .github/deploy_manylinux.sh
  README.md
Labels: none

python polars 64 release (#3059)
  .github/deploy_manylinux.sh
  README.md
Labels: none

improve numpy value conversion in apply (#3058)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_apply.py
Labels: python

handle numpy integers as return values
  py-polars/Cargo.lock
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

handle numpy integers as return values (#3063)
  py-polars/Cargo.lock
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

update rustc to nightly-2022-04-02
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
Labels: node-js

update rustc to nightly-2022-04-02 (#3064)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
Labels: node-js

Fix comment, add WHERE and a few other binary Ops
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/sql_expr.rs
Labels: none

improve boolean null comparsions consistency
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

remove unneeded expensive assert
  polars/polars-core/src/series/unstable.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_fallible.py
  py-polars/tests/test_window.py
Labels: python, rust

rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
Labels: node-js

remove unneeded expensive assert (#3069)
  polars/polars-core/src/series/unstable.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_fallible.py
  py-polars/tests/test_window.py
Labels: python, rust

improve boolean null comparsions consistency (#3068)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: node-js, rust

fix entropy
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

fix entropy (#3070)
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

python apply can extract anyvalues
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

python apply can extract anyvalues (#3071)
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

comment out patch.crates-io in Cargo.toml
  Cargo.toml
Labels: none

core: default .sample() to random seeds
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

py/js: updates for default random seeds for .sample()
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/series.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python, node-js

fmt: finalize formatting
  polars/polars-core/src/chunked_array/random.rs
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

rs lint: fix gha clippy failure
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

attempting to resolve failing gha linting
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

js: added js fix
  nodejs-polars/src/series.rs
Labels: node-js

formatting & js tests fix
  nodejs-polars/src/series.rs
  polars/polars-core/src/chunked_array/random.rs
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, node-js, rust

python series from timedelta and Duration::to_list
  py-polars/tests/test_datelike.py
Labels: python

python series from timedelta and Duration::to_list (#3082)
  py-polars/tests/test_datelike.py
Labels: python

fix explode empty lists
  polars/polars-arrow/src/bitmap/mod.rs
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix explode empty lists (#3083)
  polars/polars-arrow/src/bitmap/mod.rs
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_df.py
Labels: python, rust

Lazy: update schema in explode op
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

wip
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/strptime.rs
Labels: rust

Lazy: update schema in explode op (#3084)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
