Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

remove feature flagging
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
Labels: rust

updates to anonymous scan
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

anonymous scan with projection pushdown
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

code cleanup
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

fix test
  polars/polars-lazy/src/tests/io.rs
Labels: rust

chore: cargo fmt
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

update tests
  polars/polars-lazy/src/tests/io.rs
Labels: rust

update tests
  polars/polars-lazy/src/tests/io.rs
Labels: rust

Updated the fmt feature flag error message
  polars/polars-core/src/fmt.rs
Labels: rust

Updated the fmt feature flag error message (#3586)
  polars/polars-core/src/fmt.rs
Labels: rust

Fix u16 Series formatting. (#3584)
  polars/polars-core/src/fmt.rs
Labels: rust

Update str replace docs (#3582)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

update arrow to crates.io
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-lazy/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
Labels: python, rust

rust polars 0.22.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix features
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

rust polars 0.22.0 & update arrow to crates.io: `~2x json` parsing improvement (#3588)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
Labels: python, rust

respect ipc column ordering
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

respect ipc column ordering (#3591)
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

zfill expression
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Remove dbg
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

zfill expression (#3593)
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

patch_release
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.43
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Patch release (#3595)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

Add back in the sorts
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

Fix TOML typos
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
Labels: rust

Use openpyxl instead of xlsx2csv
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

fix jsonpathlib::PathCompiled
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

Fix TOML typos (#3598)
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
Labels: rust

ljust and rjust expressions
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/_html.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
  py-polars/tests/test_strings.py
Labels: python, rust

Anonymous scan lazyframe (#3561)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

ljust and rjust expressions (#3603)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/_html.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
  py-polars/tests/test_strings.py
Labels: python, rust

structure for qcut function
  polars/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/cut_qcut.rs
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

cut/qcut integer prototype
  polars/polars-ops/src/chunked_array/cut_qcut.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

cruft
  polars/polars-ops/src/chunked_array/cut_qcut.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/mod.rs
Labels: rust

cast string to categorical in 'is_in'
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

cast string to categorical in 'is_in' (#3606)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

python data type units
  polars/polars-core/src/datatypes.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

python data type units (#3609)
  polars/polars-core/src/datatypes.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

unset sorted metadata on append
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
