Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

refactor csv modules
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/mod.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-io/src/csv_core/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

csv: allow multiple null values
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/tests/it/io/csv.rs
  py-polars/src/conversion.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv: allow multiple null values
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/tests/it/io/csv.rs
  py-polars/src/conversion.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

refactor csv modules
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/mod.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-io/src/csv_core/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

python polars 0.13.53
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.53
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Improve lazy state struct
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
Labels: python, rust

Improve lazy state struct (#4008)
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
Labels: python, rust

docs: improve fetch,head,collect docs
  py-polars/polars/internals/lazy_frame.py
Labels: python

docs: fix formatting and see also of csv
  py-polars/polars/io.py
Labels: python

docs: run hash examples
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

docs: rework date_range mwe and docstrings
  py-polars/polars/internals/functions.py
Labels: python

docs: add mwe for cleared
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

docs: add mwe for ljust, rjust
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

align the exclude docstrings and annotation
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

python: fix pyarrow imports
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_parquet.py
Labels: python

python: fix pyarrow imports (#4025)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_parquet.py
Labels: python

fix lazy schema
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix lazy schema (#4027)
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_schema.py
Labels: python, rust

align the exclude docstrings and annotation (#4020)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

docs: add mwe and internal links (#4019)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

impl explode for nested lists
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

impl explode for nested lists (#4028)
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

allow joining on expressions
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/tests/test_joins.py
Labels: python, rust

allow joining on expressions (#4029)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/tests/test_joins.py
Labels: python, rust

allow nulls last in sort by expressions
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_sort.py
Labels: python, rust

allow nulls last in sort by expressions (#4030)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_sort.py
Labels: python, rust

python polars 0.13.54
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.54 (#4031)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Add rust trigo functions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigo.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
Labels: rust

Add Python bindings
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
Labels: python

Add tests for hyperbolic functions
  py-polars/tests/test_series.py
Labels: python

Update docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Fix docs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python

add initial tests
  py-polars/tests/test_df.py
Labels: python

add __contains__ dunder
  py-polars/polars/internals/frame.py
Labels: python

add membership tests for lazyframe
  py-polars/tests/test_lazy.py
Labels: python

impl `__contains__` for lazyframe
  py-polars/polars/internals/lazy_frame.py
Labels: python

feat: implement __contains__ for DataFrame and LazyFrame (#4035)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Remove pypolars/legacy folder
  py-polars/legacy/README.md
  py-polars/legacy/deploy.sh
  py-polars/legacy/pypolars/__init__.py
  py-polars/legacy/pypolars/datatypes.py
  py-polars/legacy/pypolars/frame.py
  py-polars/legacy/pypolars/functions.py
  py-polars/legacy/pypolars/lazy.py
  py-polars/legacy/pypolars/series.py
  py-polars/legacy/setup.py
Labels: python
