Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

polars 0.21.1
  .github/workflows/coverage.yaml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

run inegration tests in coverage
  Makefile
Labels: none

python lazyframe schema
  polars/polars-core/src/schema.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

find first non null to determine pandas object type
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

Remove unneeded type: ignore (#3173)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_series.py
Labels: python

polars 0.21.1 (#3300)
  .github/workflows/coverage.yaml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

find first non null to determine pandas object type (#3303)
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

python lazyframe schema (#3302)
  polars/polars-core/src/schema.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

add lazyframe attributes docs
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

add lazyframe attributes docs (#3305)
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

partial support for list arithmetic
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

shuffle sample option
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

Fix typos in Python lib
  py-polars/CHANGELOG.md
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

partial support for list arithmetic (#3307)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

shuffle sample option (#3308)
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

improve predicate pushdown
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

improve predicate pushdown (#3313)
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

remove redundant aggregate phys expr
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
Labels: rust

rename Physical Aggregation
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

refactor parittioned aggregation and add count
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

Improve partitioned agg (#3314)
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

Fix typos in Python lib (#3311)
  py-polars/CHANGELOG.md
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

Update cummax documentation
  py-polars/polars/internals/series.py
Labels: python

python improve from_dict performance
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/src/dataframe.rs
  py-polars/src/py_modules.rs
Labels: python

python improve from_dict performance (#3315)
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/src/dataframe.rs
  py-polars/src/py_modules.rs
Labels: python

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

upgrade arrow (#3316)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

list to struct
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/to_struct.rs
  polars/polars-ops/src/chunked_array/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

list to struct (#3317)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/to_struct.rs
  polars/polars-ops/src/chunked_array/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

oncecell in favor of lazy_static
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

oncecell in favor of lazy_static (#3319)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

Added describe method to DataFrame to mimic pandas compatibility it includes quantiles
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

remove unused params
  polars/polars-io/src/json_core/json.rs
Labels: rust

update sample
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/json_core/json.rs
Labels: node-js, rust

wip: fast json
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/json_core/buffer.rs
  polars/polars-io/src/json_core/json.rs
  polars/polars-io/src/json_core/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/prelude.rs
Labels: node-js, rust

Add missing parameter in example doc
  polars/polars-core/src/frame/mod.rs
Labels: rust

finish up fast json
  nodejs-polars/polars/io.ts
  polars/polars-io/src/json_core/buffer.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/mod.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-io/src/prelude.rs
Labels: node-js, rust

Fixed warnings of return statement and needless-borrows
  polars/polars-core/src/frame/mod.rs
Labels: rust

Added return in doc example
  polars/polars-core/src/frame/mod.rs
Labels: rust

chore: cargo fmtting
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust
