Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix bug in predicate pushdown on dependent predicates
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix bug in predicate pushdown on dependent predicates (#3394)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

patch python polars 0.13.34
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix predicate pushdown for predicates that do aggregations
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
Labels: rust

patch python polars 0.13.34 (#3395)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

test
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix predicate pushdown for predicates that do aggregations (#3396)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

cumulative_eval
  polars/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

fix min_periods
  polars/polars-lazy/src/dsl/eval.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python, rust

cumulative_eval (#3400)
  polars/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

ensure that Cast expressions first updates groups before it flattens
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/tests/test_queries.py
Labels: python, rust

ensure that Cast expressions first updates groups before it flattens (#3401)
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/tests/test_queries.py
Labels: python, rust

Update output in docs for describe method
  polars/polars-core/src/frame/mod.rs
Labels: rust

improve and simplify ternary aggregation
  polars/polars-core/src/series/unstable.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

improve and simplify ternary aggregation (#3403)
  polars/polars-core/src/series/unstable.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

fix explode empty df
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

fix explode empty df (#3405)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

Python apply -> list
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python, rust

Python apply -> list (#3406)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python, rust

python polars 0.13.35
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.35 (#3408)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-time/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

dispatch maintain order
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix GIL deadlocks
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

Patch (#3411)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-time/Cargo.toml
  py-polars/Cargo.lock
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

python polars 0.13.36
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.36 (#3412)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

list namespace to polars-ops
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/Cargo.lock
Labels: python, rust

Improve list builders, iteration and construction
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/construction.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/tests/test_apply.py
  py-polars/tests/test_struct.py
Labels: python, rust

fix tests and fix struct::agg_list
  nodejs-polars/src/list_construction.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-ops/Cargo.toml
  py-polars/tests/test_struct.py
Labels: python, node-js, rust

Improve list builders, iteration and construction (#3419)
  nodejs-polars/src/list_construction.rs
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/construction.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/tests/test_apply.py
  py-polars/tests/test_struct.py
Labels: python, node-js, rust

fix cumulative_eval on window expressions
  polars/polars-lazy/src/dsl/eval.rs
  py-polars/tests/test_window.py
Labels: python, rust

feature gate timezones
  polars/Cargo.toml
  polars/src/lib.rs
Labels: rust

feature gate timezones (#3422)
  polars/Cargo.toml
  polars/src/lib.rs
Labels: rust

fix cumulative_eval on window expressions (#3421)
  polars/polars-lazy/src/dsl/eval.rs
  py-polars/tests/test_window.py
Labels: python, rust

csv allow only header
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

update rustc to 2022-05-17
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
Labels: none

csv allow only header (#3423)
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

upgrade arrow (#3425)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
