Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix[rust]: argsort argument expansion fixed (#4434)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

docs: rust-docs: add note regarding usage in async context
  polars/src/lib.rs
Labels: rust

docs: rust-docs: replace broken wasm tree-of-contents entry with user guide
  polars/src/lib.rs
Labels: rust

docs: rust-docs: add small mention regarding jemalloc showing better performance on linux
  polars/src/lib.rs
Labels: rust

perf[rust]: use vec![value;n] for ChunkedArray::full (#4435)
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

formatting
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
Labels: python

Docs/small improvements to the rust doc landing page (#4436)
  polars/src/lib.rs
Labels: rust

fix[python]: allow an apply that produces empty list values
  py-polars/src/apply/mod.rs
  py-polars/tests/test_apply.py
Labels: python

fix[python]: improve from_dicts nested null inference
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix[python]: allow an apply that produces empty list values (#4437)
  py-polars/src/apply/mod.rs
  py-polars/tests/test_apply.py
Labels: python

Add "with_string_field_enclosed", to enclose string fields in CSVWriter.
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/tests/it/io/csv.rs
Labels: rust

fix[python]: improve from_dicts nested null inference (#4440)
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix[rust]: rolling_max no_null dispatch
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix[rust]: rolling_max no_null dispatch (#4442)
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix[rust]: fix rolling_min/max for arrays with null values
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/lib.rs
Labels: rust

fix[rust]: ensure left argument of functions is iterated first
  polars/polars-lazy/src/logical_plan/iterator.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

fix[rust]: fix rolling_min/max for arrays with null values (#4446)
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/lib.rs
Labels: rust

fix[rust]: ensure left argument of functions is iterated first (#4447)
  polars/polars-lazy/src/logical_plan/iterator.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

Upgrade issue templates to GH forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yaml
  .github/ISSUE_TEMPLATE/bug_report_python.yaml
  .github/ISSUE_TEMPLATE/bug_report_rust.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yaml
Labels: none

Remove title keys, cannot be empty
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yaml
  .github/ISSUE_TEMPLATE/bug_report_python.yaml
  .github/ISSUE_TEMPLATE/bug_report_rust.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
Labels: none

Fix some small issues with templates + yaml -> yml
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yml
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: none

chore: Upgrade GH issue templates to GH forms (#4449)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yml
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
Labels: none

fix[rust]: fix and test all rolling extrema paths
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

docs[python]: added expression docstrings
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
Labels: python

fix[rust]: fix and test all rolling extrema paths (#4453)
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

fix[rust]: rolling_groupby extrema fixed
  polars/polars-core/src/chunked_array/ops/reverse.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_rolling.py
  py-polars/tests/test_sort.py
Labels: python, rust

fix[rust]: rolling_groupby extrema fixed (#4454)
  polars/polars-core/src/chunked_array/ops/reverse.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_rolling.py
  py-polars/tests/test_sort.py
Labels: python, rust

feat[rust, python] add Expr::search_sorted
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/search_sorted.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

feat[rust, python] add Expr::search_sorted (#4456)
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/search_sorted.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix[rust]: fix and test sorted fast paths
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

Refactor ewm_std and ewm_var to support adjust and bias parameters
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
Labels: rust

[feat] properly support np.datetime64 init for Series
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

de-lint
  py-polars/polars/internals/series/series.py
Labels: python

fix[rust]: fix and test sorted fast paths (#4457)
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

perf[rust]: set sorted flag on series filled with constant
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

fix[rust]: maintain logical type in value counts
  polars/polars-ops/src/series/ops/various.rs
  py-polars/tests/test_struct.py
Labels: python, rust

perf[rust]: set sorted flag on series filled with constant (#4459)
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

fix[rust]: maintain logical type in value counts (#4460)
  polars/polars-ops/src/series/ops/various.rs
  py-polars/tests/test_struct.py
Labels: python, rust

doc[python]: add allowed type None to method `.fill_nan()` for data frame and series and expression
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

chore[rust]: update arrow
  examples/read_csv/Cargo.toml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/predicates.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
