Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

don't use pyarrow read if we have categoricals in the schema (#4205)
  py-polars/polars/io.py
Labels: python

added more docstrings down to interpolate
  py-polars/polars/internals/expr.py
Labels: python

Upgrade black, blackdoc, mypy, flake8
  py-polars/build.requirements.txt
Labels: python

Resolve mypy reexport errors
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
Labels: python

Use io.BytesIO instead of polar.io.BytesIO
  py-polars/tests/io/test_avro.py
Labels: python

Switch no_implicit_reexport = true
  py-polars/pyproject.toml
Labels: python

Use cast instead of type: ignore to fix Python 3.7 CI errors
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

python: don't lock gil in arr.contains
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

python: don't lock gil in arr.contains (#4210)
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

fix nested struct append
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix nested struct append (#4217)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

use default context for col upstream col expression type
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_struct.py
Labels: python, rust

use default context for col upstream col expression type (#4219)
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_struct.py
Labels: python, rust

ensure weekday starts at 0
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

ensure weekday starts at 0 (#4220)
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

python datetime consistency
  py-polars/polars/internals/construction.py
  py-polars/src/conversion.rs
  py-polars/tests/test_datelike.py
Labels: python

python: improve error
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

python: ensure utf8 encoding when writing dot file
  py-polars/polars/internals/lazy_frame.py
Labels: python

python datetime consistency (#4221)
  py-polars/polars/internals/construction.py
  py-polars/src/conversion.rs
  py-polars/tests/test_datelike.py
Labels: python

python: improve error (#4223)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

Upgrade black, blackdoc, mypy, flake8 (#4209)
  py-polars/build.requirements.txt
Labels: python

python: ensure utf8 encoding when writing dot file (#4225)
  py-polars/polars/internals/lazy_frame.py
Labels: python

convert arrow map to list<struct>
  polars/polars-core/src/series/from.rs
Labels: rust

convert arrow map to list<struct> (#4226)
  polars/polars-core/src/series/from.rs
Labels: rust

fast path for sorted min/max
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_sort.py
Labels: python, rust

fast path for sorted min/max (#4228)
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_sort.py
Labels: python, rust

rolling exprs docstrings
  py-polars/polars/internals/expr.py
Labels: python

Add flake8-type-checking extension
  py-polars/build.requirements.txt
Labels: python

Add settings
  py-polars/.flake8
Labels: python

Fix lints
  py-polars/polars/_html.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_lazy.py
Labels: python

Set no_implicit_reexport = true in `pyproject.toml` (#4211)
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/pyproject.toml
  py-polars/tests/io/test_avro.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

fix and improve rolling_skew
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/moment.rs
  polars/polars-core/src/series/unstable.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/utils/series.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/rolling.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/rolling.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

fix and improve rolling_skew (#4232)
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/moment.rs
  polars/polars-core/src/series/unstable.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/utils/series.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/rolling.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/rolling.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

Overload pl.from_arrow type hints
  py-polars/polars/convert.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/io.py
  py-polars/tests/io/test_other.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python

ternary expr: validate predicate in groupby context
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

ternary expr: validate predicate in groupby context (#4237)
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

Overload pl.from_arrow type hints (#4236)
  py-polars/polars/convert.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/io.py
  py-polars/tests/io/test_other.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python

python: allow horizontal expanding sum
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_expr_multi_cols.py
Labels: python

improve strictness/consistency of when then otherwise
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

python: allow horizontal expanding sum (#4242)
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_expr_multi_cols.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
