Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

Fast/cheap empty `clone` ops (#3883)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

fix predicate pushdown in union + count expression (#3882)
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

add join/union branch in window cache keys (#3884)
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

Concise empty class syntax (#3864)
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

fix groups after take expression (#3881)
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

Modern style type hints (#3863)
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

parquet read: fix remaining_rows counter (#3887)
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

additional negative indexing support, and frame-level "take_every"
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

additional negative indexing support, and frame-level "take_every" (#3888)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Update docstring
  py-polars/polars/internals/expr.py
Labels: python

Add TODO comment
  py-polars/polars/internals/frame.py
Labels: python

Dispatch some numpy functionality
  py-polars/polars/internals/series.py
Labels: python

Fix stringified types
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
Labels: python

Remove unnecessary numpy check
  py-polars/polars/internals/construction.py
Labels: python

Address pytest deprecation warnings
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Add interchange subpackage namespace
  py-polars/polars/interchange/__init__.py
  py-polars/tests/interchange/test_dataframe.py
Labels: python

initial move of hypothesis/parametric tests into their own parallel dir
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
  py-polars/tests_parametric/test_series.py
  py-polars/tests_parametric/test_testing.py
Labels: python

Refactor dataframe interchange namespace
  py-polars/polars/interchange/__init__.py
  py-polars/polars/interchange/_utils.py
  py-polars/polars/interchange/buffer.py
  py-polars/polars/interchange/column.py
  py-polars/polars/interchange/dataframe.py
  py-polars/tests/interchange/test_buffer.py
  py-polars/tests/interchange/test_column.py
  py-polars/tests/interchange/test_dataframe.py
Labels: python

Fix reading of gzipped CSV files. Fixes: #3895
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

docs: fix link to series method in DataFrame
  polars/polars-core/src/frame/mod.rs
Labels: rust

fix relative imports
  py-polars/tests/test_datelike.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_lists.py
Labels: python

add a "make test-all", and automatically include parametric tests in "make test-with-cov" (for CI)
  py-polars/Makefile
Labels: python

Make numpy an optional requirement (#3861)
  py-polars/polars/convert.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

Address pytest deprecation warnings (#3889)
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

Fix reading of gzipped CSV files. Fixes: #3895 (#3896)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Relocate hypothesis unit tests to parallel `tests_parametric` dir (#3899)
  py-polars/Makefile
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
  py-polars/tests_parametric/test_series.py
  py-polars/tests_parametric/test_testing.py
Labels: python

Assign dtypes to expected columns when dtypes is a list and column selection is used when reading a CSV file.
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

complete pythonic slice support (inc. negative indexing and stride) for DataFrame and Series, with supporting parametric (and quick) tests
  py-polars/build.requirements.txt
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

remove debug 'print' statements
  py-polars/tests/test_df.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

de-lint (unused imports)
  py-polars/tests_parametric/test_series.py
Labels: python

Assign dtypes to expected columns when dtypes is a list and column selection is used when reading a CSV file. (#3901)
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

docs: fix link to series method in DataFrame (#3897)
  polars/polars-core/src/frame/mod.rs
Labels: rust

docs: Improve py-polars docs (#3873)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

Complete pythonic slice support (inc. negative indexing/stride) for DataFrame and Series (#3904)
  py-polars/build.requirements.txt
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

Make embedded CSV test strings easier to read.
  py-polars/tests/io/test_csv.py
Labels: python

Implement pow/rpow
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Implement __setitem__
  py-polars/polars/internals/series.py
Labels: python

Update - frame.py
  py-polars/polars/internals/frame.py
Labels: python

quiet an unnecessary warning
  py-polars/polars/testing.py
Labels: python

Fix Series.take
  py-polars/polars/internals/series.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
