Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

add sample expression (#2668)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

* update "fill_null" docstrings with additional example (#2666)
  polars/polars-io/src/avro.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python, rust

don't propagate null values in equality comparison (#2667)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.3
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.3 (#2669)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

chore: update .github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
Labels: none

chore: update .github issue templates (#2675)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
Labels: none

add map_alias expression
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix stackoverflow in parquet stats evaluation
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

fix is_in for empty lists
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix stackoverflow in parquet stats evaluation (#2677)
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

add map_alias expression (#2678)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix is_in for empty lists (#2679)
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

fix any and python dispatch to proper any impl
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python, rust

fix any and python dispatch to proper any impl (#2680)
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python, rust

wip
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

more
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/index.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

more
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

core checks
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

checks run
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/sort.rs
Labels: rust

convert tests
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

all good
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/index.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
Labels: rust

rust: move week/day/hour etc to 'dt()' namespace
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust

add unique_stable
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

Fix writing an avro file when a filename is passed to pl.to_avro(): fixes #2689
  py-polars/src/dataframe.rs
Labels: python

try aarch64 build for manylinux
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

Fix writing an avro file when a filename is passed to pl.to_avro(): fixes #2689 (#2692)
  py-polars/src/dataframe.rs
Labels: python

wip
  polars/polars-core/src/chunked_array/logical/categorical.rs
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add unique_stable
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

rust: move week/day/hour etc to 'dt()' namespace
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust

update arrow (#2693)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

refactor categorical to logicaltype
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/categorical/builder.rs
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/ops/take/take_every.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

more
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

python polars 0.13.4
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

and more
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/categorical/merge.rs
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/reverse.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/null.rs
Labels: rust

python polars 0.13.4 (#2695)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

and more
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/categorical.rs
Labels: rust

core is happy
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/into.rs
Labels: rust

Update .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-manylinux.yaml
Labels: none
