Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

chore: linting errors
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

run cargo fmt
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

fix series sample
  nodejs-polars/polars/series/series.ts
Labels: node-js

fix series sample
  nodejs-polars/__tests__/dataframe.test.ts
Labels: node-js

wip
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/polars/internals/anonymous_scan.py
Labels: python, rust

Update cummax documentation (#3323)
  py-polars/polars/internals/series.py
Labels: python

python polars 0.13.30
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
Labels: python

fix bigidx
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

added feature (partition) and dependencies (uuid)
  polars/polars-io/Cargo.toml
Labels: rust

added resolve partition df
  polars/polars-io/src/utils.rs
Labels: rust

added partition ipc writer and its test
  polars/polars-io/src/ipc.rs
Labels: rust

added doc
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/utils.rs
Labels: rust

fix import
  polars/polars-io/src/ipc.rs
Labels: rust

use tempdir
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/utils.rs
Labels: rust

remove unused remove_all_dir
  polars/polars-io/src/ipc.rs
Labels: rust

fix doctest
  polars/polars-io/src/ipc.rs
Labels: rust

fmt
  polars/polars-io/src/utils.rs
Labels: rust

clippy
  polars/polars-io/src/ipc.rs
Labels: rust

schema from pyarrow
  polars/polars-core/src/schema.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/datatypes.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
Labels: python, rust

python polars 0.13.31
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python node
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.toml
  py-polars/polars/datatypes.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

python polars 0.13.31
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix bigidx
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python

python polars 0.13.30
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
Labels: python

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
Labels: python, rust

working scan_ds
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/expr.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/io/test_pyarrow_dataset.py
Labels: python, rust

chore: address PR review comments
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

uremove local pool
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

pr cleanup
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

Adding code coverage badge for CodeCov
  README.md
Labels: none

remove uuid
  polars/polars-io/Cargo.toml
Labels: rust

change serwriter
  polars/polars-io/src/avro.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
Labels: rust

added PartitionedWriter
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/partition.rs
  polars/polars-io/src/utils.rs
Labels: rust

refactor partitioned writer
  polars/polars-io/Cargo.toml
  polars/polars-io/src/partition.rs
Labels: rust

docs
  polars/polars-io/src/partition.rs
Labels: rust

fix docs
  polars/polars-io/src/partition.rs
Labels: rust

scan pyarrow dataset (#3327)
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/io/test_pyarrow_dataset.py
Labels: python, rust

Adding code coverage badge for CodeCov (#3336)
  README.md
Labels: none

run inegration tests in coverage (#3301)
  Makefile
Labels: none
