Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

struct add chunk and impl reverse (#3445)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python improve from_dict performance (#3315)
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/src/dataframe.rs
  py-polars/src/py_modules.rs
Labels: python

Patch (#3411)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-time/Cargo.toml
  py-polars/Cargo.lock
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

Added describe method to rust library (#3320)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
Labels: rust

pivot index maintain logical type (#3367)
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

add hash to rust expressions (#3350)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

explode series after slide fast path (#3467)
  polars/polars-core/src/frame/explode.rs
  py-polars/src/file.rs
  py-polars/tests/test_explode.py
Labels: python, rust

CI: Update used actions to v3 (#3352)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-js-release.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

improve rolling_min/max for columns with null values (#3458)
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_no_nulls.rs
Labels: rust

entropy normalization arg (#3369)
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

infer dtype of empty list in recursive list construction & fix struct.arr take (#3433)
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-ops/src/lib.rs
  polars/polars-time/src/lib.rs
  polars/polars-utils/src/lib.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

improve predicate pushdown (#3313)
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

python: improve error when passing DataFrame to LazyFrame (#3482)
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_errors.py
Labels: python

python polars 0.13.36 (#3412)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

oncecell in favor of lazy_static (#3319)
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.37 (#3426)
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_window.py
Labels: python, rust

rechunk in asof and allow concat to empty df (#3376)
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

delay rechunk optimization (#3381)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

python polars 0.13.30
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
Labels: python

more partitioned groupby (#3355)
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

Inherit Exception in fallback exception classes (#3450)
  py-polars/polars/exceptions.py
Labels: python

python polars 0.13.38 (#3472)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.31
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Python apply -> list (#3406)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python, rust

Update cummax documentation (#3323)
  py-polars/polars/internals/series.py
Labels: python

upgrade arrow (#3425)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

rechunk on default sort and groupby (#3354)
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
Labels: rust

Add overload support to partition_by. (#3388)
  py-polars/polars/internals/frame.py
Labels: python

scan pyarrow dataset (#3327)
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/io/test_pyarrow_dataset.py
Labels: python, rust

Struct error on different dict orders (#3447)
  polars/polars-core/src/series/any_value.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

add specialized rolling_std kernel (#3476)
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

Update strptime() docstrings and type hints to include Time (#3502)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Adding code coverage badge for CodeCov (#3336)
  README.md
Labels: none

Fix typos in Python lib (#3311)
  py-polars/CHANGELOG.md
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

fix explode empty df (#3405)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

Improve rolling_sum/rolling_mean for windows with null values. (#3466)
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
Labels: rust

Groupby Optimization for sorted keys: `~15x` perf gain. (#3489)
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sort_partition.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/src/lib.rs
  polars/tests/it/core/groupby.rs
  polars/tests/it/core/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_queries.py
Labels: python, rust

ensure that Cast expressions first updates groups before it flattens (#3401)
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix struct equality (#3446)
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix panic in csv parser (#3339)
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
