Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Mypy warn redundant casts (#4055)
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

Add mypy optional error codes (#4054)
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/pyproject.toml
Labels: python

recursively convert arrow logical types in to_arrow
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

recursively convert arrow logical types in to_arrow (#4067)
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

Get rid of backslash linebreak
  py-polars/polars/internals/expr.py
Labels: python

improve unique performance
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

Minor formatting and typos
  nodejs-polars/src/lazy/dataframe.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/utils.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_pyarrow_dataset.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_datelike.py
Labels: python, node-js

improve unique performance (#4070)
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

Small formatting fixes (#4071)
  nodejs-polars/src/lazy/dataframe.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/utils.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_pyarrow_dataset.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_datelike.py
Labels: python, node-js

Add error codes to source code
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

Add error codes to tests
  py-polars/polars/datatypes.py
  py-polars/pyproject.toml
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_other.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
  py-polars/tests/test_testing.py
  py-polars/tests/test_window.py
Labels: python

Enable ignore-without-code mypy setting
  py-polars/pyproject.toml
Labels: python

[mypy] Add error codes (#4072)
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_other.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
  py-polars/tests/test_testing.py
  py-polars/tests/test_window.py
Labels: python

Add flake8-bugbear dependency
  py-polars/build.requirements.txt
Labels: python

docs: minor formatting fixes
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

docs: add missing parameters section
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

docs: fix links in df.lazy()
  py-polars/polars/internals/frame.py
Labels: python

docs: add mwe for str slice
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: rework the mwe for unnest
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

docs: add mwe for rank
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

Make mypy not check untyped-calls on Python 3.7 in CI
  .github/workflows/test-python.yaml
Labels: none

Fix merge
  py-polars/tests/test_df.py
Labels: python

Handle flake8-bugbear errors
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_window.py
Labels: python

Fix github CI yaml (hopefully)
  .github/workflows/test-python.yaml
Labels: none

Add lazy() method to LazyFrame
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_lazy.py
Labels: python

Fix yaml
  .github/workflows/test-python.yaml
Labels: none

reduce contention of global string cache
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

remove dead code
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
Labels: rust

reduce contention of global string cache: `>4x` performance improvement (#4078)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

Add lazy() method to LazyFrame (#4077)
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_lazy.py
Labels: python

[flake8] Enable flake8-bugbear extension (#4073)
  py-polars/build.requirements.txt
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_window.py
Labels: python

csv: allow reading with different eol character
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

csv: allow reading with different eol character (#4080)
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

Remove read_excel hacks
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

docs: rework some MWE and minor formatting fixes (#4082)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

Upgrade maturin to 0.13.0
  .github/workflows/benchmark.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  README.md
  examples/python_rust_compiled_function/pyproject.toml
  py-polars/build.requirements.txt
  py-polars/pyproject.toml
Labels: python

Upgrade maturin to 0.13.0 (#4086)
  .github/workflows/benchmark.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  README.md
  examples/python_rust_compiled_function/pyproject.toml
  py-polars/build.requirements.txt
  py-polars/pyproject.toml
Labels: python

dataframe display: use POLARS_FMT_STR_LEN
  polars/polars-core/src/config.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/lib.rs
Labels: rust

don't allow comparing local categoricals
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-io/Cargo.toml
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/Cargo.lock
  py-polars/polars/testing.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python, rust

dataframe display: use POLARS_FMT_STR_LEN (#4088)
  polars/polars-core/src/config.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/lib.rs
Labels: rust
