Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

partial update rustc (#3456)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

don't allow predicate pushdown if compared column is being coerced
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  Makefile
  polars/polars-core/src/lib.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/expressions/is_in.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

don't allow predicate pushdown if compared column is being coerced (#3457)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  Makefile
  polars/polars-core/src/lib.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/expressions/is_in.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

improve rolling_min/max for columns with null values
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_no_nulls.rs
Labels: rust

improve rolling_min/max for columns with null values (#3458)
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_no_nulls.rs
Labels: rust

Improve error message in FileNotFoundError (#3448)
  py-polars/src/file.rs
  py-polars/tests/test_df.py
Labels: python

improve rolling_sum nulls
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_nulls.rs
Labels: rust

refactor rolling kernel modules
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
Labels: rust

improve rolling mean nulls
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
Labels: rust

explode series after slide fast path
  polars/polars-core/src/frame/explode.rs
  py-polars/src/file.rs
  py-polars/tests/test_explode.py
Labels: python, rust

Improve rolling_sum/rolling_mean for windows with null values. (#3466)
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
Labels: rust

explode series after slide fast path (#3467)
  polars/polars-core/src/frame/explode.rs
  py-polars/src/file.rs
  py-polars/tests/test_explode.py
Labels: python, rust

implement Series::full_null for Struct
  polars/polars-core/src/series/ops/null.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

struct check field names not dtypes
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix unique for struct
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Improve struct (#3468)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

improve rolling_var performance no_nulls
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

improve performance rolling_variance with nulls
  .github/workflows/test-windows-python.yaml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  py-polars/tests/test_struct.py
Labels: python, rust

improve `rolling_var` performance (#3470)
  .github/workflows/test-windows-python.yaml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Improving Python DataType support for Struct and repr
  polars/polars-core/src/datatypes.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Fixing formatting
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
Labels: python

python polars 0.13.38
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.38 (#3472)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Improving Python DataType support for Struct and repr (#3471)
  polars/polars-core/src/datatypes.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

power by expression
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/file.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix and improve rust lazy ergonomics
  polars/polars-lazy/src/dsl/from.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/from.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

power by expression and improve rust lazy ergonomics (#3475)
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/from.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/from.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/polars/internals/expr.py
  py-polars/src/file.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

add specialized rolling_std kernel
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

Fixing merge conflicts
  examples/json_path/Cargo.toml
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

Updating function signatures
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

Adding basic example of typed JsonPath matching
  Cargo.toml
  examples/json_path/Cargo.toml
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

Updating based on arrow2 changes
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
Labels: rust

Improving Python DataType support for Struct and repr
  py-polars/polars/__init__.py
Labels: python

Fixing formatting
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
  py-polars/polars/__init__.py
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
Labels: python, rust

Adding Python facing API for nested JSON
  examples/json_path/src/main.rs
  polars/polars-core/src/chunked_array/strings/json_path.rs
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
Labels: python, rust

add specialized rolling_std kernel (#3476)
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

fix null commutativity
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

use anyvalue if first apply list result is empty
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

fix null commutativity (#3479)
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

use anyvalue if first apply list result is empty (#3480)
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python
