Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

fix skew autoexplode and add test (#3251)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

quantile agg; update grouptuples
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

Blacken changes to .replace() and .replace_all()
  py-polars/polars/internals/expr.py
Labels: python

Blacken changes to .replace() and .replace_all()
  py-polars/polars/internals/series.py
Labels: python

Nodejs ser/de methods (#3250)
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/struct.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/native-polars.js
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

node: 0.5.2 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

quantile agg; update grouptuples (#3252)
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

node: 0.5.2 release (#3254)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

Only pass dtype to __array__, if not None: Fixes #3253
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python

Only pass dtype to __array__, if not None: Fixes #3253 (#3257)
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python

polars 0.21.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

do not write empty chunk to parquet
  polars/polars-io/src/parquet/write.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/io/parquet.rs
Labels: rust

polars 0.21.0 (#3258)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

do not write empty chunk to parquet (#3259)
  polars/polars-io/src/parquet/write.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/io/parquet.rs
Labels: rust

support basic struct fields in from_dicts
  py-polars/polars/convert.py
  py-polars/tests/test_interop.py
Labels: python

formatting
  py-polars/polars/convert.py
  py-polars/tests/test_interop.py
Labels: python

include count in partitioned_gb
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

improve partitoned groupby and fix csv duplicate columns
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
Labels: python, rust

undo some changes
  polars/tests/it/lazy/groupby.rs
  py-polars/Cargo.toml
Labels: python, rust

fix tests
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/io/csv.rs
Labels: rust

fix features
  polars/Makefile
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: rust

improve sample_perf
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

Improve partitioned groupby (#3263)
  polars/Makefile
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
Labels: python, rust

special shuffle impl
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

improve sample_perf (#3264)
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

add iso strptime patterns
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

add iso strptime patterns (#3265)
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

wip: csv reader
  js-polars/.gitignore
  js-polars/Cargo.toml
  js-polars/index.js
  js-polars/src/conversion/mod.rs
  js-polars/src/dataframe.rs
  js-polars/src/series.rs
  js-polars/worker.js
  polars/polars-core/src/lib.rs
  polars/polars-io/src/csv_core/csv.rs
Labels: rust

add partial decompression in read_csv
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

update readme
  js-polars/README.md
Labels: none

had to disable the "pool"
  js-polars/Cargo.toml
  js-polars/README.md
  js-polars/index.html
  js-polars/src/conversion/from.rs
  js-polars/src/conversion/mod.rs
  js-polars/src/dataframe.rs
  js-polars/src/datatypes.rs
  js-polars/src/lib.rs
  js-polars/src/series.rs
  js-polars/src/utils.rs
  js-polars/webpack.config.js
  js-polars/worker.js
  polars/polars-core/src/lib.rs
  polars/polars-io/src/csv_core/csv.rs
Labels: rust

wip: wasm
  js-polars/Cargo.toml
  js-polars/index.html
  js-polars/index.js
  js-polars/src/dataframe.rs
  js-polars/worker.js
Labels: none

wip: wasm
  js-polars/worker.js
Labels: none

test and improve
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add partial decompression in read_csv (#3268)
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

upgrade arrow (#3269)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python: recursive from_dicts
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/test_struct.py
Labels: python, rust

fix features
  polars/polars-core/src/frame/row.rs
Labels: rust

Treat strings as non-sequence
  py-polars/polars/internals/lazy_functions.py
Labels: python
