Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

fix row count file projection pushdown (#3635)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

fix list concat
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_lists.py
Labels: python, rust

fix list concat (#3636)
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_lists.py
Labels: python, rust

rust publish makefile
  polars/Makefile
Labels: rust

Improve numpy ufunc support. fixes: #3228
  py-polars/polars/datatypes.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

Fix ufunc for 64-bit integers on Windows.
  py-polars/polars/datatypes.py
  py-polars/tests/test_series.py
Labels: python

rust publish makefile (#3637)
  polars/Makefile
Labels: rust

improve explode of empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_df.py
Labels: python, rust

improve explode of empty lists (#3638)
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_df.py
Labels: python, rust

Improve numpy ufunc support. fixes: #3228 (#3583)
  py-polars/polars/datatypes.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

update anonymous_scan function
  polars/polars-core/src/frame/row.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

cleanup
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

cargo cleanup
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
Labels: rust

Update various python build requirements.
  py-polars/build.requirements.txt
  py-polars/tests/test_df.py
Labels: python

is_in for struct dtype
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/tests/test_struct.py
Labels: python, rust

Update various python build requirements. (#3641)
  py-polars/build.requirements.txt
  py-polars/tests/test_df.py
Labels: python

is_in for struct dtype (#3639)
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/tests/test_struct.py
Labels: python, rust

add skiprows & n_rows back in
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

fallback to "anyvalue" for ndjson parsing
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

wip: ndjson reader updates
  nodejs-polars/src/lazy/dataframe.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: node-js, rust

make pushdown options non-fallible
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
Labels: rust

make pushdown options non-fallible
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
Labels: rust

update ndjson reader
  nodejs-polars/src/lazy/dataframe.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: node-js, rust

chore: code cleanup
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

chore: code cleanup
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

chore: code cleanup
  polars/polars-io/src/ndjson_core/buffer.rs
Labels: rust

use indexmap instead of btreemap
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust

Update black and change some code so is sees it as a call chain.
  py-polars/build.requirements.txt
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_strings.py
  py-polars/tests/test_struct.py
  py-polars/tests/test_window.py
Labels: python

Update black and change some code so is sees it as a call chain. (#3645)
  py-polars/build.requirements.txt
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_strings.py
  py-polars/tests/test_struct.py
  py-polars/tests/test_window.py
Labels: python

another release for docs.rs
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

concat list determine supertype
  polars/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_lists.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

concat list determine supertype (#3649)
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/test_lists.py
Labels: python, rust

update arrow (#3650)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

parallel csv writer
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/mod.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/csv_core/write.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/contention_pool.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

parallel csv writer (#3652)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/mod.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/csv_core/write.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/contention_pool.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix groups state in complex aggregation
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

fix groups state in complex aggregation (#3656)
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

Added StringCache Python API example
  py-polars/polars/string_cache.py
Labels: python

Add Expr.reverse() Py API example
  py-polars/polars/internals/expr.py
Labels: python
