Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

fix[rust]: ewm_mean better handling of min_periods (#4501)
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

Clarify `polar.from_*` clones data
  py-polars/polars/convert.py
Labels: python

feat[python]: add more infer_schema_length arguments
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
Labels: python

Update convert.py
  py-polars/polars/convert.py
Labels: python

Fix E501 line too long
  py-polars/polars/convert.py
Labels: python

doc[rust]: update to latest api changes (#4522)
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  polars/src/docs/performance.rs
  polars/src/lib.rs
Labels: rust

feat[python]: add more infer_schema_length arguments (#4525)
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
Labels: python

python polars 0.14.3
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  rust-toolchain.toml
Labels: python

fix pipeline
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
Labels: none

use env
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

0.14.4
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

cleanup unneeded comment
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

python polars 0.14.3/4 (#4526)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  rust-toolchain.toml
Labels: python

ci: fix bigidx release
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

ci: fix bigidx release (#4527)
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

feat[python]: improve error msg of unsupported df.__getitem__ call
  py-polars/polars/internals/dataframe/frame.py
Labels: python

feat[python]: improve error msg of unsupported df.__getitem__ call (#4528)
  py-polars/polars/internals/dataframe/frame.py
Labels: python

feat[rust]: make clip expr inplace when owned
  polars/polars-core/src/series/ops/round.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

make scan_{ipc, parquet} accept `AsRef<Path>` instead of `String`
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
Labels: rust

make `LazyCsvReader` accept `AsRef<Path>` instead of `String`
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/tests/io.rs
  polars/src/lib.rs
Labels: rust

feat[rust]: make clip expr inplace when owned (#4530)
  polars/polars-core/src/series/ops/round.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

add columns parameter to dummy functions
  polars/polars-ops/src/frame.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

adjust tests to new api
  examples/read_csv/src/main.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/src/docs/lazy.rs
Labels: rust

forego converting a `PathBuf` to a `String` and back to a `PathBuf` again
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
Labels: rust

fix read_parquet example
  examples/read_parquet/src/main.rs
Labels: none

Update convert.py
  py-polars/polars/convert.py
Labels: python

remove unused import
  polars/polars-lazy/src/frame/parquet.rs
Labels: rust

feat[rust, python]: add columns parameter to dummy functions (#4531)
  polars/polars-ops/src/frame.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

feat[rust, python]: clip_min,clip_max exprs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-lazy/src/dsl/function_expr/clip.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

feat[python]: df.__getitem__ allow boolean sequence in column position
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_df.py
Labels: python

feat[rust, python]: clip_min,clip_max exprs (#4534)
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-lazy/src/dsl/function_expr/clip.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

feat[python]: df.__getitem__ allow boolean sequence in column position (#4535)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_df.py
Labels: python

feat[rust]: allow io functions to take `AsRef<Path>`s instead of `String` for path arguments (#4532)
  examples/read_csv/src/main.rs
  examples/read_parquet/src/main.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/src/docs/lazy.rs
  polars/src/lib.rs
Labels: rust

docs[python]: Clarify `polar.from_*` clones data (#4524)
  py-polars/polars/convert.py
Labels: python

(chore)Improve display versions Python issue report
  .github/ISSUE_TEMPLATE/bug_report_python.yml
Labels: none

fix[python]: str.upper/lowercase correct schema
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_queries.py
Labels: python, rust

chore[python]: Improve display versions Python issue report (#4539)
  .github/ISSUE_TEMPLATE/bug_report_python.yml
Labels: none

fix[python]: str.upper/lowercase correct schema (#4540)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix[rust]: fix slice pushdown in rolling/dynamic groupby
  polars/polars-core/src/error.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

docs[python]: List optional dependencies for polars in README.
  README.md
Labels: none
