Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

docs: enhance the io docstrings
  py-polars/polars/io.py
Labels: python

docs: convert example section comments into prose
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: simple fixes to missing sections
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

docs: fix formatting
  py-polars/polars/internals/lazy_functions.py
Labels: python

docs: update `fill` docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

docs: update map and apply docstrings
  py-polars/polars/internals/expr.py
Labels: python

docs: fix warning markup
  py-polars/polars/internals/lazy_frame.py
Labels: python

docs: standardize deprecation markup in docstrings
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

fixup: align to convention #3932
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

Remove "import polars as pl" from docstrings (#3948)
  py-polars/polars/testing.py
Labels: python

[docs] improve python polars documentation (#3954)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

Fixed most `See Also` docstring formatting, quietened the last warnings coming from `doctests` (#3932)
  py-polars/Makefile
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_testing.py
Labels: python

groupby apply: use inner type to infer dtype
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

python: loossen truncate sorted restriction in docstring
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

python: loossen truncate sorted restriction in docstring (#3956)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

groupby apply: use inner type to infer dtype (#3955)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

python polars 0.13.52
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.52 (#3957)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

Update README.md
  README.md
Labels: none

Fix from_records/from_numpy orient type
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

Fix pytest warning
  py-polars/tests/test_interop.py
Labels: python

Fix pytest warning (#3962)
  py-polars/tests/test_interop.py
Labels: python

Update README.md (#3959)
  README.md
Labels: none

implicit datelike string comparison warning
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

implicit datelike string comparison warning (#3967)
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

fix count union predicate
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

fix count union predicate (#3969)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

LazyFrame slice support - efficient paths only
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/testing.py
  py-polars/tests/test_lazy.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
Labels: python

docs: fix markup
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
Labels: python

docs: add null to `hash` example
  py-polars/polars/internals/expr.py
Labels: python

docs: fix read_sql docstring
  py-polars/polars/io.py
Labels: python

docs: add mwe for `clip`
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: fix duplicate arg_sort entry
  py-polars/docs/source/reference/expression.rst
Labels: python

docs: add mwe and docstring for `to_physical`
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

docs: align to convention of #3932
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

docs: prefer pl.all() over pl.col("*")
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

docs: add mwe for `concat_str`
  py-polars/polars/internals/lazy_functions.py
Labels: python

docs: conventions, mwe and docstring fixes (#3973)
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

LazyFrame slice support - efficient paths only (#3970)
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/testing.py
  py-polars/tests/test_lazy.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
Labels: python

add from_numpy to docs
  py-polars/docs/source/reference/functions.rst
Labels: python
