Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Update jemallocator.
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

det rolling_groupby groups in parallel an reduce quadratic behavior in min/max rolling_kernels
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/windows/groupby.rs
Labels: rust

reduce probability of quadratic behavior in min/max rolling
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  py-polars/Cargo.lock
Labels: python, rust

Update jemallocator. (#3517)
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

revert parallel rolling_windows
  polars/polars-time/Cargo.toml
  polars/polars-time/src/windows/groupby.rs
Labels: rust

reduce probability of quadratic behavior in min/max rolling (#3516)
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.13.39
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.39 (#3518)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

docs examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

improve sample_perf (#3264)
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

update readme example (#3272)
  README.md
Labels: none

Update type hints for Series methods to include datetime types (#3215)
  py-polars/polars/internals/series.py
Labels: python

Option to check column order when comparing polars dataframes (#3206)
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

do not write empty chunk to parquet (#3259)
  polars/polars-io/src/parquet/write.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/io/parquet.rs
Labels: rust

fix bigidx release (#3292)
  .github/deploy_manylinux.sh
  polars/Cargo.toml
  polars/polars-core/src/utils/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

Remove unneeded type: ignore (#3173)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_series.py
Labels: python

New docs examples (#3226)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Update README.md
  README.md
Labels: none

Adding struct column tests (#3209)
  py-polars/tests/test_df.py
  py-polars/tests/test_struct.py
Labels: python

update arrow (#3181)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
Labels: python, rust

polars 0.21.0 (#3258)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

quantile agg; update grouptuples (#3252)
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

Improve groupby states (#3291)
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

python: recursive from_dicts (#3270)
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/test_struct.py
Labels: python, rust

Fix tree traversal complexity (#3213)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

recursive list builder in rows (#3293)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/frame/row.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/prelude.rs
  py-polars/src/py_modules.rs
  py-polars/tests/test_struct.py
Labels: python, rust

python polars 0.13.25 (#3224)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python lazyframe schema (#3302)
  polars/polars-core/src/schema.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

add lazyframe attributes docs (#3305)
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

upgrade arrow (#3269)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

sed inplace (#3296)
  .github/deploy_manylinux.sh
Labels: none

Code coverage for Rust/Python (#3278)
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  py-polars/Makefile
Labels: python

python polars 0.13.26 (#3271)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix test (#3222)
  py-polars/tests/test_queries.py
Labels: python

node: 0.5.2 release (#3254)
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

Improve partitioned groupby (#3263)
  polars/Makefile
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
Labels: python, rust

Docs examples (#3205)
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
Labels: python

polars 0.21.1 (#3300)
  .github/workflows/coverage.yaml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

add iso strptime patterns (#3265)
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

Only pass dtype to __array__, if not None: Fixes #3253 (#3257)
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python
