Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*

Removed some comment and obsolete test
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
Labels: none

3x csv parse dates performance improvement
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/strptime.rs
  py-polars/Cargo.lock
Labels: python, rust

CSV datetime inference 3x performance improvement (#2950)
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/Cargo.lock
Labels: python, rust

core: pass get_random_seed directly
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

update arrow (#3085)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python use buffered writers
  py-polars/src/dataframe.rs
Labels: python

python use buffered writers (#3086)
  py-polars/src/dataframe.rs
Labels: python

python polars 0.13.19
  .github/deploy_manylinux.sh
  README.md
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

python polars 0.13.19 (#3087)
  .github/deploy_manylinux.sh
  README.md
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

[polars-sql] Adding SQL Context, SELECT and GROUP BY (#3024)
  polars-sql/Cargo.toml
  polars-sql/rust-toolchain
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/sql_expr.rs
Labels: none

expose 'rechunk' param from "read_ipc" for consistency; default behaviour unchanged
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

py: default sample n param to 1
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

py: default sample n param to 1 (#3090)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

expose 'rechunk' param from "read_ipc" for consistency; default behaviour unchanged (#3088)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

Add optional seeding for sampling (#3080)
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/series.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python, node-js, rust

default to native strptime
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
Labels: rust

default to native strptime (#3093)
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
Labels: rust

split up planner
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/prelude.rs
Labels: rust

Python: use mimalloc large os pages
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/config.rst
  py-polars/polars/__init__.py
  py-polars/polars/cfg.py
  py-polars/src/lib.rs
Labels: python, rust

Python: use mimalloc large os pages (#3094)
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/config.rst
  py-polars/polars/__init__.py
  py-polars/polars/cfg.py
  py-polars/src/lib.rs
Labels: python, rust

py: error in sample() if n and frac passed
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

fmt
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

Raise error in sample() if `n` and `frac` are both passed (#3091)
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

split up planner (#3095)
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/prelude.rs
Labels: rust

add test for #3097
  py-polars/tests/test_queries.py
Labels: python

add test for #3097 (#3098)
  py-polars/tests/test_queries.py
Labels: python

partial derive serde
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/src/lib.rs
Labels: rust

python: first expression pickled
  polars/polars-core/src/datatypes.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_serde.py
Labels: python, rust

Initial support for serde/pickling expressions. (#3096)
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_serde.py
Labels: python, rust

enhanced columns param for DataFrame init; allow type information to be specified at the same time
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

move type comment
  py-polars/polars/internals/construction.py
Labels: python

python polars 0.13.20
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

tweak unit test
  py-polars/tests/test_df.py
Labels: python

Adding nested struct support by fixing ArrayRef determination
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

rename distinct to unique
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/rust-toolchain
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

rename to_* methods to write_*
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
Labels: node-js

update str.strip methods
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
Labels: node-js

remove "dropDuplicates" everywhere
  nodejs-polars/polars/dataframe.ts
Labels: node-js

make all "sample" args optional, see #3080 #3090 #3091
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
Labels: node-js
