Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

fix[rust]: parquet statistics, take null_count of all row groups
  polars/polars-io/src/parquet/predicates.rs
Labels: rust

fix[rust]: parquet statistics, take null_count of all row groups (#4510)
  polars/polars-io/src/parquet/predicates.rs
Labels: rust

fix[python]: ewm_mean better handling of min_periods
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

fix[python]: clean up join method
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/utils.py
Labels: python

return struct from splitn
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/tests/test_exprs.py
Labels: python, rust

Fix splitn with_fmt
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

fix doctest
  py-polars/polars/internals/expr/string.py
Labels: python

fix character for doctest
  py-polars/polars/internals/expr/string.py
Labels: python

feat[python]: introduce `how="right" parameter to join methods
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/conversion.rs
  py-polars/tests/test_joins.py
Labels: python, rust

chore[python]: feature flag features
  py-polars/Cargo.toml
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/series.rs
Labels: python

chore[python]: feature flag features (#4511)
  py-polars/Cargo.toml
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/series.rs
Labels: python

feat[python]: support np.datetime64 init for Series (#4473)
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

feat[rust]: allow expressions as arguments in str::replace(_all)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

fix[rust]: specialize sqrt as power behavior of infinite values is wrong
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  py-polars/tests/test_arithmetic.py
Labels: python, rust

remove DataFrame.join Python-Rust bindings
  py-polars/src/dataframe.rs
Labels: python

fix[rust]: specialize sqrt as power behavior of infinite values is wrong (#4517)
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  py-polars/tests/test_arithmetic.py
Labels: python, rust

feat[rust]: allow expressions as arguments in str::replace(_all) (#4516)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

use collect_trusted instead of push_unchecked
  polars/polars-arrow/src/kernels/ewm/average.rs
Labels: rust

fix[rust]: keep logical type in deep-clone unstable series
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix[rust]: keep logical type in deep-clone unstable series (#4520)
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix arithmetic test 1
  polars/src/docs/eager.rs
Labels: rust

fix comparisons test
  polars/src/docs/eager.rs
Labels: rust

fix apply functions DataFrame test
  polars/src/docs/eager.rs
Labels: rust

fix sort test
  polars/src/docs/eager.rs
Labels: rust

fix joins test
  polars/src/docs/eager.rs
Labels: rust

fix groupby GroupBy test
  polars/src/docs/eager.rs
Labels: rust

fix groupby Pivot test
  polars/src/docs/eager.rs
Labels: rust

fix explode test
  polars/src/docs/eager.rs
Labels: rust

fix io Write CSV test
  polars/src/docs/eager.rs
Labels: rust

fix io Write IPC test
  polars/src/docs/eager.rs
Labels: rust

fix io Write Parquet test
  polars/src/docs/eager.rs
Labels: rust

fix various Extracting data test
  polars/src/docs/eager.rs
Labels: rust

fix Groupby test
  polars/src/docs/lazy.rs
Labels: rust

fix Start a lazy computation test
  polars/src/docs/lazy.rs
Labels: rust

fix sort test
  polars/src/docs/lazy.rs
Labels: rust

fix Single DataFrame test
  polars/src/docs/performance.rs
Labels: rust

fix Eager join multiple DataFrames on a Categorical test
  polars/src/docs/performance.rs
Labels: rust

fix quickstart test
  polars/src/lib.rs
Labels: rust

fix Expressions test
  polars/src/lib.rs
Labels: rust

fix Lazy join multiple DataFrames on a Categorical test
  polars/src/docs/performance.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
