Repository pola-rs/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, node-js, rust

set schema in groupby
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

Several projection improvements (#2795)
  polars/clippy.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-utils/Cargo.toml
  polars/tests/it/io/csv.rs
  polars/tests/it/schema.rs
  py-polars/Cargo.lock
Labels: python, rust

always error on empty csv
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

always error on empty csv (#2797)
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

improve melt function
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

update lazy melt schema
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python, rust

improve melt function (#2799)
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

respect suffix arg in cross join
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/deploy_manylinux.sh
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

respect suffix arg in cross join (#2800)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/deploy_manylinux.sh
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

groupby_dynamic correct for values exactly on left bound
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/arity.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  py-polars/polars/io.py
Labels: python, rust

groupby_dynamic correct for values exactly on left bound (#2802)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/arity.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  py-polars/polars/io.py
Labels: python, rust

add new arr namespace expressions
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lists.py
Labels: python, rust

add new arr namespace expressions (#2803)
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lists.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_json.py
Labels: python, rust

update arrow (#2805)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_json.py
Labels: python, rust

column projection: Do a fallback O(n) search in case of error
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

fix type coercion when then otherwise
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_queries.py
Labels: python, rust

column projection: Do a fallback O(n) search in case of error (#2807)
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

also keep f32 when compared with f64 lit
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_queries.py
Labels: python, rust

fix type coercion when then otherwise (#2808)
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_queries.py
Labels: python, rust

improve schema correctness
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

improve schema correctness (#2809)
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

slice in arr namespace
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lists.py
Labels: python, rust

slice in arr namespace (#2811)
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lists.py
Labels: python, rust

python polars 0.13.8
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
Labels: python

python polars 0.13.8 (#2813)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
Labels: python

adding with_projection for avro reader
  polars/polars-io/src/avro.rs
  polars/polars-io/src/utils.rs
Labels: rust

use eq_and_validity for strings
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_strings.py
Labels: python, rust

python fix horizontal all any
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_functions.py
Labels: python

python fix horizontal all any (#2820)
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_functions.py
Labels: python

use eq_and_validity for strings (#2819)
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_strings.py
Labels: python, rust

python add units to timestamp and epoch
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python add units to timestamp and epoch (#2821)
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

update arrow (#2822)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

default negative offset in dynamic groupby
  py-polars/Cargo.lock
  py-polars/Makefile
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python

remove outdated example
  examples/aggregate_multiple_files_in_chunks/Cargo.toml
  examples/aggregate_multiple_files_in_chunks/src/main.rs
  examples/datasets/.gitignore
  examples/datasets/foods1.csv
  examples/datasets/foods2.csv
  examples/datasets/foods3.csv
  examples/datasets/foods4.csv
  examples/datasets/foods5.csv
  nodejs-polars/__tests__/io.test.ts
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/main.rs
  py-polars/tests/conftest.py
Labels: python, node-js, rust

default negative offset in dynamic groupby (#2823)
  py-polars/Cargo.lock
  py-polars/Makefile
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python

remove outdated example (#2824)
  examples/aggregate_multiple_files_in_chunks/Cargo.toml
  examples/aggregate_multiple_files_in_chunks/src/main.rs
  examples/datasets/.gitignore
  examples/datasets/foods1.csv
  examples/datasets/foods2.csv
  examples/datasets/foods3.csv
  examples/datasets/foods4.csv
  examples/datasets/foods5.csv
  nodejs-polars/__tests__/io.test.ts
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/main.rs
  py-polars/tests/conftest.py
Labels: python, node-js, rust

split columns to projection function
  polars/polars-io/src/utils.rs
Labels: rust

.github/labeler.yml:

python:
  - py-polars/**/*
node-js: 
  - nodejs-polars/**/*
rust: 
  - polars/**/*
