Repository pola-rs/polars, pull requests merged in 2021-11, with the labels that each got.

#1828 Enh add assert series equal
  py-polars/polars/__init__.py
  py-polars/polars/testing.py
  py-polars/tests/test_series.py
Labels: python, enhancement

#1823 Create internal Python api
  py-polars/legacy/pypolars/functions.py
  py-polars/polars/__init__.py
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/eager/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/lazy/__init__.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python, enhancement

#1913 python create Categorical Series without casting
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/testing.py
  py-polars/tests/test_series.py
Labels: python

#1916 python polars 0.10.25
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, no-changelog

#1910 Preserve Series types when constructing a list-series
  py-polars/polars/internals/construction.py
  py-polars/src/series.rs
  py-polars/tests/test_series.py
Labels: python

#1914 [Rust][Documentation] `DataFrame` cleaning, enabling run check
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: documentation, rust

#1918 [Rust] Add `DataFrame::pop`
  polars/polars-core/src/frame/mod.rs
Labels: rust

#1919 [Rust][Documentation] New examples for `DataFrame` equal functions
  polars/polars-core/src/testing.rs
Labels: documentation, rust

#1931 [Rust][Documentation] `Field`
  polars/polars-core/src/datatypes.rs
Labels: documentation, rust
