Repository pola-rs/polars, pull requests merged in 2021-12, with the labels that each got.

#1939 fix unique/n_unique for Categorical
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/categorical/builder.rs
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: bug

#1940 Update readme
  CONTRIBUTING.md
  README.md
Labels: documentation, no-changelog

#1920 Fix panics on series deserialization
  polars/polars-core/Cargo.toml
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  polars/polars-core/src/series/from.rs
Labels: bug

#1945 fix sort of floating point NaN values
  .github/workflows/benchmark.yaml
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/db-benchmark/various.py
Labels: bug

#1956 Fix sponsor link
  README.md
Labels: no-changelog

#1958 fix rank dtype consistency
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-lazy/src/frame.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: bug

#1957 python: add log, log10, exp
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python

#1960 Split slice
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/len.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/utils/mod.rs
Labels: bug

#1962 improve Utf8 sorting
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
Labels: enhancement

#1963 test exprs on empty df
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: bug

#1977 python output date/datetime in to_list and to_dict
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, enhancement

#1989 fix bug in logical type join of window functions
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: bug

#1950 Run doctests
  .github/workflows/build-test.yaml
  py-polars/Makefile
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/tests/run_doc_examples.py
Labels: documentation, python

#2015 fix panix unsorted ipc projection
  polars/polars-io/src/ipc.rs
Labels: bug

#2014 python: `is_in` docstring
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: documentation, python

#2017 python arr.contains
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_lists.py
Labels: python, enhancement

#2019 pyhon: rows return date and datetime
  polars/polars-lazy/src/dsl.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python

#2040 Python: inner dtype and use pyo3 to get dtypes
  py-polars/.flake8
  py-polars/Makefile
  py-polars/docs/source/reference/series.rst
  py-polars/polars/datatypes.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/series.rs
  py-polars/tests/test_lists.py
Labels: python

#2134 Refactor DataFrame.__getitem__
  py-polars/polars/internals/frame.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

#2140 Fix overflow warning test_log_exp
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python

#2138 Add DataFrame tests
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2141 add pivot list first
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2143 python polars 0.12.3
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2142 Tighten type annotations on DataFrame and Series get/set
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
Labels: python

#2144 Add more tests
  py-polars/polars/internals/frame.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

#2147 Remove typing as tp imports
  py-polars/polars/_html.py
  py-polars/tests/test_df.py
Labels: python

#2145 Small refactor of expr_to_lit et al
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

#2149 docs(nodejs-polars): node benchmarks
  .github/workflows/test-js.yaml
  nodejs-polars/.eslintrc.json
  nodejs-polars/.gitignore
  nodejs-polars/.yarnrc.yml
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/benches/README.md
  nodejs-polars/benches/list-operations.js
  nodejs-polars/benches/package.json
  nodejs-polars/examples/README.md
  nodejs-polars/examples/package.json
  nodejs-polars/jest.config.ts
  nodejs-polars/package.json
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/file.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/tsconfig.json
  nodejs-polars/yarn.lock
Labels: node-js

#2150 initial emwa implementation
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/ew/average.rs
  polars/polars-arrow/src/kernels/ew/mod.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2152 Add tests on Config
  py-polars/polars/cfg.py
  py-polars/tests/test_cfg.py
Labels: python

#2151 Add more tests
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/conftest.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#2153 Enforce minimum Python test coverage
  py-polars/Makefile
Labels: python

#2154 csv parser: cast on the threadpool instead of when done parsing
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
Labels: rust

#2156 fix: null handling in "lit"
  nodejs-polars/__tests__/lazy_functions.test.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/lazy/lazy_functions.ts
  nodejs-polars/polars/utils.ts
  nodejs-polars/src/series.rs
Labels: node-js

#2136 WIP: Fix pygroupby dispatch
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

#2158 Remove DataFrame.__setitem__ [int]
  py-polars/polars/internals/frame.py
Labels: python

#2157 EWM standardization
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-lazy/src/dsl.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2164 Add overloads for in_place argument
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#2163 Improve Config tests
  py-polars/tests/test_cfg.py
Labels: python

#2160 Remove two doctest: +IGNORE_RESULT directives
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

#2159 Add tests for DataFrame.__setitem__
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2165 add min_periods to ewma
  polars/polars-arrow/src/array/default_arrays.rs
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2166 ewma null implementation
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2167 implement emw_std/var
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-lazy/src/dsl.rs
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/mem.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2170 fix missing latest window in dynamic-groupby
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-time/src/groupby.rs
  polars/polars-time/src/test.rs
  polars/polars-time/src/window.rs
  py-polars/polars/internals/frame.py
Labels: python, rust

#2171 Refactor IO projection & columns argument handling
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/tests/test_io.py
Labels: python

#2172 add Series::extend
  polars/polars-core/src/series/ops/extend.rs
  polars/polars-core/src/series/ops/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2173 add horizontal concat
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_functions.py
Labels: python, rust

#2177 feat(js): add extend & horizontal concat
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/functions.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/functions.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lib.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2178 add DataFrame <-> DataFrame arithmetic
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/arithmetic.rs
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2179 AnyValue::to_static
  polars/polars-core/src/datatypes.rs
Labels: rust

#2180 python polars 0.12.5
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2189 Fix Datetime NumPy Conversion + Test
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
Labels: python

#2193 feat(js): Buffer read functionality
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/dataframe_object.rs
  nodejs-polars/src/lib.rs
Labels: node-js

#2198 Update minimum Python to 3.7 in pyproject.toml
  py-polars/pyproject.toml
Labels: python

#2186 Require typing-extensions >= 4.0.0
  py-polars/pyproject.toml
Labels: python

#2187 Do not ignore missing imports in mypy run by default
  py-polars/build.requirements.txt
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/pyproject.toml
  py-polars/tests/test_interop.py
Labels: python

#2181 Add testing.assert_frame_equal
  py-polars/polars/__init__.py
  py-polars/polars/testing.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
Labels: python

#2199 Remove @tp.overload from coverage exclusion list
  py-polars/pyproject.toml
Labels: python

#2201 update arrow and json writers
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

#2202 Fix test assertions to not assert list but check contents
  py-polars/tests/test_df.py
Labels: python

#2204 Remove print statements from tests
  py-polars/tests/test_datelike.py
  py-polars/tests/test_functions.py
Labels: python

#2203 check for null values in csv schema inference
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame.rs
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

#2206 Add testing module to docs
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/testing.rst
Labels: python

#2205 Add overloads to DataFrame aggregation methods
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2197 Tighten mypy config
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_io.py
  py-polars/tests/test_series.py
Labels: python

#2200 chore: increase nodejs code cov
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/jest.config.ts
  nodejs-polars/polars/cfg.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/groupby.ts
  nodejs-polars/polars/lazy/lazy_functions.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/series.rs
Labels: node-js

#2211 Fix typing errors on master
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2212 Fix Python EWM alpha
  py-polars/polars/internals/expr.py
  py-polars/tests/test_series.py
Labels: python

#2218 Add tests on DataFrame arithmetic
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2216 nodejs json writer updates, and #2210 fix
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/file.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lib.rs
  nodejs-polars/src/series.rs
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/tests/test_io.py
Labels: python, rust, node-js

#2207 Print each argument on new line in Python docs
  py-polars/docs/source/_static/css/custom.css
  py-polars/docs/source/conf.py
Labels: python

#2220 make dynamic groupby work on all units
  polars/polars-core/src/chunked_array/temporal/truncate.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-core/src/time.rs
  polars/polars-time/src/bounds.rs
  polars/polars-time/src/calendar.rs
  polars/polars-time/src/duration.rs
  polars/polars-time/src/groupby.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/test.rs
  polars/polars-time/src/unit.rs
  polars/polars-time/src/window.rs
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2221 make lazy union parallel
  polars/polars-lazy/src/physical_plan/executors/union.rs
Labels: rust

#2224 fix truncate
  polars/polars-core/src/chunked_array/temporal/truncate.rs
  py-polars/polars/internals/functions.py
  py-polars/tests/test_datelike.py
Labels: python, rust

#2222 fix add string name
  polars/polars-core/src/chunked_array/arithmetic.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

#2195 nodejs-polars v0.0.7
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2228 chore: update datetime logic in nodejs
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
Labels: node-js

#2232 Fix rolling docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#2230 Fix fmt when set_tbl_rows/cols
  .gitignore
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_cfg.py
Labels: python, rust

#2231 Node docs
  .github/workflows/docs.yaml
  README.md
  nodejs-polars/README.md
  nodejs-polars/package.json
  nodejs-polars/polars/cfg.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/lazy/index.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/tsconfig.json
Labels: node-js

#2239 ensure we always work on groups in the groupby context
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

#2240 more map_many instead of map_binary and more expression parallelism
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
Labels: rust
