Repository pola-rs/polars, pull requests merged in 2022-06, with the labels that each got.

#3547 Nodejs updates & update json_path_match
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
Labels: node-js

#3549 make sort by multiple columns parallel
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/datatypes.rs
  py-polars/Cargo.lock
Labels: python, rust

#3550 allow more aggregations on dtype duration
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/duration.rs
  py-polars/polars/io.py
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3551 use first series to validate length
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

#3556 Readability Fixes r2
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

#3557 Fixed parquet parallel writing
  polars/polars-io/src/parquet/write.rs
Labels: rust

#3558 add count_match, extract_all to python ref guide
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python

#3553 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/error.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/error.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

#3559 fill_null limits
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/pct_change.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/date_range.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3560 test sortedness propagation
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/src/series.rs
Labels: python, rust

#3562 nodejs compression & fill enum updates
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

#3567 Add read_excel() to allow reading XLSX files to a dataframe.
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

#3569 Improve parse_lines error message.
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#3568 Improve Typescript Readability
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/polars/functions.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
Labels: node-js

#3505 `sorted_merge_join`
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-arrow/src/kernels/sorted_join/mod.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
Labels: rust

#3570 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3573 Rust Readability Improvements
  polars-sql/src/context.rs
  polars-sql/src/sql_expr.rs
  polars/polars-arrow/src/array/get.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  py-polars/polars/internals/whenthen.py
Labels: python, rust

#3578 fix typo for null_count in expr.py
  py-polars/polars/internals/expr.py
Labels: python

#3577 fix invalid fast path of sorted joins and improve sortedness propagation
  polars/polars-arrow/src/kernels/sorted_join/inner.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_joins.py
Labels: python, rust

#3579 prevent expensive type coercion in expression and fix when->then->oth…
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
Labels: python, rust

#3580 python polars 0.13.42
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3586 Updated the fmt feature flag error message
  polars/polars-core/src/fmt.rs
Labels: rust

#3584 Fix u16 Series formatting.
  polars/polars-core/src/fmt.rs
Labels: rust

#3582 Update str replace docs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#3588 update arrow to crates.io: `~2x json` parsing improvement
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
Labels: python, rust

#3591 respect ipc column ordering
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

#3593 zfill expression
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3595 Patch release
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#3598 Fix TOML typos
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
Labels: rust

#3561 Anonymous scan lazyframe
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#3603 `ljust` and `rjust` expressions
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/_html.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
  py-polars/tests/test_strings.py
Labels: python, rust

#3606 cast string to categorical in 'is_in'
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#3609 python data type units
  polars/polars-core/src/datatypes.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3610 unset sorted metadata on append
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#3611 feat(nodejs): scan json
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

#3612 node 0.5.3 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#3614 improve when then otherwise for lists
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python, rust

#3615 python polars 0.13.44
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3566 Fix mode for multiple modes
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

#3622 fix invalid concat dtype
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#3624 respect n_rows
  polars/polars-io/src/lib.rs
Labels: rust

#3626 Python: `scan_ipc/parquet` can scan from fsspec sources e.g. `s3`.
  py-polars/Makefile
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
Labels: python

#3627 Fix Series init (as pl.Object dtype) from mixed-type input and extend test coverage
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

#3628 restrict parallel branches in lazy Union
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/mod.rs
Labels: rust

#3629 native exp expression
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/mod.rs
  polars/polars-ops/src/series/ops/log.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#3630 python dict parallel dataframe creation
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
Labels: python

#3633 Enhanced column typedef/inference support for DataFrame init
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

#3635 fix row count file projection pushdown
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#3637 rust publish makefile
  polars/Makefile
Labels: rust

#3638 improve explode of empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3641 Update various python build requirements.
  py-polars/build.requirements.txt
  py-polars/tests/test_df.py
Labels: python

#3645 Update black and change some code so is sees it as a call chain.
  py-polars/build.requirements.txt
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_strings.py
  py-polars/tests/test_struct.py
  py-polars/tests/test_window.py
Labels: python

#3649 concat list determine supertype
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/test_lists.py
Labels: python, rust

#3650 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3652 Parallel csv writer
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/mod.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/csv_core/write.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/contention_pool.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#3656 fix groups state in complex aggregation
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

#3662 Rust Comment Readability Fixes
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  polars/src/lib.rs
Labels: rust

#3660 Add Expr.reverse() Python API example
  py-polars/polars/internals/expr.py
Labels: python

#3659 Added StringCache Python API example
  py-polars/polars/string_cache.py
Labels: python

#3664 improve dtype selection
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/expand.rs
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3666 accept regex in filter
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
Labels: python, rust

#3667 python: improve html render
  py-polars/polars/_html.py
Labels: python

#3669 Python: infer_schema_len arg to from_dicts
  polars/polars-core/src/frame/row.rs
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/src/apply/dataframe.rs
  py-polars/src/dataframe.rs
Labels: python, rust

#3674 Add LICENSE link to py-polars
  py-polars/LICENSE
Labels: python

#3675 python: fix and test globbing
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python

#3676 python polars 0.13.45
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3677 Add useful example for pl.StringCache().
  py-polars/polars/internals/frame.py
  py-polars/polars/string_cache.py
Labels: python

#3678 Fix StringCache docstring typo
  py-polars/polars/string_cache.py
Labels: python

#3661 Fix polars.Expr.apply() Python API docs text
  py-polars/polars/internals/expr.py
Labels: python

#3657 Anonymous scan enhancements & cleanup
  polars/polars-core/src/frame/row.rs
  polars/polars-lazy/src/frame/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
Labels: rust

#3681 fix oob in sorted groupby
  polars/polars-core/src/frame/groupby/into_groups.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#3683 fix branch supertypes
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#3684 fix cargo.toml for docs.rs
  polars/Cargo.toml
Labels: rust

#3665 ndjson reader complex types support
  nodejs-polars/src/lazy/dataframe.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust, node-js

#3679 Add pl.Expr.hash Python example
  py-polars/polars/internals/expr.py
Labels: python

#3691 Adding 'line-height' at 95% to df _html.py print
  py-polars/polars/_html.py
Labels: python

#3694 unique counts for logical types
  polars/polars-core/src/series/ops/unique.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3702 Improve lit agg
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

#3700 docs: Readability improvements in `py-polars`
  py-polars/CHANGELOG.md
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python

#3671 Python: parallel concat df
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/frame/row.rs
  py-polars/src/lib.rs
Labels: python, rust

#3706 fix ipc column order
  polars/polars-io/src/ipc.rs
Labels: rust

#3698 nodejs release
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#3709 inplace arithmetic
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/Cargo.lock
Labels: python, rust

#3719 format empty df
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/test_strings.py
Labels: python, rust

#3697 Add typing overloads for `DataFrame.hstack()`
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#3696 Add `Series` to `DataFrame.with_columns()` argument annotation
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

#3720 fix rolling groupby ordering with 'by' argument
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3722 allow literal as aggregation
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

#3724 Improve performance of categorical casting
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/Cargo.lock
Labels: python, rust

#3718 Add flag to allow str.contains to search for string literals (#3711)
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, rust

#3730 fix join negative keys
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#3731 fix arr.get() offsets
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-ops/Cargo.toml
  py-polars/tests/test_lists.py
  py-polars/tests/test_struct.py
Labels: python, rust

#3732 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3733 fix from_pandas object null array
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

#3734 python polars 0.13.47
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3737 Replace OOB slice indexing with spare_capacity_mut
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

#3738 pow fast paths
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
Labels: rust

#3736 Simplify `contains` check that opts-in to `contains_literal` fast-path
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3741 fix aritmetic bug introduced in #3709
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3742 check nan in sort by single column
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#3743 python fix concat
  py-polars/src/lib.rs
  py-polars/tests/test_queries.py
Labels: python

#3744 patch python polars 0.13.48
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#3747 ternary literal predicates
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#3748 python polars 0.13.49
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3756 unset sorted on take
  polars/tests/it/core/random.rs
Labels: rust

#3763 add global __pl__
  nodejs-polars/polars/index.ts
Labels: node-js

#3757 `arg_where` expression
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3762 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3770 str.ends_with/ str.starts_with
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

#3771 fix bug in agg projections and init tpch schema tests
  examples/datasets/tpc_heads/customer.feather
  examples/datasets/tpc_heads/lineitem.feather
  examples/datasets/tpc_heads/nation.feather
  examples/datasets/tpc_heads/orders.feather
  examples/datasets/tpc_heads/part.feather
  examples/datasets/tpc_heads/partsupp.feather
  examples/datasets/tpc_heads/region.feather
  examples/datasets/tpc_heads/supplier.feather
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
Labels: rust

#3779 always include offset in groupby_dynamic
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
Labels: rust

#3782 python fix arr.contains type
  py-polars/polars/internals/expr.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

#3788 improve predicate combination and schema state
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_datelike.py
  py-polars/tests/test_queries.py
Labels: python, rust

#3790 fix duration computation
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3793 Update arrow2 to support IPC Stream Reading with projections
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3791 Some API alignment (missing funcs) between `DataFrame`, `LazyFrame`, and `Series`
  .gitignore
  py-polars/.gitignore
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

#3794 Docs: sort entries within subsections
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/docs/source/reference/testing.rst
Labels: python

#3796 csv don't skip delimiter in whitespace trimming
  polars/polars-io/src/csv_core/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#3795 don't copy the sorted flag on many operations
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-time/Cargo.toml
  polars/tests/it/core/groupby.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3799 csv don't skip trailing delimiters when infering schema.
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#3798 Allow `date_range` to produce `date` ranges as well as `datetime`
  py-polars/polars/internals/functions.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

#3797 quarter expression
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3801 Update rustc to 2022-06-22
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  polars/polars-arrow/src/index.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/datatypes/_serde.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/schema.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
Labels: rust

#3806 rolling groupby fix index column output order
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3783 Add support for IPC Streaming Read/Write
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
  polars/polars-io/src/prelude.rs
  polars/polars-io/src/utils.rs
  polars/tests/it/io/ipc_stream.rs
  polars/tests/it/io/mod.rs
Labels: rust

#3810 chore: `chunked_array` readability improvements
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
Labels: rust

#3808 Add serde feature to field to fix serde feature
  polars/polars-core/src/datatypes/mod.rs
Labels: rust

#3812 fix join asof on floats
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#3813 chore: `/polars/polars-core/src/frame/` readability
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

#3811 Fixing small typos in docs
  py-polars/polars/internals/frame.py
Labels: python

#3816 fix join asof tolerance
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#3821 Improve parquet reading performance `~35-40%`
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

#3826 from anyvalue for small integers
  polars/polars-core/src/series/any_value.rs
Labels: rust

#3827 add date offset
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-time/src/windows/duration.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3837 fix sorted unique
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3835 fix ternary groupby `agg_list`/`not_aggregated` combination
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

#3840 don't cache in-expression window functions
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

#3842 Hypothesis testing framework integrations for Polars
  .gitignore
  py-polars/.gitignore
  py-polars/build.requirements.txt
  py-polars/docs/source/reference/testing.rst
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
Labels: python

#3841 docs: Improve expr.string documentation
  py-polars/polars/internals/expr.py
Labels: python

#3851 python: fix time conversion
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
Labels: python

#3854 python polars 0.13.51
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3857 Address distinction between DataType and DataType()
  py-polars/polars/datatypes.py
  py-polars/polars/testing.py
  py-polars/tests/test_datatypes.py
Labels: python

#3855 Deprecate df/ldf argument to .join
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/utils.py
  py-polars/tests/test_joins.py
Labels: python
