Repository pola-rs/polars, pull requests merged in 2022-04, with the labels that each got.

#3028 fix schemas of groupby rolling/dynamic
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

#3031 fix div by zero
  polars/polars-core/src/frame/groupby/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

#3030 fix incorrect match in agg_mean
  polars/polars-core/src/frame/groupby/aggregations.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3032 check alias in whole expr on opt
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

#3033 align groups in binary when they not align
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

#3034 python 0.13.17
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3039 only expand function inputs if wildcard expansion allows it
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

#3040 fix when_then_chain containing nulls
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3045 fixed typo in format_path docstring
  py-polars/polars/utils.py
Labels: python

#3048 fix when-then-chain
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3049 throw error on empty keyed groupby
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#3050 compare expand_cols by variant not exact datatype
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/tests/it/lazy/expressions/expand.rs
  polars/tests/it/lazy/expressions/mod.rs
Labels: rust

#3051 dot: use apply instead of map
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3052 check output length of all 'map' expressions
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#3053 error on invalid asof_join by input
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#3054 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/trusted_len/push_unchecked.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3055 improve performance of asof_join by equal or more than 2 keys
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python, rust

#3056 python polars 0.13.18
  py-polars/Cargo.toml
Labels: python

#3058 improve numpy value conversion in apply
  py-polars/polars/internals/construction.py
  py-polars/tests/test_apply.py
Labels: python

#3063 handle numpy integers as return values
  py-polars/Cargo.lock
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

#3064 update rustc to nightly-2022-04-02
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
Labels: node-js

#3069 remove unneeded expensive assert
  polars/polars-core/src/series/unstable.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_fallible.py
  py-polars/tests/test_window.py
Labels: python, rust

#3068 improve boolean null comparsions consistency
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/chunked_array/comparison.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust, node-js

#3070 fix entropy
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

#3071 python apply can extract anyvalues
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

#3082 python series from timedelta and Duration::to_list
  py-polars/tests/test_datelike.py
Labels: python

#3083 fix explode empty lists
  polars/polars-arrow/src/bitmap/mod.rs
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_df.py
Labels: rust

#3084 Lazy: update schema in explode op
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

#2950 CSV datetime inference 3x performance improvement
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/Cargo.lock
Labels: python, rust

#3085 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3086 python use buffered writers
  py-polars/src/dataframe.rs
Labels: python

#3087 python polars 0.13.19
  .github/deploy_manylinux.sh
  README.md
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3090 Default sample `n` param to 1
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#3088 Expose 'rechunk' param from "read_ipc" for consistency (default behaviour unchanged)
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

#3080 Add optional seeding for sampling
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/series.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python, rust, node-js

#3093 default to native strptime
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
Labels: rust

#3094 Python: use mimalloc large os pages
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/config.rst
  py-polars/polars/__init__.py
  py-polars/polars/cfg.py
  py-polars/src/lib.rs
Labels: python, rust

#3091 Raise error in sample() if `n` and `frac` are both passed
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#3095 split up planner
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/prelude.rs
Labels: rust

#3098 add test for #3097
  py-polars/tests/test_queries.py
Labels: python

#3096 Initial support for serde/pickling expressions.
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_serde.py
Labels: python, rust

#3105 NodeJS updates
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/datetime.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/lazy/whenthen.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/rust-toolchain
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#3103 Adding nested struct support by fixing ArrayRef determination
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3100 Enhanced columns param for DataFrame init, additionally allowing for inline type specification
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#3101 Improve rolling agg
  polars/polars-arrow/src/data_types.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_series.py
Labels: python, rust

#3110 add estimate_size methods
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

#3111 python polars 0.13.21
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3114 Remove tests for #3080
  polars/polars-core/src/chunked_array/random.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python, rust

#3107 node polars 0.4.0 release
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/README.md
  nodejs-polars/package.json
Labels: node-js

#3116 Nodejs writejson fix & avro read/write
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
Labels: node-js

#3118 node release 0.4.1
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#3072 doc(): to_numpy advice for when working with Utf8
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#3127 Parquet statistics: don't panic
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

#3128 lazy: expand cols in filter
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3130 python polars 0.13.22
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3133 melt extra arguments
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3136 Lazy: Don't materialize whole table in JOIN followed by SLICE
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

#3141 Switch from unmaintained jemalloctor to maintained tikv-jemallocator.
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

#3142 Support creation of polars series/dataframes from float16 numpy arrays.
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

#3143 Polars vs Pivot: Round 3 🥊 `~2-25x` improvement
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/series.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/tests/it/core/pivot.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3148 DataFrame::partition_by
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3149 Add `semi` and `anti` joins.
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#3152 Python: fallback to anyvalue for logical lambda application
  polars/polars-core/src/chunked_array/ops/any_value.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
Labels: python, rust

#3154 python polars 0.13.23
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3156 derive clone for lazy groupby
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

#3155 python: parallel arrow FFI array conversion
  py-polars/src/arrow_interop/to_rust.rs
Labels: python

#3158 Turn deprecation warnings into actual DeprecationWarning
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_sort.py
Labels: python

#3159 pushdown slice to sort nodes
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/src/dataframe.rs
Labels: python, rust

#3160 slice_pushdown projections
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

#3161 python: pl.struct allow eager eval
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_struct.py
Labels: python

#3169 lazy err on not found col
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/tests/it/lazy/projection_queries.rs
Labels: rust

#3168 improve inner join performance
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

#3162 Add support for structs to pl.from_dict
  py-polars/polars/convert.py
  py-polars/tests/test_interop.py
Labels: python

#3178 Support for struct columns in DataFrame.to_pandas
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3179 fix duration filters with different time units
  polars/polars-core/src/series/arithmetic.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3183 fix overflow in agg_mean
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3185 list eval expression
  polars-sql/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3193 struct logical type arrow conversion
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3192 make series comparissons fallible
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/testing.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
Labels: python, rust

#3194 python all anyvalue to python conversion return python types
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_interop.py
  py-polars/tests/test_struct.py
Labels: python, rust

#3199 fix_pivot
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

#3200 recursively convert arrow
  polars/polars-core/src/series/from.rs
  py-polars/src/apply/mod.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3196 python polars 0.13.24
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3203 fix arr.eval type inference
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lists.py
Labels: python, rust

#3177 Improve Left join on chunked data
  polars/Cargo.toml
  polars/polars-arrow/src/array/get.rs
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/hash_join/single_keys_outer.rs
  polars/polars-core/src/frame/hash_join/single_keys_semi_anti.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-utils/src/functions.rs
  polars/polars-utils/src/lib.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/utils.rs
  py-polars/Makefile
Labels: python, rust

#3212 polars-ops
  Cargo.toml
  polars/Cargo.toml
  polars/Makefile
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/frame.rs
  polars/polars-ops/src/lib.rs
  polars/polars-ops/src/prelude.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/boolean.rs
  polars/polars-ops/src/series/implementations/categoricals.rs
  polars/polars-ops/src/series/implementations/date.rs
  polars/polars-ops/src/series/implementations/datetime.rs
  polars/polars-ops/src/series/implementations/duration.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/implementations/list.rs
  polars/polars-ops/src/series/implementations/mod.rs
  polars/polars-ops/src/series/implementations/object.rs
  polars/polars-ops/src/series/implementations/struct_.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-ops/src/series/implementations/utf8.rs
  polars/polars-ops/src/series/mod.rs
  polars/src/prelude.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_categorical.py
Labels: python, rust

#3213 Fix tree traversal complexity
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3215 Update type hints for Series methods to include datetime types
  py-polars/polars/internals/series.py
Labels: python

#3209 Adding struct column tests
  py-polars/tests/test_df.py
  py-polars/tests/test_struct.py
Labels: python

#3217 struct: handle validity
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3219 add duration minutes
  polars/polars-time/src/chunkedarray/duration.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

#3222 fix test
  py-polars/tests/test_queries.py
Labels: python

#3223 fix partition boundary
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust

#3224 python polars 0.13.25
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3226 New docs examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#3206 Option to check column order when comparing polars dataframes
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

#3231 Improving array refs for to_list
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3242 fix offsets in categorical merge
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3243 python better datetime.time support
  polars/polars-core/src/series/from.rs
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3244 Serialize/Deserialize LazyFrames/Logical plans
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/options.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_serde.py
Labels: python, rust

#3247 setup serializable function + null_count expr
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3248 improve ternary in groupby context
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3251 fix skew autoexplode and add test
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

#3250 Nodejs ser/de methods
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/struct.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/native-polars.js
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/series.rs
Labels: node-js

#3252 quantile agg; update grouptuples
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#3254 node: 0.5.2 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#3258 polars 0.21.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3259 do not write empty chunk to parquet
  polars/polars-io/src/parquet/write.rs
  polars/tests/it/io/mod.rs
  polars/tests/it/io/parquet.rs
Labels: rust

#3263 Improve partitioned groupby
  polars/Makefile
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
Labels: python, rust

#3264 improve sample_perf
  polars/polars-core/src/chunked_array/random.rs
Labels: rust

#3265 add iso strptime patterns
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/test_datelike.py
Labels: python, rust
