Repository pola-rs/polars, pull requests merged in 2022-01, with the labels that each got.

#2241 reduce unsafe blocks by implementing TrustedLen trait
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/export.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-arrow/src/trusted_len/push_unchecked.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/ops/cum_agg.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-time/src/duration.rs
  polars/polars-time/src/test.rs
  py-polars/Cargo.lock
Labels: python, rust

#2236 feat: encoding and decoding of strings
  .gitignore
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/strings/encoding.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_series.py
Labels: python, rust, node-js

#2245 add encode/decode to python docs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python

#2246 feat(js): readstream and parquet
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
Labels: node-js

#2244 List iter
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/series/from.rs
  py-polars/Cargo.lock
Labels: python, rust

#2247 nodejs-v0.0.8
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2248 Python dataframe apply return DataFrame
  polars/polars-core/src/frame/row.rs
  py-polars/polars/internals/frame.py
  py-polars/src/apply/dataframe.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2250 Adjust to_numpy dtype based on Series time_unit
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
Labels: python

#2252 chore: update rustc and clippy
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/abs.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/strings/encoding.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/chunked_array/temporal/truncate.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/arithmetic.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/frame.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/Cargo.lock
Labels: python, rust, node-js

#2253 rust 2021 edition
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/lib.rs
  polars/polars-lazy/Cargo.toml
  py-polars/Cargo.toml
Labels: python, rust

#2255 fix categorical read_csv
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
Labels: rust

#2254 polars lazy: read globbed parquet paths
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2256 python polars 0.12.8
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2258 nodejs Lazy methods
  nodejs-polars/@types/jest.d.ts
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/datetime.ts
  nodejs-polars/polars/lazy/expr/index.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/polars/utils.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2229 add rolling options for rolling median and quantile
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/frame.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/src/prelude.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2259 fix panics with weighted rolling median
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

#2263 update arrow -> remove recordbatch logic
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/chunks.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-io/src/prelude.rs
  polars/polars-io/src/utils.rs
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
Labels: python, rust

#2266 simplify series trait
  polars/polars-core/src/chunked_array/categorical/builder.rs
  polars/polars-core/src/chunked_array/categorical/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

#2270 remove no longer needed dbg!
  polars/polars-core/src/frame/asof_join/groups.rs
Labels: rust

#2272 window function cache
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#2271 update node rolling methods
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2275 with_column eager does expanding singleton series
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
Labels: rust

#2277 fix(nodejs): minor fixes to list conversion
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/series.rs
Labels: node-js

#2279 add arr.concat singleton lists
  polars/polars-core/src/chunked_array/list/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python, rust

#2281 improve logical types in Lists
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/ops/to_list.rs
Labels: rust

#2282 improve expression engine aggstates
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#2285 update nodejs to handle `Duration`
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/series.rs
Labels: node-js

#2286 release: node 0.1.0
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2289 Add support for building dataframe from rows when they contain None f…
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2296 Skip rechunk in ufunc if n_chunks == 1.
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

#2297 List builder for arbitrary nested types
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/array/mod.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/named_from.rs
  py-polars/polars/internals/construction.py
Labels: python, rust

#2298 fix date_range time-unit kwargs
  py-polars/polars/internals/functions.py
  py-polars/tests/test_datelike.py
Labels: python

#2300 any/all expressions
  polars/polars-core/src/chunked_array/boolean.rs
  polars/polars-lazy/src/dsl.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2301 compile on stable
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
Labels: rust

#2304 Add schema to docs
  py-polars/docs/source/reference/dataframe.rst
Labels: python

#2306 Do not check output in doctest
  py-polars/tests/run_doc_examples.py
Labels: python

#2273 fix float fmting
  polars/polars-core/src/fmt.rs
Labels: rust

#2307 csv: cast columns concurrently
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
Labels: rust

#2308 python: __rpow__ and riase `ValueError` on datelike arithmetic (except for subtract and addition)
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

#2319 csv: improve float inference regex
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

#2318 Add DataFrame constructor to docs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/test_df.py
Labels: python

#2320 expose writing parquet statistics
  polars/polars-io/src/parquet/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

#2324 use specialized list collect for most common numerical types
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
Labels: rust

#2328 python str.{strip, lstrip, rstrip}
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python

#2330 python: add strip to docs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#2329 python polars 0.12.10
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2334 add strict conversion for strptime
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

#2333 change float formatting
  polars/polars-core/src/fmt.rs
Labels: rust

#2335 add exact kwarg to strptime
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2299 auto resize fmt, and min widths for column headers
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  py-polars/Cargo.lock
  py-polars/tests/test_cfg.py
Labels: python, rust, node-js

#2338 fix typo in python docstring
  py-polars/polars/internals/functions.py
Labels: python

#2340 extend dynamic groupby functionality to int{32,64}
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-time/src/duration.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2344 deprecate index access in groupby
  py-polars/polars/internals/frame.py
Labels: python

#2343 lazy: fix bug in join suffix and improve call ergonomics
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/from.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/projection_pushdown.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2345 fix bug in slice pushdown
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#2352 more ergonomics for lazy api
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#2353 no trailing dots in float formatting
  polars/polars-core/src/fmt.rs
Labels: rust

#2355 [LAZY] do not let predicate pushdown pass slice node
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

#2358 python: start showing naive logicalplan of lazy frame in jupyter note…
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

#2359 fix bug in aggscanprojection
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

#2360 fix bug in predicate pushdown when multiple predicates have the same root column
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#2283 add rolling options to rolling_apply
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#2361 nodejs: minor update to constructor types
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/benches/list-operations.js
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/polars/utils.ts
Labels: node-js

#2363 Use parquet statistics in predicate pushdown
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/io/mod.rs
  polars/polars-arrow/src/io/parquet.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/export.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/parquet/read_par.rs
  polars/polars-io/src/predicates.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/src/lib.rs
Labels: feature, rust

#2367 csv: fix bug in projection of quoted field
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2369 implement clip and ceil
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/series/ops/round.rs
  polars/polars-lazy/src/dsl.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2371 Lazy: add `collect_all` utility
  polars/polars-lazy/src/functions.rs
Labels: rust

#2372 add duration methods
  polars/polars-core/src/chunked_array/temporal/duration.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2373 csv parser improve performance
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2375 squeeze out more csv perf
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2376 improve parquet statistics to composite predicates
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#2378 add option to offset schema inference separate from skip_rows
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

#2379 python polars 0.12.11
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2385 csv: don't panic if last line misses fields and has no \n
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2387 fix sort multiple with booleans
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#2386 fix explode for datetime
  polars/polars-core/src/series/mod.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2388 correct logical type names in header in pivot operation
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/dates_time.rs
Labels: rust

#2389 python polars 0.12.12
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_queries.py
Labels: python

#2394 nodejs(fix): remove accidental debug statements in "date"
  nodejs-polars/src/series.rs
Labels: node-js

#2395 fix bug in predicate pushdown
  polars/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_lazy.py
Labels: python, rust

#2398 improve round precision
  polars/polars-core/src/series/ops/round.rs
Labels: rust

#2399 python: Series.fill_nan
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

#2401 Nodejs interop
  nodejs-polars/.eslintrc.json
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/groupby.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/series.ts
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2404 feat(nodejs): ipc & parquet support
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
Labels: node-js

#2402 python polars 0.12.13
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2406 nodejs-polars 0.2.0
  .github/workflows/create-js-release.yaml
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2409 fix bug in outer join on categorical
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

#2410 feat(nodejs): add ceil & clip
  nodejs-polars/@types/jest.d.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/functions.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/functions.ts
  nodejs-polars/polars/series/datetime.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/polars/utils.ts
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2416 fix groupby dynamic truncate
  polars/polars-core/src/frame/groupby/dynamic.rs
Labels: rust

#2419 fix sort by expressions
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#2421 don't let slice pushdown happen on predicate at scan
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
Labels: rust

#2422 Fix writing HTML dataframe header when not all columns should be shown.
  py-polars/polars/_html.py
Labels: python

#2423 improve conversion to ndarray/numpy `~3/4x`
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust, performance

#2425 polars 0.19.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#2427 Update num_cpus, regex and hashbrown dependency.
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  py-polars/Cargo.toml
Labels: python, rust

#2428 chore: remove unused seek traits from parquet & ipc
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/parquet/write.rs
Labels: rust

#2431 Groups slice
  Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/categorical/builder.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/binary_function.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/groupby.rs
  polars/polars-time/src/test.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#2434 Include mmap module in polars-io when parquet feature is enabled
  polars/polars-io/src/lib.rs
Labels: rust

#2435 `groupby_rolling().agg()`
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-time/src/bounds.rs
  polars/polars-time/src/groupby.rs
  polars/polars-time/src/test.rs
  polars/polars-time/src/window.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2436 Check byte after "\n" for "\r" instead of 2 bytes after.
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2437 Do not check for cariage return after newline character.
  polars/polars-io/src/csv_core/parser.rs
Labels: rust

#2439 improve `groupby_dynamic` performance/memory usage
  polars/polars-core/src/frame/groupby/dynamic.rs
  polars/polars-time/src/duration.rs
  polars/polars-time/src/groupby.rs
  polars/polars-time/src/test.rs
Labels: rust

#2449 fix hmin/hmax of exprs
  polars/polars-lazy/src/dsl.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/prelude.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2451 Fix parameters for melt to allow different types
  polars/polars-core/src/frame/explode.rs
Labels: rust

#2454 parallelize horizontal aggregations
  polars/polars-core/src/frame/mod.rs
Labels: rust

#2455 fix quadratic behavior pivot
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/series/mod.rs
Labels: rust

#2456 fix categorical to pandas
  polars/polars-core/src/series/from.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_interop.py
Labels: python, rust

#2457 fix zip_with categorical
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-lazy/src/tests/arity.rs
Labels: rust

#2458 improve pivot performance
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/from.rs
  py-polars/src/dataframe.rs
Labels: python, rust

#2459 python polars 0.12.16
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2463 feat(nodejs): add ipc & parquet buffer & stream writers
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
Labels: node-js

#2460 expose libs to polars
  polars/polars-core/src/chunked_array/ops/interpolate.rs
  polars/src/lib.rs
  polars/src/prelude.rs
Labels: rust

#2408 quantile and median return floats always
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_lazy.py
Labels: python, rust

#2465 fix nested min max
  polars/polars-lazy/src/functions.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#2464 make sure to always rechunk before converting to arrow chunks
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

#2466 improve transpose performance `~5x`
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
Labels: rust

#2467 python polars 0.12.17
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2474 add upsample in grouped context
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/time.rs
  polars/polars-time/src/bounds.rs
  polars/polars-time/src/duration.rs
  py-polars/polars/internals/frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2479 reverse polars-time -> polars-core dependency
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/temporal.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/export.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/time.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/export.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/groupby/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/truncate.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/bounds.rs
  polars/polars-time/src/windows/calendar.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/mod.rs
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
  polars/src/lib.rs
  polars/src/prelude.rs
  py-polars/Cargo.lock
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
Labels: python, rust

#2478 check categorical merge correctness
  polars/polars-core/src/chunked_array/categorical/merge.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-lazy/src/tests/arity.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

#2482 fix auto explode of exprs and wrong function namespaces
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
  py-polars/tests/test_strings.py
Labels: python, rust

#2483 improve drop_duplicates/distinct
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/prelude.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2485 don't reallocate categorical maps made from the same local source
  polars/polars-core/src/chunked_array/categorical/merge.rs
Labels: rust

#2487 fix bug in partitioned groupby ordering
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2489 Fix dot graph and show by defautlt in jupyter notebooks.
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2492 python polars 0.12.18
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2493 typo
  polars/polars-core/src/series/mod.rs
Labels: rust

#2501 fix parsing quoted floats
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

#2504 fix median float dispatch and fix overflowing mean aggregation
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/series/implementations/floats.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2503 Nodejs transpose & distinct
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/lazyframe.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/shared_traits.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/lazy/lazyframe_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2505 python polars 0.12.19
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2506 node release 0.2.1
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2507 keep logical types in binary aggregation
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/options.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/tests/logical.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust
