Repository pola-rs/polars, pull requests merged in 2022-12, with the labels that each got.

#5689 fix(python): Fix Series -> Expr dispatch for @property methods
  py-polars/polars/internals/series/utils.py
Labels: python, fix

#5690 feat(rust, python): improve dynamic inference of anyvalues and structs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/utils/supertype.rs
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#5695 fix(rust): Fix a bug in floating regex handling used in CSV type inference
  polars/polars-io/src/csv/utils.rs
Labels: rust, fix

#5694 feat(python): Support large page sizes on aarch64 linux builds
  .github/workflows/create-python-release.yaml
Labels: enhancement

#5696 test(python): Parametrize `test_parquet_datetime`
  py-polars/tests/unit/io/test_parquet.py
Labels: python, test

#5699 feat(rust, python): inversely scale chunk_size with thread count in s…
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
Labels: python, rust, enhancement

#5701 feat(python): Series.get_chunks
  polars/polars-core/src/utils/mod.rs
  py-polars/docs/source/reference/series/miscellaneous.rst
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5700 fix(rust, python): fix double projection that leads to uneven union d…
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#5703 fix(rust, python): fix arange with column/literal input
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#5704 fix(rust, python): fix pivot on floating point indexes
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-ops/src/pivot/mod.rs
  py-polars/tests/unit/test_pivot.py
Labels: python, rust, fix

#5714 feat(rust, python): to_struct add upper_bound
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-ops/src/chunked_array/list/to_struct.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#5715 docs(python): fix incorrect accepted type in df.write_csv
  py-polars/polars/internals/dataframe/frame.py
Labels: python, docs

#5716 refactor(rust): simplify fast projection by schema
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/operators/context.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
Labels: rust, refactor

#5647 feat(rust, python): lazy diagonal concat.
  polars/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_functions.py
Labels: python, rust, enhancement

#5720 fix(rust, python): asof join 'by', 'forward' combination
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5721 refactor(rust): remove rev-map from ChunkedArray
  polars/polars-core/src/chunked_array/builder/binary.rs
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/primitive.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
Labels: rust, refactor

#5725 feat(rust): Add "fmt_no_tty" feature for formatting support without r…
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
Labels: rust, enhancement

#5728 perf(rust, python): set_sorted flag when creating from literal
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
Labels: python, rust, performance

#5732 fix(python): address several edge-cases found when asserting NaN equality
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, fix

#5736 feat(rust, python): tz-aware strptime
  polars/polars-core/src/fmt.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_timezone.py
Labels: python, rust, enhancement

#5737 fix(rust, python): implement min/max aggregation for utf8 in groupby
  polars/polars-arrow/src/index.rs
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  py-polars/tests/unit/test_groupby.py
Labels: python, rust, fix

#5742 feat(rust, python): accept expression in str.extract_all
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_strings.py
Labels: python, rust, enhancement

#5744 fix(rust, python): fix group order in binary aggregation
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: python, rust, fix

#5644 docs: Update README
  README.md
Labels: docs

#5746 fix(rust, python): fix dtypes in join_asof_by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5750 fix(rust, python): fix date_range on expressions
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/src/date_range.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5752 fix(rust, python): fix generic streaming groupby on logical types
  polars/polars-core/src/frame/row.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
Labels: python, rust, fix

#5751 feat(rust, python): allow expression as quantile input
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/windows/test.rs
  polars/tests/it/lazy/aggregation.rs
  polars/tests/it/lazy/mod.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_aggregations.py
Labels: python, rust, enhancement

#5756 fix(rust, python): check null values in asof_join + groupby
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/Cargo.toml
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#5763 fix(rust, python): projection pushdown with union and asof join
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/generic.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/groupby.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/hstack.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/melt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#5622 feat(python): Add DataFrame.glimpse()
  py-polars/docs/source/reference/dataframe/descriptive.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#5766 chore(rust): update arrow
  Cargo.toml
  polars/polars-arrow/src/array/default_arrays.rs
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/Cargo.lock
Labels: rust, chore

#5769 refactor(python): Parse fixed timezone offsets without pytz
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_timezone.py
Labels: python, refactor

#5768 fix(rust, python): empty concat utf8
  polars/polars-core/src/functions.rs
  polars/polars-ops/src/frame/mod.rs
  polars/polars-ops/src/frame/pivot/mod.rs
  polars/polars-ops/src/frame/pivot/positioning.rs
  polars/polars-ops/src/lib.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#5772 docs(python): add DataFrame.pearson_corr to reference
  py-polars/docs/source/reference/dataframe/miscellaneous.rst
Labels: python, docs

#5761 feat(python): Support for reading delta lake tables
  .github/workflows/test-python.yaml
  README.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dependencies.py
  py-polars/polars/io.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/files/delta-table/.part-00000-e42312d7-60e5-454d-acbc-db192d220e73-c000.snappy.parquet.crc
  py-polars/tests/files/delta-table/.part-00000-e4a999da-df45-4fb0-bdc4-d999fc0f58aa-c000.snappy.parquet.crc
  py-polars/tests/files/delta-table/_delta_log/.00000000000000000000.json.crc
  py-polars/tests/files/delta-table/_delta_log/.00000000000000000001.json.crc
  py-polars/tests/files/delta-table/_delta_log/00000000000000000000.json
  py-polars/tests/files/delta-table/_delta_log/00000000000000000001.json
  py-polars/tests/files/delta-table/part-00000-e42312d7-60e5-454d-acbc-db192d220e73-c000.snappy.parquet
  py-polars/tests/files/delta-table/part-00000-e4a999da-df45-4fb0-bdc4-d999fc0f58aa-c000.snappy.parquet
  py-polars/tests/io/test_delta.py
Labels: python, enhancement

#5773 fix(rust, python) Summation on empty series evaluates to `Some(0)`
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#5778 chore(rust): Continue removing compilation warnings
  polars/benches/take.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/io/parquet.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/functions.rs
  polars/tests/it/lazy/groupby.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust, chore

#5777 fix(rust): fix nested writer
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_parquet.py
Labels: rust, fix

#5780 feat(python): push down predicates to pyarrow datasets
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, enhancement

#5787 fix(json): ndjson with trailing newlines
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
  py-polars/tests/unit/io/test_json.py
Labels: fix

#5791 chore(rust): Remove dbg statement from union
  polars/polars-lazy/src/physical_plan/executors/union.rs
Labels: rust, chore

#5794 chore(python): remove unused `cmake-rs` patch
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, chore

#5797 fix(rust, python): fix parquet regression upstream in arrow2
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#5798 fix(python): fix struct dataset
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/polars/internals/construction.py
  py-polars/tests/slow/test_parquet.py
  py-polars/tests/unit/test_struct.py
Labels: python, fix

#5805 fix(rust, python): asof join by logical groups
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5807 feat(rust, python): implement mean aggregation for duration
  polars/polars-core/src/frame/groupby/aggregations/dispatch.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_aggregations.py
Labels: python, rust, enhancement

#5808 fix(rust, python): fix panic in hmean
  polars/polars-core/src/frame/mod.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_aggregations.py
Labels: python, rust, fix

#5809 refactor(rust): move join dispatch to polars-ops
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-algo/src/algo.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/utils/series.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/frame/join/mod.rs
  polars/polars-ops/src/frame/mod.rs
  polars/polars-ops/src/prelude.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/upsample.rs
  polars/tests/it/core/date_like.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/joins.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: rust, refactor

#5830 feat(python): release GIL when writing
  py-polars/src/dataframe.rs
Labels: python, enhancement

#5480 feat(rust, python): add sink_parquet
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/parquet_sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/slice.rs
  polars/polars-lazy/polars-pipe/src/pipeline/config.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-pipe/src/pipeline/mod.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-utils/src/cell.rs
  polars/polars-utils/src/lib.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/slow/conftest.py
  py-polars/tests/slow/test_parquet.py
Labels: python, rust, enhancement

#5835 refactor(python): lazily import connectorx
  polars/Makefile
  py-polars/Makefile
  py-polars/polars/io.py
Labels: python, refactor

#5834 fix(rust, python): keep f32 dtype in fill_null by int
  polars/polars-lazy/polars-plan/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5836 fix(rust, python): respect fetch in union
  polars/polars-lazy/polars-plan/src/global.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/slow/test_parquet.py
Labels: python, rust, fix

#5837 fix(rust, python): duration formatting
  polars/polars-core/src/fmt.rs
  py-polars/tests/unit/test_fmt.py
Labels: python, rust, fix

#5838 fix(rust, python): don't set fast_explode if null values in list
  polars/polars-core/src/chunked_array/list/iterator.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#5841 perf(rust, python): impove performance reducing window functions with numeric output `~-14%`
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
Labels: python, rust, performance

#5842 feat(python): allow more pyarrow literals
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
Labels: python, enhancement

#5844 fix(rust, python): correct invalid type in struct anyvalue access
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-ops/src/series/ops/various.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, fix

#5854 fix(rust, python): fix slice in streaming
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/slice.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-utils/src/atomic.rs
  polars/polars-utils/src/lib.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#5856 feat(rust, python): directly push all operator result into sink, prev…
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  py-polars/tests/slow/test_streaming.py
Labels: python, rust, enhancement

#5862 chore(rust): update arrow
  Cargo.toml
  polars/polars-arrow/src/array/default_arrays.rs
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-ops/src/chunked_array/interpolate.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/Cargo.lock
Labels: rust, chore

#5865 fix(rust, python): fix top_k on empty
  polars/polars-ops/src/chunked_array/top_k.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#5861 feat(python): Add string representation for data types
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/testing/_parametric.py
  py-polars/polars/testing/asserts.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lists.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5864 fix(rust, python): evaluate whole branch expression to determine if r…
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#5873 fix(rust, python): improve equality consistency between types
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/testing.rs
  py-polars/tests/unit/test_comparison.py
Labels: python, rust, fix

#5874 fix(python): fix window function with nullable values; regression due…
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/test_window.py
Labels: python, fix

#5877 feat(rust, python): make get_any_value fallible
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/search_sorted.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/shrink_type.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/logical.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-ops/src/series/ops/log.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/io/json.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/groupby.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust, enhancement

#5878 perf(rust, python): improve reducing window function performance ~33%
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/sync.rs
  py-polars/tests/unit/test_window.py
Labels: python, rust, performance

#5884 fix(rust, python): fix lazy swapping rename
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5888 fix(rust, python): adapt k to len in topk
  polars/polars-ops/src/chunked_array/top_k.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_sort.py
Labels: python, rust, fix

#5889 fix(rust): fix `date + duration` offsets outside of nanosecond datetime bounds
  polars/polars-core/src/series/implementations/dates_time.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#5893 feat(python): Add .item() on DataFrame and Series
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5901 feat(python): Add datatype hierarchy
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/string.py
  py-polars/tests/unit/test_datelike.py
Labels: python, enhancement

#5902 fix(rust, python): fix latest oob in streaming convertion
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#5903 chore(rust): remove unused deps
  polars/polars-io/Cargo.toml
  polars/polars-sql/Cargo.toml
  polars/polars-sql/src/main.rs
Labels: rust, chore

#5871 feat(rust): streaming parquet from object_stores
  Cargo.toml
  examples/read_parquet_cloud/Cargo.toml
  examples/read_parquet_cloud/src/main.rs
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/lib.rs
  polars/polars-io/src/object_store.rs
  polars/polars-io/src/parquet/async_impl.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  py-polars/Cargo.lock
Labels: rust, enhancement

#5908 fix(python): don't allow duplicate columns in read_csv arg
  py-polars/Cargo.lock
  py-polars/polars/utils.py
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#5909 fix(rust, python): fix pivot of signed integers
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/frame/pivot/mod.rs
  py-polars/src/utils.rs
  py-polars/tests/unit/test_pivot.py
Labels: python, rust, fix

#5910 refactor(rust): don't decode into utf8
  polars/polars-core/src/chunked_array/strings/encoding.rs
Labels: rust, refactor

#5759 feat(rust): truncate by calendar weeks
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_datelike.py
Labels: rust, enhancement

#5912 fix(rust, python): csv, read escaped "" as missing
  polars/polars-io/src/csv/buffer.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#5913 fix(rust, python): object filter should keep single chunk
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  py-polars/tests/unit/test_object.py
Labels: python, rust, fix

#5914 docs(python): add bin, series.is_sorted and merge_sorted
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/expressions/binary.rst
  py-polars/docs/source/reference/expressions/index.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/docs/source/reference/series/binary.rst
  py-polars/docs/source/reference/series/descriptive.rst
  py-polars/docs/source/reference/series/index.rst
Labels: python, docs

#5917 docs(python): Fix misspelling in LazyFrame docstring
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, docs

#5918 feat(python): handle Series init from python sequence of numpy arrays
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/io.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5925 feat(python): allow objects in struct types
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/object/extension/drop.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/chunked_array/object/registry.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_object.py
Labels: python, enhancement

#5926 fix(rust, python): don't create categoricals in streaming
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#5931 fix(rust, python): error on addition with datetime/time
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/utils/supertype.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#5932 fix(rust, python): fix time to duration cast
  polars/polars-core/src/chunked_array/logical/time.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5933 feat(rust, python): allow all null cast
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#5934 fix(rust, python): allow None in arr.slice length
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#5937 feat(rust, python): improve query plan scan formatting
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, rust, enhancement

#5938 feat(rust, python): read decimal as f64
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/series/from.rs
Labels: python, rust, enhancement

#5928 feat(rust): support glob in parquet object_storage
  examples/read_parquet_cloud/src/main.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/object_store.rs
  polars/polars-io/src/parquet/async_impl.rs
  polars/polars-lazy/src/frame/parquet.rs
Labels: rust, enhancement

#5940 chore: update arrow
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_parquet.py
Labels: chore

#5945 feat(python): add iterrrows
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_rows.py
Labels: python, enhancement

#5946 fix(rust, python): fix arrow nested null conversion
  polars/polars-core/src/series/into.rs
  py-polars/tests/unit/test_interop.py
Labels: python, rust, fix

#5922 refactor(rust): refactored describe
  polars/polars-core/src/frame/mod.rs
Labels: refactor

#5948 fix(python): fix from_dict schema_inference=0
  py-polars/polars/datatypes.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#5947 fix(rust, python): adhere to schema in arr.eval of empty list
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5949 chore: update arrow and patch filter bug
  .github/workflows/benchmark.yaml
  Cargo.toml
  py-polars/Cargo.lock
Labels: chore

#5951 fix(rust, python): block ordered predicates before explode
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/test_filter.py
Labels: python, rust, fix

#5954 fix(rust, python): fix panic in join expressions
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5952 docs(python): Fix docs for sink_parquet
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, docs

#5956 fix(python): error on invalid dtype
  py-polars/polars/datatypes.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#5929 feat(rust,python): `str.strip` with multiple chars
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-sql/src/sql_expr.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#5957 fix(rust, python): don't allow named expression in arr.eval
  polars/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#5958 fix(rust, python): don't panic on ignored context
  py-polars/tests/unit/test_context.py
Labels: python, rust, fix

#5962 feat(python): Improve `assert_frame_equal` messages
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, enhancement

#5966 feat(python): Access rows as namedtuples
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_rows.py
Labels: python, enhancement

#5967 feat(python,rust): updated default table format from "UTF8_FULL" to "UTF8_FULL_CONDENSED"
  README.md
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-sql/README.md
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  polars/src/lib.rs
  py-polars/polars/api.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/categorical.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/series/categorical.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing/_parametric.py
  py-polars/tests/docs/run_doc_examples.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/unit/io/test_sql_db.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#5970 refactor(rust): ensure reverse indices exist in global string cache
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  py-polars/Cargo.lock
Labels: rust, refactor
