Repository pola-rs/polars, pull requests merged in 2022-05, with the labels that each got.

#3268 add partial decompression in read_csv
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#3269 upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3270 python: recursive from_dicts
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3271 python polars 0.13.26
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3273 fix partitoned and error don't ignore errors
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#3276 python polars 0.13.28
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#3286 deprecate `df[[col(foo)]]` syntax
  py-polars/polars/internals/frame.py
Labels: python

#3285 fix row count for u64 idx
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

#3278 Code coverage for Rust/Python
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  py-polars/Makefile
Labels: python

#3291 Improve groupby states
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

#3293 recursive list builder in rows
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/frame/row.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/prelude.rs
  py-polars/src/py_modules.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3292 fix bigidx release
  .github/deploy_manylinux.sh
  polars/Cargo.toml
  polars/polars-core/src/utils/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
Labels: python, rust

#3294 python polars 0.13.29
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3297 Fix ipc_read_schema so Path() and filename which start with "~/" work.
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python

#3173 Remove unneeded type: ignore
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_series.py
Labels: python

#3300 polars 0.21.1
  .github/workflows/coverage.yaml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3303 find first non null to determine pandas object type
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

#3302 python lazyframe schema
  polars/polars-core/src/schema.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#3305 add lazyframe attributes docs
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

#3307 partial support for list arithmetic
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

#3308 shuffle sample option
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

#3313 improve predicate pushdown
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

#3314 Improve partitioned agg
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/utils.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#3311 Fix typos in Python lib
  py-polars/CHANGELOG.md
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lists.py
Labels: python

#3315 python improve from_dict performance
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/src/dataframe.rs
  py-polars/src/py_modules.rs
Labels: python

#3316 upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/conftest.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#3319 oncecell in favor of lazy_static
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

#3323 Update cummax documentation
  py-polars/polars/internals/series.py
Labels: python

#3327 scan pyarrow dataset
  polars/polars-core/src/schema.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/io/test_pyarrow_dataset.py
Labels: python, rust

#3340 implement anyvalue -> datatype for all variants
  polars/Makefile
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3331 Added `PartitionedWriter` for disk partitioning.
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/partition.rs
Labels: rust

#3348 Raise ImportError in to_pandas() and from_pandas() if pyarrow is not …
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

#3350 add hash to rust expressions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

#3349 serde for group options
  polars/polars-lazy/src/prelude.rs
Labels: rust

#3346 Check if length of index in pivot operation is non-zero. Fixes: #3343.
  polars/polars-core/src/frame/groupby/pivot.rs
Labels: rust

#3351 improve agg_list performance of chunked numerical data
  Makefile
  polars/polars-arrow/src/bitmap/mutable.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

#3353 Fix init of DataFrame with empty dataset (eg:"[]") and column/schema typedefs
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

#3354 rechunk on default sort and groupby
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
Labels: rust

#3355 more partitioned groupby
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#3363 allow join on same cat source
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#3364 fix rename same name
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3357 initial timezone support
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/upsample.rs
  py-polars/Cargo.lock
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3367 pivot index maintain logical type
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/tests/it/core/pivot.rs
Labels: rust

#3368 use array_ref in favor of chunks
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/unstable.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3369 entropy normalization arg
  polars/polars-core/src/series/ops/log.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3370 categorical keep type in comparisson
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#3376 rechunk in asof and allow concat to empty df
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3377 improve overflow of numeric mean
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

#3378 fix parquet stats
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust

#3381 delay rechunk optimization
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
Labels: rust

#3382 Allow Z in native strpttime
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/tests/it/io/csv.rs
Labels: rust

#3385 more partitioned aggregators
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#3387 python polars 0.13.32
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3388 Add overload support to partition_by.
  py-polars/polars/internals/frame.py
Labels: python

#3389 Check if some arguments for read_csv and scan_csv got a 1 byte input.
  py-polars/polars/io.py
Labels: python

#3391 fix rayon SO in partition_by
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
Labels: rust

#3392 python polars 0.13.33
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3394 fix bug in predicate pushdown on dependent predicates
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3395 patch python polars 0.13.34
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3396 fix predicate pushdown for predicates that do aggregations
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3400 cumulative_eval
  polars/Cargo.toml
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#3401 ensure that Cast expressions first updates groups before it flattens
  polars/polars-core/src/datatypes.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3403 improve and simplify ternary aggregation
  polars/polars-core/src/series/unstable.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3405 fix explode empty df
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#3406 Python apply -> list
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python, rust

#3408 python polars 0.13.35
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3411 Patch
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-time/Cargo.toml
  py-polars/Cargo.lock
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

#3412 python polars 0.13.36
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3419 Improve list builders, iteration and construction
  nodejs-polars/src/list_construction.rs
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/construction.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/tests/test_apply.py
  py-polars/tests/test_struct.py
Labels: python, rust, node-js

#3422 feature gate timezones
  polars/Cargo.toml
  polars/src/lib.rs
Labels: rust

#3421 fix cumulative_eval on window expressions
  polars/polars-lazy/src/dsl/eval.rs
  py-polars/tests/test_window.py
Labels: python, rust

#3423 csv allow only header and fix lazy rename
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/io/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

#3425 upgrade arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#3426 python polars 0.13.37
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_window.py
Labels: python, rust

#3433 infer dtype of empty list in recursive list construction & fix struct.arr take
  polars/polars-arrow/src/array/list.rs
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-ops/src/lib.rs
  polars/polars-time/src/lib.rs
  polars/polars-utils/src/lib.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3435 fix struct list concat
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3436 csv parser fallback on chrono if datetime pattern fails
  polars/polars-io/src/csv_core/buffer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#3437 improve rolling_quantile kernel (no nulls) ~28x
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

#3444 improve `rolling_{min/max/sum/mean}` prerformance `~3.4x`
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

#3446 fix struct equality
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3447 Struct error on different dict orders
  polars/polars-core/src/series/any_value.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3450 Inherit Exception in fallback exception classes
  py-polars/polars/exceptions.py
Labels: python

#3454 Struct creations/append/extend stricter schema
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3455 python: expose PanicException
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

#3457 don't allow predicate pushdown if compared column is being coerced
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  Makefile
  polars/polars-core/src/lib.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/expressions/is_in.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3458 improve rolling_min/max for columns with null values
  polars/polars-arrow/src/kernels/rolling/mean_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/min_max_nulls.rs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/nulls.rs
  polars/polars-arrow/src/kernels/rolling/quantile_no_nulls.rs
  polars/polars-arrow/src/kernels/rolling/sum_no_nulls.rs
Labels: rust

#3448 Improve error message in FileNotFoundError
  py-polars/src/file.rs
  py-polars/tests/test_df.py
Labels: python

#3466 Improve rolling_sum/rolling_mean for windows with null values.
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
Labels: rust

#3467 explode series after slide fast path
  polars/polars-core/src/frame/explode.rs
  py-polars/src/file.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#3468 Improve struct
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3472 python polars 0.13.38
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3471 Improving Python DataType support for Struct and repr
  polars/polars-core/src/datatypes.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#3475 power by expression and improve rust lazy ergonomics
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/from.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/pow.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/from.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/polars/internals/expr.py
  py-polars/src/file.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#3476 add specialized rolling_std kernel
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
Labels: rust

#3480 use anyvalue if first apply list result is empty
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

#3320 Added describe method to rust library
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/mod.rs
Labels: rust

#3482 python: improve error when passing DataFrame to LazyFrame
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_errors.py
Labels: python

#3488 Fix typos
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/shared_traits.ts
  polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python, rust, node-js

#3489 Groupby Optimization for sorted keys: `~15x` perf gain.
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/sort_partition.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/src/lib.rs
  polars/tests/it/core/groupby.rs
  polars/tests/it/core/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/series.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3491 make cat merge fallible and loossen restrictions on categorical appends
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#3493 Fix LazyFrame.join_asof documentation reference
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

#3496 feat: support pl.Time in Series.str.strptime
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-time/src/chunkedarray/time.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#3499 Add datatypes and exceptions to Python docs
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

#3502 Update strptime() docstrings and type hints to include Time
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#3507 str().extract_all / str().count_match
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/export.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/strings/mod.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_strings.py
Labels: python, rust

#3504 add apply to cookbooks
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  py-polars/src/lib.rs
Labels: python, rust

#3508 support all arrow dictionary keys < 64 bit
  polars/polars-core/src/series/from.rs
  py-polars/tests/test_interop.py
Labels: python, rust

#3510 fix accidental quadratic behavior in rolling_groupby
  polars/polars-time/src/windows/groupby.rs
Labels: rust

#3503 Fix some unit test deprecation warnings
  py-polars/polars/internals/frame.py
  py-polars/tests/conftest.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#3514 `Experimental` Allow `rolling_<agg>` expressions to determine window size by another `{Date, Datetime}` series.
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/boolean.rs
  polars/polars-time/src/series/implementations/categoricals.rs
  polars/polars-time/src/series/implementations/date.rs
  polars/polars-time/src/series/implementations/datetime.rs
  polars/polars-time/src/series/implementations/duration.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/polars-time/src/series/implementations/list.rs
  polars/polars-time/src/series/implementations/mod.rs
  polars/polars-time/src/series/implementations/object.rs
  polars/polars-time/src/series/implementations/struct_.rs
  polars/polars-time/src/series/implementations/time.rs
  polars/polars-time/src/series/implementations/utf8.rs
  polars/polars-time/src/series/mod.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_rolling.py
Labels: python, rust

#3515 use specialize kernels in rolling_groupby aggregation `~10x` perf gain (window of 100 elements)
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/lib.rs
Labels: rust

#3517 Update jemallocator.
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: python, rust

#3516 reduce probability of quadratic behavior in min/max rolling
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  py-polars/Cargo.lock
Labels: python, rust

#3518 python polars 0.13.39
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3526 some more docs examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
Labels: python

#3529 adjust for kleene logic in drop_na
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_series.py
Labels: python, rust

#3527 fix aggregation of empty list
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#3528 fix sorting of chunked numeric arrays
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3530 adjust for kleene logic in drop_na
  py-polars/tests/test_series.py
Labels: python

#3532 docs examples
  py-polars/polars/internals/frame.py
Labels: python

#3531 Improve rolling min max
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

#3536 fix null aggregation edge case
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#3541 allow concat/append expressions
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust
