Repository pola-rs/polars, pull requests merged in 2022-10, with the labels that each got.

#5056 chore(python): Update Makefile
  py-polars/Makefile
Labels: python, chore

#5054 fix[python]: add missing cse param to LazyFrame "profile" method
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_lazy.py
Labels: python

#5057 feat[python]: Support `Series` init as struct from `@dataclass` and annotated `NamedTuple`
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_series.py
Labels: python

#5058 fix(rust): double projections should be checked on input schema
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
Labels: rust

#5033 ci(python,rust): Use `release-drafter` to draft releases with changelogs
  .github/labeler.yml
  .github/release-drafter-python.yml
  .github/release-drafter-rust.yml
  .github/release-drafter.yml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  Makefile
Labels: chore

#5060 refactor(python): Default to zstd parquet compression
  py-polars/polars/internals/dataframe/frame.py
Labels: python, refactor

#5062 ci: Add option to skip changelog
  .github/release-drafter.yml
Labels: skip-changelog, ci

#5047 fix(rust,python): improve printing controls of DataFrame and Series
  polars/polars-core/src/fmt.rs
  py-polars/Makefile
  py-polars/polars/cfg.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, fix

#5063 feat(python): add gantt chart plot to LazyFrame::profile
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, enhancement

#5066 perf(rust): do not rechunk left joins
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/src/lib.rs
Labels: rust, performance

#5067 feat(rust, python): small plan and profile chart improvements
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, rust, enhancement

#5069 perf(rust): sort and unsort join key if other side is sorted
  polars/polars-arrow/src/conversion.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/unit/test_joins.py
Labels: rust, performance

#5065 fix(python): remove overloads for `from_arrow`
  py-polars/polars/convert.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/io.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#5071 fix(rust): fix bug in unneeded projection pruning
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/tests/it/lazy/projection_queries.rs
Labels: rust, fix

#5043 fix(python): Fix empty method detection when PYTHONOPTIMIZE=2
  py-polars/polars/internals/series/utils.py
Labels: python, fix

#5072 fix(python): tz-aware get_idx
  py-polars/polars/utils.py
  py-polars/tests/unit/test_datelike.py
Labels: python, fix

#5074 fix(rust): fix iso_year for Date dtype
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#5075 feat(python): deprecate boolean mask for Series indexing
  py-polars/polars/internals/series/series.py
Labels: python, enhancement

#5079 chore: Use literal style for version instructions
  .github/ISSUE_TEMPLATE/bug_report_python.yml
Labels: skip-changelog, chore

#5080 perf(rust, python): more conservative JIT sort settings
  polars/polars-core/src/frame/hash_join/sort_merge.rs
Labels: python, rust, performance

#5090 fix(rust, python): projection_node always do projection locally if no…
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  polars/tests/it/lazy/projection_queries.rs
Labels: python, rust, fix

#5088 chore(rust): Constant instead of literal
  polars/polars-io/src/ndjson_core/ndjson.rs
Labels: rust, chore

#5093 fix(rust, python): block projection pushdown on unnest
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#5089 chore(python): improve py-polars/Makefile
  py-polars/Makefile
Labels: python, chore

#5099 refactor(python): deprecate name argument in drop
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, refactor

#5098 fix(rust, python): don't recurse assign uniuns as it SO > 5k files
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
Labels: python, rust, fix

#5101 refactor(python): revert some makefile changes
  py-polars/Makefile
Labels: python, skip-changelog, refactor

#5100 feat(rust, python): error on invalid asof join inputs
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#5103 feat(rust, python): add cumfold/cumsum expression
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/Makefile
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_folds.py
Labels: python, rust, enhancement

#5106 perf(python): take advantage of sorted join for frame alignment
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_functions.py
Labels: python, performance

#5107 feat(rust, python): add struct arithmetics
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/utils/supertype.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  py-polars/tests/unit/test_arithmetic.py
Labels: python, rust, enhancement

#5110 feat(rust, python): improve function expansion
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#5112 fix(rust, python): unique include null
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#5120 fix wrong operator mapped for LtEq
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
Labels: fix

#5128 chore: update rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  polars-sql/rust-toolchain
  rust-toolchain.toml
Labels: skip-changelog, chore

#5126 fix(python): add missing _NUMPY_AVAILABLE check in Series.__getitem__
  py-polars/polars/internals/series/series.py
Labels: python, fix

#5142 refactor(rust): relax sync requirement on Executor trait impls
  polars/polars-lazy/src/physical_plan/executors/executor.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: rust, refactor

#5150 fix(python): Rendering long docstring lines.
  py-polars/polars/internals/lazy_functions.py
Labels: python, fix

#5149 fix(rust): microsecond noise on `date` >> `time` cast (add `00:00:00` fast-path)
  polars/polars-core/src/chunked_array/logical/date.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#5152 fix(rust): implement missing conversion to python `time` object
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#5164 refactor(python): improve typing; many `list` types are better defined as `Sequence`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_df.py
Labels: python, refactor

#5151 chore(python): Add support for ruff python linter.
  py-polars/Makefile
  py-polars/pyproject.toml
Labels: python

#5161 fix(rust, python): Implement missing `extract` conversion for `Time` datatype
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/lit.rs
  py-polars/polars/datatypes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5165 feat(python): frame-level `n_unique()` that can count unique rows or col/expr subsets
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#5170 perf(rust, python): improve streaming performance (~15%)
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/first.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/interface.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/last.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
Labels: python, rust, performance

#5172 perf(rust, python): improve pivot performance by using faster series…
  polars/polars-ops/src/pivot/positioning.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#5171 tests(python): harden unit tests
  py-polars/tests/unit/test_apply.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_filter.py
  py-polars/tests/unit/test_functions.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_joins.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_lists.py
  py-polars/tests/unit/test_pivot.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_struct.py
Labels: test

#5174 feat(python): support `DataFrame` init with Datetime dtypes that specify a timezone
  py-polars/polars/datatypes.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#5176 chore(rust): move polars-sql under polars folder
  Cargo.toml
  polars/Cargo.toml
  polars/polars-sql/Cargo.toml
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/main.rs
  polars/polars-sql/src/sql_expr.rs
  polars/src/lib.rs
  polars/src/sql.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/lib.rs
  py-polars/src/sql.rs
Labels: rust, chore

#5184 feat(rust, python): is_sorted aggregation fast path for Utf8Chunked
  polars/polars-core/src/chunked_array/ops/aggregate.rs
Labels: python, rust, enhancement

#5185 fix(python): error on fill_nan on non float dtype
  polars/polars-core/src/series/mod.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_struct.py
Labels: python, fix

#5191 feat(rust, python): accept expressions in arr.slice
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  py-polars/polars/internals/expr/list.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, enhancement

#5192 fix(python): DataFrame.fill_null include unsigned integers
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#5193 fix(rust, python): include offset in arr.get
  polars/polars-arrow/src/kernels/list.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#5195 fix(rust, python): don't allow categorical append that is not under s…
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust, fix

#5205 test(python): skip failing test until #5177 is resolved
  py-polars/tests/unit/test_df.py
Labels: python, test

#5204 fix(rust, python): fix overflow in partitioned groupby mean of int32/…
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/slow/test_overflow.py
Labels: python, rust, fix

#5206 fix(python): fix apply function over object dtype
  py-polars/src/series.rs
  py-polars/tests/unit/test_apply.py
Labels: python, fix

#5207 fix(rust, python): improve numeric stability of rolling_variance
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  py-polars/tests/unit/test_rolling.py
Labels: python, rust, fix

#5210 fix(rust, python): fix single thread loop if schema lenght is off by 1
  polars/polars-io/src/csv/parser.rs
Labels: python, rust, fix

#5212 feat(rust, python): batched csv reader
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
  py-polars/src/batched_csv.rs
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#5213 fix(rust, python): fix asof_join schema
  polars/polars-core/src/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5219 feat(python, rust): allow polars Config options to be serialised/shared, and more easily unset
  polars/polars-core/src/fmt.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, enhancement

#5223 feat(python): allow Config to be used as a context manager, and update some docs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/tests/unit/test_cfg.py
Labels: python, enhancement

#5224 fix(rust, python): fix pipeline dtypes
  examples/read_csv/benches/streaming.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
Labels: python, rust, fix

#5225 fix(rust, python): set string cache if lazy schema contains categorical
  polars/polars-io/src/csv/read.rs
  py-polars/tests/slow/test_csv.py
Labels: python, rust, fix

#5229 chore(python): Consistent naming for Python release workflow
  .github/workflows/create-py-release-mac-universal2.yaml
Labels: python, chore

#5226 fix(rust, python): fix incorrect duration dtype
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5094 fix(python): accept `tuple[bool, bool]` instead of `Sequence[bool]` for `Expr.is_between`
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
Labels: python, fix

#5232 feat(python): infer timezone and improve display
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#5140 feat(rust): Rust functions for typed JsonPath implementation
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/strings/json_path.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/strings/json_path.rs
  polars/polars-ops/src/chunked_array/strings/mod.rs
Labels: rust, enhancement

#5234 feat(rust, python): make date_range timezone aware
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  polars/tests/it/lazy/expressions/expand.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, enhancement

#5239 fix(python): ensure that `polars_type_to_constructor` works with tz-aware `Datetime` dtypes
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#5235 fix(rust, python): fix groupby dynamic truncate for > days resolution
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#5246 fix(python): don't use zoneinfo globally
  py-polars/polars/utils.py
Labels: python, fix

#5247 fix(rust, python): include slice in sort fast path
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust, fix

#5237 fix(python): Check multiprocessing start_method on import (#3144)
  py-polars/polars/__init__.py
  py-polars/polars/mp_check.py
Labels: python, fix

#5254 fix(rust, python): include single null value in global cat builder
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#5243 feat(python, rust): added new `Config` formatting option `set_tbl_column_data_type_inline`, fixed reading of env vars, improved interaction between formatting options
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, enhancement

#5252 feat(python, rust): new `n_chars` functionality for utf8 strings
  polars/polars-arrow/src/kernels/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_utf8.py
Labels: python, rust, enhancement

#5256 fix(python): Check if `BatchedCsvReader.next_batches()` is None befor…
  py-polars/polars/internals/batched.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#5153 feat(rust, python): Add round for date and datetime
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/round.rs
  polars/polars-time/src/windows/window.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, enhancement

#5258 fix(rust): tag IntoSeries trait as unsafe
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
Labels: rust, fix

#5259 refactor(rust)!: rename expand_at_index -> new_from_index
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/doc/changelog/v0_7.rs
  polars/polars-core/src/frame/arithmetic.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/ops/extend.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
Labels: rust, breaking, refactor

#5262 feat(rust, python): improve error msg if window expressions length do…
  polars/polars-core/src/series/unstable.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#5264 feat(python): allow implicit None branch in when then otherwise
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/unit/test_predicates.py
Labels: python, enhancement

#5270 fix(python): Overloading date_range
  py-polars/polars/internals/functions.py
Labels: python, fix

#5267 feat(rust, python): date_range expression
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-time/src/windows/groupby.rs
  polars/tests/it/lazy/expressions/expand.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
Labels: python, rust, enhancement

#5273 fix(rust, python): don't block non matching groups in binary expression
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/test_groupby.py
Labels: python, rust, fix

#5276 chore(rust): Update comfy-table and memchr.
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: rust, chore

#5275 fix(python): respect schema overwrite in from rows
  polars/polars-core/src/chunked_array/object/mod.rs
  polars/polars-core/src/chunked_array/object/registry.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/datatypes/time_unit.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/schema.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/schema.rs
  py-polars/polars/internals/construction.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/object.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#5282 perf(python): never import hypothesis in user code
  py-polars/docs/source/reference/testing.rst
  py-polars/polars/testing/__init__.py
  py-polars/polars/testing/_parametric.py
  py-polars/polars/testing/_private.py
  py-polars/polars/testing/asserts.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/parametric/test_lazyframe.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lists.py
  py-polars/tests/unit/test_series.py
Labels: python, performance

#5286 perf(python): remove pandas imports
  py-polars/polars/convert.py
  py-polars/polars/import_check.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python, performance

#5284 feat(python): Do not import polars.testing by default
  py-polars/polars/__init__.py
  py-polars/tests/io/test_excel.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_explode.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_rolling.py
  py-polars/tests/unit/test_serde.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5289 chore(python): Add ModuleType for import functions in import_check.py
  py-polars/polars/import_check.py
  py-polars/polars/internals/io.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_df.py
Labels: python, chore

#5281 fix(python, rust): properly interpret FMT_MAX_ROWS - remove arbitrary minimum, fix Series formatting
  polars/polars-core/src/config.rs
  polars/polars-core/src/fmt.rs
  py-polars/polars/cfg.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_fmt.py
Labels: python, rust, fix

#5253 feat(rust): Add newline to Aggregate..FROM describe_optimization_plan
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
Labels: rust, enhancement

#5290 feat(python): accept schema in read_dicts
  polars/polars-core/src/frame/row.rs
  py-polars/polars/convert.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#5293 fix(python): fix to_pandas edge case
  py-polars/src/dataframe.rs
Labels: python, fix

#5291 feat(python): improve error message in struct apply
  py-polars/src/apply/mod.rs
Labels: python, enhancement

#5292 fix(python): throw error on invalid lazy concat strategy
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#5294 feat(python): don't panic in failing apply
  py-polars/src/lazy/apply.rs
Labels: python, enhancement

#5297 feat(rust, python): improve dynamic inference of struct types
  polars/polars-core/src/series/any_value.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, enhancement

#5298 feat(python): expose to_struct to series list namespace
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/list.py
Labels: python, enhancement

#5304 fix(python): fix and check all uninstalled imports in ci
  .github/workflows/test-python.yaml
  py-polars/polars/import_check.py
Labels: python, fix, ci

#5306 test(python): Catch deprecation warnings in unit tests
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, test

#5303 chore(docs): Clean up README.md
  README.md
Labels: chore

#5302 refactor(python): streamline lazy imports
  py-polars/.flake8
  py-polars/docs/requirements-docs.txt
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/dependencies.py
  py-polars/polars/import_check.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, refactor

#5309 fix(python): close multi-threading pool in df creation
  py-polars/polars/internals/construction.py
Labels: python, fix

#5310 chore(rust): update ahash and add nightly features of hashbrown
  Cargo.toml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/datatypes/aliases.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/hash.rs
  polars/polars-sql/Cargo.toml
  polars/polars-sql/src/main.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/hash.rs
  polars/polars-utils/src/lib.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
Labels: rust, chore

#5311 perf(rust): lower contention in out of core filter
  polars/polars-lazy/polars-pipe/src/executors/operators/filter.rs
Labels: rust, performance

#5312 chore(rust): update to rustc to nightly-2022-10-24
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-py-release-mac-universal2.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-core/src/chunked_array/object/extension/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/src/conversion.rs
  py-polars/src/file.rs
  rust-toolchain.toml
Labels: rust, chore

#5315 fix(rust, python): fix sort-merge dispatch of utf8
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5318 docs(python): Add "import polars.testing" to testing docstrings (#5316)
  py-polars/polars/testing/asserts.py
Labels: python, docs

#5317 fix(rust, python): fix explicit list + sort aggregation in groupby co…
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust, fix

#5321 chore(docs): fix some README.md regression
  README.md
Labels: chore

#5295 fix(rust): export anonymousscan in lazy prelude
  polars/polars-lazy/polars-plan/src/logical_plan/anonymous_scan.rs
  polars/polars-lazy/src/prelude.rs
Labels: rust, fix

#5265 fix(rust): don't set auto-explode in apply_multiple
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/queries.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/apply.rs
  py-polars/src/lib.rs
Labels: rust, fix

#5333 fix(python, rust): fix serde of expression (pickle)
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  py-polars/tests/unit/io/test_pickle.py
Labels: python, rust, fix

#5336 fix(python): nested dicts / list generation
  polars/polars-core/src/datatypes/aliases.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_lists.py
Labels: python, fix

#5337 feat(rust, python): accept expr in arr.get
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, enhancement

#5342 feat(python): don't raise error but print a warning if mp fork method…
  py-polars/polars/mp_check.py
Labels: python, enhancement

#5347 refactor(python): remove multiprocessing check, and leave it to the user
  py-polars/polars/__init__.py
  py-polars/polars/mp_check.py
Labels: python, refactor

#5348 fix(python): remove unused branch in getitem
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#5351 feat(rust, python): shrink_type expression
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/shrink_type.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#5358 fix(rust, python): block is_null predicate in asof join
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#5360 fix(rust, python): unnest only pushdown column if there are projections
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#5364 feat(rust, python): add reduce/cumreduce expression as an easier fold
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_folds.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#5369 docs(python): Add with_time_zone to reference guide
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
Labels: python, docs

#5376 docs(python): improve structure of sphinx-generated API docs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/src/docs/eager.rs
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/expressions/aggregation.rst
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/expressions/boolean.rst
  py-polars/docs/source/reference/expressions/categories.rst
  py-polars/docs/source/reference/expressions/columns.rst
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/docs/source/reference/expressions/index.rst
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/docs/source/reference/expressions/miscellaneous.rst
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/expressions/strings.rst
  py-polars/docs/source/reference/expressions/struct.rst
  py-polars/docs/source/reference/expressions/timeseries.rst
  py-polars/docs/source/reference/expressions/window.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/docs/source/reference/series/aggregation.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/docs/source/reference/series/attributes.rst
  py-polars/docs/source/reference/series/boolean.rst
  py-polars/docs/source/reference/series/categories.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/docs/source/reference/series/conversion.rst
  py-polars/docs/source/reference/series/descriptive.rst
  py-polars/docs/source/reference/series/index.rst
  py-polars/docs/source/reference/series/miscellaneous.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/docs/source/reference/series/strings.rst
  py-polars/docs/source/reference/series/struct.rst
  py-polars/docs/source/reference/series/timeseries.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/struct.py
  py-polars/polars/utils.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/test_series.py
Labels: python, docs

#5379 docs(python): minor navbar improvements; adds discord and twitter links, fixes github icon
  py-polars/docs/source/conf.py
Labels: python, docs

#5383 feat(python): enable frame init from sequence of pandas series, and improve lazy typechecks (handle subclasses)
  py-polars/polars/dependencies.py
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#5339 feat(rust, python): Streaming joins architecture and Cross join implementation.
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/dummy.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/filter.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/ordered.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/frame.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/mod.rs
  polars/polars-lazy/polars-pipe/src/lib.rs
  polars/polars-lazy/polars-pipe/src/operators/chunks.rs
  polars/polars-lazy/polars-pipe/src/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/operators/operator.rs
  polars/polars-lazy/polars-pipe/src/operators/sink.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-pipe/src/pipeline/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust, enhancement
