Repository pola-rs/polars, pull requests merged in 2022-08, with the labels that each got.

#4198 python polars: 0.13.59
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python

#4203 Miscellaneous improvements
  .gitignore
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

#4200 Add flake8 extension: comprehensions
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_window.py
Labels: python

#4201 Add flake8 extension: simplify
  py-polars/.flake8
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
Labels: python

#4205 don't use pyarrow read if we have categoricals in the schema
  py-polars/polars/io.py
Labels: python

#4210 python: don't lock gil in arr.contains
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust

#4217 fix nested struct append
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  py-polars/src/conversion.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#4219 use default context for col upstream col expression type
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#4220 ensure weekday starts at 0
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#4221 python datetime consistency
  py-polars/polars/internals/construction.py
  py-polars/src/conversion.rs
  py-polars/tests/test_datelike.py
Labels: python

#4223 python: improve error
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

#4209 Upgrade black, blackdoc, mypy, flake8
  py-polars/build.requirements.txt
Labels: python

#4225 python: ensure utf8 encoding when writing dot file
  py-polars/polars/internals/lazy_frame.py
Labels: python

#4226 convert arrow map to list<struct>
  polars/polars-core/src/series/from.rs
Labels: rust

#4228 fast path for sorted min/max
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#4211 Set no_implicit_reexport = true in `pyproject.toml`
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/pyproject.toml
  py-polars/tests/io/test_avro.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#4232 fix and improve rolling_skew
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/series/ops/moment.rs
  polars/polars-core/src/series/unstable.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/utils/series.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/rolling.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/rolling.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

#4237 ternary expr: validate predicate in groupby context
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/unique.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#4236 Overload pl.from_arrow type hints
  py-polars/polars/convert.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/io.py
  py-polars/tests/io/test_other.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python

#4242 python: allow horizontal expanding sum
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_expr_multi_cols.py
Labels: python

#4241 improve strictness/consistency of when then otherwise
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#4244 reinstate old ternary behavior as experimental
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#4246 correct dtype for power
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4247 csv: improve data/datetime/bool overwrite
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#4248 Release rust 0.23.0
  polars/Cargo.toml
  polars/Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4250 native IPC memory map! :tada:
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/ipc/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/mmap.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/tests/io.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#4252 fix boolean/numeric supertypes
  polars/polars-core/src/utils/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4254 cast null to categorical
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#4261 fix groups edge case
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/Cargo.lock
  py-polars/tests/test_queries.py
Labels: python, rust

#4243 Improve typing for `__getitem__`
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_exprs.py
Labels: python

#4266 Update build dependencies
  py-polars/build.requirements.txt
  py-polars/docs/source/conf.py
Labels: python

#4263 python polars 0.13.61
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4265 Fix `__all__` specification in `__init__.py` files
  py-polars/.flake8
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
Labels: python

#4270 Update to new arrow avro API
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
  polars/polars-io/src/avro/mod.rs
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/avro/write.rs
  py-polars/Cargo.lock
Labels: python, rust

#4274 elide bound checks in boolean take_unchecked
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/compute/take/boolean.rs
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
Labels: rust

#4269 CSV starting point offset meaningless when no data
  polars/polars-io/src/csv/read_impl.rs
Labels: rust

#4276 external context
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/ext_context.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
  py-polars/tests/test_schema.py
Labels: python, rust

#4282 fix large idx take chunked
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
Labels: rust

#4280 ensure schema update of row_count arguments
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

#4290 Fix byte transmutes groups
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/test_groupby.py
  py-polars/tests/test_sort.py
Labels: python, rust

#4292 Specialize groupby
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/vector_hasher.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_joins.py
Labels: python, rust

#4293 Improve handling of `encoding` literal argument
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_series.py
Labels: python

#4294 python polars 0.13.62
  polars/polars-lazy/src/logical_plan/alp.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_joins.py
Labels: python, rust

#4303 Improve handling of literal arguments: `closed` and `interpolation`
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/tests/test_rolling.py
Labels: python

#4304 Improve handling of literal arguments: `strategy`
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
Labels: python

#4298 Improve handling of literal arguments: `parallel`
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/conversion.rs
  py-polars/tests/io/test_lazy_parquet.py
Labels: python

#4296 Improve handling of literal arguments: `compression`
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_parquet.py
Labels: python

#4295 Fix io.py docstring typos
  py-polars/polars/io.py
Labels: python

#4299 Fix test warnings
  py-polars/tests/test_datelike.py
  py-polars/tests/test_errors.py
Labels: python

#4300 fix: use use pytest.approx to compare float in rolling_skew test
  polars/polars-arrow/src/utils.rs
  polars/polars-core/src/series/ops/moment.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

#4314 fix window functions of list datatypes
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_window.py
Labels: python, rust

#4283 Standardize handling of agg input types
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
Labels: python, breaking

#4309 Revert generic LazyFrame
  py-polars/polars/datatypes.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python, breaking

#4315 ddof for variance and standard deviation
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python, rust

#4312 Re-order Python API reference menu by importance
  py-polars/docs/source/reference/index.rst
Labels: python

#3960 from_numpy orientation
  py-polars/polars/internals/construction.py
  py-polars/tests/test_constructors.py
Labels: python, breaking

#4229 Add flake8-tidy-imports extension
  py-polars/.flake8
  py-polars/build.requirements.txt
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datatypes.py
Labels: python

#4317 fix: flake8 import error
  py-polars/polars/internals/frame.py
Labels: python

#4320 Turn on `disallow-any-generics`
  py-polars/polars/convert.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

#4316 Remove deprecated functionality
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#4322 Unify type annotations for `DataFrame.select` and `LazyFrame.select`
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

#4318 handle null values in correlation
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/tests/arity.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_functions.py
Labels: python, rust

#4324 Improve `fill_null` usability
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#4325 allow compilation with only 'is_in' feature
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

#4331 Remove deprecated `DataFrame.__setitem__`
  py-polars/polars/internals/frame.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
Labels: python

#4329 Remove deprecated `DataFrame.__getattr__`
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
Labels: python

#4327 Remove more deprecated functionality
  py-polars/polars/convert.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python, breaking

#4328 Remove deprecated sort in-place
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_sort.py
Labels: python

#4332 python: groupby_dynamic closed left
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

#4333 ignore unknown supertype
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

#4334 python: ensure type information is passed in custom apply expression
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_apply.py
Labels: python

#4335 python: filter accept boolean list
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

#4330 Remove accessing GroupBy by index
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#4337 fix issue4258
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_series.py
Labels: python

#4338 Remove deprecated `DataFrame.select_at_idx`
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests_parametric/test_dataframe.py
Labels: python

#4341 python: remove deprecated to_python_datetime
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
Labels: python

#4346 Fix `datetime` consistency errors in filtering/cast ops
  .gitignore
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python

#4342 Remove deprecated boolean masks for `DataFrame.__getitem__`
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#4349 fix sorted window expression
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/sort.rs
  py-polars/tests/test_window.py
Labels: python, rust

#4350 python dataframe.filter accept numpy boolean mask
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

#4352 python polars 0.14.0
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4354 Small improvements for `is_in` and `lit`
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_datelike.py
Labels: python

#4356 Improve docstring of ewm functions
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#4358 Panic if a Duration string has multiple minus signs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python, rust

#4355 Type aliases for string literals
  py-polars/polars/convert.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/io.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_rolling.py
Labels: python

#4369 Add pyupgrade
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/build.requirements.txt
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

#4371 Housekeeping - clean up feature flags & compiler warnings
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/tests/it/lazy/expressions/expand.rs
Labels: rust

#4386 Improve pytz integration
  py-polars/polars/utils.py
  py-polars/pyproject.toml
Labels: python

#4389 fix stackoverflow in unique of empty series
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#4388 Standardize conversion of Python string literals to Rust enums
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

#4390 fix shift window functions
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_window.py
Labels: python, rust

#4392 fix[expr]: sort_by ensure groups are synced
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#4394 chore[python]: Standardize conversion of Python string literals to Rust enums [Part 2]
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: python

#4396 fix[rust]: fix flawed simplify expression rule
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/test_filter.py
Labels: python, rust

#4370 chore[python]: added more string literal types
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_pivot.py
  py-polars/tests/test_utils.py
Labels: python

#4366 feat[rust]: serialize `str` and `nan` expressions
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/options.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

#4400 feat[python]: Add string literal types for better type checking
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
Labels: python

#4404 fix[rust]: melt default value name was wrong in predicate pushdown
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_filter.py
Labels: python, rust

#4405 fix[rust]: fix unique order on 'last' keep setting
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#4406 fix[rust]: don't divide by zero on parquet write row_groups > df.size
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#4367 feat[python]: Add show_versions
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/utils.rst
  py-polars/polars/__init__.py
  py-polars/polars/show_versions.py
  py-polars/pyproject.toml
  py-polars/tests/test_show_versions.py
Labels: python

#4403 feat[python]: Expose format parameters to `DataFrame.write_csv`
  polars/polars-io/src/csv/write.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#4399 refactor[python]: Break up `expr` module into submodules
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr/__init__.py
  py-polars/polars/internals/expr/categorical.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/expr/struct.py
Labels: python

#4407 fix[rust]: fix `Series::full_null` for list dtype
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#4410 refactor[python]: Break up `lazy_frame` module into submodules
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/lazyframe/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
Labels: python

#4408 refactor[python]: Break up `series` module into submodules
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/__init__.py
  py-polars/polars/internals/series/categorical.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/series/struct.py
  py-polars/src/conversion.rs
  py-polars/tests/test_series.py
Labels: python

#4058 chore[python]: Enforce strict type equality in mypy check
  py-polars/pyproject.toml
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_datatypes.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
Labels: python

#4412 fix[rust]: don't run parititioned groupby when computing mean of logi…
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/tests/db-benchmark/main.py
Labels: python, rust

#4413 fix[rust]: improve numeric stability of rolling variance
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
Labels: rust

#4416 test[python]: Fix type indexing py3.7 test error
  py-polars/tests/io/test_csv.py
Labels: python

#4420 fix[python] floor divide floats
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#4421 chore[python]: Remove outdated TODO
  py-polars/polars/internals/series/series.py
Labels: python

#4418 chore[python] python polars 0.14.1
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4411 refactor[python]: Break up `frame` module into submodules
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/dataframe/pivot.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_struct.py
Labels: python

#4426 fix[rust]: sort_by(argsort) window expression did not use updated group
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#4428 perf[rust]: reuse allocated buffer if available in window perfect sort
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/src/sort.rs
Labels: rust

#4415 chore[python]: Turn on mypy strict mode
  py-polars/pyproject.toml
Labels: python

#4429 fix[rust]: type coercion in list.eval
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#4424 perf[ndjson]: use simd_json
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
  polars/tests/it/io/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

#4434 fix[rust]: argsort argument expansion fixed
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

#4435 perf[rust]: use vec![value;n] for ChunkedArray::full
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

#4436 Docs/small improvements to the rust doc landing page
  polars/src/lib.rs
Labels: rust

#4437 fix[python]: allow an apply that produces empty list values
  py-polars/src/apply/mod.rs
  py-polars/tests/test_apply.py
Labels: python

#4440 fix[python]: improve from_dicts nested null inference
  polars/polars-core/src/frame/row.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4446 fix[rust]: fix rolling_min/max for arrays with null values
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/lib.rs
Labels: rust

#4447 fix[rust]: ensure left argument of functions is iterated first
  polars/polars-lazy/src/logical_plan/iterator.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

#4339 More expr docstrings
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
Labels: python

#4453 fix[rust]: fix and test all rolling extrema paths
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

#4454 fix[rust]: rolling_groupby extrema fixed
  polars/polars-core/src/chunked_array/ops/reverse.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_rolling.py
  py-polars/tests/test_sort.py
Labels: python, rust

#4456 feat[rust, python] add Expr::search_sorted
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/search_sorted.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#4457 fix[rust]: fix and test sorted fast paths
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#4459 perf[rust]: set sorted flag on series filled with constant
  polars/polars-core/src/chunked_array/ops/full.rs
Labels: rust

#4460 fix[rust]: maintain logical type in value counts
  polars/polars-ops/src/series/ops/various.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#4461 chore[rust]: update arrow
  examples/read_csv/Cargo.toml
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/predicates.rs
  py-polars/Cargo.lock
  py-polars/tests/test_df.py
Labels: python, rust

#4464 feat: Add support for reading non-utf8 encoded CSV files.
  py-polars/polars/internals/io.py
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

#4465 fix[rust]: ewm_mean leading nulls function
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4468 python polars 0.14.2
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4470 fix[python]: raise DeprecationWarning on deprecated arguments
  py-polars/polars/io.py
  py-polars/tests/io/test_lazy_csv.py
Labels: python

#4445 Fix type annotations for `fill_nan()`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#4384 Fix groupby bench
  polars/benches/groupby.rs
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

#4477 fix[rust]: ewm correct for leading nulls
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4479 fix[rust]: fix cache on duplicate schemas
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/planner/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/prelude.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#4481 chore[rust]: Deprecate Python:acquire_gil and use Python::with_gil (#…
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

#4483 refactor[rust]: add generic type coercion node for Function expressions
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

#4486 chore[rust]: Fix all clippy warnings except "clippy::borrow_deref_ref".
  py-polars/src/apply/series.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python

#4382 feat[python, rust]: add `scan_json` and a `LazyJsonReader`
  examples/datasets/foods1.ndjson
  polars/Cargo.toml
  polars/polars-io/src/json.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/ndjson.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  py-polars/Cargo.toml
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/io/test_lazy_json.py
Labels: python, rust

#4494 fix[rust]: make schema fallible
  polars/polars-lazy/src/logical_plan/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4495 fix[rust]: parse date when day is omitted
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#4496 fix[rust]: Categorical::default respect global string cache
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#4497 fix[rust]: handle NaNs in argsort
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  py-polars/tests/test_sort.py
Labels: python, rust
