Repository pola-rs/polars, pull requests merged in 2022-11, with the labels that each got.

#5388 docs(python): improve rendering of API docs type signatures, mark PivotOps as deprecated, misc tidy-ups
  py-polars/Makefile
  py-polars/docs/source/conf.py
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/dataframe/pivot.py
Labels: python, docs

#5390 fix(python): lazy proxy module does not require registration in `sys.globals`
  py-polars/polars/dependencies.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#5393 docs(python): add integrated support for copying API examples, and auto-parallelise docs build
  py-polars/docs/.gitignore
  py-polars/docs/Makefile
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
Labels: python, docs

#5394 feat(python): r-associative support for commutative `DataFrame` operators
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5397 feat(python): 30x speedup initialising `Series` from python `range` object
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
Labels: python, enhancement

#5403 fix(rust, python): explicit nan comparison in min/max agg
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
Labels: python, rust, fix

#5408 chore: Remove CHANGELOG.md
  CHANGELOG.md
Labels: chore

#5410 fix(rust, python): don't set sorted flag in argsort
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust, fix

#5411 feat(python): support `Series` init from generator
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5412 fix(rust, python): fix cse for nested caches
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#5416 fix(rust, python): correct expr::diff dtype for temporal columns
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5421 docs(python): Better docstring for keep_name (#5378)
  py-polars/polars/internals/expr/expr.py
Labels: python, docs

#5417 fix(rust, python): fix null poisoning in rank operation
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, fix

#5414 chore: Allow for choice in memory allocator and use mimalloc for polars-lts-cpu
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  py-polars/src/lib.rs
Labels: chore

#5424 feat(python): support `DataFrame` init from generators
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5427 fix(rust, python): properly handle json with unclosed strings
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_lazy_json.py
Labels: python, rust, fix

#5428 feat(python): enhanced `Series.dot` method and related interop
  polars/polars-core/src/datatypes/dtype.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5431 feat(python): add missing `width` property to `LazyFrame`
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#5366 fix(rust, python): fix freeze/stall when writing more than 2^31 string values to parquet
  Cargo.toml
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/trusted_len/mod.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  py-polars/Cargo.lock
Labels: python, rust, chore, fix

#5423 feat(python,rust): build_info() provides detailed information how polars was built
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/build.rs
  py-polars/polars/__init__.py
  py-polars/polars/build_info.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_build_info.py
Labels: python, rust, enhancement

#5400 feat(rust, python): streaming inner joins.
  polars/Cargo.toml
  polars/polars-core/src/datatypes/aliases.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/ordered.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/utils.rs
  polars/polars-lazy/polars-pipe/src/lib.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/physical_plan/streaming/mod.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/streaming.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/test_joins.py
Labels: python, rust, enhancement

#5435 refactor(rust): use IdHash for streaming groupby generic
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/utils.rs
Labels: rust, refactor

#5436 fix(rust): add missing `AnyValueBuffer` specialisation for `Duration` dtype
  polars/polars-core/src/frame/row.rs
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#5439 refactor(rust): make generic join builder more dry
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/mod.rs
  py-polars/Cargo.lock
Labels: rust, refactor

#5440 fix(python): use of `fill_null` with temporal literals
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_datelike.py
Labels: python, fix

#5442 docs(python): add build_info() to the API doc
  py-polars/docs/source/reference/utils.rst
Labels: python, chore, docs

#5454 feat(rust, python): file statistics so we only (try to) keep smallest table in memory
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/ordered.rs
  polars/polars-lazy/polars-pipe/src/operators/sink.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-pipe/src/pipeline/mod.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, enhancement

#5456 feat(rust, python): streaming left joins
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, enhancement

#5458 refactor(rust, python): don't panic if part of query cannot run strea…
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, refactor

#5459 fix(python): further improved lazy loading
  py-polars/docs/source/_static/css/custom.css
  py-polars/polars/datatypes.py
  py-polars/polars/dependencies.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#5466 feat(rust, python): add streaming slice operation
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/slice.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
  polars/polars-utils/src/arena.rs
Labels: python, rust, enhancement

#5471 chore: Remove old changelog generator file
  .github_changelog_generator
Labels: chore

#5469 fix(python): improved namespace/accessor behaviour (resolves VSCode autocomplete issue)
  py-polars/docs/Makefile
  py-polars/polars/utils.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#5472 chore(python): Changing the Python Makefile again
  py-polars/Makefile
Labels: python, chore

#5474 feat(rust, python): make streaming work with multiple sinks in a sing…
  polars/polars-arrow/src/array/get.rs
  polars/polars-core/src/chunked_array/ops/take/take_chunked.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/slice.rs
  polars/polars-lazy/polars-pipe/src/operators/chunks.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, enhancement

#5467 feat(rust): add predicate pushdown to anonymous_scan
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
Labels: rust, enhancement

#5476 fix(python): use json for expr pickle
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_serde.py
Labels: python, fix

#5477 feat(python): additional autocomplete affordances for `IPython` users
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/struct.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_struct.py
Labels: python, enhancement

#5478 fix(rust, python): return error on invalid sortby expression
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#5479 fix(rust, python): compute correct offset for streaming join on multi…
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, fix

#5483 chore: add readme and jemalloc to polar-sql
  polars/polars-sql/Cargo.toml
  polars/polars-sql/README.md
  polars/polars-sql/src/main.rs
Labels: chore

#5484 fix(rust, python): fix bugs in skew and kurtosis
  .github/workflows/benchmark.yaml
  polars/polars-core/src/series/ops/moment.rs
Labels: fix

#5486 chore: update readme
  README.md
Labels: chore

#5487 feat(python): additional support for using `timedelta` with duration-type arguments
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_rolling.py
Labels: python, enhancement

#5488 ci: install stable data.table from nearest repo
  .github/workflows/benchmark.yaml
Labels: ci

#5491 fix(python): Refactor is_between
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
Labels: python, fix

#5492 feat(Python): Support Python 3.11
  .github/workflows/docs-check.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  py-polars/docs/requirements-docs.txt
  py-polars/requirements-dev.txt
Labels: enhancement

#5498 fix(python): preserve `Series` name when exporting to `pandas`
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#5506 fix(rust, python): fix bug in batched parquet reader that dropped dfs…
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
Labels: python, rust, fix

#5518 fix(rust, python): fix sort_by expression if groups already aggregated
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/polars/testing/_private.py
  py-polars/tests/unit/test_sort.py
Labels: python, rust, fix

#5520 fix(rust, python): fix nested aggregatin in when then and window expr…
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/test_window.py
Labels: python, rust, fix

#5521 fix(rust, python): fix coalesce expreession expansion
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_functions.py
Labels: python, rust, fix

#5522 fix(rust, python): make 'truncate' tz-aware
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/truncate.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5525 fix(rust, python): tz-aware strftime
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5526 fix(rust, python): allow appending categoricals that are all null
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust, fix

#5528 fix(rust, python): fix duplicate caches in cse and prevent quadratic …
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#5532 feat(rust, python): make map_alias fallible
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust, enhancement

#5534 fix(rust, python): fix streaming empty join panic
  polars/Cargo.toml
  polars/build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#5531 feat(python): support namespace registration
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/reference/api.rst
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/index.rst
  py-polars/polars/__init__.py
  py-polars/polars/api.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5533 feat(python): add dataframe.pearson_corr
  py-polars/polars/internals/dataframe/frame.py
Labels: python, enhancement

#5538 fix(rust, python): streaming hstack allow duplicates
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#5541 refactor(rust): streaming improvements
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-utils/src/unwrap.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/test_groupby.py
Labels: rust, refactor

#5542 fix(rust, python); fix projection pushdown in asof joins
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5558 docs(rust, python): Improve contributing guide
  CONTRIBUTING.md
  polars/Makefile
  py-polars/docs/.gitignore
Labels: python, rust, docs

#5563 chore: Remove top-level Makefile
  Makefile
  polars/Makefile
Labels: chore

#5572 perf(rust, python): vectorize integer vec-hash by using very simple, …
  polars/polars-core/Cargo.toml
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, performance

#5575 perf(rust, python): improve streaming primitve groupby
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
Labels: python, rust, performance

#5577 chore(python): Remove old Python changelog file
  py-polars/CHANGELOG.md
Labels: python, chore

#5579 fix(rust, python): fix ub due to invalid dtype on splitting dfs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/utils/mod.rs
Labels: python, rust, fix

#5584 ci(python): Fix broken lint workflow
  .github/workflows/lint-global.yaml
Labels: python, ci

#5564 ci(python): Merge release workflows
  .github/workflows/create-py-release-mac-universal2.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/create-python-release.yaml
Labels: python, ci

#5585 fix(rust, python): asof join ensure join column is not dropped when '…
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/tests/it/core/joins.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#5587 fix(rust, python): invert cast_time_zone conversion
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/src/date_range.rs
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5589 fix(rust, python): check chunks before doing chunked_id join optimiza…
  polars/polars-core/src/frame/hash_join/mod.rs
Labels: python, rust, fix

#5591 fix(rust, python): fix tz-awareness of truncate
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-time/src/truncate.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5592 feat(rust, python): add arg_min/arg_max for series of dtype boolean
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#5596 feat(rust, python): make cast recursive
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/series/any_value.rs
Labels: python, rust, enhancement

#5597 fix(rust, python): keep dtype when eval on empty list
  polars/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#5051 feat(python)!: Change `null_equal` default to `True` for `Series.series_equal`
  py-polars/polars/internals/series/series.py
Labels: python, breaking, enhancement

#5556 perf(rust): Aggregate projection pushdown
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/tests/unit/test_projections.py
Labels: rust, performance

#5598 refactor(rust, python)!: iso weekday
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, breaking, refactor

#5602 refactor(python)!: rollup breaking changes
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_projections.py
Labels: python, breaking, refactor

#4648 feat(python)!: Update `Expr.sample` signature and change random seeding
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, breaking, enhancement

#5610 perf(python): Improve performance of indexing operations on Series.
  py-polars/polars/internals/series/series.py
Labels: python, performance

#5614 perf(rust, python): fix quadratic time complexity of groupby in stream…
  polars/polars-lazy/polars-pipe/src/executors/operators/filter.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/lib.rs
  polars/polars-lazy/polars-pipe/src/operators/context.rs
  polars/polars-lazy/polars-pipe/src/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
Labels: python, rust, performance

#5616 chore: update to rustc nightly-2022-11-24
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-python-release.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/frame/groupby/expr.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/src/frame/pivot.rs
  rust-toolchain.toml
Labels: chore

#5618 chore(python): only trigger build.rs file if that file itself has cha…
  py-polars/build.rs
Labels: python, chore

#5619 fix(rust, python): fix dynamic struct inference
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/frame/row.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#5624 fix(rust, python): fix dot diagram of single nodes
  polars/polars-lazy/polars-plan/src/dot.rs
Labels: python, rust, fix

#5626 feat(rust, python): add nearest interpolation strategy
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/interpolate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/interpolate.rs
  polars/polars-ops/src/chunked_array/mod.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#5629 chore: update arrow
  Cargo.toml
  py-polars/Cargo.lock
Labels: chore

#5628 feat(rust, python): add a cache to strptime
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/tests/it/core/list.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
Labels: python, rust, enhancement

#5630 docs(python): Remaining docstring examples for frame and lazyframe
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: docs

#5637 fix(rust, python): convert panic to err in concat_list
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#5636 fix(rust, python): fix streaming groupby aggregate types
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#5638 fix(rust, python): early error on duplicate names in streaming groupby
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#5639 chore: update arrow
  Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: chore

#5650 fix(python): Fix `DataFrame.n_chunks` return type
  py-polars/polars/internals/dataframe/frame.py
Labels: python, fix

#5653 feat(python): add notebook html repr for Series
  py-polars/polars/_html.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5660 chore: restore MIT license statement in contribution guide
  CONTRIBUTING.md
Labels: chore

#5664 chore(rust): Use `NaiveTime::from_hms_opt` instead of `NaiveTime::from_hms`
  polars/polars-core/src/named_from.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust, chore, fix

#5665 perf: update_arrow to land parquet reading improvements
  Cargo.toml
  py-polars/Cargo.lock
Labels: performance

#5672 chore(rust): Remove unused symbols and uneeded `mut` qualifier
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/streaming.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust, chore

#5677 fix(python): respect python objects read method even if filename is f…
  py-polars/src/file.rs
Labels: python, fix

#5676 perf(rust, python): ensure fast_explode propagates
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/named_from.rs
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_lists.py
Labels: python, rust, performance

#5680 fix(rust, python): fix boolean arg-max if all equal
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#5678 fix(rust, python): fix boolean schema in agg_max/min
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5681 refactor(rust)!: remove Series::append_array
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust, breaking, refactor

#5682 feat(rust, python): support is_in for boolean dtype
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/unit/test_filter.py
Labels: python, rust, enhancement

#5683 fix(rust, python): take glob into account in scan_csv 'with_schema_mo…
  polars/polars-lazy/src/frame/csv.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#5685 fix(rust, python): fix owned arithmetic schema
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#5686 fix(rust, python): fix asof join schema
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix
