Repository pola-rs/polars, pull requests merged in 2022-02, with the labels that each got.

#2510 improve graphviz visulization for join
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/dot.rs
  py-polars/polars/internals/lazy_frame.py
Labels: python, rust

#2511 fix bug in binary aggregation
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/arity.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#2515 improve csv row skipping and fix bug
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/test_io.py
Labels: python, rust

#2432 Fix weighted rolling functions and centering
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#2522 fix agg-last GroupsProxy::slice + python polars 0.12.20
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-lazy/src/tests/aggregations.rs
Labels: rust

#2527 fix mean overflow
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

#2532 parquet statistics, don't skip if a column has not stats
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

#2534 str.split
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/take.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/dsl/string.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/list_construction.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2533 Fixed interpolation bug
  polars/polars-core/src/chunked_array/ops/interpolate.rs
Labels: rust

#2537 fix oob in get operation of list namespace
  polars/polars-arrow/src/index.rs
  polars/polars-arrow/src/kernels/list.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#2538 add `split_inclusive`
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#2546 fix bug in projection pushdown on join suffixes
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#2547 python polars 0.12.21
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2550 add `arr.join(separator: str)` expression
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2553 keep column order in outer join
  polars/polars-core/src/frame/hash_join/mod.rs
Labels: rust

#2552 Fix decreasing interpolation of unsigned Series
  polars/polars-core/src/chunked_array/ops/interpolate.rs
Labels: rust

#2554 feat(nodejs): extend in place, arr.join & str.split
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/index.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/lazy/expr/list.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/series/list.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/list_construction.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
Labels: node-js

#2556 don't overwrite skip_rows in slice_pushdown opotimization
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

#2557 python create from empty arrow tbl
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

#2558 count expression that does not require column name
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2559 python: Expr.__str__()
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
Labels: python

#2560 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
Labels: rust

#2561 python polars 0.20.22
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2564 update arrow with parquet fixes
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/Cargo.lock
Labels: python, rust

#2567 fix row_count behavior in lazy optimizations
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2568 create Date/Datetime/Time/Duration -Chunked from iterators
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#2570 expose and fix utf8-lossy encoding
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/file.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_df.py
Labels: python, rust

#2572 Supporting Avro Reader
  polars/polars-io/Cargo.toml
  polars/polars-io/src/aggregations.rs
  polars/polars-io/src/avro.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/predicates.rs
Labels: rust

#2573 Refactor
  nodejs-polars/src/dataframe/frame.rs
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/kernels/take.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/concat_str.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/ops/interpolate.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/chunked_array/strings/mod.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust, node-js

#2575 impl namedfrom for temporal types
  polars/polars-core/src/chunked_array/logical/date.rs
  polars/polars-core/src/chunked_array/logical/datetime.rs
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/time.rs
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/named_from.rs
Labels: rust

#2582 ensure window exprs cache caches the sorted groups
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  py-polars/tests/test_window.py
Labels: python, rust

#2583 make sure we have rechunked in melt and dataframe sort
  polars/polars-core/src/chunked_array/ops/sort.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

#2585 fix_lossy
  polars/polars-io/src/csv_core/buffer.rs
Labels: rust

#2586 re-export arrow and fix error message
  polars/polars-core/src/frame/mod.rs
  polars/src/export.rs
  polars/src/lib.rs
Labels: rust

#2587 first & last expression can take first and last column of context
  polars/polars-arrow/src/index.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2590 fix outer join dispatch of categorical types
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2591 block predicate pushdown in case of strict casts
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

#2592 python polars 0.12.23
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2594 fix(nodejs): rowcount renames
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

#2595 feat(nodejs): read row_count option
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/lazy/lazyframe.rs
Labels: node-js

#2596 release nodejs-polars 0.3.0
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2597 Exporting Avro Reader to `py-polars`
  polars/Cargo.toml
  polars/polars-io/src/avro.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/files/small.avro
  py-polars/tests/test_io.py
Labels: python, rust

#2600 fix scan projection pushdown of same file
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/tests/projection_queries.rs
Labels: rust

#2605 fix predicate pushdown on null generating joins
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

#2610 python polars 0.12.24
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2603 don't rename aggregations
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python, rust, breaking

#2609 Added Support `AvroWriter`
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/avro.rs
Labels: rust

#2611 fix scan_with_set_null_values
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#2614 perfect sort optimization for window expressions
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/lib.rs
  polars/polars-utils/src/sort.rs
  py-polars/Cargo.lock
Labels: python, rust

#2615 fix reading empty parquet
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/null.parquet
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

#2617 python polars 0.13.0
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2622 fix null row skipping in csv parsing
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
Labels: rust

#2623 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#2628 Exported `AvroWriter` to py-polars
  polars/polars-io/src/avro.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_io.py
Labels: python, rust

#2635 don't forget offset in byte in vec_hasher
  polars/polars-core/src/vector_hasher.rs
Labels: rust

#2637 Fix bug in vec_hasher bit offset
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/vector_hasher.rs
Labels: rust

#2638 python polars 0.13.1
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2644 fix NaN in joins and init integration tests
  .github/workflows/build-test.yaml
  .github/workflows/test-windows.yaml
  polars/Makefile
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/utils/series.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
Labels: rust

#2650 fix windows expressions and add range to df macro
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/cum_agg.rs
  polars/polars-core/src/named_from.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  polars/tests/it/main.rs
Labels: rust

#2658 fix map/row_count pushdown
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

#2660 make casting unit types easier
  .github/workflows/build-test.yaml
  polars/Makefile
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2664 throw error on invalid map expressions
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

#2665 parquet: read all arrays in row-group
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

#2668 add sample expression
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2666 Docstring/comment-only update (added example to Series.fill_null, and brought the various "fill_null" descriptions more in-line)
  polars/polars-io/src/avro.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python, rust

#2667 don't propagate null values in equality comparison
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#2669 python polars 0.13.3
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2677 Fix parquet statistics so
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  py-polars/tests/lazy_io/test_parquet.py
Labels: python, rust

#2678 add map_alias expression
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2679 fix is_in for empty lists
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2680 fix any and python dispatch to proper any impl
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/window_expressions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_lazy.py
Labels: python, rust

#2691 Add `unique_stable` expression.
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2693 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#2704 fix polars.read_csv inadvertently closing BytesIO input buffers
  py-polars/polars/io.py
  py-polars/tests/test_io.py
Labels: python

#2706 improve `Categorical::full_null`
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
Labels: rust

#2711 fix lower bound of dynamic_groupby of larger intervals
  polars/Cargo.toml
  polars/polars-core/src/export.rs
  polars/polars-core/src/named_from.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/window.rs
  polars/src/export.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  polars/tests/it/lazy/mod.rs
  py-polars/src/lib.rs
Labels: python, rust

#2712 ignore index column in empty pandas dataframe
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

#2717 python add example to strptime documentation
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#2721 fix doc render
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#2727 Splitted io test into each format
  py-polars/src/dataframe.rs
  py-polars/tests/conftest.py
  py-polars/tests/io/.gitignore
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_pickle.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/lazy_io/.gitignore
  py-polars/tests/lazy_io/test_csv.py
  py-polars/tests/test_io.py
Labels: python

#2726 Optionally order categorical with lexical ordering
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/take_random.rs
  polars/polars-core/src/chunked_array/ops/compare_inner.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/dsl/cat.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/joins.rs
  polars/tests/it/main.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_categorical.py
  py-polars/tests/test_df.py
  py-polars/tests/test_interop.py
Labels: python, rust

#2729 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

#2730 Add docs examples
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

#2719 python polars 0.13.5
  .github/deploy_manylinux.sh
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2731 Lazy: cast to float before we apply per group
  polars/polars-core/src/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust

#2735 Added more examples to python docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
Labels: python

#2701 Nodejs: readRow enhancements
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/conversion/into.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/series.rs
  nodejs-polars/src/series_object.rs
  polars/polars-core/src/frame/row.rs
Labels: rust, node-js

#2718 docs(nodejs): update nodejs readme
  nodejs-polars/README.md
Labels: node-js

#2733 python fix lazy self join
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_lazy.py
Labels: python

#2741 remove assert; it is a false positive
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: rust

#2740 fix_rename
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python, rust

#2742 fix categorical lexical rechunk
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/implementations/categorical.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_lazy.py
Labels: python, rust

#2743 Update read_csv and scan_csv quote_char docstring default value.
  py-polars/polars/io.py
Labels: python

#2753 Adding examples to python docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
Labels: python

#2739 node 0.3.1 release
  nodejs-polars/Cargo.toml
  nodejs-polars/package.json
Labels: node-js

#2752 better join_asof
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2757 fix from empty pandas
  py-polars/polars/internals/frame.py
  py-polars/tests/test_interop.py
Labels: python

#2685 Fix reading a df with an empty series
  polars/polars-core/src/testing.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#2758 add join_asof tolerances
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/asof_join/asof.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2761 python read_json accept files
  polars/polars-io/src/mmap.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/file.rs
  py-polars/tests/io/test_json.py
  py-polars/tests/test_df.py
Labels: python, rust

#2762 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2763 update to rustc-nightly-2022-01-01
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/chunked_array/object/extension/polars_extension.rs
  polars/polars-core/src/series/from.rs
Labels: rust, node-js

#2766 python polars 0.13.6
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2765 Added more examples to python docstrings
  py-polars/polars/internals/expr.py
Labels: python

#2772 fix parquet stats
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

#2775 Allow read_json/to_json to interop with StringIO
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_json.py
  py-polars/tests/test_lazy.py
Labels: python

#2776 fix csv quoting
  .github/workflows/test-windows.yaml
  polars/polars-io/src/csv_core/parser.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

#2777 python fix and test list creation without pyarrow
  py-polars/polars/internals/construction.py
  py-polars/tests/test_series.py
Labels: python

#2779 csv; fix edge case of single line, no eol and no header
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

#2784 fix from_pandas null_array
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_interop.py
Labels: python

#2782 Reduce compilation bloat
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

#2788 Refactor schema
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/src/avro.rs
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_scan_projections.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/main.rs
  polars/tests/it/schema.rs
  py-polars/Cargo.lock
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2789 Added a couple more examples in python docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
Labels: python

#2790 python polars 0.13.7
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2792 Speedup df.schema.
  py-polars/polars/internals/frame.py
Labels: python

#2785 Check for dtypes when comparing series equality
  polars/polars-core/src/testing.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#2795 Several projection improvements
  polars/clippy.toml
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-utils/Cargo.toml
  polars/tests/it/io/csv.rs
  polars/tests/it/schema.rs
  py-polars/Cargo.lock
Labels: python, rust
