Repository pola-rs/polars, pull requests merged in 2022-07, with the labels that each got.

#3860 `null_probability` functionality for dataframes/series test strategies.
  py-polars/polars/datatypes.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
Labels: python

#3863 Modern style type hints
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
Labels: python

#3864 Concise empty class syntax
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
Labels: python

#3881 fix groups after take expression
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#3882 fix predicate pushdown in union + count expression
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#3884 add join/union branch in window cache keys
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

#3883 Fast/cheap empty `clone` ops
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
Labels: python

#3887 parquet read: fix remaining_rows counter
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#3879 Parquet writing: reduce heap allocs
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

#3888 Negative-indexing support for additional functions, and frame-level `take_every`
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

#3861 Make numpy an optional requirement
  py-polars/polars/convert.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

#3889 Address deprecation warnings while running pytest
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

#3896 Fix reading of gzipped CSV files. Fixes: #3895
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3899 Relocate hypothesis unit tests to parallel `tests_parametric` dir
  py-polars/Makefile
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
  py-polars/tests_parametric/test_series.py
  py-polars/tests_parametric/test_testing.py
Labels: python

#3901 Assign dtypes to expected columns when dtypes is a list and column se…
  py-polars/polars/io.py
  py-polars/tests/io/test_csv.py
Labels: python

#3897 docs: fix link to series method in DataFrame
  polars/polars-core/src/frame/mod.rs
Labels: rust

#3873 docs: Improve py-polars docs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

#3904 Complete pythonic slice support (inc. negative indexing/stride) for DataFrame and Series
  py-polars/build.requirements.txt
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

#3912 Update docstring outputs
  py-polars/polars/cfg.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
Labels: python

#3907 Make embedded CSV test strings easier to read.
  py-polars/tests/io/test_csv.py
Labels: python

#3913 Quiet an unnecessary warning (tests), and minor optimisation for slices with negative stride
  py-polars/polars/internals/functions.py
  py-polars/polars/testing.py
  py-polars/tests_parametric/test_testing.py
Labels: python

#3908 Implement pow/rpow for Series
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

#3918 fix negative offset in groupby_rolling
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#3871 Expr docstrings
  py-polars/polars/internals/expr.py
Labels: python

#3927 Don't unwrap IPC Stream, instead use ? to not panic
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/tests/it/io/ipc_stream.rs
Labels: rust

#3931 Corrected .select type hint to Sequence[str, Expr]
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

#3921 add impl from anyvalue for literal
  polars/polars-lazy/src/logical_plan/lit.rs
Labels: rust

#3926 update arrow: ipc limit and reduce categorical-> dictionary bound checks
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
Labels: python, rust

#3937 fix window expression case
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3938 fix oob panic on expand_at_index and series from pyarrow chunkedarray
  polars/polars-core/src/chunked_array/ops/mod.rs
  py-polars/polars/internals/series.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_interop.py
Labels: python, rust

#3939 block equality/ordering based predicates on null producing joins
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3917 Extended `with_columns` to allow **kwargs style named expressions
  py-polars/polars/cfg.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/testing.py
  py-polars/tests/test_df.py
Labels: python

#3940 upcast float16 to float32
  polars/polars-core/src/series/from.rs
  py-polars/tests/io/test_ipc.py
Labels: python, rust

#3943 python: fix already mutable borrowed append
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

#3941 Fixed `assert_frame_equal` and `assert_series_equal` for NaN values
  py-polars/polars/testing.py
  py-polars/tests/test_testing.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
Labels: python

#3945 Fix Pandas date_range warnings in tests
  py-polars/tests/test_df.py
Labels: python

#3947 fix ipc ordering
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  py-polars/Cargo.lock
Labels: python, rust

#3948 Remove "import polars as pl" from docstrings
  py-polars/polars/testing.py
Labels: python

#3954 [docs] improve python polars documentation
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

#3949 Modern style type hints for the test suite
  py-polars/tests/conftest.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_pickle.py
  py-polars/tests/io/test_pyarrow_dataset.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_datatypes.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_df.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_explode.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_functions.py
  py-polars/tests/test_groupby.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_rolling.py
  py-polars/tests/test_serde.py
  py-polars/tests/test_series.py
  py-polars/tests/test_sort.py
  py-polars/tests/test_strings.py
  py-polars/tests/test_struct.py
  py-polars/tests/test_testing.py
  py-polars/tests/test_utils.py
  py-polars/tests/test_window.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_series.py
  py-polars/tests_parametric/test_testing.py
Labels: python

#3956 python: loossen truncate sorted restriction in docstring
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
Labels: python

#3955 groupby apply: use inner type to infer dtype
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

#3957 python polars 0.13.52
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3962 Fix pytest warning
  py-polars/tests/test_interop.py
Labels: python

#3967 implicit datelike string comparison warning
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

#3969 fix count union predicate
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#3973 docs: conventions, mwe and docstring fixes
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/cfg.py
  py-polars/polars/convert.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

#3970 Pythonic slice support for `LazyFrame` (efficient computation paths only)
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/testing.py
  py-polars/tests/test_lazy.py
  py-polars/tests_parametric/test_dataframe.py
  py-polars/tests_parametric/test_lazyframe.py
Labels: python

#3976 add from_numpy to docs
  py-polars/docs/source/reference/functions.rst
Labels: python

#3980 fix accidentally slow cross join
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
Labels: rust

#3981 ensure main lazyframe gets file cache opt state
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#3989 chore(tests): small readability fixes
  polars/tests/it/io/csv.rs
  polars/tests/it/lazy/explodes.rs
  polars/tests/it/lazy/expressions/window.rs
Labels: rust

#3988 Remove unnessary imports
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
Labels: python

#3894 Add support for loading a collection of parquet files
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust

#3996 improve from dictionary -> categorical
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/series/from.rs
Labels: rust

#3995 fix col aggregation schema and ternary on empty series
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/io/parquet.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_queries.py
Labels: python, rust

#4005 fix explode offsets for empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#4010 fix rolling groupby with negative windows
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/test_groupby.py
Labels: python, rust

#4012 fix: Lazyframe::from(lp) #3877
  polars/polars-lazy/src/frame/mod.rs
Labels: rust

#4017 python polars 0.13.53
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4008 Improve lazy state struct
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
Labels: python, rust

#4025 python: fix pyarrow imports
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/tests/io/test_parquet.py
Labels: python

#4027 fix lazy schema
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4020 Align the exclude docstrings and annotation
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/lazy_functions.py
Labels: python

#4019 docs: add mwe and internal links
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

#4028 impl explode for nested lists
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#4029 allow joining on expressions
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/tests/test_joins.py
Labels: python, rust

#4030 allow nulls last in sort by expressions
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#4031 python polars 0.13.54
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4035 feat: implement __contains__ for DataFrame and LazyFrame
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

#4037 Remove py-polars legacy package
  py-polars/.flake8
  py-polars/legacy/README.md
  py-polars/legacy/deploy.sh
  py-polars/legacy/pypolars/__init__.py
  py-polars/legacy/pypolars/datatypes.py
  py-polars/legacy/pypolars/frame.py
  py-polars/legacy/pypolars/functions.py
  py-polars/legacy/pypolars/lazy.py
  py-polars/legacy/pypolars/series.py
  py-polars/legacy/setup.py
Labels: python

#4034 Native trigonometry functions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigo.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4046 parquet: stop reading when slice is reached
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
Labels: rust

#4045 fix cross join
  polars/polars-core/src/frame/cross_join.rs
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

#4047 More trigonometry
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4038 Update flake8 settings
  py-polars/.flake8
  py-polars/polars/__init__.py
  py-polars/polars/_html.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_csv.py
  py-polars/tests/io/test_lazy_ipc.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_other.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/test_df.py
Labels: python

#4048 pivot: fix categorical logicaltype
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python, rust

#4049 Update mypy settings
  py-polars/pyproject.toml
Labels: python

#4033 fix: reproducible Expr.hash
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_df.py
Labels: python, rust

#3961 Fix constructor `orient` type hint
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#4039 Improve coverage report settings
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

#4057 Added `literal` param to string-replace functions, optimized `replace` performance in small-string regime (30-80% faster)
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_strings.py
Labels: python, rust

#4050 parquet: low memory arg
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#4061 fill_null expr: ensure minimal supertype
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/row_hash.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4063 Fix connector-x integration for PostgreSQL
  py-polars/polars/io.py
Labels: python

#3984 node updates
  .github/workflows/test-js.yaml
  nodejs-polars/@types/jest.d.ts
  nodejs-polars/Cargo.toml
  nodejs-polars/__tests__/dataframe.test.ts
  nodejs-polars/__tests__/datelike.test.ts
  nodejs-polars/__tests__/expr.test.ts
  nodejs-polars/__tests__/groupby.test.ts
  nodejs-polars/__tests__/io.test.ts
  nodejs-polars/__tests__/serde.test.ts
  nodejs-polars/__tests__/series.test.ts
  nodejs-polars/__tests__/setup.ts
  nodejs-polars/polars/dataframe.ts
  nodejs-polars/polars/datatypes/datatype.ts
  nodejs-polars/polars/datatypes/field.ts
  nodejs-polars/polars/datatypes/index.ts
  nodejs-polars/polars/internals/construction.ts
  nodejs-polars/polars/io.ts
  nodejs-polars/polars/lazy/dataframe.ts
  nodejs-polars/polars/lazy/expr/string.ts
  nodejs-polars/polars/series/series.ts
  nodejs-polars/polars/series/string.ts
  nodejs-polars/src/conversion.rs
  nodejs-polars/src/dataframe.rs
  nodejs-polars/src/file.rs
  nodejs-polars/src/functions.rs
  nodejs-polars/src/lazy/dataframe.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lib.rs
  nodejs-polars/src/series.rs
  polars/polars-core/src/frame/row.rs
Labels: rust, node-js

#4064 python polars 0.13.55
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4065 Handle wrong input for `orient` argument
  py-polars/polars/internals/construction.py
  py-polars/tests/test_df.py
Labels: python

#4060 Turn on doctests; fix wrong examples
  py-polars/polars/cfg.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/testing.py
  py-polars/tests/run_doc_examples.py
Labels: python

#4055 Mypy warn redundant casts
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

#4054 Add mypy optional error codes
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/pyproject.toml
Labels: python

#4067 recursively convert arrow logical types in to_arrow
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#4070 improve unique performance
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: rust

#4071 Small formatting fixes
  nodejs-polars/src/lazy/dataframe.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/utils.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_pyarrow_dataset.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_datelike.py
Labels: python, node-js

#4078 reduce contention of global string cache: `>4x` performance improvement
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4077 Add lazy() method to LazyFrame
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_lazy.py
Labels: python

#4080 csv: allow reading with different eol character
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#4082 docs: rework some MWE and minor formatting fixes
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/io.py
Labels: python

#4086 Upgrade maturin to 0.13.0
  .github/workflows/benchmark.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  README.md
  examples/python_rust_compiled_function/pyproject.toml
  py-polars/build.requirements.txt
  py-polars/pyproject.toml
Labels: python

#4088 dataframe display: use POLARS_FMT_STR_LEN
  polars/polars-core/src/config.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/lib.rs
Labels: rust

#4087 don't allow comparing local categoricals
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-io/Cargo.toml
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/Cargo.lock
  py-polars/polars/testing.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python, rust

#4090 implement list hash for simply nested lists
  polars/polars-core/src/export.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/hash.rs
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/series/_trait.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#4094 value_counts add sorted argument
  polars/polars-core/src/series/ops/unique.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/various.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#4097 from_rows improve schema correctness
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_constructors.py
  py-polars/tests/test_df.py
Labels: python, rust

#4105 Cache length of `ChunkedArray`.
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/builder/primitive.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/chunked_array/drop.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/builder.rs
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/len.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/reverse.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/chunked_array/ops/take/take_every.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/series/unstable.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  py-polars/Cargo.toml
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
Labels: python, rust

#4113 fix explode with empty lists
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#4114 fix so rank
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#4115 fix explode for sliced arrays
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#4116 python: to_numpy use first type as supertype
  py-polars/src/dataframe.rs
  py-polars/tests/test_interop.py
Labels: python

#4117 python: remove css line for vscode
  py-polars/polars/_html.py
Labels: python

#4081 Remove read_excel hacks
  py-polars/polars/io.py
  py-polars/pyproject.toml
Labels: python

#4118 python allow set by string
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
  py-polars/tests/test_joins.py
Labels: python

#4119 `fill_nan` preserve name
  polars/polars-arrow/src/kernels/float.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#4122 Fix prefix/suffix docstrings.
  py-polars/polars/internals/expr.py
Labels: python

#4124 allow summing of duration in selection context
  polars/polars-core/src/series/implementations/duration.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#4121 python: improve __setitem__
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-io/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/series.py
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/src/set.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4127 python polars 0.13.56
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4126 Assert deprecation warning on DataFrame.__setitem__ in tests
  py-polars/tests/test_df.py
Labels: python

#4131 Nested dict
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/src/set.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#4132 improve performance of building global string cache from arrow dictio…
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
Labels: rust

#4134 csv writer quote if string contains new line char
  polars/polars-io/src/csv/write_impl.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#4133 fix explode edge cases
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#4137 add pl.cut utility
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/tests/test_functions.py
Labels: python

#4141 python polars 0.13.57
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#4140 Mypy disallow untyped calls
  .github/workflows/test-python.yaml
  py-polars/polars/internals/series.py
  py-polars/pyproject.toml
  py-polars/tests/test_df.py
Labels: python

#4142 Improve re-raises of Exceptions
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
Labels: python

#4149 pivot fix categorical index
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

#4146 Fix typo
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dsl.rs
Labels: python, rust

#4144 Wrap long strings
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/polars/io.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_errors.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

#4152 Fix Python line lengths to 88 characters
  py-polars/.flake8
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/polars/utils.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_sql.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_categorical.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_df.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_interop.py
  py-polars/tests/test_joins.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_lists.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

#4153 add `is_in` for categoricals
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#4154 python 0.13.58
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4155 Docstring lints & improvements
  py-polars/.flake8
  py-polars/polars/io.py
  py-polars/polars/utils.py
Labels: python

#4159 pivot: fix logical type of multiple indexes
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

#4163 more tests
  py-polars/tests/test_df.py
  py-polars/tests/test_pivot.py
Labels: python

#4162 Use latest arrow2 to support latest nightly rust
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  Makefile
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

#4164 Fix invalid inputs for trigonometric functions
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4165 update schema in udfs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/apply.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/test_lazy.py
Labels: python, rust

#4167 python: expose idx type
  py-polars/docs/source/reference/datatypes.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/src/lib.rs
  py-polars/tests/test_datatypes.py
Labels: python

#4160 Improve __getitem__ for Dataframe/Series.
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/polars/utils.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python

#4076 Dataframe equality
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_df.py
Labels: python

#4161 Docstring improvements & enable lints
  py-polars/.flake8
  py-polars/build.requirements.txt
  py-polars/polars/_html.py
  py-polars/polars/cfg.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/exceptions.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series.py
  py-polars/polars/internals/slice.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing.py
  py-polars/tests/io/test_parquet.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
  py-polars/tests/test_series.py
  py-polars/tests/test_struct.py
Labels: python

#4147 Native implementation of the sign function
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/sign.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_series.py
Labels: python, rust

#4173 Minor docs updates
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/convert.py
Labels: python

#4176 Validation for groupby arguments
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#4177 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4178 throw error on schema failure
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.toml
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_errors.py
Labels: python, rust

#4179 with_columns update on duplicates
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4181 fold regex expand
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/test_expr_multi_cols.py
Labels: python, rust

#4182 python: prefer pyarrow when we can memory map the file
  py-polars/polars/io.py
  py-polars/tests/io/test_ipc.py
Labels: python
