Repository pola-rs/polars, pull requests merged in 2022-03, with the labels that each got.

#2797 always error on empty csv
  polars/polars-io/src/csv_core/utils.rs
  polars/tests/it/io/csv.rs
Labels: rust

#2799 improve melt function
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2800 respect suffix arg in cross join
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/deploy_manylinux.sh
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2802 groupby_dynamic correct for values exactly on left bound
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/tests/arity.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  py-polars/polars/io.py
Labels: python, rust

#2805 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/frame/from.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/json.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_json.py
Labels: python, rust

#2807 column projection: Do a fallback O(n) search in case of error
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

#2808 fix type coercion when then otherwise
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/tests/test_queries.py
Labels: python, rust

#2809 improve schema correctness
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
Labels: rust

#2811 slice in arr namespace
  polars/polars-core/src/chunked_array/list/namespace.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#2813 python polars 0.13.8
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/internals/frame.py
Labels: python

#2820 python fix horizontal all any
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_functions.py
Labels: python

#2819 use eq_and_validity for strings
  polars/polars-core/src/chunked_array/comparison.rs
  py-polars/tests/test_strings.py
Labels: python, rust

#2821 python add units to timestamp and epoch
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/dt.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2822 update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/series/ops/ewm.rs
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#2823 default negative offset in dynamic groupby
  py-polars/Cargo.lock
  py-polars/Makefile
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python

#2824 remove outdated example
  examples/aggregate_multiple_files_in_chunks/Cargo.toml
  examples/aggregate_multiple_files_in_chunks/src/main.rs
  examples/datasets/.gitignore
  examples/datasets/foods1.csv
  examples/datasets/foods2.csv
  examples/datasets/foods3.csv
  examples/datasets/foods4.csv
  examples/datasets/foods5.csv
  nodejs-polars/__tests__/io.test.ts
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-io/src/tests.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/main.rs
  py-polars/tests/conftest.py
Labels: python, rust, node-js

#2826 Add python rust compilation example
  .github/workflows/build-test.yaml
  Cargo.toml
  README.md
  examples/README.md
  examples/python_rust_compiled_function/Cargo.toml
  examples/python_rust_compiled_function/README.md
  examples/python_rust_compiled_function/example.py
  examples/python_rust_compiled_function/pyproject.toml
  examples/python_rust_compiled_function/src/ffi.rs
  examples/python_rust_compiled_function/src/lib.rs
  examples/read_csv/Cargo.toml
  examples/read_csv/src/main.rs
  examples/read_parquet/Cargo.toml
  examples/read_parquet/src/main.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/functions.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#2827 remove prettytable.rs
  .github/workflows/build-test.yaml
  examples/python_rust_compiled_function/example.py
  examples/read_csv/Cargo.toml
  examples/read_parquet/Cargo.toml
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/fmt.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.toml
Labels: python, rust

#2825 Added `with_projection` and `with_columns` for `AvroReader`
  polars/polars-io/src/avro.rs
  polars/polars-io/src/ipc.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/utils.rs
Labels: rust

#2829 Add `Struct` dtype
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#2831 fix csv writer delimiter
  polars/polars-io/src/csv.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#2835 python: series.to_pandas
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/series.py
  py-polars/tests/test_interop.py
Labels: python

#2836 improve structs
  polars/benches/groupby.rs
  polars/polars-core/src/chunked_array/logical/struct_/from.rs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#2837 IPython fix html rendering for DataFrame
  py-polars/polars/internals/frame.py
  py-polars/tests/test_df.py
Labels: python

#2838 python lambdas infer list return type as List Series
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

#2833 update arrow
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/frame/csv.rs
  py-polars/Cargo.lock
  py-polars/src/lib.rs
Labels: python, rust, node-js

#2839 python polars 0.13.9
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#2841 safer reinterpret; panic in case of field reordering
  polars/polars-core/src/chunked_array/drop.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/testing.rs
Labels: rust

#2845 struct rename fields
  polars/polars-lazy/src/dsl/struct_.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#2848 unnest operation
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  py-polars/Makefile
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#2849 Use null count to check for contiguous slices
  polars/polars-core/src/chunked_array/mod.rs
  polars/tests/it/joins.rs
Labels: rust

#2851 Removed dbg macro and fixed dot definition in ipc scan
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/frame/ipc.rs
Labels: rust

#2852 undo std::simd incorrect aggregation
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/db-benchmark/various.py
Labels: python, rust

#2853 python polars 0.13.10
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2859 Preserve types of DataFrame subclasses
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
  py-polars/tests/test_lazy.py
Labels: python

#2860 fix bug in predicate pd after renaming node
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#2865 Exported the select columns feature of AvroReader to `py-polars`
  polars/polars-io/src/avro.rs
  polars/polars-io/src/utils.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/io/test_avro.py
Labels: python, rust

#2866 Reduce compiler bloat
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

#2868 faster groupby for utf8 key pairs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/Cargo.toml
Labels: python, rust

#2862 Preserve DataFrame type after LazyFrame roundtrips
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

#2872 split exact expression
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2873 csv check quoted null values
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/parser.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

#2875 rechunk before writing to parquet
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/src/dataframe.rs
Labels: python, rust

#2879 fix n arg in split_exact
  polars/polars-lazy/src/dsl/string.rs
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_exprs.py
Labels: python, rust

#2878 expose nulls_last argument for argsort/DataFrame.sort
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/datatypes.rs
  polars/polars-core/src/frame/groupby/aggregations.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/internals/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/test_sort.py
Labels: python, rust

#2882 Python: nested datatypes; Allow casting list inner types.
  polars/polars-core/src/series/from.rs
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
  py-polars/src/utils.rs
  py-polars/tests/test_lists.py
Labels: python, rust

#2883 python polars 0.13.11
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2884 Added Struct examples to python docstrings
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/frame.py
Labels: python

#2888 rust polars 0.20.0
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-utils/Cargo.toml
  polars/src/lib.rs
  py-polars/Cargo.lock
Labels: python, rust

#2890 Remove crate `num_cpus` from polars
  polars/polars-core/Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/Cargo.toml
Labels: rust

#2895 Nodejs updates
  nodejs-polars/Cargo.toml
  nodejs-polars/polars/lazy/expr.ts
  nodejs-polars/src/conversion/from.rs
  nodejs-polars/src/dataframe/frame.rs
  nodejs-polars/src/dataframe/io.rs
  nodejs-polars/src/dataframe/mod.rs
  nodejs-polars/src/datatypes.rs
  nodejs-polars/src/lazy/dsl.rs
  nodejs-polars/src/lazy/dsl_object.rs
  nodejs-polars/src/lazy/functions.rs
  nodejs-polars/src/lazy/lazyframe.rs
  nodejs-polars/src/series.rs
  nodejs-polars/tsconfig.json
Labels: node-js

#2897 Preserve inherited DataFrame sub-classes on `groupby` operations
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_df.py
Labels: python

#2908 fix unique and drop
  polars/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2913 fix function input expansion
  polars/polars-lazy/src/logical_plan/projection.rs
  py-polars/tests/test_struct.py
Labels: python, rust

#2915 respect dtype overwrite when schema is overwritten in lazy csv scanner
  polars/polars-lazy/src/frame/csv.rs
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

#2916 deprecate to_<file> and string cache in lazy
  polars/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/io/test_avro.py
  py-polars/tests/io/test_csv.py
  py-polars/tests/io/test_ipc.py
  py-polars/tests/io/test_json.py
  py-polars/tests/io/test_lazy_parquet.py
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#2918 Refactor: move most temporal related code to `polars-time`.
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/kernels/mod.rs
  polars/polars-core/src/chunked_array/temporal/conversion.rs
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/duration.rs
  polars/polars-core/src/chunked_array/temporal/mod.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/chunked_array/temporal/utf8.rs
  polars/polars-core/src/doc/mod.rs
  polars/polars-core/src/doc/time.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/duration.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/chunkedarray/utf8.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/prelude.rs
  polars/polars-time/src/series.rs
  polars/src/prelude.rs
  polars/tests/it/core/list.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/pivot.rs
  py-polars/Cargo.lock
Labels: python, rust

#2919 update arrow and rustc in CI
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  py-polars/Cargo.lock
Labels: python, rust, node-js

#2920 python polars 0.13.12
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2924 Struct examples
  py-polars/polars/internals/lazy_functions.py
Labels: python

#2923 improve datetime inference
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv.rs
  polars/polars-io/src/csv_core/buffer.rs
  polars/polars-io/src/csv_core/csv.rs
  polars/polars-io/src/csv_core/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/scan.rs
  polars/polars-time/src/chunkedarray/mod.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/lib.rs
  polars/tests/it/io/csv.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/polars/io.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2926 rename distinct to unique
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  py-polars/docs/source/reference/dataframe.rst
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#2927 fix some warning
  polars/polars-io/src/lib.rs
Labels: rust

#2933 fix fill_nan dtypes
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/test_df.py
Labels: python, rust

#2935 fix future calculation in groupby dynamic
  polars/polars-time/src/groupby/mod.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/windows/bounds.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
Labels: rust

#2936 don't cast pandas datetime[ns] to datetime[ms]
  py-polars/polars/internals/construction.py
  py-polars/tests/test_interop.py
Labels: python

#2937 add tolerance to asof + by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_datelike.py
Labels: python, rust

#2934 fix(scan_csv): handle empty csv file exception
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/files/empty.csv
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

#2938 python polars 0.13.13
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2930 Added example to set_tbl_cols
  py-polars/polars/cfg.py
Labels: python

#2939 Minor: Updating ValueError on empty bytes for clarity
  py-polars/polars/io.py
Labels: python

#2944 handle Utf8Owned AnyValue for DataType
  polars/polars-core/src/frame/row.rs
Labels: rust

#2949 use schema in 'with_columns' to amortize lookups and fix bug in emptr…
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/queries.rs
Labels: rust

#2952 add native log and entropy expression
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/series/ops/log.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/src/lib.rs
  polars/tests/it/core/mod.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

#2953 csv parsing: skip whitespace on failed parse
  polars/polars-io/src/csv_core/buffer.rs
  polars/tests/it/io/csv.rs
Labels: rust

#2958 Literal in groupby context, arange and repeat
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/tests/it/lazy/expressions/apply.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/io/test_csv.py
  py-polars/tests/test_queries.py
  py-polars/tests/test_series.py
  py-polars/tests/test_window.py
Labels: python, rust

#2959 expose quote char to csv writers api
  polars/polars-io/src/csv.rs
  py-polars/polars/internals/frame.py
  py-polars/src/dataframe.rs
Labels: python, rust

#2962 Huge perf improvement of many expressions and ListChunked::from_iter perf
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/boolean.rs
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/chunked_array/iterator/par/macros.rs
  polars/polars-core/src/chunked_array/iterator/par/mod.rs
  polars/polars-core/src/chunked_array/iterator/par/numeric.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/Cargo.toml
Labels: python, rust

#2963 update groups in count() agg and correctly update state
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/test_lazy.py
Labels: python, rust

#2969 python polars 0.13.15
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#2977 add sign
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr.py
  py-polars/polars/internals/series.py
  py-polars/tests/test_series.py
Labels: python

#2978 update rustc
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
  nodejs-polars/rust-toolchain
  polars/polars-core/src/frame/groupby/pivot.rs
  py-polars/polars/internals/frame.py
Labels: python, rust, node-js

#2993 see kurtosis as aggregation
  polars/polars-lazy/src/dsl/mod.rs
Labels: rust

#2992 fix groups state after apply
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/tests/it/lazy/expressions/apply.rs
Labels: rust

#2940 Home directory support
  py-polars/polars/internals/frame.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/tests/db-benchmark/various.py
Labels: python

#2996 make sure that sort does not index empty list
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/tests/it/lazy/groupby.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

#3001 python: improve arithmetic consistency
  py-polars/build.requirements.txt
  py-polars/polars/internals/series.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/test_apply.py
  py-polars/tests/test_series.py
Labels: python

#3003 python: add apply on struct dtype
  polars/polars-core/src/chunked_array/iterator/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/series/iterator.rs
  polars/polars-core/src/utils/mod.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/lazy/apply.rs
  py-polars/tests/test_apply.py
Labels: python, rust

#3006 fix null in non-fast-explode explode of numeric arrays
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust

#3007 use dict instead of namedtuple in apply struct
  py-polars/src/apply/series.rs
  py-polars/tests/test_apply.py
Labels: python

#3008 also expand rename in filters
  polars/polars-lazy/src/logical_plan/builder.rs
Labels: rust

#3009 fix when then with literal
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: rust

#3011 python polars 0.13.16
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#3016 Update to pyo3 0.16
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/frame.py
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/npy.rs
Labels: python

#3017 add duration expression
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#3018 allow nested groupby in groupby_rolling
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/planner.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/internals/frame.py
  py-polars/polars/internals/lazy_frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

#2991 Fix read_parquet with list having nested struct
  polars/polars-core/src/datatypes.rs
  py-polars/tests/io/test_parquet.py
Labels: python, rust

#3021 fix outer join schema
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/internals/lazy_frame.py
  py-polars/tests/test_categorical.py
Labels: python, rust
