Repository pola-rs/polars, pull requests merged in 2022-09, with the labels that each got.

#4647 python polars 0.14.7
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#4650 feat[python]: Allow use of builtin abs()
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python

#4653 fix[rust]: break infinite loop in type coercion optimizer
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

#4658 feat[python]: turn invalid datatype panic to error
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

#4656 fix[rust]: test parquet statistics and fix encountered issues
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

#4662 feat[rust, python]: allow min/max on utf8 dtype
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_utf8.py
Labels: python, rust

#4664 fix[rust]: allow explode aggregation context
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_explode.py
Labels: python, rust

#4665 feat[rust,python]: support nested StringCache scope, enabling clean composition
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/polars/__init__.py
  py-polars/polars/string_cache.py
  py-polars/src/lib.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

#4667 refactor[rust]: remove explicit shift expression node
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/shift.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
Labels: rust

#4672 refactor[rust]: ensure we don't explode data in Expr::apply if groups…
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

#4682 refactor[python]: Rename some private methods
  py-polars/polars/internals/expr/expr.py
Labels: python

#4680 refactor[python]: Proper alias for `abs`
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
Labels: python

#4676 docs[python]: Add examples and expand docs for pl.sum
  py-polars/polars/internals/lazy_functions.py
Labels: python

#4681 refactor[python]: `_from_pyexpr` as `@classmethod`
  py-polars/polars/internals/expr/expr.py
Labels: python

#4686 chore[python]: run cargo update
  py-polars/Cargo.lock
Labels: python

#4685 chore[rust]: update arrow
  Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

#4683 fix[python]: fix "assert_series_equal" for specific arrangements of null
  py-polars/polars/testing.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
Labels: python

#4684 refactor[rust]: implement Display for FunctionExpr
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/function_expr/struct_.rs
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

#4689 fix[rust]: fix rename edge case caused by redundant mappings
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

#4691 fix[rust]: keep list<cat> on rechunk
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_lists.py
Labels: python, rust

#4692 refactor[rust]: Expr::Reverse -> Expr::Function(FunctionExpr::Reverse)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
Labels: rust

#4697 test[rust]: Fix some test warnings
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

#4690 refactor[python]: Standardize class method order
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

#4696 refactor[rust]: not/isnull/isnotnull to FunctionExpr
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/src/lib.rs
Labels: rust

#4701 refactor[python]: Dispatch `Series.dt.with_time_zone` to `Expr`
  py-polars/polars/internals/series/datetime.py
  py-polars/src/series.rs
Labels: python

#4703 refactor[python]: Standardize `DataFrame` method order
  py-polars/polars/internals/dataframe/frame.py
Labels: python

#4693 Add format_str to lazy expressions API
  polars/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  polars/tests/it/lazy/functions.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

#4708 feat[python]: allow object literals
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  py-polars/Cargo.toml
  py-polars/polars/_html.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_object.py
Labels: python, rust

#4711 refactor[rust]: is_unique/is_duplicated -> FunctionExpr
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_object.py
Labels: python, rust

#4704 refactor[python]: Some minor stuff
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/tests/unit/test_df.py
Labels: python

#4713 fix[rust]: process columns arg in memmapped ipc
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/utils.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust

#4715 Implement `cut()` and add algoritims crate
  Cargo.toml
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-algo/src/algo.rs
  polars/polars-algo/src/lib.rs
Labels: rust

#4714 feat[rust, python]: support custom null value for csv output
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

#4712 chore[python]: Better Makefile
  py-polars/Makefile
Labels: python

#4719 chore[python]: remove local lto compilation
  py-polars/Cargo.toml
Labels: python

#4722 chore[python]: Makefile venv rule should not be .PHONY
  py-polars/Makefile
Labels: python

#4723 fix[rust]: fix alignment in joins
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/tests/it/core/joins.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

#4698 test[rust]: Ignore broken test
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
Labels: rust

#4725 fix[rust]: inform projection optimizer of inline join expressions
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/schema.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

#4724 feat[rust, python]: if datetime format not specified for "write_csv", infer the required precision
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

#4726 perf[rust]: improve `pivot ~2.2x` and `groupby_stable` performance.
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-ops/src/pivot/mod.rs
  polars/polars-ops/src/pivot/positioning.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

#4729 fix[rust]: fix comparison_and_validity kernels upstream
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4730 fix[rust]: ensure we can keep unsigned in fold sum all
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/frame/arithmetic.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust

#4731 python polars 0.14.9
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4738 chore[python]: Add overload types for DataFrame.write_csv
  py-polars/polars/internals/dataframe/frame.py
Labels: python

#4742 fix[python]: Print correct settings for enabling experimental **kwarg…
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

#4739 ci[python]: Separate docs requirements
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  CONTRIBUTING.md
  py-polars/Makefile
  py-polars/build.requirements.txt
  py-polars/docs/requirements-docs.txt
Labels: python

#4721 feat[python]: JSON IO functions
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_json.py
Labels: python

#4746 chore[python]: prefer "Sequence" to "list" in various type signatures
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_apply.py
Labels: python

#4749 docs[python]: Update Sphinx config
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
  py-polars/tests/docs/run_doc_examples.py
Labels: python

#4748 feat[rust]: throw errors on double aggregations
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust

#4754 perf[rust]: SIMD accelerate bound checks in take
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
Labels: rust

#4759 fix[python]: keep column type of empty arrow table
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_interop.py
Labels: python

#4761 feat[python]: api consistency; allow fluent calling pattern everywhere
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python

#4763 docs[rust] fix some minor typos
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

#4764 feat[rust, python]: Add profiling to lazy execution
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/node_timer.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#4767 ci[python]: Improved clippy
  .github/workflows/benchmark.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/src/apply/series.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/set.rs
Labels: python

#4765 feat[python]: a new frame-alignment utility function
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_functions.py
Labels: python

#4777 feat[python]: unstack operation
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/type_aliases.py
Labels: python

#4776 fix[rust]: only cast physical inner types in list
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/datatypes/field.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust

#4779 fix: fix null not-equal; fixed upstream
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/test_queries.py
Labels: python, rust

#4782 fix[rust]: fix quadratic behavior in deeply nested expressions
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust

#4783 python 0.14.10
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4787 refactor: Remove dead code & consolidate `with_column`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_df.py
Labels: python

#4772 feat[rust, python]: Support casting Datetime to Time
  polars/polars-core/src/chunked_array/logical/datetime.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4634 feat[python]: Support reading all sheets xlsx file
  py-polars/build.requirements.txt
  py-polars/polars/io.py
  py-polars/tests/files/example.xlsx
  py-polars/tests/io/test_excel.py
Labels: python

#4793 fix[rust]: fix semi/anti join schema
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/logical_plan/schema.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust

#4792 fix[python]: init Series from empty arrow array (when no data/not chunked)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_df.py
Labels: python

#4785 feat[python]: allow ".row(idx)" to index with a predicate
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/exceptions.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
Labels: python

#4636 feat: introduce `bias` parameter to `ewm_var` and `ewm_mean`
  .gitignore
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4795 ci[python]: Separate linting from testing
  .github/workflows/benchmark.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  CONTRIBUTING.md
  py-polars/Makefile
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
Labels: python

#4805 docs[python]: Improve docstrings for LazyFrame JSON methods
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

#4804 refactor[python]: dispatch `join` logic to `LazyFrame` side
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/src/dataframe.rs
Labels: python

#4802 feat[rust]: Use zlib-ng again for decompressing gzipped CSV files (#3…
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/utils.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

#4818 fix[rust]: Fix wrong schema inference with skip_rows_after_header (#4…
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

#4809 refactor[python]: Replace pytz by stdlib zoneinfo
  README.md
  py-polars/polars/datatypes.py
  py-polars/polars/show_versions.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: python

#4822 fix[rust]: fix groupby_dynamic flat agg type
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_groupby.py
Labels: python, rust

#4824 refactor[rust]: refactor Udf node to MapFunction and make function st…
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#4826 feat[rust]: remove unneeded fast projections from optimized plan
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
Labels: rust

#4828 feat[rust]: improve dot diagram (show cache)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/mod.rs
Labels: rust

#4825 docs[python]: add more docstrings
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

#4811 feat[python]: Add "all" optional dependency
  README.md
  py-polars/pyproject.toml
Labels: python

#4807 feat[python]: improve frame init from `@dataclass` and `namedtuple` rows
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/utils.py
  py-polars/tests/slow/test_csv.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_df.py
Labels: python

#4803 feat[rust]: show problematic values in failed cast
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4829 feat[rust, python]: various `str.strptime` enhancements/fixes, and new fractional seconds option for `dt.seconds`,
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4823 fix[rust]: Improve DataFrame.describe()
  polars/polars-core/src/frame/mod.rs
Labels: rust

#4840 bug[rust]: Fix float display
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_fmt.py
Labels: python, rust

#4845 chore[python]: Add coverage settings to pyproject.toml
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/pyproject.toml
Labels: python

#4848 python polars 0.14.11
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4820 feat[python]: Improve DataFrame.describe()
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python

#4852 feat[python]: further pl.Time support
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_utils.py
Labels: python

#4838 feat[rust]: new optimization: common sub-plan elimination.
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/error.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/options.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/error.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

#4857 refactor[rust]: Fix some warnings
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#4859 refactor[rust, python]: default to cse
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, rust

#4860 fix[rust]: df! macro hygiene
  polars/polars-core/src/utils/mod.rs
Labels: rust

#4862 fix[rust]: fix panic in strptime
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

#4863 refactor[rust]: do not set cse caches if cache set by user
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
Labels: rust

#4864 feat[rust]: autorename duplicated column in csv parsing
  polars/polars-io/src/csv/utils.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

#4867 Add serde for `Duration` type
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust

#4866 docs[python]: configure intersphinx mapping & update references
  py-polars/docs/source/conf.py
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io.py
Labels: python

#4868 chore[rust]: update arrow
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/utils.rs
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4870 fix[rust]: fill_null static schema
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/logical_plan/schema.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-utils/src/arena.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust

#4873 feat[rust]: add iso_year and make dt computed attributes serde
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

#4874 fix[rust]: fix panic in csv globbing arguments
  polars/polars-lazy/src/frame/csv.rs
Labels: rust

#4875 feat[python]: allow Series.apply to include null values
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_apply.py
Labels: python

#4876 fix[rust]: struct broadcasting
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust

#4886 fix: update is_infinite doc comment
  polars/polars-core/src/series/mod.rs
Labels: rust

#4883 perf[rust]: replace col(utf8) + col(utf8) .. + col(utf8) with concat_str
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/src/lib.rs
Labels: rust

#4887 fix[rust]: fix predicate pushdown of complicated predicate on aliased…
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

#4889 feat[rust, python]: allow setting by multiple values for boolean and …
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/polars/internals/series/series.py
  py-polars/src/set.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4890 fix[rust]: dynamically determine union parallelism
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
Labels: python, rust

#4894 refactor[python]: revert decompress-fast for python
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4895 rust polars 0.24.0
  polars/Cargo.toml
  polars/Makefile
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4897 python polars 0.14.12
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4899 chore[python]: Apply yesqa
  py-polars/polars/io.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_fmt.py
Labels: python

#4902 feat[rust, python]: nan_min/nan_max expression (nan propagating aggre…
  polars/Cargo.toml
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

#4750 Add formatting options to render tables without borders / lines, define cell alignment, and hide column names
  polars/polars-core/src/fmt.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust

#4908 chore[python]: Fix test for pandas 1.5.0
  py-polars/tests/unit/test_interop.py
Labels: python

#4907 chore[python]: Fix typo in docs reference
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

#4909 fix[rust]: don't unwrap if lp has no input
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust

#4910 doc[rust]: Fix pivot document
  polars/src/docs/eager.rs
Labels: rust

#4913 feat[rust, python]: make list::vec_hash fallible
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-ops/src/series/ops/various.rs
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust

#4914 fix[rust]: strptime should not panic on invalid dates
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

#4915 fix[python]: fix json_path_match dtype
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_utf8.py
Labels: python, rust

#4916 fix[rust]: determine supertype of structs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust

#4918 fix[python, rust]: categorical-related edge cases with init from empty Arrow arrays
  polars/polars-core/src/series/from.rs
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4917 perf[rust]: don't allocate indices on rolling_groupby + by
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

#4921 fix[python]: subtly incorrect `Series` values on init from python datetimes (unit/precision issue)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_datelike.py
Labels: python

#4919 feat[rust]: groupby numeric list columns
  polars/polars-arrow/src/kernels/list_bytes_iter.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/series/ops/various.rs
  polars/tests/it/core/groupby.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/test_lists.py
Labels: python, rust

#4922 refactor[rust]: call Field::from_owned
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

#4927 fix[rust]: fix trails collection and comparison in cse optimzer
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

#4929 fix[python]: dispatch logical type arithmetic to series
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_arithmetic.py
Labels: python

#4931 feat[rust, python]: coalesce function
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

#4928 fix[python]: prevent invalid use of `Series`, `DataFrame`, and `LazyFrame` in logical boolean context
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_strings.py
Labels: python

#4932 feat[rust, python]: add missing `millisecond` and `microsecond` accessors
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

#4933 perf[rust]: build categoricals in csv reader
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

#4934 feat[python]: add new (optional) "name" param to `Series.to_frame`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python

#4942 docs[python]: enhanced docstrings for "apply" methods
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/series/series.py
Labels: python

#4943 fix[rust]: unset sorted flag on mutation
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust

#4944 feat[rust]: spearman rank null/nan handling
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

#4945 fix[rust, python]: make cut work on integer types
  polars/polars-algo/src/algo.rs
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_functions.py
Labels: python, rust

#4946 refactor[rust]: deprecate eager groupby aggregation methods
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

#4948 rust polars 0.24.1
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

#4949 python polars 0.14.13
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

#4955 fix[python, rust]: properly handle multiple chunks in ewm computations
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust

#4958 ci[python]: allow deprecated calls
  polars-sql/Cargo.toml
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/main.rs
  py-polars/src/dataframe.rs
Labels: python

#4959 fix[rust]: cse don't see only a single side of a join trail as equal
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/tests/cse.rs
Labels: rust

#4960 fix[rust]: fix invalid length bitmask in _rolling_apply_agg_window_nulls
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: rust

#4961 feat[python]: allow construction of 2D numpy arrays (list type)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python

#4963 refactor[rust]: remove agg_median from series trait
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust
