Repository pola-rs/polars, pull requests merged in 2023-08, with the labels that each got.

#10216 fix(rust, python): no cse in groupby until fixed
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#10142 fix(rust, python): correct struct null counts
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#10222 chore: Update dependabot config
  .github/dependabot.yml
  py-polars/Cargo.lock
Labels: python, rust, internal

#10228 docs(python): Use sphinx' `maximum_signature_line_length`
  py-polars/docs/source/_static/css/custom.css
  py-polars/docs/source/conf.py
Labels: documentation, python

#10230 chore: Replace "question" issues with link to Stack Overflow
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: python, rust, internal

#10202 chore(rust): Fix `make integration-tests` command
  crates/Makefile
Labels: rust, internal

#10236 depr(python): Deprecate `avg` alias for `mean`
  py-polars/polars/functions/lazy.py
Labels: python, deprecation

#10205 chore(rust): Fix `make pre-commit` command
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/build.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/build.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/build.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/build.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/build.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/build.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/build.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.lock
Labels: rust, internal

#10240 fix(rust, python): don't panic in wildcard apply
  crates/polars-plan/src/utils.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_apply.py
Labels: python, rust, fix

#10241 perf(rust, python): fix O(n^2) in sorted check during append
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/take/take_random.rs
  crates/polars-core/src/chunked_array/ops/take/take_single.rs
Labels: python, rust, performance

#10243 fix(rust): correct agg_sum for ChunkedArray.
  crates/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: rust, fix

#10231 fix(rust, python): fix date/datetime parsing for short inputs with exact=False
  crates/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, fix

#10250 fix(rust, python): fix logical columns of streaming multi-column sort
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, rust, fix

#10251 docs(rust): fix dead links in Rust documentation
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/mod.rs
  crates/polars/src/docs/eager.rs
  crates/polars/src/lib.rs
Labels: documentation, rust

#10253 depr(python): Rename first `qcut` parameter to `quantiles`
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: python, deprecation

#10252 fix(rust, python): fix empty streaming parquet file
  crates/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#10249 feat(python): add "batch_size" to `scan_pyarrow_dataset` parameters
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, enhancement

#10235 feat(rust!,python): Extend `datetime` expression function with time zone/time unit parameters
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/series/datetime.py
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_as_datatype.py
Labels: python, rust, enhancement, breaking rust

#10256 fix(rust): fix pyo3 link errors on macos
  examples/python_rust_compiled_function/Cargo.toml
  examples/python_rust_compiled_function/build.rs
Labels: rust, fix

#10244 feat(python): add entry point to the Consortium DataFrame API
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dependencies.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_consortium_standard.py
Labels: python, enhancement

#10268 feat(rust): add extra build profiles
  README.md
  py-polars/Cargo.toml
  py-polars/Makefile
Labels: rust, enhancement

#10265 feat(python): support bytecode translation to `map_dict` where the lookup key is an expression
  py-polars/polars/utils/udfs.py
  py-polars/tests/test_udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10281 chore(python): Fix typo in error message
  py-polars/src/apply/series.rs
Labels: python, internal

#10279 chore(rust): Use workspace package info / organize dependencies section
  Cargo.toml
  contribution/polars_ops_multiple_arguments/Cargo.toml
  crates/polars-algo/Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-core/Cargo.toml
  crates/polars-error/Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-json/Cargo.toml
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-pipe/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-row/Cargo.toml
  crates/polars-sql/Cargo.toml
  crates/polars-time/Cargo.toml
  crates/polars-utils/Cargo.toml
  crates/polars/Cargo.toml
  examples/python_rust_compiled_function/Cargo.toml
  examples/read_csv/Cargo.toml
  examples/read_json/Cargo.toml
  examples/read_parquet/Cargo.toml
  examples/read_parquet_cloud/Cargo.toml
  examples/string_filter/Cargo.toml
  polars-cli/Cargo.toml
  py-polars/Cargo.toml
Labels: rust, internal

#10277 docs(python): make an explicit note in `read_parquet` and `scan_parquet` about hive-style partitioning (point to `scan_pyarrow_dataset` instead)
  py-polars/polars/io/parquet/functions.py
Labels: documentation, python

#10284 fix(rust): check dtypes of single-column 'by' parameter in asof-join
  crates/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: rust, fix

#10275 feat(python): raise `TypeError` for all LazyFrame comparison operators
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#10286 fix(python): don't panic on cse if function hasn't implemented __eq__
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, fix

#10282 ci: Do not keep history in `gh-pages` branch
  .github/workflows/docs-python.yml
  .github/workflows/docs-rust.yml
Labels: python, rust, internal

#10289 fix(rust, python): fix sorted fast path in streaming groupby wrt nulls
  crates/polars-pipe/src/executors/sinks/groupby/primitive/mod.rs
  py-polars/tests/unit/streaming/test_streaming_groupby.py
Labels: python, rust, fix

#10292 docs(rust): avoid outputting docs of dependencies
  crates/Makefile
Labels: documentation, rust

#10290 depr(python,rust!): renaming `approx_unique` as `approx_n_unique`
  crates/polars-ops/src/series/ops/approx_algo/hyperloglogplus.rs
  crates/polars-ops/src/series/ops/approx_unique.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/functions/test_functions.py
Labels: python, rust, deprecation, breaking rust

#10179 feat(rust, python): Add `str.extract_groups`
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#10297 docs(python): add note about pyarrow partitioning
  py-polars/polars/io/pyarrow_dataset/functions.py
Labels: documentation, python

#10261 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: python, rust, internal

#10303 fix(rust, python): clear window cache and run windows on proper runners
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#10307 chore(cli): Move `profile` config to workspace
  Cargo.toml
  polars-cli/Cargo.toml
  py-polars/Cargo.lock
Labels: cli, internal

#10298 feat(python, rust): improve err msg parsing `time`, `date`, `datetime`
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/parametric/time_series/test_to_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#10306 fix(rust, python): Set correct dtype for `.extract_groups()`
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#10309 chore(rust): Exclude examples from workspace default
  .github/workflows/lint-rust.yml
  Cargo.toml
  crates/Makefile
Labels: rust, internal

#10310 feat(python): warn about inefficient apply json.loads if json is local import
  py-polars/polars/utils/udfs.py
  py-polars/tests/test_udfs.py
Labels: python, enhancement

#10313 chore(rust): fix typo in lib.rs
  crates/polars/src/lib.rs
Labels: rust, internal

#10257 fix(rust,python): Fix join validation
  crates/polars-core/src/frame/hash_join/args.rs
  crates/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  crates/polars-core/src/frame/hash_join/single_keys_inner.rs
  crates/polars-core/src/frame/hash_join/single_keys_outer.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#10318 fix(rust, python): fix categorical lexical sort
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  py-polars/tests/unit/namespaces/test_categorical.py
Labels: python, rust, fix

#10317 fix(python): add cse to no_optimization in profile
  py-polars/polars/lazyframe/frame.py
Labels: python, fix

#10312 fix(python): show inefficient apply warning in ipython
  .github/workflows/test-bytecode-parser.yml
  py-polars/polars/utils/udfs.py
  py-polars/tests/test_udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, fix

#10321 perf(rust, python): don't parallelize literal expressions
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
Labels: python, rust, performance

#10238 depr(python): Rename `LazyFrame.read/write_json` to `de/serialize`
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/test_serde.py
Labels: python, deprecation

#10322 feat(rust, python): allow sequential runners in select/with_columns
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/projection.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/executors/stack.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/builder_alp.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cache_states.rs
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/file_caching.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/melt.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/generic.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/hstack.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#10329 fix(rust, python): fix oob in 'last'
  Cargo.toml
  crates/polars-arrow/src/array/get.rs
  crates/polars-arrow/src/is_valid.rs
  crates/polars-core/src/chunked_array/ops/take/take_single.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#10328 feat(python): add offsets utility
  py-polars/src/series/buffers.rs
  py-polars/src/series/mod.rs
Labels: python, enhancement

#10330 feat(python): add ptr for small integer types
  py-polars/Cargo.toml
  py-polars/src/series/buffers.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#10332 feat(rust, python): improve datetime parsing error message
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#10331 feat(python): utility to get buffers and pointers
  py-polars/src/series/buffers.rs
Labels: python, enhancement

#10325 feat(rust!,python): Add `Series.cat.uses_lexical_ordering`
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  py-polars/docs/source/reference/series/categories.rst
  py-polars/polars/series/categorical.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_categorical.py
Labels: python, rust, enhancement, breaking rust

#10255 feat(python): support `selectors` in additional frame methods
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/test_drop.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/operations/test_melt.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#10334 docs(rust): write down invariants of ChunkedArray
  crates/polars-core/src/chunked_array/mod.rs
Labels: documentation, rust

#10335 perf(rust): re-use regex capture allocation (#10302)
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
Labels: rust, enhancement, performance

#10347 chore(rust): remove wasm-timer dependency
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  py-polars/Cargo.lock
Labels: rust, internal

#10359 fix(rust, python): finalize cast in partitioned groupby
  crates/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  crates/polars-lazy/src/physical_plan/expressions/cast.rs
  py-polars/tests/unit/operations/test_groupby.py
Labels: python, rust, fix

#10361 feat(python): add offset and length to get_ptr
  py-polars/polars/series/series.py
  py-polars/src/series/buffers.rs
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#10363 refactor(python): Small improvement for PySeries.get_buffer
  py-polars/src/series/buffers.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, internal

#10352 feat(python): improve take_every(0) exception
  py-polars/src/expr/general.rs
Labels: python, enhancement

#10382 chore(rust): patch reedline until fix released
  polars-cli/Cargo.toml
Labels: rust, internal

#10381 feat(rust, python): cse for groupby.agg and reduced cse collisions
  crates/polars-lazy/src/physical_plan/executors/groupby.rs
  crates/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-pipe/src/executors/operators/projection.rs
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, enhancement

#10378 feat(python): Order percentiles in `describe`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, enhancement

#10341 feat(python): enhance `selectors` expansion function, so it can operate on a schema as well as a frame
  py-polars/polars/dataframe/frame.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#10383 docs(rust) Fix duplicate columns in example code.
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/lib.rs
Labels: documentation

#10372 feat(rust,python): Add `is_local` and `to_local` to categorical namespace
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  py-polars/docs/source/reference/series/categories.rst
  py-polars/polars/series/categorical.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/namespaces/test_categorical.py
  py-polars/tests/unit/series/test_categorical.py
Labels: python, rust, enhancement

#10384 feat(python): add explicit `selector` variants for signed/unsigned integers
  py-polars/polars/selectors.py
Labels: python, enhancement

#10385 perf(rust, python): use hash as CSE Identifier
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-plan/src/dsl/function_expr/fused.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/random.rs
  crates/polars-plan/src/logical_plan/aexpr/hash.rs
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-plan/src/logical_plan/lit.rs
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
Labels: python, rust, performance

#10373 feat(python,rust): add line_terminator option to write_csv
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/csv/write_impl.rs
  crates/polars/tests/it/io/csv.rs
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#10391 fix: correct AnyValue::hash
  crates/polars-core/src/datatypes/any_value.rs
Labels: python, rust, fix

#10396 build(rust): Bump some dependencies
  Cargo.toml
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-io/Cargo.toml
  crates/polars-lazy/src/physical_plan/state.rs
  crates/polars-ops/Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-time/Cargo.toml
  polars-cli/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: rust, build

#10258 chore(python): Address Ruff per file ignores
  py-polars/polars/utils/show_versions.py
  py-polars/polars/utils/udfs.py
  py-polars/pyproject.toml
  py-polars/tests/unit/series/test_series.py
Labels: python, internal

#10399 perf(rust, python): pre-alloc int_ranges
  crates/polars-plan/src/dsl/function_expr/range.rs
Labels: python, rust, performance

#10403 feat(rust, python): allow unaligned pointers in arrow FFI
  Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust, enhancement

#10405 test: add test for 10401
  py-polars/Cargo.lock
  py-polars/tests/unit/test_cse.py
Labels: python, rust, internal

#10402 chore: Remove `js-polars` from repo
  js-polars/.gitignore
  js-polars/Cargo.toml
  js-polars/Makefile
  js-polars/app.js
  js-polars/src/dataframe.rs
  js-polars/src/lib.rs
  js-polars/src/series.rs
Labels: internal

#10404 chore(cli): Move Polars CLI to its own repository
  .github/CODEOWNERS
  .github/release-drafter.yml
  .github/workflows/lint-rust.yml
  Cargo.toml
  README.md
  crates/Makefile
  crates/polars/tests/it/lazy/expressions/arity.rs
  polars-cli/Cargo.toml
  polars-cli/LICENSE
  polars-cli/README.md
  polars-cli/src/highlighter.rs
  polars-cli/src/interactive.rs
  polars-cli/src/main.rs
  polars-cli/src/prompt.rs
Labels: cli, internal

#10140 feat(rust): serialize flags
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/serde/chunked_array.rs
  crates/polars-core/src/serde/mod.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_json.py
Labels: rust, enhancement

#10267 feat(python): Native implementation of dataframe interchange protocol
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/interchange/__init__.py
  py-polars/polars/interchange/buffer.py
  py-polars/polars/interchange/column.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/interchange/protocol.py
  py-polars/polars/interchange/utils.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/interchange/__init__.py
  py-polars/tests/unit/interchange/test_buffer.py
  py-polars/tests/unit/interchange/test_column.py
  py-polars/tests/unit/interchange/test_dataframe.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interchange/test_utils.py
Labels: python, enhancement, highlight

#10411 perf(python): optimise retrieval speed of values from `df.item` (~4-5x speedup)
  py-polars/polars/dataframe/frame.py
Labels: python, performance

#10412 feat(rust, python): {any/all}_horizontal to expression architecture
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
Labels: python, rust, enhancement

#10400 chore(python): Clean up some `Sphinx` settings
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/delta.py
Labels: python, internal

#10395 refactor(rust): implement ChunkArray::(try_)from_chunk_iter
  contribution/polars_ops_multiple_arguments/src/lib.rs
  crates/polars-arrow/src/array/utf8.rs
  crates/polars-arrow/src/kernels/time.rs
  crates/polars-arrow/src/lib.rs
  crates/polars-core/src/chunked_array/bitwise.rs
  crates/polars-core/src/chunked_array/builder/mod.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/extension/list.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/chunked_array/ops/concat_str.rs
  crates/polars-core/src/chunked_array/ops/filter.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/min_max_binary.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/tile.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/frame/groupby/aggregations/agg_list.rs
  crates/polars-core/src/frame/groupby/aggregations/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/series/into.rs
  crates/polars-io/src/csv/buffer.rs
  crates/polars-io/src/ndjson/buffer.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-ops/src/chunked_array/interpolate.rs
  crates/polars-ops/src/chunked_array/list/any_all.rs
  crates/polars-ops/src/chunked_array/list/count.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/series/ops/floor_divide.rs
  crates/polars-ops/src/series/ops/fused.rs
  crates/polars-ops/src/series/ops/is_first.rs
  crates/polars-ops/src/series/ops/is_unique.rs
  crates/polars-plan/src/dsl/function_expr/arg_where.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  crates/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/src/series/construction.rs
Labels: rust, internal

#10165 fix(python): Create delta compatible schema during writing
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, fix

#10415 fix(python): raise appropriate error from newly-optimised `item` on invalid (out of bounds) column index
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, skip changelog, fix

#10420 test(python): add test for 10417
  py-polars/tests/unit/operations/test_window.py
Labels: python, internal

#10433 fixed typo in comment
  crates/polars-core/src/chunked_array/mod.rs
Labels: fix

#10437 fix(python): fix potential `OverflowError` in testing asserts with huge `UInt64` diffs
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, fix

#10447 fix(python): Fix by argument handling in join_asof
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, fix

#10450 fix(rust, python): fix cse input schema
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#10429 refactor(rust): Simplify flag methods
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/serde/chunked_array.rs
  crates/polars-core/src/serde/mod.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  py-polars/Cargo.lock
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_json.py
Labels: rust, internal

#10453 fix(rust, python): ensure last aggregation deals with default chunk
  crates/polars-pipe/src/executors/sinks/groupby/aggregates/last.rs
Labels: python, rust, fix

#10445 fix(python): address inconsistency in init from square numpy arrays with/without an explicit schema
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#10464 fix(rust, python): ensure sorted_sink hash equals the default path
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-pipe/src/executors/sinks/groupby/primitive/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#10461 depr(python): Deprecate behavior of list/tuple inputs for `lit`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/functions/test_as_datatype.py
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/operations/test_random.py
  py-polars/tests/unit/test_exprs.py
Labels: python, deprecation

#10444 fix(python,rust): fix negative decimal parsing
  crates/polars-arrow/src/compute/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#10465 test(rust): fix and run polars-plan tests
  .github/workflows/test-rust.yml
  crates/polars-core/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
Labels: rust, internal

#10426 feat(rust, python): add `use_earliest` to `to_datetime` / `strptime`
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-time/src/chunkedarray/utf8/infer.rs
  crates/polars-time/src/chunkedarray/utf8/mod.rs
  crates/polars-time/src/groupby/dynamic.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#10469 test(python): Run all streaming tests on the same test runner
  .github/workflows/test-python.yml
  py-polars/Makefile
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_groupby.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
Labels: python, internal

#10452 fix(rust): Fix incorrect handling of VisitRecursion::Skip.
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-plan/src/logical_plan/visitor/visitors.rs
  py-polars/tests/unit/test_cse.py
Labels: rust, fix

#10442 feat(rust): be more permissive on predicate pushdown to left side of left join
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars/tests/it/lazy/predicate_queries.rs
Labels: rust, enhancement

#10409 feat(python, rust): add "raise_if_empty" flag to `read_excel`, `read_csv`, `scan_csv`, and `read_csv_batched`
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/csv/utils.rs
  crates/polars-lazy/src/frame/csv.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/files/empty.xlsx
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_excel.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, enhancement

#10471 fix(python): fix pyarrow write_to_dataset wrt check_not_directory parameter
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, fix

#10422 feat(rust, python): quote style option for csv writer
  crates/polars-io/src/csv/mod.rs
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/csv/write_impl.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#10472 docs(python): add `vertical_relaxed` example for `pl.concat`
  py-polars/polars/functions/eager.py
Labels: documentation, python

#10485 test(python): Gather all streaming tests
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/streaming/test_streaming_groupby.py
  py-polars/tests/unit/streaming/test_streaming_io.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_schema.py
Labels: python, internal

#10487 test(python): Mark import timing check as slow
  py-polars/tests/unit/test_polars_import.py
Labels: python, internal

#10488 docs(python): Add version switcher to API reference
  .github/workflows/docs-python.yml
  py-polars/docs/source/_static/css/custom.css
  py-polars/docs/source/_static/version_switcher.json
  py-polars/docs/source/conf.py
Labels: documentation, python

#10492 chore(rust): features
  crates/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: rust, internal

#10493 chore(python): Update lockfile
  py-polars/Cargo.lock
Labels: skip changelog

#10484 depr(python): Deprecate some parameters of `cut`/`qcut`
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_statistics.py
  py-polars/tests/unit/series/test_cut.py
  py-polars/tests/unit/series/test_qcut.py
  py-polars/tests/unit/test_errors.py
Labels: python, deprecation

#10496 test(python): Skip failing test
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, internal

#10495 docs: Update URLs for dev documentation
  .github/workflows/docs-python.yml
  .github/workflows/docs-rust.yml
  CONTRIBUTING.md
  py-polars/docs/source/_static/version_switcher.json
  py-polars/docs/source/conf.py
Labels: documentation, python, rust

#10498 docs(rust): add VSCode rust-analyzer settings
  contribution/README.md
Labels: documentation, rust

#10500 docs(python): Keep versioned docs
  .github/workflows/docs-python.yml
  py-polars/docs/source/_static/version_switcher.json
  py-polars/docs/source/conf.py
Labels: documentation, python

#10266 feat(python): suggest str.to_datetime instead of apply and stdlib strptime
  py-polars/polars/utils/udfs.py
  py-polars/tests/test_udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10470 feat(python)!: Improve some error types and messages
  py-polars/polars/api.py
  py-polars/polars/config.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/struct.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/lit.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/interchange/utils.py
  py-polars/polars/io/csv/_utils.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel/_write_utils.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/polars/series/struct.py
  py-polars/polars/slice.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/profiles.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/deprecation.py
  py-polars/polars/utils/udfs.py
  py-polars/polars/utils/various.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_schema.py
  py-polars/tests/unit/test_testing.py
Labels: python, breaking, enhancement

#10518 chore(python): Fix typo
  py-polars/src/dataframe.rs
Labels: python, skip changelog, internal

#10519 chore(python): Disable SIM108 lint
  py-polars/pyproject.toml
Labels: python, internal

#10497 refactor(rust): use ChunkArray::(try_)from_chunk_iter
  crates/polars-arrow/src/compute/cast.rs
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/builder/fixed_size_list.rs
  crates/polars-core/src/chunked_array/builder/from.rs
  crates/polars-core/src/chunked_array/builder/list/anonymous.rs
  crates/polars-core/src/chunked_array/builder/mod.rs
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/comparison/scalar.rs
  crates/polars-core/src/chunked_array/float.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/kernels/take.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/from.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/extension/list.rs
  crates/polars-core/src/chunked_array/ops/concat_str.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/repeat_by.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/tile.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/chunked_array/ops/unique/rank.rs
  crates/polars-core/src/chunked_array/trusted_len.rs
  crates/polars-core/src/chunked_array/upstream_traits.rs
  crates/polars-core/src/frame/groupby/aggregations/agg_list.rs
  crates/polars-core/src/frame/groupby/aggregations/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/to_list.rs
  crates/polars-io/src/csv/buffer.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-ops/src/chunked_array/interpolate.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/series/ops/is_first.rs
  crates/polars-ops/src/series/ops/is_unique.rs
  crates/polars-plan/src/dsl/function_expr/arg_where.rs
  py-polars/src/series/construction.rs
Labels: rust, internal

#10449 fix(python): respect `pl.Config` options relating to shape, column names, and types when rendering HTML
  py-polars/polars/dataframe/_html.py
  py-polars/tests/unit/test_cfg.py
Labels: python, fix

#10527 feat!: Remove various functionalities deprecated before `0.18`
  py-polars/docs/source/reference/series/attributes.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/pyarrow_dataset/__init__.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/sql/context.py
  py-polars/polars/string_cache.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/test_range.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/test_sql.py
Labels: python, rust, breaking, enhancement

#9983 feat!: Make `arange` an alias for `int_range`
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/range.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/range.rs
  py-polars/polars/functions/range.py
  py-polars/src/functions/range.rs
  py-polars/src/lib.rs
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/functions/test_range.py
Labels: python, rust, breaking, enhancement

#9502 fix(rust): fix build for wasm
  .github/workflows/test-rust.yml
  crates/Makefile
  crates/polars-io/Cargo.toml
  crates/polars-io/src/utils.rs
  crates/polars-utils/src/wasm.rs
Labels: rust, fix

#10536 fix(rust): fix build for wasm
  .github/workflows/test-rust.yml
  crates/Makefile
  crates/polars-io/Cargo.toml
  crates/polars-io/src/utils.rs
  crates/polars-utils/src/wasm.rs
Labels: rust, fix

#10539 docs(python): Add title to index page
  py-polars/docs/source/index.rst
  py-polars/docs/source/reference/config.rst
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/io.rst
  py-polars/docs/source/reference/selectors.rst
  py-polars/docs/source/reference/sql.rst
  py-polars/docs/source/reference/testing.rst
  py-polars/docs/source/reference/utils.rst
Labels: documentation, python

#10542 docs(python): Fix link to source code
  py-polars/docs/source/conf.py
Labels: documentation, python

#10541 fix(python): Fix `write_delta` with schema in `delta_write_options`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, fix

#10538 chore(rust) clean up superfluous cross-crate feature dependencies
  crates/Makefile
  crates/polars-pipe/Cargo.toml
Labels: internal

#10531 fix(rust,python): sanitize column naming in boolean ops
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_bool.py
Labels: python, rust, fix

#10556 feat(python): Remove deprecated `get_idx_type` - use `get_index_type` instead
  py-polars/Cargo.lock
  py-polars/polars/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/meta.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, enhancement

#10551 fix(rust, python): Parsing regex col in Expr::Columns
  crates/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/test_expr_multi_cols.py
Labels: python, rust, fix

#10505 fix(rust, python): Clear window cache after evaluate predication expr
  crates/polars-lazy/src/physical_plan/executors/filter.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#10529 feat(python)!: allow `from_arrow` to take a generator of RecordBatches, change error type to `TypeError`
  py-polars/polars/convert.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/test_interop.py
Labels: python, breaking, enhancement

#10507 feat(rust, python): Add failed column to cast exception
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#9512 feat(python)!: Improve consistency of parsing expression input
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/functions/test_as_datatype.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_groupby_rolling.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Labels: python, breaking, enhancement

#10504 feat(python,rust): frame-level `cast` support
  crates/polars-lazy/src/frame/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, enhancement

#10566 docs(python): fix out-of-date explain default parameter
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#10571 fix(rust, python): Take input_schema to create physical expr for Selection
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#10568 chore(rust): bump MSRV to 1.65
  README.md
  crates/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Labels: rust, internal

#10588 perf(rust, python): use binary abstraction for atan2
  crates/polars-arrow/src/kernels/atan2.rs
  crates/polars-arrow/src/kernels/mod.rs
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
Labels: python, rust, performance

#10482 fix(rust): join_asof missing `tolerance` implementation, address edge-cases
  crates/polars-core/src/frame/asof_join/asof.rs
  crates/polars-core/src/frame/asof_join/groups.rs
  crates/polars-core/src/frame/asof_join/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join_asof.py
Labels: rust, fix

#10591 chore(python): ensure that `make requirements` fully refreshes unpinned packages/deps
  py-polars/Makefile
Labels: python, internal

#10607 refactor(rust): make binary chunkedarray functions DRY
  crates/polars-core/src/chunked_array/arithmetic/decimal.rs
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
  crates/polars-core/src/chunked_array/bitwise.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/filter.rs
  crates/polars-core/src/chunked_array/ops/min_max_binary.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/repeat_by.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-ops/src/series/ops/floor_divide.rs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
Labels: rust, internal

#10600 refactor(python): deprecate DataFrame.replace
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, internal

#10609 fix(rust, python): Fix serialization for categorical chunked.
  crates/polars-core/src/serde/chunked_array.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#10564 feat!: Change behavior of `all` - fix Kleene logic implementation for `all`/`any`
  Cargo.toml
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/Cargo.lock
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/functions/aggregation/vertical.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/datatypes/test_bool.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/series/test_all_any.py
Labels: python, rust, breaking, enhancement, fix
