Repository pola-rs/polars, pull requests merged in 2023-04, with the labels that each got.

#7908 fix(rust, python): respect skip_nulls in apply for temporal types
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#7936 chore(rust): quantile typo in qcut
  polars/polars-algo/src/algo.rs
Labels: rust, chore

#7930 chore(rust): Include license files in polars-error and polars-row crates
  polars/polars-error/LICENSE
  polars/polars-row/LICENSE
Labels: rust, chore

#7924 feat(python): Support Numpy ufunc with more than one expression
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#7938 perf: improve group_tuples of high cardinality data `~10%`
  polars/polars-core/src/frame/groupby/proxy.rs
Labels: performance

#7913 feat(python,rust): Add seed argument to rank for random
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/arity.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#7912 fix(rust, python): Fix lazy encode schema
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/namespaces/test_binary.py
Labels: python, rust, fix

#7942 docs(python): improve docstrings for numeric/math operator-equivalent methods
  py-polars/polars/expr/expr.py
Labels: documentation, python

#7925 chore(python): Rename argument `f` to `function` in reduce docstring
  py-polars/polars/functions/lazy.py
Labels: python, chore

#7940 build: update rustc to nightly 2023-04-02
  .github/deploy_manylinux.sh
  .github/workflows/create-python-release.yml
  Cargo.toml
  polars/polars-core/src/lib.rs
  polars/polars-io/src/lib.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/lib.rs
  polars/src/lib.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  rust-toolchain.toml
Labels: build

#7860 refactor(python)!: Set some args for `Series`/`Expr` methods to keyword-only
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_string.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_series.py
Labels: python, breaking, refactor

#7139 refactor(python)!: Rename pipe arg `func` to `function`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, breaking, refactor

#7468 refactor(python)!: set maintain_order=False for df/lf.unique
  py-polars/Cargo.lock
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, breaking, refactor

#7910 refactor(python)!: Use `time_unit`/`time_zone` instead of `tu`/`tz`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/various.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, breaking, refactor

#7953 docs(python): add remaining operator-equivalent method docstrings and a related html/docs entry
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/expressions/index.rst
  py-polars/docs/source/reference/expressions/operators.rst
  py-polars/polars/expr/expr.py
Labels: documentation, python

#7951 perf(rust, python): use perfect hash table for categoricals
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/perfect.rs
  polars/polars-core/src/hashing/partition.rs
  polars/polars-core/src/series/implementations/categorical.rs
Labels: python, rust, performance

#7958 fix(rust, python): concat object types
  polars/polars-core/src/series/mod.rs
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, rust, fix

#7962 fix(python): pandas 2.0 compat
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#7965 feat(python): basic sanity-checks for some `Config` methods, reference POLARS_MAX_THREADS in `threadpool_size` docstring
  py-polars/polars/config.py
  py-polars/polars/utils/meta.py
Labels: python, enhancement

#7955 perf(python): ensure primitives are parsed first in anyvalue conversion
  py-polars/src/conversion.rs
Labels: python, performance

#7957 fix(python)!: in `sort`, `top_k`, `sort_by`, and `arg_sort_by`, raise if `descending` is a sequence and its length doesn't match the number of columns to sort by
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, breaking, fix

#7969 feat(rust, python)!: change top_k(descending) -> bottom_k
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, breaking, enhancement

#7973 fix(rust, python): fix chunked literals in expression engine
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#7970 refactor(python,rust)!: rename `toggle_string_cache` to `enable_string_cache`
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/src/docs/performance.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/string_cache.py
  py-polars/src/lib.rs
  py-polars/tests/docs/run_doctest.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, breaking, refactor

#7976 feat(rust, python): support struct in df.unique
  polars/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/hashing/vector_hasher.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, enhancement

#7980 perf(rust, python): numeric grouptuples with nulls hash in single pass `~25%`
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/hashing/partition.rs
Labels: python, rust, performance

#7991 fix(python): Fix test_literal_group_agg_chunked_7968 test
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, fix

#7987 docs(python): Add docstring examples for top_k and bottom_k
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_sort.py
Labels: documentation, python

#7979 feat(python): Add __array__ method to DataFrame
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#7997 feat(python): allow `write_ipc` to take `file=None` (returning `BytesIO`)
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_ipc.py
Labels: python, enhancement

#8001 perf(rust, python): use a trusted anyvalue builder
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/frame/row/av_buffer.rs
  polars/polars-core/src/frame/row/dataframe.rs
  polars/polars-core/src/frame/row/mod.rs
  polars/polars-core/src/frame/row/transpose.rs
  py-polars/tests/unit/operations/test_transpose.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, performance

#7978 refactor(python)!: Remove deprecated behaviour
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/ipc/anonymous_scan.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/anonymous_scan.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/struct.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_rows.py
  py-polars/tests/unit/test_testing.py
Labels: python, breaking, refactor

#8002 fix(rust, python)!: don't create duplicate pivot names
  polars/polars-ops/src/frame/pivot/mod.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, breaking, fix

#8005 fix(rust, python): fix pivot and transpose of struct data
  polars/polars-core/src/frame/row/av_buffer.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-ops/src/frame/pivot/positioning.rs
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/operations/test_transpose.py
Labels: python, rust, fix

#8009 fix(rust, python): struct null_count, cast string, tranpose and describe
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/frame/row/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/unit/operations/test_transpose.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#8012 fix(rust, python): all/any empty sets
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_bool.py
Labels: python, rust, fix

#8011 feat(python): Support `DataFrame` init from pyarrow `RecordBatch` objects, and improve init from `Array`
  py-polars/polars/convert.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#7983 fix(python): Only allow correct type for get_column and to_series arg…
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#8020 refactor(python): add standalone `RecordBatch` to `from_arrow` function typing
  py-polars/polars/convert.py
Labels: python, skip-changelog, refactor

#8026 fix(python): version gate pyarrow version for `to_pandas=(use_pyarrow…
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/pyproject.toml
  py-polars/tests/unit/test_series.py
Labels: python, fix

#8036 perf(rust, python): parallelize `into_groups` materialization ~`-25%`
  polars/polars-core/src/frame/groupby/proxy.rs
Labels: python, rust, performance

#8015 fix(python): create Series with list of only None with Float32 dtype
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#7967 refactor(rust): Fixed a bunch of clippy warnings
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-core/src/chunked_array/comparison/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/ipc/write.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-row/src/encode.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/windows/test.rs
Labels: rust, refactor

#8037 fix(rust, python): impl to_static for struct
  polars/polars-core/src/datatypes/any_value.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#8048 fix(rust, python): set lower limit for chunk_size
  polars/polars-lazy/polars-pipe/src/executors/operators/function.rs
  polars/polars-lazy/polars-pipe/src/operators/context.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
Labels: python, rust, fix

#8050 fix(rust, python): check element count in multi-column explode
  polars/polars-core/src/frame/explode.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, fix

#8051 feat(rust, python): implement arg_sort for struct dtype
  polars/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#8053 perf(rust, python): parallelize numeric ChunkedArray materialization `~2x`.
  polars/polars-core/src/chunked_array/upstream_traits.rs
Labels: python, rust, performance

#8057 perf(rust, python): speed up from_par_iter Option<bool> `~2.5x`
  polars/polars-core/src/chunked_array/upstream_traits.rs
Labels: python, rust, performance

#8058 perf(rust, python): `FromParalleIter<Option<str>> for Utf8Chunked` `~1.9x`
  polars/polars-core/src/chunked_array/upstream_traits.rs
Labels: python, rust, performance

#8072 feat(sql,cli,rust,python): multiple sql contexts & optional sql highlighting in cli
  polars/polars-sql/Cargo.toml
  polars/polars-sql/assets/SQL.sublime-syntax
  polars/polars-sql/assets/theme
  polars/polars-sql/src/cli.rs
  polars/polars-sql/src/cli/highlighter.rs
  polars/polars-sql/src/cli/mod.rs
  polars/polars-sql/src/cli/prompt.rs
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
  py-polars/src/sql.rs
Labels: python, rust, enhancement

#8069 docs(python): Fix Expr.apply docstring for return_dtype parameter
  py-polars/polars/expr/expr.py
Labels: documentation, python

#8080 docs(rust) Add note about `-1` to show all rows.
  polars/src/lib.rs
Labels: documentation, rust

#8083 chore(rust): remove unnecessary to_string
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  py-polars/Cargo.lock
Labels: rust, chore

#7405 feat(rust, python): auto-infer fmt for tz-aware date strings
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/date_range.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#8081 fix(rust, python): don't exponentially grow error messages (partial fix).
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
Labels: python, rust, fix

#8078 feat(python, rust)! make 'mo' interval raise if the target date does not exist
  polars/polars-time/src/windows/calendar.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#8084 feat(rust, python): infer tz-aware formats with try_parse_dates in read_csv
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#8086 feat(rust, python): clearer error message if strptime without a fmt specified fails
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
Labels: python, rust, enhancement

#8085 feat(rust, python): expand list of tz-aware formats which can be auto-inferred
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#8091 test(python): Fail doctest on deprecation warnings
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/docs/run_doctest.py
Labels: python, test

#8096 fix(python): Fix `show_versions` util
  py-polars/polars/utils/show_versions.py
Labels: python, fix

#8099 fix(python): Expr.str.decode returns binary dtype
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, fix

#8108 fix(rust, python): lazy: fix boolean sum schema
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-sql/src/functions.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#8097 test(python): Do not parallelize Windows tests
  .github/workflows/test-python.yml
  py-polars/pyproject.toml
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, test

#8098 feat(python): Support `n` expression passed to Expr.head/tail
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_exprs.py
Labels: python, enhancement

#8043 test(python): Improve some tests
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/operations/test_melt.py
  py-polars/tests/unit/operations/test_statistics.py
  py-polars/tests/unit/operations/test_transpose.py
  py-polars/tests/unit/operations/test_unique.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, test

#8089 fix(python): fix stacklevel of some deprecation warnings
  py-polars/Makefile
  py-polars/polars/api.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/database.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/string_cache.py
  py-polars/polars/utils/decorators.py
  py-polars/polars/utils/meta.py
  py-polars/polars/utils/various.py
  py-polars/scripts/check_decorators_stacklevels.py
  py-polars/scripts/check_stacklevels.py
Labels: python, fix

#8110 fix(python): fix detection of default integer indexes on win32 when loading from pandas frames
  py-polars/polars/utils/_construction.py
Labels: python, fix

#8118 feat(python): Add median stat to Series.describe
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8092 chore: Update references from `master` to `main`
  .github/workflows/docs-deploy-python.yml
  .github/workflows/docs-deploy-rust.yml
  .github/workflows/release-drafter.yml
  CONTRIBUTING.md
  README.md
  polars/Makefile
  polars/polars-core/src/chunked_array/ops/zip.rs
  py-polars/docs/source/conf.py
  py-polars/tests/unit/io/test_csv.py
Labels: chore

#8102 feat(rust, python): add `log1p` to list of mathematical functions
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/log.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/series/ops/log.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/lib.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#8129 feat(rust): adopt `FunctionExpr` for `abs` to allow for serialization
  polars/polars-lazy/polars-plan/src/dsl/function_expr/abs.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Labels: rust, enhancement

#8128 refactor(rust): use `map_private` where applicable to reduce code duplication
  polars/polars-lazy/polars-plan/src/dsl/arithmetic.rs
Labels: rust, refactor

#8139 fix(rust, python): struct `is_in`
  polars/polars-core/src/chunked_array/ops/is_in.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#8143 fix(rust, python): implement list<null> constructor
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/array/null.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#8146 fix(rust,python): fix row-wise init of `UInt64` values that exceed `UInt64` upper bound
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_rows.py
Labels: python, rust, fix

#8149 feat(python): Enhanced parametric testing `DataFrame` generation
  py-polars/polars/testing/_parametric.py
Labels: python, enhancement, test

#8151 fix(python): Address a ~15% regression in `import polars` speed
  py-polars/polars/dataframe/frame.py
  py-polars/polars/utils/show_versions.py
Labels: python, fix

#8153 feat(rust, python): make unique expr serde and cmp
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/unique.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Labels: python, rust, enhancement

#8155 fix(python): object conversion in anyvalue
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, fix

#8126 feat(rust): rewrite log expressions to make them serializable
  polars/polars-lazy/polars-plan/src/dsl/function_expr/log.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Labels: rust, enhancement

#8156 chore: update rustc
  .github/deploy_manylinux.sh
  .github/workflows/create-python-release.yml
  rust-toolchain.toml
Labels: chore

#8117 chore(rust): feature flag guards
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: rust, chore

#8132 feat(rust): move all boolean expressions into `BooleanFunction` enum
  polars/polars-lazy/polars-plan/src/dsl/function_expr/boolean.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/nan.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/unique.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
Labels: rust, enhancement

#8170 feat(rust, python): display skipped row if same number of rows
  polars/polars-core/src/fmt.rs
  py-polars/Cargo.lock
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, enhancement

#8166 feat(rust): Remove Seek constraint from IpcStreamReader and SerReader
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/lib.rs
Labels: rust, enhancement

#8178 feat(python): support `DataFrame` init from `pydantic` model data
  py-polars/polars/dependencies.py
  py-polars/polars/utils/_construction.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8177 chore(python): remove unused dtype_to_arrow_type
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/convert.py
Labels: python, chore

#8181 perf(python): ~2-3x speedup for `DataFrame` init from `pydantic` models
  py-polars/polars/utils/_construction.py
Labels: python, performance

#8133 feat(rust): `DatetimeArgs` ergonomics
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/src/lib.rs
Labels: rust, enhancement

#8173 feat(rust): adopt `FunctionExpr` for `cat` namespace
  polars/polars-lazy/polars-plan/src/dsl/cat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/cat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
Labels: rust, enhancement

#8187 docs(python): Fix small typo: "im memory" -> "in memory"
  py-polars/polars/io/csv/functions.py
Labels: documentation, python

#8189 refactor(python): minor updates for `describe` percentiles
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_df.py
Labels: python, skip-changelog, refactor

#7937 feat(python, rust): Add approx distinct count via `approx_unique()`
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/approx_algo/hyperloglogplus.rs
  polars/polars-ops/src/series/ops/approx_algo/mod.rs
  polars/polars-ops/src/series/ops/approx_unique.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust, enhancement

#8103 fix(rust): ensure cached nodes are initialized once
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-lazy/src/physical_plan/state.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_lazy.py
Labels: rust, fix

#8003 feat(rust, python): better algorithm for streaming unique
  Cargo.toml
  polars/polars-core/src/chunked_array/builder/boolean.rs
  polars/polars-core/src/chunked_array/builder/primitive.rs
  polars/polars-core/src/chunked_array/builder/utf8.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/frame/row/av_buffer.rs
  polars/polars-core/src/frame/row/transpose.rs
  polars/polars-core/src/hashing/mod.rs
  polars/polars-core/src/hashing/partition.rs
  polars/polars-core/src/lib.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/file_sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/interface.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/global.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/ooc_state.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/io.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/utils.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-ops/src/frame/pivot/positioning.rs
  polars/polars-utils/src/macros.rs
  py-polars/Cargo.lock
Labels: python, rust, enhancement

#8185 feat(python): support `DataFrame` init from nested `dataclass`, `pydantic`, and `NamedTuple` objects
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8194 tests(python): additional struct-schema override coverage
  py-polars/tests/unit/test_constructors.py
Labels: skip-changelog, test

#8193 fix(rust, python): decimal ensure backed arrow arrays have correct dtype
  polars/polars-core/src/chunked_array/logical/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#8195 fix(rust, python): keep literal state if elementwise function is applied
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#8197 chore(rust): remove unused list_construction
  py-polars/src/lib.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
Labels: rust, chore

#8198 tests(python): fix potential overflow in testing asserts for 'atol' with unsigned ints
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/constants.py
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: test

#8199 perf(rust, python): `arr.eval` run on groupby expression engine when possible
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/polars-plan/src/constants.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/lib.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
Labels: python, rust, performance

#8209 perf(python): improve datetime interpret perf
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/convert.py
  py-polars/src/conversion.rs
Labels: python, performance

#8214 ci(python): re-enable test parallization for Windows tests
  .github/workflows/test-python.yml
Labels: python, ci

#8210 chore(rust, python): don't panic on err in offset_by
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
Labels: python, rust, chore

#8175 refactor(rust): introduce `FieldsMapper` utility class for obtaining `FunctionExpr` schema
  polars/polars-lazy/polars-plan/src/dsl/function_expr/boolean.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/cat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
Labels: rust, refactor

#8165 refactor(python,rust): Rename `Expr.list` to `implode`
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
  polars/src/lib.rs
  polars/tests/it/lazy/expressions/window.rs
  polars/tests/it/lazy/queries.rs
  py-polars/docs/source/reference/expressions/aggregation.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, refactor

#8213 perf(rust, python): speed up csv parsing for slower datetimes formats
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, performance

#8219 feat(rust, python): add duration cumsum and remainder
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_duration.py
Labels: python, rust, enhancement

#8220 feat(python): add pickle support for `LazyFrame`
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/__init__.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/object.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_serde.py
Labels: python, enhancement

#8223 refactor(rust, python): change sampling ratio for groupby strategy
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: python, rust, refactor

#8221 refactor(python, rust): Rename `strptime`/`strftime` args
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/time.rs
  polars/polars-time/src/series/mod.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, refactor

#8225 feat(python): automatically convert `series OP expr` -> `pl.lit(series) OP expr` where OP is arithmetic
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_arithmetic.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8074 perf(rust, python): SIMD accelerated `arg_min`/`arg_max` (via `argminmax`)
  polars/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/arg_min_max.rs
  polars/polars-ops/src/series/ops/is_first.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_series.py
Labels: performance

#8227 docs: remove unused POLARS_PARTITION_SAMPLE_FRAC
  polars/src/lib.rs
Labels: documentation

#8229 perf(rust, python): make chunks search more resilient
  polars/polars-io/src/csv/parser.rs
Labels: python, rust, performance

#8208 feat(sql, rust, python): SQL CTE's
  polars/Makefile
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
Labels: python, rust, enhancement

#8237 feat(python): fail loudly on .%f directive, as it differs from the Python standard library
  py-polars/polars/expr/string.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, enhancement

#8111 perf(rust, python): fail fast on non-inferable strings in strptime if no `fmt` is provided
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, performance

#8249 fix(rust, python): nested struct logical type consistency
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/into.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#8253 refactor(python): parametric/hypothesis testing code cleanups
  py-polars/polars/testing/parametric.py
  py-polars/polars/testing/parametric/__init__.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/test_testing.py
Labels: python, refactor

#8254 fix(rust, python): fix offsets in parallel utf8 materialization
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#8255 fix(rust, python): improve null/empty list construction
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#8257 fix(rust, python): fix boolean par materialization
  polars/polars-core/src/chunked_array/upstream_traits.rs
Labels: python, rust, fix

#8259 fix(python): add special numpy float branch in anyvalue conversion
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#8087 feat(rust, python): add `use_earliest` argument to `replace_time_zone` for dealing with ambiguous datetimes
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#8264 tests(python): streamline parametric `Categorical` and `Utf8` strategies
  py-polars/polars/testing/parametric/strategies.py
Labels: test

#8263 feat(rust, python): preserve time zone in combine
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#8272 fix(rust, python): don't use fast paths for sorted join if there are …
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#8274 refactor(rust, python): use `concat_owned_array_unchecked` when possible
  .github/workflows/build-test-rust.yml
  polars/Makefile
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/series/from.rs
  polars/polars-sql/src/cli/highlighter.rs
  polars/polars-sql/src/cli/mod.rs
Labels: python, rust, refactor

#8275 fix(rust, python): always sort in `top_k` fast path
  polars/polars-core/src/frame/top_k.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#8276 chore: update_arrow
  Cargo.toml
Labels: chore

#8283 fix(python,rust): Fix DataFrame.sum returning empty column names
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#8281 fix(python): Truncate long column name in glimpse
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#8278 fix(rust, python): improve nested list construction
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#8287 Revert "ci(python): re-enable test parallization for Windows tests"
  .github/workflows/test-python.yml
Labels: python, skip-changelog, ci

#8284 fix(rust): Use three slashes for doc comments
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row/av_buffer.rs
  polars/polars-lazy/src/frame/mod.rs
Labels: rust, fix

#8293 chore: update_arrow
  Cargo.toml
  py-polars/Cargo.lock
Labels: chore

#8294 perf(rust, python): add specialized boolean aggregation for min/max
  polars/polars-arrow/src/kernels/take_agg.rs
  polars/polars-core/src/frame/groupby/aggregations/boolean.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/aggregations/utf8.rs
  py-polars/tests/benchmark/test_release.py
Labels: python, rust, performance

#8299 fix(rust, python): pass name to struct construction in aggregation
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#8306 perf(rust, python): use online variance kernel for aggregation
  Cargo.toml
  polars/polars-arrow/src/kernels/take_agg/boolean.rs
  polars/polars-arrow/src/kernels/take_agg/mod.rs
  polars/polars-arrow/src/kernels/take_agg/var.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, performance

#8307 docs(python): add newline in pl.DataFrame.pivot docs
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#8308 tests(python): adjust pytest config so as not to inadvertently prevent test debugging in IPython consoles
  py-polars/pyproject.toml
Labels: python, test

#8300 chore(python): fixup overloads of read_excel
  py-polars/polars/io/excel/functions.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, chore

#8317 fix(rust, python): ensure invalid list eval raises
  polars/polars-lazy/src/dsl/list.rs
  py-polars/Cargo.lock
Labels: python, rust, fix

#8320 feat(python): more informative keyerror on invalid getitem
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_errors.py
Labels: python, enhancement

#8322 fix(rust, python): don't do null propagation
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/expressions/arity.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#8324 fix(rust, python): fix coalesce schema
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix
