Repository pola-rs/polars, pull requests merged in 2023-01, with the labels that each got.

#5974 fix(rust, python): properly deal with categoricals in streaming queries
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#5975 fix(rust, python): allow empty sort on any dtype
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/unit/test_object.py
Labels: python, rust, fix

#5976 fix(rust, python): fix invalid boolean simplification
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/test_filter.py
Labels: python, rust, fix

#5977 perf(rust, python): ensure set_at_idx is O(1)
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/polars/internals/series/series.py
Labels: python, rust, performance

#5979 feat(python): large speedup for `df.iterrows` (~200-400%)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_rows.py
Labels: python, enhancement

#5981 feat(python): Improve `Expr.is_between` API
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#5987 fix(rust, python): fix categorical in struct anyvalue issue
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-lazy/polars-plan/src/logical_plan/lit.rs
  polars/polars-utils/src/sync.rs
  py-polars/src/conversion.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#5989 fix(rust, python): make weekday tz-aware
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#5995 feat(python): allow eq,ne,lt etc
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
Labels: python, enhancement

#6000 chore(python): Properly deprecate `groupby.pivot`
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_pivot.py
Labels: python, chore

#5916 chore(python): Use ruff instead of isort, flake8 and pyupgrade
  .github/workflows/lint-python.yaml
  py-polars/.flake8
  py-polars/Makefile
  py-polars/polars/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/series/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
  py-polars/tests/unit/test_df.py
Labels: python, chore

#6012 test(python): Refactor pivot tests
  py-polars/tests/unit/test_pivot.py
Labels: python, test

#6013 chore(python): Update py-polars/Cargo.lock
  py-polars/.gitignore
  py-polars/Cargo.lock
Labels: python, chore

#6018 fix(python): Validate `estimated_size` parameter
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_utils.py
Labels: python, fix

#6024 fix(python): Fix `from_epoch` function signature
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/internals/lazy_functions.py
Labels: python, fix

#6025 fix(rust, python): properly set null anyvalue if categorical is neste…
  polars/polars-core/src/chunked_array/ops/any_value.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust, fix

#6021 fix(python): tweaked property/accessor behaviour
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/struct.py
  py-polars/polars/internals/series/utils.py
  py-polars/polars/utils.py
Labels: python, fix

#6028 docs(python): update `read_sql` and `row` docstrings
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/io.py
Labels: python, docs

#6029 fix(rust, python): keep name when sorting categorical in lexial order
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust, fix

#6031 chore(python): Fix flake8-pytest-style errors in tests.
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
  py-polars/tests/slow/conftest.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_fmt.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_pivot.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_timezone.py
  py-polars/tests/unit/test_utils.py
Labels: python, chore

#6032 fix(rust, python): keep column names in is_null/is_not_null
  polars/polars-core/src/chunked_array/mod.rs
Labels: python, rust, fix

#6033 fix(rust, python): fix diff overflow
  polars/polars-core/src/series/ops/diff.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust, fix

#6035 chore(python): Remove unnecessary noqa's
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python, chore

#6036 fix(rust, python): fix aggregation that filters out all data
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_aggregations.py
Labels: python, rust, fix

#6037 chore(python): Remove trailing spaces in glimpse output
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, chore

#6039 fix(rust, python): deal with empty structs
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, fix

#6040 feat(rust, python): improve error message when writing nested data to…
  polars/polars-io/src/csv/write_impl.rs
Labels: python, rust, enhancement

#6034 feat(python): support array-expansion of scalars on frame init from dict
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6041 fix(python): allow mixed field order and availability in apply that r…
  py-polars/src/apply/mod.rs
  py-polars/tests/unit/test_apply.py
Labels: python, fix

#6042 chore(python): Fix SIM105 issues.
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/io.py
  py-polars/tests/unit/io/test_sql_db.py
Labels: python, chore

#6056 fix(python): fix stringcache. latest refactor introduced a hashing error
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  py-polars/tests/slow/test_categorical.py
Labels: python, fix

#6049 fix(rust, python): ndjson struct inference
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/tests/it/io/json.rs
Labels: fix

#6047 fix(python): Fix typing for `DataFrame.select`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, fix

#6045 fix(python): improve handling of dict-type "columns" param on frame-init
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6058 fix(rust, python): block streaming on literal series/range
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#6061 docs(python): suggest forward fill in cumsum/cummax
  py-polars/polars/internals/expr/expr.py
Labels: python, docs

#6062 fix(rust, python): correct output dtype for cummin/cumsum/cummax
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#6063 fix(rust, python): deal with unnest schema expansion in projection pd
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/groupby.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/hstack.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/melt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  polars/tests/it/lazy/projection_queries.rs
Labels: python, rust, fix

#6064 feat(python): much faster lazy type-checks
  py-polars/polars/dependencies.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6051 feat(python): Improve iterating over `GroupBy`
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6071 fix(python): bound complex type from 3.8 to 3.11
  py-polars/polars/utils.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6076 fix(rust, python): propogate nulls in binary arithmetic/aggregation
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/tests/it/lazy/expressions/arity.rs
Labels: python, rust, fix

#6083 feat(rust, python): add search_sorted for arrays and utf8 dtype
  polars/polars-core/src/chunked_array/ops/take/take_random.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/search_sorted.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, enhancement

#6085 perf(rust, python): first check rev-map on categorical equality check
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/series/comparison.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#6087 fix(rust, python): don't run cse cache_states if no projections found
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/generic.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/groupby.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/hstack.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/melt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#6088 refactor(rust): replace exact instances of Option/Result combinators
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/chunked_array/iterator/par/utf8.rs
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/single_keys_semi_anti.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/supertype.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/polars-plan/src/global.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
Labels: refactor

#6093 fix(rust, python): fix invalid dtype in chunked array after struct cast
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, fix

#6094 refactor(rust): mark `from_chunks` as unsafe
  polars/polars-core/src/chunked_array/bitwise.rs
  polars/polars-core/src/chunked_array/builder/from.rs
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/comparison.rs
  polars/polars-core/src/chunked_array/float.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/bit_repr.rs
  polars/polars-core/src/chunked_array/ops/concat_str.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/ops/repeat_by.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  polars/polars-core/src/chunked_array/trusted_len.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/into.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-ops/src/chunked_array/interpolate.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/src/series.rs
Labels: rust, refactor

#6096 feat(python): additional (opt-in) options for assert_frame_equal
  py-polars/polars/exceptions.py
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, enhancement

#6099 feat(python): extend existing fast range->Series init to lists of ranges in a Series
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6098 fix(rust): Print error message on mmap IPC file only in verbose mode
  polars/polars-io/src/ipc/ipc_file.rs
Labels: rust, fix

#6102 chore(python): enable `unused import` autofix via ruff
  py-polars/pyproject.toml
Labels: python, chore

#6101 chore: update read to include pyo3-polars
  README.md
Labels: chore

#6100 fix(python): ensure multi-line type hints are parenthesised
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python, fix

#6103 refactor(rust): add single threaded sort internally
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: rust, refactor

#6111 feat(python): huge speedup of scalar-to-array expansion on frame init from dict
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6110 chore(python): Assert deprecation warning on check_column_names
  py-polars/tests/unit/test_testing.py
Labels: python, chore

#6109 chore(python): Use Dataframe.item internally and in tests
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_functions.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_schema.py
Labels: python, chore

#6108 feat(python, rust): add a `rounded_corners` modifier to `pl.Config.set_tbl_formatting`
  polars/polars-core/src/config.rs
  polars/polars-core/src/fmt.rs
  polars/src/lib.rs
  py-polars/polars/cfg.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, enhancement

#6112 refactor(rust): remove vertical take
  polars/polars-core/src/frame/mod.rs
Labels: rust, refactor

#6113 feat(rust, python): allow nested categorical cast
  .gitignore
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust, enhancement

#6114 feat(python,rust): allow `extend_constant` to work with date literals
  polars/polars-core/src/series/ops/extend.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#6116 feat(rust, python): add `arr.take` expression
  polars/Cargo.toml
  polars/polars-arrow/src/index.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, enhancement

#6118 chore(python): Fix docstring with_context
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, chore

#6133 fix(python): add null behavior for oob indices
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_lists.py
Labels: python, fix

#6135 fix(rust, python): write tz-aware datetimes to csv
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/lib.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#6143 fix(rust, python): fix streaming joins where the join order has been …
  polars/polars-lazy/polars-pipe/src/executors/operators/dummy.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/filter.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/string.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/ordered.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/parquet_sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/slice.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/frame.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/union.rs
  polars/polars-lazy/polars-pipe/src/expressions.rs
  polars/polars-lazy/polars-pipe/src/operators/operator.rs
  polars/polars-lazy/polars-pipe/src/operators/sink.rs
  polars/polars-lazy/polars-pipe/src/operators/source.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/streaming.rs
  py-polars/Cargo.lock
Labels: python, rust, fix

#6149 fix(rust, python): fix empty streaming joins
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/generic_build.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, fix

#6145 feat(python): support use of explicit `Struct` dtypes on DataFrame/Series init
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_struct.py
Labels: python, enhancement

#6158 docs(python): explain n_field_strategy
  py-polars/polars/internals/series/list.py
Labels: python, docs

#6173 feat(python): support -ve indexing for DataFrame `head` and `tail` methods
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#5972 feat(rust): generalize the cloud storage builders
  Cargo.toml
  examples/read_parquet_cloud/Cargo.toml
  examples/read_parquet_cloud/src/main.rs
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/cloud.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/prelude.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/cloud/adaptors.rs
  polars/polars-io/src/cloud/glob.rs
  polars/polars-io/src/cloud/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/async_impl.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-io/src/parquet/mod.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/Cargo.lock
  py-polars/src/lazy/dataframe.rs
Labels: rust, enhancement

#6122 fix(python): Update docstring `with_columns` to reflect a new dataframe is being returned
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, fix

#6126 fix(python): Make `with_columns` in `with_columns_kwargs` mode compatible with more data types
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6182 docs(python): minor docs and typing updates (plus additional test coverage for related areas)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/unit/test_df.py
Labels: python, docs

#6189 fix(python): fix oob arr.take
  polars/polars-arrow/src/index.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/tests/unit/test_lists.py
Labels: python, fix

#6199 feat(rust): When moving error out of `LogicalPlan`, leave behind String with error message instead of `None`
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
Labels: rust, enhancement

#6198 docs(python): Clarify docstrings for `closed` argument
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/unit/test_rolling.py
Labels: python, docs

#6203 feat(rust,python): optionally treat missing UTF8 values as the empty string at CSV parse-time
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/src/frame/csv.rs
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#6210 fix(python): address a frame init/construction error, and expose `infer_schema_length` to frame init
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#6127 chore(python): Improve drop_nulls docstrings
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, chore

#6219 chore(python): undo cargo.toml change
  py-polars/Cargo.toml
Labels: python, chore

#6220 fix(rust, python): don't set fast_explode on list of structs
  polars/polars-core/src/chunked_array/builder/list.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#6191 test(rust, python): don't set aggregated flag on null propagated aggregation.
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/test_groupby.py
Labels: python, rust, test

#6221 fix(rust, python): pass name to value counts in aggregation
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, fix

#6222 fix(python): set_sorted keep schema
  py-polars/polars/internals/expr/expr.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_sort.py
Labels: python, fix

#6223 fix(python): collect now uses the storage_options given to scan_parquet
  py-polars/polars/internals/anonymous_scan.py
Labels: python, fix

#6224 fix(rust, python): fix when then otherwise with arity and aggregation…
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  py-polars/tests/unit/test_groupby.py
Labels: python, rust, fix

#6225 docs(python): Create `DataFrame` from schema
  py-polars/polars/internals/dataframe/frame.py
Labels: python, docs

#6229 chore(rust): Add missing feature attributes for csv-file
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
Labels: rust, chore

#6231 fix(python): strptime now respects pl.Datetime's time_unit
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, fix

#6233 fix(rust, python): Add list inner dtype when printing Series
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#6235 feat(rust, python): ensure ooc sort works ooc with all-constant values
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/ooc.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/source.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
Labels: python, rust, enhancement

#5036 ci(rust, python): Enable Dependabot
  .github/dependabot.yml
Labels: python, rust, ci

#6254 chore: Update dependabot config
  .github/dependabot.yml
Labels: chore

#6256 fix(rust, python): Parse negative dates with polars parser
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#6273 chore(rust): Remove benches and criterion dependency
  polars/Cargo.toml
  polars/benches/bench.rs
  polars/benches/collect.rs
  polars/benches/csv.rs
  polars/benches/groupby.rs
  polars/benches/sort.rs
  polars/benches/take.rs
Labels: rust, chore

#6266 fix(python): allow integer-compatible row indexes that are not strictly typed as `int`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6230 feat(python): additional `schema_overrides` param for more ergonomic `DataFrame` init
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/io.py
  py-polars/polars/testing/__init__.py
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_testing.py
Labels: python, enhancement

#6277 test(python): Move `io` tests to the same folder
  py-polars/tests/unit/files/delta-table/.part-00000-e42312d7-60e5-454d-acbc-db192d220e73-c000.snappy.parquet.crc
  py-polars/tests/unit/files/delta-table/.part-00000-e4a999da-df45-4fb0-bdc4-d999fc0f58aa-c000.snappy.parquet.crc
  py-polars/tests/unit/files/delta-table/_delta_log/.00000000000000000000.json.crc
  py-polars/tests/unit/files/delta-table/_delta_log/.00000000000000000001.json.crc
  py-polars/tests/unit/files/delta-table/_delta_log/00000000000000000000.json
  py-polars/tests/unit/files/delta-table/_delta_log/00000000000000000001.json
  py-polars/tests/unit/files/delta-table/part-00000-e42312d7-60e5-454d-acbc-db192d220e73-c000.snappy.parquet
  py-polars/tests/unit/files/delta-table/part-00000-e4a999da-df45-4fb0-bdc4-d999fc0f58aa-c000.snappy.parquet
  py-polars/tests/unit/files/example.xlsx
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, test

#6275 fix(python): Allow low and high in date_range to be str
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_datelike.py
Labels: python, fix

#6271 build(python): Move package metadata to `pyproject.toml`
  py-polars/Cargo.toml
  py-polars/polars/show_versions.py
  py-polars/pyproject.toml
Labels: python, build

#6280 fix(python): implement missing DataFrame `__floordiv__` op
  py-polars/polars/datatypes.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6285 perf(rust, python): use dedicated writer thread for sink_parquet
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/parquet_sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/io.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#6287 perf(rust, python): reuse allocated scratches in ipc writer
  Cargo.toml
Labels: python, rust, performance

#6291 docs(python): Fix docstring formatting for truncate
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
Labels: python, docs

#6295 feat(python): improvements to dtype-based column selection
  py-polars/docs/source/reference/api.rst
  py-polars/polars/datatypes.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_exprs.py
Labels: python, enhancement

#6297 fix(python): infer y-m-d datetime even if single element
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, fix

#6121 feat(python): add `dt.combine` for combining date and time components
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/docs/source/reference/expressions/timeseries.rst
  py-polars/docs/source/reference/series/timeseries.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, enhancement

#6298 fix(python) Print instantiated dtypes in glimpse
  py-polars/polars/datatypes.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6299 fix(rust, python): convert nested dictionary with i64 keys
  polars/polars-core/src/series/from.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#6300 feat(python): Add warning for new behaviour of named rows
  py-polars/polars/internals/dataframe/frame.py
Labels: python, enhancement

#6303 fix(rust, python): block proj-pd and pred-pd on swapping rename
  polars/polars-core/src/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#6306 fix(rust): feature flag "get_sink" ipc
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Labels: rust, fix

#6304 test(python): Ignore hash doctests
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
Labels: python, test

#6310 refactor(python): simplify `_from_pandas` constructor
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Labels: python, refactor

#6312 fix(rust, python): disallow alias in inline join expressions
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/tests/it/io/json.rs
  polars/tests/it/joins.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_joins.py
Labels: python, rust, fix

#6313 fix(python): default to pyarrow for writing parquet
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, fix

#6314 feat(rust, python): parse abbrev month name
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, enhancement, fix

#6322 chore: Use `documentation` label instead of `docs`
  .github/release-drafter.yml
Labels: chore

#6321 feat(rust, python): allow unordered struct creating from anyvalues
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#6327 test(python): Fix random groupby test failure
  py-polars/tests/unit/test_lists.py
Labels: python, test

#6326 fix(python): Reject `None` input for `head`/`tail`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dsl.rs
Labels: python, fix

#6331 docs(python): Fix wrong description for variable_name argument in melt
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: documentation, python

#6329 fix(python): Fix some type hints and bugs for groupby
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/pyproject.toml
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_groupby.py
Labels: python, fix

#6333 fix(rust, python): fix groupby rolling by_key if groups are empty
  Cargo.toml
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#6334 fix(rust, python): expand all nested wildcards in functions
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/test_arity.py
Labels: python, rust, fix

#6336 fix(python): properly dispatch categorical string comparison
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_filter.py
Labels: python, fix

#6337 refactor(rust, python): run cse optimization only if joins and caches…
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
Labels: python, rust, refactor

#6339 fix(rust, python): don't cast nulls before trying normal cast
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#6341 chore(rust): update rustc to 2023-01-19
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-python-release.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/ops/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr.rs
  polars/polars-ops/src/series/ops/search_sorted.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  rust-toolchain.toml
Labels: rust, chore

#6342 feat(rust, python): add strict parameter to decoding expressions
  polars/polars-core/src/chunked_array/binary/encoding.rs
  polars/polars-core/src/chunked_array/strings/encoding.rs
  py-polars/polars/internals/expr/binary.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/binary.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_utf8.py
Labels: python, rust, enhancement

#6352 feat(python): Rename `Series.struct.to_frame` to `.struct.unnest`
  py-polars/docs/source/reference/series/struct.rst
  py-polars/polars/internals/series/struct.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_struct.py
Labels: python, enhancement

#6351 feat(python): Move `explode` to namespaces
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/expressions/strings.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/docs/source/reference/series/strings.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_explode.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_window.py
Labels: python, enhancement

#6347 fix(rust, python): series of empty structs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  polars/tests/it/io/json.rs
Labels: python, rust, fix

#6355 feat(rust, python): accept expr in `str.starts_with`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_strings.py
Labels: python, rust, enhancement

#6362 chore(python): Uppercase project URL refs
  py-polars/pyproject.toml
Labels: python, chore

#6365 docs(python): Example of filtering partitioned delta tables
  py-polars/Cargo.lock
  py-polars/polars/io.py
Labels: documentation, python

#6359 fix(rust,python): implement ser/de for StructChunked
  polars/polars-core/src/serde/chunked_array.rs
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
Labels: python, rust, fix

#6353 fix(python): ensure pyarrow.compute module is loaded
  py-polars/polars/internals/construction.py
Labels: python, fix

#6370 docs(python): Add docs and tests to `Expr.flatten`
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_explode.py
  py-polars/tests/unit/test_window.py
Labels: documentation, python

#6366 refactor(python): deprecate `columns` param for `DataFrame` init; transitioning to `schema`
  py-polars/polars/api.py
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/slice.py
  py-polars/polars/testing/_parametric.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_binary.py
  py-polars/tests/unit/test_categorical.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_empty.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_functions.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_joins.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_lists.py
  py-polars/tests/unit/test_object.py
  py-polars/tests/unit/test_pivot.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_schema.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_strings.py
  py-polars/tests/unit/test_struct.py
  py-polars/tests/unit/test_testing.py
Labels: python, refactor

#6372 feat(python): Make groupby rolling/dynamic iterable
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_rolling.py
Labels: python, enhancement

#6381 fix(python, rust): Return empty batch for pl.read_csv_batched().next_…
  polars/polars-io/src/csv/read_impl/batched.rs
  py-polars/polars/io.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#6361 feat(rust, python): allow expressions as arguments in `str.ends_with`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-lazy/src/tests/tpch.rs
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_strings.py
Labels: python, rust, enhancement

#6384 fix(rust, python): take offset into account with str.explode
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_explode.py
Labels: python, rust, fix

#6382 fix(rust, python): raise error on invalid sort_by argument
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#6376 feat(python): minor improvement to auto-detection of ambiguous data orientation
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6357 feat(python): infer ISO8601 datetimes
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/test_datelike.py
Labels: python, enhancement

#6385 feat(python): allow internal api to get pointer to values buffer
  py-polars/polars/internals/series/series.py
  py-polars/src/error.rs
  py-polars/src/npy.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_series.py
Labels: python, enhancement
