Repository pola-rs/polars, pull requests merged in 2023-12, with the labels that each got.

#12807 feat(python)!: Set default dtype for Series to `Null` when no data is present
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/interchange/test_buffer.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_profile.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_empty.py
  py-polars/tests/unit/test_projections.py
Labels: python, breaking, enhancement

#12810 refactor(rust): apply TotalOrd in more places
  crates/polars-arrow/src/legacy/kernels/rolling/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/window.rs
  crates/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-row/src/lib.rs
  crates/polars-utils/src/float.rs
Labels: rust, internal

#11822 feat: Allow fixed set of categories in Dtype Categorical
  crates/polars-core/src/chunked_array/builder/list/categorical.rs
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/from.rs
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  crates/polars-core/src/chunked_array/ops/compare_inner.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-io/src/csv/buffer.rs
  docs/src/python/user-guide/concepts/data-types/categoricals.py
  docs/user-guide/basics/index.md
  docs/user-guide/concepts/data-structures.md
  docs/user-guide/concepts/data-types/categoricals.md
  docs/user-guide/concepts/data-types/overview.md
  docs/user-guide/expressions/casting.md
  mkdocs.yml
  py-polars/polars/__init__.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/utils/_construction.py
  py-polars/src/conversion.rs
  py-polars/src/datatypes.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, enhancement

#12818 fix: incorrect values from parquet RLE decoding
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#12559 feat(python)!: Update `lit` behavior for list/tuple inputs
  py-polars/polars/functions/lit.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/test_errors.py
Labels: python, breaking, enhancement

#12453 feat(python)!: Change `DataType.is_nested` from property to classmethod
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, breaking, enhancement

#12837 feat(python)!: Update constructors for Array and Decimal
  docs/src/python/user-guide/expressions/lists.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/namespaces/array/test_array.py
  py-polars/tests/unit/namespaces/array/test_to_list.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, breaking, enhancement

#12070 feat!: Smaller integer data types for datetime components
  crates/polars-arrow/src/compute/temporal.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-time/src/chunkedarray/date.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  crates/polars-time/src/chunkedarray/kernels.rs
  crates/polars-time/src/chunkedarray/mod.rs
  crates/polars-time/src/chunkedarray/time.rs
  crates/polars-time/src/series/mod.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, breaking, enhancement

#10446 feat(rust, python): preserve base dtype when raising to uint power
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#12852 feat(python): add dedicated `Decimal` selector
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#12834 chore(rust): Update `make check` to only check `polars` crate
  .github/workflows/lint-rust.yml
  crates/Makefile
Labels: rust, internal

#12864 fix: fixup repr of Expr.gather (which was still showing deprecated take)
  crates/polars-plan/src/logical_plan/format.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, fix

#12865 feat(python/rust): add support std & var for `duration` series
  crates/polars-core/src/series/implementations/duration.rs
  py-polars/tests/unit/datatypes/test_duration.py
Labels: python, rust, enhancement

#12867 docs(python): note that list.take is deprecated
  py-polars/polars/expr/list.py
Labels: documentation, python

#12873 docs(python): Fix docstring for deprecated `list.take`
  py-polars/polars/series/list.py
Labels: documentation, python

#12874 perf: use fast path for non-null data in new SQL-like null matching
  crates/polars-pipe/src/executors/sinks/joins/inner_left.rs
Labels: python, rust, performance

#12802 feat: specific performance warnings from rust to python
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-error/src/warning.rs
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/polars/utils/various.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/src/on_startup.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/test_string_cache.py
Labels: python, rust, enhancement

#12470 feat(python)!: Return instantiated DataType objects in `schema`/`dtype` methods
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/polars/series/struct.py
  py-polars/polars/testing/asserts/series.py
  py-polars/src/conversion.rs
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/datatypes/test_duration.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_errors.py
Labels: python, breaking, enhancement

#12877 docs(python): fixup links in deprecation notes
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/list.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/list.py
Labels: documentation, python

#12886 fix(python): Fix error message for uninstantiated `Enum` types
  py-polars/polars/datatypes/convert.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, fix

#12845 fix(rust,python): OOB in list set operations on empty frame
  crates/polars-plan/src/dsl/function_expr/list.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#12906 docs(python,rust): in `group_by_dynamic`, the windows are fixed
  docs/user-guide/transformations/time-series/rolling.md
Labels: documentation, python, rust

#12908 fix: incorrect int16 min/max due to incorrect simd mask construction
  crates/polars-arrow/src/types/simd/packed.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#12923 fix(rust): don't panic on empty df in `merge_sort`
  crates/polars-ops/src/frame/join/merge_sorted.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: rust, fix

#12913 fix(python,rust): don't panic when ambiguous is not utf8
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
Labels: python, rust, fix

#12710 feat: enable partial predicate pushdown past window exprs
  crates/polars-plan/src/logical_plan/lit.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, enhancement

#12704 perf: improve rolling_median algorithm
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/primitive/iterator.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/quantile_filter.rs
  crates/polars-arrow/src/lib.rs
  crates/polars-arrow/src/pushable.rs
  crates/polars-arrow/src/types/native.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/slice.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-utils/src/hashing.rs
  crates/polars-utils/src/index.rs
  crates/polars-utils/src/iter/mod.rs
  crates/polars-utils/src/nulls.rs
  crates/polars-utils/src/slice.rs
  crates/polars-utils/src/sort.rs
  crates/polars-utils/src/total_ord.rs
  crates/polars/tests/it/core/rolling_window.rs
  py-polars/src/expr/rolling.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, performance

#12922 feat(python): Update `repr` of `Struct` data type class
  py-polars/polars/datatypes/classes.py
  py-polars/polars/functions/as_datatype.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, enhancement

#12916 feat(python): Raise if expression passed to DataFrame constructor
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#12934 feat!: count valid values in `col().count()`
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_value_counts.py
Labels: python, rust, breaking, enhancement

#12927 feat(python): Avoid importing interchange module by default
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
Labels: python, enhancement, interchange

#12954 feat(rust): Cast to an enum from int
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, enhancement

#12948 fix: correct `truncate` when truncating by multiple weeks
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#12960 docs(python): Expand docstrings for `count`
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
Labels: documentation, python

#12962 perf(python): Use `select_seq` for expression dispatch
  py-polars/polars/series/utils.py
Labels: python, performance

#12961 refactor(rust): use new MinMax kernels
  Cargo.lock
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/boolean/iterator.rs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/iterator.rs
  crates/polars-arrow/src/array/list/iterator.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/primitive/iterator.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/bitmap/iterator.rs
  crates/polars-arrow/src/bitmap/mod.rs
  crates/polars-arrow/src/compute/aggregate/min_max.rs
  crates/polars-arrow/src/compute/aggregate/mod.rs
  crates/polars-arrow/src/compute/aggregate/simd/mod.rs
  crates/polars-arrow/src/compute/aggregate/simd/native.rs
  crates/polars-arrow/src/compute/aggregate/simd/packed.rs
  crates/polars-arrow/src/legacy/kernels/rolling/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/min_max.rs
  crates/polars-arrow/src/legacy/mod.rs
  crates/polars-arrow/src/legacy/slice.rs
  crates/polars-arrow/src/types/native.rs
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/min_max/mod.rs
  crates/polars-compute/src/min_max/scalar.rs
  crates/polars-compute/src/min_max/simd.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/var.rs
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/array/min_max.rs
  crates/polars-ops/src/chunked_array/cov.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/interface.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/min_max.rs
  crates/polars-utils/src/min_max.rs
Labels: rust, internal

#12965 perf: add fastpaths for UTC in temporal truncate and add functions
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, performance

#12955 fix(rust): Dataframes with Decimal columns cannot be pickled
  crates/polars-arrow/src/io/ipc/write/serialize.rs
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/series/test_series.py
Labels: rust, fix

#12975 feat: implement group-tuples for null dtype
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/datatypes/test_null.py
Labels: python, rust, enhancement

#12973 feat(python): Minor update to `Array` data type repr
  py-polars/polars/datatypes/classes.py
Labels: python, enhancement

#12967 fix(python): support parameterised `read_database` calls against cursors that only take positional args
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, fix

#12979 fix: don't get mutable if buffer is sliced
  crates/polars-arrow/src/buffer/immutable.rs
  py-polars/tests/unit/series/test_extend.py
Labels: python, rust, fix

#12976 perf: ensure we reduce for any/all horizontal (2)
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, performance

#12981 docs(python): update outdated links to api in Expressions/Functions page
  docs/user-guide/expressions/functions.md
Labels: documentation, python

#12986 feat(python)!: Update `update` signature
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, breaking, enhancement

#12964 feat: Allow `end` before `start` in `date/time_range`
  crates/polars-time/src/date_range.rs
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_time_range.py
Labels: python, rust, enhancement

#12978 feat(python): clarify "inefficient map_elements warning" message
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#12963 feat!: change outer join schema
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-ops/src/frame/join/hash_join/zip_outer.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/fill_null.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars-sql/src/context.rs
  crates/polars/Cargo.toml
  crates/polars/tests/it/core/joins.rs
  crates/polars/tests/it/joins.rs
  crates/polars/tests/it/lazy/predicate_queries.rs
  crates/polars/tests/it/lazy/projection_queries.rs
  docs/src/rust/user-guide/transformations/joins.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/eager.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, breaking, enhancement

#12946 perf(python): Avoid dispatching `Series.head/tail` to the expression engine
  py-polars/polars/series/series.py
  py-polars/src/series/mod.rs
Labels: python, performance

#12992 perf: elide allocation in outer join materialization
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/mod.rs
Labels: python, rust, performance

#12998 feat(python): default `to_struct` Series name made consistent with the usual default Series name (empty string)
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/namespaces/test_struct.py
Labels: python, enhancement

#11900 fix: Allow broadcasting in `ranges`
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/functions/range/test_time_range.py
Labels: python, rust, fix

#12990 feat(python): Update `describe` to use new `count` implementation
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/series/test_describe.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#13014 feat: improve and expressify hist
  Cargo.lock
  crates/polars-algo/Cargo.toml
  crates/polars-algo/LICENSE
  crates/polars-algo/README.md
  crates/polars-algo/src/algo.rs
  crates/polars-algo/src/lib.rs
  crates/polars-algo/src/prelude.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/statistics.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, enhancement

#13016 fix(rust,python,cli): fix SQL substring indexing
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, fix, sql

#13007 fix(python): streamline `align_frames` and fix edge-case where the identical frame object appears more than once
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, fix

#13023 fix: timeout errors in concurrent downloads
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, fix

#13026 feat: use tokio semaphore for concurrency handling
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/pl_async.rs
Labels: python, rust, enhancement

#13027 refactor(python): Update `describe` calculation of min/max
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#13034 fix: Parse `00:00` time zone as UTC
  crates/polars-core/src/series/from.rs
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix

#13029 fix(rust,python): parse json_decode per max buffer length
  crates/polars-json/src/ndjson/deserialize.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
Labels: python, rust, fix

#13039 feat(python): expand set of numpy functions which emit "inefficient map_* warning"
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#13043 feat! raise on not supported aggregates
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/arity.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/array/sum_mean.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/log.rs
  crates/polars-plan/src/dsl/function_expr/shrink_type.rs
  crates/polars/tests/it/core/joins.rs
  crates/polars/tests/it/core/rolling_window.rs
  crates/polars/tests/it/core/series.rs
  crates/polars/tests/it/lazy/aggregation.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  crates/polars/tests/it/lazy/mod.rs
  docs/src/rust/Cargo.toml
  docs/src/rust/user-guide/basics/series-dataframes.rs
  docs/src/rust/user-guide/expressions/null.rs
  docs/user-guide/basics/series-dataframes.md
  mkdocs.yml
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe.rs
  py-polars/src/series/aggregation.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/series/test_series.py
Labels: enhancement

#12983 fix(rust): add cast safety to literals
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: rust, fix

#13046 refactor(rust): further use TotalOrd
  crates/polars-arrow/src/legacy/kernels/sort_partition.rs
  crates/polars-core/src/chunked_array/ops/compare_inner.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/series/ops/rolling.rs
  crates/polars-ops/src/series/ops/search_sorted.rs
  crates/polars-utils/src/sort.rs
Labels: rust, internal

#13002 feat(rust, python!): Reimplement `replace` expression on the Rust side
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/lib.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-ops/src/series/ops/replace.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, enhancement, breaking python

#12982 feat(rust,python): Allow order operators (<,>,>=,<=) on Enum types
  crates/polars-core/src/chunked_array/comparison/categorical.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-error/src/lib.rs
  docs/src/python/user-guide/concepts/data-types/categoricals.py
  docs/user-guide/concepts/data-types/categoricals.md
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, enhancement

#13010 feat(rust,python): add direct series dispatch for various functions
  py-polars/polars/series/series.py
  py-polars/src/series/aggregation.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#13047 ci(python): Run doctests before other tests
  .github/workflows/test-python.yml
Labels: python, internal

#13050 fix: dont raise for datetime_range if starting on ambiguous datetime and earliest was specified
  crates/polars-core/src/chunked_array/temporal/mod.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-time/src/date_range.rs
  crates/polars-time/src/upsample.rs
  crates/polars-time/src/utils.rs
  py-polars/tests/unit/functions/range/test_datetime_range.py
Labels: python, rust, fix

#13044 feat(python)!: Use Object Store instead of fsspec for `read_parquet`
  py-polars/polars/io/_utils.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/anonymous_scan.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/anonymous_scan.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/cloud/test_aws.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, breaking, enhancement

#13058 fix: fix off by 1 error in nearest quantile
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/series/test_describe.py
Labels: python, rust, fix

#13060 feat: support private s3
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, enhancement

#13062 feat: auto infer .aws creds
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, enhancement

#13073 feat: str namespace; add aho-corasick expressions: 'contains_any' and 'replace_many'
  Cargo.lock
  Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-ops/src/chunked_array/strings/find_many.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/src/expr/string.rs
Labels: python, rust, enhancement

#12872 docs(python): Add upgrade guide for Python Polars 0.20
  docs/releases/upgrade/0.20.md
  docs/releases/upgrade/index.md
  mkdocs.yml
Labels: documentation, python

#12844 docs(python): Update version switcher for `0.20`
  py-polars/docs/source/_static/version_switcher.json
Labels: documentation, python

#13080 docs: add Enum to dtype list
  py-polars/docs/source/reference/datatypes.rst
Labels: documentation, python, rust

#13076 docs: take pl.concat out of StringCache context manager in "mismatched string cache" error message
  crates/polars-error/src/lib.rs
Labels: documentation, python, rust

#13069 chore: Linting updates
  .github/workflows/docs-global.yml
  .gitignore
  Makefile
  crates/polars-plan/src/dsl/functions/coerce.rs
  crates/polars-plan/src/dsl/functions/index.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  docs/pyproject.toml
  docs/src/python/user-guide/lazy/execution.py
  docs/src/python/user-guide/lazy/using.py
  docs/src/python/user-guide/sql/intro.py
  docs/src/python/user-guide/transformations/concatenation.py
  py-polars/pyproject.toml
Labels: python, rust, internal

#13081 docs(python): Fix some links, and make `map_batches` warning more evident
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/name.py
Labels: documentation, python

#13071 docs: update user-defined-functions for 0.19.x
  docs/_build/API_REFERENCE_LINKS.yml
  docs/src/python/user-guide/expressions/user-defined-functions.py
  docs/src/rust/user-guide/expressions/user-defined-functions.rs
  docs/user-guide/expressions/user-defined-functions.md
Labels: documentation, python, rust

#13090 docs(python): Fix column name in `contains_any` example
  py-polars/polars/expr/string.py
Labels: documentation, python

#13088 fix: rolling_quantile can get incorrect state
  crates/polars-arrow/src/legacy/kernels/rolling/quantile_filter.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#13091 fix(rust): use `FunctionExpr`'s scalar return type for `is_in`
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: rust, fix

#13100 chore(rust): don't compile polars-ops by default
  crates/polars-core/Cargo.toml
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars/Cargo.toml
  crates/polars/src/prelude.rs
Labels: rust, internal

#12997 fix(python): allow timeunit-less dtype in `pl.lit` creation
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/test_exprs.py
Labels: python, fix

#13102 fix: Raise if scan zstd compressed csv file
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#13104 fix: [csv] raise on single quote char
  crates/polars-io/src/csv/buffer.rs
  crates/polars-io/src/csv/parser.rs
  crates/polars-io/src/csv/utils.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#13105 fix: repeat_by should not raise if by contains nulls
  crates/polars-arrow/src/legacy/array/mod.rs
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, rust, fix

#13068 build(python): Mark whether the current package is the LTS-CPU version
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
Labels: python, build

#13119 chore: Update `auto_explode` param name to `returns_scalar`
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, internal

#13067 refactor(python): Minor cleanup of PyO3 bindings
  py-polars/src/file.rs
  py-polars/src/functions/meta.rs
  py-polars/src/functions/mod.rs
  py-polars/src/functions/string_cache.rs
  py-polars/src/lib.rs
Labels: python, internal

#13122 perf(python): drop the pyarrow conversion path in `iter_rows`; we can now do fully native conversion ~2-3x faster
  py-polars/polars/dataframe/frame.py
  py-polars/polars/utils/various.py
Labels: python, performance

#13116 fix: fix category list builder append series with multiple chunks
  crates/polars-core/src/chunked_array/builder/list/categorical.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#13129 fix(python): Fix off-by-one error in `lit` dtype determination for integers
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_lit.py
Labels: python, fix

#13128 fix: fix neq for series cmp str
  crates/polars-core/src/series/comparison.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#13132 fix: Update offsets of null value correctly for all `from_iter_xxx_trusted_len`
  crates/polars-arrow/src/legacy/array/mod.rs
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, rust, fix

#13144 feat: ensure we get cleaner logical plans with `any/all_horizontal`
  crates/polars-core/src/series/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, enhancement, internal

#13146 feat: prune all/any_horizontals with single inputs
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, enhancement

#13147 perf: ensure single expression evaluation for replace
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, performance

#13106 refactor(rust): move StaticArray to polars-arrow
  Cargo.lock
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/static_array.rs
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/collect.rs
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-core/src/chunked_array/object/extension/polars_extension.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/chunked_array/upstream_traits.rs
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/datatypes/static_array.rs
  crates/polars-core/src/datatypes/static_array_collect.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/into.rs
  crates/polars-core/src/series/iterator.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-ops/src/chunked_array/gather_skip_nulls.rs
  crates/polars-plan/src/dsl/function_expr/shift_and_fill.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/on_startup.rs
  py-polars/src/series/export.rs
  py-polars/src/series/mod.rs
Labels: rust, internal

#13150 refactor(rust): make pre_agg generic
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/interface.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/min_max.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
  crates/polars-pipe/src/executors/sinks/group_by/string.rs
Labels: rust, internal

#13143 fix: Use the name of the leftmost expression in horizontal operations
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
Labels: python, rust, fix, internal

#13137 fix: Fix comparison of categoricals
  crates/polars-core/src/chunked_array/comparison/categorical.rs
  crates/polars-core/src/series/comparison.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#13155 feat: Move from GA to more privacy friendly framework
  docs/requirements.txt
  mkdocs.yml
  py-polars/docs/source/conf.py
Labels: python, rust, enhancement

#13160 ci(python): Fix release LTS CPU step
  .github/workflows/release-python.yml
Labels: python, internal

#13153 feat: Implement `count` for DataFrame/LazyFrame
  crates/polars-lazy/src/frame/mod.rs
  py-polars/docs/source/reference/dataframe/aggregation.rst
  py-polars/docs/source/reference/lazyframe/aggregation.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, enhancement

#13171 test(python): Fix failing test
  py-polars/tests/parametric/test_groupby_rolling.py
Labels: python, internal

#13179 fix: maintain old join behavior in window expression
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, fix

#13180 docs(python): Link to latest object_store docs in api doc
  py-polars/polars/io/parquet/functions.py
Labels: documentation, python

#13126 chore(python): Update ruff & ruff settings
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/test_lazy.py
Labels: python, internal

#13182 chore(python): Replace blackdoc by ruff's new docstring formatter
  .github/workflows/lint-python.yml
  docs/development/contributing/index.md
  py-polars/Makefile
  py-polars/polars/api.py
  py-polars/polars/config.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/categorical.py
  py-polars/polars/sql/context.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
Labels: python, internal

#13187 chore(rust): Remove `polars-algo` reference in Cargo.toml
  Cargo.toml
Labels: rust, internal

#13191 build(rust): Set minimum version for `bytemuck` to `1.11`
  Cargo.lock
  Cargo.toml
Labels: rust, build

#13181 feat: make python `map_batches` safer
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/polars/expr/expr.py
  py-polars/src/expr/general.rs
  py-polars/src/map/lazy.rs
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#13196 fix(rust): Allow casting nullable list to array
  crates/polars-arrow/src/compute/cast/mod.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: rust, fix

#13197 fix: don't cast to unknown dtypes
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
Labels: python, rust, fix

#13148 feat: Allow `step` parameter in `int_ranges` to take an expression
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  crates/polars-plan/src/dsl/functions/range.rs
  py-polars/polars/functions/range/int_range.py
  py-polars/src/functions/range.rs
  py-polars/tests/unit/functions/range/test_int_range.py
Labels: python, rust, enhancement

#12817 feat: Support `Array` dtype AnyValue Series construction
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, rust, enhancement

#13156 feat(rust,python): add `offset` parameter to `gather_every`
  crates/polars-core/src/series/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#13174 fix(rust): slice for `NullChunked` no longer force single chunk
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: rust, fix

#13206 fix: ndjson nested null schema inference
  crates/polars-io/src/json/infer.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-json/src/json/infer_schema.rs
  crates/polars-json/src/json/mod.rs
  crates/polars-json/src/ndjson/file.rs
  crates/polars-json/src/ndjson/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#13141 docs: fix horizontal concatenation documentation
  docs/src/python/user-guide/transformations/concatenation.py
  docs/src/rust/user-guide/transformations/concatenation.rs
  docs/user-guide/transformations/concatenation.md
Labels: documentation, python, rust

#13192 perf: make `.dt.truncate('*mo')` more than 3x faster
  crates/polars-time/src/windows/calendar.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/parametric/time_series/test_truncate.py
Labels: python, rust, performance

#13176 fix(python): Raise error on `replace` categoricals with strings
  crates/polars-ops/src/series/ops/replace.rs
  py-polars/tests/unit/operations/test_replace.py
Labels: python, fix

#13213 fix: Better handle mismatched dtypes in `replace`
  crates/polars-ops/src/series/ops/replace.rs
  py-polars/Makefile
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, fix

#13205 fix: `is_in` operator for categoricals
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, rust, fix

#13178 feat: add cancellable queries
  crates/polars-lazy/src/frame/exitable.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/filter.rs
  crates/polars-lazy/src/physical_plan/executors/group_by.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_dynamic.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_rolling.rs
  crates/polars-lazy/src/physical_plan/executors/join.rs
  crates/polars-lazy/src/physical_plan/executors/projection.rs
  crates/polars-lazy/src/physical_plan/executors/python_scan.rs
  crates/polars-lazy/src/physical_plan/executors/sort.rs
  crates/polars-lazy/src/physical_plan/executors/stack.rs
  crates/polars-lazy/src/physical_plan/executors/udf.rs
  crates/polars-lazy/src/physical_plan/executors/union.rs
  crates/polars-lazy/src/physical_plan/executors/unique.rs
  crates/polars-lazy/src/physical_plan/state.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-pipe/src/operators/context.rs
  crates/polars-pipe/src/pipeline/dispatcher.rs
  py-polars/docs/source/reference/lazyframe/in_process
  py-polars/polars/__init__.py
  py-polars/polars/lazyframe/__init__.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/in_process.py
  py-polars/src/lazyframe/exitable.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lib.rs
Labels: python, rust, enhancement

#13218 fix(python): Correctly use `read_parquet` for all binary inputs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, fix

#13219 chore: update rustc
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/build.rs
  crates/polars-arrow/src/array/dictionary/value_map.rs
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-arrow/src/compute/aggregate/simd/packed.rs
  crates/polars-arrow/src/legacy/kernels/agg_mean.rs
  crates/polars-arrow/src/lib.rs
  crates/polars-arrow/src/types/simd/packed.rs
  crates/polars-compute/src/comparisons/simd.rs
  crates/polars-compute/src/min_max/simd.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/temporal/date.rs
  crates/polars-core/src/chunked_array/temporal/datetime.rs
  crates/polars-core/src/chunked_array/temporal/time.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/schema.rs
  crates/polars-io/src/csv/splitfields.rs
  crates/polars-ops/src/lib.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/thread_local.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/logical_plan/projection.rs
  crates/polars-row/src/variable.rs
  crates/polars-time/src/windows/group_by.rs
  rust-toolchain.toml
Labels: python, rust, internal

#13239 fix: sink_csv deadlock
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-pipe/src/executors/sinks/file_sink.rs
Labels: python, rust, fix

#13241 chore(python): remove unnecessary arg unpacking
  py-polars/polars/utils/udfs.py
Labels: python, internal

#13222 fix(rust): match_chunks shouldn't change the dtype
  crates/polars-core/src/chunked_array/mod.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: rust, fix

#13244 docs(python): Add a couple of docstring examples to Series methods
  py-polars/polars/series/series.py
Labels: documentation, python

#13250 feat(rust, python): Impl any/all for array type
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/array/any_all.rs
  crates/polars-ops/src/chunked_array/array/mod.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-ops/src/chunked_array/list/any_all.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#13251 fix(rust): enable and fix SIMD in polars-compute
  crates/polars-compute/src/comparisons/simd.rs
  crates/polars-compute/src/min_max/simd.rs
  crates/polars-core/Cargo.toml
Labels: rust, fix

#13255 feat: dispatch strict_cast via cast
  crates/polars-core/src/series/mod.rs
Labels: python, rust, enhancement

#13256 refactor(rust): split-up file_sink module
  crates/polars-pipe/src/executors/sinks/file_sink.rs
  crates/polars-pipe/src/executors/sinks/mod.rs
  crates/polars-pipe/src/executors/sinks/output/csv.rs
  crates/polars-pipe/src/executors/sinks/output/file_sink.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/json.rs
  crates/polars-pipe/src/executors/sinks/output/mod.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
Labels: rust, internal

#13253 perf: add fast path to `count_bits_set_by_offsets`
  crates/polars-ops/src/chunked_array/list/count.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, performance

#13221 chore(python): clean up bytecode parsing a bit
  py-polars/polars/utils/udfs.py
Labels: python, internal

#13258 docs(python): Fix display of overloaded signatures
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
Labels: documentation, python

#13265 docs(python): fix return type hint of list series any/all
  py-polars/polars/series/list.py
Labels: documentation, python, fix

#13267 fix: round trip to JSON and back should preserve Enum type
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#13223 fix: improve replace on categoricals
  crates/polars-ops/src/series/ops/replace.rs
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, fix

#13279 docs(python): Fix source link for dev docs
  .github/workflows/docs-python.yml
Labels: documentation, python

#13271 fix: sorting categorical lexically bugs on null values
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#13280 docs(rust): Add note about Rust examples versioning in user guide
  docs/user-guide/index.md
Labels: documentation, rust

#13281 docs: Change base url of docs/guide to `docs.pola.rs`
  mkdocs.yml
  py-polars/docs/source/_static/version_switcher.json
  py-polars/docs/source/conf.py
Labels: documentation, python, rust

#13259 fix(rust): casting list/arr to arr/list shouldn't convert chunks to logical type
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/namespaces/array/test_to_list.py
  py-polars/tests/unit/namespaces/test_list.py
Labels: rust, fix
