Repository pola-rs/polars, pull requests merged in 2023-11, with the labels that each got.

#12148 fix: fix panic when initializing Series with array of list dtype
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, rust, fix

#12045 fix(rust,python): make python `schema_overrides` information available to the rust-side inference code when initialising from records/dicts
  crates/polars-core/src/schema.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/utils/_construction.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#12136 feat: Add `.arr.to_list` expression
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/__init__.py
  py-polars/tests/unit/namespaces/array/test_array.py
  py-polars/tests/unit/namespaces/array/test_to_list.py
Labels: python, rust, enhancement

#12159 ci: Fix triggers for docs deployment
  .github/workflows/docs-global.yml
  .github/workflows/docs-python.yml
  .github/workflows/release-python.yml
Labels: python, rust, internal

#12105 fix: boundary predicate to block all accumulated predicates in push down
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#12164 docs(python): fix rendering of note in DataFrame.fold
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#12130 fix: Take should block predicate push down
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#12169 feat: support reverse sort in streaming
  crates/polars-row/src/decode.rs
  crates/polars-row/src/fixed.rs
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, rust, enhancement

#12170 test: Fix tests for pyarrow 14
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/test_interop.py
Labels: python, rust, internal

#12161 docs(python): Improve `strip_{prefix, suffix}` & `strip_chars_{start, end}`
  py-polars/polars/expr/string.py
Labels: documentation, python

#12171 feat: tunable concurrency
  crates/polars-core/src/config.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
Labels: python, rust, enhancement

#12162 refactor(rust): Refactor `FunctionExpr` module
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
Labels: rust, internal

#12106 fix(rust): Raise if *_horizontal without inputs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars/tests/it/lazy/folds.rs
  py-polars/src/functions/aggregation.rs
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
Labels: rust, fix

#12176 chore: pin ring
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust, internal

#12181 ci: Temporarily disable aarch linux wheel in Python release workflow
  .github/workflows/release-python.yml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust, internal

#12177 fix(python): Fix interchange protocol boolean buffer size
  py-polars/polars/interchange/buffer.py
  py-polars/tests/unit/interchange/test_buffer.py
  py-polars/tests/unit/interchange/test_roundtrip.py
Labels: python, fix, interchange

#12173 build: update `sqlparser-rs` to `0.39`
  Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, build, sql

#12140 feat(python): Add binary dtype to hypothesis tests
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/series/test_to_numpy.py
Labels: python, enhancement

#12185 docs: Remove excessive code formatting from docs
  README.md
  docs/getting-started/expressions.md
  docs/index.md
  docs/releases/upgrade/index.md
  docs/user-guide/concepts/data-types.md
  docs/user-guide/concepts/expressions.md
  docs/user-guide/concepts/lazy-vs-eager.md
  docs/user-guide/concepts/streaming.md
  docs/user-guide/expressions/aggregation.md
  docs/user-guide/expressions/casting.md
  docs/user-guide/expressions/folds.md
  docs/user-guide/expressions/functions.md
  docs/user-guide/expressions/lists.md
  docs/user-guide/expressions/null.md
  docs/user-guide/expressions/numpy.md
  docs/user-guide/expressions/plugins.md
  docs/user-guide/expressions/strings.md
  docs/user-guide/expressions/user-defined-functions.md
  docs/user-guide/expressions/window.md
  docs/user-guide/index.md
  docs/user-guide/installation.md
  docs/user-guide/io/csv.md
  docs/user-guide/io/json.md
  docs/user-guide/io/multiple.md
  docs/user-guide/io/parquet.md
  docs/user-guide/lazy/optimizations.md
  docs/user-guide/lazy/query-plan.md
  docs/user-guide/migration/pandas.md
  docs/user-guide/migration/spark.md
  docs/user-guide/misc/alternatives.md
  docs/user-guide/transformations/joins.md
  docs/user-guide/transformations/pivot.md
  docs/user-guide/transformations/time-series/parsing.md
  docs/user-guide/transformations/time-series/resampling.md
  examples/python_rust_compiled_function/README.md
Labels: documentation, python, rust

#12168 feat(python,rust): consolidate & improve all casting failure error messages
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/series.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/parametric/time_series/test_to_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement

#12192 feat: Add `.list.to_array` expression
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/list.rs
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/array.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/namespaces/test_list.py
Labels: python, rust, enhancement

#12184 build(python): Include `rust-toolchain.toml` with sdist/wheels
  .github/workflows/release-python.yml
  py-polars/pyproject.toml
  py-polars/rust-toolchain.toml
Labels: python, build

#12193 refactor(rust): use enum for Ambiguous
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-arrow/src/legacy/kernels/time.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  crates/polars-time/src/utils.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars-time/src/windows/window.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/as_datatype/test_as_datatype.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: rust, internal

#12179 depr(python,rust!): Rename `dt.seconds` to `dt.total_seconds` (likewise for days, hours, minutes, milliseconds, microseconds, and nanoseconds)
  docs/src/python/user-guide/transformations/time-series/rolling.py
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/as_datatype/test_duration.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/test_queries.py
Labels: python, rust, deprecation, breaking rust

#12187 fix: with_row_count should block predicate push down for lazy csv
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#12201 feat: start prefetching all files immediately
  crates/polars-pipe/src/executors/sources/parquet.rs
Labels: python, rust, enhancement

#12202 fix: always start a new thread if the thread is already blocking
  crates/polars-io/src/pl_async.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
Labels: python, rust, fix

#12211 build(python): Build Python wheels on `manylinux_2_28`
  .github/workflows/release-python.yml
Labels: python, build

#12215 refactor(rust): Make all functions in string namespace non-anonymous
  crates/polars-lazy/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars/Cargo.toml
  py-polars/src/expr/string.rs
Labels: rust, internal

#12206 fix: potential overflow
  crates/polars-plan/src/logical_plan/schema.rs
Labels: python, rust, fix

#12214 feat(rust, python): Add support for reading zstd compressed files (no-options) in read_csv
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/utils.rs
  py-polars/Cargo.lock
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/files/zstd_compressed.csv.zst
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#12225 perf: allow non-power-of-two partitions
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/hashing/partition.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_semi_anti.rs
  crates/polars-utils/src/functions.rs
Labels: python, rust, performance

#12226 chore(python): update Cargo.lock
  py-polars/Cargo.lock
Labels: rust, internal

#12230 fix(python): fix plugins system on Windows
  py-polars/polars/utils/udfs.py
Labels: python, fix

#12229 refactor(rust): factor out some shared code in `truncate_impl`
  crates/polars-time/src/windows/duration.rs
Labels: rust, internal

#12236 docs(python): add deprecation notices to the docs for expressions moved into the new `name` namespace
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/name.py
Labels: documentation, python

#12237 docs(python): Fix emphasis formatting in docstring
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#12233 perf: remove extra multiplication in hash_to_partition
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-core/src/hashing/partition.rs
  crates/polars-utils/src/functions.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, performance

#12240 docs(python): Fix emphasis formatting in docstring
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#12239 test(python): Add test for `scan_csv` plus `slice`
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, internal

#12251 fix: respect return_scalar of list scalars
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
Labels: python, rust, fix

#12212 fix(rust,python): Consistently propagate nulls for `numpy` ufuncs
  crates/polars-core/src/chunked_array/ops/set.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#12250 docs(python): use `.with_columns` in docstrings
  py-polars/polars/expr/string.py
Labels: documentation, python

#12254 docs(rust): Add feature flag for `list.eval`
  docs/_build/API_REFERENCE_LINKS.yml
Labels: documentation, rust

#12243 fix(python): return frames from `read_excel` in the originally specified order
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#12256 chore(python): Add `py-polars` to Cargo workspace
  .github/workflows/test-python.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/polars-core/Cargo.toml
  py-polars/.gitignore
  py-polars/Cargo.toml
  py-polars/build.rs
Labels: python, internal

#12260 feat(python): Update `write_delta` to write large arrow types without casting
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/delta.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
Labels: python, enhancement

#12255 feat(rust,python): Add `name=` in `.write_avro` to set schema name
  crates/polars-arrow/src/io/avro/write/schema.rs
  crates/polars-io/src/avro/write.rs
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_avro.py
Labels: python, rust, enhancement

#12265 docs(python): clarify contains selector
  py-polars/polars/selectors.py
Labels: documentation, python

#12269 fix: fix ambiguous aggregation type
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#12261 ci(python): Clean up Python test workflow
  .github/workflows/test-python.yml
Labels: python, internal

#12275 docs: Remove recommended setting from IDE docs
  docs/development/contributing/ide.md
Labels: documentation, python, rust

#12278 fix(python): typo in exception message
  py-polars/src/series/mod.rs
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#12273 chore(rust): update object_store (#12006)
  Cargo.lock
  Cargo.toml
  crates/polars-io/src/cloud/glob.rs
Labels: rust, internal

#12280 fix(rust): update null_count after arithmetic
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
  py-polars/tests/unit/operations/test_arithmetic.py
  py-polars/tests/unit/operations/test_sort.py
Labels: rust, fix

#12263 chore(rust): remove unwrap from group_by
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  crates/polars-time/src/windows/group_by.rs
  crates/polars-time/src/windows/test.rs
Labels: rust, internal

#12238 fix: incorrect super type for literals in nested binary exprs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix, internal

#12224 depr(python): Switch args for `Decimal` and set default `scale=0`
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_constructors.py
Labels: python, deprecation

#12286 feat: allow non-aggregation predicate in ternary groupby
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, enhancement

#12289 chore: ensure we git-ignore ALL `.venv` dirs
  .gitignore
Labels: python, rust, internal

#12290 ci: Add top-level `make clippy`, simplify Rust linting workflows
  .github/workflows/lint-py-polars.yml
  .github/workflows/lint-rust.yml
  Makefile
Labels: python, rust, internal

#12293 chore(rust): Run `clippy` on all targets
  .github/workflows/lint-rust.yml
  Makefile
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/gather_skip_nulls.rs
  crates/polars-ops/src/chunked_array/strings/concat.rs
  crates/polars-ops/src/frame/join/asof/default.rs
  crates/polars-parquet/src/parquet/encoding/delta_length_byte_array/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/decoder.rs
Labels: rust, internal

#12295 chore(rust): Replace dev dependency `avro-rs` with `apache-avro`
  Cargo.lock
  crates/polars-arrow/Cargo.toml
Labels: rust, internal

#12099 feat: New `Config` options for numeric formatting: digit grouping and thousands/decimal separator
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/utils/supertype.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/polars/convert.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/polars/utils/various.py
  py-polars/src/functions/meta.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/test_config.py
  py-polars/tests/unit/test_format.py
  py-polars/tests/unit/test_interop.py
Labels: python, rust, enhancement

#12267 fix(python, rust): don't move right endpoint of windows in rolling in default `offset==-period` case
  crates/polars-time/src/windows/group_by.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#12296 chore: Fix rebase issue breaking CI
  py-polars/polars/config.py
Labels: python, rust, internal

#12220 feat(rust!): Rename `is_signed` to `is_signed_integer`
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/utils/supertype.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/series/ops/index.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/shrink_type.rs
Labels: rust, enhancement, breaking rust

#12270 perf: improve join performance through radix partitioned join
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-utils/src/functions.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, performance

#12175 feat(python): allow construction of `Datetime` series from `datetime.date` array
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#12308 fix: object store path derivation for local URL
  crates/polars-io/src/cloud/options.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#12287 refactor: simplify expr checking in predicate push down
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, internal

#12204 feat: auto infer `ambiguous` for truncate and round
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-arrow/src/legacy/kernels/time.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-time/src/date_range.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  crates/polars-time/src/utils.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars-time/src/windows/window.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#12306 ci(python): Move script for testing map warning
  .github/scripts/test_bytecode_parser.py
  .github/workflows/test-bytecode-parser.yml
  py-polars/tests/test_udfs.py
  py-polars/tests/unit/operations/map/__init__.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, internal

#12313 fix: fix download ranges in parquet
  crates/polars-io/src/parquet/async_impl.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#12311 fix(python): Fix invalid DeprecationWarning generated from `date_range` defined with 'saturating' interval
  py-polars/polars/functions/range/date_range.py
Labels: python, fix

#12310 fix: parquet, add row_count to empty file materialization
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#12315 fix: respect hive_partitioning flag when dealing with multiple files
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/schema.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#12314 chore(python): Minor updates to prepare for Python 3.12 support
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/pyproject.toml
  py-polars/tests/unit/test_queries.py
Labels: python, internal

#12301 feat: deprecate `_saturating` in duration string language, make it the default
  crates/polars-time/src/upsample.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars-time/src/windows/group_by.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/polars/functions/range/time_range.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/polars/utils/deprecation.py
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement, deprecation

#12309 fix: zip_with also broadcast mask
  crates/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/functions/test_whenthen.py
Labels: python, rust, fix

#12316 fix: scan emtpy csv miss row_count
  crates/polars-io/src/csv/read_impl/mod.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#12317 fix: Fix behavior of month intervals in `date_range`
  crates/polars-time/src/date_range.rs
  py-polars/polars/functions/range/date_range.py
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
Labels: python, rust, fix

#12246 docs: Consolidate "getting started" and "user guide" sections
  docs/getting-started/installation.md
  docs/getting-started/intro.md
  docs/index.md
  docs/src/python/user-guide/basics/expressions.py
  docs/src/python/user-guide/basics/joins.py
  docs/src/python/user-guide/basics/reading-writing.py
  docs/src/python/user-guide/basics/series-dataframes.py
  docs/src/rust/user-guide/basics/expressions.rs
  docs/src/rust/user-guide/basics/joins.rs
  docs/src/rust/user-guide/basics/reading-writing.rs
  docs/src/rust/user-guide/basics/series-dataframes.rs
  docs/user-guide/basics/expressions.md
  docs/user-guide/basics/index.md
  docs/user-guide/basics/joins.md
  docs/user-guide/basics/reading-writing.md
  docs/user-guide/basics/series-dataframes.md
  docs/user-guide/concepts/data-structures.md
  docs/user-guide/index.md
  mkdocs.yml
Labels: documentation, python, rust

#12319 docs(rust): Run rustfmt on doc examples
  docs/src/rust/user-guide/basics/joins.rs
  docs/src/rust/user-guide/basics/reading-writing.rs
  docs/src/rust/user-guide/concepts/expressions.rs
  docs/src/rust/user-guide/expressions/aggregation.rs
  docs/src/rust/user-guide/expressions/folds.rs
  docs/src/rust/user-guide/expressions/structs.rs
  docs/src/rust/user-guide/io/cloud-storage.rs
  docs/src/rust/user-guide/io/csv.rs
  docs/src/rust/user-guide/io/json.rs
  docs/src/rust/user-guide/io/parquet.rs
  docs/src/rust/user-guide/transformations/pivot.rs
Labels: documentation, rust

#12322 chore(rust): remove fxhash
  crates/polars-core/src/hashing/fx.rs
  crates/polars-core/src/hashing/mod.rs
  crates/polars-core/src/prelude.rs
Labels: rust, internal

#12321 perf: change concurrency parameters
  crates/polars-core/src/config.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/pl_async.rs
Labels: python, rust, enhancement, performance

#12323 chore: Organize Cargo.toml
  Cargo.toml
  py-polars/Cargo.toml
Labels: python, rust, internal

#12318 fix: Fix Decimal dtype table repr
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/polars/config.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/test_format.py
Labels: python, rust, fix

#12325 chore(rust): Fix some feature flags
  .github/workflows/lint-rust.yml
  Makefile
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/config.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/time_unit.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_rolling.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/mod.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-ops/src/chunked_array/strings/case.rs
  crates/polars-ops/src/chunked_array/strings/unicode_internals/unicode_data.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/mod.rs
  crates/polars-parquet/src/parquet/compression.rs
  crates/polars-pipe/src/executors/mod.rs
  crates/polars-pipe/src/executors/sources/mod.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/function_expr/coerce.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/selector.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/projection.rs
  crates/polars-plan/src/utils.rs
Labels: rust, internal

#12335 fix: expr_output_name include literal
  crates/polars-lazy/src/physical_plan/expressions/literal.rs
  crates/polars-plan/src/dsl/consts.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#12343 fix(python): ignore IDE-mediated DeprecationWarning when debugging tests under 3.12
  py-polars/pyproject.toml
Labels: python, fix

#12334 docs(rust): Build and verify Rust examples in docs
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/src/io/ipc/compression.rs
  crates/polars-core/src/datatypes/time_unit.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/mmap.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  docs/src/rust/Cargo.toml
  docs/src/rust/home/example.rs
  docs/src/rust/user-guide/basics/expressions.rs
  docs/src/rust/user-guide/basics/joins.rs
  docs/src/rust/user-guide/basics/reading-writing.rs
  docs/src/rust/user-guide/basics/series-dataframes.rs
  docs/src/rust/user-guide/concepts/expressions.rs
  docs/src/rust/user-guide/concepts/lazy-vs-eager.rs
  docs/src/rust/user-guide/concepts/streaming.rs
  docs/src/rust/user-guide/expressions/aggregation.rs
  docs/src/rust/user-guide/expressions/casting.rs
  docs/src/rust/user-guide/expressions/column-selections.rs
  docs/src/rust/user-guide/expressions/lists.rs
  docs/src/rust/user-guide/expressions/structs.rs
  docs/src/rust/user-guide/expressions/user-defined-functions.rs
  docs/src/rust/user-guide/expressions/window.rs
  docs/src/rust/user-guide/io/cloud-storage.rs
  docs/src/rust/user-guide/io/csv.rs
  docs/src/rust/user-guide/io/json.rs
  docs/src/rust/user-guide/io/parquet.rs
  docs/src/rust/user-guide/transformations/time-series/filter.rs
  docs/src/rust/user-guide/transformations/time-series/parsing.rs
  docs/src/rust/user-guide/transformations/time-series/resampling.rs
  docs/src/rust/user-guide/transformations/time-series/rolling.rs
  docs/src/rust/user-guide/transformations/time-series/timezones.rs
Labels: documentation, rust

#11959 feat: Add `round_sig_figs` expression for rounding to significant figures
  crates/polars-ops/src/series/ops/round.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/round.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#12338 fix: uint64 should be correctly extracted from python object
  py-polars/src/conversion.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#11789 refactor(python): clean up convert.py
  py-polars/polars/utils/convert.py
Labels: python, internal

#12351 depr(rust!,python): Rename `write_csv` parameter `has_header` to `include_header`
  crates/polars-io/src/csv/mod.rs
  crates/polars-io/src/csv/write.rs
  crates/polars-pipe/src/executors/sinks/file_sink.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars/src/docs/eager.rs
  crates/polars/tests/it/io/csv.rs
  docs/src/rust/user-guide/basics/reading-writing.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, deprecation, breaking rust

#12350 ci(python): Fix ruff linting invocation
  .github/workflows/lint-python.yml
Labels: python, rust, internal

#12327 chore(rust): replace as_u64 with dirty_hash
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/hashing/identity.rs
  crates/polars-core/src/hashing/mod.rs
  crates/polars-core/src/hashing/partition.rs
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-ops/src/frame/hashing.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_semi_anti.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/thread_local.rs
  crates/polars-pipe/src/executors/sinks/group_by/primitive/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/string.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/inner_left.rs
  crates/polars-utils/src/functions.rs
  crates/polars-utils/src/hashing.rs
  crates/polars-utils/src/lib.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: rust, internal

#12357 fix: ternary broadcasting with empty truthy or falsy and agg predicate
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  py-polars/tests/unit/functions/test_whenthen.py
Labels: python, rust, fix

#12362 docs(python): Fix typo in `rolling_*` docstrings
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#12368 perf: reduce allocations in hash join
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-utils/src/idx_vec.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, performance

#12366 docs(python): Fix incorrect boundary column name in `group_by_dynamic` docstrings
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#12370 build(python): Workaround for maturin issue
  Cargo.lock
  Cargo.toml
  py-polars/pyproject.toml
Labels: python, build

#12371 perf: indexvec in group-by
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/group_by/aggregations/boolean.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/utf8.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-core/src/frame/group_by/proxy.rs
  crates/polars-lazy/src/physical_plan/expressions/filter.rs
  crates/polars-lazy/src/physical_plan/expressions/slice.rs
  crates/polars-lazy/src/physical_plan/expressions/sort.rs
  crates/polars-lazy/src/physical_plan/expressions/sortby.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-utils/src/idx_vec.rs
  crates/polars/tests/it/core/date_like.rs
Labels: python, rust, performance

#12348 feat(python): updated `BytecodeParser` for Python 3.12
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement, internal

#12342 fix: Do not cast lit if has same dtype
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
Labels: python, rust, fix

#12383 docs(python): use with_columns in is_in example, and fix some bullet points not rendering
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/dependencies.py
  py-polars/polars/expr/expr.py
  py-polars/polars/io/iceberg.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
Labels: documentation, python

#12397 build(python): Use manylinux 2.24 instead of 2.28 for compatibility reasons
  .github/workflows/release-python.yml
Labels: python, build

#12378 fix(docs): Correct nested bullet point format for mkdocs
  docs/user-guide/expressions/aggregation.md
  docs/user-guide/installation.md
Labels: fix

#12401 fix: ensure first/last return null if empty
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#12395 fix: revert ternary special broadcast, ensure broadcast is always to max height
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/functions/test_whenthen.py
Labels: python, rust, fix

#12408 build(python): Use `manylinux_2_17` for building `x86-64` wheel
  .github/workflows/release-python.yml
Labels: python, build

#12409 chore: dprint/markdown link checker minor updates
  docs/user-guide/installation.md
  dprint.json
Labels: python, rust, internal

#12403 perf(python): make 1D numpy to polars conversion zero-copy for numeric data
  crates/polars-arrow/src/ffi/mmap.rs
  py-polars/src/series/construction.rs
Labels: python, performance, highlight

#12405 chore(rust): use unwrap_or_else and get_unchecked_release in rolling kernels
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/quantile.rs
Labels: rust, internal

#12411 chore(rust): move cov/corr to polars-ops
  crates/polars-core/src/functions.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/tests/arity.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/cov.rs
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/correlation.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  py-polars/Cargo.toml
Labels: rust, internal

#12333 fix(rust, python): Remove extra `\n` when reading file-like object wi…
  crates/polars-io/src/utils.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#12412 perf: use online algorithm for cov/corr `~2x`
  crates/polars-ops/src/chunked_array/cov.rs
  crates/polars-plan/src/dsl/function_expr/correlation.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, performance

#12413 feat: include i128 in more primitive functions
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/compute/filter.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#12415 fix: update groups state after binary aggregation
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#12422 fix(python): raw HTML output alignment was incorrect for dtype in header
  py-polars/polars/dataframe/_html.py
Labels: python, fix

#12200 feat(python): Add `DataType.is_integer` and other dtype groups
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/expr.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/series/series.py
  py-polars/polars/testing/asserts/series.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/various.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement, deprecation

#12430 fix: binary operations in aggregation context on literals
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#12428 docs(python): make "DataFrame" and "Series" case more consistent across docs/comments/errors
  crates/polars-core/src/frame/from.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/sortby.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-plan/src/logical_plan/anonymous_scan.rs
  crates/polars-time/src/group_by/dynamic.rs
  docs/src/python/user-guide/io/bigquery.py
  docs/src/python/user-guide/sql/intro.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/io/delta.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/src/map/series.rs
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_errors.py
Labels: documentation, python

#12435 docs(python): Remove 'experimental' tag for auto-structify setting
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#12437 build(python): Update for new maturin release
  py-polars/pyproject.toml
Labels: python, build

#12355 fix(python,rust!): Fix `scan_csv` error type
  Cargo.lock
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-utils/src/io.rs
  py-polars/Cargo.toml
  py-polars/src/error.rs
  py-polars/src/file.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix, breaking rust

#12434 fix: empty csv no-raise
  crates/polars-io/src/csv/utils.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#12433 feat!: plugins add version and context
  crates/polars-ffi/src/lib.rs
  crates/polars-ffi/src/version_0.rs
  crates/polars-plan/src/dsl/function_expr/plugin.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
Labels: python, rust, breaking, enhancement

#12449 ci(python): Fix docs trigger
  .github/workflows/release-python.yml
Labels: python, internal

#12436 fix(python): ensure explicit "return_dtype" is respected by `map_dicts`
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_exprs.py
Labels: python, fix

#12457 depr(python): Deprecate Series methods `is_boolean` and `is_utf8`
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, deprecation

#12439 perf: apply predicates and statistics of parquet files in streaming mode
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/expressions.rs
  crates/polars-pipe/src/pipeline/convert.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, performance

#12458 depr(python): Deprecate DataType method `is_not`
  py-polars/polars/datatypes/classes.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/datatypes/test_duration.py
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, deprecation

#12462 chore(rust): Replace outdated dev dependency `tempdir`
  Cargo.lock
  crates/polars-io/Cargo.toml
  crates/polars-io/src/partition.rs
Labels: rust, internal

#12466 fix: Do not panic if time is invalid
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  py-polars/tests/unit/functions/range/test_date_range.py
Labels: python, rust, fix

#12468 chore: update rustc
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/growable/structure.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/compute/aggregate/simd/mod.rs
  crates/polars-arrow/src/compute/comparison/simd/mod.rs
  crates/polars-arrow/src/legacy/kernels/sort_partition.rs
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/series/ops/approx_unique.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
  crates/polars-parquet/src/parquet/schema/io_thrift/mod.rs
  crates/polars-parquet/src/parquet/write/indexes/serialize.rs
  crates/polars-parquet/src/parquet/write/indexes/write.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
  crates/polars-plan/src/logical_plan/projection.rs
  crates/polars-plan/src/logical_plan/pyarrow.rs
  crates/polars-sql/src/context.rs
  crates/polars-time/src/prelude.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/lazyframe.rs
  rust-toolchain.toml
Labels: python, rust, internal

#12475 docs(python): Use `.with_columns()` in all `.list` namespace examples
  py-polars/polars/expr/list.py
Labels: documentation, python

#12478 test(python): improved `import polars` timing test; now much more consistent/reliable
  py-polars/tests/unit/test_polars_import.py
Labels: python, internal

#12369 fix(python,rust): Allow append/zip_with/extend on local categoricals
  crates/polars-core/src/chunked_array/builder/list/categorical.rs
  crates/polars-core/src/chunked_array/builder/list/dtypes.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/zip.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/zip_outer.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, fix

#12479 fix: dont overflow when calculating date range over very long periods
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/functions/range/test_date_range.py
Labels: python, rust, fix

#12464 depr(python,rust!): Deprecate `parse_int` in favor of `to_integer`
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  docs/user-guide/installation.md
  py-polars/Cargo.toml
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, deprecation, breaking rust

#12485 docs(rust): Fix some typos
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-io/src/parquet/write.rs
  crates/polars-lazy/src/lib.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
Labels: documentation, rust

#12490 undo debug sequential iterator
  crates/polars-io/src/parquet/read_impl.rs
Labels: skip changelog

#12494 depr(python): Deprecate `Series.inner_dtype` property
  py-polars/polars/series/series.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, deprecation

#12491 fix: fix streaming cross join on empty df
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, fix

#12094 build(python): Support Python 3.12
  .github/workflows/benchmark.yml
  .github/workflows/docs-global.yml
  .github/workflows/docs-python.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-bytecode-parser.yml
  .github/workflows/test-python.yml
  docs/development/contributing/index.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/docs/run_doctest.py
  py-polars/tests/unit/io/test_database_read.py
  py-polars/tests/unit/io/test_database_write.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, highlight, build

#12496 docs(python): Add note on hash stability and mention `polars-hash`
  docs/user-guide/expressions/plugins.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#12505 docs(python): Update `polars-hash` reference
  py-polars/polars/expr/expr.py
Labels: documentation, python

#12504 feat: more changes for versioned plugins
  crates/polars-ffi/src/version_0.rs
  crates/polars-plan/src/dsl/function_expr/plugin.rs
Labels: python, rust, enhancement
