Repository pola-rs/polars, pull requests merged in 2023-03, with the labels that each got.

#7256 refactor(python): Move `_html` module to dataframe module
  py-polars/polars/internals/dataframe/_html.py
  py-polars/polars/internals/dataframe/frame.py
Labels: python, refactor

#7169 feat(rust, python): enable min-max skipping for binary in parquet, enable min-max skipping for `is_in` exprs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, enhancement

#7264 feat(python): deprecate `describe_(optimized)_plan` in favor of `explain`
  py-polars/docs/source/reference/lazyframe/descriptive.rst
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_projections.py
Labels: python, enhancement

#7251 feat(python): Excel export support via new `write_excel` IO method
  py-polars/polars/datatypes.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/io.py
  py-polars/polars/testing/_parametric.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement, highlight

#7265 fix(rust, python): raise error on ambiguous filter predicates
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#7266 fix(rust, python): no panic on empty cross join
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#7268 fix(python): fix us precision of datetime to anyvalue conversion
  py-polars/Cargo.lock
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, fix

#7271 fix(rust, python): fix preservation of microseconds when converting Python datetime
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#7273 feat(python): don't require pyarrow for initialising Series with Python datetimes
  py-polars/polars/internals/construction.py
Labels: python, enhancement

#7056 feat(python): Add Expr.arg_true
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_exprs.py
Labels: python, enhancement

#7276 feat(rust, python): add support for serializing categoricals to json
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, enhancement

#7277 feat(python): add multi-threaded apply
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#7250 refactor(rust): use SchemaRef in CSV modules
  polars/polars-io/src/csv/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/tests/it/io/csv.rs
  py-polars/src/dataframe.rs
Labels: rust, refactor

#7278 fix(rust, python): fix groupby_dynamic's binning when index_column is time-zone-aware
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#7236 fix(rust, python): improve concat_list with empty list error message
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#7299 fix(rust, python): make `pl.struct` mappable
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#7300 feat(rust, python): improve error message if mmap fails in ipc
  polars/polars-io/src/ipc/ipc_file.rs
Labels: python, rust, enhancement

#7295 refactor(python) Split `io` module per type
  py-polars/polars/io.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel.py
  py-polars/polars/io/ipc.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet.py
  py-polars/polars/io/pyarrow_dataset.py
  py-polars/polars/io/sql.py
Labels: python, refactor

#7014 refactor(python): Rename pearson_corr & spearman_rank_corr
  polars/polars-sql/src/lib.rs
  py-polars/docs/source/reference/dataframe/miscellaneous.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/benchmark/run_h2oai_benchmark.py
  py-polars/tests/unit/test_functions.py
  py-polars/tests/unit/test_lazy.py
Labels: python, refactor

#7301 feat(rust, python): implement serde for literal datetime and series
  polars/polars-core/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/lit.rs
Labels: python, rust, enhancement

#7304 chore(python): Run `pytest-xdist` with worksteal
  .github/workflows/test-python.yaml
  py-polars/Makefile
Labels: python, chore

#7305 feat(python): Support explicit Binary dtype in constructor
  py-polars/polars/datatypes_constructor.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#7307 chore(python): Correctly deprecate `DataFrame.pearson_corr`
  polars/polars-sql/src/lib.rs
  py-polars/docs/source/reference/dataframe/miscellaneous.rst
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazy_functions.py
Labels: python, chore

#7309 build(python): Address `git2` vulnerability
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, build

#7220 feat(rust,python): initial working version of Decimal Series
  polars/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/logical/decimal.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/fmt.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/ops/downcast.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-core/src/utils/supertype.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-ops/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/construction.py
  py-polars/polars/utils.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/datatypes.rs
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
Labels: python, rust, enhancement

#7310 feat(python): More ergonomic `unnest` args
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/struct.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, enhancement

#7316 feat(python): make `expr.apply` streamable in selection context
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, enhancement

#7317 fix(python): raise error if output of 'apply' cannot be determined
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_streaming.py
Labels: python, fix

#7318 feat(python): add adbc database reader and writer (`DataFrame.write_database`)
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_sql_db.py
Labels: python, enhancement

#7321 test(python): don't run tests that write to disk by default
  py-polars/pyproject.toml
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, test

#7320 refactor(python): Rename `scan_ds` to `scan_pyarrow_dataset`
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/pyarrow_dataset.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, refactor

#7322 feat(python): support sqlalchemy/pandas backed `write_database`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/pyproject.toml
  py-polars/tests/unit/io/test_database.py
Labels: python, enhancement

#7325 fix(rust, python): raise error on time -> datetime cast
  polars/polars-core/src/series/implementations/dates_time.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#7326 fix(rust, python): fix projection pushdown on join with unused join key
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  polars/tests/it/lazy/projection_queries.rs
Labels: python, rust, fix

#7327 test(python): Fix `read/write_database` tests
  py-polars/docs/source/reference/io.rst
  py-polars/polars/io/database.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_database.py
Labels: python, test

#7330 fix(python): fix offset in threading apply
  py-polars/polars/internals/expr/expr.py
Labels: python, fix

#7329 perf(rust, python): improve batched csv readers perf and memory perf
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  py-polars/src/batched_csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, performance

#7333 feat(python): support creation of sparklines when exporting `Excel` tables
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#7338 docs(python): add `write_excel` API docs link
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/dataframe/frame.py
Labels: documentation, python

#7339 feat(python): allow import of dtype groups from the top-level to improve discovery
  py-polars/polars/__init__.py
Labels: python, enhancement

#7345 perf(rust, python): ensure utf8 apply preallocates memory
  polars/polars-arrow/src/array/mod.rs
  polars/polars-arrow/src/array/utf8.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
Labels: python, rust, performance

#7341 feat(rust, python): make `LazyFrame.explode` streamable.
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/explode.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: python, rust, enhancement

#7347 perf(rust, python): optimize str.replace `~2x` improvement
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
Labels: python, rust, performance

#7346 fix(rust,python): don't panic when writing `NullArray` values to python row tuple
  py-polars/polars/internals/io_excel.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_rows.py
Labels: python, rust, fix

#7353 perf(rust, python): optimize str.replace_all
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
Labels: python, rust, performance

#7348 fix(python): make decimal types opt-in
  polars/polars-core/src/series/from.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#7358 chore(python): Clean up type checking lints
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_excel.py
  py-polars/tests/unit/io/test_lazy_ipc.py
Labels: python, chore

#7363 fix(python): minor `Excel` export improvements/fixes
  py-polars/polars/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/io/test_excel.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, fix

#7357 refactor(python): Split up `datatypes` module
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constants.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/datatypes/type_aliases.py
  py-polars/polars/datatypes/utils.py
  py-polars/polars/internals/construction.py
Labels: python, refactor

#7340 test(python): Add test for for groupby referencing the same column twice
  py-polars/tests/unit/operations/test_groupby.py
Labels: python, test

#7365 feat(rust, python): don't rechunk before writing to csv
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
Labels: python, rust, enhancement

#7364 feat(rust, python): make melt streamable
  polars/polars-core/src/frame/explode.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/melt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
Labels: python, rust, enhancement

#7369 perf(rust, python): improve performance for datetime parsing with %Z
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, performance

#7344 chore: refactor community files
  .github/CODE_OF_CONDUCT.md
  README.md
Labels: chore

#7380 feat(python): tweak default Date and Time format strings for `Excel` export
  py-polars/polars/internals/io_excel.py
Labels: python, enhancement

#7385 refactor(python): Rename `cfg` module to `config`
  py-polars/polars/__init__.py
  py-polars/polars/config.py
Labels: python, refactor

#7384 feat(python): Proper superclass for Decimal
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constants.py
Labels: python, enhancement

#7383 fix(rust, python): creating empty struct series with some unit fields
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#7379 feat(python): support applying one conditional format to multiple columns on `Excel` export (allows for heatmaps)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#7373 feat(rust, python): parse year-month-day as Datetime in slow-path
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#7394 feat(rust, python): use IO backed reader when `low_memory=True`.
  examples/read_csv/src/main.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/batched_mmap.rs
  polars/polars-io/src/csv/read_impl/batched_read.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/mmap.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  py-polars/src/batched_csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#7391 fix(rust, python): parse single-digit months and dates when code would have gone down fastpath
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, fix

#7393 feat(python): disallow converting key values to null in map_dict due …
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#7400 docs(python): Remove redundant `schema` keyword description from `pl.…
  py-polars/polars/convert.py
Labels: documentation, python

#7403 chore(python): use exc as variable name for all captured exceptions
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/parametric/test_lazyframe.py
  py-polars/tests/unit/test_errors.py
Labels: python, chore

#7399 feat(rust,python): add unary +,-,! to sql
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
Labels: python, rust, enhancement

#7408 refactor: improve IO based csv reading stop conditions
  polars/polars-io/src/csv/read_impl/batched_read.rs
  py-polars/tests/unit/io/test_csv.py
Labels: refactor

#7407 refactor(python): Rename first arg of `from_x` to `data`
  py-polars/polars/convert.py
Labels: python, refactor

#7410 refactor(python): Remove `_base_type` util
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
Labels: python, refactor

#7401 refactor(python,rust): Rename Decimal `prec` to `precision`
  polars/polars-core/src/chunked_array/logical/decimal.rs
  polars/polars-core/src/chunked_array/ops/any_value.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
Labels: python, rust, refactor

#7409 chore(rust): update arrow
  Cargo.toml
Labels: rust, chore

#7412 fix(rust, python): sort_by logical types
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#7411 feat(python): support setting multiple conditional formats on the same `Excel` table column/range
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#7415 feat(rust, python): dynamically change chunk_size in streaming `explo…
  polars/polars-lazy/polars-pipe/src/executors/operators/function.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/lib.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
Labels: python, rust, enhancement

#7417 fix(rust, python): respect lexical/physical in multi-column categoric…
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-row/src/encode.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#7419 docs(python): Showcase new ergonomic syntax in README
  README.md
Labels: documentation, python

#7424 refactor(python): Rename functions that clash with builtins
  py-polars/polars/__init__.py
  py-polars/polars/internals/lazy_functions.py
Labels: python, refactor

#7446 ci: Rename `yaml` files to `yml`
  .github/workflows/benchmark.yml
  .github/workflows/build-test-rust.yml
  .github/workflows/create-python-release.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
  CONTRIBUTING.md
  py-polars/tests/README.md
Labels: ci

#7430 fix(rust, python): allow for hourly date_range to cross DST
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#7427 feat(python): optimise `Excel` export when all data in a multi-column conditional format is contiguous
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#7445 docs(rust): Improved JSON IO docs
  polars/polars-io/src/json.rs
Labels: documentation, rust

#7447 feat(python): provide option to set individual `row_heights` on Excel export
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io_excel.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#7448 feat(rust, python): convert decimal 256 to 128 on entry
  polars/polars-core/src/series/from.rs
Labels: python, rust, enhancement

#7435 refactor(python): Refactor `utils` module
  py-polars/docs/source/reference/datatypes.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/utils.rst
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/datatypes/utils.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/struct.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel.py
  py-polars/polars/io/ipc.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet.py
  py-polars/polars/io/pyarrow_dataset.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/utils.py
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/build_info.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/decorators.py
  py-polars/polars/utils/meta.py
  py-polars/polars/utils/polars_version.py
  py-polars/polars/utils/show_versions.py
  py-polars/polars/utils/various.py
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, refactor

#7450 fix(python): fix `DataFrame` table rendering issue in some Jupyter environments
  py-polars/polars/internals/dataframe/_html.py
  py-polars/polars/internals/dataframe/frame.py
Labels: python, fix

#7421 feat(python): push down temporal predicates to pyarrow scanner
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/lit.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  py-polars/polars/internals/anonymous_scan.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, enhancement

#7457 feat(rust, python): automatically infer iso8601-like dates
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/polars/io/csv.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#7456 fix(python, rust): sql floor & ceil
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
Labels: python, rust, fix

#7455 fix(python): make `DataFrame` rendering compatible with quarto and pandoc
  py-polars/polars/internals/dataframe/_html.py
Labels: python, fix

#7459 chore: update rust
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yml
  .github/workflows/build-test-rust.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-deploy-rust.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  rust-toolchain.toml
Labels: chore

#7460 refactor(python): Rename `read_x` functions arg `file` to `source`
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel.py
  py-polars/polars/io/ipc.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet.py
  py-polars/polars/io/pyarrow_dataset.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, refactor

#7463 fix(python): fix and test df.corr
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yml
  .github/workflows/build-test-rust.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-deploy-rust.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/operations/test_statistics.py
  rust-toolchain.toml
Labels: python, fix

#7464 fix(rust, python): raise error on categorical by arguments if not fro…
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#7466 feat(rust, python): streaming `LazyFrame.unique`
  polars/polars-core/src/frame/cross_join.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/reproject.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/reproject.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/reproject.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, enhancement

#7469 fix: don't streaming keep none strategy
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
Labels: fix

#7470 feat(rust, python): slice pushdown in `LazyFrame.unique`
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/unique.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
Labels: python, rust, enhancement

#7476 fix(python): handle an unusual edge-case introspecting dataclass type hints
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#7478 perf(rust, python): speed up comparison of sorted arrays `~3.85x`.
  polars/polars-core/src/chunked_array/comparison/mod.rs
  polars/polars-core/src/chunked_array/comparison/scalar.rs
  polars/polars-core/src/series/comparison.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#7473 chore(rust): Use `eprintln!` instead of `eprint!`
  polars/polars-io/src/ipc/ipc_file.rs
  py-polars/src/file.rs
Labels: rust, chore

#7486 refactor(rust): refactor join pushdown
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/semi_anti_join.rs
  py-polars/Cargo.lock
Labels: rust, refactor

#7487 fix(rust, python): fix projection pushdown of asof_joins
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#7492 perf(rust, python): csv-file use fast-float for csv float parsing
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/buffer.rs
Labels: python, rust, performance

#7494 perf(rust, python): (csv) don't use memchr for splitfields `-~0.15%`
  polars/polars-io/src/csv/parser.rs
Labels: python, rust, performance

#7498 perf(rust, python): [csv] SIMD accelerate SplitFields `-40%`
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/mod.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/splitfields.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-io/src/lib.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#7500 perf(rust, python): [csv] faster utf8 validation `~20%`
  polars/polars-io/src/csv/buffer.rs
Labels: python, rust, performance

#7501 perf(rust, python): use atoi in favor of lexical in strptime `-25%`
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
Labels: python, rust, performance

#7505 chore(python): Bump some linting versions
  py-polars/polars/api.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/io_excel.py
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
Labels: python, chore

#7508 docs(python): Use new `LazyFrame` init in docs
  py-polars/polars/internals/lazyframe/frame.py
Labels: documentation, python

#7511 fix(python): Initialize with `Decimal` dtype
  py-polars/docs/source/reference/datatypes.rst
  py-polars/polars/datatypes/constructor.py
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, fix

#7507 chore(python): update `show_versions` with xlsxwriter (and add as optional dependency)
  py-polars/polars/utils/show_versions.py
  py-polars/pyproject.toml
Labels: python, chore

#7513 fix(python): keep series name in arithmetic
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#7518 fix(rust, python): use physical types in sort-by args
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#7520 fix(python): transparently integrate externally-registered Excel formats
  py-polars/polars/internals/io_excel.py
  py-polars/pyproject.toml
  py-polars/tests/unit/io/test_excel.py
Labels: python, fix

#7503 fix(rust, python) respect time zone in date_range
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/calendar.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#7517 refactor(rust): refactor date parsing
  polars/polars-io/src/csv/buffer.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
Labels: rust, refactor

#7526 fix(rust): Enable link to DateLikeNameSpace in the docs.
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Labels: rust, fix

#7527 perf(python): extend ultrafast constant-value frame init to temporal types (over 1,000x speedup)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_df.py
Labels: python, performance

#7538 fix(rust, python): don't upcast column to string in 'is_in' operation
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#7542 fix(rust, python): pushdown key in merge sorted projection pd
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#7545 fix(python): fix logical/list getitem
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, fix

#7543 feat(rust, python): overwrite streaming chunk size
  polars/polars-lazy/polars-pipe/src/executors/operators/function.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/lib.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
Labels: python, rust, enhancement

#7544 ci(rust): Use pre-installed rustup
  .github/workflows/benchmark.yml
  .github/workflows/build-test-rust.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-deploy-rust.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
Labels: rust, ci

#7546 fix(python): Remove `BatchedCsvReader` from public API
  py-polars/polars/__init__.py
Labels: python, fix

#7555 test(python): Move `fmt` tests to `test_fmt`
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_fmt.py
Labels: python, test

#7554 fix(python): fix negative indexing for `head`/`tail`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#7541 docs(python): Rename namespace Array -> List in docs
  py-polars/docs/source/reference/expressions/index.rst
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/index.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/docs/source/reference/series/temporal.rst
Labels: documentation, python

#7551 fix(python): remove pyarrow from construction and dispatch to rust
  polars/polars-core/src/datatypes/field.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/ops/extend.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
  py-polars/polars/internals/construction.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#7556 fix(rust, python): fix rolling windows for windows that shrink from lhs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#7558 perf(rust, python): set sorted flags
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: python, rust, performance

#7560 refactor(rust): abstract memory collection in sinks
  polars/polars-lazy/polars-pipe/src/executors/sinks/memory.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
  polars/polars-utils/src/atomic.rs
  polars/polars-utils/src/sys.rs
Labels: rust, refactor

#7562 chore(rust): factor out some utils into polars-time/src/utils
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/lib.rs
  polars/polars-time/src/utils.rs
  polars/polars-time/src/windows/duration.rs
Labels: rust, chore

#7565 perf(rust, python): speedup `replace_literal_all` of single byte replacements `~15x`.
  Cargo.toml
  polars/polars-ops/src/chunked_array/strings/mod.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/polars-ops/src/chunked_array/strings/replace.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#7567 chore(python): Bump ruff
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
Labels: python, chore

#7569 fix memory tracing in sort sink
  polars/polars-lazy/polars-pipe/src/executors/sinks/memory.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
Labels: fix

#7570 feat(python): use head on pyarrow datasets
  py-polars/polars/internals/anonymous_scan.py
Labels: python, enhancement

#7575 perf(rust, python): improve perf or `str.replace_n` and add `n` argument `~10x`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/polars-ops/src/chunked_array/strings/replace.rs
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, performance

#7549 chore(rust): fix a bunch of cargo warnings & errors
  polars/polars-io/src/csv/read_impl/batched_read.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/logical.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust, chore

#7458 fix(python,rust): sql window functions
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-sql/Cargo.toml
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/lib.rs
Labels: python, rust, fix

#7559 perf(python): reinstate fast module import and optimise `DataFrame` init by implementing dynamic `singledispatch` registration
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils/convert.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, performance, fix

#7580 perf(rust, python): optimize `str_replace` for same length replacements `~2x`
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/polars-ops/src/chunked_array/strings/replace.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, performance

#7581 fix(rust, python): distinct project whole schema if not a subset
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#7582 fix(rust, python): activate dtype-duration for polars-ops
  polars/Cargo.toml
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#7576 refactor(python): Move core objects to top level
  py-polars/docs/source/conf.py
  py-polars/docs/source/reference/dataframe/groupby.rst
  py-polars/docs/source/reference/lazyframe/groupby.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/__init__.py
  py-polars/polars/dataframe/_html.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/__init__.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/categorical.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/meta.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/__init__.py
  py-polars/polars/internals/lazyframe/__init__.py
  py-polars/polars/internals/series/__init__.py
  py-polars/polars/internals/sql/__init__.py
  py-polars/polars/lazyframe/__init__.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/__init__.py
  py-polars/polars/series/_numpy.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/series/struct.py
  py-polars/polars/series/utils.py
  py-polars/polars/sql/__init__.py
  py-polars/polars/sql/context.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_interchange.py
  py-polars/tests/unit/test_series.py
Labels: python, refactor

#7586 refactor(python): Avoid `pli` in type hints (part 1)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/categorical.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/meta.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/anonymous_scan.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/io_excel.py
  py-polars/polars/internals/slice.py
  py-polars/polars/io/csv.py
  py-polars/polars/io/database.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/string.py
  py-polars/polars/series/struct.py
  py-polars/polars/series/utils.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/_parametric.py
  py-polars/polars/testing/_private.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/utils/various.py
Labels: python, refactor

#7454 fix(rust, python): Fix regression throwing AmbiguousTimeError in groupby_dynamic
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/round.rs
  polars/polars-time/src/truncate.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  polars/polars-time/src/windows/window.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix, regression

#7587 refactor(python): Avoid `pli` in type hints (part 2)
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/internals/whenthen.py
  py-polars/polars/io/database.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/_numpy.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/series/struct.py
  py-polars/polars/series/utils.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/_parametric.py
  py-polars/polars/testing/_private.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/utils/various.py
Labels: python, refactor

#7588 fix(rust, python): fix ooc sort. the fast path was invalid
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/ooc.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/source.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#7589 fix(rust, python): add decimal chunk_lengths
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/series_trait.rs
Labels: python, rust, fix

#7593 docs(python): add a performance hint about use of `lru_cache` to the `apply` docstrings
  py-polars/polars/config.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#7597 refactor(python): Move more code out of `internals`
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constants.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/datatypes/type_aliases.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/categorical.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/batched.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/io.py
  py-polars/polars/internals/io_excel.py
  py-polars/polars/io/csv.py
  py-polars/polars/io/database.py
  py-polars/polars/io/parquet.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/series/utils.py
  py-polars/polars/slice.py
  py-polars/polars/testing/_parametric.py
  py-polars/polars/type_aliases.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, refactor
