Repository pola-rs/polars, pull requests merged in 2023-06, with the labels that each got.

#9145 fix(rust, python): categorical construction from null values
  polars/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, fix

#9144 fix(python): Fix DataFrame.to_arrow() for 0x0 dataframes
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#9157 feat(rust, python): implement explode for DataType::Array
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, enhancement

#9159 feat(rust, python): add arr.unique expression
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/array.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-ops/src/chunked_array/array/namespace.rs
  polars/polars-ops/src/chunked_array/list/count.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
Labels: python, rust, enhancement

#6842 feat(python): groupby_dynamic by quarter.
  polars/polars-time/src/windows/duration.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, enhancement

#9161 feat(rust, python): add binary to list<u8> cast
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_binary.py
Labels: python, rust, enhancement

#9176 fix(rust, python): make null chunking behavior equal to other dtypes
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#9171 fix(rust, python): respect time zone in strptime/to_datetime when exact=False
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, fix

#9172 chore(rust): remove outdated struct, improve naming
  polars/polars-io/src/csv/buffer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
Labels: rust, chore

#9179 refactor: operate on i256 on decimal mul/div
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/compute/arithmetics/decimal/div.rs
  polars/polars-arrow/src/compute/arithmetics/decimal/mul.rs
  py-polars/Cargo.lock
Labels: refactor

#9181 fix(rust, python): rolling_apply window_size == len
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#9186 docs(python): note that `exact=False` is a performance footgun
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#9197 docs(python): fix "to_decimal" docstring
  py-polars/polars/expr/string.py
Labels: documentation, python

#9196 tests(python): stabilise polars importtime check
  py-polars/tests/unit/test_polars_import.py
Labels: test

#9198 fix(python): Handle edge cases of named `select` input
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Labels: python, fix

#9192 docs(python): clarify how the windows are formed in the rolling_* functions
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9183 chore(rust): simplify slow datetime parser
  polars/polars-io/src/csv/buffer.rs
Labels: rust, chore

#9166 refactor(python): Update expr parsing util to return `PyExpr`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Labels: python, refactor

#9207 fix(python): raise error on invalid df.apply return
  polars/polars-core/src/frame/row/dataframe.rs
  py-polars/src/apply/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Labels: python, fix

#9204 feat(python): add dedicated `selectors` module, consolidating/expanding existing selector capabilities
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/__init__.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement, highlight

#9209 fix(rust, python): clipy window_size to length in rolling_apply
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#9211 fix(python): df.apply first rechunk
  py-polars/src/dataframe.rs
  py-polars/tests/unit/operations/test_apply.py
Labels: python, fix

#9210 feat(rust, python): support float expression on integers
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_integer.py
Labels: python, rust, enhancement

#9212 feat(python): add a `datetime` selector
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#9205 feat(python): Allow empty `select`/`with_columns`/`groupby`
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#9213 refactor(rust): split up dsl::functions module
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/arity.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/coerce.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/horizontal.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/index.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/selectors.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/syntactic_sugar.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  py-polars/tests/unit/test_errors.py
Labels: rust, refactor

#9214 fix(rust, python): don't SO on concat(expressions)
  polars/polars-lazy/polars-plan/src/dsl/function_expr/concat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/concat.rs
  py-polars/polars/functions/eager.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_concat.py
Labels: python, rust, fix

#9220 feat(rust, python): immediately flatten nested unions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/unit/functions/test_concat.py
Labels: python, rust, enhancement

#8055 docs(python): add docstring to __array__ methods
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9222 fix(rust, python): ensure agg(F(lit)) == lit
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#9224 chore(rust): Fix unused import warning in release build
  .github/workflows/benchmark.yml
  polars/polars-lazy/src/physical_plan/streaming/tree.rs
Labels: rust, chore

#9228 ci(python): Unify Python docs workflows
  .github/workflows/benchmark.yml
  .github/workflows/create-python-release.yml
  .github/workflows/docs-check-python.yml
  .github/workflows/docs-python.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
Labels: python, ci

#9229 ci(python): Build docs in parallel
  .github/workflows/docs-python.yml
Labels: python, ci

#8957 feat(rust, python): Add ddof option to rolling_var and rolling_std
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mean.rs
  polars/polars-arrow/src/kernels/rolling/nulls/min_max.rs
  polars/polars-arrow/src/kernels/rolling/nulls/mod.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/sum.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/chunked_array/ops/rolling_window.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#9227 docs(rust): Fix some doc links
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
  polars/polars-core/src/frame/groupby/perfect.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
  polars/polars-row/src/lib.rs
  polars/src/lib.rs
Labels: documentation, rust

#9206 test(python): Use pytest `tmp_path`
  py-polars/polars/testing/_tempdir.py
  py-polars/tests/unit/io/test_avro.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, test

#9230 docs(rust): Fix more broken links
  .github/workflows/docs-rust.yml
  polars/polars-arrow/src/conversion.rs
  polars/polars-arrow/src/kernels/concatenate.rs
  polars/polars-core/src/chunked_array/array/iterator.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/registry.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-json/src/json/deserialize.rs
  polars/polars-json/src/json/infer_schema.rs
  polars/polars-json/src/ndjson/deserialize.rs
  polars/polars-lazy/polars-plan/src/dsl/array.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-time/src/series/_trait.rs
Labels: documentation, rust, ci

#9232 ci(python): Enable parallelization in Python Windows tests
  .github/workflows/test-python.yml
Labels: python, ci

#9231 feat(rust, python): building blocks for expression expansion sets
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/expr_dyn_fn.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Labels: python, rust, enhancement

#9219 refactor(python): Deprecate `exprs=...` input for `select`/`with_columns`/`agg`/`struct`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/functions/test_as_datatype.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lazy.py
Labels: python, refactor

#9235 perf(python): use ciborium in Expression pickling
  py-polars/src/expr/general.rs
Labels: python, performance

#9239 chore(rust): Fix itoap dependency specification
  polars/polars-core/Cargo.toml
Labels: rust, chore

#9242 ci(python): Update linting for `py-polars` crate
  .github/workflows/cache-rust.yml
  .github/workflows/lint-py-polars.yml
  .github/workflows/lint-python.yml
Labels: python, ci

#9240 feat(rust, python): add intersection primitive for selector API
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/selector.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Labels: python, rust, enhancement

#9236 feat(python): add expression json serde
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/docs/source/reference/expressions/miscellaneous.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/test_serde.py
Labels: python, enhancement

#9244 docs(python): Fix grammar and add periods in `Expr.over` docs
  py-polars/polars/expr/expr.py
Labels: documentation, python

#9251 fix(rust, python): delay opening files in streaming engine
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Labels: python, rust, fix

#9253 feat(rust, python): keep sorted flag on `offset_by`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#9245 ci(rust): Separate workflow for Rust lints
  .github/workflows/build-test-rust.yml
  .github/workflows/lint-rust.yml
  polars-cli/src/main.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: rust, ci

#9254 fix(rust, python): fix cached reproject offsets
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/reproject.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Labels: python, rust, fix

#9258 feat(rust, python): rewrite correlation functions to expression architecture
  polars/polars-lazy/polars-plan/src/dsl/function_expr/correlation.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/correlation.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, enhancement

#9271 fix(python): match missing Array and Struct classes in FromPyObject
  py-polars/src/conversion.rs
Labels: python, fix

#9262 fix(rust, python): raise on invalid sort_by
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#9269 docs(python): update suggested 'selectors' import alias from "s" to "cs"
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: documentation, python, skip-changelog

#9248 feat(rust,python): add "sql_expr" function
  polars/polars-sql/src/lib.rs
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/src/sql.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement

#9274 fix(python): fix pyarrow dataset litetal filter
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, fix

#9275 feat(rust, python): keep sorted flag after Expr::truncate
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#9276 feat(python): implement set operations for selector API
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  py-polars/docs/source/reference/selectors.rst
  py-polars/polars/selectors.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#9286 perf(rust, python): slightly improve n_unique performance
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: python, rust, performance

#9278 feat(rust, python): add join cardinality validation
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/hash_join/single_keys_outer.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/prelude.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/cross.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-ops/src/frame/join/mod.rs
  polars/polars-time/src/upsample.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/lazy/cse.rs
  polars/tests/it/lazy/projection_queries.rs
  polars/tests/it/lazy/queries.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/conversion.rs
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#9294 feat(rust, python): serde for 'to_physical' expr
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/src/expr/general.rs
Labels: python, rust, enhancement

#9296 fix(python): fix when loading model data from upcoming `pydantic` 2.x release
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#9301 ci(rust): Utilize caching in test job
  .github/workflows/test-rust.yml
  polars/Makefile
  polars/src/lib.rs
Labels: rust, ci

#9303 fix(python): fix overly-broad string matching in selectors
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, fix

#9277 perf(rust, python) Improve rolling min and max for nonulls
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Labels: python, rust, performance

#9307 feat(python): allow use of `Config` object as a function decorator
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
Labels: python, enhancement

#9309 feat(python): allow use of `StringCache` object as a function decorator
  polars/polars-core/src/frame/row/av_buffer.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/polars/string_cache.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/namespaces/test_string.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#9311 ci(python,rust): bump "typos" package to match what's currently running on CI
  py-polars/requirements-lint.txt
Labels: python, rust, skip-changelog, ci

#9313 ci: Pin typos version
  .github/workflows/lint-global.yml
Labels: ci

#9312 perf(rust, python): increase streaming groupby spill size from 256 to 10_000
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
Labels: python, rust, performance

#9316 chore: fix test
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  py-polars/tests/unit/streaming/test_ooc.py
Labels: chore

#9319 docs(python): fixup options for `validate` arg in `join`
  py-polars/Cargo.lock
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/type_aliases.py
Labels: documentation, python

#9325 refactor(python): ignore deltalake subpackage typing stubs in the toml, rather than inline
  py-polars/polars/dataframe/frame.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
Labels: python, skip-changelog, refactor, lint

#9323 fix(python): avoid `is_in` TypeError with sets of values containing 'None'
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, fix

#9324 feat(python,rust): support `//` integer floordiv operator in the SQL engine
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9327 feat(python,rust,cli): add SQL support for regular expression operators (`~`, `!~`, `~*`, and `!~*`)
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9331 docs(python): add doc entries for `eq_missing` and `ne_missing` expressions
  py-polars/docs/source/reference/expressions/operators.rst
Labels: documentation, python

#9332 feat(python,rust,cli): add SQL support for null-aware equality checks
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9336 docs(python): add "if you're coming from pandas" tip to groupby_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#9342 docs(python): clarify when day of week takes effect in groupby_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#9350 perf(rust, python): push slices down map functions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#9320 fix(rust): correct assertion
  polars/polars-arrow/src/kernels/take_agg/mod.rs
Labels: fix

#9272 fix(python): Allow for tolerance when comparing nested dtype columns
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, fix

#9352 fix(rust, python): raise more informative error on string arguments
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#9360 fix(rust, python): raise groupby apply on empty frame
  polars/polars-core/src/frame/groupby/mod.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#9355 feat(rust,python,cli): add sql DROP TABLE
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/keywords.rs
  polars/polars-sql/tests/statements.rs
Labels: python, rust, enhancement

#9362 fix(rust, python): respect startby in groupby_dynamic when every is greater than 1d
  polars/polars-time/src/windows/window.rs
  polars/tests/it/lazy/groupby_dynamic.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#9361 docs(python): document apply 'return_dtype' requirement
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9363 fix(rust, python): parquet + categorical
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#9367 fix(rust, python): list zip with
  polars/polars-core/src/chunked_array/arithmetic/decimal.rs
  polars/polars-core/src/chunked_array/arithmetic/numeric.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/nulls.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/test_arity.py
Labels: python, rust, fix

#9371 perf(rust, python): row encode buffer reuse
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/thread_local.rs
  polars/polars-row/src/encode.rs
Labels: python, rust, performance

#9359 fix(python): fix bug when comparing series
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, fix

#9387 feat(rust, python): ensure part of the plan is streaming if aggregati…
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, enhancement

#9392 fix(rust): fix compilation of other rustc versions
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
Labels: rust, fix

#9391 feat(python): allow easy load/save of polars `Config` options to/from file
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
Labels: python, enhancement

#9393 feat(rust, python): support all numeric dtypes in serde
  polars/polars-core/src/serde/series.rs
Labels: python, rust, enhancement

#9395 refactor(python): remove extraneous type
  py-polars/polars/config.py
Labels: python, skip-changelog, refactor

#9398 chore: Fix pip install example
  README.md
Labels: chore

#9421 docs(python): fix typo in `Series.qcut`
  py-polars/polars/series/series.py
Labels: documentation, python

#9406 fix(rust, python): Fix rolling min/max when window is empty
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#9416 perf(rust, python): reduce rayon/idle time in streaming
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/eval.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
Labels: python, rust, performance

#9414 feat(rust, python): dont error for time-zone-aware parsing if time zone is UTC
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, enhancement

#9330 feat(python,rust,cli): add SQL `round` support
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9415 fix(python,rust): Compute Spearman rank correlations using average ra…
  polars/polars-lazy/polars-plan/src/dsl/function_expr/correlation.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#9420 fix(rust, python): read_csv was parsing dates incorrectly when the dtype was overridden
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/ndjson/buffer.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#9423 perf(rust, python): reduce page faults in q1 `~-30%`
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-row/src/encode.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/vec.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#9432 perf(python): speedup datetime conversion
  py-polars/polars/utils/convert.py
Labels: python, performance

#9438 fix(python): pl.lit with datetime was producing slightly incorrect results
  py-polars/polars/utils/convert.py
  py-polars/tests/parametric/test_lit.py
Labels: python, fix

#9440 docs(rust): note that weekday is actually ISO weekday
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/series/mod.rs
Labels: documentation, rust

#9215 docs(python): Improve docstrings rolling functions
  py-polars/polars/expr/expr.py
Labels: documentation, python, refactor

#9452 perf(python): further optimize datetime conversion
  py-polars/polars/utils/convert.py
  py-polars/src/conversion.rs
Labels: python, performance

#9451 docs(python): improve date-range docs
  py-polars/polars/functions/range.py
Labels: documentation, python

#9455 refactor(python): Deprecate some expr input parsing behavior
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_select.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
Labels: python, refactor

#9450 feat(python): enhanced `polars.selectors` repr and implicit application of `as_expr` when broadcasting
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#9449 docs(python): fix typo in rolling_* docstrings
  py-polars/polars/expr/expr.py
Labels: documentation, python

#9445 feat(rust, python): raise if period is negative in groupby_rolling
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, enhancement

#9457 feat(rust, python): add str.titlecase
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/case.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#9456 feat(python): support inversion of `first` & `last` selectors, additional minor repr improvements
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#9351 docs(python): Docstrings for expressions and dtypes
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/expr.py
Labels: documentation, python

#9463 chore(rust): remove unreachable code
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust, chore

#9428 fix(rust, python): groupby rolling with negative offset
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/test.rs
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#9473 docs(python): Document aggregate_function=None in pivot
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#9474 feat(rust,sql,python): update error handling msg for sql functions
  polars/polars-sql/src/functions.rs
  polars/polars-sql/tests/simple_exprs.rs
Labels: python, rust, enhancement

#9453 feat(rust, python, cli): Adds (Most) Remaining Trig Functions to `SQLContext`
  polars/polars-lazy/polars-plan/src/dsl/arithmetic.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/trigonometry.rs
  polars/polars-sql/src/functions.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9470 refactor(python): Warn for future change of closed default value in rolling functions
  py-polars/polars/expr/expr.py
  py-polars/polars/utils/decorators.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_lazy.py
Labels: python, refactor

#9478 feat(rust, python): add infer schema len to json_extract
  polars/Cargo.toml
  polars/polars-json/src/ndjson/file.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-ops/src/chunked_array/strings/json_path.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
Labels: python, rust, enhancement

#8660 fix(python): Fix empty list or Series selections on DF or Series
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#9462 feat(python): serializable python functions in expressions
  polars/polars-error/src/lib.rs
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/expr_dyn_fn.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/python_udf.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/Cargo.lock
  py-polars/polars/__init__.py
  py-polars/src/apply/lazy.rs
  py-polars/src/expr/general.rs
  py-polars/src/lib.rs
  py-polars/src/object.rs
  py-polars/tests/parametric/__init__.py
  py-polars/tests/unit/test_serde.py
Labels: python, enhancement

#9487 test(python): fix a unit test when running with pydantic 2.x series
  py-polars/tests/unit/test_constructors.py
Labels: python, skip-changelog, test

#9486 refactor(rust): Remove StdWindow in rolling
  polars/polars-arrow/src/kernels/rolling/no_nulls/variance.rs
  polars/polars-arrow/src/kernels/rolling/nulls/variance.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
Labels: rust, refactor

#9465 feat(rust, python): raise if window size in rolling functions isn't strictly positive
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, enhancement, fix

#9492 refactor(python): explicitly check indexes aren't bool
  py-polars/polars/series/series.py
Labels: python, skip-changelog, refactor

#9495 fix(rust, python): fix serde for small integer dtypes
  polars/polars-core/src/datatypes/_serde.rs
  polars/polars-core/src/serde/chunked_array.rs
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#9509 chore(python): fix test failing CI
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, skip-changelog, chore

#9496 fix(rust, python): maintain sortedness flags on append/extend
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#9143 feat(python,rust): add drop_first parameter for to_dummies (issue #8246)
  polars/polars-ops/src/frame/mod.rs
  polars/polars-ops/src/series/ops/to_dummies.rs
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, enhancement

#9514 chore: update arrow
  Cargo.toml
Labels: chore

#9515 fix(rust, python): unset sortedness for local date and local datetime
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, fix

#9521 fix(rust, python): fix race condition in out-of-core sort
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/ooc.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#9523 refactor(python, rust): don't pickle pyarrow dataset
  polars/polars-lazy/polars-plan/src/dsl/expr_dyn_fn.rs
  polars/polars-lazy/polars-plan/src/dsl/python_udf.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/frame/python.rs
  polars/polars-lazy/src/physical_plan/executors/python_scan.rs
  py-polars/Cargo.lock
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/_scan.py
  py-polars/src/apply/lazy.rs
  py-polars/src/lazyframe.rs
Labels: python, rust, refactor

#9532 chore(python,rust): Remove outdated badges from README
  README.md
Labels: python, rust, chore

#9533 perf(python): optimize `_datetime_to_pl_timestamp`
  py-polars/polars/utils/convert.py
Labels: python, performance

#9534 fix(rust, python): fix join validation when swapped
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/hash_join/args.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys_inner.rs
  polars/polars-core/src/frame/hash_join/single_keys_left.rs
  polars/polars-core/src/frame/hash_join/single_keys_outer.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#9405 docs(rust): Fix some doc examples
  polars/src/docs/eager.rs
  polars/src/docs/lazy.rs
  polars/src/docs/performance.rs
  polars/src/lib.rs
Labels: documentation, rust

#9531 fix(rust): change the path parameter from to
  polars/polars-lazy/src/frame/ndjson.rs
  polars/polars-lazy/src/tests/io.rs
Labels: rust, fix

#9541 refactor(rust): remove some redundancies in sort
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
Labels: rust, refactor

#9543 fix(rust, python): fix lazy schema of temporal_range functions when no alias is provided
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/functions/test_range.py
Labels: python, rust, fix

#9544 refactor(python): Minor cleanup of `arange`
  py-polars/polars/functions/range.py
Labels: python, refactor

#9554 chore(rust): ensure date-range integration test runs in CI
  polars/tests/it/main.rs
  polars/tests/it/time/date_range.rs
  polars/tests/it/time/mod.rs
Labels: rust, chore

#9561 perf(rust, python): don't needlessly trigger bitcount
  Cargo.toml
Labels: python, rust, performance
