Repository pola-rs/polars, pull requests merged in 2023-05, with the labels that each got.

#8606 fix(rust, python): maintain sortedness in date -> datetime cast
  polars/polars-core/src/series/implementations/dates_time.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#8607 fix(python): fix ooc sort regression; don't take IO-thread before init
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
Labels: python, fix

#8614 feat(rust, python): use temp dir for ooc spills
  polars/polars-lazy/polars-pipe/src/executors/sinks/io.rs
Labels: python, rust, enhancement

#8613 perf(python): avoid potentially redundant casts on `Series` init
  py-polars/docs/source/reference/datatypes.rst
  py-polars/polars/utils/_construction.py
Labels: python, enhancement, performance

#8599 feat(python): add `Expr.meta` namespace `eq` and `ne` methods
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/polars/expr/meta.py
  py-polars/tests/unit/namespaces/test_meta.py
Labels: python, enhancement

#8615 fix(rust, python): maintain sorted info on top-k and empty sort
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/top_k.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#8616 perf(rust, python): buffer spill partitions in ooc sort. `~10/20%`
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/sinks/io.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/ooc.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#8597 refactor(rust)!: Rename `concat_lst` to `concat_list`
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/src/docs/lazy.rs
  py-polars/src/functions/lazy.rs
Labels: rust, breaking, refactor

#8618 perf(rust, python): improve nested grouptuples related code
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/implementations/struct_.rs
Labels: python, rust, performance

#8622 refactor(python): Remove duplicate util in Rust bindings
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lazy/utils.rs
Labels: python, refactor

#8624 refactor(python): Set up separate modules for lazy classes
  py-polars/src/apply/lazy.rs
  py-polars/src/apply/mod.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/expr.rs
  py-polars/src/expr/binary.rs
  py-polars/src/expr/categorical.rs
  py-polars/src/expr/datetime.rs
  py-polars/src/expr/general.rs
  py-polars/src/expr/list.rs
  py-polars/src/expr/meta.rs
  py-polars/src/expr/string.rs
  py-polars/src/expr/struct.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lazyframe.rs
  py-polars/src/lazygroupby.rs
  py-polars/src/lib.rs
Labels: python, refactor

#8623 build(python): only require `typing_extensions` before Python 3.8
  py-polars/pyproject.toml
Labels: python, build

#8627 feat(python): Prettify show_versions
  py-polars/polars/utils/show_versions.py
Labels: python, enhancement

#8620 feat(python): support transparent `DataFrame` init from `numpy` structured/record arrays.
  py-polars/polars/utils/_construction.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#8629 refactor(python): Move functions in Rust bindings to `functions` module
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/functions/io.rs
  py-polars/src/functions/meta.rs
  py-polars/src/functions/misc.rs
  py-polars/src/functions/mod.rs
  py-polars/src/lib.rs
Labels: python, refactor

#8630 refactor(python): Improve some bindings imports
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
Labels: python, refactor

#8636 fix(rust, python): allow list<null> -> list<cat>
  polars/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#8628 feat(python): support `DataFrame` export to `numpy` structured/record arrays
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#8637 docs(rust): document the dispatcher
  polars/polars-lazy/polars-pipe/src/operators/operator.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
Labels: documentation, rust

#8290 feat(python,rust): Add `dt.to_string` alias for `dt.strftime`
  polars/polars-core/src/chunked_array/temporal/date.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/chunked_array/temporal/time.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-time/src/series/mod.rs
  polars/tests/it/core/pivot.rs
  polars/tests/it/lazy/expressions/expand.rs
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#8640 feat(python): allow `from_repr` to handle parsing of table reprs with no dtype row
  py-polars/polars/convert.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#8644 chore(rust): simplify replace_time_zone
  polars/polars-core/src/chunked_array/temporal/datetime.rs
Labels: rust, chore

#8645 fix(rust, python): fix categorical agg type
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#8654 fix(rust, python): fix explode null series
  polars/polars-core/src/chunked_array/ops/explode.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, fix

#8653 fix(rust, python): respect maintain_order in partitioned groupby
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
Labels: python, rust, fix

#8656 refactor(rust): streaming pipeline creation
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor.rs
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  polars/polars-lazy/src/physical_plan/streaming/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/tree.rs
Labels: rust, refactor

#8658 docs(python): clean-up some examples, extend `pipe` docstring
  py-polars/polars/api.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#8665 refactor(python): Organize PySeries `impl` blocks
  py-polars/polars/series/series.py
  py-polars/src/conversion.rs
  py-polars/src/expr.rs
  py-polars/src/expr/meta.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazyframe.rs
  py-polars/src/lazygroupby.rs
  py-polars/src/lib.rs
  py-polars/src/series.rs
  py-polars/src/series/aggregation.rs
  py-polars/src/series/arithmetic.rs
  py-polars/src/series/comparison.rs
  py-polars/src/series/construction.rs
  py-polars/src/series/export.rs
  py-polars/src/series/numpy_ufunc.rs
  py-polars/src/series/set_at_idx.rs
Labels: python, refactor

#8666 style(python): Clean up type checking imports
  py-polars/polars/api.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/_html.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/categorical.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/meta.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/_utils.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel/_write_utils.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/ipc/anonymous_scan.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/anonymous_scan.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/_numpy.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/series/struct.py
  py-polars/polars/series/utils.py
  py-polars/polars/slice.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/_private.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/type_aliases.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/polars/utils/_scan.py
  py-polars/polars/utils/_wrap.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, style

#8499 feat(python): .to_physical() for List(Categorical)
  polars/polars-core/src/series/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8668 fix(rust, python): ensure perfect hash table processes the nulls
  polars/polars-core/src/frame/groupby/perfect.rs
  py-polars/tests/unit/operations/test_groupby.py
Labels: python, rust, fix

#8667 chore(python): Add missing `implode` to internal functions
  py-polars/polars/functions/__init__.py
Labels: python, chore

#8669 docs(python): add notes on the use of inline regex flags to `extract` docstrings
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#8670 fix(rust, python): block predicate containing shifts and windows after sort
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#8671 feat(rust, python): rolling covariance and correlation
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  polars/polars-lazy/polars-plan/src/prelude.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, enhancement

#8673 feat(python): allow `arr.to_struct` to take a list of field names, fix it for `Series`, improve related docstrings
  py-polars/docs/source/reference/series/struct.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/polars/series/struct.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_series.py
Labels: documentation, python, enhancement, fix

#8675 docs(python): add notes/examples on use of inline regex flags to `extract_all` docstrings
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#8682 docs(python): Add "See Also" sections for alias, map_alias, prefix, s…
  py-polars/polars/expr/expr.py
Labels: documentation, python

#8686 perf(rust, python): use expression for dot product
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
Labels: python, rust, performance

#8676 feat(rust, python): streaming unions
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/pass.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/ooc.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  polars/polars-lazy/src/physical_plan/streaming/tree.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/streaming.rs
Labels: python, rust, enhancement

#8685 docs(python): add notes/examples on use of inline regex flags to `replace` docstrings
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#8688 refactor(rust): remove some branches
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
Labels: rust, refactor

#8690 perf(rust, python): add fused multiply add optimization for expressions
  polars/Cargo.toml
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/arity.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/fused.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/fused.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, performance

#8703 feat(python): improved `numpy` string interop
  py-polars/polars/datatypes/convert.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8698 docs(python): Add warning to count methods on null
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/groupby.py
Labels: documentation, python

#8711 fix(rust, python): don't take logical plan during streaming fmt
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
Labels: python, rust, fix

#8715 test(python): add rounding coverage for 32/64 bit floats
  py-polars/tests/unit/test_lazy.py
Labels: python, test

#8716 chore(rust): remove unnecessary feature flag requirement for start_by=monday in groupby_dynamic
  polars/polars-time/src/windows/window.rs
Labels: rust, chore

#8713 chore: update to rustct 2023-05-07
  .github/deploy_manylinux.sh
  .github/workflows/create-python-release.yml
  polars/polars-arrow/src/kernels/list_bytes_iter.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-sql/src/context.rs
  rust-toolchain.toml
Labels: chore

#8724 feat(python): add clean multi-frame registration to `SQLContext`
  py-polars/polars/sql/context.py
  py-polars/tests/unit/test_sql.py
Labels: python, enhancement, sql

#8734 test(python): add unit tests for `extend_constant` Expr
  py-polars/tests/unit/test_exprs.py
Labels: python, enhancement, test

#8730 fix(rust, python): fix return value of std for single-element sequence with ddof=1
  polars/polars-core/src/chunked_array/ops/aggregate/var.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#8725 perf(rust, python): elide function calls in AnyValue::eq
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/generic/hash_table.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  polars/tests/it/io/parquet.rs
Labels: python, rust, performance

#8735 fix(rust, python): ensure count aggregation has proper length when spilling
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/aggregates/convert.rs
Labels: python, rust, fix

#8737 fix(rust, python): groupby_dynamic was unnecessarily failing on ambiguous local datetime
  polars/polars-time/src/windows/window.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#8720 feat(rust, python): support any day of the week in 'start_by' in groupby_dynamic
  polars/polars-time/src/windows/groupby.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, enhancement

#8739 chore: update_arrow
  Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/tests/unit/io/test_parquet.py
Labels: chore

#8740 feat(rust,python): add support for `DISTINCT` keyword in SQL select clauses
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/keywords.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#8744 feat(python): support frame registration at `SQLContext` init time, and add an "unregister" method
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/functions.rs
  py-polars/docs/source/reference/sql.rst
  py-polars/polars/sql/context.py
  py-polars/src/sql.rs
  py-polars/tests/unit/test_sql.py
Labels: python, enhancement, sql

#8747 feat(rust,python): improved detail in several error messages
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-sql/src/context.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#8749 feat(python): support automatic `SQLContext` frame/table registration from local variables
  py-polars/polars/sql/context.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/test_sql.py
Labels: python, enhancement, sql

#8755 fix(rust, python): improve supertype coercion of functions
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, fix

#8754 refactor(rust): sort various match branches for clarity
  polars/polars-sql/src/sql_expr.rs
Labels: rust, skip-changelog, refactor, sql

#8756 feat(python): enhanced deprecating `@redirect` decorator
  py-polars/polars/utils/decorators.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, skip-changelog, enhancement

#8757 fix(rust, python): validate data on successful deserialization
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/serde/df.rs
  polars/polars-core/src/serde/mod.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#8763 fix(python): don't persist temporary column in disjoint calls to `update`
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, fix

#8760 fix(rust, python): check offset before doing owned mutation
  Cargo.toml
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_df.py
Labels: python, rust, fix

#8765 fix(rust, python): fix deadlock in cache and improve parallelism/work…
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  py-polars/polars/expr/expr.py
Labels: python, rust, fix

#8762 feat(python): support `SQLContext` registration of `DataFrames`
  py-polars/docs/source/reference/sql.rst
  py-polars/polars/sql/context.py
  py-polars/tests/unit/test_sql.py
Labels: python, enhancement, sql

#8773 refactor(rust): accumulate windows flag during translation
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
Labels: rust, refactor

#8774 fix(rust, python): don't parallelize sort within rayon job
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
Labels: python, rust, fix

#8775 perf(rust, python): improve parallel work distribution of sort expression `~4x`
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, performance

#8768 fix(rust): modify join error
  polars/polars-ops/src/frame/join/mod.rs
Labels: rust, fix

#8781 refactor(rust); improve arithmetic reuse and don't allocate on binary…
  polars/polars-arrow/src/array/utf8.rs
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
Labels: rust, refactor

#8785 feat(python): add lazy `time` expression
  py-polars/polars/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/test_functions.py
Labels: python, enhancement

#8794 fix(rust, python): correct aggregation of overlapping groups
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/tests/unit/operations/test_groupby.py
Labels: python, rust, fix

#8796 fix(python): Fix incorrect type hint for `arange`
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, fix

#8798 fix(rust, python): fix broadcasting on integer bitwise
  polars/polars-arrow/src/compute/bitwise.rs
  polars/polars-arrow/src/compute/mod.rs
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/bitwise.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, fix

#8797 feat(python): add a "restore_defaults" kwarg to `Config` init
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_fmt.py
Labels: python, enhancement

#8805 feat(rust, python): Add hint to use _saturating on overflow
  polars/polars-time/src/windows/duration.rs
Labels: python, rust, enhancement

#8799 perf(rust, python): fused multiply sub / sub multiply
  polars/polars-lazy/polars-plan/src/dsl/function_expr/fused.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-ops/src/series/ops/fused.rs
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, performance

#8811 perf(rust, python): add optimizer passes and change initial order
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/stack_opt.rs
  polars/polars-utils/src/arena.rs
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, performance

#8812 fix(rust, python): check null data before take
  polars/polars-arrow/src/compute/take/mod.rs
  py-polars/tests/unit/namespaces/test_list.py
Labels: python, rust, fix

#8813 fix(rust, python): sort cached window groups
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/testing/_private.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, fix

#8818 fix(rust,python): sql `BETWEEN` bounds should be inclusive
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, fix, sql, cli

#8825 feat(python): optimise `align_frames` and properly handle the case where the alignment key has duplicate values
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/test_functions.py
Labels: python, enhancement, fix

#8833 feat(rust,python): add support for `OFFSET` keyword in SQL queries
  polars/polars-sql/src/context.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#8834 fix(rust, python): improve agg expr field types
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/count.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#8841 refactor(python): much cleaner `concat` typing
  py-polars/polars/functions/eager.py
  py-polars/polars/sql/context.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/test_df.py
Labels: python, skip-changelog, refactor

#8824 feat(python,rust,cli): add support for sql DISTINCT ON
  polars/polars-sql/Cargo.toml
  polars/polars-sql/src/context.rs
  polars/polars-sql/tests/ops_distinct_on.rs
Labels: python, rust, enhancement

#8848 fix(rust, python): free buffer, but not its contents
  polars/polars-core/src/frame/groupby/proxy.rs
Labels: python, rust, fix

#8846 refactor(python): Convert between Vec of Series/Pyseries using trait
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/expr.rs
  py-polars/src/series.rs
  py-polars/src/series/construction.rs
Labels: python, refactor

#8851 refactor(python): cleaner `align_frames` typing
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/test_functions.py
Labels: python, skip-changelog, refactor

#8856 fix(python): handle `InitVar` typing declarations on `dataclass` objects
  py-polars/polars/datatypes/convert.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#8835 feat(python): add an `align` option to `pl.concat`
  py-polars/polars/api.py
  py-polars/polars/functions/eager.py
  py-polars/polars/type_aliases.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_functions.py
Labels: python, enhancement

#8864 fix(rust, python): parse offset-aware strings as UTC in read_csv when try_parse_dates=True
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#8858 perf(rust): improve `json_extract`
  Cargo.toml
  polars/Makefile
  polars/polars-core/src/datatypes/aliases.rs
  polars/polars-io/src/json/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/ndjson/buffer.rs
  polars/polars-io/src/ndjson/core.rs
  polars/polars-io/src/ndjson/mod.rs
  polars/polars-io/src/prelude.rs
  polars/polars-json/Cargo.toml
  polars/polars-json/src/json/deserialize.rs
  polars/polars-json/src/json/mod.rs
  polars/polars-json/src/lib.rs
  polars/polars-json/src/ndjson/deserialize.rs
  polars/polars-json/src/ndjson/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/strings/json_path.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/aliases.rs
  polars/polars-utils/src/lib.rs
  py-polars/Cargo.lock
Labels: rust, enhancement, performance

#8883 chore(python): refactor tzinfo-related tests
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_transpose.py
Labels: python, chore

#8895 feat(python): improved inference from type annotations
  py-polars/polars/datatypes/convert.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#8899 perf(python): improve performance of `align_frames`, and add new alignment option
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/test_functions.py
Labels: feature, python, performance, fix

#7616 feat(python): Write dataframes as delta tables
  py-polars/docs/source/reference/io.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, enhancement, highlight

#8897 feat(cli,rust,python): add sql EXPLAIN
  polars/polars-sql/src/context.rs
  polars/polars-sql/tests/functions_meta.rs
Labels: python, rust, enhancement, sql, cli

#8894 fix(rust, python): check for object type in csv writer
  polars/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/write_impl.rs
Labels: python, rust, fix

#8906 fix(rust, python): don't check sortedness in asof by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/asof_join/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#8911 feat(cli,rust,python): add sql CASE
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/keywords.rs
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/polars-sql/tests/statements.rs
Labels: python, rust, enhancement, sql, cli

#8913 feat(cli,rust,python): add sql EXCLUDE
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/keywords.rs
  polars/polars-sql/tests/statements.rs
Labels: python, rust, enhancement

#8915 fix(python): address edge cases with in-place modification of `Series` objects
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#8916 fix(cli,rust,python): sql qualified wildcards
  polars/polars-sql/src/context.rs
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/statements.rs
Labels: python, rust, fix

#8898 fix(python): Add hint on PyArrow to ADBC import error
  py-polars/polars/io/database.py
Labels: python, fix

#8934 feat(cli,rust,python): add sql compound identifiers
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/statements.rs
Labels: python, rust, enhancement

#8936 feat(cli,rust,python): add sql UNION, UNION ALL & UNION DISTINCT
  polars/polars-sql/src/context.rs
  polars/polars-sql/tests/statements.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement

#8939 docs(python): fix docstring for `time()`
  py-polars/polars/functions/lazy.py
Labels: documentation, python

#8937 docs(python) Fix typo in `lazygroupby.rs` error message
  py-polars/src/lazygroupby.rs
Labels: documentation, python

#8944 feat(cli,rust,python): multiple enhancements for `SQLContext`
  polars-cli/src/main.rs
  polars/polars-sql/src/context.rs
  py-polars/docs/source/reference/sql.rst
  py-polars/polars/sql/context.py
  py-polars/src/sql.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#8952 feat(python): Use schema keys to define the columns if only the schema is provided to `pl.struct`
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, enhancement

#8954 fix(python): remove bad comment/bad period
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, skip-changelog, fix

#8948 docs(python): further enhance `SQLContext` docstrings
  py-polars/docs/source/reference/sql.rst
  py-polars/polars/sql/context.py
Labels: documentation, python, sql

#8953 perf(rust,python): avoid quadratic `exclude` behaviour when selecting against dtypes and/or wildcards
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
Labels: python, rust, performance

#8956 fix(python): don't modify `Series` with empty names in-place on `DataFrame` init
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#8946 feat(python): Add `dtype` argument for `repeat`
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/series.py
  py-polars/src/functions/lazy.rs
  py-polars/src/series/construction.rs
  py-polars/tests/unit/test_functions.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#8963 refactor(python): Clean up `repeat`/`ones`/`zeros`
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/series/series.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/src/series/construction.rs
  py-polars/tests/unit/functions/__init__.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/functions/test_repeat.py
  py-polars/tests/unit/test_series.py
Labels: python, refactor

#8964 perf(rust, python): Improve explodes: `offsets_to_indexes` performance
  polars/polars-core/src/chunked_array/ops/explode.rs
Labels: python, rust, performance

#8971 refactor(rust, python): simplify `take_every`
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/take/take_every.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/fixed_size_list.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
Labels: python, rust, refactor

#8962 feat(python): allow set column list input to 'drop' and 'drop_nulls'
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_drop.py
Labels: python, enhancement

#8974 perf(rust, python): improve list explode perf
  polars/polars-arrow/src/array/list.rs
  polars/polars-core/src/chunked_array/array/mod.rs
  polars/polars-core/src/chunked_array/list/mod.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/series/implementations/array.rs
  polars/polars-core/src/series/implementations/mod.rs
Labels: python, rust, performance

#8977 refactor(python): Deprecate `name` argument for `repeat`
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/repeat.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/test_queries.py
Labels: python, refactor

#8982 fix(rust, python): Fix erroneous warning in `hist`
  polars/polars-algo/src/algo.rs
Labels: python, rust, fix

#8979 test(python): Clean up tests for `repeat`
  py-polars/polars/functions/repeat.py
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, test

#8960 refactor(python): deprecate `rename` "in_place" parameter
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/test_series.py
Labels: python, refactor

#8930 feat(rust, python): Pushdown `is_in` to pyarrow dataset
  polars/polars-lazy/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, enhancement

#8986 feat(rust, python): error on invalid sortby expr
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, enhancement

#8696 refactor(rust, python)!: Remove deprecated tz_aware argument
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/options.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, breaking, refactor

#8995 refactor!(python): Remove old deprecated functionality
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/database.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/test_df.py
Labels: python, refactor

#8617 fix(rust): JoinBuilder::force_parallel is modifying allow_parallel
  polars/polars-lazy/src/frame/mod.rs
Labels: rust, fix

#8994 feat(rust, python)!: raise error when sorted flag not set
  polars/polars-core/src/frame/asof_join/mod.rs
  polars/polars-core/src/utils/series.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, breaking, enhancement

#8993 feat(rust, python)!: disallow time zones other than those in zoneinfo.available_timezones()
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/fmt.rs
  polars/polars-io/src/csv/write_impl.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/polars-time/src/upsample.rs
  polars/polars-time/src/windows/groupby.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, breaking, enhancement

#8990 fix(python): deprecate `time_unit` property from `Series`
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, fix

#9000 chore(rust): replace pattern match with unwrap
  polars/polars-time/src/upsample.rs
Labels: rust, chore

#9011 chore: Fix CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#9004 fix(python): don't allow silent init of `Series` declared as int/temporal with floating point values
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_exprs.py
Labels: python, fix

#8999 refactor(rust,python)!: Rename list namespace accesor from `.arr` to `.list`
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-sql/src/functions.rs
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/attributes.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_schema.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, breaking, highlight, refactor

#9012 fix(rust, python): fix fused arithmetic in window functions
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: python, rust, fix

#9005 docs(python): minor `SQLContext` docstring cleanups
  py-polars/polars/sql/context.py
Labels: documentation, python, sql

#9008 refactor(python)!: Drop subclassing support for `DataFrame`/`LazyFrame`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, breaking, refactor

#9013 fix(rust, python): raise error on invalid aggregation
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, fix

#9017 chore: update simd-json
  polars/polars-io/Cargo.toml
  polars/polars-json/Cargo.toml
  py-polars/Cargo.lock
Labels: chore

#9020 fix(python): respect inner type in Array construction
  py-polars/polars/datatypes/constructor.py
  py-polars/src/series/construction.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, fix

#9021 feat(rust, python): improve error message on row-wise overflow
  polars/polars-core/src/frame/row/av_buffer.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#9027 refactor(python,rust): Clean up `arange`/`date_range`/`time_range`
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  py-polars/polars/__init__.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range.py
  py-polars/polars/series/datetime.py
  py-polars/polars/utils/various.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/functions/test_range.py
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, refactor

#9035 fix(rust, python): fix apply with passed date/datetime return_dtype
  py-polars/src/series/mod.rs
  py-polars/tests/unit/operations/test_apply.py
Labels: python, rust, fix
