Repository pola-rs/polars, pull requests merged in 2023-07, with the labels that each got.

#9636 feat(rust, python): add dt.base_utc_offset
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-time/src/base_utc_offset.rs
  polars/polars-time/src/lib.rs
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#9624 feat(python): Pass through stdin/stderr buffer in to_csv
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, enhancement

#9657 chore(python): bump ruff
  py-polars/Makefile
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dependencies.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/sql/context.py
  py-polars/requirements-lint.txt
Labels: python, skip-changelog, chore

#9655 feat(rust, python): add symmetric difference to list set operations
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/sets.rs
  py-polars/Cargo.lock
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/conversion.rs
  py-polars/src/expr/list.rs
Labels: python, rust, enhancement

#9664 docs(python): Add examples to .merge_sorted
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#9660 feat(rust): add polars::VERSION
  polars/src/lib.rs
Labels: rust, enhancement

#9663 chore(python): remove false "eager=True" from date_range tests
  py-polars/tests/unit/functions/test_range.py
Labels: python, chore

#9661 fix(python): Align dependency versions
  py-polars/polars/dataframe/frame.py
  py-polars/polars/utils/show_versions.py
  py-polars/pyproject.toml
Labels: python, fix

#9641 feat(python,rust): extend dtype/selector matching for `Datetime` with a "*" wildcard for timezones
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constants.py
  py-polars/polars/selectors.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, enhancement

#8591 fix(rust, python): respect time_zone in lazy date_range
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/functions/test_range.py
Labels: python, rust, fix

#9573 feat(rust,python): add `.list.any()` and `.list.all()`
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/list/any_all.rs
  polars/polars-ops/src/chunked_array/list/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, enhancement

#9675 fix(rust, python): raise if to_datetime would have parsed input incorrectly
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/time_series/test_to_datetime.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, fix

#9678 docs(python): Clarify Dataframe.corr operates on columns
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#9666 refactor(rust,python): refactor `arange` and add `int_range`/`int_ranges`
  polars/polars-core/src/serde/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/range.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/range.py
  py-polars/polars/type_aliases.py
  py-polars/src/functions/lazy.rs
  py-polars/src/functions/mod.rs
  py-polars/src/functions/range.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_range.py
Labels: python, rust, refactor

#9683 docs(python): improve `selector` utility functions with better docstrings/examples
  py-polars/polars/selectors.py
Labels: documentation, python, enhancement

#9679 build(python)!: drop Python 3.7 support
  .github/workflows/lint-python.yml
  .github/workflows/release-python.yml
  .github/workflows/test-python.yml
  py-polars/Cargo.toml
  py-polars/polars/config.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/io/excel/_write_utils.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/profiles.py
  py-polars/polars/type_aliases.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/show_versions.py
  py-polars/polars/utils/various.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interchange.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_series.py
Labels: python, breaking, build

#9684 feat(rust, python): add tree formatter for expressions
  Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/meta.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/tree_format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/visitors.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/polars/expr/meta.py
  py-polars/src/expr/meta.rs
  py-polars/tests/unit/namespaces/test_meta.py
Labels: python, rust, enhancement

#9686 docs(python): additional ADBC examples and docstring information for `read_database` (inc snowflake)
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database.py
Labels: documentation, python

#9693 fix(rust, python): fix ne_missing for booleans vs lit
  polars/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/tests/unit/operations/test_comparison.py
Labels: python, rust, fix

#9692 feat(rust, python): raise on both sides of datetime/str comparison
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/binary.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#9682 feat(python,rust): missing column width can be set exactly (not as a lower bound)
  polars/polars-core/src/fmt.rs
Labels: python, rust, skip-changelog, enhancement

#9700 fix(rust, python): fix cse_plan invalid projection removal
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-utils/src/arena.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#9694 fix(rust, python): increment seed between samples
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/random.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/random.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_random.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#9705 feat(rust, python): set string cache in window functions
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl/batched_mmap.rs
  polars/polars-io/src/csv/read_impl/batched_read.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/tests/it/core/joins.rs
Labels: python, rust, enhancement

#9670 fix(rust, python): fix result dtype in date_range(..., eager=True) if duration contains "1s1d"
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  py-polars/polars/functions/range.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_range.py
Labels: python, rust, fix

#9704 feat(rust, python): improve expression formatting
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, enhancement

#9709 fix(rust, python): don't run hstack checks when using cached names
  polars/polars-core/src/frame/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
Labels: python, rust, fix

#9714 chore(rust): Fix small typo
  polars/polars-io/src/csv/write_impl.rs
Labels: rust, chore

#9716 chore(python): Fix some more type hints
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/operations/test_arithmetic.py
  py-polars/tests/unit/operations/test_comparison.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_schema.py
Labels: python, chore

#9681 refactor(python,rust): More cleanup for `arange`
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/index.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/range.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/Cargo.toml
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/functions/range.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/tests/unit/functions/test_range.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, refactor

#9715 feat(python, rust): clearer message when stringcache-related errors occur
  polars/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-error/src/lib.rs
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust, enhancement

#9721 fix(rust, python) improve glob pattern testing
  polars/polars-lazy/src/frame/file_list_reader.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/_utils.py
Labels: python, rust, fix

#9720 fix(rust, python): don't clear rev_map when categorical series is cle…
  polars/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#9580 feat(rust, python): Improve cut and allow use in expressions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/cut.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_statistics.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#9735 fix(rust, python): Fix list intersection
  polars/polars-ops/src/chunked_array/list/sets.rs
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/namespaces/test_list.py
Labels: python, rust, fix

#9732 fix(rust, python): Fix list symmetric difference
  py-polars/polars/expr/list.py
  py-polars/src/conversion.rs
Labels: python, rust, fix

#9730 fix(rust, python): Loosen restrictions on cut expressions and add docs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: python, rust, fix

#9742 fix(rust, python): merge rev-maps when building list arrays of categoricals.
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/builder/list/anonymous.rs
  polars/polars-core/src/chunked_array/builder/list/binary.rs
  polars/polars-core/src/chunked_array/builder/list/boolean.rs
  polars/polars-core/src/chunked_array/builder/list/categorical.rs
  polars/polars-core/src/chunked_array/builder/list/dtypes.rs
  polars/polars-core/src/chunked_array/builder/list/mod.rs
  polars/polars-core/src/chunked_array/builder/list/primitive.rs
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/object/extension/list.rs
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/named_from.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/src/apply/mod.rs
  py-polars/src/apply/series.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#9745 feat(rust, python): allow qcut in window expressions
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/operations/test_statistics.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#9766 docs(python): Add `rows_by_key` docs
  py-polars/docs/source/reference/dataframe/modify_select.rst
Labels: documentation, python

#9760 fix(python): fix import error when writing parquet with pyarrow
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, fix

#9782 docs(python): add missing `last` entry
  py-polars/docs/source/reference/expressions/functions.rst
Labels: documentation, python

#9769 refactor(python,rust): More cleanup around `arange`
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/range.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/index.rs
  polars/tests/it/lazy/expressions/apply.rs
  py-polars/Cargo.lock
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/range.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/src/functions/range.rs
Labels: python, rust, refactor

#9789 chore(python,rust): Small updates to issue templates
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yml
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  CONTRIBUTING.md
Labels: python, rust, chore

#9787 fix(rust,python): fix supertype detection
  polars/polars-core/src/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#9772 feat(python): add new `duration` selector and improve selector typing
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#9798 docs(python): improve note about the behaviour when converting from ns-precision temporal values to python-native types
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#9797 fix(rust, python): fix row-count schema
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/tests/it/lazy/cse.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#9788 fix(python): improve/fix `write_database` handling of db schema and quoted table names
  py-polars/polars/dataframe/frame.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_database.py
Labels: python, fix

#9802 feat(python,rust,cli): add SQL support for binary data and expand recognised SQL dtype strings
  polars/polars-sql/src/sql_expr.rs
  polars/polars-sql/tests/simple_exprs.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql, cli

#9803 feat(python,rust,cli): add support for SQL `SUBSTR` function
  polars/polars-sql/src/functions.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql, cli

#9794 perf(python): speed up `in series` 10x
  py-polars/polars/series/series.py
Labels: python, performance

#9747 fix(rust, python): allow +00:00 when loading from arrow
  polars/polars-core/src/series/from.rs
  py-polars/tests/unit/io/files/tz_aware.parquet
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#9807 perf(rust, python): use hash set in drop_many
  polars/polars-core/src/frame/mod.rs
Labels: python, rust, performance

#9799 refactor(rust): cluster file scans in one node
  polars/polars-core/src/cloud.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/csv.rs
  polars/polars-lazy/polars-pipe/src/executors/sources/parquet.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/dot.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/file_scan.rs
  polars/polars-lazy/polars-plan/src/logical_plan/format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/file_caching.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-ops/Cargo.toml
Labels: rust, refactor

#9752 feat(python,rust): Dedicated horizontal aggregation functions
  polars/polars-lazy/polars-plan/src/dsl/functions/horizontal.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/tests/it/lazy/folds.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/aggregation/__init__.py
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/aggregation/vertical.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/functions/aggregation.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/functions/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/aggregation/__init__.py
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
  py-polars/tests/unit/functions/aggregation/test_vertical.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/operations/test_arithmetic.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_folds.py
  py-polars/tests/unit/test_arity.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_expr_multi_cols.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#9821 chore(python, rust): Remove stray `arr.eval` references
  polars/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, chore, fix

#9818 fix(rust, python): dont preserve sortedness in offset_by for tz-aware non-constant durations
  polars/polars-lazy/polars-plan/src/dsl/function_expr/temporal.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, fix

#9814 feat(rust): add drop_many_amortized
  polars/polars-core/src/frame/mod.rs
Labels: rust, enhancement

#9825 fix(rust, python): fix array concat and Series::fill_null
  polars/polars-core/src/series/implementations/array.rs
  polars/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, rust, fix

#9672 feat(rust, python): add `maintain_order` argument to `sort`/`top_k`/`bottom_k`
  polars/polars-algo/src/algo.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/top_k.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/node_timer.rs
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/streaming.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-ops/src/series/ops/various.rs
  polars/polars-sql/src/context.rs
  polars/polars-sql/tests/iss_7437.rs
  polars/polars-sql/tests/ops_distinct_on.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/src/docs/lazy.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/expr/general.rs
  py-polars/src/lazyframe.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, enhancement, fix

#9823 test(python,rust): Refactor failing test
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, test

#9827 fix(rust, python): fix regex + exclude
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/test_expansion.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#9838 feat(rust,python,cli): add `REGEXP_LIKE` function for SQL (both two and three parameter version)
  polars/polars-sql/src/functions.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9836 feat(rust,python,cli): add `LEFT` string function for SQL
  polars/polars-sql/src/functions.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9834 fix(rust, python): don't go into streaming engine when groupby by list
  polars/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#9750 feat(rust,python): add `include_key` parameter to `partition_by`
  polars/polars-core/src/frame/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, enhancement

#9839 chore(rust): Fix all clippy warnings in the test suite
  .github/workflows/lint-rust.yml
  polars/Makefile
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-core/src/chunked_array/builder/mod.rs
  polars/polars-core/src/chunked_array/list/iterator.rs
  polars/polars-core/src/chunked_array/ops/explode.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-core/src/testing.rs
  polars/polars-lazy/polars-plan/src/logical_plan/tree_format.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/visitors.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/io.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/tests/streaming.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-sql/tests/functions_meta.rs
  polars/polars-sql/tests/simple_exprs.rs
  polars/polars-time/src/groupby/dynamic.rs
  polars/src/docs/eager.rs
  polars/tests/it/core/date_like.rs
  polars/tests/it/core/ops/take.rs
  polars/tests/it/io/csv.rs
  polars/tests/it/io/ipc_stream.rs
  polars/tests/it/io/json.rs
  polars/tests/it/lazy/cse.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/expressions/window.rs
  polars/tests/it/lazy/predicate_queries.rs
  polars/tests/it/lazy/projection_queries.rs
  polars/tests/it/lazy/queries.rs
Labels: rust, chore

#9811 fix(rust, python): shrink_type on all-null columns
  polars/polars-lazy/polars-plan/src/dsl/function_expr/shrink_type.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#9843 fix(rust, python): fix row-encode of 32 byte payloads
  polars/polars-row/src/encode.rs
  polars/polars-row/src/variable.rs
  py-polars/src/conversion.rs
Labels: python, rust, fix

#9826 feat(rust, python): Add Run-length Encoding functions
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/rle.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
Labels: python, rust, enhancement

#9864 docs(python): add logo `link` entry to sphinx conf and factor-out website root paths
  py-polars/docs/source/conf.py
Labels: documentation, python

#9853 perf(python): Use `pyo3::intern` to avoid needlessly recreating PyString
  py-polars/Cargo.lock
  py-polars/src/conversion.rs
Labels: python, performance

#9868 feat(rust, python): `polars_warn!` macro
  polars/polars-core/src/prelude.rs
  polars/polars-error/src/lib.rs
  polars/polars-error/src/warning.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/various.py
  py-polars/src/on_startup.rs
Labels: python, rust, enhancement

#9860 feat(rust,python,cli): add `LENGTH` and `OCTET_LENGTH` string functions for SQL
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-sql/src/functions.rs
  py-polars/src/expr/string.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement, sql

#9869 feat(rust, python): Expr.cat.get_categories expression
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-lazy/polars-plan/src/dsl/cat.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/cat.rs
  py-polars/docs/source/reference/expressions/categories.rst
  py-polars/docs/source/reference/series/categories.rst
  py-polars/polars/expr/categorical.py
  py-polars/polars/series/categorical.py
  py-polars/src/expr/categorical.rs
  py-polars/tests/unit/namespaces/test_categorical.py
Labels: python, rust, enhancement

#9872 fix(rust, python): fmt unknown dtype
  polars/polars-core/src/datatypes/dtype.rs
Labels: python, rust, fix

#9876 feat(rust, python): allow set_sorted in streaming
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/streaming/checks.rs
Labels: python, rust, enhancement

#9875 fix(python,rust,cli): preserve expression aliases when parsing SQL with `pl.sql_expr`
  polars/polars-sql/src/functions.rs
  polars/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, fix, sql

#9880 fix(rust): Allow None as exponent
  polars/polars-lazy/polars-plan/src/dsl/function_expr/pow.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_series.py
Labels: rust, fix

#9879 docs(python): note ordering guarantee for groupby
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#9882 feat(rust, python): respect and allow more options in eager json parsing
  polars/polars-core/src/schema.rs
  polars/polars-io/src/json/mod.rs
  polars/polars-io/src/ndjson/buffer.rs
  polars/polars-io/src/ndjson/core.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, enhancement

#9881 feat(python): convenience support for parsing a list of SQL strings with `sql_expr`
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/test_sql.py
Labels: python, enhancement, sql

#9867 refactor(rust): Rolling quantile and median use DynArgs
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/nulls/quantile.rs
  polars/polars-arrow/src/kernels/rolling/window.rs
  polars/polars-arrow/src/prelude.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/floats.rs
  polars/polars-time/src/chunkedarray/rolling_window/ints.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  polars/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  polars/polars-time/src/series/_trait.rs
  polars/polars-time/src/series/implementations/floats.rs
  polars/polars-time/src/series/implementations/integers.rs
  polars/tests/it/core/rolling_window.rs
  py-polars/src/expr/general.rs
Labels: rust, refactor

#9819 perf(rust, python): Rolling min/max for partially sorted data
  polars/polars-arrow/src/kernels/rolling/no_nulls/min_max.rs
Labels: python, rust, performance

#9894 fix(rust, python): sum aggregation empty set is 0, not null
  polars/polars-core/src/chunked_array/upstream_traits.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/groupby.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/test_queries.py
Labels: python, rust, fix

#9895 fix(python): Handle `DataFrame.vstack` stacking itself
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_vstack.py
  py-polars/tests/unit/test_lazy.py
Labels: python, fix

#9896 feat(rust, python): pass through unknown schema in unnest
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
Labels: python, rust, enhancement

#9886 fix(rust,python) respect original series dtype when constructing `LitIter`
  polars/polars-lazy/src/physical_plan/expressions/group_iter.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#9863 docs(python): Mention func_horizontal on deprecated func docstrings
  py-polars/polars/functions/aggregation/vertical.py
Labels: documentation, python

#9907 chore(python): Workaround for PyCharm deprecation warning
  py-polars/polars/functions/aggregation/vertical.py
Labels: python, chore

#9885 chore(python): Update autolabeler
  .github/release-drafter.yml
Labels: python, internal

#9909 chore: Fix autolabeler regex
  .github/release-drafter.yml
Labels: skip-changelog, internal

#9906 docs(python): add big warnings about using apply
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/groupby.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9903 chore(python): Add various unit tests
  py-polars/polars/config.py
  py-polars/polars/utils/show_versions.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/namespaces/test_array.py
  py-polars/tests/unit/namespaces/test_struct.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_show_graph.py
  py-polars/tests/unit/utils/test_parse_expr_input.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, chore

#9874 chore(rust): Minor makeover for Rust Makefile
  .github/workflows/lint-rust.yml
  polars/Makefile
  py-polars/Makefile
Labels: rust, internal

#9904 chore(rust): fix docs build and add to CI
  .github/workflows/docs-rust.yml
  polars/polars-core/Cargo.toml
  polars/polars-core/src/datatypes/_serde.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/ops/moment.rs
  polars/polars-io/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/Cargo.lock
Labels: rust, internal

#9911 fix(python): don't SO on align_frames
  py-polars/polars/functions/eager.py
Labels: python, fix

#9914 chore(python): Use Pathlib everywhere
  py-polars/docs/source/conf.py
  py-polars/polars/config.py
  py-polars/polars/io/_utils.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/various.py
  py-polars/pyproject.toml
  py-polars/scripts/check_stacklevels.py
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/io/conftest.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_database.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/streaming/conftest.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_sql.py
Labels: python, internal

#9901 feat(python): Add `Series.extend`
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/series/series.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/dataframe/__init__.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/series/__init__.py
  py-polars/tests/unit/series/test_append.py
  py-polars/tests/unit/series/test_extend.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement, deprecation

#9848 feat(rust, python): Optional three-valued logic for any/all
  polars/polars-core/src/chunked_array/comparison/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/boolean.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-sql/src/sql_expr.rs
  polars/tests/it/lazy/expressions/window.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/aggregation/vertical.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
Labels: python, rust, enhancement

#9897 fix(python): Handle `DataFrame.extend` extending by itself
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_extend.py
  py-polars/tests/unit/dataframe/test_vstack.py
Labels: python, fix

#9913 refactor(python): deprecate `bins` argument and rename to `breaks` in `Series.cut`
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_statistics.py
  py-polars/tests/unit/test_errors.py
Labels: python, refactor, internal

#9921 feat(rust, python): Add cloudpickle for serializing python UDFs
  polars/polars-lazy/polars-plan/src/dsl/python_udf.rs
  py-polars/polars/utils/show_versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_serde.py
Labels: python, rust, enhancement

#9926 docs(python): improve `weekday`, `day`, `ordinal_day` examples
  py-polars/polars/expr/datetime.py
Labels: documentation, python

#9919 docs(python): Address ignored Ruff doc rules
  py-polars/docs/source/conf.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/groupby.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/delta.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/various.py
  py-polars/pyproject.toml
  py-polars/scripts/check_stacklevels.py
  py-polars/tests/docs/run_doctest.py
  py-polars/tests/unit/utils/test_utils.py
Labels: documentation, python

#9937 docs(python): fix hyperlinks to pandas
  py-polars/polars/convert.py
Labels: documentation, python

#9935 docs(python): Add 'nearest' in Expr.interpolation docstring with an example
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9939 docs(python): Move `sink_*` methods to IO chapter
  py-polars/docs/source/reference/io.rst
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
Labels: documentation, python

#9932 feat(rust, python): keep sorted flag in streaming left join
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#9938 fix(rust,python): Fix as-of join when `by` groups are interleaved
  polars/polars-core/src/frame/asof_join/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#9942 docs(python): Improve docstrings for renaming operations
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#9944 feat(rust, python): maintain sorted flag after partition_by
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-io/src/partition.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/joins/inner_left.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/sort/ooc.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#9946 fix(rust, python): raise on unsupported transpose and object types
  polars/polars-core/src/frame/row/transpose.rs
  polars/polars-core/src/series/iterator.rs
  py-polars/tests/unit/operations/test_transpose.py
Labels: python, rust, fix

#9950 fix(rust, python): potential SO in csv infer schema
  polars/polars-io/src/csv/utils.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#9953 docs(python): minor fix for `apply` docstring example text
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#9964 docs(python): fix or/and docstrings to say bitwise, not logical
  py-polars/polars/expr/expr.py
Labels: documentation, python

#9969 chore(python): use param_name more in udfs for greater defensiveness
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, internal

#9972 feat(python): initial support for parsing the set of `jump` bytecode instructions required to reconstruct `and/or` logic
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#9974 feat(python): add freeze_panes option to write_excel
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#9979 refactor(python): use original `Instruction` objects during bytecode translation
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, skip-changelog, internal

#9984 chore: Update autolabeler again
  .github/release-drafter-python.yml
  .github/release-drafter-rust.yml
  .github/release-drafter.yml
  CONTRIBUTING.md
Labels: python, rust, internal

#9960 feat(rust, python): Let qcut create evenly spaced probabilities
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-ops/src/series/ops/cut.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, enhancement

#9936 feat(python): adds `SQRT`, `CBRT`, `PI` functions to `SQLContext`
  polars/polars-lazy/polars-plan/src/dsl/arithmetic.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/pow.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-sql/src/functions.rs
  polars/polars-sql/tests/functions_math.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement, sql

#9987 fix(rust, python): fix incorrect state in projection pushdown with joins
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#9899 feat(rust,python): add use_earliest argument to truncate
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-time/src/month_start.rs
  polars/polars-time/src/truncate.rs
  polars/polars-time/src/utils.rs
  polars/polars-time/src/windows/duration.rs
  polars/polars-time/src/windows/window.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: enhancement

#9846 feat(python): Name transpose from column
  py-polars/polars/dataframe/frame.py
Labels: python, enhancement

#9990 feat(python): improved bytecode edge-cases and stacklevel introspection
  py-polars/polars/utils/udfs.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, skip changelog, enhancement, internal

#9985 refactor(python): Clean up `date_range`/`time_range`
  py-polars/polars/functions/range.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/functions/range.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_range.py
Labels: python, internal

#9991 refactor(python): fix type hint
  py-polars/polars/dataframe/frame.py
Labels: python, skip changelog, internal

#9993 refactor(python): restructure all UDF parsing/translation methods into a new `BytecodeParser` class
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, internal

#9995 build(python): Add patchelf extra to maturin
  py-polars/requirements-dev.txt
Labels: python, build

#10003 feat(python): support bytecode identification of `numpy` functions in UDFs that we can map to native expressions
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10004 chore(python): cleans api sections in docs
  py-polars/docs/Makefile
Labels: python, internal

#10007 feat(python): support bytecode identification/mapping of python string-case functions in UDFs
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10013 chore(rust): add developer contribution examples
  Cargo.toml
  contribution/README.md
  contribution/polars_ops_multiple_arguments/Cargo.toml
  contribution/polars_ops_multiple_arguments/src/lib.rs
Labels: rust, internal

#10011 perf(rust): Remove fused arithmetic from expressions with literals
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  py-polars/tests/unit/operations/test_arithmetic.py
Labels: rust, performance

#10012 refactor(python): split-out expression translation and instruction-rewrite logic from `BytecodeParser`
  py-polars/polars/utils/udfs.py
Labels: python, internal

#10021 feat(python): detect and warn about bare `numpy` functions passed to `apply`
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10023 feat(python): detect and warn about usage of `json.loads` in conjunction with `apply`
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_apply.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10026 feat(python): detect and warn about usage of str/int/float python-based casts with `apply`
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, enhancement

#10032 docs(rust): correct example in API reference
  polars/polars-lazy/src/lib.rs
Labels: documentation, rust

#9632 feat(rust, python): common subexpression elemination
  polars/Makefile
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/constants.rs
  polars/polars-lazy/polars-plan/src/dsl/functions/temporal.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/frame/opt_state.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder_alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder_functions.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/logical_plan/iterator.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/fused.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/melt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/stack_opt.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/projection_expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/expr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/visitor/visitors.rs
  polars/polars-lazy/polars-plan/src/prelude.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/polars-utils/src/vec.rs
  polars/tests/it/lazy/cse.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/schema.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, enhancement

#10038 docs(rust): fix typo in contribution example
  contribution/polars_ops_multiple_arguments/src/lib.rs
Labels: documentation, rust

#10039 perf(rust, python): shrink alp/lp `~2.5x`
  polars/polars-lazy/polars-plan/src/logical_plan/alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder_alp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/groupby.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown/semi_anti_join.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/polars-plan/src/logical_plan/schema.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
Labels: python, rust, performance

#10037 feat(python): add dataframe.flags property
  py-polars/docs/source/reference/dataframe/attributes.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, enhancement

#10050 feat(rust, python): comm_subexpr_elim in streaming 'select/with_columns'
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-pipe/Cargo.toml
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/logical_plan/conversion.rs
  polars/polars-lazy/polars-plan/src/utils.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, enhancement

#10027 test(python): add pure-python tests and CI for bytecodeparser
  .github/workflows/test-bytecode-parser.yml
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/udfs.py
  py-polars/tests/__init__.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/test_udfs.py
  py-polars/tests/unit/operations/test_inefficient_apply.py
Labels: python, internal

#10040 refactor(python): much-improved `Instruction` matching for `BytecodeParser`
  py-polars/polars/utils/udfs.py
Labels: python, internal

#10051 fix(rust, python): Fix weighted quantile for 0 weights
  polars/polars-arrow/src/kernels/rolling/no_nulls/quantile.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix
