Repository pola-rs/polars, pull requests merged in 2023-02, with the labels that each got.

#6614 feat(rust, python): add streamable udfs
  polars/polars-lazy/polars-pipe/src/executors/operators/function.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/mod.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/placeholder.rs
  polars/polars-lazy/polars-pipe/src/pipeline/convert.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/options.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, enhancement

#6615 refactor(python): make `structify` behaviour experimental, while also extending it to aliased expressions
  py-polars/polars/cfg.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, refactor

#6602 fix(rust, python) cast to and from fixed offsets
  polars/polars-arrow/src/kernels/time.rs
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, fix

#6517 feat(python): Implement unary plus operation on exprs and series
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_arithmetic.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6534 fix(python): Fix _repr_html_ double-height rows (#5645)
  py-polars/polars/_html.py
Labels: python, fix

#6626 test(python): Consistent handling of env vars
  py-polars/tests/slow/test_streaming.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/test_cfg.py
  py-polars/tests/unit/test_interchange.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_streaming.py
Labels: python, test

#6628 fix(python): treat literal values consistently in `select` context, improve related typing
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/type_aliases.py
  py-polars/polars/internals/whenthen.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6629 feat(rust, python): expression functions should be nullable
  polars/polars-core/src/utils/mod.rs
  polars/polars-io/src/parquet/mmap.rs
  polars/polars-lazy/polars-plan/src/dsl/cat.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/arg_where.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/list.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/pow.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/string.rs
  polars/polars-lazy/polars-plan/src/dsl/struct_.rs
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/tests/it/lazy/expressions/arity.rs
  polars/tests/it/lazy/expressions/filter.rs
  polars/tests/it/lazy/expressions/mod.rs
  polars/tests/it/lazy/folds.rs
  polars/tests/it/lazy/mod.rs
  polars/tests/it/lazy/queries.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust, enhancement

#6635 feat(rust, python): implement fill_null for list data
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/fill_null.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust, enhancement

#6630 docs(python): provide additional examples for `diff` methods
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
Labels: documentation, python

#6627 docs(python): add example of using `is_between` with string bounds, and extend test coverage for the same
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
Labels: documentation, python

#6636 chore(python): make string_repr private
  py-polars/polars/datatypes.py
  py-polars/polars/internals/dataframe/frame.py
Labels: python, chore, fix

#6646 docs(python): update `extend_constant` docs/typing (and test coverage)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: documentation, python

#6637 refactor(python): unify `nan_to_null` and `nan_to_none` parameter names, expose to DataFrame init, add test coverage
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_interop.py
Labels: python, refactor

#6640 fix(python): Tiny improvement of `Field` repr
  py-polars/polars/datatypes.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, fix

#6642 test(python): Use pytest marker for slow tests
  .github/workflows/test-python.yaml
  py-polars/Cargo.lock
  py-polars/Makefile
  py-polars/pyproject.toml
  py-polars/tests/slow/__init__.py
  py-polars/tests/slow/conftest.py
  py-polars/tests/slow/read_csv.py
  py-polars/tests/slow/test_overflow.py
  py-polars/tests/slow/test_parquet.py
  py-polars/tests/slow/test_streaming.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_joins.py
  py-polars/tests/unit/test_streaming.py
Labels: python, test

#6653 feat(python): improved exceptions on attempt to use invalid schema/dtypes
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
Labels: python, enhancement

#6661 fix(python): Preserve Expr name in `is_between`
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#6663 fix(python): improve behaviour of dict-expansion (scalars) when mixed with numpy arrays
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_df.py
Labels: python, fix

#6665 fix(rust, python): true-divide output type
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#6667 feat(python): More ergonomic `select` args
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#6659 feat(rust, python): disallow with_time_zone from/to tz-naive
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/src/date_range.rs
  polars/polars-time/src/upsample.rs
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_rolling.py
Labels: python, rust, enhancement

#6668 test(python): Split long test modules (namespaces)
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/namespaces/test_string.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_strings.py
  py-polars/tests/unit/test_timezone.py
  py-polars/tests/unit/test_utf8.py
Labels: python, test

#6670 feat(rust,python): better-characterise `NotFound` exceptions
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-core/src/error.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/schema.rs
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/builder.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/column.rs
  polars/tests/it/lazy/projection_queries.rs
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#6680 docs(rust): update Required Rust version to 1.58->1.62
  README.md
Labels: documentation, rust

#6682 fix(rust, python): remove uses of rayon global thread pool
  polars/polars-core/src/chunked_array/ndarray.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/hash_join/single_keys.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-io/src/parquet/write.rs
  polars/polars-lazy/polars-pipe/src/pipeline/dispatcher.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-time/src/windows/groupby.rs
Labels: python, rust, fix

#6681 chore(rust) disallow chunked datetime with_time_zone on tznaive, remove unnecessary with_time_zone
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-time/src/date_range.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, chore

#6678 feat(python):Add return_as_string arg to DF.glimpse; default=False
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6677 fix(python): Raise ValueError on adding float to Series of dtype date
  py-polars/polars/datatypes.py
  py-polars/tests/unit/test_series.py
Labels: python, fix

#6675 fix(python): Support numpy ufunc when expression not first arg
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
Labels: python, fix

#6671 fix(rust): improve error message in date_range with invalid units
  polars/polars-time/src/windows/duration.rs
  py-polars/tests/unit/test_datelike.py
Labels: rust, fix

#6674 feat(rust): guarantee schema-stable `col(dtype)` selection
  polars/polars-lazy/polars-plan/src/logical_plan/projection.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
Labels: rust, enhancement

#6686 feat(python): More ergonomic `with_columns` args
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6693 feat(rust): deprecate tz_localize
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  py-polars/src/lazy/dsl.rs
Labels: rust, enhancement

#6721 fix(rust,python): return correct display/repr names for NaN-related expressions
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
Labels: python, rust, fix

#6725 docs(rust): add groupby_dynamic to docs
  polars/Cargo.toml
Labels: documentation, rust

#6727 chore(rust): remove unreachable path in write_anyvalue
  polars/polars-io/src/csv/write_impl.rs
Labels: rust, chore

#6726 fix(python): respect 'None' in from_dicts
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/frame/row.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_schema.py
Labels: python, fix

#6732 fix(rust, python): arrow map dtype conversion
  polars/polars-core/src/series/from.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_interop.py
Labels: python, rust, fix

#6733 feat(python): don't require pyarrow for utf8 -> numpy conversion
  py-polars/polars/internals/series/series.py
  py-polars/src/error.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/npy.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#6742 feat(rust, python): Support an ignore_nulls param for EWM calculations. (#5749)
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#6715 fix(rust,python): Improve error message in DataFrame constructor
  polars/polars-core/src/frame/mod.rs
Labels: python, rust, fix

#6737 feat(python): Improved assert equal messages
  py-polars/polars/testing/asserts.py
  py-polars/tests/unit/test_testing.py
Labels: python, enhancement

#6695 test(python): Reorganize benchmark test folder
  .github/workflows/benchmark.yaml
  .github/workflows/test-python.yaml
  CONTRIBUTING.md
  py-polars/Makefile
  py-polars/pyproject.toml
  py-polars/tests/README.md
  py-polars/tests/benchmark/__init__.py
  py-polars/tests/benchmark/groupby-datagen.R
  py-polars/tests/benchmark/run_h2oai_benchmark.py
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/db-benchmark/lazy_vs_eager.py
  py-polars/tests/db-benchmark/various.py
  py-polars/tests/docs/__init__.py
  py-polars/tests/docs/run_doctest.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/io/conftest.py
Labels: python, test

#6738 feat(python): Improve numpy support: conversion of numpy arrays with …
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/src/conversion.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6746 feat(rust, python): add argmin/max for utf8 data
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  polars/polars-ops/src/series/ops/arg_min_max.rs
  polars/polars-ops/src/series/ops/is_first.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust, enhancement

#6748 chore(rust): update arrow to 0.16
  Cargo.toml
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/series/mod.rs
Labels: rust, chore

#6749 docs(python): redirect tz_localize
  py-polars/docs/source/reference/expressions/timeseries.rst
  py-polars/docs/source/reference/series/timeseries.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_datelike.py
Labels: documentation, python

#6751 test(python): integrate `ignore_nulls` into EWM parametric tests
  py-polars/tests/parametric/test_series.py
Labels: python, test

#6754 fix(rust, python): respect skip_rows in glob parsing csv
  polars/polars-lazy/src/frame/csv.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#6758 feat(rust, python): formally support duration division
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#6744 build(python): Update `mypy` to version `1.0.0`
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
Labels: python, build

#6756 feat(python): Add option to use PyArrow backed-extension arrays when …
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6766 feat(rust, python): parse timezone from Datetime
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-time/src/chunkedarray/utf8/infer.rs
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/groupby/dynamic.rs
  py-polars/polars/internals/expr/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, enhancement

#6765 fix(rust,python): handle edge-case with string-literal replacement when the replace value looks like a capture group
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#6771 feat(python): default to 1d interval in date_range
  py-polars/polars/internals/functions.py
Labels: python, enhancement

#6772 fix(rust, python): don't set sorted flag if we reverse sort the left …
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
Labels: python, rust, fix

#6769 fix(rust, python): use explicit drop function node
  polars/polars-lazy/polars-plan/src/logical_plan/functions/drop.rs
  polars/polars-lazy/polars-plan/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_drop.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, fix

#6679 feat(rust): implement series abstractions for `Int128Type`
  polars/polars-arrow/src/data_types.rs
  polars/polars-core/src/chunked_array/logical/decimal.rs
  polars/polars-core/src/chunked_array/logical/mod.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/implementations/mod.rs
Labels: enhancement

#5899 feat(python): Add `map_dict` expression.
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/sql/context.py
  py-polars/tests/unit/namespaces/test_string.py
  py-polars/tests/unit/test_exprs.py
Labels: python, enhancement

#6776 fix(rust, python): make some list expressions aware of groupby context
  polars/polars-lazy/polars-plan/src/dsl/list.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#6777 perf(rust): update string replacement codepaths following new benchmarking
  polars/polars-ops/src/chunked_array/strings/namespace.rs
Labels: rust, performance

#6779 feat(python): minor ergonomic affordance; allow `pl.concat` from generator expression
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_df.py
Labels: python, enhancement

#6784 feat(rust, python) rename 'tz' to 'time_zone' in convert_time_zone and replace_time_zone
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-lazy/polars-plan/src/dsl/dt.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
Labels: python, rust, enhancement

#6785 fix(rust, python): fix ndjson empty array parsing
  polars/polars-io/src/ndjson_core/buffer.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#6780 feat(rust, python): accept separator for pivot and to_dummies
  polars/polars-core/src/datatypes/any_value.rs
  polars/polars-core/src/fmt.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/frame/pivot.rs
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/frame/mod.rs
  polars/polars-ops/src/frame/pivot/mod.rs
  polars/polars-ops/src/frame/pivot/positioning.rs
  polars/polars-ops/src/series/_trait.rs
  polars/polars-ops/src/series/implementations/boolean.rs
  polars/polars-ops/src/series/implementations/categoricals.rs
  polars/polars-ops/src/series/implementations/date.rs
  polars/polars-ops/src/series/implementations/datetime.rs
  polars/polars-ops/src/series/implementations/duration.rs
  polars/polars-ops/src/series/implementations/floats.rs
  polars/polars-ops/src/series/implementations/integers.rs
  polars/polars-ops/src/series/implementations/list.rs
  polars/polars-ops/src/series/implementations/mod.rs
  polars/polars-ops/src/series/implementations/object.rs
  polars/polars-ops/src/series/implementations/struct_.rs
  polars/polars-ops/src/series/implementations/time.rs
  polars/polars-ops/src/series/implementations/utf8.rs
  polars/polars-ops/src/series/mod.rs
  polars/polars-ops/src/series/ops/mod.rs
  polars/polars-ops/src/series/ops/to_dummies.rs
  polars/tests/it/core/pivot.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series/series.py
  py-polars/src/dataframe.rs
  py-polars/src/series.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_pivot.py
Labels: python, rust, enhancement

#6786 fix(rust, python): always rechunk if n_chunks > n_rows
  polars/polars-core/src/frame/mod.rs
Labels: python, rust, fix

#6787 feat(python): add update method to ldf/df
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_joins.py
Labels: python, enhancement

#6795 fix(python): enable empty DataFrame (and Series) init from List of Structs/Lists schema/dtype
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/slice.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#6798 fix(python): ensure join frame types are consistent
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_joins.py
Labels: python, fix

#6797 feat(python): boolean `Series` broadcast comparison (eq/neq) against scalar True/False
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6799 perf(rust, python): optimize `arg_min/arg_max`
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-ops/src/series/ops/arg_min_max.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_bool.py
Labels: python, rust, performance

#6803 perf(python): remove pySequence downcast
  py-polars/polars/internals/series/series.py
  py-polars/src/conversion.rs
  py-polars/src/lib.rs
  py-polars/src/list_construction.rs
  py-polars/src/series.rs
Labels: python, performance

#6811 perf(rust): faster `str.contains` literal matching in the small-string regime
  polars/polars-ops/src/chunked_array/strings/namespace.rs
Labels: rust, performance

#6810 feat(rust, python): avoid panic error in strftime with invalid format
  polars/polars-core/src/chunked_array/temporal/datetime.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-time/src/series/mod.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_datelike.py
Labels: python, rust, enhancement

#6816 docs(python): fix lazy `groupby` docstring/rendering
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: documentation, python

#6817 feat(rust, python): properly implement null array
  polars/polars-core/src/chunked_array/from.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-core/src/series/comparison.rs
  polars/polars-core/src/series/from.rs
  polars/polars-core/src/series/implementations/decimal.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/null.rs
  polars/polars-core/src/series/ops/null.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/literal.rs
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/src/series.rs
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#6818 docs(python): various minor docstring rendering fixes
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: documentation, python

#6819 fix(rust, python): respect schema in ndjson
  polars/polars-core/src/chunked_array/ops/full.rs
  polars/polars-core/src/series/any_value.rs
  polars/polars-io/src/ndjson_core/buffer.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#6820 ci(python): Run mypy as part of the lint workflow
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
Labels: python, ci

#6823 chore(python): Fix some broken noqa comments
  py-polars/polars/internals/lazy_functions.py
Labels: python, chore

#6822 chore(rust,python): Update dprint config excludes
  dprint.json
Labels: python, rust, chore

#6821 fix(python): Raise ValueError on passing multiple expressions Numpy ufunc
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_lazy.py
Labels: python, fix

#6829 chore(python,rust): Rename argsort/argsort_by to arg_sort/arg_sort_by
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  polars/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/functions.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/functions.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-utils/src/sort.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_expr_multi_cols.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_sort.py
Labels: python, rust, chore

#6834 fix(python): implement to_list for null dtype
  py-polars/src/series.rs
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#6826 chore(python): Deprecate positional `join` args
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_utils.py
Labels: python, chore

#6835 fix(python): fix numpy/datetime regression
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix

#6481 fix(python): use explicit type-arg for PythonDataType
  py-polars/polars/datatypes.py
Labels: python, fix

#6841 fix(rust, python): stabilize integer operation to minimal required dtype
  polars/polars-lazy/polars-plan/src/dsl/arithmetic.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/aexpr/schema.rs
  polars/polars-lazy/polars-plan/src/logical_plan/lit.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  polars/polars-lazy/src/tests/mod.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#6850 refactor(python): parenthesise `col` type signature to improve hint interaction with PyCharm
  py-polars/polars/internals/lazy_functions.py
Labels: python, refactor

#6848 fix(rust): Do not panic when failing to extract numeric value
  polars/polars-core/src/datatypes/any_value.rs
  py-polars/tests/unit/test_schema.py
Labels: rust, fix

#6845 fix(rust, python): fix schema of functions:
  polars/polars-lazy/polars-plan/src/dsl/expr.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  py-polars/src/lazy/dsl.rs
Labels: python, rust, fix

#6844 fix(python): Fix pl.from_dataframe() as pyarrow.interchange was not i…
  py-polars/polars/convert.py
  py-polars/tests/unit/test_interchange.py
Labels: python, fix

#6854 chore(python): un-skip passing test
  py-polars/tests/unit/io/test_csv.py
Labels: python, chore

#6855 perf(rust, python): remove unneeded series allocations in groupby aggs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: python, rust, performance

#6857 refactor(rust): split agg in modules and make quantile DRY
  polars/polars-core/src/chunked_array/ops/aggregate/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  polars/polars-core/src/chunked_array/ops/aggregate/var.rs
Labels: rust, refactor

#6851 refactor(python): Deprecate non-keyword args for some functions
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_utils.py
Labels: python, refactor

#6852 docs(python): further improve struct expr docstrings
  py-polars/polars/internals/expr/struct.py
Labels: documentation, python

#6849 fix(rust): Do not panic when infering schema from empty rows
  polars/polars-core/src/frame/row.rs
  py-polars/tests/unit/test_schema.py
Labels: rust, fix

#6847 feat(python): add `include_index` option on init from pandas frames
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Labels: python, enhancement

#6709 fix(python): accept more types in groupby.agg
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/type_aliases.py
  py-polars/tests/unit/test_groupby.py
Labels: python, fix

#6868 test(python): Fail tests on warning
  py-polars/polars/internals/expr/expr.py
  py-polars/pyproject.toml
  py-polars/tests/unit/test_series.py
Labels: python, test

#6867 chore(rust): setup support for fixedsizebinary convertion
  polars/polars-core/src/config.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/series/from.rs
  polars/polars-io/src/csv/read_impl/batched.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  polars/polars-io/src/lib.rs
  polars/polars-io/src/parquet/async_impl.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/physical_plan/streaming/convert.rs
Labels: rust, chore

#6869 feat(python): restore dataframe class
  py-polars/polars/_html.py
Labels: python, enhancement

#6861 perf(rust, python): speedup quantile/median `~2x`
  polars/polars-arrow/src/floats/mod.rs
  polars/polars-arrow/src/floats/ord.rs
  polars/polars-arrow/src/lib.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-core/src/frame/groupby/aggregations/dispatch.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-utils/src/slice.rs
  py-polars/tests/unit/test_aggregations.py
  py-polars/tests/unit/test_series.py
Labels: python, rust, performance

#6882 refactor(python): Use `Self` type more consistently
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python, refactor

#6879 refactor(python): Consistently parse column name inputs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/src/dataframe.rs
Labels: python, refactor

#6881 refactor(python): refactor `datelike` as `temporal`, and support Time dtype in `Series.to_numpy`
  py-polars/docs/source/reference/series/descriptive.rst
  py-polars/polars/internals/series/series.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/test_temporal.py
Labels: python, refactor

#6889 fix(python): prevent conflation of `unit.io` tests directory with python `io` module
  py-polars/tests/benchmark/__init__.py
  py-polars/tests/docs/__init__.py
  py-polars/tests/parametric/__init__.py
  py-polars/tests/unit/io/__init__.py
Labels: python, fix, test

#6888 fix(python): prevent external modules found on `PYTHONPATH` from bleeding into polars `venv`
  py-polars/Makefile
Labels: python, fix

#6890 fix(rust, python): don't fast explode on null introducing take
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/filter.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, fix

#6887 refactor(python): unify constructor logic when initialising from a sequence of dicts
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_constructors.py
Labels: python, refactor

#6872 feat(python): More ergonomic `groupby` args
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/tests/unit/test_groupby.py
Labels: python, enhancement

#6893 chore(python): Update Cargo.lock
  py-polars/Cargo.lock
Labels: python, chore

#6894 chore(rust): avoid unnecessary mut
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
Labels: rust, chore

#6897 fix(rust, python): improve recursive casting of nested data
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/type_coercion/binary.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, fix

#6899 fix(rust, python): dispatch suffix to asof_join by
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-ops/src/frame/join/mod.rs
Labels: python, rust, fix

#6909 chore(rust): update rustc to nightly-2023-02-14
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-python-release.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  py-polars/Cargo.lock
  rust-toolchain.toml
Labels: rust, chore

#6902 fix(python): fix regression with `date` => `object` typing in `to_pandas` method
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_interop.py
Labels: python, fix, regression

#6906 fix(rust, python): reject multithreading on excessive ',\n' fields
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read_impl/mod.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#6885 feat(python): Parse JSON data in `Utf8` to polars dtype
  py-polars/docs/source/reference/expressions/strings.rst
  py-polars/docs/source/reference/series/strings.rst
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, enhancement

#6916 fix(rust, python): fix anonymous list builder
  polars/polars-arrow/src/array/list.rs
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_explode.py
Labels: python, rust, fix

#6917 feat(python): truncate file path on error msg
  py-polars/src/file.rs
  py-polars/tests/unit/test_errors.py
Labels: python, enhancement

#6920 feat(python): provide better errors when failing to read CSV data from buffers that have advanced their read position
  py-polars/polars/internals/io.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, enhancement

#6921 feat(rust, python): raise error on invalid aggregation expressions
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/alias.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/cast.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/sort.rs
  polars/polars-lazy/src/physical_plan/expressions/sortby.rs
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/expressions/ternary.rs
  py-polars/tests/unit/test_lists.py
Labels: python, rust, enhancement

#6923 feat(rust, python): supported nested fixedsizebinary conversion
  polars/polars-core/src/series/from.rs
  py-polars/tests/unit/test_interop.py
Labels: python, rust, enhancement

#6927 fix(rust): fix arg_min/arg_max when sorted
  polars/polars-ops/src/series/ops/arg_min_max.rs
  py-polars/tests/unit/test_series.py
Labels: rust, fix

#6931 fix(python): object to_dict
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_object.py
Labels: python, fix

#6933 feat(python): add `is_between` method for Series
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6934 test(rust): Clean up some warnings
  polars/polars-sql/src/lib.rs
  polars/tests/it/core/joins.rs
  polars/tests/it/core/pivot.rs
  polars/tests/it/core/series.rs
  polars/tests/it/io/ipc_stream.rs
  polars/tests/it/io/json.rs
  polars/tests/it/lazy/aggregation.rs
  polars/tests/it/lazy/groupby.rs
Labels: rust, test

#6936 chore(python): Bump ruff version
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr/expr.py
  py-polars/requirements-lint.txt
Labels: python, chore

#6935 refactor(rust): cleanup is_unique impl
  polars/Cargo.toml
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/series/implementations/binary.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/mod.rs
  polars/polars-lazy/polars-plan/src/dsl/function_expr/schema.rs
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/is_first.rs
  polars/polars-ops/src/series/ops/is_unique.rs
  polars/polars-ops/src/series/ops/mod.rs
  py-polars/Cargo.toml
Labels: rust, refactor

#6940 feat(rust, python): add is_duplicated/is_unique for struct dtype
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  polars/polars-ops/src/series/ops/is_unique.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust, enhancement

#6942 chore(rust): fix feature
  polars/polars-ops/src/series/ops/is_unique.rs
  py-polars/Cargo.lock
Labels: rust, skip-changelog, chore

#6943 chore(python): Properly deprecate GroupBy.agg_list
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_groupby.py
  py-polars/tests/unit/test_struct.py
Labels: python, chore

#6946 feat(python): add `map_dict` method for Series
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_series.py
Labels: python, enhancement

#6944 feat(python): Make groupby agg shortcuts available in lazy
  py-polars/docs/source/reference/lazyframe/groupby.rst
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/tests/unit/test_groupby.py
Labels: python, enhancement

#6950 fix(rust, python): str.contains strict=False took no effect
  polars/polars-lazy/polars-plan/src/dsl/function_expr/strings.rs
  polars/polars-ops/src/chunked_array/strings/namespace.rs
  polars/tests/it/lazy/expressions/arity.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#6896 feat(python): More ergonomic `sort` args
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/test_sort.py
Labels: python, enhancement

#6952 fix(rust, python): ensure literals are expanded in streaming
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
  py-polars/tests/unit/test_streaming.py
Labels: python, rust, fix

#6937 refactor(rust): add LazyFileListReader trait
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/file_list_reader.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
Labels: rust, refactor

#6954 perf(rust, python): use fxhash for all integers
  polars/polars-core/src/prelude.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/sinks/groupby/primitive.rs
Labels: python, rust, performance

#6956 perf(rust, python): don't pack integer keys in determining `~8-18%` group tuples.
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-lazy/polars-pipe/src/executors/operators/projection.rs
Labels: python, rust, performance

#6960 fix(python): typo in mean unit test - changed `median` -> `mean`
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, fix

#6957 fix(rust, python): fix temporal logical types in pivot
  polars/polars-core/src/series/mod.rs
  polars/polars-ops/src/frame/pivot/mod.rs
  py-polars/tests/unit/test_pivot.py
Labels: python, rust, fix

#6958 chore(python): Properly deprecate `.struct.to_frame`
  py-polars/docs/source/reference/series/struct.rst
  py-polars/polars/internals/series/struct.py
Labels: python, chore

#6959 perf(rust, python): don't pack utf8 columns in grouptuples `~5-15%`
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/vector_hasher.rs
Labels: python, rust, performance

#6961 test(python): More test restructure
  py-polars/tests/unit/datatypes/__init__.py
  py-polars/tests/unit/datatypes/test_bool.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/io/__init__.py
  py-polars/tests/unit/namespaces/__init__.py
  py-polars/tests/unit/namespaces/test_binary.py
  py-polars/tests/unit/namespaces/test_categorical.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/namespaces/test_strptime.py
  py-polars/tests/unit/namespaces/test_struct.py
  py-polars/tests/unit/operations/__init__.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_apply.py
  py-polars/tests/unit/operations/test_arithmetic.py
  py-polars/tests/unit/operations/test_comparison.py
  py-polars/tests/unit/operations/test_drop.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_folds.py
  py-polars/tests/unit/operations/test_groupby.py
  py-polars/tests/unit/operations/test_joins.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/utils/__init__.py
  py-polars/tests/unit/utils/test_build_info.py
  py-polars/tests/unit/utils/test_show_versions.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, test

#6963 perf(rust, python): improve vec_hash perf for boolean and utf8
  polars/polars-core/src/vector_hasher.rs
Labels: python, rust, performance

#6967 perf(python): Improve performance of `expr_to_lit_or_expr` for arguments of type `Expr` by ~80%
  py-polars/polars/internals/expr/expr.py
Labels: python, performance
