Repository pola-rs/polars, pull requests merged in 2023-10, with the labels that each got.

#11427 fix(rust,python): address multiple issues caused by implicit casting of `is_in` values to the column dtype being searched
  crates/polars-core/src/datatypes/time_unit.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#11435 feat(python): rework `ColumnFactory` to additionally support tab-complete for `col` in IPython
  py-polars/polars/functions/col.py
Labels: python, enhancement, black magic

#11428 fix(python): partially address some PyCharm tooltip/signature issues with decorated methods
  py-polars/polars/utils/deprecation.py
Labels: python, fix

#11446 chore(python): update hypothesis package to `6.87.1`
  py-polars/docs/requirements-docs.txt
  py-polars/polars/testing/parametric/strategies.py
  py-polars/requirements-dev.txt
Labels: python, internal

#11004 feat(rust, python): allow for "by" column to be of dtype Date in rolling_* functions
  crates/polars-plan/src/dsl/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#11452 ci(python): Add wheels to GitHub release
  .github/workflows/release-python.yml
Labels: python, internal

#11453 docs(python): use with_columns in shift examples
  py-polars/polars/expr/expr.py
Labels: documentation, python

#11445 feat: postfix `rolling` expression as a special case of window functions.
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_rolling.rs
  crates/polars-lazy/src/physical_plan/executors/mod.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/rolling.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/physical_plan/state.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-time/src/chunkedarray/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/floats.rs
  crates/polars-time/src/chunkedarray/rolling_window/ints.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-time/src/prelude.rs
  crates/polars-time/src/series/_trait.rs
  crates/polars-time/src/series/implementations/boolean.rs
  crates/polars-time/src/series/implementations/categoricals.rs
  crates/polars-time/src/series/implementations/date.rs
  crates/polars-time/src/series/implementations/datetime.rs
  crates/polars-time/src/series/implementations/duration.rs
  crates/polars-time/src/series/implementations/floats.rs
  crates/polars-time/src/series/implementations/integers.rs
  crates/polars-time/src/series/implementations/list.rs
  crates/polars-time/src/series/implementations/mod.rs
  crates/polars-time/src/series/implementations/object.rs
  crates/polars-time/src/series/implementations/struct_.rs
  crates/polars-time/src/series/implementations/time.rs
  crates/polars-time/src/series/implementations/utf8.rs
  crates/polars-time/src/series/mod.rs
  crates/polars-utils/src/iter/enumerate_idx.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  py-polars/polars/expr/expr.py
  py-polars/src/expr/general.rs
Labels: python, rust, enhancement

#11456 docs(python): add missing docs entry for rolling
  py-polars/docs/source/reference/expressions/window.rst
  py-polars/polars/expr/expr.py
Labels: documentation, python

#11289 feat(rust): Format null arrays in Series
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/series/ops/downcast.rs
  py-polars/tests/unit/test_constructors.py
Labels: rust, enhancement

#11458 docs: Update contributing guide to include memory requirement
  CONTRIBUTING.md
Labels: documentation, python, rust

#11460 chore: upgrade to nightly-10-02
  .github/workflows/release-python.yml
  crates/polars-arrow/src/lib.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/lib.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-plan/src/prelude.rs
  rust-toolchain.toml
Labels: python, rust, internal

#10879 fix(rust, python): Fix SQL `ANY` and `ALL` behaviour
  Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/test_sql.py
Labels: python, rust, fix, sql

#11461 chore: move `repeat_by` to polars-ops
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/repeat_by.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-ops/src/chunked_array/repeat_by.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/Cargo.toml
Labels: python, rust, internal

#11463 ci(python): Set some env vars for release
  .github/workflows/release-python.yml
  py-polars/pyproject.toml
Labels: python, internal

#11464 perf: ensure we download row-groups concurrently.
  crates/polars-io/src/parquet/async_impl.rs
Labels: python, rust, performance

#11447 fix(python): enable `read_database` fallback for Snowflake warehouses/connections that don't support Arrow resultsets
  py-polars/polars/io/database.py
Labels: python, fix

#11218 feat(python, rust): `IN(subquery)` and SQL Subquery Infrastructure
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/Cargo.lock
  py-polars/tests/unit/sql/test_sql.py
  py-polars/tests/unit/sql/test_subqueries.py
Labels: python, rust, enhancement

#11471 fix: fix deserialization of parquets with large string list columns causing stack overflow
  crates/nano-arrow/src/io/parquet/read/deserialize/binary/nested.rs
Labels: python, rust, fix

#11472 ci(python): More release workflow refactor
  .github/workflows/release-python.yml
Labels: python, internal

#11474 fix(python,rust): fix for `write_csv` when using non-default "quote" char
  crates/polars-io/src/csv/write_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#11477 ci(python): Small fix in release workflow
  .github/workflows/release-python.yml
Labels: python, skip changelog, internal

#11479 perf: greatly improve parquet cloud reading
  crates/nano-arrow/src/io/parquet/read/row_group.rs
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/mmap.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
Labels: python, rust, performance

#11483 ci(python): Unpin maturin version, fix release workflow
  .github/workflows/release-python.yml
  py-polars/requirements-dev.txt
Labels: python, internal

#11482 feat: expressify peak_min/peak_max
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/chunked_array/ops/len.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/peaks.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-ops/src/chunked_array/peaks.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/peaks.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#11478 perf(rust, python): early return in replace_time_zone if target and source time zones match
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, performance

#11486 fix: correct projection pushdown in hive partitioned read
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#11494 ci(python): Test sdist before releasing
  .github/workflows/release-python.yml
Labels: python, internal

#11499 fix: correct output schema of hive partition and projection at scan
  crates/polars-plan/src/logical_plan/hive.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#11502 refactor(rust): move AnonymousScan into Scan node
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/utils.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/anonymous_scan.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars-plan/src/utils.rs
Labels: rust, internal

#11491 chore: minor changes in peak-min/max
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/peaks.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/src/expr/general.rs
Labels: python, rust, internal

#11277 feat(python): Add `left_on` and `right_on` parameters to `df.update`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, enhancement

#11287 fix: Fix lazy schema for `cut`/`qcut` when `allow_breaks=True`
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/operations/test_cut.py
  py-polars/tests/unit/operations/test_qcut.py
Labels: python, rust, fix

#11508 fix: literal hash
  crates/polars-plan/src/logical_plan/lit.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#11501 feat(python,rust,cli): support left and right anti/semi joins from the SQL interface
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/keywords.rs
  crates/polars/Cargo.toml
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement, sql

#11507 feat: Use IPC for (un)pickling dataframes/series
  py-polars/src/dataframe.rs
  py-polars/src/series/mod.rs
Labels: python, rust, enhancement

#9884 feat(python): add `INITCAP` string function for SQL
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, enhancement, sql

#11518 fix(rust,python,sql): rework SQL join constraint processing to properly account for all `USING` columns
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, fix, sql

#11488 refactor(rust): move (hor_)str_concat to polars-ops
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/concat_str.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/functions.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/strings/concat.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars/Cargo.toml
  py-polars/tests/unit/namespaces/test_string.py
Labels: rust, internal

#11487 build(python): Enable additional flags for x86-64 wheels
  .github/workflows/release-python.yml
Labels: python, highlight, build

#11529 chore(rust): fix some features
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/file_sink.rs
Labels: rust, internal

#11526 fix(rust,python,cli): catch use of non equi-joins in SQL interface and raise appropriate error
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, fix, sql

#11480 fix(python): fix comparing tz-aware series with stdlib datetime
  py-polars/polars/functions/lit.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/convert.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, fix

#11533 fix(rust,python): streamline `is_in` handling of mismatched dtypes and fix a minor regression
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, rust, fix

#11538 ci(python): Trigger Python release from Actions workflow dispatch
  .github/workflows/release-drafter.yml
  .github/workflows/release-python.yml
  CONTRIBUTING.md
Labels: python, internal

#11549 fix: fix parquet deserialization Overflow error by using i64 offset types when promoting Arrow Lists to LargeLists
  crates/polars-io/src/parquet/read_impl.rs
Labels: python, rust, fix

#11552 ci(python): Remove toolchain specification workaround
  .github/workflows/release-python.yml
Labels: python, internal

#11551 fix: respect 'hive_partitioning' argument in parquet
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#11553 refactor(rust): use positive assertion for all float/int/numeric dtype checks, rather than partial exclusion
  crates/polars-core/src/datatypes/dtype.rs
Labels: rust, skip changelog, internal

#11554 fix: ensure ListChunked::full_null uses physical types
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#11555 chore: fix lints
  crates/polars-arrow/src/floats/ord.rs
  py-polars/polars/dataframe/frame.py
Labels: python, rust, internal

#11557 fix: correct schema empty df in hive partitioning read
  crates/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#11558 fix: take slice into account in parallel unions
  crates/polars-lazy/src/physical_plan/executors/union.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/operations/test_slice.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#11543 chore(rust): Move mode operation from core to ops crate
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-ops/src/chunked_array/mode.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
Labels: rust, internal

#11560 fix: bug in BitMask::get_u32
  crates/nano-arrow/src/bitmap/bitmask.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#11559 fix: respect identity in horizontal sum
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#11468 refactor: use a generic consistent total ordering, also for floats
  crates/nano-arrow/src/array/ord.rs
  crates/nano-arrow/src/bitmap/bitmask.rs
  crates/nano-arrow/src/compute/arithmetics/basic/div.rs
  crates/nano-arrow/src/util/mod.rs
  crates/nano-arrow/src/util/total_ord.rs
  crates/polars-arrow/src/utils.rs
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/comparison/scalar.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/chunked_array/ops/compare_inner.rs
  crates/polars-core/src/chunked_array/ops/extend.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/frame/row/mod.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/series/ops/is_unique.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-row/src/fixed.rs
  docs/user-guide/concepts/data-types.md
  py-polars/polars/testing/asserts.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_testing.py
Labels: python, rust, internal

#11563 feat: elide overflow checks on i64
  crates/nano-arrow/src/array/binary/mutable_values.rs
  crates/nano-arrow/src/array/list/mutable.rs
  crates/nano-arrow/src/array/physical_binary.rs
  crates/nano-arrow/src/array/utf8/mutable_values.rs
  crates/nano-arrow/src/compute/cast/binary_to.rs
  crates/nano-arrow/src/compute/cast/primitive_to.rs
  crates/nano-arrow/src/io/avro/read/nested.rs
  crates/nano-arrow/src/io/parquet/read/deserialize/binary/utils.rs
  crates/nano-arrow/src/offset.rs
  crates/polars-json/src/json/deserialize.rs
Labels: python, rust, enhancement

#11567 refactor(python): Remove `**kwargs` from `LazyFrame.collect()`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
Labels: python, internal

#11565 perf: skip empty chunks in concat
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#11578 fix(rust,python): incomplete reading of list types from parquet
  crates/nano-arrow/src/io/parquet/read/deserialize/nested_utils.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#11566 fix(python): Add initialization support for python Timedeltas
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, fix

#11576 fix(rust,python,cli): don't conflate supported UNION ops in the SQL parser with (currently) unsupported UNION "BY NAME" variations
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, fix, sql

#11575 fix(python,rust): Align new_columns argument for `scan_csv` and `read_csv`
  py-polars/polars/io/csv/functions.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#11574 fix(rust,python,cli): handle unary operators applied to numbers used in SQL `IN` clauses
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, fix, sql

#11562 feat(python): support `read_database` options passthrough to the underlying connection's `execute` method (enables parameterised SQL queries, etc)
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#11585 docs(python): improve struct documentation
  docs/src/python/user-guide/expressions/structs.py
  docs/user-guide/expressions/structs.md
Labels: documentation, python

#11587 fix: mark take_group_last function as unsafe
  crates/polars-core/src/frame/group_by/proxy.rs
  crates/polars-ops/src/series/ops/is_last_distinct.rs
Labels: python, rust, fix

#9865 fix(python): fix as_dict with include_key=False for partition_by
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, fix

#11588 refactor(python): fixes issue with relative location of file used in namespace tests
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/namespaces/conftest.py
  py-polars/tests/unit/namespaces/files/test_tree_fmt.txt
  py-polars/tests/unit/namespaces/test_meta.py
Labels: python, skip changelog, internal

#11586 feat(rust, python)!: add time_unit argument to duration, default to "us"
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  py-polars/polars/functions/as_datatype.py
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_as_datatype.py
Labels: python, rust, breaking, enhancement

#11590 fix: expand all literals before group_by
  crates/polars-core/src/frame/group_by/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#11583 depr(python, rust!): Rename `write_csv` parameter `quote` to `quote_char`
  crates/polars-io/src/csv/mod.rs
  crates/polars-io/src/csv/parser.rs
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/csv/read_impl/batched_mmap.rs
  crates/polars-io/src/csv/read_impl/batched_read.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/csv/splitfields.rs
  crates/polars-io/src/csv/utils.rs
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-pipe/src/executors/sinks/file_sink.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars/src/docs/eager.rs
  crates/polars/src/docs/lazy.rs
  crates/polars/tests/it/io/csv.rs
  docs/src/rust/getting-started/reading-writing.rs
  examples/read_csv/src/main.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, deprecation, internal, breaking rust

#11602 refactor: Make arg_min(max), diff in list namespace non-anonymous
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/list.rs
Labels: python, rust, internal

#11601 refactor: Make value_counts and unique_counts function expr non-anonymous
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: python, rust, internal

#11596 perf(rust, python): use try_binary_elementwise over try_binary_elementwise_values
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
Labels: python, rust, performance

#11573 fix(python): parse time unit properly in pl.lit
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/functions/test_lit.py
Labels: python, fix

#11605 fix(python): normalize filepath in sink_parquet
  py-polars/polars/lazyframe/frame.py
Labels: python, fix

#11610 refactor(rust): avoid nightly rust for case conversion
  crates/polars-ops/src/chunked_array/strings/case.rs
Labels: rust, internal

#11607 feat: improve performance and fix panic in async parquet reader
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
Labels: python, rust, enhancement, performance, fix

#11617 ci: Fix changelog for language-specific breaking changes
  .github/release-drafter-python.yml
  .github/release-drafter-rust.yml
  .github/release-drafter.yml
Labels: python, rust, internal

#11597 feat(rust,python,cli): add SQL support for `UNION [ALL] BY NAME`, add "diagonal_relaxed" strategy for `pl.concat`
  crates/polars-core/src/functions.rs
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars/Cargo.toml
  docs/src/rust/user-guide/transformations/concatenation.rs
  py-polars/polars/functions/eager.py
  py-polars/polars/type_aliases.py
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/sql/test_sql.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement, sql, cli

#11492 feat(rust, python): Implement `schema`, `schema_override` for `pl.read_json` with array-like input
  crates/polars-io/src/json/mod.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, enhancement

#11615 depr(python): Deprecate default value for `radix` in `parse_int`
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, deprecation

#11627 refactor: Make all expr in dt namespace non-anonymous
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
Labels: python, rust, internal

#11621 fix: ensure nested logical types are converted to physical
  crates/polars-core/src/series/from.rs
Labels: python, rust, fix

#11628 fix: slice expr can be taken in cse
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#11630 refactor: Make backwardfill and forwardfill function expr non-anonymous
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: python, rust, internal

#11631 fix: Fix input replacement logic for slice
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#11616 chore(python): Disable clippy lint "too many arguments" for `py-polars`
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/expr/general.rs
  py-polars/src/expr/rolling.rs
  py-polars/src/expr/string.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazyframe.rs
  py-polars/src/lib.rs
Labels: python, internal

#11637 perf: actually use projection information in async parquet reader
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
Labels: python, rust, performance

#11629 refactor(rust): Bring cloud monikers in line with the ones in `is_cloud_url`
  crates/polars-io/src/cloud/options.rs
Labels: rust, internal

#11598 feat(python): Standardize error message format
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/col.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/series/series.py
  py-polars/polars/slice.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/deprecation.py
  py-polars/polars/utils/udfs.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_testing.py
Labels: python, enhancement

#11644 docs(python): Improve some docstrings
  py-polars/polars/config.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#11646 docs(python): Improved user guide for cloud functionality
  CONTRIBUTING.md
  docs/_build/API_REFERENCE_LINKS.yml
  docs/src/python/user-guide/io/aws.py
  docs/src/python/user-guide/io/cloud-storage.py
  docs/src/python/user-guide/io/database.py
  docs/src/python/user-guide/io/json.py
  docs/src/python/user-guide/lazy/query-plan.py
  docs/src/python/user-guide/sql/select.py
  docs/src/rust/user-guide/io/cloud-storage.rs
  docs/src/rust/user-guide/io/json.rs
  docs/user-guide/io/aws.md
  docs/user-guide/io/cloud-storage.md
  docs/user-guide/io/database.md
  docs/user-guide/io/json.md
  docs/user-guide/io/parquet.md
  docs/user-guide/lazy/query-plan.md
  docs/user-guide/sql/select.md
  mkdocs.yml
Labels: documentation, python

#11652 perf: slightly faster float equality
  crates/nano-arrow/src/util/total_ord.rs
Labels: python, rust, performance

#11651 refactor: improve rank implementation, especially around nulls
  crates/polars-ops/src/series/ops/rank.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, internal

#11657 fix(rust): fix display str for peak_max and top_k
  crates/polars-plan/src/dsl/function_expr/mod.rs
Labels: rust, fix

#11662 feat(python): column selector support for `DataFrame.melt` and `LazyFrame.unnest`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/test_melt.py
Labels: python, enhancement

#11664 feat(python): support batched frame iteration over `read_database` queries
  py-polars/polars/io/database.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#11660 docs: add note about use of `polars-lts-cpu` for macOS x86-64/rosetta
  README.md
Labels: documentation, python, rust

#11661 feat: support multiple sources in scan_file
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-ops/src/frame/mod.rs
  crates/polars-ops/src/series/ops/approx_unique.rs
  crates/polars/tests/it/io/csv.rs
  examples/read_parquet/src/main.rs
  examples/read_parquet_cloud/src/main.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_ipc.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, enhancement

#11666 feat(rust): easier arrow2/arrow-rs conversion
  Cargo.toml
  crates/nano-arrow/Cargo.toml
  crates/nano-arrow/src/array/binary/mod.rs
  crates/nano-arrow/src/array/boolean/mod.rs
  crates/nano-arrow/src/array/dictionary/mod.rs
  crates/nano-arrow/src/array/fixed_size_binary/mod.rs
  crates/nano-arrow/src/array/fixed_size_list/mod.rs
  crates/nano-arrow/src/array/list/mod.rs
  crates/nano-arrow/src/array/map/mod.rs
  crates/nano-arrow/src/array/mod.rs
  crates/nano-arrow/src/array/null.rs
  crates/nano-arrow/src/array/primitive/mod.rs
  crates/nano-arrow/src/array/struct_/mod.rs
  crates/nano-arrow/src/array/union/mod.rs
  crates/nano-arrow/src/array/utf8/mod.rs
  crates/nano-arrow/src/bitmap/immutable.rs
  crates/nano-arrow/src/buffer/immutable.rs
  crates/nano-arrow/src/buffer/mod.rs
  crates/nano-arrow/src/datatypes/field.rs
  crates/nano-arrow/src/datatypes/mod.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/series/mod.rs
Labels: rust, enhancement

#11671 test(rust): Adding feature annotation
  crates/polars-lazy/src/tests/queries.rs
Labels: rust, internal

#11677 refactor(rust): Cleanup the match block for date inference
  crates/polars-time/src/chunkedarray/utf8/infer.rs
Labels: rust, internal

#11673 fix(rust, python): Fix match on last item for `join_asof` with `strategy="nearest"`
  crates/polars-ops/src/frame/join/asof/default.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#11659 refactor: sum_horizontal to expression architecture
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars/tests/it/lazy/folds.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, internal

#11679 fix(python): fix sort_by regression
  crates/polars-lazy/src/physical_plan/expressions/sortby.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, fix

#11681 chore: better align `help` command output following addition of some longer options
  Makefile
  py-polars/Makefile
Labels: python, rust, internal

#11683 build(python): upgrade pyo3 to 0.20.0
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion.rs
Labels: python, build

#11686 ci(python): Publish release after uploading assets
  .github/workflows/release-python.yml
Labels: python, internal

#11687 perf: push down predicates that refer to group_by keys
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/group_by.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#11696 chore: update rustc and fix future
  README.md
  crates/nano-arrow/src/array/dictionary/value_map.rs
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-ops/src/frame/hashing.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/series/ops/approx_algo/hyperloglogplus.rs
  crates/polars-plan/src/logical_plan/optimizer/cse.rs
  crates/polars-utils/src/functions.rs
  py-polars/tests/unit/dataframe/test_df.py
  rust-toolchain.toml
Labels: python, rust, internal

#11704 fix: fix seg fault in concat_str of empty series
  crates/polars-ops/src/chunked_array/strings/concat.rs
  py-polars/tests/unit/functions/test_concat.py
Labels: python, rust, fix

#11705 docs: update document of folds
  docs/src/rust/user-guide/expressions/folds.rs
Labels: documentation, rust

#11700 feat(python): transparently support "qmark" parameterisation of SQLAlchemy queries in `read_database`
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#11694 docs(python): clarify that median is equivalent to the 50% percentile shown in `describe` metrics
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/utils/test_utils.py
Labels: documentation, python

#11624 fix(rust, python)!: return float dtype in interpolate (for method="linear") for numeric dtypes
  crates/polars-ops/src/chunked_array/interpolate.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_interpolate.py
Labels: python, rust, breaking, fix

#11685 refactor: *_horizontal dependent on reduce_expr to expression architecture
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars/Cargo.toml
Labels: python, rust, internal

#11688 feat(python): add support for "outer" mode to frame `update` method
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, enhancement

#11690 fix(rust,python): use actual number of read rows for hive materialization
  crates/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#10963 feat: allow specifying schema in `pl.scan_ndjson`
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/logical_plan/anonymous_scan.rs
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/polars/io/ndjson.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/unit/io/test_lazy_json.py
Labels: python, rust, enhancement

#11680 chore(python): remove default features from some crates
  py-polars/Cargo.toml
Labels: python, internal

#11709 perf: process parquet statistics before downloading row-group
  crates/nano-arrow/src/io/parquet/read/statistics/mod.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/mod.rs
  crates/polars-io/src/parquet/predicates.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/hive.rs
Labels: python, rust, performance

#11708 docs(rust): Improving the documentation of the SQL expressions
  crates/polars-sql/src/functions.rs
Labels: documentation, rust, internal

#11711 perf: rechunk before grouping on multiple keys
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  crates/polars-sql/src/functions.rs
  py-polars/src/expr/string.rs
Labels: python, rust, performance

#11641 refactor(python): reorder pl.duration arguments
  py-polars/polars/functions/as_datatype.py
  py-polars/src/functions/lazy.rs
Labels: python, internal

#11717 perf(rust): Improve performance of `cot` (cotangent)
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/series/test_series.py
Labels: rust, performance

#11710 fix(rust): index_to_chunked_index's fast path is not correct
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-ops/src/chunked_array/strings/concat.rs
Labels: rust, fix

#11716 fix(rust): LazyFrame.drop_columns overflow issue when columns.len()>schema.len()
  crates/polars-plan/src/logical_plan/builder.rs
Labels: rust, fix

#11737 docs: Update group_by_dynamic example
  docs/src/python/user-guide/transformations/time-series/rolling.py
  docs/src/rust/user-guide/transformations/time-series/rolling.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
Labels: documentation, python, rust

#11741 test(python): Move tests for `group_by_dynamic` into one module
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/operations/test_group_by_rolling.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/test_errors.py
Labels: python, internal

#11742 feat(python): Use `OrderedDict` for schemas
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/struct.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, enhancement

#11745 docs: The orders of the df columns in user guide - Migrating: Coming from Pandas
  docs/user-guide/migration/pandas.md
Labels: documentation, python, rust

#11748 fix: Correctly process subseconds in `pl.duration`
  crates/polars-plan/src/dsl/functions/temporal.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/as_datatype/__init__.py
  py-polars/tests/unit/functions/as_datatype/test_as_datatype.py
  py-polars/tests/unit/functions/as_datatype/test_duration.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#11409 feat: Add config setting to control how many List items are printed
  crates/polars-core/src/config.rs
  crates/polars-core/src/fmt.rs
  py-polars/polars/config.py
Labels: python, rust, enhancement

#11751 docs(rust): fill missing fill_null strategies
  crates/polars-core/src/chunked_array/ops/fill_null.rs
Labels: documentation, rust

#11738 chore(rust): Version `polars-arrow` with the other crates
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  py-polars/Cargo.lock
Labels: rust, internal

#11740 feat(python): extend `filter` capabilities with new support for `*args` predicates, `**kwargs` constraints, and chained boolean masks
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#11755 chore(rust): clarify polars-arrow <=> arrow2 license
  crates/polars-arrow/LICENSE
Labels: rust, internal

#11757 test(python): Add parametric test for `df.to_dict`/`series.to_list`
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/series/test_to_list.py
Labels: python, internal

#11758 fix: fix ambiguity wrt list aggregation states
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/cast.rs
  crates/polars-lazy/src/physical_plan/expressions/group_iter.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/take.rs
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#7475 feat(rust): right-align numeric columns
  crates/polars-core/src/config.rs
  crates/polars-core/src/fmt.rs
  py-polars/polars/config.py
  py-polars/src/functions/meta.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_cfg.py
Labels: rust, enhancement

#11759 fix(python): Fix subsecond parsing in timedelta conversions
  py-polars/polars/utils/convert.py
  py-polars/tests/unit/dataframe/test_from_dict.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/series/test_to_list.py
Labels: python, fix

#11722 docs: Link to `expand_selector` in user guide
  docs/_build/API_REFERENCE_LINKS.yml
  docs/user-guide/expressions/column-selections.md
Labels: documentation, python, rust

#11768 fix(rust,python): only exclude final output names of group_by key expressions
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#11761 depr(python): Rename `group_by_rolling` to `rolling`
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/map/test_map_groups.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/operations/test_group_by_rolling.py
Labels: python, deprecation

#11638 refactor(rust): Make all emw function expr non-anonymous
  crates/polars-arrow/src/legacy/kernels/ewm/mod.rs
  crates/polars-plan/src/dsl/function_expr/ewm.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: rust, internal

#11541 feat(python,rust,cli): add `DATE` function for SQL
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement

#11760 chore: more granular polars-ops imports
  crates/polars-lazy/src/physical_plan/executors/join.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/sort.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-lazy/src/prelude.rs
Labels: python, rust, internal
