Repository pola-rs/polars, pull requests merged in 2023-09, with the labels that each got.

#10842 fix: empty product returns identity
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#10859 refactor: introduce with_name for Series/ChunkedArray
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-time/src/chunkedarray/time.rs
  crates/polars-time/src/chunkedarray/utf8/infer.rs
Labels: python, rust, internal

#10854 fix: make count_match docs and extract_all docs/impl consistent around zero matches
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#10851 feat(python): raise a more helpful error when non-query statements passed to `read_database`
  py-polars/polars/exceptions.py
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#10863 fix: repair polars_err string interpolation
  crates/polars-core/src/frame/hash_join/args.rs
  crates/polars-error/src/lib.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-sql/src/sql_expr.rs
Labels: python, rust, fix

#10862 fix(rust): remove debug `println!` from datetime fn
  py-polars/src/functions/lazy.rs
Labels: rust, fix

#10864 fix: use pool in dataframe arithmetic
  crates/polars-core/src/frame/arithmetic.rs
Labels: python, rust, fix

#10838 depr(python): Rename `Expr.is_not()` to `Expr.not_()`
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  crates/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/docs/source/reference/expressions/boolean.rst
  py-polars/docs/source/reference/series/boolean.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_exprs.py
Labels: python, deprecation

#10873 docs(python): add a note about `read_database` connection/cursor behaviour
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: documentation, python

#10881 fix(rust): tag amortized iter unsafe and add safe alternatives
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/filter.rs
  crates/polars-lazy/src/physical_plan/expressions/group_iter.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/take.rs
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  py-polars/src/series/export.rs
Labels: rust, fix

#10877 fix(rust, python): fix bug where datetimes were not parsed in read_csv when pattern had no hour or minute
  crates/polars-time/src/chunkedarray/utf8/infer.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#10871 refactor(rust!): Reorganize `range` expression module
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/functions/repeat.rs
  crates/polars-time/src/date_range.rs
  crates/polars-time/src/lib.rs
  crates/polars-time/src/windows/calendar.rs
  crates/polars-time/src/windows/test.rs
Labels: rust, internal, breaking rust

#10882 chore: request verbose logging output of minimal reproducable examples
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
Labels: python, rust, internal

#10883 fix: don't overflow length before checking limit
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-error/src/constants.rs
Labels: python, rust, fix

#10885 feat: implement drop as special case of `select`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-plan/src/logical_plan/functions/drop.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
Labels: python, rust, enhancement

#10857 fix(rust): Add broadcasting for list comparisons
  crates/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: rust, fix

#10886 refactor(rust): remove `LocalProjection`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/builder_alp.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cache_states.rs
  crates/polars-plan/src/logical_plan/optimizer/fast_projection.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/logical_plan/schema.rs
  py-polars/polars/lazyframe/frame.py
Labels: rust, internal

#10776 fix(rust): fix conversion from decimal to float
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: rust, fix

#10896 chore: Fix issue templates for bug reports
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
Labels: python, rust, internal

#10860 refactor: eliminate repetition in utf8 datetime functions
  crates/polars-time/src/chunkedarray/utf8/mod.rs
  crates/polars-utils/src/cache.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, internal

#10891 feat(python): support negative indexing in set_at_idx
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/index.rs
  crates/polars-ops/src/series/ops/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/series/set_at_idx.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#10898 fix(rust): exclusive negative int_range(s) bounds
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  py-polars/tests/unit/functions/range/test_int_range.py
Labels: rust, fix

#10874 feat(python): Add syntactic sugar for `col("foo")` -> `col.foo`
  py-polars/docs/source/reference/expressions/col.rst
  py-polars/docs/source/reference/expressions/columns.rst
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/col.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/test_col.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#10884 feat(python): support schema overrides for frames created from databases
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#10905 fix: CSE don't accept opaque functions
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#10906 refactor: never compare opaque functions
  crates/polars-plan/src/logical_plan/visitor/expr.rs
Labels: python, rust, internal

#10899 refactor: apply with_name in more places
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-lazy/src/physical_plan/executors/sort.rs
  crates/polars-lazy/src/physical_plan/expressions/alias.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/count.rs
  crates/polars-lazy/src/physical_plan/expressions/filter.rs
  crates/polars-lazy/src/physical_plan/expressions/sortby.rs
  crates/polars-lazy/src/physical_plan/expressions/take.rs
  crates/polars-lazy/src/physical_plan/expressions/ternary.rs
  crates/polars-sql/src/context.rs
  crates/polars-time/src/group_by/dynamic.rs
  py-polars/src/dataframe.rs
  py-polars/src/map/mod.rs
  py-polars/src/series/construction.rs
Labels: python, rust, internal

#9967 feat(rust, python): accept expressions in `.offset_by`
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#10893 fix(rust): Retain original dtype when deserializing an empty list
  crates/polars-core/src/serde/series.rs
  py-polars/tests/unit/test_serde.py
Labels: rust, fix

#10900 feat(rust, python): accept expr in `str.count_match`
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#10913 test(python): add test for 10875
  py-polars/tests/unit/test_queries.py
Labels: python, internal

#10850 refactor(rust): Add duration method for checking full days
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/functions/range/test_date_range.py
Labels: rust, internal

#10917 fix: count was falsy tagged as cse in group by
  crates/polars-plan/src/logical_plan/optimizer/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#8635 fix(rust, python): raise error when function didn't receive any inputs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#10841 feat(rust): apply left side predicate pushdown also to right side if all predicate columns are also join columns
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
Labels: rust, enhancement

#10839 feat(rust): implementation of `array_to_string`
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/functions_string.rs
Labels: rust, enhancement

#10911 docs(python): fix rendering of bullet points in dt.round
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#10914 fix: Allow exactly one value in start/end for `int_range`
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/functions/range/test_time_range.py
Labels: python, rust, fix

#10647 docs(python): fix and clarify docs for `Expr.map_elements`
  py-polars/polars/expr/expr.py
Labels: documentation, python

#10922 feat(python): allow individual `Config` options to be easily reset to their default value
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
Labels: python, enhancement

#10164 test(python): Test S3 functionality using moto server
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/cloud/test_aws.py
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, internal

#10927 docs(python): note that pl.duration represents fixed durations, point to offset_by for non-fixed
  py-polars/polars/functions/as_datatype.py
Labels: documentation, python

#10944 build(python): Revert `pydantic >= 2.0.0` requirement
  py-polars/pyproject.toml
Labels: python, build

#10945 perf: improve performance of fast projection
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-pipe/src/executors/operators/projection.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/fast_projection.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe.rs
Labels: python, rust, performance

#10946 fix: compute length of null array in explode
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/fmt.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, fix

#10934 feat(rust): add proper cache for Regex compilation
  Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/cache.rs
  py-polars/Cargo.lock
Labels: rust, enhancement

#10948 fix: allow singular null in regex pattern
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#6183 feat(python): Improve `read_excel` to also use `openpyxl` for better type inferring
  README.md
  py-polars/polars/io/excel/functions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#10955 docs(python): Document that filter, drop_nulls, left join preserve order
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#10960 perf(python): optimize `_unpack_schema()`
  py-polars/polars/utils/_construction.py
Labels: python, performance

#10952 refactor: genericize PolarsDataType
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/min_max.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
Labels: python, rust, internal

#10953 feat(python): improve `read_excel` table data identification
  py-polars/polars/io/excel/functions.py
  py-polars/tests/unit/io/files/example.xlsx
  py-polars/tests/unit/io/test_excel.py
Labels: python, enhancement

#10987 fix(python): write_excel "hidden_columns" parameter fails when taking a selector
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_excel.py
Labels: python, fix

#10978 docs(python): document polars string duration language in temporal range functions
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/polars/functions/range/time_range.py
Labels: documentation, python

#10969 fix: fix the construction of List<Null>
  crates/polars-arrow/src/array/null.rs
  crates/polars-core/src/chunked_array/builder/list/null.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars/tests/it/core/series.rs
  py-polars/tests/unit/functions/test_as_datatype.py
  py-polars/tests/unit/test_constructors.py
Labels: python, rust, fix

#10958 feat(python, rust): Add `strip_prefix` and `strip_suffix` to the string namespace
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#10976 refactor(rust): genericize take implementation
  crates/polars-arrow/src/array/get.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/take_random.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/compare_inner.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/take/mod.rs
  crates/polars-core/src/chunked_array/ops/take/take_random.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/datatypes/static_array.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/hash_join/mod.rs
  crates/polars-core/src/frame/hash_join/zip_outer.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/frame/join/mod.rs
Labels: rust, internal

#10988 refactor(python): Add private LazyFrame method for setting sink optimizations
  py-polars/polars/lazyframe/frame.py
Labels: python, internal

#11007 docs(rust): complete intra-docs in api documentation
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/kernels/take.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ndarray.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  crates/polars-core/src/chunked_array/ops/aggregate/var.rs
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/decimal.rs
  crates/polars-core/src/chunked_array/random.rs
  crates/polars-core/src/chunked_array/to_vec.rs
  crates/polars-core/src/cloud.rs
  crates/polars-core/src/frame/arithmetic.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-core/src/frame/hash_join/multiple_keys.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/row/av_buffer.rs
  crates/polars-core/src/frame/row/dataframe.rs
  crates/polars-core/src/functions.rs
  crates/polars-core/src/schema.rs
  crates/polars-core/src/series/ops/downcast.rs
  crates/polars-core/src/testing.rs
  crates/polars-core/src/utils/series.rs
  crates/polars-io/src/avro/read.rs
  crates/polars-io/src/avro/write.rs
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/dsl/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/lib.rs
  crates/polars-pipe/src/expressions.rs
  crates/polars-plan/src/dsl/functions/arity.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-sql/src/context.rs
  crates/polars-time/src/upsample.rs
  crates/polars-time/src/windows/bounds.rs
  crates/polars-utils/src/cell.rs
  crates/polars/src/docs/eager.rs
  crates/polars/src/docs/lazy.rs
  crates/polars/src/docs/performance.rs
  crates/polars/src/lib.rs
Labels: documentation, rust

#11010 chore(python): Add lint for boolean trap
  py-polars/polars/config.py
  py-polars/polars/dataframe/_html.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/dependencies.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/polars/functions/eager.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/interchange/protocol.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/csv/_utils.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/excel/_write_utils.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/polars/string_cache.py
  py-polars/polars/testing/asserts.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/profiles.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/various.py
  py-polars/pyproject.toml
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_selectors.py
Labels: python, internal

#11027 docs(python): Adds missing method refs in LazyDataFrame API docs
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
Labels: documentation, python

#11012 fix(python): ensure `series_equal` properly accounts for dtypes when strict=True
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#11028 depr(python, rust!): Rename `count_match` to `count_matches`
  crates/polars-ops/src/chunked_array/list/count.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/series/list.py
  py-polars/polars/series/string.py
  py-polars/src/expr/list.rs
  py-polars/src/expr/string.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, deprecation, breaking rust

#11013 docs(python): warn that "by" argument must be sorted for results to be correct in rolling_* functions
  py-polars/polars/expr/expr.py
Labels: documentation, python

#11042 chore: Add Documentation issue type
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: python, rust, internal

#11026 fix(rust, python): Don't reuse member for Selector::Add
  crates/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, fix

#11005 fix(rust, python): fix rolling_* functions when "by" has nanosecond resolution
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#11025 feat: More dtypes supports cast to list
  Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, enhancement

#11023 fix: pushed-down expr should be considered when evaluating ExternalContext
  crates/polars-lazy/src/physical_plan/executors/ext_context.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#10996 feat(rust, python): Add `literal` for str count_match
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#11048 feat(rust): add support for nextest
  crates/Makefile
Labels: rust, enhancement

#11041 perf(python): optimize `polars.utils._post_apply_columns()`
  py-polars/polars/utils/_construction.py
Labels: python, performance

#11052 tests(python): account for version-based issue with pyarrow datetime units in tests
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_interop.py
Labels: internal

#11047 fix(python): fix partial schema init with `read_dicts` and reduce latency of small-frame creation
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/test_constructors.py
Labels: python, fix

#11015 feat(python,rust): add quote_style="never" option for `write_csv`
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/csv/write_impl.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#11055 fix(rust, python): Correct field dtype of string concat
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/functions/test_as_datatype.py
Labels: python, rust, fix

#11057 feat: json_extract supports extract static and string value to list dtype
  crates/polars-json/src/json/deserialize.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#11051 fix: toggle off cse if ext_context is used
  crates/polars-plan/src/logical_plan/optimizer/collect_members.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/semi_anti_join.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#10965 chore: remove feature gate join/groupby in polars-core
  .github/workflows/lint-rust.yml
  crates/Makefile
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/take/traits.rs
  crates/polars-core/src/datatypes/aliases.rs
  crates/polars-core/src/frame/hash_join/args.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/Cargo.toml
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/inner_left.rs
Labels: python, rust, internal

#11058 docs(python): put `fetch` explanation in a "notes" block to better highlight it in the docs
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#11065 fix(python): fixed a few accidental copy/paste gremlins in conversion error messages
  py-polars/src/conversion.rs
Labels: python, skip changelog, fix

#11011 feat(python): add OpenOffice spreadsheet support via `read_ods`
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/excel/__init__.py
  py-polars/polars/io/excel/functions.py
  py-polars/polars/io/spreadsheet/__init__.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/files/empty.ods
  py-polars/tests/unit/io/files/example.ods
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement

#11072 chore: Slightly improve render of doc issue template
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: python, rust, skip changelog, internal

#11070 fix: ensure null_count statistics accounts for null array
  crates/polars-io/src/parquet/predicates.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#11076 feat: Expressify argument of binary starts_with and ends_with
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/polars/expr/binary.py
  py-polars/src/expr/binary.rs
  py-polars/tests/unit/namespaces/test_binary.py
Labels: python, rust, enhancement

#11073 fix: Filter on empty objectChunked should not throw error
  crates/polars-core/src/chunked_array/ops/filter.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#11077 refactor(python): simplify `SchemaDefinition` type alias
  py-polars/polars/type_aliases.py
Labels: python, internal

#11086 perf(python): optimize `polars.utils._post_apply_columns()`
  py-polars/polars/utils/_construction.py
Labels: python, performance

#11080 perf(python): optimize `_unpack_schema()`
  py-polars/polars/utils/_construction.py
Labels: python, performance

#11061 fix(python): Make `Series.__getitem__` raise an IndexError
  crates/polars-core/src/schema.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-ops/src/series/ops/index.rs
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/exceptions.py
  py-polars/polars/series/series.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_item.py
  py-polars/tests/unit/functions/test_repeat.py
  py-polars/tests/unit/series/test_item.py
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#11087 docs(python): remove mentions of the deprecated random module
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#11095 feat: dt.offset_by supports broadcasting lhs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, enhancement

#11002 fix(python, rust): enforce sortedness of by argument in rolling_* functions
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#11085 refactor: Refactor starts_with and ends_with for string
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/polars/expr/string.py
Labels: python, rust, internal

#11107 chore: Add CODEOWNERS for docs folder
  .github/CODEOWNERS
Labels: python, rust, internal

#11111 test(python): fix 'tz_aware.parquet' location in test (don't rely on implicit working directory)
  py-polars/tests/unit/io/test_parquet.py
Labels: python, skip changelog, internal

#11109 docs: Removed duplicated example
  docs/user-guide/expressions/functions.md
Labels: documentation, python, rust

#11091 feat: Expressify argument of binary contains
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  py-polars/polars/expr/binary.py
  py-polars/src/expr/binary.rs
  py-polars/tests/unit/namespaces/test_binary.py
Labels: python, rust, enhancement

#11119 fix: Correct hash and fmt for struct expr
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#11121 docs(python): Add deprecation message in groupby docs
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#10912 feat(python): better async_collect
  py-polars/polars/dependencies.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_async.py
  py-polars/polars/utils/show_versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_async.py
Labels: python, enhancement

#10924 feat(python): Polars plugins
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/datatypes/from_values.rs
  crates/polars-ffi/Cargo.toml
  crates/polars-ffi/src/lib.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/plugin.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/expr/expr.py
  py-polars/polars/utils/udfs.py
  py-polars/src/expr/general.rs
Labels: python, enhancement, highlight

#11126 chore(python): Ignore matplotlib mypy warnings
  py-polars/pyproject.toml
Labels: python, internal

#11128 test(python): Do not run user guide examples by default
  py-polars/pyproject.toml
Labels: python, internal

#11129 test(python): Ignore matplotlib warning
  py-polars/pyproject.toml
Labels: python, internal

#11130 depr(python, rust!): Rename `is_first/last` to `is_first/last_distinct`
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/is_first_distinct.rs
  crates/polars-ops/src/series/ops/is_last_distinct.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  docs/user-guide/installation.md
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/boolean.rst
  py-polars/docs/source/reference/series/descriptive.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_is_first_last_distinct.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, deprecation, breaking rust

#11117 feat: Expressify str.split argument.
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/for_each.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars/tests/it/lazy/explodes.rs
  py-polars/polars/expr/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#11132 docs(python): Fix `read_database` `batch_size` docstring
  py-polars/polars/io/database.py
Labels: documentation, python

#11141 fix: propagate null value for str/binary starts/ends_with and contains
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/namespaces/test_binary.py
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, fix

#11135 test(rust): Fix rust test for logical plan optimizer for categoricals
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
Labels: rust, fix, internal

#11162 fix(python): only raise on actual parameter collision when "dtypes" specified in `read_excel` "read_csv_options"
  py-polars/polars/exceptions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#11169 fix: Make pl.struct serializable
  crates/polars-plan/src/dsl/function_expr/coerce.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/coerce.rs
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#11164 fix(python)!: consistently use negative every as the default for offset in group_by_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/convert.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, breaking, fix

#11171 fix(python): Add some missing expr type hint for series
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/binary.py
  py-polars/polars/series/string.py
Labels: python, rust, fix

#11172 fix(python,rust): make error message consistent with other calls to python functions from rust
  py-polars/src/map/lazy.rs
Labels: python, rust, skip changelog, fix, internal

#11175 docs(python): clarify every/period/offset in group_by_dynamic
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#11155 feat: argument every of datetime.truncate can be expression
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#11167 feat: list.join's separator can be expression
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/functions_string.rs
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, enhancement, fix

#11182 fix: impl hash for more function expr
  crates/polars-plan/src/dsl/function_expr/correlation.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
Labels: python, rust, fix

#11183 perf: Using cache for str.contains regex compilation
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-utils/src/cache.rs
Labels: python, rust, performance

#11189 perf(rust, python): use try-binary-elementwise instead of try-binary-elementwise-values in dt_truncate
  crates/polars-time/src/truncate.rs
Labels: python, rust, performance

#11185 docs(rust): Fix user_guide of str.split
  docs/src/rust/user-guide/expressions/lists.rs
Labels: documentation, rust

#11158 fix(python): address unexpected expression name from use of unary `-` or `+` operators
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_schema.py
Labels: python, fix

#10375 feat(python): Add support for Iceberg
  .github/workflows/test-python.yml
  README.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dependencies.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/iceberg.py
  py-polars/polars/utils/show_versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/files/iceberg-table/data/ts_day=2023-03-01/.00000-1-6bc54766-6e8a-4fd5-8c00-c6bacbdcaeeb-00001.parquet.crc
  py-polars/tests/unit/io/files/iceberg-table/data/ts_day=2023-03-01/00000-1-6bc54766-6e8a-4fd5-8c00-c6bacbdcaeeb-00001.parquet
  py-polars/tests/unit/io/files/iceberg-table/data/ts_day=2023-03-02/.00000-1-6bc54766-6e8a-4fd5-8c00-c6bacbdcaeeb-00002.parquet.crc
  py-polars/tests/unit/io/files/iceberg-table/data/ts_day=2023-03-02/00000-1-6bc54766-6e8a-4fd5-8c00-c6bacbdcaeeb-00002.parquet
  py-polars/tests/unit/io/files/iceberg-table/metadata/aef5d952-7e24-4764-9b30-3483be37240f-m0.avro
  py-polars/tests/unit/io/files/iceberg-table/metadata/snap-7051579356916758811-1-aef5d952-7e24-4764-9b30-3483be37240f.avro
  py-polars/tests/unit/io/files/iceberg-table/metadata/v2.metadata.json
  py-polars/tests/unit/io/test_iceberg.py
Labels: python, enhancement

#11193 perf: use ryu and itoa for primitive serialization
  Cargo.toml
  crates/nano-arrow/Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-json/Cargo.toml
  crates/polars-json/src/json/write/serialize.rs
  py-polars/Cargo.lock
Labels: python, rust, performance

#11196 feat(rust): run cloud parquet reader in default engine
  .github/workflows/lint-rust.yml
  crates/Makefile
  crates/nano-arrow/Cargo.toml
  crates/nano-arrow/src/array/dictionary/typed_iterator.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/frame/asof_join/mod.rs
  crates/polars-core/src/frame/cross_join.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/prelude.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/csv/utils.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/prelude.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/file_list_reader.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/frame/parquet.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sinks/file_sink.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-time/src/month_start.rs
  crates/polars/Cargo.toml
  py-polars/src/lazyframe.rs
Labels: rust, enhancement

#11195 fix(python,rust): fix translation of Series-nested datetime/date values for `scan_pyarrow` predicates
  crates/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/polars/io/iceberg.py
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/tests/unit/io/test_iceberg.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, fix

#11206 fix: replace n-th in filter
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#11207 fix: fix nullable filter mask in group_by
  crates/polars-lazy/src/physical_plan/expressions/filter.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#11201 fix(python): improve handling of database drivers that can return arrow data
  py-polars/polars/io/database.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, fix

#10957 feat(rust, sql): sql udfs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/udf.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/function_registry.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/lib.rs
  crates/polars-sql/tests/udf.rs
  crates/polars/src/sql.rs
Labels: rust, enhancement, sql

#11213 docs(rust): add various missing expression doc-comments
  crates/polars-ops/src/series/ops/rle.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/polars/expr/expr.py
Labels: documentation, rust

#11214 docs(rust): fix un-compilable rust example in user guide.
  docs/src/rust/user-guide/expressions/casting.rs
  docs/src/rust/user-guide/transformations/time-series/filter.rs
  docs/src/rust/user-guide/transformations/time-series/parsing.rs
  docs/src/rust/user-guide/transformations/time-series/timezones.rs
Labels: documentation, rust

#11197 feat: Expressify str.strip_prefix & suffix
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/test_string.py
Labels: python, rust, enhancement

#11199 feat(rust): binary search and rechunk in chunked gather
  crates/nano-arrow/src/bitmap/bitmask.rs
  crates/nano-arrow/src/bitmap/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/float_sum.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/datatypes/static_array.rs
  crates/polars-core/src/datatypes/static_array_collect.rs
  crates/polars-ops/src/chunked_array/set.rs
  crates/polars-utils/src/index.rs
  crates/polars-utils/src/lib.rs
Labels: rust, enhancement

#11217 fix: is_in for bool evaluate has_false incorrectly
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, rust, fix

#11190 feat(rust): Support `duration + date`
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars/tests/it/core/date_like.rs
Labels: rust, enhancement

#11210 feat(python): natively support reading parquet for aws, gcp and azure
  .github/workflows/lint-py-polars.yml
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/parquet/async_impl.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/Makefile
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazyframe.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/io/cloud/test_aws.py
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, enhancement

#11176 feat: better `tree-formatting` representation
  crates/polars-plan/src/logical_plan/tree_format.rs
  py-polars/tests/unit/namespaces/test_meta.py
  py-polars/tests/unit/namespaces/test_tree_fmt.txt
Labels: python, rust, enhancement

#11098 fix(python): don't conflate saved `Config` JSON string with file path
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/tests/unit/test_cfg.py
Labels: python, fix

#11215 refactor(rust): bind struct.rename_fields to function expr
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/struct_.rs
Labels: rust, internal

#11124 feat(python, rust): Adds `NULLIF` and `COALESCE` SQL functions
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/test_sql.py
Labels: python, rust, enhancement

#11222 fix: use POOL when writing csv
  crates/polars-io/src/csv/write_impl.rs
Labels: python, rust, fix

#11224 refactor: remove unneeded mutex around object-store
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/parquet/async_impl.rs
Labels: python, rust, internal

#11233 refactor: remove unneeded indirection
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/parquet/async_impl.rs
Labels: python, rust, internal

#11223 docs: Mention the `performant` feature only once
  docs/user-guide/installation.md
Labels: documentation, python, rust

#11240 fix: handle url encoded paths in objectpath creation
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/parquet/async_impl.rs
Labels: python, rust, fix

#11241 perf: improve outer join materialization
  crates/polars-core/Cargo.toml
  crates/polars-core/src/frame/hash_join/mod.rs
  crates/polars-core/src/frame/hash_join/zip_outer.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/utf8.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/frame/join/cross_join.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/zip_outer.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars/Cargo.toml
Labels: python, rust, performance

#11250 refactor(rust): remove unnecessary transmute
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
Labels: rust, internal

#11247 feat(rust): improve binary helper so we don't need to rechunk.
  crates/polars-core/src/chunked_array/ops/arity.rs
Labels: rust, enhancement
