Repository pola-rs/polars, pull requests merged in 2024-07, with the labels that each got.

#17313 fix: Raise errors instead of panicking when `sink_csv` fails
  crates/polars-pipe/src/executors/sinks/output/file_sink.rs
  crates/polars-pipe/src/pipeline/dispatcher/mod.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#17295 feat: Add SQL support for `NATURAL` joins and the `COLUMNS` function
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/statements.rs
  py-polars/docs/source/reference/sql/clauses.rst
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, enhancement, A-sql

#17320 fix: Fix panic in window case
  crates/polars-mem-engine/src/executors/projection_utils.rs
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, fix

#16848 docs(python): Update version switcher for 1.0.0 final release
  py-polars/docs/source/_static/version_switcher.json
Labels: documentation, python, do not merge

#17323 release(python): Python Polars 1.0.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: python, release

#17321 fix: Raise proper error for mismatching parquet schema instead of panicking
  crates/polars-arrow/src/datatypes/schema.rs
  crates/polars-core/src/schema.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/utils.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#17350 fix: Fix typo in `SchemaError` exception message
  crates/polars-core/src/series/comparison.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#17383 docs(python): Update `GroupBy.__iter__` docstring to match new behavior
  py-polars/polars/dataframe/group_by.py
Labels: documentation, python

#17378 refactor(rust): Remove dead code
  crates/polars-core/src/schema.rs
Labels: rust, internal

#17371 perf(python): add future arg to Series.to_arrow
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
Labels: python, performance

#17363 fix(rust): Cull row index in scan if projection pushdown removes it
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/io/test_scan.py
Labels: rust, fix

#17372 fix: Fix `slice` length no longer allowing `None`
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  py-polars/tests/unit/expr/test_exprs.py
Labels: python, rust, fix

#17386 test(python): Avoid writing to disk when running `sink_csv` test
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, internal

#17387 test(python): Avoid use of `np.trapz` in tests to prepare for NumPy 2.0
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/operations/map/test_map_groups.py
  py-polars/tests/unit/test_errors.py
Labels: python, internal

#17384 build(python): Add support for NumPy 2.0
  Cargo.lock
  docs/requirements.txt
  py-polars/Cargo.toml
  py-polars/docs/requirements-docs.txt
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
Labels: python, build

#17390 ci(python): Fix Python version resolver in release drafter
  .github/release-drafter-python.yml
Labels: python, rust, internal

#17394 docs(python): Update `partition_by` docstring to match new behavior
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#17393 fix(rust): avoid panic when projecting solitary count into empty frame
  crates/polars-plan/src/plans/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_projections.py
Labels: rust, fix

#17315 perf(python): Use underlying fileno for Python files when possible
  crates/polars-io/src/ipc/mmap.rs
  crates/polars-io/src/mmap.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/file.rs
  py-polars/src/functions/io.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, performance

#17395 refactor: Remove transmute for object store path
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
Labels: python, rust, internal

#17399 perf: Parallelize parquet metadata deserialization
  crates/polars-mem-engine/src/executors/scan/parquet.rs
Labels: python, rust, performance

#17400 fix(python): Fix a global variable table-discovery edge case for the `SQL` interface
  py-polars/polars/sql/context.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, fix, A-sql

#17397 fix(python): Fix `from_pandas` for string columns with missing values
  py-polars/polars/_utils/construction/utils.py
  py-polars/tests/unit/interop/numpy/test_numpy.py
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#17412 ci: Add automated check for PR title formatting
  .github/pr-title-checker-config.json
  .github/workflows/pr-labeler.yml
  docs/development/contributing/index.md
Labels: python, rust, internal

#17359 refactor(rust): Add ordered union to new streaming engine
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/graph.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/filter.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_sink.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/map.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/ordered_union.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/nodes/simple_projection.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
Labels: rust, internal

#17434 feat: Support hive partitioning in `scan_ipc`
  crates/polars-io/src/hive.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/utils.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  py-polars/polars/io/ipc/functions.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement

#17435 fix(python): Support sa session
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/database/test_write.py
Labels: python, fix

#17441 feat: Add right join support
  crates/polars-core/src/frame/mod.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-plan/src/plans/schema.rs
  py-polars/polars/_typing.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/conversion/mod.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/operations/test_join_right.py
Labels: python, rust, enhancement

#17328 fix(python): Fix handling of TextIOWrapper in write_csv
  .github/workflows/test-python.yml
  py-polars/polars/dataframe/frame.py
  py-polars/src/file.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#17445 fix: Raise on oob decimal precision
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#17450 perf: Respect allow_threading in some more operators
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/planner.rs
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
Labels: python, rust, performance

#17431 docs(python): Add examples for scanning hive datasets to user guide
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
  docs/user-guide/io/index.md
  mkdocs.yml
Labels: documentation, python

#17448 fix(python): Make boolean reads consistent across all `read_excel` engines
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-excel

#17451 refactor(rust): Add streaming slice node to new streaming engine
  Cargo.lock
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/linearizer.rs
  crates/polars-stream/src/utils/mod.rs
Labels: rust, internal

#17324 feat: Support writing hive partitioned parquet
  crates/polars-arrow/src/doc/lib.md
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-io/src/partition.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-plan/src/plans/hive.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/read_indexes.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/dataframe/io.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement

#17461 fix: Don't rechunk on phys_repr
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#17462 perf: Batch parquet primitive decoding
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  crates/polars-arrow/src/legacy/utils.rs
  crates/polars-arrow/src/pushable.rs
  crates/polars-arrow/src/trusted_len.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/decode.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/fuzz.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/translator.rs
  crates/polars/tests/it/io/parquet/read/binary.rs
  crates/polars/tests/it/io/parquet/read/fixed_binary.rs
  crates/polars/tests/it/io/parquet/read/primitive.rs
  crates/polars/tests/it/io/parquet/read/primitive_nested.rs
  crates/polars/tests/it/io/parquet/read/struct_.rs
  crates/polars/tests/it/io/parquet/read/utils.rs
Labels: python, rust, performance

#17459 feat: Apply slice pushdown immediately to in-memory frames
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, enhancement

#17433 fix(python): Verify the integrity of pandas column names before implied string conversion
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/interop/test_from_pandas.py
Labels: python, fix

#17463 perf: Keep more parallelism when CSE plan cache hits
  crates/polars-plan/src/plans/optimizer/cache_states.rs
Labels: python, rust, performance

#17464 fix: Fix decimal dyn float supertype
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#17468 fix(python): Handle DB cursor descriptions that contain more fields than the DBAPI2 standard
  py-polars/polars/io/database/_inference.py
Labels: python, fix, A-io-database

#17471 python Polars 1.1.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#17465 docs: Fix typo in Getting Started section of user guide
  docs/user-guide/getting-started.md
Labels: python, rust, internal

#17476 fix(python): Normalize path in `sink_csv`
  py-polars/polars/lazyframe/frame.py
Labels: python, fix

#17483 docs(python): Add example for writing hive partitioned parquet to user guide
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
Labels: documentation, python

#17470 feat(python): Support use of SQLAlchemy "Connectable" in `write_database`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/database/test_write.py
Labels: python, enhancement

#17489 fix: Fix struct expansion and raise on exclude
  crates/polars-plan/src/dsl/struct_.rs
  py-polars/src/expr/struct.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#17353 fix: Turn panic into error when serializing Object types
  crates/polars-core/src/serde/series.rs
  py-polars/src/dataframe/serde.rs
  py-polars/src/expr/serde.rs
  py-polars/src/lazyframe/serde.rs
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/lazyframe/test_serde.py
Labels: python, rust, fix

#17478 feat: Exclude empty files from directory/glob expansion
  crates/polars-io/src/cloud/glob.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#17488 docs(python): Add `write_parquet_partitioned`
  py-polars/docs/source/reference/io.rst
Labels: documentation, python

#17493 refactor(python): Remove unused `is_supported_cloud` util
  py-polars/polars/io/_utils.py
  py-polars/tests/unit/io/cloud/test_utils.py
Labels: python, internal

#17480 feat: Raise more informative error message for directories containing files with mixed extensions
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#17495 fix(python): Make sure `scan_ipc` does not go through fsspec
  py-polars/polars/io/ipc/anonymous_scan.py
  py-polars/polars/io/ipc/functions.py
Labels: python, fix

#17502 chore(python): Add `style` accessor to `DataFrame`
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#17518 fix(rust): Add missing commas in python IR interchange
  .github/CODEOWNERS
  py-polars/src/lazyframe/visitor/expr_nodes.rs
Labels: rust, fix

#17521 refactor(rust): Move path expansion utils to `polars-io` crate
  Cargo.lock
  crates/polars-io/Cargo.toml
  crates/polars-io/src/utils/mod.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-io/src/utils/path.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Labels: rust, internal

#17529 fix(python): Add right to lazyframe join docstring
  py-polars/polars/lazyframe/frame.py
Labels: python, fix

#17542 perf: Batch nested Parquet decoding
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/translator.rs
Labels: python, rust, performance

#17549 perf: Batch nested embed parquet decoding
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/struct_.rs
Labels: python, rust, performance

#17572 fix: Temporary skip more tests
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, fix

#17571 fix: Fix scanning from HTTP cloud paths
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/utils/path.rs
  crates/polars-plan/src/plans/conversion/scans.rs
Labels: python, rust, fix

#17569 refactor(rust): Smaller filter / valid in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/deserialize/filtered_rle.rs
Labels: rust, internal

#17566 fix: Don't unwrap send attempt to oneshot channel
  crates/polars-io/src/parquet/read/read_impl.rs
Labels: python, rust, fix

#17551 refactor(rust): No longer blanket allow unused items in polars-stream
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-stream/src/async_primitives/pipe.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/utils/linearizer.rs
Labels: rust, internal

#17558 fix(rust): Correct logic for descending sort of BooleanChunked
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
Labels: rust, fix

#17545 perf: Support datetime in predicate during hive partition pruning
  crates/polars-io/src/predicates.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement, performance

#17516 refactor(rust): Make no-default-features compile
  crates/polars-plan/src/dsl/function_expr/mod.rs
  docs/src/rust/Cargo.toml
  py-polars/Cargo.toml
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/expr/struct.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/src/lib.rs
Labels: rust, internal

#17512 perf: Improve parallelism in writing hive parquet
  crates/polars-io/src/partition.rs
  crates/polars-io/src/prelude.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, performance

#15092 feat: Support `describe` on decimal
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#17530 docs(python): Fixup "deprecated" directive for `DataFrame.melt` and `LazyFrame.melt`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/functions/test_business_day_count.py
Labels: documentation, python

#17538 test(python): Add/fix version-gating in some SQLAlchemy and Pandas tests
  py-polars/pyproject.toml
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/io/database/test_async.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, test, internal

#17532 fix: Defer path expansion until `collect` in file scan methods
  crates/polars-io/src/utils/path.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#17582 fix: Method dt.truncate was sometimes returning incorrect results for pre-1970 datetimes
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Labels: python, rust, fix

#17568 docs: Update SQL examples in README
  README.md
Labels: documentation, python, rust

#17563 feat: Add option to include file path for Parquet, IPC, CSV scans
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#17537 fix(python): Set `O_CLOEXEC` on duplicated file descriptor
  py-polars/src/file.rs
Labels: python, fix

#17536 docs(python): Adjust rendering of links in `read_database_uri` docstring
  py-polars/polars/io/database/functions.py
Labels: documentation, python

#17543 fix(python): Handle current position of file objects
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/utils/other.rs
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json/read.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/src/file.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#17524 fix(python): Make schema picklable
  py-polars/polars/schema.py
  py-polars/tests/unit/test_schema.py
Labels: python, fix

#17588 fix: Bitmap collect into safety
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#17590 refactor: Fix struct outer validity;fmt;is_in;cast;cmp
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-ops/src/series/ops/cut.rs
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/conversion/mod.rs
  py-polars/src/dataframe/general.rs
  py-polars/src/map/series.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, rust, internal

#17596 fix(python): Don't enforce row order in join test results where not guaranteed
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, fix

#17589 refactor: Completely redo structure of Parquet decoder
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/gatherer.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#17597 test: Re-enable struct related tests
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/lazyframe/test_serde.py
  py-polars/tests/unit/series/test_to_list.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, internal

#17608 docs: Add right join in the user guide
  docs/src/python/user-guide/transformations/joins.py
  docs/src/rust/user-guide/transformations/joins.rs
  docs/user-guide/transformations/joins.md
Labels: documentation, python, rust

#17580 perf: Add fastpath for when rounding by single constant durations
  crates/polars-time/src/round.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Labels: python, rust, performance

#17607 refactor(python): Remove unused `with_column` method of PyLazyFrame
  py-polars/src/lazyframe/mod.rs
Labels: python, internal

#17606 fix(rust!, python): Reject literal input in `sort_by_exprs()`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/ops_distinct_on.rs
  crates/polars-sql/tests/simple_exprs.rs
  crates/polars/src/docs/lazy.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: title needs formatting

#17609 refactor: Back to StructChunked name
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/chunked_array/ops/extend.rs
  crates/polars-core/src/chunked_array/ops/filter.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/struct_/frame.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/row/av_buffer.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/serde/chunked_array.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/downcast.rs
  crates/polars-core/src/series/ops/null.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-ops/src/chunked_array/array/to_struct.rs
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/chunked_array/list/to_struct.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/split.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/frame/pivot/positioning.rs
  crates/polars-ops/src/series/ops/cut.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-ops/src/series/ops/rle.rs
  crates/polars-plan/src/dsl/function_expr/coerce.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/name.rs
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/map/mod.rs
  py-polars/src/map/series.rs
Labels: python, rust, internal

#17611 fix: Don't needlessly unwrap in `pivot_schema`
  crates/polars-plan/src/plans/functions/schema.rs
Labels: python, rust, fix

#17508 docs: Create example for `polars.Expr.bin.decode`
  py-polars/polars/expr/binary.py
Labels: documentation, python, rust

#17613 feat: Expose `returns_scalar` to map_elements
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/polars/datatypes/_parse.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, enhancement

#17610 perf: Cache schema resolve back to DSL
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
Labels: python, rust, enhancement, performance

#17621 refactor: Fix struct gather
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, internal

#17586 feat: Change API for writing partitioned Parquet to reduce code duplication
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/partition.rs
  crates/polars-io/src/shared.rs
  docs/src/python/user-guide/io/hive.py
  docs/user-guide/io/hive.md
  py-polars/docs/source/reference/io.rst
  py-polars/polars/dataframe/frame.py
  py-polars/src/dataframe/io.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement, needs decision

#17622 fix: Fix struct -> enum is_in
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, rust, fix

#17623 perf: Rechunk before we go into grouped gathers
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/partition.rs
  py-polars/src/dataframe/io.rs
Labels: python, rust, performance

#17631 fix: Fix row index disappearing after projection pushdown in NDJSON
  crates/polars-io/src/ndjson/core.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#17630 fix: Expand brackets in async glob expansion
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/utils/path.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#17617 feat(python): Add `infer_schema` parameter to `read_csv` / `scan_csv`
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, enhancement

#17628 fix(python): Raise for overlapping index/column names in pandas dataframes post string coercion
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/interop/test_from_pandas.py
Labels: python, fix

#17626 docs: Rename `str.lengths` to `str.len_bytes` in description text (#11577)
  docs/user-guide/expressions/strings.md
Labels: documentation, python, rust

#17635 refactor: Move path logic to from `utils` to `path_utils` in polars-io
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/prelude.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-plan/src/plans/hive.rs
Labels: python, rust, internal

#17517 fix(rust): Tighten up error checking on join keys
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/operations/test_join.py
Labels: rust, fix

#17632 perf: Add `ArrayChunks` to optimize codegen of BatchDecoder
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/types.rs
Labels: python, rust, performance, internal

#17616 perf: Cache path resolving of `scan` functions
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, performance

#17519 refactor(rust): Remove has_validity, use has_nulls
  crates/polars-arrow/src/legacy/array/mod.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/builder/list/primitive.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate_by.rs
  py-polars/polars/series/series.py
  py-polars/src/map/series.rs
  py-polars/src/series/mod.rs
Labels: rust, internal

#17650 perf: Fix pathological perf issue in window-order-by
  crates/polars-expr/src/expressions/sortby.rs
Labels: python, rust, performance

#17645 chore(rust): Document and simplify MutableBinView::push_ignore_validity
  crates/polars-arrow/src/array/binview/mutable.rs
Labels: rust, internal

#17651 fix: Fix explode invalid check
  crates/polars-core/src/frame/explode.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, fix

#17655 refactor(rust): Rename Pipe to Connector
  crates/polars-stream/src/async_primitives/connector.rs
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/nodes/mod.rs
Labels: rust, internal

#17287 refactor: Add DSL validation for cloud eligible check
  crates/polars-error/src/lib.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/prelude.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/client/dsl.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/lib.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/polars/_utils/cloud.py
  py-polars/src/cloud.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/cloud/__init__.py
  py-polars/tests/unit/cloud/test_assert_cloud_eligible.py
Labels: python, rust, enhancement, internal

#17665 feat: Hugging Face path expansion
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
Labels: python, rust, enhancement

#17661 fix: Interpret %y consistently with Chrono in to_date/to_datetime/strptime
  crates/polars-time/src/chunkedarray/string/strptime.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Labels: python, rust, fix

#17641 fix(python): Support duplicate expression names when calling ufuncs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Labels: python, fix

#17667 Python Polars 1.2.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#17627 perf(rust): Better GC and push_view for binviews
  crates/polars-arrow/src/array/binview/buffers.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-compute/src/if_then_else/view.rs
Labels: rust, performance

#17389 refactor: Add reduce `ComputeNode` in new streaming engine
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-core/src/scalar/reduce.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/lib.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/extrema.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/reduce/convert.rs
  crates/polars-plan/src/reduce/extrema.rs
  crates/polars-plan/src/reduce/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, internal

#17685 docs(python): Fixed default name for `value_counts` methods based on normalize parameter
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#17663 fix(rust): Fix type inference failure caused by double transpose
  crates/polars-plan/src/plans/ir/dot.rs
Labels: rust, fix

#17681 feat: Include file path option for NDJSON
  crates/polars-core/src/utils/mod.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/polars/io/ndjson.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#17684 fix: Use ETag for HTTP file cache invalidation
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/file_cache/metadata.rs
Labels: python, rust, fix

#17615 perf(python): Specify tune-cpu & add more features
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
Labels: python, performance

#17690 test: Name tests so they actually run
  crates/polars-compute/src/if_then_else/view.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/dictionary.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, internal

#17688 fix(python): Address `read_database` issue with batched reads from Snowflake
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, fix

#17697 fix: Propagate struct outer nullability eagerly
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/struct__.rs
  py-polars/tests/unit/operations/test_hash.py
Labels: python, rust, fix

#17695 build(python): Pin `setuptools` to fix failing CI
  py-polars/requirements-dev.txt
Labels: python, build, internal

#17696 feat(python): Expose Arrow C interface directly on Polars
  docs/src/python/user-guide/misc/arrow.py
  docs/user-guide/misc/arrow.md
  mkdocs.yml
  py-polars/polars/__init__.py
  py-polars/polars/interchange/__init__.py
  py-polars/polars/series/series.py
  py-polars/src/series/c_interface.rs
Labels: python, enhancement

#17698 fix(python): Fix return type hint for LazyFrame `sink` methods
  py-polars/polars/lazyframe/frame.py
Labels: python, fix, internal, title needs formatting

#17699 refactor(rust): Allow compute nodes in streaming engine to decide whether they want serial or parallel input/output
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/filter.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_sink.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/map.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/ordered_union.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/nodes/simple_projection.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/pipe.rs
Labels: rust, internal

#17679 feat: Raise error instead of panic in unsupported serde
  crates/polars-core/src/datatypes/any_value.rs
Labels: title needs formatting

#17700 fix: Use bytemuck in slice reinterpret for Parquet ArrayChunks
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/parquet/types.rs
Labels: python, rust, fix

#17704 Python Polars 1.2.1
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#17707 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: python, rust, internal

#17712 perf: Introduce `MemReader` to file buffer in Parquet reader
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
  crates/polars-parquet/src/parquet/read/page/memreader.rs
  crates/polars-parquet/src/parquet/read/page/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/write/compression.rs
  crates/polars-parquet/src/parquet/write/page.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/indexes.rs
  crates/polars/tests/it/io/parquet/write/mod.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
Labels: python, rust, performance

#17682 feat: Support API token for scanning `hf://`
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, enhancement

#17718 fix: Percent encode for Hugging Face paths
  crates/polars-io/src/partition.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/utils/mod.rs
Labels: python, rust, fix

#17717 feat: Cloud support for NDJSON
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/file_scan.rs
  crates/polars-plan/src/plans/functions/count.rs
  py-polars/polars/io/ndjson.py
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/io/test_lazy_count_star.py
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#17716 perf(python): Also set target features and tune cpu for CC
  .github/workflows/release-python.yml
Labels: python, performance

#17723 perf: Use bitflags for function options
  Cargo.lock
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/functions/business.rs
  crates/polars-plan/src/dsl/functions/coerce.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/dsl/struct_.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-plan/src/utils.rs
  py-polars/src/functions/misc.rs
Labels: python, rust, performance

#17721 docs(python): Add Hugging Face section to user guide
  docs/_build/API_REFERENCE_LINKS.yml
  docs/src/python/user-guide/io/hugging-face.py
  docs/user-guide/io/hugging-face.md
  docs/user-guide/io/index.md
  mkdocs.yml
Labels: documentation, python

#17726 chore(python): Unpin `setuptools`
  py-polars/requirements-dev.txt
Labels: python, internal

#17725 perf: Use mmap-ed memory if possible in Parquet reader
  Cargo.lock
  Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-io/src/mmap.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/null/mod.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/mod.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
  crates/polars-parquet/src/parquet/read/page/memreader.rs
  crates/polars-parquet/src/parquet/read/page/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/write/compression.rs
  crates/polars-parquet/src/parquet/write/page.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/mem.rs
  crates/polars-utils/src/mmap.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/indexes.rs
  crates/polars/tests/it/io/parquet/write/mod.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
Labels: python, rust, performance

#17706 refactor(rust): Add the capability to run new streaming engine on test suite
  crates/polars-io/src/pl_async.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#17738 fix: Fix out nullability for structs coming from arrow
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/from.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#17740 refactor(rust): Add missing feature flag for prefetching on arm
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/mem.rs
Labels: rust, internal

#17734 perf: Batch parquet integer decoding
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
Labels: python, rust, performance

#17742 fix: Panic in pl.concat_list and list.concat on empty inputs
  crates/polars-core/src/series/ops/reshape.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
  py-polars/tests/unit/test_empty.py
Labels: python, fix

#17752 fix(rust,python): Fix GC logic in `write_ipc`
  crates/polars-arrow/src/io/ipc/write/common.rs
Labels: python, rust, fix
