Repository pola-rs/polars, pull requests merged in 2024-12, with the labels that each got.

#20085 docs: Correct supported compression formats
  crates/polars/src/lib.rs
  docs/source/user-guide/installation.md
Labels: documentation, python, rust

#20093 build: Update some Rust dependencies
  Cargo.lock
  Cargo.toml
Labels: python, rust, build

#20094 build: Bump `chrono-tz` to `0.10`
  Cargo.lock
  Cargo.toml
Labels: python, rust, build

#20095 chore(rust): Update AWS doc dependencies
  Cargo.lock
  docs/source/src/rust/Cargo.toml
Labels: rust, internal

#20070 docs(rust): Fix inconsistency between code and comment
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/offset.rs
Labels: documentation, rust

#20084 fix: Only slice after sort when slice is smaller than frame length
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#20077 fix: Return null instead of 0. for rolling_std when window contains a single element and ddof=1 and there are nulls elsewhere in the Series
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/variance.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#20098 build: Bump `atoi_simd` to version `0.16`
  Cargo.lock
  Cargo.toml
Labels: python, rust, build

#20101 build: Bump `fs4` to version `0.12`
  Cargo.lock
  crates/polars-io/Cargo.toml
Labels: python, rust, build

#20102 build: Bump `object_store` to version `0.11`
  Cargo.lock
  Cargo.toml
Labels: python, rust, build

#20105 build: Bump `memmap2` to version `0.9`
  Cargo.lock
  Cargo.toml
Labels: python, rust, build

#20108 fix: Materialize smallest dyn ints to use feature gate for i8/i16
  crates/polars-core/src/utils/supertype.rs
Labels: python, rust, fix

#20092 feat(python): Enable view arrow export in `write_delta`
  py-polars/polars/dataframe/frame.py
  py-polars/pyproject.toml
Labels: python, enhancement

#19715 docs: Update `by` param description for rolling_*_by functions
  py-polars/polars/expr/expr.py
Labels: documentation, python, rust

#20109 fix: Subtraction with underflow on empty FixedSizeBinaryArray
  crates/polars-compute/src/cast/binary_to.rs
Labels: title needs formatting

#20120 fix: DataFrame `.get_column` after `drop_in_place`
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#20056 chore: Add a bunch more automated row encoding sortedness tests
  crates/polars-row/src/decode.rs
  crates/polars-row/src/encode.rs
  py-polars/pyproject.toml
  py-polars/tests/unit/test_row_encoding.py
  py-polars/tests/unit/test_row_encoding_sort.py
Labels: python, rust, internal

#20127 fix: Incorrect aggregation of empty groups after slice
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-expr/src/expressions/slice.rs
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
Labels: python, rust, fix

#20132 fix: Handle slice pushdown in PythonUDF GroupBy
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#20136 chore: Remove useless SeriesTrait::get implementations
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
Labels: python, rust, internal

#20134 chore: Move horizontal methods to polars-ops
  crates/polars-core/src/chunked_array/ops/min_max_binary.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/arithmetic/horizontal.rs
  crates/polars-core/src/series/arithmetic/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-python/src/conversion/mod.rs
Labels: python, rust, internal

#20075 docs: Fix Rust examples in user guide
  Cargo.lock
  docs/source/src/rust/Cargo.toml
  docs/source/src/rust/user-guide/concepts/lazy-vs-eager.rs
  docs/source/src/rust/user-guide/expressions/window.rs
  docs/source/src/rust/user-guide/getting-started.rs
  docs/source/src/rust/user-guide/io/csv.rs
  docs/source/src/rust/user-guide/io/json.rs
  docs/source/src/rust/user-guide/io/parquet.rs
  docs/source/src/rust/user-guide/transformations/joins.rs
Labels: documentation, python, rust

#20121 test(python): Fix typo in assertion in datatype copy test
  py-polars/tests/unit/datatypes/test_datatype.py
Labels: python, internal

#20129 feat: Experimental cloud write support
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils/file.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-pipe/src/executors/sinks/output/csv.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/json.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-utils/src/io.rs
  crates/polars-utils/src/mmap.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_write.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, enhancement

#20149 perf: Don't instantiate validity mask when unneeded in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
Labels: python, rust, performance

#20133 fix(rust): Fix index out of bounds in uniform_hist_count
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/tests/unit/operations/test_hist.py
Labels: rust, fix

#20153 chore(python): Set delta version check higher
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#20157 perf(python): Construct `Series` for bytes/binary data 10x faster when dtype not explicitly set
  py-polars/polars/datatypes/constructor.py
Labels: python, performance

#20142 perf: Reduce memory copy when scanning from Python objects
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/file.rs
  crates/polars-utils/src/mmap.rs
Labels: python, rust, performance

#20150 perf: Utilize the RangedUniqueKernel for Enum/Categorical
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-compute/src/unique/boolean.rs
  crates/polars-compute/src/unique/dictionary.rs
  crates/polars-compute/src/unique/mod.rs
  crates/polars-compute/src/unique/primitive.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  crates/polars-core/src/chunked_array/ops/unique/mod.rs
Labels: python, rust, performance

#20161 fix: Deal with masked out list elements
  crates/polars-row/src/encode.rs
  py-polars/tests/unit/test_row_encoding.py
Labels: python, rust, fix

#20160 refactor(rust): Move new-streaming parquet and CSV sources to under `io_sources/`
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mem_prefetch_funcs.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_fetch.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_utils.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_data_fetch.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#20158 feat(python): Issue warning when using `to_struct()` without a list of field names
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_projections.py
Labels: python, enhancement

#20164 refactor(rust!): Remove dedicated `sink_(parquet/ipc)_cloud` functions
  crates/Makefile
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars/Cargo.toml
Labels: rust, internal, breaking rust

#20166 perf(python): Much faster `Series` construction from subclasses of standard Python types
  py-polars/polars/datatypes/constructor.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, performance

#20178 fix: Column name mismatch or not found in Parquet scan with filter
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20177 fix(rust): Add temporal feature gate in `is_elementwise_top_level`
  crates/polars-plan/src/plans/aexpr/mod.rs
Labels: python, rust, fix

#20167 fix(python): Series construct with large nested `u64`
  py-polars/polars/_utils/construction/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#20140 fix: Invalid `bitwise_xor` for ScalarColumn
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/scalar.rs
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, fix

#20144 feat: Allow for `to_datetime` / `strftime` to automatically parse dates with single-digit hour/minute/second
  crates/polars-time/src/chunkedarray/string/infer.rs
  py-polars/tests/unit/operations/namespaces/test_strptime.py
Labels: python, rust, enhancement

#20172 fix: Don't use RLE encoding for Parquet Boolean
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/mod.rs
Labels: python, rust, fix

#20181 fix: Serialize categories of Enum in arrow metadata
  crates/polars-arrow/src/datatypes/field.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/ffi/schema.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/builder/list/anonymous.rs
  crates/polars-core/src/chunked_array/builder/string.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/from.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/schema.rs
  crates/polars-core/src/series/from.rs
  crates/polars-io/src/json/infer.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/utils.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/min_max.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-python/src/functions/io.rs
  crates/polars-python/src/series/import.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_utils.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#20026 feat: Add `maintain_order` parameter to joins
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-utils/src/index.rs
  py-polars/polars/_typing.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#20182 test: Add ragged lines test
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, internal

#20183 fix: Only validate UTF-8 for selected items when all below len 128
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20169 feat: Allow sorting of lists and arrays
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/list.rs
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, enhancement

#20180 feat(python): Improve dtype inference and load for `DataFrame` cols constructed from Python Enums
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/functions/test_lit.py
Labels: python, enhancement

#20187 fix: Respect parallel argument in parquet
  crates/polars-io/src/parquet/read/read_impl.rs
Labels: python, rust, fix

#20188 feat: Support reading Enum dtype from csv
  crates/polars-io/src/csv/read/buffer.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, enhancement

#20191 fix: Estimated size for object
  crates/polars-core/src/series/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, rust, fix

#20199 fix: Csv stop simd cache if eol char is hit
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/splitfields.rs
Labels: python, rust, fix

#20193 refactor: Move Bitwise aggregations to FunctionExpr
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/src/dsl/bitwise.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/function_expr/bitwise.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/format.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/iterator.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, internal

#20185 feat: Retry with reloaded credentials on cloud error
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/utils/byte_source.rs
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, rust, enhancement

#20189 fix: Properly project unordered column in parquet prefiltered
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-plan/src/plans/file_scan.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-schema/src/schema.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20186 fix: Allow row encoding for 32-bit architectures (e.g. WASM)
  crates/polars-row/src/row.rs
Labels: python, rust, fix

#20197 refactor: Deprecate ddof parameter for correlation coefficient
  crates/polars-compute/src/var_cov.rs
  crates/polars-lazy/src/tests/arity.rs
  crates/polars-ops/src/chunked_array/cov.rs
  crates/polars-plan/src/dsl/function_expr/correlation.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-python/src/functions/lazy.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, internal

#19872 perf: Add fast paths for series.arg_sort and dataframe.sort
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, performance

#19719 docs: Expand plotting docs
  docs/source/src/python/user-guide/misc/visualization.py
  docs/source/user-guide/misc/visualization.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#20205 fix: Don't trigger length check in array construction
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  crates/polars-core/src/chunked_array/logical/enum_/mod.rs
  crates/polars-core/src/chunked_array/logical/time.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/null.rs
  crates/polars-ops/src/chunked_array/scatter.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  crates/polars-python/src/functions/mod.rs
  crates/polars-python/src/functions/utils.rs
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/series/utils.py
  py-polars/src/lib.rs
Labels: python, rust, fix

#20194 docs: Add more Rust examples to User Guide
  docs/source/src/python/user-guide/expressions/missing-data.py
  docs/source/src/rust/Cargo.toml
  docs/source/src/rust/user-guide/expressions/aggregation.rs
  docs/source/src/rust/user-guide/expressions/folds.rs
  docs/source/src/rust/user-guide/expressions/missing-data.rs
  docs/source/src/rust/user-guide/expressions/strings.rs
  docs/source/user-guide/expressions/strings.md
Labels: documentation, python, rust

#20212 python Polars 1.17.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#20213 rust Polars 0.45.0
  Cargo.lock
  Cargo.toml
  crates/polars-json/Cargo.toml
  crates/polars-lazy/Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: title needs formatting

#20219 fix: Fix assertion panic on LazyFrame `scratch.is_empty()`
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#20224 refactor: Remove debug asserts on scratch space
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, skip changelog, internal

#20222 fix: Fix incorrect lazy `select(len())` with some select orderings
  crates/polars-plan/src/plans/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, fix

#20226 Rust Polars 0.45.1
  Cargo.lock
  Cargo.toml
Labels: title needs formatting

#20227 python Polars 1.17.1
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#20230 feat: Expose AexprArena
  crates/polars-plan/src/plans/visitor/expr.rs
Labels: python, rust, enhancement, internal

#20235 fix: Properly account for updated Categorical in .unique() kernel
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#20240 test(python): Add test for BytesIO overwritten after scan
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/dataframe/serde.rs
  crates/polars-python/src/file.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, internal

#20211 feat: Add `cat.len_chars` and `cat.len_bytes`
  crates/polars-plan/src/dsl/cat.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  crates/polars-python/src/expr/categorical.rs
  py-polars/docs/source/reference/expressions/categories.rst
  py-polars/docs/source/reference/series/categories.rst
  py-polars/polars/expr/categorical.py
  py-polars/polars/series/categorical.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, enhancement

#20241 fix: Ensure height is maintained in SQL `SELECT 1 FROM`
  crates/polars-plan/src/plans/aexpr/scalar.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/simple_exprs.rs
  py-polars/tests/unit/sql/test_literals.py
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, fix

#20243 fix: Incorrect comparison in some cases with filtered list/array columns
  crates/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/tests/unit/operations/test_comparison.py
Labels: python, rust, fix

#20246 feat(rust): IR formatting QoL improvements
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/mod.rs
Labels: rust, enhancement

#20245 fix: Fix error writing on Windows to locations outside of C drive
  crates/polars-io/src/utils/file.rs
Labels: python, rust, fix

#20223 fix: Ensure output height does not change on lazy projection pushdown with aggregations
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#20247 build(python): Build wheels for ARM Windows in Python release workflow
  .github/workflows/release-python.yml
Labels: python, build

#20267 feat(python): Streamline creation of empty frame from `Schema`
  py-polars/polars/schema.py
  py-polars/tests/unit/test_schema.py
Labels: python, enhancement

#20280 perf(python): Lower overhead for `BytecodeParser` on introspection of incompatible UDFs
  py-polars/polars/_utils/udfs.py
Labels: python, performance

#20293 chore(python): Clean up some remnants of Python 3.8 support
  .github/workflows/test-bytecode-parser.yml
  docs/source/user-guide/installation.md
  py-polars/polars/_utils/convert.py
  py-polars/polars/dependencies.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_upsample.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/functions/as_datatype/test_datetime.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/io/database/test_read.py
  py-polars/tests/unit/io/database/test_write.py
  py-polars/tests/unit/ml/test_to_jax.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/series/buffers/test_from_buffers.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, internal

#20292 docs(python): Include parquet options in BigQuery I/O write sample
  docs/source/src/python/user-guide/io/bigquery.py
Labels: documentation, python

#20299 refactor: Add more descriptive error message for failure of vstack/extend
  crates/polars-core/src/frame/mod.rs
Labels: python, rust, internal

#20286 refactor: Add `FunctionCastOptions` and conservative IR-level cast type-checking
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/conversion/type_coercion/functions.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/optimizer/fused.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/functions/misc.rs
Labels: python, rust, internal

#20278 fix: Ensure pl.datetime returns empty column when input columns are empty
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/functions/as_datatype/test_datetime.py
Labels: python, rust, fix

#20297 chore(python): Prepare test suite for Python 3.13 support
  docs/source/requirements.txt
  docs/source/src/python/user-guide/misc/styling.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/docs/test_user_guide.py
Labels: python, internal

#20248 feat: Allow decoding of non-Polars arrow dictionaries in Arrow and Parquet
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/datatypes/field.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/io/avro/read/deserialize.rs
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/mmap/mod.rs
  crates/polars-arrow/src/record_batch.rs
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/propagate_dictionary.rs
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/from.rs
  crates/polars-io/src/ipc/mmap.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/arrow/read/deserialize/categorical.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/optional.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/optional_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/float.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/schema/metadata.rs
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/interop/arrow/to_py.rs
  crates/polars-python/src/interop/arrow/to_rust.rs
  crates/polars-python/src/series/export.rs
  crates/polars-utils/src/pl_str.rs
  crates/polars/tests/it/arrow/io/ipc/mod.rs
  crates/polars/tests/it/io/avro/read.rs
  crates/polars/tests/it/io/avro/write.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  crates/polars/tests/it/io/parquet/read/file.rs
  crates/polars/tests/it/io/parquet/read/row_group.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement, internal

#20263 feat: Add `bin.reinterpret`
  crates/polars-ops/src/chunked_array/binary/cast_binary_to_numerical.rs
  crates/polars-ops/src/chunked_array/binary/mod.rs
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-python/src/expr/binary.rs
  py-polars/docs/source/reference/expressions/binary.rst
  py-polars/docs/source/reference/series/binary.rst
  py-polars/polars/_typing.py
  py-polars/polars/expr/binary.py
  py-polars/polars/series/binary.py
  py-polars/tests/unit/operations/namespaces/test_binary.py
Labels: python, rust, enhancement

#20300 feat: Allow substraction of time dtype columns
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, enhancement

#20301 feat: Add 'skip_lines' for CSV
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-python/src/batched_csv.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#20302 refactor: Don't deconstruct `CsvParseOptions`
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/read_impl/batched.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
Labels: python, rust, internal

#20306 fix: Ignore quotes in csv comments
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#20307 feat: Use better error messages when opening files
  crates/polars-io/src/partition.rs
  crates/polars-io/src/utils/file.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-python/src/batched_csv.rs
  crates/polars-python/src/file.rs
  py-polars/tests/unit/io/test_utils.py
Labels: python, rust, enhancement

#20309 refactor: Don't warn on fork hook
  py-polars/polars/__init__.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, internal

#19054 docs(python): Fix substr function param definition
  crates/polars-sql/src/functions.rs
  py-polars/docs/source/reference/sql/functions/string.rst
Labels: documentation, python

#20312 refactor: Use Column in Row Encoding
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/series/general.rs
Labels: python, rust, internal

#20311 fix: Properly handle `from_physical` for List/Array
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/mod.rs
Labels: python, rust, fix

#20315 fix: Boolean optional slice pushdown
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20310 docs: Improve docs about NaN
  docs/source/user-guide/expressions/missing-data.md
Labels: documentation, python, rust

#20326 feat: Improve error message on SchemaError
  crates/polars-core/src/series/ops/downcast.rs
Labels: python, rust, fix

#20266 feat: Serialize DataFrame/Series using IPC in serde
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/partitioned.rs
  crates/polars-core/src/frame/column/scalar.rs
  crates/polars-core/src/frame/column/series.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/serde/mod.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-plan/src/plans/file_scan.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-plan/src/plans/python/predicate.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/cloud.rs
  crates/polars-python/src/dataframe/serde.rs
  crates/polars-python/src/expr/serde.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/serde.rs
  crates/polars-python/src/series/general.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/config.rs
  crates/polars-utils/src/io.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/pl_serialize.rs
  crates/polars-utils/src/python_function.rs
  crates/polars/Cargo.toml
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/meta.py
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
  py-polars/tests/unit/lazyframe/test_serde.py
Labels: python, rust, enhancement

#20331 perf: Cache dtype on ExprIR
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/utils.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, enhancement, performance

#19869 refactor(rust): Add equi joins to new streaming engine
  crates/polars-arrow/src/compute/take/generic_binary.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/chunked_idx_table/mod.rs
  crates/polars-expr/src/chunked_idx_table/row_encoded.rs
  crates/polars-expr/src/groups/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/lib.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/joins/equi_join.rs
  crates/polars-stream/src/nodes/joins/in_memory.rs
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/idx_map/bytes_idx_map.rs
  crates/polars-utils/src/index.rs
  py-polars/polars/functions/eager.py
  py-polars/tests/benchmark/test_with_columns.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_string_cache.py
Labels: rust, internal

#20335 docs: Small fixes/clarifications in user guide
  docs/source/src/python/user-guide/misc/arrow_pycapsule.py
  docs/source/user-guide/transformations/joins.md
  docs/source/user-guide/transformations/pivot.md
  docs/source/user-guide/transformations/time-series/filter.md
  docs/source/user-guide/transformations/time-series/parsing.md
Labels: documentation, python, rust

#20343 test(python): Add test for `select(len())`
  py-polars/tests/unit/test_projections.py
Labels: python, internal

#20345 build(python): Add `project.dynamic = ["version"]` to pyproject.toml
  py-polars/pyproject.toml
Labels: python, build

#20348 docs: Remove Plugins overview page without information
  docs/source/user-guide/plugins/index.md
  docs/source/user-guide/plugins/your-first-polars-plugin.md
  mkdocs.yml
Labels: documentation, python, rust

#20351 fix(python): Correctly parse special float values in `from_repr`
  py-polars/polars/_utils/various.py
  py-polars/polars/convert/general.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#20358 fix: Flip order on right join
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#20356 feat: Add env var to ignore file cache allocate error
  crates/polars-io/src/file_cache/entry.rs
Labels: python, rust, enhancement, fix

#20363 perf: Explicit transpose in new-streaming equi-join finalize
  crates/polars-stream/src/nodes/joins/equi_join.rs
Labels: python, rust, performance

#20373 perf(rust): Drop probe tables in parallel in new-streaming equi-join
  crates/polars-stream/src/nodes/joins/equi_join.rs
Labels: rust, performance

#20375 refactor(python): Correcting misspelled return value and unifying regional spelling
  py-polars/polars/convert/normalize.py
Labels: python, internal

#20371 perf: Purge ChunkedArray Metadata
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/flags.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/metadata/collect.rs
  crates/polars-core/src/chunked_array/metadata/env.rs
  crates/polars-core/src/chunked_array/metadata/guard.rs
  crates/polars-core/src/chunked_array/metadata/interior_mutable.rs
  crates/polars-core/src/chunked_array/metadata/md_trait.rs
  crates/polars-core/src/chunked_array/metadata/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/nulls.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/serde/chunked_array.rs
  crates/polars-core/src/serde/mod.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/to_metadata.rs
Labels: python, rust, performance, internal

#20203 refactor: Move hive partitioning/multi-file handling outside of readers
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/count.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/rolling.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/sort.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-mem-engine/src/executors/hive_scan.rs
  crates/polars-mem-engine/src/executors/mod.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-schema/src/schema.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
Labels: python, rust, internal

#20381 docs(python): Update GPU engine installation instructions to remove `--extra-index-url` from CUDA 12 packages
  docs/source/user-guide/gpu-support.md
  docs/source/user-guide/installation.md
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#20384 feat: Add Azure credential provider using `DefaultAzureCredential()`
  crates/polars-io/src/cloud/credential_provider.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io/cloud/__init__.py
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/meta/versions.py
Labels: python, rust, enhancement

#20383 feat: Polars build for Pyodide
  .github/workflows/release-python.yml
  .github/workflows/test-pyodide.yml
  Cargo.lock
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/compute/take/fixed_size_list.rs
  crates/polars-compute/src/cast/utf8_to.rs
  crates/polars-compute/src/comparisons/dictionary.rs
  crates/polars-compute/src/comparisons/list.rs
  crates/polars-compute/src/comparisons/struct_.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/lazyframe/exitable.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/mod.rs
  crates/polars-python/src/series/numpy_ufunc.rs
  crates/polars-sql/src/context.rs
  crates/polars-utils/src/sort.rs
  py-polars/Cargo.toml
  py-polars/src/allocator.rs
  py-polars/src/lib.rs
  rust-toolchain.toml
Labels: python, rust, enhancement

#20390 refactor(rust): Dispatch slice/filter lowering properly
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: rust, internal

#19708 feat: Add `dt.replace`
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-python/src/expr/datetime.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-time/src/chunkedarray/date.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  crates/polars-time/src/lib.rs
  crates/polars-time/src/replace.rs
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, enhancement

#20392 refactor(rust): Remove unused IR::Reduce node
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/visitor/hash.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: rust, internal

#20374 refactor(rust): Temporarily disable common subplan elim for new-streaming
  crates/polars-lazy/src/frame/mod.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/test_cse.py
Labels: rust, internal

#20394 feat: Add FirstArgLossless supertype
  crates/polars-core/src/utils/supertype.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/optimizer/fused.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/functions/misc.rs
Labels: python, rust, enhancement

#20399 fix(python): Fix plotting f-strings and docstrings
  py-polars/polars/dataframe/plotting.py
  py-polars/polars/series/plotting.py
Labels: python, fix

#20395 fix: Raise on categorical search_sorted
  crates/polars-ops/src/series/ops/search_sorted.rs
Labels: python, rust, fix

#20398 fix: Fix decimal arithmetic schema
  crates/polars-core/src/chunked_array/arithmetic/decimal.rs
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#20400 fix(python): Fix decimal series dispatch
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#20396 feat: Order observability optimizations
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-plan/src/plans/aexpr/utils.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/optimizer/collapse_and_project.rs
  crates/polars-plan/src/plans/optimizer/collect_members.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/lazyframe/optimizations.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, enhancement, performance

#20402 fix(python): Fix return type of `Series.dt.add_business_days`
  py-polars/polars/series/datetime.py
Labels: python, fix

#20401 docs(rust): Fix "forcolumnar" typo in docs
  crates/polars/src/lib.rs
Labels: documentation, rust

#20404 feat(python): Support loading data from multiple Excel/ODS workbooks
  py-polars/polars/_typing.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json/read.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-spreadsheet

#20406 feat: Always resolve dynamic types in schema
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/schema.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/utils.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/operations/test_concat.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, enhancement

#20412 fix: Fix using `new_columns` in `scan_csv` with compressed file
  crates/polars-lazy/src/scan/csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#20415 refactor(rust): Move gather kernels to polars-compute
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/cast/mod.rs
  crates/polars-compute/src/gather/binary.rs
  crates/polars-compute/src/gather/binview.rs
  crates/polars-compute/src/gather/bitmap.rs
  crates/polars-compute/src/gather/boolean.rs
  crates/polars-compute/src/gather/fixed_size_list.rs
  crates/polars-compute/src/gather/generic_binary.rs
  crates/polars-compute/src/gather/list.rs
  crates/polars-compute/src/gather/mod.rs
  crates/polars-compute/src/gather/primitive.rs
  crates/polars-compute/src/gather/structure.rs
  crates/polars-compute/src/gather/sublist/fixed_size_list.rs
  crates/polars-compute/src/gather/sublist/list.rs
  crates/polars-compute/src/gather/sublist/mod.rs
  crates/polars-compute/src/lib.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-ops/src/chunked_array/array/get.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
Labels: rust, internal

#20418 fix: Workaround for `mmap` crash under Emscripten
  crates/polars-io/src/utils/other.rs
Labels: python, rust, fix

#20417 fix(python): Properly raise UDF errors
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/map/dataframe.rs
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/map.rs
  py-polars/tests/unit/expr/test_udfs.py
Labels: python, fix

#20419 refactor(rust): Fix duplicate cols in new-streaming parquet prefilter
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
Labels: rust, internal

#20413 fix: Properly handle `to_physical_repr` of nested types
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/row_values.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-python/src/series/general.rs
Labels: python, rust, fix

#20416 docs: Improve docstring clarity
  py-polars/polars/dataframe/frame.py
Labels: documentation, python, rust

#20422 fix(python): Fix nullable object in map_elements
  crates/polars-python/src/map/series.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, fix

#20391 Python Polars 1.18.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#20429 ci: Remove emscripten wheel before publishing to pypi
  .github/workflows/release-python.yml
Labels: python, rust, internal

#20430 feat(python): Add "drop_empty_cols" parameter for `read_excel` and `read_ods`
  py-polars/polars/_utils/various.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/files/example.xlsx
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-spreadsheet

#20425 refactor: Add a `TypeCheckRule` to the optimizer
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/stack_opt.rs
  crates/polars-plan/src/plans/conversion/type_check/mod.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/collapse_and_project.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-plan/src/plans/optimizer/delay_rechunk.rs
  crates/polars-plan/src/plans/optimizer/flatten_union.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/stack_opt.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, internal

#20435 perf: Don't always take all data buffers when gathering views
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, performance

#20436 fix(python): Fix return type for `add_business_days`, `millennium`, `century` and `combine` methods in `Series.dt` namespace
  py-polars/polars/series/datetime.py
Labels: python, fix

#20439 perf: Remove prepare_series for gather kernels
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, performance

#20441 perf: Don't collect all LHS arrays in gather
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, performance

#20443 perf: Re-enable common subplan elim for new-streaming engine
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  py-polars/tests/unit/lazyframe/test_lazyframe.py
Labels: python, rust, performance

#20449 perf: Dedup binviews up front
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, performance

#20437 perf: Generalize the `arg_sort` fast path onto `Column`
  crates/polars-core/src/frame/column/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/test_interpolate_by.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, performance
