Repository pola-rs/polars, pull requests merged in 2024-01, with the labels that each got.

#13355 ci(python): Update release workflow for new upload/download artifact versions
  .github/workflows/release-python.yml
Labels: python, internal

#13348 chore(python): reverse condtion order in udfs _expr function
  py-polars/polars/utils/udfs.py
Labels: python, internal

#13368 feat(python): Support Enum types in interchange protocol
  py-polars/polars/interchange/utils.py
  py-polars/tests/unit/interchange/test_column.py
  py-polars/tests/unit/interchange/test_utils.py
Labels: python, enhancement, interchange, categorical

#13347 feat(python): emit suggestion for how to replace map_elements sigmoid function with expressions
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#13359 feat(rust,python,cli): support `REGEXP` and `RLIKE` pattern matching in SQL engine
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/keywords.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/src/table_functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement, sql

#13342 feat: support min_periods for temporal rolling aggregations
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#13343 feat: support negative indexing in gather (select context)
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-lazy/src/physical_plan/expressions/take.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/series/ops/idx.rs
  crates/polars-ops/src/series/ops/index.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-utils/src/index.rs
  py-polars/Cargo.toml
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/operations/test_gather.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#13369 fix(rust): range/ranges output name should follow lhs rule
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars/tests/it/lazy/expressions/apply.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/polars/functions/range/int_range.py
  py-polars/polars/functions/range/time_range.py
  py-polars/polars/series/datetime.py
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/functions/range/test_time_range.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_window.py
Labels: rust, fix

#13344 feat(python): improve Series/DataFrame init from existing Series/DataFrame objects
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/test_constructors.py
Labels: python, enhancement

#13356 feat(python): validate Enum categories
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, enhancement

#13373 feat: support negative indices in `gather` in `group_by` context
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/take.rs
  crates/polars-ops/src/series/ops/index.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, enhancement

#13396 docs(python): fix alphabetical order of documentation entries
  py-polars/docs/source/reference/dataframe/descriptive.rst
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
Labels: documentation, python

#13379 fix(rust): use different generics for `shift_and_fill` parameters
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: rust, fix

#13388 chore(rust): dont panic of ambiguous is of wrong type
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
Labels: rust, internal

#13398 fix(python): Fix offsets for numeric types in `from_buffer`
  py-polars/src/series/buffers.rs
Labels: python, fix, interchange

#13407 docs(python): use named series in Series.plot example
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#13397 docs(python): clarify documentation for rle and rle_id
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#13412 fix(rust): fix is_in operator when comparing string with global categoricals
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_is_in.py
Labels: rust, fix

#13319 perf: remove lifetime requirement from CategoricalChunkedBuilder
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/from.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
  crates/polars-core/src/chunked_array/logical/categorical/string_cache.rs
  crates/polars-core/src/series/from.rs
  crates/polars-io/src/csv/buffer.rs
  crates/polars-io/src/csv/parser.rs
  crates/polars-ops/src/series/ops/cut.rs
  crates/polars-ops/src/series/ops/replace.rs
Labels: python, rust, performance

#13419 docs(python): show `datetime.date` import in code block
  docs/src/python/user-guide/expressions/aggregation.py
Labels: documentation, python

#13420 fix(python): Fix `to_pandas` for 0x0 dataframe
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/interop/test_to_pandas.py
Labels: python, fix

#13423 docs(python): Add missing examples of `series/list.py`
  py-polars/polars/series/list.py
Labels: documentation, python

#13389 feat(rust,python,cli): additional SQL support for `bytes`, `bit`, and `hex` literals
  Cargo.lock
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars/Cargo.toml
  py-polars/polars/sql/context.py
  py-polars/tests/unit/datatypes/test_binary.py
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement, sql

#13432 feat(rust,python,cli): add SQL engine support for `IFNULL` function
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement, sql

#13437 fix(python): Fix `group_by` iteration when grouping by certain selectors
  py-polars/polars/dataframe/group_by.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, fix

#13443 docs(python): Move `Series.struct.json_encode` to methods in Sphinx autosummary
  py-polars/docs/source/reference/series/struct.rst
Labels: documentation, python

#13434 perf(python): Represent `Enum` categories as Series
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, performance, categorical

#13444 chore: Update CODEOWNERS again
  .github/CODEOWNERS
Labels: python, rust, internal

#13446 fix(python): Handle empty inputs to Enum constructor
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, fix

#13448 test(python): Increase timeout for gevent async test
  py-polars/tests/unit/test_async.py
Labels: python, internal

#13431 feat(rust,python,cli): add SQL engine support for `REPLACE` string function
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement

#13414 feat(rust,python): Impl ordering ops for array namespace
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
  py-polars/tests/unit/namespaces/test_list.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#13400 fix(rust): skip null/empty values if replace_lit_n_char
  crates/polars-ops/src/chunked_array/strings/replace.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: rust, fix

#13447 fix(python): Rename Enum categories internal series to "category"
  py-polars/polars/datatypes/classes.py
  py-polars/src/conversion.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, skip changelog

#13428 feat(python): feat(rust,python,cli): add SQL engine support for variadic `CONCAT` function
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_sql.py
Labels: python, rust, enhancement, sql

#13217 fix: Handle duplicate/ambiguous inputs for `replace`
  crates/polars-ops/src/series/ops/replace.rs
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, fix

#13243 feat: implement `BinaryView` and `Utf8View` in `polars-arrow`
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/binview/ffi.rs
  crates/polars-arrow/src/array/binview/fmt.rs
  crates/polars-arrow/src/array/binview/iterator.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/array/equal/binary_view.rs
  crates/polars-arrow/src/array/equal/mod.rs
  crates/polars-arrow/src/array/ffi.rs
  crates/polars-arrow/src/array/fmt.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-arrow/src/array/growable/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/compute/aggregate/memory.rs
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/datatypes/physical_type.rs
  crates/polars-arrow/src/ffi/array.rs
  crates/polars-arrow/src/ffi/bridge.rs
  crates/polars-arrow/src/ffi/schema.rs
  crates/polars-arrow/src/io/ipc/read/deserialize.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-arrow/src/io/ipc/write/serialize.rs
  crates/polars-arrow/src/legacy/array/mod.rs
  crates/polars-arrow/src/scalar/binview.rs
  crates/polars-arrow/src/scalar/mod.rs
  crates/polars-arrow/src/types/mod.rs
  crates/polars-arrow/src/types/native.rs
  crates/polars-error/Cargo.toml
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-utils/src/nulls.rs
Labels: python, rust, enhancement

#13461 feat(rust,python,cli): add SQL engine support for `RIGHT` and `REVERSE` string functions
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_cast.py
  py-polars/tests/unit/sql/test_conditional.py
  py-polars/tests/unit/sql/test_functions.py
  py-polars/tests/unit/sql/test_group_by.py
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/sql/test_literals.py
  py-polars/tests/unit/sql/test_miscellaneous.py
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/sql/test_operators.py
  py-polars/tests/unit/sql/test_regex.py
  py-polars/tests/unit/sql/test_sql.py
  py-polars/tests/unit/sql/test_strings.py
  py-polars/tests/unit/sql/test_subqueries.py
  py-polars/tests/unit/sql/test_temporal.py
  py-polars/tests/unit/sql/test_trigonometric.py
  py-polars/tests/unit/sql/test_union.py
Labels: python, rust, enhancement, sql

#13468 perf(python): Refactor expression parsing logic of predicates/constraints
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/whenthen.py
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/tests/unit/test_predicates.py
Labels: python, performance

#13277 feat(python): Allow map_batches to auto-convert output NumPy arrays to Series
  py-polars/polars/expr/expr.py
Labels: python, enhancement

#13476 feat(rust): Implement wasm Pool::scope
  crates/polars-utils/src/wasm.rs
Labels: rust, enhancement

#13464 feat(rust): `BinaryView`/`Utf8View` IPC support
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/binary/ffi.rs
  crates/polars-arrow/src/array/binview/ffi.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/list/ffi.rs
  crates/polars-arrow/src/io/ipc/read/array/binary.rs
  crates/polars-arrow/src/io/ipc/read/array/binview.rs
  crates/polars-arrow/src/io/ipc/read/array/boolean.rs
  crates/polars-arrow/src/io/ipc/read/array/fixed_size_binary.rs
  crates/polars-arrow/src/io/ipc/read/array/fixed_size_list.rs
  crates/polars-arrow/src/io/ipc/read/array/list.rs
  crates/polars-arrow/src/io/ipc/read/array/map.rs
  crates/polars-arrow/src/io/ipc/read/array/mod.rs
  crates/polars-arrow/src/io/ipc/read/array/null.rs
  crates/polars-arrow/src/io/ipc/read/array/primitive.rs
  crates/polars-arrow/src/io/ipc/read/array/struct_.rs
  crates/polars-arrow/src/io/ipc/read/array/union.rs
  crates/polars-arrow/src/io/ipc/read/array/utf8.rs
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/io/ipc/read/deserialize.rs
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-arrow/src/io/ipc/write/serialize/binary.rs
  crates/polars-arrow/src/io/ipc/write/serialize/binview.rs
  crates/polars-arrow/src/io/ipc/write/serialize/boolean.rs
  crates/polars-arrow/src/io/ipc/write/serialize/dictionary.rs
  crates/polars-arrow/src/io/ipc/write/serialize/fixed_size_binary.rs
  crates/polars-arrow/src/io/ipc/write/serialize/fixed_sized_list.rs
  crates/polars-arrow/src/io/ipc/write/serialize/list.rs
  crates/polars-arrow/src/io/ipc/write/serialize/map.rs
  crates/polars-arrow/src/io/ipc/write/serialize/mod.rs
  crates/polars-arrow/src/io/ipc/write/serialize/primitive.rs
  crates/polars-arrow/src/io/ipc/write/serialize/struct_.rs
  crates/polars-arrow/src/io/ipc/write/serialize/union.rs
  crates/polars-arrow/tests/it/io/ipc/mod.rs
  crates/polars-arrow/tests/it/io/mod.rs
  crates/polars-arrow/tests/it/main.rs
Labels: rust, enhancement

#13477 fix(python): Fix Series equality for List/Array types
  py-polars/polars/datatypes/convert.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_equals.py
Labels: python, fix

#13483 feat(rust,python,cli): add SQL engine support for `CONCAT_WS` string function
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement

#13488 chore(rust): simplify parquet binary ordering function
  crates/polars-parquet/src/arrow/write/binary/basic.rs
Labels: rust, internal

#13417 feat(rust, python): return datetime for datetime mean & median
  crates/polars-core/src/frame/group_by/aggregations/dispatch.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/namespaces/test_datetime.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, enhancement

#13403 fix: raise for out-of-range datetimes in to_datetime/strptime
  crates/polars-time/src/chunkedarray/string/infer.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, fix

#13454 docs(python): add polars-distance to plugins page
  docs/user-guide/expressions/plugins.md
Labels: documentation, python

#13487 docs(python): Add missing datetime examples to docs
  py-polars/polars/expr/datetime.py
Labels: documentation, python

#13496 docs(python): Doc examples for `threadpool_size` and `get_index_type`
  py-polars/polars/utils/meta.py
Labels: documentation, python

#13499 perf(rust,python,cli): optimise SQL engine string concat
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, performance

#13501 fix: correct 'outer_coalesce' logic in case of duplicate names
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#13504 test(python): Fix some test failures/slowdowns
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/namespaces/test_plot.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_async.py
  py-polars/tests/unit/test_polars_import.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, internal

#13508 fix: ensure size-hint of TrueIdxIter is correct
  crates/polars-arrow/src/bitmap/iterator.rs
Labels: python, rust, fix

#13506 docs(python): Fix various typos, grammar and formatting in docstrings and user guide
  docs/user-guide/concepts/data-structures.md
  docs/user-guide/expressions/window.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/string.py
Labels: documentation, python

#13509 docs: update polars-business > polars-xdt link
  docs/user-guide/expressions/plugins.md
Labels: documentation, python, rust

#13502 feat(rust,python,cli): add SQL engine support for `MOD` function
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_numeric.py
Labels: python, rust, enhancement, sql

#13514 docs(python): add a note to the `read_database_uri` docstring about escaping special characters in the connection string
  py-polars/polars/io/database.py
Labels: documentation, python

#13516 docs(python): Add note to `int_range` docs for creating an index column
  py-polars/polars/functions/range/int_range.py
Labels: documentation, python

#13495 fix(python): improve reading of mixed string/other dtype column data from spreadsheets with `openpyxl` and `pyxlsb` engines
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/files/mixed.ods
  py-polars/tests/unit/io/files/mixed.xlsb
  py-polars/tests/unit/io/files/mixed.xlsx
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#13478 feat: Add `cum_count` expression function
  crates/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_cum_count.py
Labels: python, rust, enhancement

#13518 feat: don't rechunk by default in lazy scans
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
Labels: python, rust, enhancement

#13494 depr(python,rust!): Rename `with_row_count` to `with_row_index`
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/projection_queries.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars/tests/it/lazy/explodes.rs
  crates/polars/tests/it/lazy/queries.rs
  docs/src/python/user-guide/expressions/column-selections.py
  docs/src/rust/user-guide/expressions/column-selections.rs
  py-polars/docs/source/reference/api.rst
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_ipc.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_replace.py
  py-polars/tests/unit/operations/test_rolling.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, deprecation, breaking rust

#13520 depr(python): Deprecate `dt.datetime`
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, deprecation

#13524 fix(python): dont raise when partial function is passed to map_elements
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, fix

#13527 fix: fix projection pushdown for new outer join schema
  crates/polars-plan/src/logical_plan/optimizer/fast_projection.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#13530 feat(python): Add compact syntax for `int_range` starting from 0
  py-polars/polars/functions/range/int_range.py
  py-polars/tests/unit/functions/range/test_int_range.py
Labels: python, enhancement

#13426 feat: improve hive partition pruning (#13358)
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement, fix

#13522 feat(rust,python,cli): add SQL engine support for `LIKE` and `ILIKE` pattern matching
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/__init__.py
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement, sql

#13529 docs: update SQL section of the README
  README.md
Labels: documentation, python, rust

#13532 docs(python): Add more doc examples on how to create an index column
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range/int_range.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#13553 fix(rust): `AnyValue::StructOwned` panic when hashing
  crates/polars-core/src/datatypes/any_value.rs
Labels: rust, fix

#13551 fix: `Expr.replace` to single value did not replace NULLs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-ops/src/series/ops/replace.rs
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, fix

#10701 feat(python): Implement `from_dataframe` natively (interchange protocol)
  py-polars/polars/convert.py
  py-polars/polars/interchange/column.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/interchange/utils.py
  py-polars/tests/unit/interchange/test_buffer.py
  py-polars/tests/unit/interchange/test_column.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interchange/test_utils.py
Labels: python, enhancement, interchange

#13556 chore(python): Narrow type hint for `get_index_type` util
  py-polars/polars/utils/meta.py
Labels: python, internal

#10787 fix(python): Fix interchange protocol data buffer dtype
  py-polars/polars/interchange/column.py
  py-polars/tests/unit/interchange/test_column.py
  py-polars/tests/unit/interchange/test_roundtrip.py
Labels: python, fix, interchange

#13558 docs(python): Adding additional examples to docstrings
  py-polars/polars/series/series.py
Labels: documentation, python

#13536 feat(python): Impl and dispatch arr.first/last to get
  crates/polars-arrow/src/legacy/kernels/fixed_size_list.rs
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-ops/src/chunked_array/array/get.rs
  crates/polars-ops/src/chunked_array/array/mod.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, enhancement

#13563 depr(python, rust!): Rename `row_count_name`/`row_count_offset` parameters in IO functions to `row_index_*`
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/csv/mod.rs
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/csv/read_impl/batched_mmap.rs
  crates/polars-io/src/csv/read_impl/batched_read.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/mmap.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/options.rs
  crates/polars-io/src/parquet/mod.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/builder_alp.rs
  crates/polars-plan/src/logical_plan/builder_functions.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars/tests/it/io/csv.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_ipc.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, deprecation, breaking rust

#13577 fix(python): Fix `scatter` to allow single temporal inputs
  py-polars/polars/series/series.py
  py-polars/src/series/scatter.rs
  py-polars/tests/unit/series/test_scatter.py
Labels: python, fix

#13576 chore: Remove extra line break between checkboxes in GitHub bug report issues
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
Labels: python, rust, internal

#13579 chore: Filter unhelpful messages in `make build`
  Makefile
Labels: python, rust, internal

#13561 feat(rust,python): add new `str.find` expression, returning the index of a regex pattern or literal substring
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, enhancement

#13564 fix: Treat Python `None` as null value for `Object` dtype
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/series/any_value.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/series/construction.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, rust, fix

#13559 feat: `is_in` support for array dtype
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#13548 fix(rust,python): Fix precision/scale handling and invalid numbers in string-to-decimal conversions.
  crates/polars-arrow/src/legacy/compute/decimal.rs
  crates/polars-core/src/chunked_array/ops/decimal.rs
  crates/polars-core/src/datatypes/any_value.rs
Labels: python, rust, fix

#13581 docs(python): Clarify examples for .transpose()
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#13336 feat(python): additional multi-column support for `pl.<function>` entries
  py-polars/polars/functions/lazy.py
  py-polars/polars/selectors.py
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/deprecation.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/test_lazy.py
Labels: python, enhancement

#13535 fix: Fix `cum_count` with regards to start value / null values
  crates/polars-ops/src/series/ops/cum_agg.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/series.py
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/functions/test_cum_count.py
  py-polars/tests/unit/test_exprs.py
Labels: python, rust, fix

#13421 docs(python): Hint about ruff setting in VSCode
  docs/development/contributing/ide.md
Labels: documentation, python

#13578 fix: Fix `scatter` for null values
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-ops/src/chunked_array/scatter.rs
  py-polars/tests/unit/series/test_scatter.py
Labels: python, rust, fix

#13587 fix: fix reverse variable row decoding
  crates/polars-row/src/encode.rs
  crates/polars-row/src/variable.rs
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, rust, fix

#13590 docs: Add note about toolchain issue under native Windows
  docs/development/contributing/index.md
Labels: documentation, python, rust

#13394 docs: Improve documentation on broadcasting
  docs/user-guide/concepts/contexts.md
Labels: documentation, python, rust

#13562 perf: do not eagerly compute bitcount
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/ffi/array.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, performance

#13585 feat(rust,python,cli): add SQL engine support for `POSITION` and `STRPOS`
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement, sql

#13593 fix(python): Fix formatting in `describe` for precise quantiles
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_describe.py
Labels: python, fix

#13594 chore: Add `Documentation` / `Build system` sections to the changelog
  .github/release-drafter-python.yml
  .github/release-drafter-rust.yml
Labels: python, rust, internal

#13570 fix(rust): `LazyFrame::join()` no longer ignores 3 `JoinArgs` parameters
  crates/polars-lazy/src/frame/mod.rs
Labels: rust, fix

#13595 fix: fallback to cast kernel if `inline_cast` AnyValue raise
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#13596 chore(python): Enable new error message lint to improve stack trace display
  py-polars/polars/_cpu_check.py
  py-polars/polars/api.py
  py-polars/polars/config.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/dependencies.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/col.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/lit.py
  py-polars/polars/functions/range/time_range.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/interchange/buffer.py
  py-polars/polars/interchange/column.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/interchange/utils.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/csv/_utils.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/iceberg.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/polars/series/struct.py
  py-polars/polars/slice.py
  py-polars/polars/testing/parametric/__init__.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/profiles.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/polars/utils/_async.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/_parse_expr_input.py
  py-polars/polars/utils/convert.py
  py-polars/polars/utils/deprecation.py
  py-polars/polars/utils/udfs.py
  py-polars/polars/utils/various.py
  py-polars/pyproject.toml
  py-polars/tests/unit/test_polars_import.py
  py-polars/tests/unit/test_selectors.py
Labels: python, internal

#13460 feat(python): Allow drop with no inputs as a no-op
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/utils/deprecation.py
  py-polars/tests/unit/operations/test_drop.py
Labels: python, enhancement

#13603 feat(rust,python,cli): add SQL engine support for `EXTRACT` and `DATE_PART`
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, enhancement, sql

#13624 feat(rust,python,cli): add SQL engine support for string cast to `json`
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_cast.py
Labels: python, rust, enhancement

#13607 feat: Expressify `pattern` of `str.extract`
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  docs/src/rust/user-guide/expressions/strings.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, enhancement

#13167 feat(python): typing overloads for Series operator methods `ge, gt, ...`
  py-polars/polars/series/series.py
Labels: python, enhancement

#13627 docs(python): Add `sink_ndjson` to API reference.
  py-polars/docs/source/reference/io.rst
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#13628 fix(python): `Series.eq_missing` should return an Expr when the input is an Expr
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/series/test_equals.py
Labels: python, fix

#13630 docs(python): Update `then` and `otherwise` docstrings with "strings are parsed as column names"
  py-polars/polars/expr/whenthen.py
  py-polars/polars/functions/whenthen.py
Labels: documentation, python

#13620 fix: Empty series of AggregatedList should also have list dtype
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/filter.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#13636 docs(python): bring sink_ndjson docstring in line with other sink docstrings
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#13615 feat(python): Add base `PolarsError` and `PolarsWarning` class
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_exceptions.py
Labels: python, enhancement, exceptions

#13635 fix(python): Improve parsing of inputs for Expr dunders
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/expr/__init__.py
  py-polars/tests/unit/expr/test_dunders.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_errors.py
Labels: python, fix

#13637 fix: fix schema inference for json
  crates/polars-io/src/ndjson/buffer.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-json/src/json/infer_schema.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  crates/polars-lazy/src/scan/ndjson.rs
  py-polars/polars/io/ndjson.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, fix

#13622 fix: Make sure rolling key is projected when process projection
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#13644 docs: fix linking to feature flags in user guide
  docs/_build/scripts/macro.py
Labels: documentation, python, rust

#11945 feat: Implement `is_between` in Rust
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/is_between.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/conversion.rs
  py-polars/src/expr/general.rs
Labels: python, rust, enhancement

#13656 fix: streaming cross join if swapped is hit
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
  crates/polars-parquet/src/arrow/write/primitive/basic.rs
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
  crates/polars-pipe/src/pipeline/convert.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#13647 chore(rust): Rename `lazy-regex` feature to `regex` to align `polars` with `polars-lazy` crate
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  docs/user-guide/installation.md
  py-polars/Cargo.toml
  py-polars/src/expr/string.rs
Labels: rust, internal

#13658 refactor: make rolling index column visible to optimizer
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
Labels: python, rust, internal

#13660 perf: ensure time groups are parallelized
  crates/polars-time/src/windows/group_by.rs
Labels: python, rust, performance

#13662 perf: elide parallelism restriction on generic rolling expressions
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-time/src/windows/group_by.rs
Labels: python, rust, performance

#13661 fix: Allow `av_buffer` cast numeric record to temporal type
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/frame/row/av_buffer.rs
  py-polars/tests/unit/dataframe/test_from_dict.py
Labels: python, rust, fix

#13625 docs(python): Clarify documentation for the `agg_list` argument in `Expr.map_batches`
  py-polars/polars/expr/expr.py
Labels: documentation, python

#13666 fix: ensure we hit proper cache in nested `rolling` expressions
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/expressions/rolling.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#13671 chore: Auto-add 'needs triage' label to bugs
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
Labels: python, rust, internal

#13638 feat: Impl `contains` for ArrayNameSpace
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/expr/list.py
  py-polars/polars/series/array.py
  py-polars/polars/series/list.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#13672 feat: write parquet ColumnOrder
  crates/polars-parquet/src/parquet/write/file.rs
Labels: python, rust, enhancement

#13646 fix(python): Fix group keys in `partition_by(as_dict=True)` / `GroupBy.__iter__` in some cases
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_partition_by.py
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/test_rows.py
Labels: python, fix, deprecation

#13679 fix: gather.get schema
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#13664 ci(python): Only run bytecode parser CI workflow for Python 3.9/3.10
  .github/workflows/test-bytecode-parser.yml
Labels: python, internal

#13678 docs(python): document %A and %B to get day name and month name
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#13689 test(python): Add test for `describe` on Object types
  py-polars/tests/unit/dataframe/test_describe.py
Labels: python, internal

#13695 docs(python): Add doc example for `datetime_ranges`
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
Labels: documentation, python

#13691 fix(rust, sql): error instead of panicking in sql if empty function
  crates/polars-sql/src/table_functions.rs
  crates/polars-sql/tests/empty_table_function.rs
Labels: python, rust, fix, sql

#13697 docs(python): Be more explicit about behaviour in `str.strip_chars` / `strip_chars_start` / `strip_chars_end` docstrings
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#13699 feat(python,rust): raise default frame/series repr height from 8 to 10
  crates/polars-core/src/fmt.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_config.py
Labels: python, rust, enhancement

#13715 feat: implement binview comparison kernels
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-compute/src/comparisons/scalar.rs
Labels: python, rust, enhancement

#13717 docs(python): add missing Series.str.find reference
  py-polars/docs/source/reference/series/string.rst
Labels: documentation, python

#13726 fix: Use `NonZeroUsize` for `batch_size` parameter in `write_csv/sink_csv/scan_ndjson`
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars/tests/it/io/json.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#13734 feat: add architecture for polars-flavored IPC
  crates/polars-core/src/chunked_array/arithmetic/decimal.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/builder/fixed_size_list.rs
  crates/polars-core/src/chunked_array/builder/list/anonymous.rs
  crates/polars-core/src/chunked_array/builder/mod.rs
  crates/polars-core/src/chunked_array/builder/primitive.rs
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/collect.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-core/src/chunked_array/logical/decimal.rs
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/filter.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/trusted_len.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/schema.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/into.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-ffi/src/version_0.rs
  crates/polars-io/src/avro/write.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/ipc/write_async.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-io/src/parquet/write.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-ops/src/chunked_array/gather_skip_nulls.rs
  crates/polars-ops/src/chunked_array/interpolate.rs
  crates/polars-ops/src/chunked_array/repeat_by.rs
  crates/polars-ops/src/chunked_array/strings/extract.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  crates/polars-pipe/src/executors/sinks/io.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-plan/src/dsl/function_expr/plugin.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  examples/python_rust_compiled_function/src/ffi.rs
  py-polars/src/dataframe.rs
  py-polars/src/series/export.rs
Labels: python, rust, enhancement

#13728 fix(python): support corr() for single-column DataFrames
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, fix

#13729 fix(python): fix error message when creating DataFrame from 0-dimensional NumPy array
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#13737 feat: implement binview for polars-json
  crates/polars-json/src/json/deserialize.rs
  crates/polars-json/src/json/write/serialize.rs
Labels: python, rust, enhancement

#13736 feat: implement binview for polars-row
  crates/polars-row/src/decode.rs
  crates/polars-row/src/encode.rs
  crates/polars-row/src/variable.rs
Labels: python, rust, enhancement

#13667 depr: Deprecate `dt.with_time_unit` in favor of `cast(pl.Int64).cast(pl.Datetime(time_unit, time_zone))`
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, deprecation

#11024 fix(python): selectors by_name and by_dtype should allow empty list as input
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, fix

#13744 perf: directly embed data ptr in Buffer
  crates/polars-arrow/src/array/binary/ffi.rs
  crates/polars-arrow/src/array/binview/ffi.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/fixed_size_binary/ffi.rs
  crates/polars-arrow/src/array/list/ffi.rs
  crates/polars-arrow/src/array/map/ffi.rs
  crates/polars-arrow/src/array/primitive/ffi.rs
  crates/polars-arrow/src/array/union/ffi.rs
  crates/polars-arrow/src/array/utf8/ffi.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/legacy/conversion.rs
Labels: python, rust, performance

#13751 fix: `str.concat` correctly ignore single null value
  crates/polars-ops/src/chunked_array/strings/concat.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, fix

#13541 feat(python) Support arithmetic between Decimal Series and Python Decimal or int.
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/commutative.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: enhancement
