Repository pola-rs/polars, pull requests merged in 2024-09, with the labels that each got.

#18507 refactor(rust): Remove `From<&&str>` for PlSmallStr
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-utils/src/pl_str.rs
Labels: rust, internal

#18503 docs: Pre-compute plugin_path before defining plugin
  docs/user-guide/expressions/plugins.md
  py-polars/polars/series/plotting.py
Labels: documentation, python, rust

#18498 refactor(rust): Allow polars to pass cargo check on windows
  .gitignore
  crates/polars-io/src/mmap.rs
  crates/polars-python/src/file.rs
  crates/polars-utils/src/mem.rs
Labels: rust, internal

#18512 fix: Wrong output column name in `or` and `xor` operations
  crates/polars-core/src/chunked_array/bitwise.rs
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, fix

#18511 fix: Properly raise on invalid selector expressions
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, fix

#18135 feat(python): Make expressions containing Python UDFs serializable
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/tests/unit/cloud/test_prepare_cloud_plan.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, enhancement, internal

#18514 perf: Enable Parquet `parallel=prefiltered` for `auto`
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, performance

#18451 fix(python): DataFrame.write_database() not passing along engine_options when using ADBC
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/database/test_write.py
Labels: python, fix

#18520 fix: Handle Parquet projection pushdown with only row index
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#18518 refactor(rust): Update `PlSmallStr` comment
  crates/polars-utils/src/pl_str.rs
Labels: rust, internal

#18424 fix(rust): Added proper handling of file.write for large remote csv files
  crates/polars-io/src/cloud/polars_object_store.rs
Labels: rust, fix

#18506 docs(python): Fix formula in ewm_mean_by
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#18494 docs(python): Various docstring improvements to `testing.assert_*` functions
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/testing/asserts/frame.py
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
Labels: documentation, python

#18523 fix(python): Fix advertised version in source builds
  Cargo.lock
  py-polars/Cargo.toml
Labels: python, fix

#18509 refactor(rust): Add `FromIterator` impls for `PlSmallStr`
  crates/polars-utils/src/pl_str.rs
Labels: rust, internal

#18527 refactor(rust): Remove top-level metadata from `ArrowSchema`
  crates/polars-arrow/src/datatypes/schema.rs
  crates/polars-arrow/src/io/ipc/read/file_async.rs
  crates/polars-arrow/src/io/ipc/read/reader.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/read/stream.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-parquet/src/arrow/read/schema/mod.rs
  crates/polars/tests/it/io/parquet/arrow/read.rs
Labels: rust, internal

#18534 refactor(rust): Fix and extend AnyValue comparison
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-utils/src/itertools/mod.rs
  crates/polars-utils/src/sync.rs
Labels: rust, internal

#18521 fix(python): Address incorrect `align_frames` result when the alignment column contains NULL values
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, fix

#18542 fix: Fix type inference error in `map_elements` for List types
  crates/polars-python/src/map/dataframe.rs
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/map.rs
  crates/polars-python/src/series/mod.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#18544 ci: Temporarily pin NumPy in CI to address dependency resolving issue
  py-polars/requirements-dev.txt
Labels: python, rust, internal

#18539 refactor(rust): Refactor `Schema` to use generic struct from new `polars-schema` crate
  Cargo.lock
  Cargo.toml
  crates/polars-core/Cargo.toml
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/schema.rs
  crates/polars-io/src/avro/read.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/tests/schema.rs
  crates/polars-ops/Cargo.toml
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-python/src/interop/arrow/to_py.rs
  crates/polars-schema/Cargo.toml
  crates/polars-schema/LICENSE
  crates/polars-schema/README.md
  crates/polars-schema/build.rs
  crates/polars-schema/src/lib.rs
  crates/polars-schema/src/schema.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars/tests/it/io/json.rs
  docs/src/rust/user-guide/expressions/aggregation.rs
Labels: rust, internal

#18545 fix: Empty any_horizontal should be false, not true
  crates/polars-plan/src/plans/conversion/functions.rs
  py-polars/tests/unit/operations/aggregation/test_horizontal.py
Labels: python, rust, fix

#18540 refactor(rust): Remove `NotifyReceiver` from new-streaming parquet source
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/utils/mod.rs
  crates/polars-stream/src/utils/notify_channel.rs
Labels: rust, internal

#18555 ci: Add lower-bound pin for numba
  py-polars/requirements-dev.txt
Labels: python, rust, internal

#18554 build(rust): Remove extension-module from polars-python
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-python/Cargo.toml
Labels: rust, build

#18561 fix: Do not remove double-sort if `maintain_order=True`
  crates/polars-plan/src/plans/optimizer/collapse_and_project.rs
  py-polars/tests/unit/lazyframe/optimizations.py
Labels: python, rust, fix

#18548 fix(python): Check for duplicate column names in `read_database` cursor result, raising `DuplicateError` if found
  py-polars/polars/io/database/_executor.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, fix, A-io-database

#18567 fix: Fix `map_elements` for List return dtypes
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/map.rs
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#18572 refactor(rust): Fix mean reduction in new-streaming
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/mean.rs
Labels: rust, internal

#18576 refactor(rust): Bump NodeTraverser major version
  crates/polars-python/src/lazyframe/visit.rs
Labels: rust, internal

#18574 refactor(python): Alter/skip some tests for new streaming
  py-polars/pyproject.toml
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, internal

#18570 fix: Fix output type for `list.eval` in certain cases
  crates/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/operations/namespaces/list/test_eval.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, rust, fix

#18577 fix(rust): Decimal mean agg dtype was incorrect in IR
  crates/polars-core/src/scalar/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
Labels: rust, fix

#18533 fix(rust): Ensure result name of pow matches schema in grouped context
  crates/polars-plan/src/dsl/function_expr/pow.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: rust, fix

#18580 refactor(rust): Correctly support more types in new-streaming sum
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-expr/src/reduce/sum.rs
Labels: rust, internal

#18586 fix: Fix `UnitVec` inline clone and `with_capacity`
  crates/polars-utils/src/idx_vec.rs
Labels: python, rust, fix

#18593 refactor(rust): Fix nan-ignoring max/min in new-streaming
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-expr/src/reduce/min_max.rs
Labels: rust, internal

#18563 docs: Fix multiprocessing docs regarding fork method check
  docs/user-guide/misc/multiprocessing.md
Labels: documentation, python, rust

#18601 test(python): Fix delta test merge
  py-polars/tests/unit/io/test_delta.py
Labels: python, internal

#18365 feat: Add IEJoin algorithm for non-equi joins and support Full non-ecqui joins
  Makefile
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/iejoin/filtered_bit_array.rs
  crates/polars-ops/src/frame/join/iejoin/l1_l2.rs
  crates/polars-ops/src/frame/join/iejoin/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/lib.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-utils/src/binary_search.rs
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_inequality_join.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement, highlight, accepted

#18584 perf: Add upfront partitioning in `ColumnChunkMetadata`
  Cargo.lock
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/metadata.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  crates/polars-parquet/src/parquet/bloom_filter/read.rs
  crates/polars-parquet/src/parquet/metadata/column_chunk_metadata.rs
  crates/polars-parquet/src/parquet/metadata/mod.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/read/row_group.rs
  crates/polars/tests/it/io/parquet/write/mod.rs
Labels: python, rust, performance

#18497 fix: Allow for date/datetime subclasses (e.g. pd.Timestamp, FreezeGun) in pl.lit
  crates/polars-python/src/functions/lazy.rs
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/test_lit.py
Labels: python, rust, fix

#18602 fix(rust): Functions for streaming require `streaming` feature
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-python/src/lazyframe/general.rs
Labels: rust, fix

#18529 test(python): Use `streaming` argument in `test_parquet_slice_pushdown_non_zero_offset`
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, internal

#18571 feat(python): Support shortcut eval of common boolean filters in SQL interface "WHERE" clause
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/function_registry.rs
  crates/polars-sql/src/keywords.rs
  crates/polars-sql/src/lib.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/src/types.rs
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, enhancement, A-sql

#18603 fix: Fix group first value after group-by slice
  crates/polars-expr/src/expressions/slice.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#18605 ci: Fix Python docs build
  py-polars/docs/source/reference/config.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, internal

#18607 refactor: Raise on suffixed predicate in join_where
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, internal

#18608 refactor: Check number of binary comparisons in join_where predicates
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, internal

#18615 perf: Remove cloning of `ColumnChunkMetadata`
  crates/polars-parquet/src/parquet/metadata/column_chunk_metadata.rs
  crates/polars-parquet/src/parquet/metadata/file_metadata.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-parquet/src/parquet/read/mod.rs
Labels: python, rust, performance

#18611 fix(rust): Indicative error in `list.gather` when wrong indices type is supplied
  crates/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: rust, fix

#18614 test(python): Add benchmark tests for join_where with inequalities
  py-polars/tests/benchmark/test_join_where.py
Labels: python, internal

#18620 perf: Don't traverse file list twice for extension validation
  crates/polars-io/src/path_utils/mod.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, performance

#18616 refactor(rust): Remove extra schema traits
  Cargo.lock
  crates/polars-core/src/schema.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/write/writer.rs
  crates/polars-io/src/hive.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-mem-engine/src/executors/projection_simple.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/operators/reproject.rs
  crates/polars-pipe/src/executors/sinks/reproject.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-schema/src/schema.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars/tests/it/io/csv.rs
Labels: rust, internal

#18492 fix(python): Raise if single argument form in `replace`/`replace_strict` is not a mapping
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_replace.py
  py-polars/tests/unit/operations/test_replace_strict.py
Labels: python, fix

#18628 refactor(rust): Fix unimplemented panics to give todo!s for AUTO_NEW_STREAMING
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: rust, internal

#18631 fix: Properly slice validity mask on pl.Object series
  crates/polars-core/src/chunked_array/object/mod.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, rust, fix

#18640 refactor: Change join_where semantics
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, internal

#18644 refactor(rust): Rename `MetaData` -> `Metadata`
  crates/polars-io/src/parquet/metadata.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/schema/mod.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/parquet/metadata/file_metadata.rs
  crates/polars-parquet/src/parquet/metadata/mod.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/metadata.rs
  crates/polars-parquet/src/parquet/read/stream.rs
  crates/polars-parquet/src/parquet/write/file.rs
  crates/polars-parquet/src/parquet/write/stream.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/file_scan.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars/tests/it/io/parquet/read/file.rs
  crates/polars/tests/it/io/parquet/read/row_group.rs
Labels: rust, internal

#18635 fix: Enable "polars-json/timezones" feature from "polars-io"
  crates/polars-io/Cargo.toml
Labels: python, rust, fix

#18626 fix: Scanning hive partitioned files where hive columns are partially included in the file
  crates/polars-io/src/hive.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/hive.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#18643 refactor(rust): Scan from BytesIO in new-streaming parquet source
  crates/polars-io/src/utils/byte_source.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#18646 chore(rust): Feature gate iejoin
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
Labels: rust, internal

#18648 chore: Check predicates in join_where
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, internal

#18649 refactor(rust): Split `parquet_source.rs` in new-streaming
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/mem_prefetch_funcs.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_utils.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_decode.rs
Labels: rust, internal

#18658 chore: Don't raise on multiple same names in ie_join
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, internal

#18659 refactor: Fix a bunch of tests for new-streaming
  crates/polars-stream/src/nodes/reduce.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, internal

#18656 refactor(rust): Re-use already decoded metadata for first path (new-parquet-source)
  crates/polars-parquet/src/parquet/metadata/file_metadata.rs
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/mmap.rs
Labels: rust, internal

#18670 docs(python): Update join_where docs to clarify behaviour
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#18666 perf: Back arrow arrays with SharedStorage which can have non-refcounted static slices
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/buffer/mod.rs
  crates/polars-arrow/src/ffi/array.rs
  crates/polars-arrow/src/lib.rs
  crates/polars-arrow/src/storage.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-utils/src/foreign_vec.rs
  crates/polars-utils/src/lib.rs
  crates/polars/tests/it/arrow/buffer/immutable.rs
Labels: python, rust, performance

#18674 refactor(rust): Push down max row group height calc to file metadata
  crates/polars-parquet/src/parquet/metadata/file_metadata.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
Labels: rust, internal

#18627 fix: Scalar checks
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/count.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/rolling.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/sort.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/planner.rs
  crates/polars-mem-engine/src/executors/projection.rs
  crates/polars-mem-engine/src/executors/projection_utils.rs
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/scalar.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/lit.rs
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, fix

#18652 fix(python): Use IO[bytes] instead of BytesIO in `DataFrame.write_parquet()`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, fix

#18677 feat(python): Update `BytecodeParser` for upcoming Python 3.13
  py-polars/polars/_utils/udfs.py
Labels: python, enhancement

#18667 fix(rust): Qcut all nulls panics
  crates/polars-ops/src/series/ops/cut.rs
  py-polars/tests/unit/operations/test_qcut.py
Labels: rust, fix

#18536 fix(rust): Refactor decompression checks and add support for decompressing JSON
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/utils.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/utils/compression.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  py-polars/tests/unit/io/test_json.py
Labels: rust, fix

#18680 Python Polars 1.7.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#18694 chore: Remove hive_parts from DSL source
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
Labels: python, rust, internal

#18701 fix(rust): Fix use of undeclared crate or module error
  crates/polars-pipe/Cargo.toml
Labels: rust, fix

#18699 fix(rust): Add missing PhantomDatas to BackingStorage
  crates/polars-arrow/src/storage.rs
Labels: rust, fix

#18702 fix(rust): Missing activation for `serde` for `PlSmallStr` from some crates
  crates/polars-arrow/Cargo.toml
  crates/polars-core/Cargo.toml
  crates/polars-schema/Cargo.toml
  crates/polars-sql/Cargo.toml
  crates/polars-time/Cargo.toml
Labels: rust, fix

#18682 fix(rust): fix `async` feature compile error
  crates/polars-plan/src/plans/functions/count.rs
Labels: title needs formatting

#18679 refactor: Remove unused feature flags from polars-mem-engine
  crates/polars-lazy/Cargo.toml
  crates/polars-mem-engine/Cargo.toml
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-stream/Cargo.toml
Labels: python, rust, internal

#18707 fix: Fix scalar literals
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/expr/test_literal.py
Labels: python, rust, fix

#18711 refactor(rust): Refactor code into functions in new parquet source
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_utils.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_decode.rs
Labels: rust, internal

#18712 chore: Remove IR info from DSL
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, internal

#18714 fix: Parquet prefiltered with projection pushdown
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#18720 fix: Revert automatically turning on Parquet prefiltered
  crates/polars-io/src/parquet/read/read_impl.rs
Labels: python, rust, fix

#18722 Python Polars 1.7.1 Rust Polars 0.43.1
  Cargo.lock
  Cargo.toml
  py-polars/Cargo.toml
Labels: title needs formatting

#18727 feat: Implement single inequality joins for join_where
  crates/polars-ops/src/frame/join/iejoin/mod.rs
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/benchmark/test_join_where.py
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, enhancement

#18725 refactor(rust): Remove unsafe in polars-json deserialize code
  crates/polars-json/src/ndjson/deserialize.rs
Labels: rust, internal

#18672 refactor(rust): Allow polars to pass cargo check on windows
  crates/polars-utils/src/mmap.rs
Labels: rust, internal

#18715 refactor(rust): Add pre-filtered decode to new parquet source
  crates/polars-arrow/src/legacy/kernels/ewm/variance.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-row/src/encode.rs
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_decode.rs
  crates/polars/tests/it/core/rolling_window.rs
  crates/polars/tests/it/io/csv.rs
  crates/polars/tests/it/lazy/predicate_queries.rs
Labels: rust, internal

#18693 feat(rust): DSL path replacement
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/client/paths.rs
Labels: title needs formatting

#18737 ci: Run benchmark on PR labeled 'needs-bench'
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal, needs-bench

#18744 refactor(python): Remove unused methods
  crates/polars-python/src/expr/general.rs
Labels: python, internal

#18692 feat: Always preserve sorted flag for .dt.date
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, enhancement

#18748 fix: Fix accidental raise on shape 1
  crates/polars-core/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/stack.rs
  py-polars/tests/unit/dataframe/test_extend.py
Labels: python, rust, fix

#18762 docs(python): Add documentation for beta gpu support
  docs/_build/API_REFERENCE_LINKS.yml
  docs/_build/scripts/macro.py
  docs/index.md
  docs/src/python/user-guide/lazy/gpu.py
  docs/user-guide/gpu-support.md
  docs/user-guide/installation.md
  docs/user-guide/lazy/gpu.md
  docs/user-guide/lazy/index.md
  docs/user-guide/misc/multiprocessing.md
  mkdocs.yml
  py-polars/docs/source/reference/lazyframe/gpu_engine.rst
  py-polars/docs/source/reference/lazyframe/index.rst
  py-polars/polars/lazyframe/engine_config.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#18771 refactor(rust): Fix input independence tests in new-streaming engine
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/input_independent_select.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: rust, internal

#18780 fix: Fix `cum_max` using exception text of `cum_min` for invalid dtype
  crates/polars-ops/src/series/ops/cum_agg.rs
Labels: python, rust, fix

#18776 chore(python): Remove TODO comment regarding NumPy pinning
  py-polars/pyproject.toml
Labels: python, internal

#18766 fix: Dropped/shifted rows in parquet scan with `streaming=True`
  Cargo.lock
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#18763 refactor(rust): Fix new-streaming parquet on empty parquet
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
Labels: rust, internal

#18792 refactor: Remove extra hashmap construction in new-streaming parquet
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_utils.rs
Labels: python, rust, internal

#18789 refactor: Fix parquet file metadata is dropped after first DSL->IR conversion
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, internal

#18796 docs(python): Improve `over` docs, add example with `order_by`
  py-polars/polars/expr/expr.py
Labels: documentation, python

#18770 fix: Broadcast zip_with for structs
  crates/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/functions/test_when_then.py
Labels: python, rust, fix

#18764 refactor(rust): Remove short-lived / non-CPU bound task spawns on async executor in new-streaming
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_data_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_decode.rs
Labels: rust, internal

#18774 fix: Allow empty sort by columns
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/planner.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#18777 docs: Minor improvements to contributing guide
  docs/development/contributing/index.md
  mkdocs.yml
Labels: documentation, python, rust

#18805 refactor(rust): Fix new-streaming parquet `test_row_index_projection_pushdown_18463`
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/row_group_decode.rs
Labels: rust, internal

#18806 refactor(rust): Fix topological sort in new streaming engine
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/pipe.rs
Labels: rust, internal

#18809 refactor(rust): Add missing implicit datetime alias in ExprIR
  crates/polars-plan/src/dsl/functions/temporal.rs
Labels: rust, internal

#18811 fix: Fixed some error/assertion types
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/sortby.rs
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, fix

#18817 refactor(rust): Fix zero-length len
  crates/polars-expr/src/reduce/convert.rs
Labels: rust, internal

#18822 refactor(python): Make `NodeTraverser` struct public
  crates/polars-python/src/lazyframe/visit.rs
Labels: python, internal

#18815 fix: Proper dtype casting for struct embedded categoricals in chunked categoricals
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#18803 feat: Relaxed schema alignment for parquet file list read
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/parquet/read/utils.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, enhancement

#18835 refactor(python): Re-export PyO3 in `polars-python` crate
  crates/polars-python/src/export.rs
  crates/polars-python/src/lib.rs
Labels: python, internal

#18778 fix: Struct filter by index
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/operations/namespaces/test_struct.py
Labels: python, rust, fix

#18801 fix(rust): Handle AnyValue::Struct to prevent null returns
  crates/polars-core/src/series/any_value.rs
Labels: rust, fix

#18827 fix(rust): Return empty DF when input is empty json list
  crates/polars-io/src/json/mod.rs
  py-polars/tests/unit/io/test_json.py
Labels: rust, fix

#18756 docs(python): Fix literal type mapping example in `lit` docstrings
  py-polars/polars/functions/lit.py
Labels: documentation, python

#18746 refactor(rust): Replace `DynArgs` with an enum containing all its variants
  crates/polars-arrow/src/legacy/kernels/rolling/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mean.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/min_max.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/sum.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/variance.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mean.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/min_max.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/sum.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/variance.rs
  crates/polars-arrow/src/legacy/prelude.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/tests/unit/expr/test_serde.py
Labels: rust, fix, internal

#18759 docs(python): Clarify documentation for `schema` in `read_csv` function
  py-polars/polars/io/csv/functions.py
Labels: documentation, python

#18847 fix(python): Improve `join` argument checks
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/operations/test_cross_join.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, fix

#18845 fix(python): Pass missing user params in `write_csv`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#18843 fix: Raise when parquet file has extra columns and no `select()` was done
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_utils.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#18850 docs: Fix link to issue tracker and code snippet format in GPU docs
  docs/source/user-guide/gpu-support.md
Labels: documentation, python, rust

#18816 fix: Throw error for comparison of unequal length series
  crates/polars-core/src/series/comparison.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#18836 fix: DataFrame plot was raising when some extra keywords were passed to encodings (e.g. `x=alt.X(a, axis=alt.Axis(labelAngle=30))`)
  py-polars/polars/dataframe/plotting.py
  py-polars/tests/unit/operations/namespaces/test_plot.py
Labels: python, rust, fix

#18856 python Polars 1.8.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#18862 fix: Properly merge live- and dead columns in prefiltered
  crates/polars-io/src/parquet/read/read_impl.rs
Labels: python, rust, fix, needs-bench

#18863 refactor: Make `with_column_unchecked` take `Column`
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/ops/null.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
Labels: python, rust, internal

#18860 perf: Cache register plugin function
  py-polars/polars/plugins.py
Labels: python, rust, performance

#18865 docs: Fix minor rogue apostrophes
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/mod.rs
Labels: documentation, python, rust

#18854 fix: Check values in strict cast Int to Time
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/compute/cast/mod.rs
  crates/polars-arrow/src/compute/cast/primitive_to.rs
  crates/polars-core/src/chunked_array/logical/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/expressions/literal.rs
  py-polars/tests/unit/datatypes/test_time.py
Labels: python, rust, fix

#18869 fix: Properly calculate duration units
  crates/polars-ops/src/series/ops/duration.rs
  py-polars/tests/unit/datatypes/test_duration.py
Labels: python, rust, fix

#18871 python Polars 1.8.1
  py-polars/Cargo.toml
Labels: title needs formatting

#18872 docs: Fix broken user-guide API links
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/user-guide/sql/select.md
Labels: documentation, python, rust

#18633 perf: Collapse cross-joins to faster joins
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/collect_members.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-utils/src/idx_vec.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_optimizations.py
Labels: python, rust, performance

#18885 fix: Use proper thread pool in cumulative_eval
  Cargo.lock
  crates/polars-lazy/src/dsl/eval.rs
Labels: python, rust, fix

#18887 fix: Fix SO in json inference
  crates/polars-json/src/json/infer_schema.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#18888 fix: Properly cast AnyValue string
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-python/src/dataframe/export.rs
  py-polars/tests/unit/test_convert.py
Labels: python, rust, fix

#18891 refactor(rust): Minor new-streaming test fixes
  crates/polars-python/src/series/buffers.rs
  py-polars/tests/unit/functions/as_datatype/test_struct.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Labels: rust, internal

#18893 fix: AnyValue Series from Categorical/Enum
  crates/polars-core/src/chunked_array/logical/enum_/mod.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
Labels: python, rust, fix

#18889 fix(rust): Ensure ListPrimitiveBuilder dtype invariant is asserted
  crates/polars-core/src/chunked_array/builder/list/primitive.rs
Labels: rust, fix

#18886 fix: Properly zip struct validities
  crates/polars-arrow/src/array/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#18890 perf: Improve rename performace for Lazy API
  crates/polars-plan/src/plans/functions/rename.rs
Labels: python, rust, performance
