Repository pola-rs/polars, pull requests merged in 2024-04, with the labels that each got.

#15414 perf: Add non-order preserving variable row-encoding
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-row/src/decode.rs
  crates/polars-row/src/encode.rs
  crates/polars-row/src/fixed.rs
  crates/polars-row/src/lib.rs
  crates/polars-row/src/row.rs
  crates/polars-row/src/variable.rs
Labels: python, rust, performance

#15395 feat(rust, python): Add `null_on_oob` parameter to `expr.list.get`
  crates/polars-arrow/src/legacy/kernels/list.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/chunked_array/list/to_struct.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-sql/src/functions.rs
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/namespaces/list/test_list.py
Labels: python, rust, enhancement

#15402 docs(python): Added example for `explode` mapping strategy in `pl.Expr.over`
  py-polars/polars/expr/expr.py
Labels: documentation, python

#15272 feat(python): Add `read_clipboard` and `DataFrame.write_clipboard`
  Cargo.lock
  Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/clipboard.py
  py-polars/src/functions/io.rs
  py-polars/src/lib.rs
Labels: python, enhancement

#15417 feat: Supports `explode_by_offsets` for decimal
  crates/polars-core/src/series/implementations/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#15423 perf: avoid double-allocation in rolling_apply_agg_window
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
Labels: python, rust, performance

#15420 fix: datetime operations (e.g. .dt.year) were raising when null values were backed by out-of-range integers
  crates/polars-arrow/src/compute/temporal.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#15422 perf(python): CSV reading memory usage tests and fixes
  crates/polars-io/src/csv/read_impl/mod.rs
  py-polars/src/batched_csv.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, performance

#15439 feat: Implements `agg_list` for `NullChunked`
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/builder/list/null.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, enhancement

#15434 feat(python,rust!): Allow specifying Hive schema in `read/scan_parquet`
  crates/polars-io/src/options.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/hive.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-plan/src/logical_plan/schema.rs
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement, breaking rust

#15440 fix: Fix deadlock in async parquet scan
  crates/polars-arrow/src/compute/cast/utf8_to.rs
  crates/polars-io/src/parquet/read_impl.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#15432 fix(python): Raise if pass a negative `n` into `clear`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_clear.py
Labels: python, fix

#15453 fix: Don't prune alias in AnonymousFunction subtree
  crates/polars-plan/src/logical_plan/conversion.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#15449 perf: Avoid allocation in the hot path for struct JSON serialization
  crates/polars-json/src/json/write/serialize.rs
Labels: python, rust, performance

#15445 fix(rust,python): Allow selectors inside frame-level `.filter()`
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#15504 fix(python): Address issue with `read_database` draining iter_batches early
  py-polars/polars/io/database/_executor.py
Labels: python, fix

#15493 perf: speed up offset_by when a single offset is passed
  crates/polars-plan/src/dsl/function_expr/temporal.rs
Labels: python, rust, performance

#15506 fix(rust, python): `pow` return type evaluation
  crates/polars-core/src/utils/mod.rs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/sql/test_functions.py
Labels: python, rust, fix

#15507 fix: Fix struct name resolving
  crates/polars-arrow/src/legacy/index.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/projection.rs
  py-polars/tests/unit/test_expansion.py
Labels: python, rust, fix

#15508 chore(python): Add unstable warning to `hive_schema` functionality
  py-polars/polars/io/parquet/functions.py
Labels: python, internal

#15509 fix(python, rust): Initialize validity for `GroupsProxy::Slice` windows
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, fix

#15511 feat: Add SQL support for `GREATEST` and `LEAST`
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_conditional.py
Labels: python, rust, enhancement, A-sql

#15487 fix(rust, python): `group_by` partitioned with literal `Series` panic
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#15513 feat: Add SQL support for `TRUNCATE TABLE` command
  crates/polars-sql/src/context.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/sql/test_table_operations.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement, A-sql

#15517 perf: Replace std::thread spawn with tokio block_in_place
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-io/src/pl_async.rs
Labels: python, rust, performance

#15527 docs(python): Update leftover references of `by` parameter to `group_by` in `DataFrame/LazyFrame.upsample/group_by_dynamic/rolling`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#15526 refactor(python): Move dedicated inference code out of `io.database` executor module
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/_inference.py
Labels: python, internal

#15521 refactor(python): Remove private `DataFrame._read` classmethods
  py-polars/Makefile
  py-polars/polars/_utils/various.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
Labels: python, internal

#15529 refactor(python): Organize utils for I/O functionality
  py-polars/polars/_utils/various.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/anonymous_scan.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/anonymous_scan.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/cloud/test_utils.py
  py-polars/tests/unit/io/test_utils.py
  py-polars/tests/unit/utils/test_utils.py
Labels: python, internal

#15520 fix: block decimal in streaming
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#15516 fix: `list.get` should take validity into account
  crates/polars-arrow/src/legacy/kernels/list.rs
  py-polars/tests/unit/namespaces/list/test_list.py
Labels: python, rust, fix

#15488 feat: Implement `string`, `boolean` and `binary` dtype in `top_k`
  crates/polars-arrow/src/array/boolean/mutable.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#15519 feat: Add SQL support for `MEDIAN` aggfunc
  crates/polars-sql/src/functions.rs
  py-polars/tests/unit/sql/test_group_by.py
Labels: python, rust, enhancement

#15528 fix(python): No longer error when `schema_overrides` contains nonexistent columns
  py-polars/src/dataframe/construction.rs
  py-polars/tests/unit/constructors/test_dataframe.py
Labels: python, fix

#15532 refactor(python): Remove unused code paths in `read_parquet`
  py-polars/polars/io/parquet/functions.py
  py-polars/src/dataframe/io.rs
Labels: python, internal

#15533 fix(python): Pass `skip_rows_after_header` to pyarrow csv reader
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#15522 fix: Resolve function names and prune all aliases.
  crates/polars-core/src/chunked_array/bitwise.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/expr_ir.rs
  crates/polars-plan/src/logical_plan/optimizer/fused.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  crates/polars-plan/src/logical_plan/pyarrow.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#15512 feat: add business_day_count function
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/business.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/business.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/business.py
  py-polars/src/functions/business.rs
  py-polars/src/functions/mod.rs
  py-polars/src/lib.rs
  py-polars/tests/parametric/time_series/test_business_day_count.py
  py-polars/tests/unit/functions/business/test_business_day_count.py
Labels: python, rust, enhancement

#15540 feat: Support list group-by of non numeric lists
  crates/polars-arrow/src/legacy/kernels/list_bytes_iter.rs
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/is_first_distinct.rs
  crates/polars-ops/src/series/ops/is_last_distinct.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  docs/user-guide/installation.md
  py-polars/Cargo.toml
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#15502 fix(python): dot product of two integer series is cast to float
  py-polars/polars/series/series.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, fix

#15537 ci: Set up CodSpeed
  .github/workflows/benchmark.yml
  .github/workflows/codecov.yml
  .github/workflows/test-python.yml
  docs/development/contributing/test.md
  py-polars/Makefile
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/benchmark/__init__.py
  py-polars/tests/benchmark/conftest.py
  py-polars/tests/benchmark/data/groupby-datagen.R
  py-polars/tests/benchmark/run_h2oai_benchmark.py
  py-polars/tests/benchmark/test_filter.py
  py-polars/tests/benchmark/test_group_by.py
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/operations/test_comparison.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, internal

#15478 depr(python) Deprecate the `offset` argument in `dt.round`, `dt.truncate`, and `DataFrame.upsample`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: deprecation

#15554 fix: Turn off cse if cache node found
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, enhancement, fix

#15557 docs: Various minor updates to User Guide's SQL intro section
  docs/src/python/user-guide/sql/intro.py
  docs/user-guide/sql/intro.md
Labels: documentation, python, rust

#15561 refactor!(rust): update the argument name from `dims` to `dimensions` in `reshape`
  crates/polars-core/src/series/ops/to_list.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: internal

#15559 perf: join by row-encoding
  crates/polars-arrow/src/compute/utils.rs
  crates/polars-core/src/chunked_array/binary.rs
  crates/polars-core/src/chunked_array/float.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/utils/series.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-utils/src/total_ord.rs
Labels: python, rust, performance

#15550 fix: Decompress moved out of schema initialization
  crates/polars-io/src/csv/read_impl/mod.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#15552 feat: Enable `is_first/last_distinct` for not nested non-numeric list
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-ops/src/series/ops/is_first_distinct.rs
  crates/polars-ops/src/series/ops/is_last_distinct.rs
  py-polars/tests/unit/operations/test_is_first_last_distinct.py
Labels: python, rust, enhancement

#15565 build(rust): Fix a feature gate for `lz4` compression in `polars-parquet`
  crates/polars-parquet/src/parquet/compression.rs
Labels: rust, fix, build

#15564 fix: Handle quoted identifiers when registering CTEs in the SQL engine
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/simple_exprs.rs
Labels: python, rust, fix

#15570 perf: Improve Bitmap construction performance
  crates/polars-arrow/src/bitmap/bitmap_ops.rs
  crates/polars-arrow/src/compute/utils.rs
  crates/polars-arrow/src/types/native.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/series/ops/fused.rs
  crates/polars-pipe/src/executors/sinks/joins/row_values.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, performance

#15544 feat: support weekend argument in business_day_count
  crates/polars-ops/src/series/ops/business.rs
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/functions/business.rs
  py-polars/polars/functions/business.py
  py-polars/src/functions/business.rs
  py-polars/tests/parametric/time_series/test_business_day_count.py
  py-polars/tests/unit/functions/business/test_business_day_count.py
Labels: python, rust, enhancement

#15558 fix: Enable missing features in polars-time
  crates/polars-time/Cargo.toml
Labels: python, rust, fix

#15571 refactor(rust): rename to IR
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/physical_plan/streaming/tree.rs
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-lazy/src/utils.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/alp/inputs.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/alp/schema.rs
  crates/polars-plan/src/logical_plan/builder_alp.rs
  crates/polars-plan/src/logical_plan/builder_functions.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cache_states.rs
  crates/polars-plan/src/logical_plan/optimizer/collect_members.rs
  crates/polars-plan/src/logical_plan/optimizer/count_star.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_lp.rs
  crates/polars-plan/src/logical_plan/optimizer/delay_rechunk.rs
  crates/polars-plan/src/logical_plan/optimizer/drop_nulls.rs
  crates/polars-plan/src/logical_plan/optimizer/flatten_union.rs
  crates/polars-plan/src/logical_plan/optimizer/fused.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/group_by.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/melt.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/generic.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/group_by.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/hconcat.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/hstack.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/semi_anti_join.rs
  crates/polars-plan/src/logical_plan/optimizer/simple_projection.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/logical_plan/optimizer/stack_opt.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/binary.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-plan/src/utils.rs
Labels: rust, internal

#15426 feat(rust, python): Add `null_on_oob` parameter to `expr.array.get`
  crates/polars-arrow/src/legacy/kernels/fixed_size_list.rs
  crates/polars-ops/src/chunked_array/array/get.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-ops/src/chunked_array/array/to_struct.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#15573 feat: Optimizer; remove double SORT and redundant projections
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-lazy/src/tests/schema.rs
  crates/polars-plan/src/logical_plan/optimizer/collapse_and_project.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars/tests/it/lazy/schema.rs
  py-polars/tests/unit/lazyframe/optimizations.py
  py-polars/tests/unit/sql/test_table_operations.py
Labels: python, rust, enhancement

#15579 refactor(rust): remove raw pointers from visitors.
  Cargo.lock
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  crates/polars-plan/src/logical_plan/optimizer/collect_members.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_lp.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-plan/src/logical_plan/visitor/visitors.rs
Labels: rust, internal

#15592 chore(rust): remove try_binary_elementwise_values
  crates/polars-core/src/chunked_array/ops/arity.rs
Labels: rust, internal

#15584 fix: SQL interface "off-by-one' indexing error with `GROUP BY` clauses that use position ordinals
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/functions_string.rs
  crates/polars-sql/tests/simple_exprs.rs
  py-polars/tests/unit/sql/test_group_by.py
Labels: python, rust, fix, A-sql

#15593 fix: use larger recursive stack in debug mode
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/on_startup.rs
Labels: python, rust, fix

#15604 feat: Expressify `to_integer`
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, enhancement

#15572 fix: Explode list should take validity into account
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, fix

#15597 feat: change default to write parquet statistics
  crates/polars-io/src/parquet/write.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, enhancement

#15607 perf: don't use dynamic dispatch in visitors
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-plan/src/logical_plan/visitor/visitors.rs
Labels: python, rust, performance

#15576 perf: Refactor CSV serialization to not go thorough `AnyValue`
  crates/polars-io/src/csv/write_impl.rs
  crates/polars-io/src/csv/write_impl/mod.rs
  crates/polars-io/src/csv/write_impl/serializer.rs
  crates/polars/tests/it/io/csv.rs
Labels: python, rust, performance

#15606 fix: Fix elementwise-apply if any input is `AggregatedScalar`
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#15599 perf(rust): read_ipc memory usage tests, and writing fix
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/parquet/write.rs
  crates/polars-io/src/utils.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: rust, performance

#15180 feat: Push down `is_between` expressions to Arrow
  crates/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, enhancement

#15609 fix: Include cloud creds in cache key
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-plan/src/logical_plan/pyarrow.rs
Labels: python, rust, fix

#15611 refactor: Don't run streaming group-by in partitionable gb
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  py-polars/tests/unit/test_queries.py
Labels: python, rust, internal

#15622 chore(python): Initial PyO3 0.21 support
  Cargo.lock
  Cargo.toml
  py-polars/Cargo.toml
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/map/dataframe.rs
  py-polars/src/series/export.rs
  py-polars/src/series/numpy_ufunc.rs
  py-polars/src/to_numpy.rs
Labels: python, internal

#15616 fix: Mean of boolean in streaming group_by incorrectly always gave NULL
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, fix

#15627 feat: Extended `BytecodeParser` to handle additional math functions, and imports from the global namespace
  py-polars/polars/_utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, enhancement

#15626 perf: Remove extra thread spawn from row group fetcher
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/pl_async.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, performance

#15630 chore: use bound api
  crates/polars-lazy/src/physical_plan/executors/python_scan.rs
  crates/polars-plan/src/dsl/python_udf.rs
Labels: python, rust, internal

#15628 perf: Fix binview growable complexity O(n*m) -> O(n)
  crates/polars-arrow/src/array/growable/binview.rs
Labels: python, rust, performance

#15625 fix: Recompute RowIndex schema after projection pd
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/cache.rs
  crates/polars-lazy/src/physical_plan/executors/ext_context.rs
  crates/polars-lazy/src/physical_plan/executors/filter.rs
  crates/polars-lazy/src/physical_plan/executors/group_by.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_dynamic.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_rolling.rs
  crates/polars-lazy/src/physical_plan/executors/hconcat.rs
  crates/polars-lazy/src/physical_plan/executors/join.rs
  crates/polars-lazy/src/physical_plan/executors/projection.rs
  crates/polars-lazy/src/physical_plan/executors/python_scan.rs
  crates/polars-lazy/src/physical_plan/executors/slice.rs
  crates/polars-lazy/src/physical_plan/executors/sort.rs
  crates/polars-lazy/src/physical_plan/executors/stack.rs
  crates/polars-lazy/src/physical_plan/executors/udf.rs
  crates/polars-lazy/src/physical_plan/executors/union.rs
  crates/polars-lazy/src/physical_plan/executors/unique.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/builder_alp.rs
  crates/polars-plan/src/logical_plan/builder_functions.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/functions/schema.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#15632 chore(python): Replace most deprecated calls with bounded version
  py-polars/src/series/export.rs
  py-polars/src/series/numpy_ufunc.rs
  py-polars/src/to_numpy.rs
Labels: python, internal

#15282 docs(python): Add security warning in LazyFrame.deserialize() docstring
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#15118 fix: Output correct dtype for `mean_horizontal` on a single column
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#14965 feat(python): Add `union`/`or` operator for `pl.Enum`
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, enhancement

#15631 fix: Fix issue in `write_excel` that could lead to incorrect spanning range determination
  py-polars/polars/io/spreadsheet/_write_utils.py
Labels: python, rust, fix

#14425 feat: Add `str.head` and `str.tail`
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/substring.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/general.rs
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, enhancement

#14481 docs(python): Add docstring examples for reading json
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
Labels: documentation, python

#13724 docs(python): Examples for errors
  py-polars/polars/exceptions.py
Labels: documentation, python

#13621 fix(rust): Support index upsampling
  crates/polars-time/src/upsample.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: rust, fix

#14471 fix: Return appropriate data type for time `mean` and `median`
  crates/polars-core/src/frame/group_by/aggregations/dispatch.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  py-polars/polars/series/datetime.py
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, fix

#14347 perf: Fix cross join batch size when one of the DataFrames is tiny
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
Labels: python, rust, performance

#13676 docs: Add legacy CPU install instructions in user guide
  docs/user-guide/installation.md
Labels: documentation, python, rust

#15595 feat: add Expr.dt.add_business_days and Series.dt.add_business_days
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/business.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-utils/src/binary_search.rs
  crates/polars-utils/src/lib.rs
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion/mod.rs
  py-polars/src/expr/datetime.rs
  py-polars/tests/parametric/time_series/test_add_business_days.py
  py-polars/tests/unit/functions/business/test_add_business_days.py
Labels: python, rust, enhancement

#15636 chore: fixup failing test due to `offset` deprecation in `upsample`
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, internal

#15642 refactor(rust!): rename `memmap` -> `memory_map` as like Python
  crates/polars-arrow/src/mmap/mod.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/src/lazyframe/mod.rs
Labels: rust, internal, breaking rust

#15647 fix(rust): Fix Display implementation of Duration
  crates/polars-time/src/windows/duration.rs
Labels: rust, fix

#15652 fix: `list.mean` fast path shouldn't produce NaN
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#15654 fix: Correct the unsoundness slice range of `arr.min/max`
  crates/polars-ops/src/chunked_array/array/min_max.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, fix

#15657 fix: rolling_* aggs were behaving as if they return scalars in group-by
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#15660 chore: remove unnecessary unsafe in list mean/sum
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
Labels: python, rust, internal

#15659 fix: `group_by` multiple null columns produce phantom row
  crates/polars-core/src/frame/group_by/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#15662 docs: Fix typo in legacy install instructions
  docs/user-guide/installation.md
Labels: documentation, python, rust

#15665 chore(rust): Fix some typos in comments
  crates/polars-pipe/src/pipeline/dispatcher/drive_operator.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
Labels: python, rust, internal

#15661 fix: Ensure 'CachedSchema' doesn't get synced between plans
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/functions/schema.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#15664 fix: Panic if invalid array in object
  crates/polars-core/src/chunked_array/ops/any_value.rs
Labels: python, rust, fix

#15639 chore: make Duration.is_constant_duration less strict for non-timezone-aware case
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-time/src/windows/duration.rs
Labels: python, rust, internal

#15668 chore(rust): Remove the remaining usage of deprecated `numpy` crate APIs
  py-polars/src/series/numpy_ufunc.rs
Labels: rust, internal

#15667 perf: Fix regression that led to using only a single thread
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
Labels: python, rust, performance

#15671 fix: Ensure profile of simple-projection only take own runtime
  crates/polars-lazy/src/physical_plan/executors/projection.rs
  crates/polars-lazy/src/physical_plan/executors/projection_simple.rs
Labels: python, rust, fix

#15638 feat: add ewm_mean_by
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/ewm_by.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/ewm.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/parametric/time_series/test_ewm_by.py
  py-polars/tests/unit/operations/test_ewm_by.py
Labels: python, rust, enhancement

#15648 docs(python): Various deprecation docstring improvements
  py-polars/polars/__init__.py
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/string.py
  py-polars/polars/io/__init__.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#15681 fix: `prepare_expression_for_context` shouldn't panic if exceptions raised from optimizer
  crates/polars-lazy/src/physical_plan/exotic.rs
  py-polars/tests/unit/namespaces/list/test_list.py
Labels: python, rust, fix

#15680 fix: 8/16-bits int could also apply in place for log expr
  crates/polars-ops/src/series/ops/log.rs
Labels: python, rust, fix

#15687 fix: Add the missing feature flag for `ewm_mean_by`
  crates/polars-plan/src/dsl/function_expr/ewm.rs
  crates/polars-plan/src/dsl/function_expr/ewm_by.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
Labels: python, rust, fix

#15682 refactor: Make `json_path_match` expr non-anonymous
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/src/expr/string.rs
Labels: python, rust, internal

#15686 perf: improve filter parallelism
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/frame/chunks.rs
  crates/polars-lazy/src/physical_plan/executors/filter.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
Labels: python, rust, performance

#15693 fix: Include predicate in cache state union
  crates/polars-plan/src/logical_plan/optimizer/cache_states.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#15694 fix: Ensure empty with_columns is a no-op
  crates/polars-plan/src/logical_plan/builder.rs
Labels: python, rust, fix

#15697 fix: Ensure we don't hold RwLock when spawning group parallelism in w…
  crates/polars-lazy/src/physical_plan/expressions/window.rs
Labels: python, rust, fix

#15699 fix: allow null dtypes in UDFs if they match the schema
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#15698 docs(python): Align docstring phrasing in `Series/Expr.dt.truncate/round`
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#15701 feat: Remove outdated join validation checks
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, enhancement

#15702 perf: use two binary searches for equality mask when data is sorted
  crates/polars-core/src/chunked_array/comparison/scalar.rs
Labels: python, rust, performance

#15704 fix: Ensure we don't hold onto Mutex when grabbing join tuples
  crates/polars-lazy/src/physical_plan/expressions/window.rs
Labels: python, rust, fix

#15712 refactor(rust!): Rename LogicalPlan and builders to reflect their uses better
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/frame/python.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/prelude.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/builder_ir.rs
  crates/polars-plan/src/logical_plan/conversion.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/ir_to_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
  py-polars/src/lazyframe/mod.rs
Labels: rust, internal, breaking rust

#15658 docs(rust): Fix incorrect column name in `LazyFrame.sort` doc example
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/arity.rs
  crates/polars-lazy/src/tests/logical.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars/src/docs/eager.rs
  crates/polars/tests/it/io/csv.rs
Labels: documentation, rust

#15718 feat(python): Improve error message when passing invalid input to `lit`
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/operations/test_with_columns.py
Labels: python, enhancement

#15710 fix: count of null column shouldn't panic in agg context
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  py-polars/tests/unit/operations/test_aggregations.py
Labels: python, rust, fix

#15714 refactor(rust!): Move schema resolving to IR phase.
  Cargo.lock
  Cargo.toml
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/err_msg.rs
  crates/polars-lazy/src/tests/logical.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/builder_functions.rs
  crates/polars-plan/src/logical_plan/builder_ir.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_plan_to_ir_plan.rs
  crates/polars-plan/src/logical_plan/conversion/expr_to_expr_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/expr_expansion.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/functions/dsl.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/functions/rename.rs
  crates/polars-plan/src/logical_plan/functions/schema.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/logical_plan/schema.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  docs/src/rust/user-guide/expressions/missing-data.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/datatypes/test_float.py
  py-polars/tests/unit/test_errors.py
Labels: rust, internal, breaking rust

#15715 fix: pass series name to apply for cut/qcut
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/operations/test_cut.py
Labels: python, rust, fix

#15734 perf: Fix quadratic in binview growable same source
  crates/polars-arrow/src/array/growable/binview.rs
Labels: python, rust, performance

#15733 chore(rust): Factor out `ensure_is_constant_duration`
  crates/polars-plan/src/dsl/function_expr/ewm_by.rs
  crates/polars-time/src/windows/duration.rs
Labels: rust, internal

#15739 refactor(rust!): Move schema resolving of file scan to IR phase
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_plan_to_ir_plan.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_other.py
Labels: rust, internal, breaking rust

#15740 fix: Remove incorrect unsafe pointer cast for int -> enum
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#15753 fix: Preserve lexical ordering on concat
  crates/polars-core/src/chunked_array/logical/categorical/ops/full.rs
  crates/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#15737 fix: Handle null index correctly for list take
  crates/polars-arrow/src/compute/take/list.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#15750 docs(python): Remove incorrect "1i (1 index count)" from some docs methods
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#15761 feat(rust!, python): Add context trace to `LazyFrame` conversion errors
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_plan_to_ir_plan.rs
  crates/polars-utils/src/io.rs
  crates/polars/tests/it/lazy/projection_queries.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/error.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, enhancement, breaking rust

#15769 fix: Fix incorrect `is_between` pushdown to `scan_pyarrow_dataset`
  crates/polars-plan/src/logical_plan/pyarrow.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, fix

#15773 docs(python): Fix a docstring mistake for DataType.is_float
  py-polars/polars/datatypes/classes.py
Labels: documentation, python

#15752 chore(python): Start at using new Bound<> API from PyO3
  crates/polars-core/src/datatypes/any_value.rs
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/dataframe/construction.rs
  py-polars/src/file.rs
  py-polars/src/functions/eager.rs
  py-polars/src/functions/io.rs
  py-polars/src/series/buffers.rs
  py-polars/src/series/construction.rs
Labels: python, internal

#15784 fix: Don't deduplicate sort that has slice pushdown
  crates/polars-plan/src/logical_plan/optimizer/collapse_and_project.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#15764 feat: Expressify `str.json_path_match`
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: python, rust, enhancement

#15768 feat: `dt.truncate` supports broadcasting lhs
  crates/polars-time/src/truncate.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#15787 refactor: Update readme
  README.md
Labels: python, rust, internal

#15751 fix: raise if index count like 2i is used when performing rolling, group_by_dynamic, upsample, or other temporal operatios
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-time/src/upsample.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#15780 ci: Split coverage calculation
  .github/workflows/codecov.yml
Labels: python, rust, internal

#15798 fix: Consult cgroups to determine free memory
  crates/polars-utils/src/sys.rs
Labels: python, rust, fix

#15804 docs(python): Add docstring examples for datetimes (#13161)
  py-polars/polars/functions/as_datatype.py
Labels: documentation, python

#15808 feat(python): Improved type-inference for `read_excel` and `read_ods`, use calamine engine for `read_ods`
  py-polars/polars/io/avro.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, performance, A-io-excel

#15809 feat(python): Minor type-inference update for `read_database`
  py-polars/polars/io/database/_inference.py
  py-polars/tests/unit/io/database/test_inference.py
Labels: python, enhancement

#15806 refactor(rust!): Move IO-related options structs to `polars-io`
  crates/polars-io/src/csv/mod.rs
  crates/polars-io/src/csv/parser.rs
  crates/polars-io/src/csv/write.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/ipc/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/parquet/mod.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-io/src/parquet/write.rs
  crates/polars-lazy/src/prelude.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/csv.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/json.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/options.rs
Labels: rust, internal, breaking rust

#15812 fix: ewm_mean_by was skipping initial nulls when it was already sorted by "by" column
  crates/polars-ops/src/series/ops/ewm_by.rs
  py-polars/tests/unit/operations/test_ewm_by.py
Labels: python, rust, fix
