Repository pola-rs/polars, pull requests merged in 2024-08, with the labels that each got.

#17962 docs(python): Ensure `last` is never ambiguous with `max`
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/array.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/series/array.py
Labels: documentation, python

#17969 chore(python): Suggest `allow_null` as replacement
  py-polars/polars/testing/parametric/strategies/core.py
Labels: python, internal

#17961 test: Add unit tests for `str.contains_any` and `str.replace_many`
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, internal

#17984 fix(python): Set default flags for FFI plugin
  py-polars/src/functions/misc.rs
Labels: python, fix

#17924 feat: Add support for binary `size` method to Expr and Series "bin" namespace
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/size.rs
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  py-polars/docs/source/reference/expressions/binary.rst
  py-polars/docs/source/reference/series/binary.rst
  py-polars/polars/_utils/various.py
  py-polars/polars/expr/binary.py
  py-polars/polars/series/binary.py
  py-polars/src/expr/binary.rs
  py-polars/tests/unit/operations/namespaces/test_binary.py
Labels: python, rust, enhancement

#17988 fix: Fix Asof join by schema
  crates/polars-plan/src/plans/schema.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#17983 perf: Reduce copy in `MemSlice`
  Cargo.lock
  Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-io/src/mmap.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/mmap.rs
Labels: python, rust, performance

#17947 fix: Multi-output column expressions in frame `sort` method
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/partition.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/string.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#17990 fix(python): Respect `strict` argument
  py-polars/src/conversion/any_value.rs
  py-polars/tests/unit/constructors/test_structs.py
Labels: python, fix

#17972 perf: Push down slice with non-zero offset to Parquet
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-io/src/utils/slice.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, enhancement, performance

#17991 perf: Shrink `MemSliceInner` enum
  crates/polars-utils/src/mmap.rs
Labels: python, rust, performance

#17765 fix(rust): Allow `read_csv` `schema` to take unparsable types
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/reader.rs
  py-polars/tests/unit/io/test_csv.py
Labels: rust, fix

#17992 perf: Make `.dt.weekday` 20x faster
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-time/src/chunkedarray/date.rs
  crates/polars-time/src/chunkedarray/kernels.rs
  crates/polars-time/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, performance

#17996 perf: Optimize strings slices
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/substring.rs
Labels: python, rust, performance

#18006 feat: Add nested SQL join support
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, enhancement, fix

#18003 docs: Fix aggregation guide discrepancies
  docs/src/python/user-guide/expressions/aggregation.py
  docs/user-guide/expressions/aggregation.md
Labels: documentation, python, rust

#18011 perf: Delay selection expansion
  Cargo.lock
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/selector.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  py-polars/Cargo.toml
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/src/expr/mod.rs
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, performance

#18028 chore: Minor bump to `comfy-table` version
  crates/polars-core/Cargo.toml
Labels: python, rust, internal

#18032 chore: Add @coastalwhite to parquet codeowners
  .github/CODEOWNERS
Labels: python, rust, internal

#18013 perf: Remove temporary allocations in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
Labels: python, rust, performance

#18020 perf: Speedup writing of Parquet primitive values
  crates/polars-compute/src/min_max/dyn_array.rs
  crates/polars-compute/src/min_max/mod.rs
  crates/polars-compute/src/min_max/scalar.rs
  crates/polars-compute/src/min_max/simd.rs
  crates/polars-parquet/src/arrow/write/primitive/basic.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/types.rs
Labels: python, rust, performance

#18031 feat(python): Support passing `Worksheet` objects to the `write_excel` method
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-excel

#18022 feat: Add boolean Parquet HybridRle encoding
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
  crates/polars-parquet/src/arrow/write/mod.rs
Labels: python, rust, enhancement

#18001 docs: Update map_batches docstring
  py-polars/polars/expr/expr.py
Labels: documentation, python

#18030 perf: Integer fast path Parquet dict encoding
  crates/polars-parquet/src/arrow/write/dictionary.rs
Labels: python, rust, performance

#18034 fix(python): Fix drop selector
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  py-polars/tests/unit/test_selectors.py
Labels: python, fix

#18036 fix: Subtraction with overflow on negative slice offset in Parquet
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#18037 python polars 1.4.1
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#18038 fix: Handle `cfg(feature)` for `shrink_dtype`
  crates/polars-plan/src/dsl/function_expr/shrink_type.rs
Labels: python, rust, fix

#18000 docs: Update pivot docstring for clarity
  py-polars/polars/dataframe/frame.py
Labels: documentation, python, rust

#18043 perf: Zerocopy buffers for `FixedSizeBinary` to `BinaryView` cast
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/compute/cast/binary_to.rs
Labels: python, rust, performance

#17993 perf: Use bitmask to filter Parquet predicate-pushdown items
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/options.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/decode.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/fuzz.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/optimizer/cluster_with_columns.rs
  crates/polars-utils/src/vec.rs
  py-polars/polars/_typing.py
  py-polars/polars/io/parquet/functions.py
  py-polars/src/conversion/mod.rs
Labels: python, rust, performance

#18027 fix: Fix `CloudWriter` to use buffer before making requests
  crates/polars-io/src/cloud/adaptors.rs
  examples/write_parquet_cloud/Cargo.toml
  examples/write_parquet_cloud/src/main.rs
Labels: python, rust, fix

#18056 fix: Panic reading multiple CSV files from cloud
  crates/polars-io/src/file_cache/utils.rs
Labels: python, rust, fix

#18059 perf: SIMD View from `FixedSizeBinary`
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/compute/cast/binary_to.rs
Labels: python, rust, performance

#18066 perf: Use `Arc<Vec<_>>` instead of `Arc<[_]>` for paths and hive partitions
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/hive.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
Labels: python, rust, performance

#18077 refactor(rust): Allow zip node to extend with nulls or broadcast inputs
  crates/polars-stream/src/async_primitives/wait_group.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/zip.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#18073 fix: Properly write Parquet for sliced lists
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-parquet/src/arrow/write/pages.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#18097 docs: Fix typo in title of Hugging Face docs page
  docs/user-guide/io/hugging-face.md
Labels: documentation, python, rust

#18080 docs: Correct concat rechunk in user guide
  docs/user-guide/transformations/concatenation.md
Labels: documentation, python, rust

#18091 fix: Fix `sink_ipc_cloud` panicking with runtime error
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  examples/write_ipc_cloud/Cargo.toml
  examples/write_ipc_cloud/src/main.rs
Labels: python, rust, fix

#18067 fix: Incorrect lazy CSV `select(len())` for compressed files
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#18042 fix(python): When setting `write_excel` column totals, don't forget to include any row-total cols
  crates/polars-plan/src/dsl/functions/selectors.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-excel

#18060 docs: Mention 'Array' in data types overview
  docs/user-guide/concepts/data-types/overview.md
Labels: documentation, python, rust

#18101 perf: Use single threaded algorithms if only 1 core given
  crates/polars-core/src/chunked_array/binary.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  py-polars/src/conversion/mod.rs
Labels: python, rust, performance

#18115 refactor: Remove Nth,Wildcard from ExprIR and make conversion falllible
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/plans/aexpr/hash.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/convert_utils.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-plan/src/utils.rs
  py-polars/src/expr/meta.rs
  py-polars/src/lazyframe/visit.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, internal

#18122 fix: String transform `to_titlecase` was too narrowly defined
  crates/polars-ops/src/chunked_array/strings/case.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#18129 fix: Py-polars compilation with no features
  py-polars/src/dataframe/general.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/src/lib.rs
Labels: python, rust, fix

#18131 fix: Don't remove leading whitespace in `read_csv`
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#18123 fix(python): Fix cast Float to String where Float is not turn to Integer before turning to String
  crates/polars-core/src/datatypes/any_value.rs
  py-polars/tests/unit/functions/test_lit.py
Labels: python, fix

#18118 perf(python): Make expensive selector expansion lazy
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/prelude.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-lazy/src/tests/schema.rs
  crates/polars-mem-engine/src/executors/udf.rs
  crates/polars-mem-engine/src/executors/unique.rs
  crates/polars-pipe/src/executors/operators/function.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/dsl/selector.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/functions/schema.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/unpivot.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/src/dataframe/general.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/io/cloud/test_aws.py
  py-polars/tests/unit/io/test_lazy_count_star.py
Labels: python, performance

#18133 fix: Don't raise when converting from pandas if index contains duplicate names when `include_index=False` (the default)
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/interop/test_from_pandas.py
Labels: python, rust, fix

#18139 fix: Parquet with `filter=None`
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
Labels: python, rust, fix

#18143 fix: Prevent unwanted supertype cast in 'search_sorted'
  crates/polars-core/src/utils/supertype.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_search_sorted.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#18142 perf: Reduce default async thread count
  crates/polars-io/src/pl_async.rs
Labels: python, rust, performance

#18145 fix: Fix pyarrow predicate pushdown regression
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, fix

#18147 feat: Raise on invalid 'is_between' and improve error message quality
  crates/polars-core/src/utils/supertype.rs
  crates/polars-plan/src/dsl/arithmetic.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#18148 perf: Tune jemalloc to not create muzzy pages
  .cargo/config.toml
  .gitignore
  py-polars/Cargo.toml
Labels: python, rust, performance

#18153 chore: Update Cargo.lock to fix build error on Linux
  Cargo.lock
Labels: python, rust, internal

#18156 fix: Struct outer nullabillity
  crates/polars-compute/src/if_then_else/mod.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/test_queries.py
Labels: python, rust, fix

#18162 perf(python): Rechunk group-by __iter__
  py-polars/polars/dataframe/group_by.py
Labels: python, performance

#18161 fix: Properly handle empty Parquet row groups with no dictionary
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#18164 perf: Improve binview extend/ifthenelse
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-compute/src/if_then_else/view.rs
Labels: python, rust, performance

#18078 feat(python): Expose top-level "has_header" param for `read_excel` and `read_ods`
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-excel

#18174 docs(python): Include PyCapsule Interface in DataFrame and Series API docs
  py-polars/docs/source/reference/dataframe/export.rst
  py-polars/docs/source/reference/series/export.rst
Labels: documentation, python

#18165 chore: Remove unneeded growable
  crates/polars-arrow/src/array/growable/mod.rs
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars/tests/it/arrow/array/growable/dictionary.rs
  crates/polars/tests/it/arrow/array/growable/mod.rs
  crates/polars/tests/it/arrow/array/growable/struct_.rs
Labels: python, rust, internal

#18151 fix(python): Ensure default values are included when saving/restoring the current `Config` state
  py-polars/polars/config.py
  py-polars/tests/unit/test_config.py
Labels: python, fix

#18178 docs(python): Fix references to old methods in `lazy` docstring
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: documentation, python

#18177 fix: Don't vertically parallelize cse contexts
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-ops/src/series/ops/duration.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#18166 feat(rust): Add missing impl for `Series`
  crates/polars-core/src/series/iterator.rs
Labels: rust, enhancement

#18182 feat: Create literals in 'datetime' expression
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars/tests/it/lazy/expressions/apply.rs
  crates/polars/tests/it/lazy/expressions/literals.rs
  crates/polars/tests/it/lazy/expressions/mod.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  crates/polars/tests/it/lazy/predicate_queries.rs
  crates/polars/tests/it/lazy/projection_queries.rs
Labels: python, rust, enhancement

#18179 fix: Fix unpivot on empty df
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/frame/pivot/unpivot.rs
  crates/polars-ops/src/prelude.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/functions/schema.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars/Cargo.toml
  docs/src/rust/Cargo.toml
  py-polars/src/dataframe/general.rs
  py-polars/tests/unit/operations/test_unpivot.py
Labels: python, rust, fix

#18184 feat: Create literals for datetime/date expressions
  crates/polars-arrow/src/compute/cast/primitive_to.rs
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars/tests/it/lazy/expressions/literals.rs
Labels: python, rust, enhancement

#18154 fix: Throw bigidx error for Parquet row-count
  crates/polars-core/src/chunked_array/arithmetic/mod.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/chunked_array/ops/extend.rs
  crates/polars-core/src/chunked_array/ops/shift.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
Labels: python, rust, fix

#18183 fix: Don't load Parquet nested metadata
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
Labels: python, rust, fix

#18189 fix: Fix struct shift and list builder
  crates/polars-core/src/chunked_array/builder/list/anonymous.rs
  crates/polars-core/src/chunked_array/ops/shift.rs
  crates/polars-core/src/series/implementations/struct__.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#18190 refactor(rust): Consistently use PlRandomState, PlHashMap/Set
  crates/polars-arrow/src/array/dictionary/value_map.rs
  crates/polars-arrow/src/io/ipc/read/array/dictionary.rs
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/io/ipc/read/file_async.rs
  crates/polars-arrow/src/io/ipc/read/reader.rs
  crates/polars-arrow/src/io/ipc/read/stream.rs
  crates/polars-arrow/src/lib.rs
  crates/polars-core/src/chunked_array/binary.rs
  crates/polars-core/src/chunked_array/builder/list/categorical.rs
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
  crates/polars-core/src/chunked_array/logical/categorical/string_cache.rs
  crates/polars-core/src/datatypes/aliases.rs
  crates/polars-core/src/export.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/hashing/mod.rs
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-core/src/schema.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-json/src/ndjson/file.rs
  crates/polars-ops/src/chunked_array/list/hash.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/series/ops/approx_algo/hyperloglogplus.rs
  crates/polars-ops/src/series/ops/various.rs
  crates/polars-parquet/src/arrow/write/sink.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/group_by/primitive/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/string.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  crates/polars-pipe/src/executors/sinks/utils.rs
  crates/polars-plan/src/dsl/function_expr/row_hash.rs
  crates/polars-plan/src/plans/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/plans/optimizer/cse/cse_lp.rs
  crates/polars-utils/src/aliases.rs
  crates/polars-utils/src/cache.rs
  crates/polars-utils/src/partitioned.rs
  py-polars/src/dataframe/general.rs
Labels: rust, internal

#18192 perf: Skip parquet page when unneeded
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
Labels: python, rust, performance

#18195 Rust Polars 0.42.0
  Cargo.lock
  Cargo.toml
Labels: title needs formatting

#18193 chore: Remove unused Parquet source files
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/read.rs
  crates/polars/tests/it/io/parquet/mod.rs
  crates/polars/tests/it/io/parquet/read/file.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/read/row_group.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
Labels: python, rust, internal

#18206 chore: Use or_else for raising
  crates/polars-core/src/chunked_array/ops/append.rs
Labels: python, rust, internal

#18207 fix(python): Fix gather str as lit
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_gather.py
Labels: python, fix

#18197 perf: Speedup ndjson reader `~40%`
  crates/polars-io/Cargo.toml
  crates/polars-io/src/ndjson/core.rs
Labels: python, rust, performance

#18208 feat(python): Make show_versions more responsive
  py-polars/polars/meta/versions.py
Labels: python, enhancement

#18213 refactor(rust): Add itertools in utils
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-arrow/src/array/primitive/iterator.rs
  crates/polars-arrow/src/legacy/kernels/rolling/quantile_filter.rs
  crates/polars-arrow/src/legacy/utils.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/projection_utils.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-utils/src/iter/fallible.rs
  crates/polars-utils/src/iter/mod.rs
  crates/polars-utils/src/itertools/enumerate_idx.rs
  crates/polars-utils/src/itertools/mod.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal, title needs formatting

#18220 test(python): Fix version bifurcation for `test_read_database_cx_credentials`
  py-polars/tests/unit/io/database/test_read.py
Labels: python, internal

#16018 fix(python): Convert date and datetime in literal construction
  py-polars/polars/functions/lit.py
  py-polars/src/functions/lazy.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, fix

#18227 docs(python): Fix column name output in example of `DataFrame.map_rows`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#18203 chore: Update the required version of rust in README.md
  README.md
Labels: title needs formatting

#18211 test(python): Fix test for new deltalake release
  py-polars/tests/unit/io/test_delta.py
Labels: python, internal

#18232 refactor(rust): Add feature gates for `polars-python` crate
  crates/polars-python/Cargo.toml
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/dataframe/mod.rs
  crates/polars-python/src/dataframe/serde.rs
  crates/polars-python/src/expr/mod.rs
  crates/polars-python/src/functions/misc.rs
  crates/polars-python/src/lazyframe/exitable.rs
  crates/polars-python/src/lazyframe/mod.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-python/src/lib.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-python/src/series/aggregation.rs
  crates/polars-python/src/series/arithmetic.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/c_interface.rs
  crates/polars-python/src/series/export.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/import.rs
  crates/polars-python/src/series/mod.rs
  crates/polars-python/src/series/numpy_ufunc.rs
  crates/polars-python/src/series/scatter.rs
  py-polars/Cargo.toml
  py-polars/src/lib.rs
Labels: rust, internal

#18241 refactor(rust): Add multiplexer node to new streaming engine
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/multiplexer.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#18015 feat: Allow float in interpolate_by by column
  crates/polars-ops/src/series/ops/interpolation/interpolate_by.rs
  py-polars/tests/unit/operations/test_interpolate_by.py
Labels: python, rust, enhancement

#18249 feat: Support empty structs
  crates/polars-arrow/src/array/struct_/mod.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, enhancement

#18251 fix: Use physical for row-encoding
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  py-polars/tests/unit/test_rows.py
Labels: python, rust, fix

#18252 fix: Fix unit null rank
  crates/polars-ops/src/series/ops/rank.rs
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/operations/test_random.py
  py-polars/tests/unit/operations/test_rank.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#18255 fix: Fix duplicate column output and panic for `include_file_paths`
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/struct__.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#18245 fix: Consistently round half-way points down in dt.round
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Labels: python, rust, fix

#18222 docs(python): Add missing "Parameters" section to `bin.size` expr docstring
  py-polars/polars/expr/binary.py
Labels: documentation, python

#18259 fix: Fix failed AWS credential load from '~/.aws/credentials' due to formatting
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, fix

#18237 docs(python): Improve formatting and consistency of various docstrings
  crates/polars-python/src/series/general.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/selectors.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/test_errors.py
Labels: documentation, python

#18223 perf: Use direct path for `time`/`timedelta` literals
  crates/polars-python/src/functions/lazy.rs
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, performance

#18261 refactor(rust): Change fn schema to fn collect_schema
  crates/polars-lazy/src/frame/cached_arenas.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazygroupby.rs
Labels: rust, internal

#18205 fix: Raise suitable error on unsupported `SQL` set op syntax
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_set_ops.py
Labels: python, rust, fix, A-sql

#16942 fix: Use appropriate bins in `hist` when `bin_count` specified
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, fix

#18266 docs: Add note to `Expr.shuffle` differentiating from df method
  py-polars/polars/expr/expr.py
Labels: documentation, python, rust

#18277 feat(python): Support the most recent version of "duckdb_engine" connections via `read_database`
  py-polars/polars/io/database/_executor.py
Labels: python, enhancement

#18273 docs: Clarify `coalesce` behaviour in `join_asof`
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python, rust

#18274 feat: Support pre-signed URLs for cloud scan
  crates/polars-io/src/cloud/polars_object_store.rs
Labels: python, rust, enhancement

#18272 refactor(rust): Add output_schema to all PhysNodes
  crates/polars-core/src/schema.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#18264 fix: Arguments for `upsample` only have to be sorted within groups
  crates/polars-time/src/upsample.rs
  py-polars/tests/unit/dataframe/test_upsample.py
Labels: python, rust, fix

#18269 feat: Improve decimal_comma error message
  crates/polars-io/src/csv/read/schema_inference.rs
Labels: documentation, python, rust

#18280 refactor(python): Don't add sink node to cloud query
  crates/polars-plan/src/client/mod.rs
  crates/polars-python/src/cloud.rs
  py-polars/polars/_utils/cloud.py
  py-polars/tests/unit/cloud/test_prepare_cloud_plan.py
Labels: python, internal

#18283 refactor(python): Deprecate serialize json for LazyFrame
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_serde.py
Labels: python, internal

#18289 fix: Parquet delta encoding for 0-bitwidth miniblocks
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/decoder.rs
Labels: python, rust, fix

#18240 fix(rust): Make json readers ignore BOM character
  crates/polars-io/src/json/mod.rs
  crates/polars-json/src/ndjson/file.rs
  crates/polars-json/src/ndjson/mod.rs
Labels: rust, fix

#18296 perf: Slice pushdown for SimpleProjection
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, performance

#18298 feat: IR serde
  Cargo.lock
  crates/polars-core/src/frame/explode.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/arena.rs
  crates/polars/Cargo.toml
Labels: python, rust, enhancement

#18299 perf: Batch `DELTA_LENGTH_BYTE_ARRAY` decoding
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/trusted_len.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/decoders.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/decoder.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/mod.rs
Labels: python, rust, performance

#18305 fix: Json feature flag missing imports
  crates/polars-io/src/ndjson/core.rs
  crates/polars-plan/src/plans/functions/count.rs
Labels: python, rust, fix

#18246 fix: Compute joint null mask before calling rolling corr/cov stats
  crates/polars-plan/src/dsl/functions/correlation.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#18309 docs: Document `DataFrame.__getitem__` and `Series.__getitem__`
  py-polars/docs/source/reference/dataframe/export.rst
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/series/export.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/engine_config.py
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#18314 perf: Don't rechunk aligned chunks in owned_binary_chunk_align
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#18312 docs(python): Add missing `Series` methods to API reference
  py-polars/docs/source/reference/series/aggregation.rst
  py-polars/docs/source/reference/series/index.rst
  py-polars/docs/source/reference/series/operators.rst
Labels: documentation, python

#18324 fix: Fix group-by slice on all keys
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#18326 perf: Lazy decompress Parquet pages
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
Labels: python, rust, performance

#18317 refactor(rust): Expose many more function expressions to python IR
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: rust, internal

#18325 fix: Parquet several smaller issues
  crates/polars-arrow/src/offset.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/write/binary/basic.rs
  crates/polars-parquet/src/arrow/write/binary/nested.rs
  crates/polars-parquet/src/arrow/write/binview/basic.rs
  crates/polars-parquet/src/arrow/write/binview/nested.rs
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
  crates/polars-parquet/src/arrow/write/boolean/nested.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/fixed_len_bytes.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/primitive/basic.rs
  crates/polars-parquet/src/arrow/write/primitive/nested.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#18315 refactor(rust): Lower arbitrary expressions in the new streaming engine
  crates/polars-core/src/schema.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/expression.rs
  crates/polars-stream/src/graph.rs
  crates/polars-stream/src/nodes/multiplexer.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#18329 refactor: Remove unused Parquet indexes
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/read/indexes/binary.rs
  crates/polars-parquet/src/arrow/read/indexes/boolean.rs
  crates/polars-parquet/src/arrow/read/indexes/fixed_len_binary.rs
  crates/polars-parquet/src/arrow/read/indexes/mod.rs
  crates/polars-parquet/src/arrow/read/indexes/primitive.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/indexes/index.rs
  crates/polars-parquet/src/parquet/indexes/intervals.rs
  crates/polars-parquet/src/parquet/indexes/mod.rs
  crates/polars-parquet/src/parquet/mod.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/indexes/deserialize.rs
  crates/polars-parquet/src/parquet/read/indexes/mod.rs
  crates/polars-parquet/src/parquet/read/indexes/read.rs
  crates/polars-parquet/src/parquet/read/mod.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/write/compression.rs
  crates/polars-parquet/src/parquet/write/indexes/serialize.rs
  crates/polars-parquet/src/parquet/write/page.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/read/indexes.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/read/primitive.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/indexes.rs
  crates/polars/tests/it/io/parquet/write/mod.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
Labels: python, rust, internal

#18333 feat: Add POLARS_BACKTRACE_IN_ERR for debugging
  crates/polars-error/src/lib.rs
Labels: python, rust, enhancement

#18308 feat(python): Improve Schema and DataType interop with Python types
  py-polars/polars/_typing.py
  py-polars/polars/datatypes/_parse.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/schema.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_schema.py
Labels: python, enhancement

#18330 refactor(rust): Disable common sub-expr elim for new streaming engine
  crates/polars-lazy/src/frame/mod.rs
Labels: rust, internal

#18152 refactor(rust): Add parquet source node to new streaming engine
  Cargo.lock
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/serde/series.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/utils/byte_source.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-io/src/utils/slice.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/async_executor/task.rs
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/mod.rs
  crates/polars-stream/src/utils/notify_channel.rs
  crates/polars-stream/src/utils/task_handles_ext.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/mem.rs
  crates/polars-utils/src/mmap.rs
Labels: rust, internal

#18327 perf: Fix accidental quadratic parquet metadata
  Cargo.lock
  crates/polars-io/Cargo.toml
  crates/polars-io/src/lib.rs
  crates/polars-io/src/parquet/read/metadata.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/parquet/read/column/mod.rs
  crates/polars-parquet/src/parquet/read/column/stream.rs
Labels: python, rust, performance

#18342 refactor(rust): Fix new_streaming parameter
  crates/polars-lazy/src/frame/mod.rs
Labels: rust, internal

#18341 docs(python): Add missing aggregation entries (#18334)
  py-polars/docs/source/reference/expressions/aggregation.rst
Labels: documentation, python

#18340 fix: Use correct column names when there are no value columns in unpivot
  crates/polars-ops/src/frame/pivot/unpivot.rs
Labels: python, rust, fix

#18337 refactor(rust): Only instantiate used portion of graph
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#18343 perf: Partition metadata for parquet statistic loading
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/metadata.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
Labels: python, rust, performance

#18346 feat: Respect input time zone if input is pandas Timestamp
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/datatypes/_parse.py
  py-polars/tests/unit/constructors/test_series.py
Labels: python, rust, enhancement

#18354 docs: Document POLARS_BACKTRACE_IN_ERR env var
  crates/polars/src/lib.rs
Labels: documentation, python, rust

#18357 chore: Fix the required version of rust in README.md
  README.md
Labels: python, rust, internal

#18371 fix: Fix compressed ndjson row count
  crates/polars-plan/src/plans/functions/count.rs
  py-polars/tests/unit/io/test_lazy_count_star.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#18370 build: Bump Rust toolchain to `nightly-2024-08-26`
  Cargo.lock
  crates/polars-arrow/src/array/binary/mutable.rs
  crates/polars-arrow/src/array/boolean/mutable.rs
  crates/polars-arrow/src/array/fixed_size_binary/mutable.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/primitive/mutable.rs
  crates/polars-arrow/src/array/utf8/mutable.rs
  crates/polars-arrow/src/bitmap/utils/slice_iterator.rs
  crates/polars-arrow/src/compute/arity.rs
  crates/polars-arrow/src/compute/temporal.rs
  crates/polars-arrow/src/datatypes/physical_type.rs
  crates/polars-arrow/src/legacy/kernels/take_agg/var.rs
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-arrow/src/trusted_len.rs
  crates/polars-arrow/src/types/bit_chunk.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/search_sorted.rs
  crates/polars-core/src/hashing/identity.rs
  crates/polars-core/src/hashing/mod.rs
  crates/polars-core/src/testing.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/frame/pivot.rs
  crates/polars-parquet/src/arrow/read/schema/mod.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/parquet/compression.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/schema/io_message/from_message.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/functions/index.rs
  crates/polars-plan/src/dsl/functions/repeat.rs
  crates/polars-time/src/windows/group_by.rs
  rust-toolchain.toml
Labels: python, rust, build

#18367 refactor(rust): Improve dot formatting of new-streaming parquet source
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-stream/src/physical_plan/mod.rs
Labels: rust, internal

#18376 fix(rust): Fix broken feature gate for `ParquetReader`
  crates/polars-plan/src/plans/functions/count.rs
Labels: rust, fix

#18384 refactor(rust): Various small fixes for the new streaming engine
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/graph.rs
  crates/polars-stream/src/nodes/filter.rs
  crates/polars-stream/src/nodes/in_memory_map.rs
  crates/polars-stream/src/nodes/in_memory_sink.rs
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/map.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/multiplexer.rs
  crates/polars-stream/src/nodes/ordered_union.rs
  crates/polars-stream/src/nodes/parquet_source.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/nodes/select.rs
  crates/polars-stream/src/nodes/simple_projection.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/nodes/zip.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#18383 fix: Mark Expr.(lower|upper)_bound as returning scalar
  crates/polars-plan/src/dsl/mod.rs
Labels: python, rust, fix

#18385 refactor(rust): Recursively evaluate is_elementwise for function expressions
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal
