Repository pola-rs/polars, pull requests merged in 2024-11, with the labels that each got.

#19551 refactor(rust): Removed unnecessary flatten function
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-utils/src/functions.rs
  crates/polars-utils/src/python_function.rs
Labels: rust, internal

#19556 refactor(rust): Remove SyncCounter
  crates/polars-pipe/src/executors/sinks/slice.rs
  crates/polars-utils/src/atomic.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal

#19552 feat: Streamline use of predicates connected by `&` with IEJoin (`join_where`)
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, enhancement

#19558 fix: Correct categorical namespace error message
  crates/polars-plan/src/plans/conversion/type_coercion/functions.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#19553 refactor(rust): Remove ad-hoc buffer pool
  crates/polars-io/src/csv/write/write_impl.rs
  crates/polars-utils/src/contention_pool.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal

#19577 Rust Polars 0.44.2
  Cargo.lock
  Cargo.toml
Labels: title needs formatting

#19581 ci: Only run remote bench on rust changes
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal

#19578 chore: Move to fast-float2
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/compute/cast/binary_to.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/read/buffer.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-utils/Cargo.toml
Labels: python, rust, internal

#19190 perf: Branchless Parquet Prefiltering
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-arrow/src/bitmap/iterator.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/pushable.rs
  crates/polars-arrow/src/storage.rs
  crates/polars-arrow/src/types/aligned_bytes.rs
  crates/polars-compute/src/filter/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/float.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/dict_encoded.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/filter.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/decode.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/mod.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/pack.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/unpack.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/decoder.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/fuzz.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/mod.rs
  crates/polars-parquet/src/parquet/encoding/delta_byte_array/decoder.rs
  crates/polars-parquet/src/parquet/encoding/delta_length_byte_array/decoder.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/buffered.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/fuzz.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/gatherer.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/types.rs
  crates/polars-utils/src/chunks.rs
  crates/polars-utils/src/lib.rs
  crates/polars/tests/it/io/parquet/read/binary.rs
  crates/polars/tests/it/io/parquet/read/mod.rs
  crates/polars/tests/it/io/parquet/read/primitive.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, performance, needs-bench

#19582 fix(rust,python): Fix predicate pushdown into inequality joins
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/collect_members.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, fix

#19546 fix: Improve error message
  py-polars/polars/io/_utils.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#19557 refactor: Add a `Column::Partitioned` variant
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/frame/column/arithmetic.rs
  crates/polars-core/src/frame/column/compare.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/partitioned.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-plan/src/dsl/function_expr/round.rs
Labels: python, rust, internal

#19583 perf: Use faster iteration in 'starts_with'/'ends_with'
  crates/polars-ops/src/chunked_array/binary/namespace.rs
Labels: python, rust, performance

#19584 chore: Fix lint
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/partitioned.rs
Labels: python, rust, internal

#19587 refactor(rust): Remove MutableStructArray
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/struct_/mutable.rs
Labels: rust, internal

#19163 fix: Added input validation for `explode` operation in the array namespace
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/simplify_functions.rs
  crates/polars-python/src/expr/array.rs
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
Labels: python, rust, fix, internal

#19586 fix: Fix gather len in group-by state
  crates/polars-expr/src/expressions/gather.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#19589 fix: Do not attempt to load default credentials when `credential_provider` is given
  crates/polars-io/src/cloud/options.rs
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, rust, fix

#19590 refactor: Update nightly compiler version
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  rust-toolchain.toml
Labels: python, rust, internal

#19545 chore: Fix PyO3 error in CI
  .github/workflows/test-coverage.yml
Labels: python, rust, internal

#19592 feat: Run CI benchmark multiple times and cache PDS-H data
  .github/workflows/benchmark-remote.yml
Labels: python, rust, skip changelog, enhancement, internal, needs-bench

#19593 refactor(rust): Share source token between all sender tasks of source nodes in new-streaming engine
  crates/polars-stream/src/nodes/in_memory_source.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
Labels: rust, internal

#19365 feat: Add show_graph to display a GraphViz plot for expressions
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-python/src/expr/meta.rs
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/polars/_utils/various.py
  py-polars/polars/expr/meta.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/namespaces/test_meta.py
Labels: python, rust, enhancement

#19605 fix: Parquet decoding of nested dictionary values
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/dict_encoded.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/decode.rs
  crates/polars-parquet/src/parquet/encoding/delta_bitpacked/decoder.rs
  py-polars/polars/io/spreadsheet/_utils.py
  py-polars/tests/unit/io/test_lazy_count_star.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/operations/namespaces/test_meta.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#19614 fix: Fix mask and validity confusion in Parquet String decoding
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#19611 perf: Dispatch Parquet Primitive PLAIN decoding to faster kernels when possible
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/utils/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/array_chunks.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/dict_encoded.rs
Labels: python, rust, performance

#19616 fix: Sortedness was incorrectly being preserved in dt.offset_by when offsetting by non-constant durations in the timezone-naive case
  crates/polars-time/src/offset_by.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_offset_by.py
Labels: python, rust, fix

#19604 ci: Configure grouped Dependabot updates
  .github/dependabot.yml
Labels: python, rust, internal

#19617 fix: Allow `.struct.with_fields` inside `list.eval`
  crates/polars-plan/src/dsl/struct_.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#19588 fix: Correct wildcard and input expansion for some more functions
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/dsl/list.rs
  py-polars/tests/unit/functions/as_datatype/test_datetime.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
  py-polars/tests/unit/operations/namespaces/list/test_set_operations.py
Labels: python, rust, fix

#19625 fix(rust): Run join type coercion with correct schemas active
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_join_asof.py
Labels: rust, fix

#19631 chore(rust): bump fs4 to 0.11 as 0.10 has been yanked
  Cargo.lock
  crates/polars-io/Cargo.toml
Labels: title needs formatting

#19642 fix: Copy height in .vstack() for empty dataframes (#19641)
  crates/polars-core/src/frame/mod.rs
Labels: python, rust, fix

#19639 test(python): Move credential provider tests to separate file
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, skip changelog, internal

#19602 perf: Reorder conditions in is_leap_year
  crates/polars-time/src/windows/calendar.rs
Labels: python, rust, performance, fix

#19529 docs: Improve `replace` and `replace_all` docstring explanation of the "$" character with reference to capture groups (vs use as a literal)
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python, rust

#19648 fix: Ensure `mean_horizontal` raises on non-numeric input
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/aggregation/test_horizontal.py
Labels: python, rust, fix

#19647 fix(python): Fix typing for SchemaDefinition
  py-polars/polars/_typing.py
Labels: python, fix

#19638 fix: Fix filter incorrectly pushed past struct unnest when unnested column name matches upper column name
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#19626 feat: Add SQL support for `RIGHT JOIN`, fix an issue with wildcard aliasing
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, enhancement, A-sql

#19622 feat: Parallel IPC sink for the new streaming engine
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/io/ipc/mod.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/mod.rs
  crates/polars-arrow/src/io/ipc/write/writer.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-stream/src/async_primitives/linearizer.rs
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/pipe.rs
  crates/polars-stream/src/utils/linearizer.rs
  crates/polars-stream/src/utils/mod.rs
Labels: python, rust, enhancement

#19637 refactor: Factor out logic for re-use by new streaming CSV source
  crates/polars-io/src/csv/read/buffer.rs
  crates/polars-io/src/csv/read/mod.rs
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/read_impl/batched.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/patterns.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, internal

#19656 fix(python): Fix fill null types
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_fill_null.py
Labels: python, fix

#19629 fix: Fix incorrect lazy schema for `explode()` in `agg()`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#19658 refactor: Streamline internal SQL join condition processing
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/statements.rs
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, A-sql, internal

#19649 perf: Allow for arbitrary skips in Parquet Dictionary Decoding
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/optional.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/optional_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/float.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/dict_encoded.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-python/src/dataframe/io.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, performance

#19508 fix: Update line-splitting logic in batched CSV reader
  crates/polars-io/src/csv/read/read_impl/batched.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars/tests/it/io/csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#19659 refactor(rust): Delegate feature flags for polars-stream
  Cargo.lock
  crates/polars-lazy/Cargo.toml
  crates/polars-python/Cargo.toml
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/functions/misc.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars/Cargo.toml
Labels: rust, internal

#19661 refactor(rust): Remove unused file
  crates/polars-compute/src/distinct_count.rs
  crates/polars-ops/src/series/ops/idx.rs
  crates/polars-plan/src/plans/functions/explode.rs
Labels: rust, internal

#19664 docs: Assorted fixes to Rust API docs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/extension/polars_extension.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/series/amortized_iter.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/downcast.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/shared.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars/Cargo.toml
Labels: documentation, python, rust

#19668 feat: Identify inefficient use of Python string `replace` in `map_elements`
  py-polars/polars/_utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, rust, enhancement

#19667 docs: Alter examples for round_sig_figs to make behaviour clearer
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#19675 chore: Mark test_parquet.py test_dict_slices as slow
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#19673 refactor: Move Series bitops to `std::ops::Bit...`
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/series/arithmetic/bitops.rs
  crates/polars-core/src/series/arithmetic/mod.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-python/src/series/general.rs
Labels: python, rust, internal

#19666 refactor: Remove more `@scalar-opt`
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/scalar.rs
  crates/polars-core/src/scalar/from.rs
  crates/polars-core/src/testing.rs
  crates/polars-ops/src/series/ops/replace.rs
Labels: python, rust, internal

#19682 fix: Make Array arithmetic ops fully elementwise
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, rust, fix

#19677 feat(python): Automatically use boto3 / google-auth if installed when scanning cloud
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, enhancement

#19672 feat(python): Identify inefficient use of Python string `removeprefix`, `removesuffix`, and `zfill` in `map_elements`
  py-polars/polars/_utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#19683 refactor: Use `Column` for the `{try,}_apply_columns{_par,}` functions on `DataFrame`
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/scalar.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, internal

#19691 docs: Update Excel page of user guide to refer to fastexcel as the default engine
  docs/source/user-guide/io/excel.md
Labels: documentation, python, rust

#19680 perf: Improve hive partition pruning with datetime predicates from SQL
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/planner.rs
  crates/polars-io/src/predicates.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement, performance

#19688 fix: Only allow `list.to_struct` to be elementwise when width is fixed
  crates/polars-plan/src/dsl/list.rs
Labels: python, rust, fix

#19701 perf: Fix quadratic 'with_columns' behavior
  crates/polars-core/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-mem-engine/src/planner/lp.rs
  py-polars/tests/benchmark/test_with_columns.py
Labels: python, rust, performance

#19706 fix: In group_by_dynamic, period and every were getting applied in reverse order for the window upper boundary
  crates/polars-time/src/windows/window.rs
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#19710 refactor: Remove Dead Excel Code
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, rust, internal

#19712 fix(python): Ensure `NoDataError` raised consistently between engines for Excel reads
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#19727 feat(python): Improve `n_chunks` typing
  py-polars/polars/dataframe/frame.py
Labels: python, fix

#19714 fix: SQL `ELSE` clause should be implicitly `NULL` when omitted
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_conditional.py
Labels: python, rust, fix, A-sql

#19698 fix: Fix validation for inner and left join when join_nulls unflaged
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, fix

#19730 perf: Adjust coalesce for `[<tiny range>, <massive range>]`
  crates/polars-io/src/cloud/polars_object_store.rs
Labels: python, rust, skip changelog, performance

#19731 perf: Improve `DataFrame.sort().limit/top_k` performance
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/series/general.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, performance

#19726 fix(python): Use `cls` for `to_python`
  py-polars/polars/datatypes/classes.py
Labels: python, fix

#19734 perf: Fix cloud download speed regression
  crates/polars-io/src/cloud/polars_object_store.rs
Labels: python, rust, skip changelog, performance

#19494 feat(rust,python): Implement max/min methods for dtypes
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/dsl/function_expr/bounds.rs
  crates/polars-python/src/datatypes.rs
  py-polars/polars/datatypes/classes.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_datatypes.py
Labels: python, rust, enhancement

#19733 feat(python): Try to support native SAP HANA driver via `read_database`
  py-polars/polars/io/database/_executor.py
Labels: python, enhancement, A-io-database

#19737 Python Polars 1.13.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#19741 refactor(rust): Add InMemoryJoin to new-streaming engine
  Cargo.lock
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/joins/in_memory.rs
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/operations/test_is_sorted.py
Labels: rust, internal

#19745 docs: Fix join API reference links
  docs/source/user-guide/transformations/joins.md
Labels: documentation, python, rust

#19744 docs: Add `meta.is_column` to API docs
  py-polars/docs/source/reference/expressions/meta.rst
Labels: documentation, python, rust

#19746 docs: Fix formatting of nested list
  docs/source/user-guide/expressions/index.md
Labels: documentation, python, rust

#19742 fix(python): Address incorrect `selector & col` expansion
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, fix, A-selectors

#19753 fix: Fix incorrect lazy schema for aggregations
  .github/workflows/test-coverage.yml
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#19705 fix(python): Release GIL in Python APIs, part 1
  crates/polars-python/src/series/aggregation.rs
  crates/polars-python/src/series/arithmetic.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/comparison.rs
  crates/polars-python/src/series/construction.rs
  crates/polars-python/src/series/export.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/scatter.rs
Labels: python, fix

#19454 feat: Add IPC source node for new streaming engine
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-arrow/src/io/ipc/read/reader.rs
  crates/polars-arrow/src/io/ipc/read/stream.rs
  crates/polars-arrow/src/record_batch.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/upstream_traits.rs
  crates/polars-core/src/scalar/from.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_lazy_ipc.py
Labels: python, rust, enhancement

#19759 feat(rust): Add dylib
  Cargo.lock
  Cargo.toml
  crates/Makefile
  crates/polars-dylib/Cargo.toml
  crates/polars-dylib/README.md
  crates/polars-dylib/src/lib.rs
  crates/polars/Cargo.toml
Labels: rust, enhancement

#19768 Python Polars 1.13.1
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#19769 fix(python): Fixed typo in file lazy.py
  py-polars/polars/functions/lazy.py
Labels: python, fix

#19776 fix: Fix incorrect lazy schema for explode on array columns
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/simplify_functions.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#19197 feat: A different approach to warning users of fork() issues with Polars
  py-polars/polars/__init__.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, enhancement

#19775 fix: Fix incorrect filter after right-join on LazyFrame
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#19762 fix(python): Release the GIL in Python APIs, part 2 of 2
  crates/polars-python/src/cloud.rs
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-python/src/interop/arrow/to_rust.rs
  crates/polars-python/src/interop/numpy/to_numpy_df.rs
  crates/polars-python/src/interop/numpy/to_numpy_series.rs
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
Labels: python, fix

#19736 refactor: Migrate polars-expr AggregationContext to use `Column`
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/column/partitioned.rs
  crates/polars-core/src/frame/column/scalar.rs
  crates/polars-core/src/frame/column/series.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/count.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/group_iter.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/sort.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-lazy/src/frame/pivot.rs
  crates/polars-mem-engine/src/executors/filter.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-ops/src/series/ops/index.rs
Labels: python, rust, internal

#19773 feat: Add an `is_literal` method to expression `meta` namespace
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-python/src/expr/meta.rs
  py-polars/docs/source/reference/expressions/meta.rst
  py-polars/polars/expr/meta.py
  py-polars/tests/unit/operations/namespaces/test_meta.py
Labels: python, rust, enhancement

#19782 fix: Fix scanning google cloud with service account credentials file
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/meta/versions.py
Labels: python, rust, fix

#19755 fix(python): Respect schema_overrides in batched csv reader
  crates/polars-python/src/batched_csv.rs
  py-polars/polars/io/csv/batched_reader.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, fix

#19791 docs(python): Fix link to Graphviz download
  py-polars/polars/expr/meta.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#19789 fix: Altair tooltip was being incorrectly applied to plots which did not accept it
  py-polars/polars/dataframe/plotting.py
  py-polars/polars/series/plotting.py
  py-polars/tests/unit/operations/namespaces/test_plot.py
Labels: python, rust, fix

#19785 refactor(rust): Use HashKeys abstraction
  crates/polars-arrow/src/compute/take/binary.rs
  crates/polars-arrow/src/compute/take/boolean.rs
  crates/polars-arrow/src/compute/take/mod.rs
  crates/polars-core/src/hashing/vector_hasher.rs
  crates/polars-expr/src/groups/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/lib.rs
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#19783 fix(python): Replace spaces with &nbsp; to support showing multiple spaces in HTML repr
  py-polars/polars/dataframe/_html.py
  py-polars/tests/unit/dataframe/test_repr_html.py
Labels: python, fix

#19767 docs(python): Mention `row_by_keys` in the `to_dict` documentation
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#19786 fix: Fix filter scalar nulls
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, fix

#19810 fix(rust): Fix inconsistency between code and comment
  crates/polars-arrow/src/array/primitive/mutable.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-parquet/src/parquet/encoding/mod.rs
  crates/polars-parquet/src/parquet/encoding/uleb128.rs
Labels: rust, fix

#19811 fix: Fix object chunked gather
  crates/polars-core/src/series/implementations/object.rs
Labels: python, rust, fix

#19819 feat(rust): Allow specification of `chunk_size` on `LazyCsvReader.read_options`
  crates/polars-lazy/src/scan/csv.rs
Labels: rust, enhancement

#19817 refactor(rust): Add BytesIndexMap and use in RowEncodedHashGrouper
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/idx_map/bytes_idx_map.rs
  crates/polars-utils/src/idx_map/mod.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal

#19103 refactor(python): Use polars parquet reader for delta scan
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, internal

#19694 refactor(rust): Add new streaming CSV source
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-stream/src/async_primitives/wait_group.rs
  crates/polars-stream/src/nodes/csv_source.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/parquet_source/init.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/polars/_utils/various.py
  py-polars/polars/convert/general.py
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: rust, internal

#19697 feat: Support use of Duration in `to_string`, ergonomic/perf improvement, tz-aware Datetime bugfix
  Cargo.lock
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/temporal/conversion.rs
  crates/polars-core/src/chunked_array/temporal/date.rs
  crates/polars-core/src/chunked_array/temporal/datetime.rs
  crates/polars-core/src/chunked_array/temporal/duration.rs
  crates/polars-core/src/chunked_array/temporal/time.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-time/src/series/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_duration.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, enhancement, performance

#19618 fix(python): Replace _kwargs in collect method
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
Labels: python, fix

#19820 feat(python): Support DataFrame init from raw SQLAlchemy rows
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/_utils/construction/utils.py
  py-polars/polars/io/database/_executor.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, enhancement, A-interop

#19823 fix: Fix gather of Scalar null + idx w/ validity
  crates/polars-core/src/frame/column/mod.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#19824 fix: Don't panic if column not found
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#19788 docs(python): Update bokeh to use cdn to avoid Bokeh Error
  docs/source/src/python/user-guide/misc/visualization.py
Labels: documentation, python

#19827 fix: Type hints for window_size incorrectly included timedelta in some rolling functions
  py-polars/polars/expr/expr.py
Labels: python, rust, fix

#19828 perf: Move row group decode off async thread for local streaming parquet scan
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/pl_async.rs
Labels: python, rust, performance

#19826 fix: Raise if merge non-global categoricals in unpivot
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/operations/test_unpivot.py
Labels: python, rust, fix

#19829 perf: Increase default async thread count for low core count systems
  crates/polars-io/src/pl_async.rs
Labels: python, rust, performance

#19831 fix: Validate subnodes in validate IR
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#19830 feat: Raise informative error on Unknown unnest
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  py-polars/polars/expr/list.py
Labels: python, rust, enhancement

#19832 fix(python): Fix `read_database(…,iter_batches=True)` type annotations
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/_utils.py
  py-polars/polars/io/database/functions.py
Labels: python, fix, A-typing

#19833 refactor: Add ToField context for common args
  crates/polars-plan/src/plans/aexpr/schema.rs
Labels: python, rust, internal

#19834 python Polars 1.14.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#19835 fix: Ensure `List` element truncation ellipses respect `ASCII*` table formats
  crates/polars-core/src/fmt.rs
  py-polars/tests/unit/test_config.py
Labels: python, rust, fix

#19837 feat: Improved array arithmetic support
  crates/polars-core/Cargo.toml
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/arithmetic/fixed_size_list.rs
  crates/polars-core/src/series/arithmetic/list_borrowed.rs
  crates/polars-core/src/series/arithmetic/list_utils.rs
  crates/polars-core/src/series/arithmetic/mod.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-ops/src/series/ops/floor_divide.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/type_coercion/binary.rs
  crates/polars-python/Cargo.toml
  crates/polars/Cargo.toml
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/operations/arithmetic/test_array.py
  py-polars/tests/unit/operations/arithmetic/test_list_arithmetic.py
  py-polars/tests/unit/operations/arithmetic/utils.py
Labels: python, rust, enhancement

#19843 chore: Add proper tests for row encoding
  Cargo.lock
  crates/polars-python/Cargo.toml
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/datatypes.rs
  crates/polars-python/src/series/general.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_row_encoding.py
Labels: python, rust, internal

#19486 fix: DataFrame.rows_by_key returning key tuples with elements in wrong order
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/test_rows.py
Labels: python, rust, fix

#19850 perf: Initially trim leading and trailing filtered rows
  crates/polars-compute/src/filter/mod.rs
Labels: python, rust, performance

#19856 refactor(rust): Make chunked gathers generic over chunk bit width
  crates/polars-core/src/prelude.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  crates/polars-utils/src/index.rs
Labels: rust, internal

#19848 docs: Fix some warnings during docs build
  docs/source/src/python/user-guide/expressions/categoricals.py
  docs/source/user-guide/expressions/structs.md
  docs/source/user-guide/installation.md
Labels: documentation, python, rust

#19846 fix: Properly handle Zero-Field Structs in row encoding
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/row_values.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-row/src/encode.rs
  py-polars/tests/unit/test_row_encoding.py
Labels: python, rust, fix

#19844 test(python): Adjust flaky `with_columns` test
  py-polars/tests/benchmark/test_with_columns.py
Labels: python, internal

#19841 fix: Raise informative error instead of panicking for list arithmetic on some invalid dtypes
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/arithmetic/list.rs
  crates/polars-core/src/series/arithmetic/mod.rs
  py-polars/tests/unit/operations/arithmetic/test_array.py
  py-polars/tests/unit/operations/arithmetic/test_list.py
Labels: python, rust, fix

#18761 fix: Improve histogram bin logic
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_hist.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, fix

#19851 chore: Switch back to PyO3 0.22
  Cargo.lock
  Cargo.toml
  crates/polars-python/Cargo.toml
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-utils/src/python_function.rs
Labels: python, rust, internal

#19865 fix: Fix panic using `scan_parquet().with_row_index()` with hive partitioning enabled
  crates/polars-io/src/hive.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#19760 feat: Add rounding for Decimal type
  crates/polars-ops/src/series/ops/round.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#19875 docs: Complete parameters description and add an example for `clip()`
  py-polars/polars/expr/expr.py
Labels: documentation, python, rust

#19840 feat: Support both "iso" and "iso:strict" format options for `dt.to_string`
  crates/polars-core/src/chunked_array/temporal/conversion.rs
  crates/polars-core/src/chunked_array/temporal/date.rs
  crates/polars-core/src/chunked_array/temporal/duration.rs
  crates/polars-core/src/chunked_array/temporal/time.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, enhancement

#19862 fix(python): Improve export from 2D Array dtype columns to PyTorch Tensors (`to_torch`) and Jax Arrays (`to_jax`)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/ml/utilities.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/ml/test_to_jax.py
  py-polars/tests/unit/ml/test_to_torch.py
Labels: python, fix, A-interop

#19881 feat: Add `pl.concat_arr` to concatenate columns into an Array column
  crates/polars-compute/src/horizontal_flatten/mod.rs
  crates/polars-compute/src/horizontal_flatten/struct_.rs
  crates/polars-compute/src/lib.rs
  crates/polars-ops/src/series/ops/concat_arr.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-python/src/functions/lazy.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/as_datatype.py
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_arr.py
Labels: python, rust, enhancement, support

#19866 fix: Ensure type object of inputs for cached any-value conversion functions are kept alive
  crates/polars-python/src/conversion/any_value.rs
  py-polars/tests/unit/functions/range/test_date_range.py
Labels: python, rust, fix

#19884 fix: Fix panic with empty delta scan, or empty parquet scan with a provided schema
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/ir/scan_sources.rs
  py-polars/polars/io/delta.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#19901 fix: Misleading `ShapeError` error message on dataframe creation
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#19898 fix: Fix incorrect result from inequality filter after join on LazyFrame
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#19899 refactor(rust): Remove use of cast in `ArrowArray::new`
  crates/polars-arrow/src/ffi/array.rs
Labels: rust, internal

#19902 feat: Auto-enable hive partitioning if hive_schema was given
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, enhancement

#19896 fix: Fix panic when joining with empty frame (debug only)
  crates/polars-core/src/frame/column/scalar.rs
Labels: python, rust, fix

#19905 fix: Fix panic with combination of hive and parquet prefiltering
  crates/polars-io/src/hive.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-plan/src/plans/hive.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#19891 doc(python): Explicit note section for coalescing note
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: title needs formatting

#19909 refactor(python): Mark `concat_arr` as unstable
  py-polars/polars/functions/as_datatype.py
Labels: python, skip changelog, internal
