Repository pola-rs/polars, pull requests merged in 2024-05, with the labels that each got.

#15965 feat: Support Decimal read from IPC
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/mmap/array.rs
  crates/polars-core/src/series/from.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, enhancement

#15972 feat(python): Add post-optimization callback
  crates/polars-lazy/src/frame/mod.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visit.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/lazyframe/cuda/test_node_visitor.py
Labels: python, enhancement

#15992 fix: Fix PartialEq for DataType::Unknown
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/binary.rs
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/operations/test_replace.py
Labels: python, rust, fix

#15922 fix(rust): Treat splitting by empty string as iterating over chars
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/split.rs
  py-polars/tests/unit/namespaces/string/test_string.py
Labels: rust, fix

#15995 fix: Ternary supertype dynamics
  crates/polars-core/src/series/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/binary.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/lazyframe/test_tree_format.py
Labels: python, rust, fix

#15994 fix(python): converting from numpy datetime64 and overriding dtype with a different resolution was returning incorrect results
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#15993 feat: Additional `uint` datatype support for the SQL interface
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_cast.py
Labels: python, rust, enhancement, A-sql

#16006 fix: Crash/incorrect group_by/n_unique on categoricals created by (q)cut
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-ops/src/series/ops/cut.rs
  py-polars/tests/unit/operations/test_cut.py
Labels: python, rust, fix

#16001 test(python): Improve hypothesis strategy for decimals
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/unit/conftest.py
Labels: python, internal

#15923 docs(python): Improve user-guide doc of UDF
  docs/src/python/user-guide/expressions/user-defined-functions.py
  docs/user-guide/expressions/user-defined-functions.md
Labels: documentation, python

#16008 refactor: Add some comments
  crates/polars-io/src/csv/read/read_impl/batched_read.rs
  crates/polars-utils/src/sync.rs
Labels: python, rust, internal

#16009 feat: Improve dynamic supertypes
  crates/polars-core/src/utils/supertype.rs
Labels: python, rust, enhancement

#16000 docs(python): correct default in rolling_* function examples
  py-polars/polars/expr/expr.py
Labels: documentation, python

#16011 fix: Fix CSE case where upper plan has no projection
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-plan/src/logical_plan/optimizer/cache_states.rs
  crates/polars-plan/src/logical_plan/schema.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#16013 fix: properly handle nulls in DictionaryArray::iter_typed
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/array/dictionary/typed_iterator.rs
Labels: python, rust, fix

#16002 docs(python): Remove unwanted linebreaks from docstrings
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#16016 feat: Convert concat during IR conversion
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-plan/src/logical_plan/conversion/convert_utils.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/expr_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
Labels: python, rust, enhancement

#15979 feat: raise more informative error messages in rolling_* aggregations instead of panicking
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#16017 refactor: Use UnionArgs for DSL side
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/prelude.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
  py-polars/src/functions/lazy.rs
Labels: python, rust, internal

#15982 docs(python): Update reference to `apply`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#16031 fix(python): Do not close connection just because we're not returning Arrow data in batches
  py-polars/polars/io/database/_executor.py
Labels: python, fix

#16034 feat: Move diagonal & horizontal concat schema resolving to IR phase
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/physical_plan/executors/projection_simple.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-plan/src/logical_plan/alp/inputs.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/builder_ir.rs
  crates/polars-plan/src/logical_plan/conversion/convert_utils.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/collapse_and_project.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/hconcat.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/functions/test_functions.py
Labels: python, rust, enhancement

#15937 docs(python): Fix docstring mistake for polars.concat_str
  py-polars/polars/functions/as_datatype.py
Labels: documentation, python

#16030 feat(python): Minor DB type inference updates
  py-polars/polars/io/database/_inference.py
  py-polars/tests/unit/io/database/test_inference.py
Labels: python, enhancement

#15931 feat(python): Support `pytorch` Tensor and Dataset export with new `to_torch` DataFrame/Series method
  py-polars/docs/source/reference/dataframe/export.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/meta/versions.py
  py-polars/polars/ml/__init__.py
  py-polars/polars/ml/torch.py
  py-polars/polars/series/series.py
  py-polars/polars/type_aliases.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/dataframe/test_to_torch.py
Labels: python, enhancement, highlight

#16036 feat: Support non-coalescing joins in default engine
  crates/polars-lazy/src/physical_plan/streaming/checks.rs
  crates/polars-ops/src/frame/join/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#15959 feat(rust): Add RLE to `RLE_DICTIONARY` encoder
  crates/polars-arrow/src/compute/cast/binary_to.rs
  crates/polars-arrow/src/compute/cast/binview_to.rs
  crates/polars-arrow/src/compute/cast/primitive_to.rs
  crates/polars-arrow/src/compute/cast/utf8_to.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/nested/mod.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/encoder.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: rust, enhancement

#16043 fix(python): Correctly handle large timedelta objects in Series constructor
  py-polars/polars/datatypes/convert.py
  py-polars/src/conversion/any_value.rs
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, fix

#16041 feat(python): split Expr.top_k and Expr.top_k_by into separate functions
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, enhancement, internal

#16032 fix(rust): Do not set sorted flag on lexical sorting
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: rust, fix

#16046 fix: Decimal supertype for dyn int
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#16048 fix: Fix printing max scale decimals
  crates/polars-arrow/src/compute/decimal.rs
  py-polars/tests/unit/test_format.py
Labels: python, rust, fix

#16050 fix(python): Fix Series constructor failure for Array types for large integers
  py-polars/polars/_utils/construction/series.py
  py-polars/tests/unit/constructors/test_series.py
Labels: python, fix

#16056 refactor(python): Clean up hypothesis decimal strategy
  py-polars/polars/testing/parametric/strategies.py
Labels: python, internal

#16045 feat(python,rust): add date pattern `dd.mm.YYYY`
  crates/polars-time/src/chunkedarray/string/patterns.rs
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#15996 docs: add filter docstring examples to date and datetime
  py-polars/polars/functions/as_datatype.py
Labels: documentation, python, rust

#16049 fix: Fix casting decimal to decimal for high precision
  crates/polars-arrow/src/compute/cast/decimal_to.rs
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/sql/test_numeric.py
Labels: python, rust, fix

#16065 refactor(python): Add TypeGuard to `is_polars_dtype` util
  py-polars/polars/datatypes/convert.py
  py-polars/polars/functions/col.py
  py-polars/polars/selectors.py
Labels: python, internal

#16063 refactor(rust)!: Rename all 'Chunk's to RecordBatch
  crates/polars-arrow/src/io/avro/read/deserialize.rs
  crates/polars-arrow/src/io/avro/read/mod.rs
  crates/polars-arrow/src/io/flight/mod.rs
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/file_async.rs
  crates/polars-arrow/src/io/ipc/read/reader.rs
  crates/polars-arrow/src/io/ipc/read/stream.rs
  crates/polars-arrow/src/io/ipc/read/stream_async.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/file_async.rs
  crates/polars-arrow/src/io/ipc/write/stream.rs
  crates/polars-arrow/src/io/ipc/write/stream_async.rs
  crates/polars-arrow/src/io/ipc/write/writer.rs
  crates/polars-arrow/src/legacy/conversion.rs
  crates/polars-arrow/src/mmap/mod.rs
  crates/polars-arrow/src/record_batch.rs
  crates/polars-core/src/frame/chunks.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/avro/read.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/ipc/mmap.rs
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-io/src/shared.rs
  crates/polars-json/src/json/write/mod.rs
  crates/polars-parquet/src/arrow/read/file.rs
  crates/polars-parquet/src/arrow/read/row_group.rs
  crates/polars-parquet/src/arrow/write/row_group.rs
  crates/polars-parquet/src/arrow/write/sink.rs
  crates/polars/tests/it/arrow/io/ipc/mod.rs
  crates/polars/tests/it/io/avro/read.rs
  crates/polars/tests/it/io/avro/write.rs
  crates/polars/tests/it/io/avro/write_async.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/read_indexes.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
  py-polars/src/arrow_interop/to_py.rs
  py-polars/src/dataframe/export.rs
Labels: rust, breaking, internal

#16059 feat(python): split out rolling_*(..., by='foo') into rolling_*_by('foo', ...)
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, enhancement

#16058 tests(python): Make `torch` install CI-only by default
  .github/workflows/test-python.yml
  Makefile
  py-polars/Makefile
  py-polars/polars/dependencies.py
  py-polars/polars/ml/torch.py
  py-polars/pyproject.toml
  py-polars/requirements-ci.txt
  py-polars/requirements-dev.txt
  py-polars/tests/unit/dataframe/test_to_torch.py
Labels: ci, test, internal

#16071 perf: Ensure better chunk sizes
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-io/src/parquet/write/mod.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/row_group.rs
  crates/polars-parquet/src/parquet/write/file.rs
  crates/polars-parquet/src/parquet/write/mod.rs
  crates/polars-parquet/src/parquet/write/stream.rs
  crates/polars-pipe/src/executors/sinks/group_by/ooc.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  crates/polars-pipe/src/executors/sources/frame.rs
  crates/polars/tests/it/core/joins.rs
Labels: python, rust, performance

#16072 ci(python): Update benchmarks/coverage jobs with "requirements-ci"
  .github/workflows/benchmark.yml
  .github/workflows/docs-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-coverage.yml
Labels: python, internal

#16061 docs(python): Ensure consistent docstring warning in `fill_nan` methods (pointing out that `nan` isn't `null`)
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#16074 fix: Materialize dtypes when converting to arrow
  crates/polars-core/src/datatypes/dtype.rs
Labels: python, rust, fix

#16083 ci: Fix failures in test coverage workflow
  .github/codecov.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-python.yml
Labels: python, rust, internal

#16088 ci: Bump `sccache` action
  .github/workflows/benchmark.yml
Labels: python, rust, internal

#16096 perf: Don't traverse deep datasets that we repr as union in CSE
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_lp.rs
Labels: python, rust, performance

#16100 fix(python): Improve error handling of `ParameterCollisionError` in `read_excel`
  py-polars/polars/io/spreadsheet/functions.py
Labels: python, fix

#16112 feat(python): Add top-level `nth(n)` method, to go with existing `first` and `last`
  crates/polars-plan/src/dsl/mod.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, enhancement

#16101 fix: Ensure hex and bitstring literals work inside SQL `IN` clauses
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_literals.py
Labels: python, rust, fix, A-sql

#16123 docs(python): Add example to polars.Series.flags
  py-polars/polars/series/series.py
Labels: documentation, python

#16099 feat(python): Support passing instantiated adbc/alchemy connection objects to `write_database`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dependencies.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/io/database/test_write.py
Labels: python, enhancement, A-io-database

#16107 tests(python): Support skipping doctests associated with optional modules
  py-polars/tests/docs/run_doctest.py
Labels: test, internal, black magic

#15962 fix(python): Respect `dtype` and `strict` in `pl.Series`'s constructor for pyarrow arrays, numpy arrays, and pyarrow-backed pandas
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#16130 fix(rust): Add missing allow macros for windows
  py-polars/src/lib.rs
  py-polars/src/memory.rs
Labels: rust, fix

#16127 perf: Ensure rechunk is parallel
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/shared.rs
  py-polars/src/dataframe/general.rs
Labels: python, rust, performance

#16128 perf: Don't rechunk by default in `concat`
  crates/polars-plan/src/logical_plan/options.rs
  py-polars/polars/functions/eager.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/expr/test_exprs.py
Labels: python, rust, performance

#16133 tests(python): Mark `iceberg` tests/requirements "ci-only" and make some related user guide updates
  docs/development/contributing/ide.md
  docs/development/contributing/index.md
  docs/development/contributing/test.md
  py-polars/polars/dependencies.py
  py-polars/polars/functions/eager.py
  py-polars/pyproject.toml
  py-polars/requirements-ci.txt
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_iceberg.py
Labels: ci, test, internal

#16081 chore(python): Continue converting to PyO3 0.21 Bound<> APIs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/error.rs
  py-polars/src/expr/array.rs
  py-polars/src/expr/general.rs
  py-polars/src/expr/list.rs
  py-polars/src/expr/name.rs
  py-polars/src/expr/rolling.rs
  py-polars/src/functions/eager.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/functions/range.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visit.rs
  py-polars/src/py_modules.rs
Labels: python, internal

#16135 docs(rust): Solve inconsistency between code and comment
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/primitive/mutable.rs
  crates/polars-arrow/src/array/union/mod.rs
  crates/polars-arrow/src/buffer/immutable.rs
Labels: documentation, rust

#16126 refactor(rust!): Move CSV read options from `CsvReader` to `CsvReadOptions`
  crates/polars-io/src/csv/read/mod.rs
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/read_impl/batched_mmap.rs
  crates/polars-io/src/csv/read/read_impl/batched_read.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/options.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/functions/count.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars/tests/it/io/csv.rs
  docs/src/rust/home/example.rs
  docs/src/rust/user-guide/concepts/lazy-vs-eager.rs
  docs/src/rust/user-guide/concepts/streaming.rs
  docs/src/rust/user-guide/expressions/aggregation.rs
  docs/src/rust/user-guide/expressions/window.rs
  docs/src/rust/user-guide/getting-started/reading-writing.rs
  docs/src/rust/user-guide/io/csv.rs
  docs/src/rust/user-guide/transformations/time-series/filter.rs
  docs/src/rust/user-guide/transformations/time-series/parsing.rs
  docs/src/rust/user-guide/transformations/time-series/rolling.rs
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visitor/nodes.rs
Labels: rust, internal, breaking rust

#16146 tests(python): Update tests for new `connectorx` (now works with 3.12)
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/database/test_read.py
Labels: test, internal

#16151 fix: Don't override CSV reader encoding with lossy UTF-8
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-pipe/src/executors/sources/csv.rs
Labels: python, rust, fix, internal

#16148 refactor(python): Create NumPy view for Datetime/Duration Series on the Rust side
  py-polars/polars/series/series.py
  py-polars/src/to_numpy.rs
Labels: python, internal

#16149 fix: Check CSE name aliases for collisions.
  crates/polars-plan/src/logical_plan/lit.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#16152 docs: Clarify arrow usage
  docs/user-guide/ecosystem.md
  docs/user-guide/expressions/missing-data.md
  docs/user-guide/migration/pandas.md
Labels: documentation, python, rust

#14353 refactor(python): Return correct temporal type from Rust in `to_numpy`
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, internal

#16157 chore(python): Update plugin example to PyO3 0.21
  examples/python_rust_compiled_function/Cargo.toml
  examples/python_rust_compiled_function/src/ffi.rs
  examples/python_rust_compiled_function/src/lib.rs
Labels: python, internal

#16125 feat(rust,python): Add run-length encoding to Parquet writer
  .github/workflows/test-rust.yml
  crates/polars-arrow/src/compute/cast/binary_to.rs
  crates/polars-arrow/src/compute/cast/binview_to.rs
  crates/polars-arrow/src/compute/cast/primitive_to.rs
  crates/polars-arrow/src/compute/cast/utf8_to.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/nested/mod.rs
  crates/polars-parquet/src/arrow/write/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/encoder.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars/tests/it/io/parquet/write/binary.rs
  crates/polars/tests/it/io/parquet/write/primitive.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#16102 feat(rust!): separate `rolling_*_by` from `rolling_*(..., by=...)` in Rust
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/prelude.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-ops/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/function_expr/rolling_by.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-time/Cargo.toml
  crates/polars-time/src/chunkedarray/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
  crates/polars-time/src/windows/group_by.rs
  crates/polars/Cargo.toml
  crates/polars/tests/it/core/rolling_window.rs
  py-polars/Cargo.toml
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/expr/expr.py
  py-polars/src/expr/rolling.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: rust, enhancement, breaking rust

#16054 docs(python): Explain how Polars floor division differs from Python
  py-polars/polars/expr/expr.py
Labels: documentation, python

#15958 feat: Allow implicit string → temporal conversion in SQL comparisons
  Cargo.lock
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/simple_exprs.rs
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, enhancement, A-sql

#16164 feat(python): Avoid an extra copy when converting Boolean Series to writable NumPy array
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, enhancement

#16073 fix: Flush parquet at end of batches tick
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/pages.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
Labels: python, rust, fix

#16173 docs(python): Add deprecated messages to `cumfold` and `cumreduce`
  py-polars/polars/functions/lazy.py
Labels: documentation, python

#16166 perf: use zeroable_vec in ewm_mean_by
  crates/polars-ops/src/series/ops/ewm_by.rs
  py-polars/tests/unit/operations/test_ewm_by.py
Labels: python, rust, performance

#16175 chore: Remove unused code
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
Labels: python, rust, internal

#16176 fix: Fix CSV skip_rows_after_header for streaming
  crates/polars-pipe/src/executors/sources/csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#16174 fix: Fix streaming glob slice
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/csv/read/read_impl/batched_mmap.rs
  crates/polars-io/src/csv/read/read_impl/batched_read.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-utils/src/arena.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#16172 docs(python): Add examples for multiple `Series` functions
  py-polars/polars/series/series.py
Labels: documentation, python

#16062 feat(python): Overhaul parametric test implementations and update Hypothesis to latest version
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/reference/testing.rst
  py-polars/polars/_utils/constants.py
  py-polars/polars/_utils/convert.py
  py-polars/polars/testing/parametric/__init__.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/profiles.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/polars/testing/parametric/strategies/__init__.py
  py-polars/polars/testing/parametric/strategies/_utils.py
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/polars/testing/parametric/strategies/legacy.py
  py-polars/requirements-dev.txt
  py-polars/tests/parametric/conftest.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/parametric/test_lazyframe.py
  py-polars/tests/parametric/test_lit.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/parametric/time_series/test_ewm_by.py
  py-polars/tests/parametric/time_series/test_to_datetime.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interop/test_to_pandas.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/test_clear.py
  py-polars/tests/unit/operations/test_ewm.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
  py-polars/tests/unit/testing/parametric/strategies/test_dtype.py
  py-polars/tests/unit/testing/parametric/strategies/test_legacy.py
  py-polars/tests/unit/testing/parametric/strategies/test_utils.py
Labels: python, enhancement

#16178 perf(python): Avoid needless copy when converting chunked Series to NumPy
  py-polars/polars/series/series.py
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/series/export.rs
Labels: python, performance

#16179 feat: Add SQL support for `GROUP BY ALL` syntax and fix several issues with aliased group keys
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/functions/selectors.rs
  crates/polars-plan/src/logical_plan/expr_expansion.rs
  crates/polars-plan/src/utils.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/functions_string.rs
  crates/polars-sql/tests/simple_exprs.rs
  py-polars/tests/unit/sql/test_group_by.py
Labels: python, rust, enhancement, A-sql

#16181 fix: Fix panic on empty frame joins
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#16183 depr(python): Deprecate `allow_infinities` and `null_probability` args to parametric test strategies
  py-polars/docs/source/reference/testing.rst
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/parametric/test_lazyframe.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/operations/test_drop_nulls.py
  py-polars/tests/unit/operations/test_ewm.py
  py-polars/tests/unit/operations/test_is_null.py
  py-polars/tests/unit/series/buffers/test_from_buffers.py
  py-polars/tests/unit/testing/parametric/strategies/test_data.py
Labels: python, deprecation

#16182 feat: Raise when encountering invalid supertype in functions during c…
  crates/polars-plan/src/dsl/function_expr/fill_null.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/conversion/type_coercion/binary.rs
  crates/polars-plan/src/logical_plan/conversion/type_coercion/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/mod.rs
  crates/polars-utils/src/macros.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#16185 test(python): Move hypothesis tests into unit test module
  py-polars/tests/parametric/conftest.py
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/parametric/test_lit.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/parametric/time_series/test_add_business_days.py
  py-polars/tests/parametric/time_series/test_business_day_count.py
  py-polars/tests/unit/dataframe/test_getitem.py
  py-polars/tests/unit/dataframe/test_null_count.py
  py-polars/tests/unit/dataframe/test_repr.py
  py-polars/tests/unit/functions/test_business_day_count.py
  py-polars/tests/unit/functions/test_ewm_by.py
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/lazyframe/test_getitem.py
  py-polars/tests/unit/operations/namespaces/__init__.py
  py-polars/tests/unit/operations/namespaces/array/__init__.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
  py-polars/tests/unit/operations/namespaces/array/test_contains.py
  py-polars/tests/unit/operations/namespaces/array/test_to_list.py
  py-polars/tests/unit/operations/namespaces/conftest.py
  py-polars/tests/unit/operations/namespaces/files/test_tree_fmt.txt
  py-polars/tests/unit/operations/namespaces/list/__init__.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/namespaces/list/test_set_operations.py
  py-polars/tests/unit/operations/namespaces/string/__init__.py
  py-polars/tests/unit/operations/namespaces/string/test_concat.py
  py-polars/tests/unit/operations/namespaces/string/test_pad.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/namespaces/temporal/__init__.py
  py-polars/tests/unit/operations/namespaces/temporal/test_add_business_days.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
  py-polars/tests/unit/operations/namespaces/test_binary.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/namespaces/test_meta.py
  py-polars/tests/unit/operations/namespaces/test_name.py
  py-polars/tests/unit/operations/namespaces/test_plot.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/namespaces/test_struct.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/series/test_getitem.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
Labels: python, internal

#16186 fix: Fix rolling empty group OOB
  crates/polars-time/src/group_by/dynamic.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#16188 feat(python): Support `Enum` types in parametric testing
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
  py-polars/tests/unit/testing/parametric/strategies/test_data.py
Labels: python, enhancement

#16192 feat(python): Enable Null datatype and null values by default in parametric testing
  _typos.toml
  py-polars/polars/series/utils.py
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/series/buffers/test_from_buffer.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
Labels: python, enhancement

#16195 chore(rust): Use `Duration.is_zero` instead of comparing Duration.duration_ns to 0
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-time/src/windows/group_by.rs
Labels: rust, internal

#16197 feat(python): Implement support for Struct types in parametric tests
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/tests/unit/dataframe/test_null_count.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/operations/test_clear.py
  py-polars/tests/unit/operations/test_drop_nulls.py
  py-polars/tests/unit/testing/parametric/strategies/test_data.py
Labels: python, enhancement

#16143 chore(python): More PyO3 0.21 Bound<> APIs, and finally disable gil-refs backwards compat feature on pyo3 crate
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/Cargo.toml
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/datatypes.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/map/dataframe.rs
  py-polars/src/map/lazy.rs
  py-polars/src/map/mod.rs
  py-polars/src/on_startup.rs
  py-polars/src/series/comparison.rs
  py-polars/src/series/mod.rs
  py-polars/src/series/numpy_ufunc.rs
  py-polars/src/to_numpy.rs
Labels: python, internal

#16208 feat: Register memory mapped files and raise when written to
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/ipc/mmap.rs
  crates/polars-io/src/mmap.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-utils/src/io.rs
  crates/polars-utils/src/lib.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/file.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, enhancement

#16191 refactor: move describe to IR instead of DSL
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/logical_plan/aexpr/mod.rs
  crates/polars-plan/src/logical_plan/alp/format.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/expr_ir.rs
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, internal

#16213 fix: Fix empty drop nulls
  crates/polars-plan/src/logical_plan/conversion/expr_to_ir.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#16214 fix: Empty unique
  crates/polars-lazy/src/physical_plan/executors/unique.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#16180 feat: Native CSV file list reading
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, enhancement

#16218 feat(python): Clarify `to_torch` "features" and "label" parameter behaviour when return type is not "dataset"
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_to_torch.py
Labels: python, enhancement

#16203 chore(python): Switch over some of the custom Python date/time conversions to native PyO3 conversions
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/conversion/datetime.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/series/export.rs
Labels: python, internal

#16211 fix(python): Fix some issues in parametric testing with nested dtypes
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/polars/testing/parametric/strategies/legacy.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
Labels: python, enhancement, fix

#16228 fix(python): Fix a rounding error in parametric test datetimes generation
  py-polars/polars/testing/_constants.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, fix

#16222 build: Update Rust nightly toolchain version
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/datatypes/physical_type.rs
  crates/polars-arrow/src/doc/lib.md
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-arrow/src/types/mod.rs
  crates/polars-arrow/src/util/bench_util.rs
  crates/polars-arrow/src/util/mod.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/interpolate.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/utils/supertype.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-json/Cargo.toml
  crates/polars-json/src/json/write/serialize.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/tests/arity.rs
  crates/polars-ops/Cargo.toml
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/sql_expr.rs
  crates/polars-time/Cargo.toml
  crates/polars/Cargo.toml
  crates/polars/src/prelude.rs
  crates/polars/tests/it/arrow/array/primitive/fmt.rs
  crates/polars/tests/it/arrow/bitmap/immutable.rs
  crates/polars/tests/it/arrow/buffer/immutable.rs
  crates/polars/tests/it/arrow/compute/mod.rs
  crates/polars/tests/it/arrow/mod.rs
  crates/polars/tests/it/io/avro/read.rs
  crates/polars/tests/it/io/avro/write.rs
  crates/polars/tests/it/io/parquet/arrow/integration.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/sample_tests.rs
  crates/polars/tests/it/lazy/functions.rs
  py-polars/Cargo.toml
  py-polars/src/allocator.rs
  py-polars/src/lib.rs
  py-polars/src/map/series.rs
  py-polars/tests/unit/io/cloud/__init__.py
  rust-toolchain.toml
Labels: python, rust, build

#16233 feat: Show warning if expressions are very deep
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/exotic.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  py-polars/polars/config.py
Labels: python, rust, enhancement

#16229 fix(python): Add missing `read_database` overload
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, fix

#16231 fix: Reading CSV with low_memory gave no data
  crates/polars-pipe/src/executors/sources/csv.rs
  py-polars/src/batched_csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#16217 feat: Adds new index/range based selector `cs.by_index`, allows multiple indices for `nth`
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/functions/selectors.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/expr_to_ir.rs
  crates/polars-plan/src/logical_plan/expr_expansion.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/utils.rs
  crates/polars-sql/tests/functions_string.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/col.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/selectors.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_selectors.py
Labels: python, rust, enhancement, A-selectors

#16241 fix(rust): Clippy Error for CPUID
  crates/polars-utils/src/cpuid.rs
Labels: rust, fix

#16237 refactor: move all describe, describe_tree and dot-viz code to IR instead of DslPlan
  crates/polars-lazy/src/dot.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/physical_plan/expressions/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/tree.rs
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/logical.rs
  crates/polars-lazy/src/tests/schema.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/logical_plan/alp/dot.rs
  crates/polars-plan/src/logical_plan/alp/format.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/alp/tree_format.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/debug.rs
  crates/polars-plan/src/logical_plan/expr_ir.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-plan/src/logical_plan/mod.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, internal

#16260 fix(python): Add missing support for parsing instantiated Object dtypes `Object()`
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/src/conversion/mod.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, fix

#16259 refactor(rust!): Remove incremental read based batched CSV reader
  crates/polars-io/src/csv/read/mod.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/read_impl/batched.rs
  crates/polars-io/src/csv/read/read_impl/batched_read.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars/tests/it/io/csv.rs
  examples/read_csv/src/main.rs
  py-polars/src/batched_csv.rs
Labels: rust, internal, breaking rust

#16216 refactor: Add IR::Reduce (not yet implemented)
  crates/polars-core/src/chunked_array/logical/date.rs
  crates/polars-core/src/chunked_array/logical/datetime.rs
  crates/polars-core/src/chunked_array/logical/duration.rs
  crates/polars-core/src/chunked_array/logical/time.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/src/lib.rs
  crates/polars-plan/src/logical_plan/alp/dot.rs
  crates/polars-plan/src/logical_plan/alp/format.rs
  crates/polars-plan/src/logical_plan/alp/inputs.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/alp/schema.rs
  crates/polars-plan/src/logical_plan/alp/tree_format.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  crates/polars-plan/src/reduce/mod.rs
  crates/polars/tests/it/core/rolling_window.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/src/series/aggregation.rs
Labels: python, rust, internal

#16263 chore: do not hardcode bash path
  Makefile
  crates/Makefile
  py-polars/Makefile
Labels: python, rust, internal

#16250 fix(python): Address overly-permissive `expand_selectors` function, minor fixes
  docs/src/python/user-guide/expressions/column-selections.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, fix, A-selectors

#16198 fix(python): Don't allow passing missing data to generalized ufuncs
  py-polars/polars/series/series.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_series.py
Labels: python, fix

#16247 fix: `rolling_*_by was throwing incorrect error when dataframe was sorted by contained multiple chunks
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#16221 feat(python): Expose string expression nodes to python
  crates/polars-plan/src/dsl/function_expr/mod.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/src/lib.rs
Labels: python, enhancement

#16264 depr(python): Change parameter `chunked` to `allow_chunks` in parametric testing strategies
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/series/buffers/test_from_buffer.py
  py-polars/tests/unit/series/buffers/test_from_buffers.py
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
Labels: python, deprecation

#16265 perf: use zeroed vec in ewm_mean_by for sorted fastpath
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/series/ops/ewm_by.rs
Labels: python, rust, performance

#16230 fix(python): Fix `Series.to_numpy` for Array types with nulls and nested Arrays
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
  py-polars/src/to_numpy.rs
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, fix

#16283 refactor(rust): Use `CsvReadOptions` in `LazyCsvReader`
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
Labels: rust, internal

#16277 refactor: Use Scalar instead of Series some aggregations
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  crates/polars-core/src/chunked_array/ops/aggregate/var.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-lazy/src/physical_plan/expressions/aggregation.rs
  crates/polars-lazy/src/physical_plan/planner/expr.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/src/dsl/function_expr/shrink_type.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars/tests/it/core/rolling_window.rs
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
Labels: python, rust, internal

#16273 refactor(rust): Rename `ChunkedArray.chunk_id` to `chunk_lengths`
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-core/src/utils/mod.rs
Labels: rust, internal

#16279 feat: Handle implicit SQL string → temporal conversion in the `BETWEEN` clause
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, enhancement, A-sql

#16284 fix(rust): compilation error when both lazy and ipc features are enabled
  crates/polars-io/src/predicates.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-plan/src/logical_plan/functions/count.rs
Labels: rust, fix

#16287 fix: Don't stackoverflow on all/any horizontal
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/logical_plan/conversion/expr_to_ir.rs
Labels: python, rust, fix

#16288 perf: Don't rechunk when converting DataFrame to numpy/ndarray
  crates/polars-core/src/chunked_array/ndarray.rs
Labels: python, rust, performance

#16290 fix: Fix list.sum dtype for boolean
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#16292 refactor(rust): conditionally print the CSEs
  crates/polars-plan/src/logical_plan/alp/format.rs
Labels: rust, internal

#15957 docs(python): Add example for separator parameter in pivot
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#16293 docs(python): document that month_start/month_end preserve the current time
  py-polars/polars/expr/datetime.py
Labels: documentation, python

#16299 docs(python): Add missing word in `join` docstring
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#16303 refactor(python): Use `cls` (not `self`) in classmethods
  py-polars/polars/datatypes/classes.py
  py-polars/polars/series/series.py
  py-polars/polars/testing/__init__.py
Labels: python, rust, internal

#16302 test(python): Raise import timing test threshold
  py-polars/tests/unit/test_polars_import.py
Labels: python, internal

#16281 fix(rust,python): Harden `Series.reshape` against invalid parameters
  crates/polars-core/src/series/ops/to_list.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#16305 feat: Add `struct.with_fields`
  crates/polars-core/src/datatypes/field.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/struct_.rs
  py-polars/docs/source/reference/expressions/struct.rst
  py-polars/polars/expr/struct.py
  py-polars/src/expr/struct.rs
Labels: python, rust, enhancement

#16304 feat(python): Start updating `BytecodeParser` for Python 3.13
  py-polars/polars/_utils/udfs.py
Labels: python, enhancement

#16307 perf: Avoid importing `ctypes.util` in CPU check script if possible
  py-polars/polars/_cpu_check.py
Labels: python, rust, performance

#16308 perf(python): Further optimise initial `polars` import
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/spreadsheet/_utils.py
  py-polars/polars/lazyframe/frame.py
Labels: python, performance

#15028 feat(python): Add `require_all` parameter to the `by_name` column selector
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement, A-selectors

#16301 perf(python): Improve `Series.to_numpy` performance for chunked Series that would otherwise be zero-copy
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/src/series/export.rs
  py-polars/src/to_numpy.rs
  py-polars/tests/benchmark/interop/__init__.py
  py-polars/tests/benchmark/interop/test_numpy.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, performance

#16278 perf: Faster bitpacking for Parquet writer
  .github/workflows/test-coverage.yml
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/parquet/encoding/bitpacked/encode.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/mod.rs
  crates/polars-parquet/src/parquet/encoding/bitpacked/pack.rs
Labels: python, rust, enhancement, performance

#16309 perf: do not use pyo3-built
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/meta/build.py
  py-polars/src/lib.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/meta/test_build.py
Labels: python, rust, performance

#16310 feat(python): Add new `alpha`, `alphanumeric` and `digit` selectors
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement, A-selectors

#16316 chore: Add `polars-expr` README
  crates/polars-expr/README.md
Labels: python, rust, internal

#16257 fix(python): Improve `map_elements` typing
  py-polars/polars/expr/expr.py
Labels: python, fix

#16318 fix: Don't exclude explicitly named columns in group-by context' expr expansion
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-plan/src/logical_plan/expr_expansion.rs
  py-polars/tests/unit/test_expansion.py
Labels: python, rust, fix

#16320 feat: Add struct.field expansion (regex, wildcard, columns)
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/struct_.rs
  crates/polars-plan/src/logical_plan/expr_expansion.rs
  py-polars/polars/expr/struct.py
  py-polars/src/expr/struct.rs
  py-polars/tests/unit/test_expansion.py
Labels: python, rust, enhancement

#16312 refactor(python): `InterchangeDataFrame.version` should be a `ClassVar` (not a `property`)
  py-polars/polars/interchange/protocol.py
Labels: python, internal
