Repository pola-rs/polars, pull requests merged in 2024-03, with the labels that each got.

#14802 fix(rust): fix feature flags
  crates/polars-pipe/src/operators/chunks.rs
  crates/polars-plan/src/logical_plan/functions/count.rs
Labels: rust, fix

#14793 docs: Seperate `asof` from join strategy, change parameter from `strategy` to `how` in user guide
  docs/user-guide/transformations/joins.md
Labels: documentation, python, rust

#14806 chore: Fix Makefile build commands
  Makefile
Labels: python, rust, internal

#14809 feat: Disable timeouts
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, enhancement

#14812 refactor(rust): Extract key value construction
  crates/polars-arrow/src/io/ipc/write/schema.rs
Labels: rust, internal

#14817 chore(python): add missing deprecation directive in groupby.count
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/lazyframe/group_by.py
Labels: python, rust, internal

#14186 feat(rust): Implement strict/nonstrict conversion for primitive AnyValues
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
Labels: rust, enhancement

#14818 feat: Ensure binview types are rle-encoded in parquet write
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/indexable.rs
  crates/polars-arrow/src/compute/cast/binview_to.rs
  crates/polars-arrow/src/compute/cast/mod.rs
  crates/polars-io/src/parquet/write.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#14819 refactor(rust): introduce partitioned table
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/mod.rs
  crates/polars-utils/src/hashing.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/partitioned.rs
Labels: rust, internal

#14820 docs(python): update to use `ambiguous` instead of `use_earliest`
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
Labels: documentation, python

#14825 docs(rust): Fix some word-repetition in code comments
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-parquet/src/parquet/deserialize/filtered_rle.rs
  crates/polars/tests/it/io/csv.rs
Labels: documentation, rust

#14822 feat(python): support use of KùzuDB via `pl.read_database`
  py-polars/polars/io/database.py
  py-polars/polars/type_aliases.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/files/graph-data/follows.csv
  py-polars/tests/unit/io/files/graph-data/user.csv
  py-polars/tests/unit/io/test_database_read.py
  py-polars/tests/unit/utils/test_deprecation.py
Labels: python, enhancement

#14849 feat: Set sorted flag for `cum_count` on columns
  crates/polars-ops/src/series/ops/cum_agg.rs
  py-polars/tests/unit/functions/test_cum_count.py
Labels: python, rust, enhancement

#14828 feat: Streaming outer joins
  crates/polars-arrow/src/array/primitive/mutable.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-lazy/src/physical_plan/streaming/checks.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  crates/polars-pipe/src/executors/sinks/joins/mod.rs
  crates/polars-pipe/src/executors/sinks/joins/row_values.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-pipe/src/pipeline/dispatcher/drive_operator.rs
  crates/polars-pipe/src/pipeline/dispatcher/mod.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-utils/src/index.rs
  crates/polars-utils/src/partitioned.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, enhancement, performance, highlight, P-goal

#14827 feat: try-improve concurrency tuner
  crates/polars-io/src/pl_async.rs
Labels: python, rust, enhancement

#14852 chore: run and fix pext64_polyfill test
  .github/workflows/codecov.yml
  .github/workflows/test-rust.yml
  crates/Makefile
  crates/polars-compute/src/filter/boolean.rs
Labels: python, rust, internal

#14853 chore(rust): Make polars-io compile on its own
  crates/polars-arrow/Cargo.toml
  crates/polars-io/Cargo.toml
Labels: P-low

#14854 refactor(rust): centrally define IdxSize
  crates/polars-arrow/src/compute/cast/mod.rs
  crates/polars-arrow/src/compute/take/bitmap.rs
  crates/polars-arrow/src/compute/take/boolean.rs
  crates/polars-arrow/src/legacy/index.rs
  crates/polars-arrow/src/legacy/kernels/fixed_size_list.rs
  crates/polars-arrow/src/legacy/kernels/list.rs
  crates/polars-arrow/src/legacy/kernels/set.rs
  crates/polars-arrow/src/legacy/kernels/sort_partition.rs
  crates/polars-arrow/src/legacy/kernels/sorted_join/mod.rs
  crates/polars-arrow/src/legacy/kernels/take_agg/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/datatypes/aliases.rs
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/frame/group_by/perfect.rs
  crates/polars-core/src/frame/top_k.rs
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-io/src/options.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/series/ops/search_sorted.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/mod.rs
  crates/polars-utils/src/index.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal

#14856 perf: Reduce size of optional join-indexes
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/legacy/kernels/sorted_join/left.rs
  crates/polars-arrow/src/legacy/kernels/sorted_join/mod.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-utils/src/index.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, performance

#14837 refactor(rust): Simplify computation of `with_columns` attribute in physical csv scanner of default engine.
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
Labels: rust, internal, P-low

#14864 fix: not all cpu feature flag tests were mocked
  py-polars/tests/unit/test_cpu_check.py
Labels: python, rust, fix

#14867 test: sort by 'idx' after outer join
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, internal

#14865 perf: rework scalar filter kernels
  crates/polars-arrow/src/bitmap/iterator.rs
  crates/polars-compute/src/filter/boolean.rs
  crates/polars-compute/src/filter/mod.rs
  crates/polars-compute/src/filter/primitive.rs
  crates/polars-compute/src/filter/scalar.rs
Labels: python, rust, performance

#14869 feat(python): Add `fastexcel` to `show_versions`
  py-polars/polars/meta/versions.py
Labels: python, enhancement

#14857 feat(python): Revert addition of `__slots__` to Polars classes
  py-polars/polars/api.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
Labels: python, enhancement

#14873 fix: Assert chunks are equal after physical cast to prevent OOB
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars/tests/it/chunks/mod.rs
  crates/polars/tests/it/chunks/parquet.rs
  crates/polars/tests/it/main.rs
Labels: python, rust, fix

#14879 depr(python): Deprecate `overwrite_schema` parameter for `DataFrame.write_delta`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, deprecation

#14878 perf: Optimize chunked-id gather for binaryviews
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, performance

#14884 perf: improve join-asof materialization
  crates/polars-core/Cargo.toml
  crates/polars-core/src/utils/flatten.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-plan/Cargo.toml
  crates/polars/Cargo.toml
Labels: python, rust, performance

#14679 chore: reactivate argminmax simd
  Cargo.lock
  crates/polars-ops/Cargo.toml
Labels: python, rust, internal

#14882 docs: Update contributing link
  README.md
  docs/_build/snippets/under_construction.md
  py-polars/debug/launch.py
Labels: documentation, python, rust

#14890 fix: Fix `DataFrame.min`/`max` for decimals
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#14896 ci(python): Pin PyPI publish action to commit
  .github/workflows/release-python.yml
Labels: python, internal

#14901 fix(rust)!: Fully qualify `polars_bail!` in `polars_ensure!`
  crates/polars-arrow/src/compute/utils.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/cloud/glob.rs
  crates/polars-ops/src/series/ops/index.rs
  crates/polars-ops/src/series/ops/replace.rs
  crates/polars-utils/src/index.rs
Labels: rust, breaking, fix

#14682 feat(python): add "execute_options" support for `read_database_uri`
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#14899 test(rust): Make assumption about wildcards having been resolved explicit
  crates/polars-io/src/parquet/async_impl.rs
Labels: rust, internal

#14894 test(rust): Make assumption about column name to index conversion having occurred explicit
  crates/polars-io/src/ipc/ipc_file.rs
Labels: rust, internal

#14907 chore: optional deps should include `fastexcel`
  py-polars/polars/meta/versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
Labels: python, chore, internal

#14892 perf: add basic AVX-512 filters
  crates/polars-compute/src/filter/avx512.rs
  crates/polars-compute/src/filter/mod.rs
  crates/polars-compute/src/filter/primitive.rs
  crates/polars-compute/src/filter/scalar.rs
  crates/polars-compute/src/lib.rs
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, performance

#14915 refactor: Simplify streaming placeholder replacement.
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/tree.rs
  crates/polars-pipe/src/executors/operators/placeholder.rs
  crates/polars-pipe/src/executors/operators/reproject.rs
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/reproject.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-pipe/src/lib.rs
  crates/polars-pipe/src/operators/sink.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-pipe/src/pipeline/dispatcher/drive_operator.rs
  crates/polars-pipe/src/pipeline/dispatcher/mod.rs
  crates/polars-pipe/src/pipeline/mod.rs
  crates/polars-utils/src/arena.rs
Labels: python, rust, internal

#14859 fix(rust,python): Fix possibly incorrect order of columns when using ipc stream `with_columns`
  crates/polars-core/src/testing.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars/tests/it/io/ipc_stream.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, fix

#14916 fix(python): `read_database` now properly handles empty result sets from `arrow-odbc`
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, fix

#14917 fix: Fix sliced dictionary state in parquet
  crates/polars-arrow/src/bitmap/utils/mod.rs
  crates/polars-arrow/src/legacy/is_valid.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#14920 docs(python): add note about `include_index` in `from_pandas` regarding "default indices"
  py-polars/polars/convert.py
Labels: documentation, python

#14846 fix(python): Add `drop_first` parameter to `Series.to_dummies`
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, fix

#14905 chore: Update Cargo.lock and remove cmake limit workaround
  .github/workflows/codecov.yml
  .github/workflows/release-python.yml
  Cargo.lock
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, internal

#14924 fix: boolean filter gave overly large buffers to Bitmap::from_u8_vec
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-compute/src/filter/boolean.rs
Labels: python, rust, fix

#14922 fix(python): Fix frame init from single `RecordBatch` objects when `pyarrow <= 12`
  py-polars/polars/_utils/construction.py
Labels: python, fix

#14928 chore(rust): fix chrono deprecation warnings
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-core/src/chunked_array/temporal/conversion.rs
  crates/polars-core/src/chunked_array/temporal/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-plan/src/logical_plan/lit.rs
  crates/polars-time/src/chunkedarray/mod.rs
  crates/polars-time/src/date_range.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-time/src/windows/test.rs
Labels: rust, internal

#14931 fix: parquet rle boolean decoder
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/parquet/deserialize/hybrid_rle.rs
Labels: python, rust, fix

#14918 fix(python): Ensure consistent `read_database` behaviour with empty ODBC "iter_batches"
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, fix

#14934 fix: Don't rechunk categoricals when moving to physical
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/streaming/test_streaming_categoricals.py
Labels: python, rust, fix

#11750 fix(rust, python): std when ddof>=n_values returns None even in rolling context
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mean.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/min_max.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/sum.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/variance.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/parametric/test_groupby_rolling.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, fix

#14932 fix: Don't access out-of-bounds for null indices in bitmap gather
  crates/polars-arrow/src/compute/take/bitmap.rs
  crates/polars-arrow/src/compute/take/boolean.rs
  crates/polars-arrow/src/compute/take/structure.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#14942 fix: Do not raise when constructing from a list of Series with Nones
  py-polars/polars/_utils/construction.py
  py-polars/src/series/construction.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#14943 feat: Support writing `Array` type in parquet
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/nested/def.rs
  crates/polars-parquet/src/arrow/write/nested/mod.rs
  crates/polars-parquet/src/arrow/write/nested/rep.rs
  crates/polars-parquet/src/arrow/write/pages.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#14945 perf: hoist errors out of iterators in parquet
  crates/polars-parquet/src/arrow/read/deserialize/binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/basic.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/nested.rs
  crates/polars-parquet/src/parquet/deserialize/hybrid_rle.rs
  crates/polars-parquet/src/parquet/deserialize/utils.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/decoder.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-utils/src/iter/fallible.rs
  crates/polars-utils/src/iter/mod.rs
  crates/polars/tests/it/io/parquet/read/binary.rs
  crates/polars/tests/it/io/parquet/read/fixed_binary.rs
  crates/polars/tests/it/io/parquet/read/primitive.rs
  crates/polars/tests/it/io/parquet/read/primitive_nested.rs
  crates/polars/tests/it/io/parquet/read/struct_.rs
  crates/polars/tests/it/io/parquet/read/utils.rs
Labels: python, rust, performance

#14959 fix: ooc-sort issues
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-pipe/src/executors/sinks/io.rs
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
Labels: python, rust, fix

#14958 fix: raise proper error instead of panicking when result of truncation is non-existent datetime
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#14963 fix: `count_rows` multi-threaded under-counting in parser.rs
  crates/polars-io/src/csv/parser.rs
Labels: python, rust, fix

#14964 perf: Ensure parallel encoding/compression in `sink_parquet`
  crates/polars-io/src/parquet/write.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
Labels: python, rust, performance

#14910 fix(rust, python): allow nonstrict cast of categorical/enum to enum
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#14966 fix: Fix invalid paritionable query
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#14977 chore: fix features
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-pipe/src/executors/sinks/memory.rs
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
Labels: python, rust, internal

#14979 feat: expose timings in verbose state of OOC sort
  crates/polars-pipe/src/executors/sinks/mod.rs
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
Labels: python, rust, enhancement

#14971 fix: replace_time_zone with single-null-element "ambiguous" was panicking
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, fix

#14997 docs(rust): Fix typo in comment
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ndjson.rs
Labels: documentation, rust

#15002 fix(python): Use primitive constructors to create a Series of lists when dtype is provided
  py-polars/polars/_utils/construction.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/series/test_describe.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#15004 fix: CSV do utf8-validation after escaping fields
  crates/polars-io/src/csv/buffer.rs
  crates/polars-io/src/csv/parser.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#14994 perf: OOC sort improvements
  crates/polars-arrow/src/compute/aggregate/memory.rs
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  py-polars/polars/dataframe/frame.py
Labels: python, rust, performance

#15006 fix: Don't panic in `string_addition_to_linear_concat`
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#15010 test: Ensure we hit the spilled source path in ooc sort test
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, rust, internal

#15019 docs(python): Fix inadvertent swap of `new` and `old` parameters in `replace` description
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#14993 docs(python): improve join_asof example
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#15024 feat: Add thread names to rayon thread pool
  crates/polars-core/src/lib.rs
Labels: python, rust, enhancement

#15000 feat: Support decimal groupby
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-utils/src/hashing.rs
  crates/polars/tests/it/lazy/group_by.rs
Labels: python, rust, enhancement

#15031 feat: Support Array statistics in parquet
  crates/polars-parquet/src/arrow/read/statistics/list.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#14984 feat(rust): Implement IpcReaderAsync
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/ipc/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/functions/count.rs
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/io/test_lazy_ipc.py
Labels: rust, enhancement

#15025 feat(rust!): Return error when no supertype can be determined in AnyValue constructor when `strict=false`
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
Labels: rust, enhancement, breaking rust

#15039 refactor: Simplify streaming execution
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-pipe/src/executors/sinks/group_by/ooc.rs
  crates/polars-pipe/src/pipeline/dispatcher/mod.rs
  crates/polars-pipe/src/pipeline/mod.rs
Labels: python, rust, internal

#15034 feat(python): Add `strict` parameter to `DataFrame` constructor to allow non-strict construction
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/constructors/test_dataframe.py
Labels: python, enhancement

#15050 perf: Use sorted flag for `(first|last)_non_null`
  crates/polars-core/src/chunked_array/mod.rs
Labels: python, rust, performance

#15015 feat: Allow cast of decimal to boolean
  crates/polars-arrow/src/compute/cast/mod.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, enhancement

#15053 fix: Enum equality based on categories
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#15042 feat: Raise informative error message when join would introduce duplicate column name
  crates/polars-ops/src/frame/join/general.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#15055 fix: Block predicate pushdown on equality that are use in join
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#15054 fix: agg_list on decimal lost scale
  crates/polars-core/src/series/implementations/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#15051 fix: Don't count nulls in streaming `count` agg
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/count.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/interface.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, fix

#15057 test(python): Add parameterized-scan-tests
  py-polars/tests/unit/io/test_scan.py
Labels: python, internal

#15061 fix: Respect `nulls_last` in streaming sort
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/source.rs
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, rust, fix

#15021 fix: Prevent "index out of range for slice" error in parquet reader
  crates/polars-io/src/parquet/read_impl.rs
Labels: python, rust, fix

#14961 feat: let "ambiguous" take "null" value
  crates/polars-arrow/src/legacy/kernels/time.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/utils.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/string.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#15066 fix: return NaN for all-NaN min/max
  crates/polars-compute/src/min_max/simd.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#15077 refactor(rust): Minor refactor of Rust any value constructors
  crates/polars-core/src/series/any_value.rs
Labels: rust, internal

#15071 docs(python): Add missing docstring examples in the Struct namespace
  py-polars/polars/series/struct.py
Labels: documentation, python

#15083 feat: Async parquet: Decode parquet on a blocking thread pool
  crates/polars-io/src/parquet/read_impl.rs
Labels: python, rust, enhancement

#15076 feat(python): Expose `infer_schema_length` parameter on `read_database`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/database.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#15060 fix: Return largest non-NaN value for `max()` on sorted float arrays if it exists instead of NaN
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/float_sorted_arg_max.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/search_sorted.rs
  crates/polars-ops/src/series/ops/arg_min_max.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-ops/src/series/ops/search_sorted.rs
  py-polars/tests/unit/datatypes/test_float.py
Labels: python, rust, fix

#15069 refactor(rust): Use ObjectStore instead of AsyncRead in parquet get metadata
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-io/src/parquet/async_impl.rs
  crates/polars-io/src/parquet/read.rs
  crates/polars-parquet/src/parquet/mod.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/mod.rs
Labels: rust, internal

#15082 fix: Incorrectly preserved sorted flag when concatenating sorted series containing nulls
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#15065 fix(python,rust): Fix file scan bugs for ipc, csv and parquet that occur with combinations of glob paths, row indices and predicates
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#14804 feat: Make `register_plugin` a standalone function and include shared lib discovery
  docs/user-guide/expressions/plugins.md
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/plugins.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/plugins.py
  py-polars/polars/utils/udfs.py
  py-polars/src/expr/general.rs
  py-polars/src/functions/misc.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_plugins.py
Labels: python, rust, enhancement

#14995 fix: Raise error when casting Array to different width
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#15084 feat: make ooc sort configurable
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
Labels: python, rust, enhancement

#15093 fix: Propagate error instead of panicking when calling `product` on an invalid type
  crates/polars-core/src/series/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#15100 fix(rust): Ensure `eprintln!` is only called within debug/verbose context
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
Labels: rust, fix

#15104 perf: Coerce sorted flag of unit arrays during concat
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, performance

#15105 feat: Support single nested row encodings
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-row/src/encode.rs
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
Labels: python, rust, enhancement

#15114 fix: Output `u32` when `sum_horizontal` provided with single boolean column
  crates/polars-core/src/frame/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#15109 fix(rust): use wrapping_add in csv line snooping
  crates/polars-io/src/csv/parser.rs
Labels: rust, fix

#15120 refactor(rust): always assert on ChunkedArray::get
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-ops/src/chunked_array/strings/concat.rs
Labels: rust, internal

#15123 fix: Fix chunked_id gather for binview buffers
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, fix

#15062 feat: add `non_existent` arg to `replace_time_zone`
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-arrow/src/legacy/kernels/time.rs
  crates/polars-arrow/src/legacy/prelude.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/mod.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/utils.rs
  crates/polars-time/src/windows/duration.rs
  docs/src/rust/user-guide/transformations/time-series/timezones.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion/mod.rs
  py-polars/src/expr/datetime.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/namespaces/test_strptime.py
Labels: python, rust, enhancement

#15088 feat: raise informative error for rolling_* aggs with `by` of invalid dtype
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#15124 fix: Binview chunked gather; don't modify inlined view
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, fix

#15117 fix: Support BinaryView in row decoder to prevent a panic in streaming group by
  crates/polars-row/src/decode.rs
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, fix

#15108 feat: raise if both `closed` and `by` are passed to `rolling_*` aggregations
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#15125 chore: re-enable gc
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, skip changelog, internal

#15089 perf: add new when-then-otherwise kernels
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-arrow/src/array/growable/fixed_size_list.rs
  crates/polars-arrow/src/array/growable/list.rs
  crates/polars-arrow/src/array/growable/mod.rs
  crates/polars-arrow/src/array/growable/primitive.rs
  crates/polars-arrow/src/array/growable/utils.rs
  crates/polars-arrow/src/array/static_array.rs
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-arrow/src/bitmap/bitmap_ops.rs
  crates/polars-arrow/src/bitmap/utils/mod.rs
  crates/polars-arrow/src/compute/if_then_else.rs
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-arrow/src/compute/utils.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/ffi/schema.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-compute/src/if_then_else/array.rs
  crates/polars-compute/src/if_then_else/boolean.rs
  crates/polars-compute/src/if_then_else/list.rs
  crates/polars-compute/src/if_then_else/mod.rs
  crates/polars-compute/src/if_then_else/scalar.rs
  crates/polars-compute/src/if_then_else/view.rs
  crates/polars-compute/src/lib.rs
  crates/polars-core/src/chunked_array/collect.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/datatypes/static_array.rs
  crates/polars-core/src/datatypes/static_array_collect.rs
  crates/polars-core/src/series/mod.rs
  crates/polars/tests/it/arrow/compute/if_then_else.rs
  crates/polars/tests/it/arrow/compute/mod.rs
  py-polars/tests/unit/functions/test_when_then.py
Labels: python, rust, performance

#15127 test: Extend and speed up scan tests
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, internal

#15126 feat(python): improved dtype inference/refinement for `read_database` results
  py-polars/polars/datatypes/convert.py
  py-polars/polars/io/database.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#15131 perf: add SIMD support for if-then-else kernels
  crates/polars-compute/src/comparisons/mod.rs
  crates/polars-compute/src/comparisons/scalar.rs
  crates/polars-compute/src/filter/primitive.rs
  crates/polars-compute/src/if_then_else/mod.rs
  crates/polars-compute/src/if_then_else/scalar.rs
  crates/polars-compute/src/if_then_else/simd.rs
  crates/polars-compute/src/if_then_else/view.rs
  crates/polars-compute/src/lib.rs
  crates/polars-utils/src/cpuid.rs
Labels: python, rust, performance

#15144 fix(python): Fix constructing a Series from a list of Series with given dtype
  py-polars/polars/_utils/construction/series.py
  py-polars/tests/unit/constructors/test_series.py
Labels: python, fix

#15146 feat(rust): Implement strict AnyValue construction for temporal types
  crates/polars-core/src/series/any_value.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
Labels: rust, enhancement

#15156 depr(python): Rename `from_repr` parameter from `tbl` to `data`
  py-polars/polars/convert.py
Labels: python, deprecation

#15158 feat(python): Add `strict` parameter to `from_dict/from_records`
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
Labels: python, enhancement

#15160 chore(python): Remove unused private constructors
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: python, internal

#15164 chore: remove legacy arrow compute
  crates/polars-arrow/src/array/static_array.rs
  crates/polars-arrow/src/compute/cast/binview_to.rs
  crates/polars-arrow/src/compute/cast/decimal_to.rs
  crates/polars-arrow/src/compute/decimal.rs
  crates/polars-arrow/src/compute/mod.rs
  crates/polars-arrow/src/legacy/compute/mod.rs
  crates/polars-arrow/src/legacy/compute/tile.rs
  crates/polars-arrow/src/legacy/mod.rs
  crates/polars-compute/src/if_then_else/simd.rs
  crates/polars-core/src/chunked_array/ops/decimal.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/tile.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
Labels: python, rust, internal

#15169 chore: remove parts of legacy bit_util
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/compute/take/primitive.rs
  crates/polars-arrow/src/legacy/bit_util.rs
  crates/polars-arrow/src/legacy/trusted_len/boolean.rs
  crates/polars-arrow/src/legacy/utils.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/frame/group_by/perfect.rs
Labels: python, rust, internal

#15166 fix(python): Properly propagate strictness in some constructor cases
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/operations/rolling/test_map.py
  py-polars/tests/unit/operations/test_aggregations.py
  py-polars/tests/unit/operations/test_clip.py
  py-polars/tests/unit/operations/test_join_asof.py
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/sql/test_trigonometric.py
  py-polars/tests/unit/test_config.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_schema.py
Labels: python, fix

#15173 chore(rust): Set dual license for `polars-arrow` and `polars-parquet`
  crates/polars-arrow/Cargo.toml
  crates/polars-parquet/Cargo.toml
Labels: rust, internal

#14987 feat(python): Infer `time_unit` in `pl.duration` when nanoseconds is specified
  py-polars/polars/functions/as_datatype.py
  py-polars/tests/unit/functions/as_datatype/test_duration.py
Labels: python, enhancement

#15178 fix(python): Consistently raise `TypeError` on constructor failure
  crates/polars-error/src/lib.rs
  py-polars/src/series/construction.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/constructors/test_dataframe.py
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, fix

#15182 fix(rust): divide by zero in download speed computation
  crates/polars-io/src/pl_async.rs
Labels: rust, fix

#15197 docs(python): Add a note about the behaviour of lower/upper bounds for `is_between`, and add an example
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#15190 refactor(python): Clean up some of the AnyValue conversion logic
  crates/polars-core/src/series/any_value.rs
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/datatypes/constructor.py
  py-polars/src/conversion/any_value.rs
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/datatypes.rs
  py-polars/src/prelude.rs
  py-polars/src/series/construction.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, internal

#15162 feat(python): Add support for `async` SQLAlchemy connections to `read_database`
  py-polars/polars/datatypes/convert.py
  py-polars/polars/io/database.py
  py-polars/polars/lazyframe/frame.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#13683 fix(python): Ensure the `cs.temporal()` selector uses wildcard time zone matching for `Datetime`
  py-polars/polars/datatypes/classes.py
  py-polars/polars/datatypes/constants.py
  py-polars/tests/unit/series/buffers/test_from_buffers.py
  py-polars/tests/unit/test_selectors.py
Labels: python, fix

#14840 depr(python,rust!): Rename parameter `by` to `group_by` in `DataFrame.upsample/group_by_dynamic/rolling`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-time/src/group_by/dynamic.rs
  docs/src/python/user-guide/transformations/time-series/rolling.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, deprecation, breaking rust

#14947 feat(rust!): Rename `ChunkedArray.try_apply` to `try_apply_values`
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-time/src/month_end.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
Labels: rust, enhancement, breaking rust

#15201 refactor(python): Split `read_database` functionality into cleaner module structure
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/io/database.py
  py-polars/polars/io/database/__init__.py
  py-polars/polars/io/database/_arrow_registry.py
  py-polars/polars/io/database/_cursor_proxies.py
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/_inference.py
  py-polars/polars/io/database/_uri.py
  py-polars/polars/io/database/functions.py
  py-polars/polars/io/spreadsheet/__init__.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, internal

#14750 docs: Correct the definition of an expression in the user guide
  docs/user-guide/concepts/expressions.md
Labels: documentation, python, rust

#14765 feat(rust!): Rename `group_by_rolling` to `rolling` and improve related error messages
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_rolling.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/expressions/rolling.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars/tests/it/lazy/queries.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: rust, enhancement, breaking rust

#15191 fix(rust): Make parse_url work on windows with object_store
  crates/polars-io/src/cloud/options.rs
  py-polars/tests/unit/io/test_lazy_ipc.py
Labels: rust, fix

#14737 docs(python): Add examples for `Series.search_sorted`
  py-polars/polars/series/series.py
Labels: documentation, python

#15040 perf: Ipc exec multiple paths
  crates/polars-core/src/config.rs
  crates/polars-io/src/lib.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, performance

#15175 fix(python, rust): Block rounding/truncating to negative durations
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, fix

#15210 refactor: Add `wrapping_abs` to arithmetic kernel
  crates/polars-compute/src/arithmetic/float.rs
  crates/polars-compute/src/arithmetic/mod.rs
  crates/polars-compute/src/arithmetic/signed.rs
  crates/polars-compute/src/arithmetic/unsigned.rs
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
  crates/polars-ops/src/series/ops/abs.rs
  crates/polars-ops/src/series/ops/negate.rs
  py-polars/tests/unit/operations/arithmetic/test_neg.py
  py-polars/tests/unit/operations/test_abs.py
Labels: python, rust, internal

#15207 ci: Run non-benchmark tests in benchmark workflow
  .github/workflows/benchmark.yml
  .github/workflows/codecov.yml
  .github/workflows/test-python.yml
  docs/development/contributing/test.md
  py-polars/Makefile
  py-polars/pyproject.toml
  py-polars/tests/benchmark/test_release.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/test_cse.py
Labels: python, rust, internal

#15186 refactor(rust): Move ConsecutiveCountState into support module
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/support.rs
Labels: rust, internal
