Repository pola-rs/polars, pull requests merged in 2024-10, with the labels that each got.

#19037 refactor(rust): Add WithRowIndexNode to new-streaming engine
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/with_row_index.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#19045 fix: Error node should be on top
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Labels: python, rust, fix

#19046 fix: Ensure `must_flush` flag is not reset
  crates/polars-pipe/src/pipeline/dispatcher/drive_operator.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, fix

#19048 fix: Divide-by-zero in OOC sort
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
Labels: python, rust, fix

#19024 feat(python): Allow `insert_column` to take expressions
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, enhancement

#19057 chore(python): Remove built info
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/build.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/meta/test_build.py
Labels: python, internal

#19028 docs: Rewrite 'Getting started' page
  docs/README.md
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/index.md
  docs/source/src/python/user-guide/getting-started.py
  docs/source/src/python/user-guide/getting-started/expressions.py
  docs/source/src/python/user-guide/getting-started/joins.py
  docs/source/src/python/user-guide/getting-started/reading-writing.py
  docs/source/src/rust/Cargo.toml
  docs/source/src/rust/user-guide/getting-started.rs
  docs/source/src/rust/user-guide/getting-started/expressions.rs
  docs/source/src/rust/user-guide/getting-started/joins.rs
  docs/source/src/rust/user-guide/getting-started/reading-writing.rs
  docs/source/user-guide/getting-started.md
Labels: documentation, python, rust

#18994 feat: Bitwise operations / aggregations
  crates/polars-compute/src/bitwise/mod.rs
  crates/polars-compute/src/lib.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/bitwise_reduce.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/boolean.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/bitwise.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/bitwise.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/function_expr/bitwise.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/format.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/iterator.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/expr/bitwise.rs
  crates/polars-python/src/expr/mod.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars/Cargo.toml
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, enhancement

#19060 fix(rust): Fix ser/de PlSmallStr error
  crates/polars-utils/src/pl_str.rs
Labels: rust, fix

#19059 docs: Fix example of lazy schema verification
  docs/source/src/python/user-guide/lazy/schema.py
  docs/source/user-guide/lazy/schemas.md
Labels: documentation, python, rust

#19039 Python Polars 1.9.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#19061 feat: Add cum(_min/_max) for pl.Boolean
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-ops/src/series/ops/cum_agg.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#19035 fix(python): Don't ignore multiple columns in LazyFrame.unnest
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
Labels: python, fix

#19068 fix: Remove failing datetime subclass test
  py-polars/tests/unit/functions/test_lit.py
Labels: python, rust, fix

#19067 fix: Bitwise aggregations should ignore null values
  crates/polars-arrow/src/array/mod.rs
  crates/polars-compute/src/bitwise/mod.rs
  crates/polars-core/src/chunked_array/ops/bitwise_reduce.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/series/aggregation.rs
  py-polars/docs/source/reference/expressions/aggregation.rst
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, fix

#19076 refactor(rust): Pin hashbrown to 0.14 until migrated
  Cargo.toml
Labels: rust, internal

#19069 feat: Delay deserialization of python function until physical plan
  crates/polars-error/src/lib.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-plan/src/dsl/udf.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
Labels: python, rust, enhancement

#19082 fix: Check validity of columns of keys/aggs in dsl->ir
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#19083 fix: Only rewrite numeric ineq joins
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, fix

#19071 feat: Allow for rolling_*_by to use index count as window
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#19084 fix: Ensure parquet `schema` arg is propagated to IR
  crates/polars-io/src/parquet/read/options.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/builder_dsl.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-stream/src/nodes/parquet_source/mod.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#19091 refactor(rust): Migrate to hashbrown 0.15
  Cargo.lock
  Cargo.toml
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/builder/list/categorical.rs
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-io/src/file_cache/cache.rs
Labels: rust, internal

#19093 feat: Add Series::{first, last, approx_n_unique}
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/hyperloglogplus.rs
  crates/polars-compute/src/lib.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/ops/approx_n_unique.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-ops/src/series/ops/approx_algo/mod.rs
  crates/polars-ops/src/series/ops/approx_unique.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/series/aggregation.rs
  crates/polars/Cargo.toml
  py-polars/polars/series/series.py
Labels: python, rust, enhancement

#19100 fix: Throw proper error for empty char params in scan_csv
  crates/polars-python/src/lazyframe/general.rs
Labels: python, rust, fix

#19094 fix: Allow converting `DatetimeOwned` to `ChunkedArray`
  crates/polars-core/src/series/any_value.rs
Labels: python, rust, fix

#19102 refactor(rust): Eliminate some uses of deprecated raw_entry
  crates/polars-arrow/src/array/dictionary/value_map.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-core/src/frame/group_by/proxy.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-utils/src/total_ord.rs
Labels: rust, internal

#19088 perf: Use two-pass algorithm for csv to ensure correctness and SIMDize more `~17%`
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/reader.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-io/src/csv/read/splitfields.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-python/src/batched_csv.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-utils/src/clmul.rs
  crates/polars/tests/it/io/csv.rs
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/csv/functions.py
Labels: python, rust, performance, fix

#19113 fix: Raise on invalid shape of shape 1, empty combination
  crates/polars-mem-engine/src/executors/projection_utils.rs
  py-polars/tests/unit/constructors/test_dataframe.py
  py-polars/tests/unit/dataframe/test_shape.py
  py-polars/tests/unit/lazyframe/test_with_context.py
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, fix

#19070 chore: Clean remove_prefix since python3.9 is now the minimum Python
  py-polars/polars/convert/normalize.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/csv/batched_reader.py
  py-polars/polars/io/delta.py
  py-polars/polars/lazyframe/in_process.py
  py-polars/polars/series/series.py
  py-polars/polars/series/utils.py
Labels: python, rust, internal

#19097 fix: Recursively align when converting to ArrowArray
  crates/polars-arrow/src/array/ffi.rs
  crates/polars-arrow/src/ffi/array.rs
  crates/polars-arrow/src/ffi/mod.rs
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix

#19118 fix: Ensure aligned chunks in OOC sort
  crates/polars-core/src/frame/chunks.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-pipe/src/executors/sinks/io.rs
  crates/polars-python/src/dataframe/export.rs
Labels: python, rust, fix

#19117 feat: Improve scalar strict message
  crates/polars-mem-engine/src/executors/projection_utils.rs
Labels: python, rust, enhancement

#19104 refactor(python): Expose IEJoin IR node to python
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
Labels: python, internal

#19124 perf: Batch utf8-validation in csv `18%` / `25%` on 1.9.0
  crates/polars-io/src/csv/read/buffer.rs
  crates/polars-io/src/csv/read/read_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, performance

#19087 docs: Revise and improve 'Concepts' section
  crates/polars-lazy/src/frame/mod.rs
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/src/python/user-guide/concepts/data-structures.py
  docs/source/src/python/user-guide/concepts/data-types-and-structures.py
  docs/source/src/python/user-guide/concepts/expressions.py
  docs/source/src/python/user-guide/concepts/lazy-vs-eager.py
  docs/source/src/rust/Cargo.toml
  docs/source/src/rust/user-guide/concepts/data-structures.rs
  docs/source/src/rust/user-guide/concepts/data-types-and-structures.rs
  docs/source/src/rust/user-guide/concepts/expressions.rs
  docs/source/src/rust/user-guide/concepts/lazy-vs-eager.rs
  docs/source/user-guide/concepts/_streaming.md
  docs/source/user-guide/concepts/contexts.md
  docs/source/user-guide/concepts/data-structures.md
  docs/source/user-guide/concepts/data-types-and-structures.md
  docs/source/user-guide/concepts/data-types/overview.md
  docs/source/user-guide/concepts/expressions-and-contexts.md
  docs/source/user-guide/concepts/expressions.md
  docs/source/user-guide/concepts/index.md
  docs/source/user-guide/concepts/lazy-api.md
  docs/source/user-guide/concepts/lazy-vs-eager.md
  docs/source/user-guide/expressions/casting.md
  docs/source/user-guide/expressions/categorical-data-and-enums.md
  docs/source/user-guide/getting-started.md
  docs/source/user-guide/installation.md
  docs/source/user-guide/io/csv.md
  docs/source/user-guide/io/parquet.md
  docs/source/user-guide/sql/intro.md
  mkdocs.yml
Labels: documentation, python, rust

#19126 refactor(rust): Remove deprecated raw_entry_mut in StringCache
  crates/polars-core/src/chunked_array/logical/categorical/string_cache.rs
Labels: rust, internal

#19125 refactor(rust): Use row encoding in asof join
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/hashing/identity.rs
  crates/polars-core/src/hashing/mod.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
Labels: rust, internal

#19121 refactor(rust): Minor CSV bit twiddle nitpick
  crates/polars-io/src/csv/read/splitfields.rs
  crates/polars-utils/src/clmul.rs
Labels: rust, internal

#18988 docs(python): Annotate Config kwarg options
  py-polars/polars/config.py
  py-polars/tests/unit/test_config.py
Labels: documentation, python

#18047 feat: Quantile function in SQL
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/functions_aggregate.rs
Labels: python, rust, enhancement, A-sql

#19134 refactor(rust): Workaround for rust-analyzer bug
  crates/polars-pipe/src/executors/sinks/group_by/primitive/mod.rs
Labels: rust, internal

#19146 docs: Add `Series.first,last,approx_n_unique` to docs
  py-polars/docs/source/reference/series/computation.rst
Labels: documentation, python, rust

#19128 fix(rust,python): Allow partial name overlap in join_where resolution
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/operations/test_inequality_join.py
Labels: python, rust, fix

#19148 fix: Properly broadcast Struct when then validity
  crates/polars-core/src/chunked_array/ops/zip.rs
  py-polars/tests/unit/functions/test_when_then.py
Labels: python, rust, fix

#19155 fix: Fix incorrect `(eq|ne)_missing` on List/Array types
  crates/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/series/test_equals.py
Labels: python, rust, fix

#19152 refactor: Make `pl.repeat` part of the IR
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/repeat.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/repeat.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: python, rust, internal

#19149 feat(python): Raise an error when users try to use Polars API in a fork()-without-execve() child
  py-polars/polars/__init__.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, enhancement

#19178 fix(python): Don't fail test if e.g. jax has been used first, since jax installs a fork handler that warns
  py-polars/tests/unit/test_polars_import.py
Labels: python, fix

#19176 refactor(rust): Reduction -> GroupedReduction for the new streaming engine
  Cargo.lock
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/bitmap/utils/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/len.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/min_max.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/nan_min_max.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-utils/src/float.rs
  crates/polars/tests/it/arrow/bitmap/utils/mod.rs
Labels: rust, internal

#19175 feat: Check Python version when deserializing UDFs
  crates/polars-plan/src/dsl/python_udf.rs
  py-polars/tests/unit/lazyframe/test_serde.py
Labels: python, rust, enhancement

#19154 fix(python): Remove incorrect warning when using an `IO[bytes]` instance
  crates/polars-python/src/file.rs
Labels: python, fix

#19185 docs(rust): Fix `examples/read_csv` rust example
  examples/read_csv/Cargo.toml
  examples/read_csv/src/main.rs
Labels: documentation, rust

#19180 docs: Clarify difference between bitwise/logical ops
  crates/polars-plan/src/dsl/mod.rs
Labels: documentation, python, rust

#19077 fix: Implement to_arrow functionality properly for Arrays
  crates/polars-core/src/series/into.rs
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix

#19116 docs: Fix example of `as_struct`
  crates/polars/src/docs/lazy.rs
Labels: documentation, python, rust

#19188 ci: Revert "feat(python): Raise an error when users try to use Polars API in a fork()-without-execve() child (#19149)
  py-polars/polars/__init__.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, internal

#19177 docs: Link to main website from banner
  README.md
Labels: documentation, python, rust

#19029 fix(python): Fix use of "hidden_columns" parameter in `write_excel`
  py-polars/polars/dataframe/frame.py
Labels: python, fix, A-io-excel

#19191 fix: Fix invalid list collection in expression engine
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/from_iterator.rs
  crates/polars-core/src/chunked_array/from_iterator_par.rs
  crates/polars-core/src/chunked_array/object/extension/list.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#19192 fix: Properly handle non-nullable nested Parquet
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#19196 fix: Don't unwrap() expansion
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
Labels: python, rust, fix

#19193 feat: Expose LTS CPU in show_versions()
  .github/workflows/release-python.yml
  py-polars/polars/_cpu_check.py
  py-polars/polars/meta/versions.py
  py-polars/tests/unit/meta/test_versions.py
  py-polars/tests/unit/test_cpu_check.py
Labels: python, rust, enhancement

#19195 refactor: Make expression output type known
  crates/polars-core/src/datatypes/field.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/exotic.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars/tests/it/lazy/aggregation.rs
  crates/polars/tests/it/lazy/queries.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/operations/map/test_map_groups.py
Labels: python, rust, internal

#18253 feat(python): Add 'drop_empty_rows' parameter for `read_excel`
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/files/test_empty_rows.xlsx
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, fix

#19202 feat(python): Add 'drop_empty_rows' parameter for `read_ods`
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement

#19199 chore: Migrate to PyO3 0.22 and released verion of rust-numpy crate
  Cargo.lock
  Cargo.toml
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/conversion/any_value.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/dataframe/serde.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/expr/list.rs
  crates/polars-python/src/expr/serde.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/functions/meta.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-python/src/lazygroupby.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/map.rs
Labels: python, rust, fix, internal

#19200 docs: spelling error on getting_started.md
  docs/source/user-guide/getting-started.md
Labels: title needs formatting

#19201 fix: Fixing infer_schema for DataType::Null
  crates/polars-core/src/frame/row/mod.rs
  crates/polars/tests/it/schema.rs
Labels: python, rust, fix

#19212 feat(python): Add Expr.struct.unnest() as alias for Expr.struct.field("*")
  py-polars/docs/source/reference/expressions/struct.rst
  py-polars/polars/expr/struct.py
  py-polars/tests/unit/test_expansion.py
Labels: python, enhancement

#19213 fix: Plotting was not interacting well with Altair schema wrappers
  docs/source/user-guide/misc/visualization.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/plotting.py
  py-polars/polars/series/plotting.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/namespaces/test_plot.py
Labels: python, rust, fix

#19214 fix: Fix struct literals
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-python/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_lit.py
Labels: python, rust, fix

#19215 fix(python): Don't trigger row limit in array construction
  crates/polars-error/src/constants.rs
  py-polars/polars/_utils/construction/series.py
Labels: python, fix

#19217 chore: Make `get_list_builder` infallible
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/from_iterator.rs
  crates/polars-core/src/chunked_array/from_iterator_par.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/named_from.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-python/src/map/mod.rs
Labels: python, rust, internal

#19219 fix(rust): Implement is_nested_null for Null Array
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
Labels: rust, fix

#19218 fix: Use all chunks in `Series` from arrow struct
  crates/polars-core/src/series/from.rs
  crates/polars-ops/src/chunked_array/array/to_struct.rs
  crates/polars-ops/src/chunked_array/list/to_struct.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#19216 perf: Make date_range / datetime_range ~10x faster for constant durations
  crates/polars-time/src/date_range.rs
  py-polars/tests/unit/functions/range/test_datetime_range.py
Labels: python, rust, performance

#19223 chore: Remove unused IPC async
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/io/ipc/read/file_async.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-arrow/src/io/ipc/read/stream_async.rs
  crates/polars-arrow/src/io/ipc/write/common_async.rs
  crates/polars-arrow/src/io/ipc/write/file_async.rs
  crates/polars-arrow/src/io/ipc/write/mod.rs
  crates/polars-arrow/src/io/ipc/write/stream_async.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/ipc/mod.rs
  crates/polars-io/src/ipc/write_async.rs
Labels: python, rust, internal

#19162 feat: Improved list arithmetic support
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-compute/src/arithmetic/mod.rs
  crates/polars-compute/src/arithmetic/pl_num.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/arithmetic/list_borrowed.rs
  crates/polars-core/src/series/arithmetic/mod.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-ops/src/series/ops/floor_divide.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/type_coercion/binary.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
  py-polars/tests/unit/operations/arithmetic/test_list_arithmetic.py
Labels: python, rust, enhancement

#19225 test: Add more tests for list arithmetic
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
  py-polars/tests/unit/operations/arithmetic/test_list_arithmetic.py
Labels: python, rust, internal

#19189 docs(python): Improve DataFrame.write_database docstring
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#19237 refactor(rust): Feature gate for list arithmetic
  crates/polars-core/Cargo.toml
  crates/polars-core/src/series/arithmetic/list_borrowed.rs
  crates/polars-python/Cargo.toml
  crates/polars/Cargo.toml
Labels: rust, internal

#19239 feat: Low level flight interface
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/ffi/array.rs
  crates/polars-arrow/src/io/flight/mod.rs
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/flight.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-arrow/src/io/mod.rs
  crates/polars-arrow/src/mmap/mod.rs
  crates/polars-arrow/src/temporal_conversions.rs
Labels: python, rust, enhancement

#19246 fix: Parquet predicate pushdown for `lit(_) !=`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-io/src/parquet/read/predicates.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#19254 fix: Do not check dtypes of non-projected columns for parquet
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-stream/src/nodes/parquet_source/metadata_fetch.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#19248 fix: Don't remember Parquet statistics if filtered
  crates/polars-io/src/parquet/read/read_impl.rs
Labels: python, rust, fix

#19250 docs: Add marimo to ecosystem.md
  docs/source/user-guide/ecosystem.md
Labels: documentation, python, rust

#19244 fix: Compilation error missing use JsonLineReader
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
Labels: python, rust, fix

#19255 fix(python): Ensure that `read_database` takes advantage of Arrow return from a `duckdb_engine` connection when using a SQLAlchemy `Selectable`
  py-polars/polars/io/database/_executor.py
Labels: python, fix, A-io-database

#19256 perf: Fast decision for Parquet dictionary encoding
  crates/polars-arrow/src/types/native.rs
  crates/polars-compute/src/cardinality.rs
  crates/polars-compute/src/lib.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
Labels: python, rust, performance

#19139 feat: New quantile interpolation method & QUANTILE_DISC function in SQL
  crates/polars-arrow/src/legacy/kernels/rolling/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/quantile.rs
  crates/polars-arrow/src/legacy/kernels/rolling/quantile_filter.rs
  crates/polars-arrow/src/legacy/prelude.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/quantile.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/dispatch.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/lib.rs
  crates/polars-ops/src/series/ops/cut.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/functions/syntactic_sugar.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-python/src/series/aggregation.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/functions_aggregate.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars/tests/it/lazy/aggregation.rs
Labels: python, rust, enhancement

#19262 feat(rust): Make FlightConsumer Send and support compressed data
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/flight.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-arrow/src/io/ipc/write/mod.rs
Labels: rust, enhancement

#19229 feat: Allow DeltaTable input to scan_delta and read_delta
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, rust, enhancement

#19267 refactor(rust): Purge unused code
  Cargo.lock
  crates/polars-arrow/src/compute/aggregate/sum.rs
  crates/polars-arrow/src/compute/arity.rs
  crates/polars-arrow/src/compute/cast/binary_to.rs
  crates/polars-arrow/src/compute/cast/dictionary_to.rs
  crates/polars-arrow/src/compute/cast/mod.rs
  crates/polars-arrow/src/compute/cast/primitive_to.rs
  crates/polars-arrow/src/compute/temporal.rs
  crates/polars-arrow/src/compute/utils.rs
  crates/polars-arrow/src/legacy/kernels/atan2.rs
  crates/polars-arrow/src/legacy/kernels/float.rs
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-arrow/src/legacy/kernels/pow.rs
  crates/polars-core/src/chunked_array/float.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
  docs/source/development/contributing/code-style.md
Labels: rust, internal

#19270 fix(python): Make the SQLAlchemy connection check more robust
  py-polars/polars/io/database/_executor.py
Labels: python, fix, A-io-database

#19272 docs: Add SQL docs for new `QUANTILE_CONT` and `QUANTILE_DISC` functions
  py-polars/docs/source/reference/sql/functions/aggregate.rst
  py-polars/polars/expr/expr.py
Labels: documentation, python, rust

#19222 fix: Only apply string parsing to String dtype
  crates/polars-arrow/src/compute/cast/mod.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#19275 refactor: Move from `parquet-format-safe` to `polars-parquet-format`
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/parquet/bloom_filter/read.rs
  crates/polars-parquet/src/parquet/error.rs
  crates/polars-parquet/src/parquet/metadata/column_chunk_metadata.rs
  crates/polars-parquet/src/parquet/metadata/file_metadata.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-parquet/src/parquet/metadata/schema_descriptor.rs
  crates/polars-parquet/src/parquet/mod.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/metadata.rs
  crates/polars-parquet/src/parquet/read/page/reader.rs
  crates/polars-parquet/src/parquet/read/page/stream.rs
  crates/polars-parquet/src/parquet/schema/io_message/from_message.rs
  crates/polars-parquet/src/parquet/schema/io_thrift/from_thrift.rs
  crates/polars-parquet/src/parquet/schema/io_thrift/to_thrift.rs
  crates/polars-parquet/src/parquet/schema/types/converted_type.rs
  crates/polars-parquet/src/parquet/schema/types/physical_type.rs
  crates/polars-parquet/src/parquet/statistics/binary.rs
  crates/polars-parquet/src/parquet/statistics/boolean.rs
  crates/polars-parquet/src/parquet/statistics/fixed_len_binary.rs
  crates/polars-parquet/src/parquet/statistics/mod.rs
  crates/polars-parquet/src/parquet/statistics/primitive.rs
  crates/polars-parquet/src/parquet/write/column_chunk.rs
  crates/polars-parquet/src/parquet/write/file.rs
  crates/polars-parquet/src/parquet/write/indexes/serialize.rs
  crates/polars-parquet/src/parquet/write/indexes/write.rs
  crates/polars-parquet/src/parquet/write/page.rs
  crates/polars-parquet/src/parquet/write/row_group.rs
  crates/polars-parquet/src/parquet/write/stream.rs
Labels: python, rust, internal

#19276 refactor(rust): Trim sliced-out memory from ListArrays in list arithmetic
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/series/arithmetic/list_borrowed.rs
  crates/polars-core/src/series/ops/reshape.rs
Labels: rust, internal

#19271 feat: Experimental `credential_provider` argument for `scan_parquet`
  Cargo.lock
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-io/src/cloud/mod.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/python_function.rs
  py-polars/polars/_typing.py
  py-polars/polars/io/parquet/functions.py
Labels: python, rust, enhancement

#19280 fix: Don't cse `as_struct`
  crates/polars-plan/src/plans/optimizer/cse/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#19278 feat: Support decoding Float16 in Parquet
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/schema/metadata.rs
  crates/polars-parquet/src/parquet/metadata/sort.rs
  crates/polars-parquet/src/parquet/parquet_bridge.rs
  crates/polars-parquet/src/parquet/schema/types/spec.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement, support

#19282 fix: Also split on forward slashes during hive path inference on Windows
  crates/polars-plan/src/plans/hive.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#19294 fix: Fix struct reshape fast path
  crates/polars-core/src/series/ops/reshape.rs
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, rust, fix

#19284 refactor(rust): Add/fix unordered row decode, change unordered format
  crates/polars-row/src/encode.rs
  crates/polars-row/src/lib.rs
  crates/polars-row/src/variable.rs
Labels: rust, internal

#19295 fix: Don't vertically parallelize literal select
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-mem-engine/src/planner/lp.rs
Labels: python, rust, fix

#19298 fix: Fix quoting style of decimal csv output
  crates/polars-io/src/csv/write/write_impl/serializer.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#19299 fix: Fix list gather invalid fast path
  crates/polars-plan/src/dsl/function_expr/list.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#19301 fix: Fix enum scalar output
  crates/polars-core/src/chunked_array/logical/enum_/mod.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  py-polars/tests/unit/datatypes/test_enum.py
Labels: python, rust, fix

#19303 fix: Error on invalid query
  crates/polars-lazy/src/physical_plan/exotic.rs
Labels: python, rust, fix

#19296 fix: Correctly load Parquet statistics for f16
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#19305 fix: Fix cse union schema
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#19297 feat: Add credential provider utility classes for AWS, GCP
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-io/src/cloud/object_store_setup.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/_typing.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/cloud/__init__.py
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/io/parquet/functions.py
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, rust, enhancement

#19233 fix(python): DataFrame descending sorting by single list element
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#19312 refactor(rust): Purge arrow-rs support
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/binary/data.rs
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/boolean/data.rs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/dictionary/data.rs
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/array/fixed_size_binary/data.rs
  crates/polars-arrow/src/array/fixed_size_binary/mod.rs
  crates/polars-arrow/src/array/fixed_size_list/data.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/list/data.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/map/data.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/data.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/struct_/data.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/union/data.rs
  crates/polars-arrow/src/array/union/mod.rs
  crates/polars-arrow/src/array/utf8/data.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/datatypes/field.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/storage.rs
  crates/polars-core/Cargo.toml
  crates/polars-core/src/series/mod.rs
  crates/polars/Cargo.toml
  crates/polars/tests/it/arrow/bitmap/immutable.rs
  crates/polars/tests/it/arrow/buffer/immutable.rs
Labels: rust, internal

#19313 fix: Merge categorical rev-map in `unpivot`
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/utils/supertype.rs
  crates/polars-ops/src/frame/pivot/unpivot.rs
  py-polars/tests/unit/operations/test_unpivot.py
Labels: python, rust, fix

#19316 fix: Fix empty array gather
  crates/polars-arrow/src/compute/take/fixed_size_list.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#19319 refactor: Fix csv offset
  crates/polars-io/src/csv/read/read_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, skip changelog, internal

#19322 fix(python): More accurate `from_dicts` typing/signature
  py-polars/polars/convert/general.py
Labels: python, fix

#19320 fix: Use of `HAVING` outside of `GROUP BY` should raise a suitable SQLSyntaxError
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_group_by.py
Labels: python, rust, fix, A-sql

#18408 docs: Remove ecosystem viz section since there is one in misc already
  docs/source/user-guide/ecosystem.md
Labels: documentation, python, rust

#19326 fix: Don't produce duplicate column names in Series.to_dummies
  crates/polars-ops/src/series/ops/to_dummies.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#19114 feat: Add SQL support for `bit_count` and bitwise `&`, `|`, and `xor` operators
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars/Cargo.toml
  py-polars/docs/source/reference/sql/functions/bitwise.rst
  py-polars/docs/source/reference/sql/functions/index.rst
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/sql/test_bitwise.py
Labels: python, rust, enhancement, A-sql

#19328 python Polars 1.10.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#19341 fix: Projection pushdown was ignored by `include_file_paths`
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#19344 fix: Ignore Parquet `is_{min,max}_value_exact` when set to `true`
  crates/polars-parquet/src/parquet/statistics/mod.rs
Labels: python, rust, fix

#19350 refactor(rust): Reduce memcopy in parquet
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-io/src/mmap.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-utils/src/mmap.rs
Labels: rust, internal

#19354 docs: Tiny correction post dask-expr
  docs/source/user-guide/migration/pandas.md
Labels: documentation, python, rust

#19353 refactor(rust): Add capability to transmute to SharedStorage
  crates/polars-arrow/src/storage.rs
Labels: rust, internal

#19366 fix: Capture groups should be ignored in replace_all when literal=True
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#19373 refactor(rust): Add tracking of async task wait time statistics
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#19357 refactor: Allocate proper buffer
  crates/polars-arrow/src/compute/take/fixed_size_list.rs
Labels: python, rust, skip changelog, do not merge, internal

#19370 refactor: Improve error message for Zero-Field Structs with Parquet
  crates/polars-parquet/src/arrow/write/schema.rs
Labels: python, rust, internal

#19375 fix: Ensure Python version matches version used to serialize credential provider
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-plan/src/dsl/python_udf.rs
  crates/polars-utils/src/python_function.rs
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, rust, fix

#19369 refactor(python): Remove unsued bytes->BytesIO conversion
  py-polars/polars/io/parquet/functions.py
Labels: python, internal

#19361 refactor(rust): Add extra functionality to SharedStorage
  crates/polars-arrow/src/storage.rs
Labels: rust, internal

#19347 fix: Raise on data mismatch in `str.json_decode`
  crates/polars-io/src/json/mod.rs
  crates/polars-json/src/json/deserialize.rs
  crates/polars-json/src/ndjson/deserialize.rs
  crates/polars-ops/src/chunked_array/strings/json_path.rs
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#19334 feat: Improve `read_database_uri` typing
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, enhancement

#19381 perf: Improve var/cov/corr performance
  crates/polars-arrow/src/array/iterator.rs
  crates/polars-arrow/src/bitmap/iterator.rs
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/var_cov.rs
  crates/polars-core/src/chunked_array/ops/aggregate/var.rs
  crates/polars-ops/src/chunked_array/cov.rs
Labels: python, rust, performance

#19362 feat: Add functionality for supporting the GPU engine on Polars Cloud
  Cargo.lock
  crates/polars-python/Cargo.toml
  crates/polars-python/src/cloud.rs
  py-polars/src/lib.rs
Labels: python, rust, skip changelog, enhancement

#19257 feat: Added `escape_regex` operation to the `str` namespace and as a global function
  Cargo.lock
  Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/strings/escape_regex.rs
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/functions/mod.rs
  crates/polars-python/src/functions/strings.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/escape_regex.py
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, enhancement

#19346 feat(python): AssumeRole support for AWS Credential Provider
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, enhancement

#19386 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: python, rust, skip changelog, internal

#19383 fix(python): Release GIL in `gather_with_series()` and friend
  crates/polars-python/src/dataframe/general.rs
  py-polars/tests/unit/dataframe/test_getitem.py
Labels: python, fix

#19376 build: Revert PyO3 version back to `0.21`
  Cargo.lock
  Cargo.toml
  crates/polars-python/Cargo.toml
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-utils/src/python_function.rs
Labels: python, rust, build

#19340 refactor(rust): Don't pickle entire python function for object store keying
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-io/src/cloud/object_store_setup.rs
Labels: rust, internal

#19379 feat(python): Various `Schema` improvements (equality/init dtype checks)
  py-polars/polars/_reexport.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/schema.py
  py-polars/polars/series/struct.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/test_schema.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#19393 fix: Flaky parametric parquet test
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#19394 fix: Fix `include_file_paths` and `with_row_index` for streaming CSV scan
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/hstack.rs
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#19401 fix: Allow .get(null) in groupby context
  crates/polars-expr/src/expressions/gather.rs
Labels: python, rust, fix

#19398 docs(python): Spurious import in example
  py-polars/polars/expr/expr.py
Labels: documentation, python
