Repository pola-rs/polars, pull requests merged in 2024-06, with the labels that each got.

#16620 feat(rust): Add `split_at` method to arrow `Array`
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/array/fixed_size_binary/mod.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/union/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars/tests/it/arrow/array/binary/mod.rs
  crates/polars/tests/it/arrow/array/binview/mod.rs
  crates/polars/tests/it/arrow/array/boolean/mod.rs
  crates/polars/tests/it/arrow/array/dictionary/mod.rs
  crates/polars/tests/it/arrow/array/fixed_size_list/mod.rs
  crates/polars/tests/it/arrow/array/list/mod.rs
  crates/polars/tests/it/arrow/array/map/mod.rs
  crates/polars/tests/it/arrow/array/mod.rs
  crates/polars/tests/it/arrow/array/primitive/mod.rs
  crates/polars/tests/it/arrow/array/struct_/mod.rs
  crates/polars/tests/it/arrow/array/utf8/mod.rs
  crates/polars/tests/it/arrow/bitmap/immutable.rs
  crates/polars/tests/it/arrow/bitmap/mod.rs
Labels: rust, enhancement

#16646 test: Add test for 16642
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
Labels: python, rust, internal

#16639 feat: Support per-column `nulls_last` on sort operations
  crates/polars-core/src/chunked_array/ops/sort/arg_bottom_k.rs
  crates/polars-core/src/chunked_array/ops/sort/arg_sort_multiple.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-lazy/src/tests/tpch.rs
  crates/polars-ops/src/series/ops/various.rs
  crates/polars-pipe/src/executors/sinks/sort/sink.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-plan/src/logical_plan/alp/tree_format.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/ops_distinct_on.rs
  crates/polars-sql/tests/simple_exprs.rs
  py-polars/polars/_utils/various.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/expr/general.rs
  py-polars/src/functions/lazy.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#16632 docs(python): Update filter description to clarify that null evaluations are removed
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python

#16650 fix: Potentially deal with empty range
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
Labels: python, rust, fix

#16268 docs(python): Overview of available SQL functions
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/sql/clauses.rst
  py-polars/docs/source/reference/sql/functions/aggregate.rst
  py-polars/docs/source/reference/sql/functions/array.rst
  py-polars/docs/source/reference/sql/functions/conditional.rst
  py-polars/docs/source/reference/sql/functions/index.rst
  py-polars/docs/source/reference/sql/functions/math.rst
  py-polars/docs/source/reference/sql/functions/string.rst
  py-polars/docs/source/reference/sql/functions/temporal.rst
  py-polars/docs/source/reference/sql/functions/trigonometry.rst
  py-polars/docs/source/reference/sql/index.rst
  py-polars/docs/source/reference/sql/python_api.rst
  py-polars/docs/source/reference/sql/set_operations.rst
  py-polars/docs/source/reference/sql/table_operations.rst
Labels: documentation, python

#16656 docs(python): Add missing `polars.sql` docs entry and slight docstring update
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/sql/functions.py
Labels: documentation, python

#16079 docs(python): improve docstring of `(Expr|Series).map_elements`
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#16665 perf: Always prune unused columns in semi/anti join
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/semi_anti_join.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, performance

#16667 refactor(rust): Split `dates_times` into separate `date` and `time` modules
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/time.rs
Labels: rust, internal

#16670 fix: Fix filter shape on empty null
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/datatypes/test_null.py
Labels: python, rust, fix

#16671 feat: Allow wildcard and exclude before struct expansions
  crates/polars-plan/src/logical_plan/conversion/expr_expansion.rs
  py-polars/tests/unit/test_expansion.py
Labels: python, rust, enhancement

#16672 feat: Support non-coalescing streaming left join
  crates/polars-lazy/src/physical_plan/streaming/checks.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, enhancement

#16666 perf: make `truncate` 1.5x faster when `every` is just a single duration (and not an expression)
  crates/polars-time/src/truncate.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Labels: python, rust, performance

#16580 refactor(rust): use binary `try_{add, mul, ...}` ops in borrowed dispatch
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-ops/src/series/ops/floor_divide.rs
Labels: rust, internal

#16677 perf: Toggle coalesce if non-coalesced key isn't projected
  crates/polars-lazy/src/tests/projection_queries.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/joins.rs
Labels: python, rust, performance

#16679 fix: Full null on dyn int
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/test_empty.py
Labels: python, rust, fix

#16575 feat(rust,py): add additional control to `write_parquet::statistics` parameter
  Cargo.lock
  crates/polars-compute/src/distinct_count.rs
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/min_max/scalar.rs
  crates/polars-core/src/chunked_array/metadata.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/parquet/write/mod.rs
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/write/binary/basic.rs
  crates/polars-parquet/src/arrow/write/binary/nested.rs
  crates/polars-parquet/src/arrow/write/binview/basic.rs
  crates/polars-parquet/src/arrow/write/binview/nested.rs
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
  crates/polars-parquet/src/arrow/write/boolean/nested.rs
  crates/polars-parquet/src/arrow/write/dictionary.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/arrow/write/fixed_len_bytes.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/primitive/basic.rs
  crates/polars-parquet/src/arrow/write/primitive/nested.rs
  crates/polars-parquet/src/arrow/write/sink.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/read_indexes.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/conversion/mod.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/lazyframe/mod.rs
Labels: rust, enhancement

#16681 fix: avoid AWS pinning to outdated crc32c version
  Cargo.lock
  docs/src/rust/Cargo.toml
Labels: python, rust, fix

#16685 refactor(rust): Branch earlier in binary type resolving
  crates/polars-plan/src/logical_plan/conversion/type_coercion/binary.rs
Labels: rust, internal

#16686 fix(python): Reduce scope of multi-threaded numpy conversion
  py-polars/polars/_utils/construction/dataframe.py
Labels: python, fix

#16678 feat: Add `DIV` function support to the SQL interface
  crates/polars-sql/src/functions.rs
  py-polars/docs/source/reference/sql/functions/math.rst
  py-polars/docs/source/reference/sql/functions/trigonometry.rst
  py-polars/tests/unit/sql/test_numeric.py
Labels: python, rust, enhancement, A-sql

#16680 fix: Improve `read_database` check for SQLAlchemy async Session objects
  py-polars/polars/io/database/_executor.py
  py-polars/tests/unit/io/database/test_async.py
Labels: python, rust, fix, A-io-database

#16700 fix(python): Handle nested categoricals in `assert_series_equal` when `categorical_as_str=True`
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, fix

#16600 docs(python): Add example for index count in `DataFrame.rolling`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#16635 feat!: Dedicated `SQLInterface` and `SQLSyntax` errors
  crates/polars-error/src/lib.rs
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/src/table_functions.rs
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/sql/test_array.py
  py-polars/tests/unit/sql/test_cast.py
  py-polars/tests/unit/sql/test_conditional.py
  py-polars/tests/unit/sql/test_functions.py
  py-polars/tests/unit/sql/test_group_by.py
  py-polars/tests/unit/sql/test_joins.py
  py-polars/tests/unit/sql/test_literals.py
  py-polars/tests/unit/sql/test_miscellaneous.py
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/sql/test_regex.py
  py-polars/tests/unit/sql/test_strings.py
  py-polars/tests/unit/sql/test_subqueries.py
  py-polars/tests/unit/sql/test_table_operations.py
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, breaking, enhancement, A-sql

#16610 feat!: Add `check_names` parameter to `Series.equals` and default to `False`
  crates/polars-core/src/testing.rs
  py-polars/polars/series/series.py
  py-polars/src/series/mod.rs
  py-polars/tests/unit/series/test_equals.py
Labels: python, rust, breaking, enhancement

#16524 feat(python)!: Remove default class variable values on DataTypes
  py-polars/polars/datatypes/classes.py
  py-polars/polars/interchange/utils.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, breaking, enhancement

#15249 feat!: Rename struct fields of `rle` output to `len`/`value` and update data type of `len` field
  crates/polars-ops/src/series/ops/rle.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_rle.py
Labels: python, rust, breaking, enhancement, do not merge

#16705 chore: Update version resolver for `1.0.0` release
  .github/release-drafter-python.yml
Labels: python, rust, internal

#16510 feat(python)!: Update function signature of `nth` to allow positional input of indices, remove `columns` parameter
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/functions/test_nth.py
  py-polars/tests/unit/test_selectors.py
Labels: python, breaking, enhancement

#16550 feat(python)!: Remove serde functionality from `pl.read_json` and `DataFrame.write_json`
  docs/src/python/user-guide/io/json.py
  py-polars/polars/dataframe/frame.py
  py-polars/pyproject.toml
  py-polars/src/dataframe/io.rs
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/test_errors.py
Labels: python, breaking, enhancement

#15324 feat(python)!: Support decimals by default when converting from Arrow
  crates/polars-core/src/config.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/mod.rs
  py-polars/polars/config.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/test_config.py
Labels: python, breaking, enhancement, do not merge

#14315 docs(python): Update deprecation period example
  docs/development/versioning.md
Labels: documentation, python, do not merge

#16707 fix(python): Fix deprecated call to Array.width in assertion util
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, skip changelog, fix

#16688 refactor(rust): separate `Aggregation` evaluation PhysicalExpr from conversion
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/planner.rs
Labels: rust, internal

#16634 feat(python,rust): add many more auto inferable datetime formats
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/patterns.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Labels: python, rust, enhancement

#14142 feat!: Restrict casting for temporal data types
  crates/polars-core/src/chunked_array/logical/date.rs
  crates/polars-core/src/chunked_array/logical/datetime.rs
  crates/polars-core/src/chunked_array/logical/duration.rs
  crates/polars-core/src/chunked_array/logical/time.rs
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, breaking, enhancement, fix

#16701 docs(python): Fix stated value of include_nulls in DataFrame.update
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#15503 feat!: Preserve nulls in `ewm_mean`, `ewm_std`, and `ewm_var`
  crates/polars-arrow/src/legacy/kernels/ewm/average.rs
  crates/polars-arrow/src/legacy/kernels/ewm/variance.rs
  py-polars/tests/unit/operations/test_ewm.py
Labels: python, rust, breaking, enhancement

#16439 feat!: Remove redundant column name when pivoting by multiple values
  crates/polars-ops/src/frame/pivot/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, breaking, enhancement

#14413 feat!: Do not propagate nulls in `clip` bounds
  crates/polars-ops/src/series/ops/clip.rs
  py-polars/tests/unit/operations/test_clip.py
Labels: python, rust, breaking, enhancement

#16709 feat!: Activate decimal by default
  crates/polars-core/src/series/from.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/test_config.py
Labels: python, rust, breaking, enhancement

#16710 feat(python)!: Read 2D numpy arrays as Array[dt, shape] instead of Listst[dt]
  py-polars/polars/_utils/construction/series.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/series/test_series.py
Labels: python, breaking, enhancement

#16598 feat(python)!: Constrain access to globals from `df.sql` in favour of top-level `pl.sql`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, breaking, enhancement, A-sql

#16697 chore: Fix incorrect debug assertion in `ChunkedArray::from_chunks_and_dtype`
  crates/polars-core/src/chunked_array/from.rs
  py-polars/tests/unit/series/test_to_list.py
Labels: python, rust, internal

#16658 feat!: change default of `offset` in group_by_dynamic from "negative `every`" to "zero"
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, breaking, enhancement, do not merge

#16682 feat(rust): eliminate ProjectionExprs and handle CSE by stacking extra columns
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/executors/projection.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/executors/stack.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-pipe/src/executors/operators/projection.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/alp/format.rs
  crates/polars-plan/src/logical_plan/alp/inputs.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/builder_ir.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cluster_with_columns.rs
  crates/polars-plan/src/logical_plan/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-plan/src/logical_plan/projection_expr.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  py-polars/src/lazyframe/visit.rs
  py-polars/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/test_cse.py
Labels: rust, enhancement

#16713 fix(python): assert SQLInterfaceError is raised
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, fix

#16655 feat!: enforce deprecation of `offset` arg in `truncate` and `round`
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/truncate.rs
  crates/polars-time/src/windows/window.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/src/expr/datetime.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, breaking, enhancement

#16712 chore(rust): Simplify NodeTraverser.get_dtype
  py-polars/src/lazyframe/visit.rs
Labels: rust, internal

#16717 fix: Raise unsupported cat array
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/reverse.rs
  crates/polars-core/src/chunked_array/ops/shift.rs
  crates/polars-ops/src/chunked_array/array/dispersion.rs
  crates/polars-ops/src/chunked_array/array/get.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, fix

#16718 refactor: Remove needless inner type clone
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/iterator/mod.rs
  crates/polars-core/src/chunked_array/iterator/par/list.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/shift.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-ops/src/chunked_array/list/dispersion.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
Labels: python, rust, internal

#16724 feat(python)!: More scheduled removal of deprecated functionality
  py-polars/docs/source/reference/exceptions.rst
  py-polars/docs/source/reference/series/attributes.rst
  py-polars/polars/__init__.py
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/_utils/parse_expr_input.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/exceptions.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/whenthen.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/polars/functions/range/time_range.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/string_cache.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/as_datatype/test_as_datatype.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_string_cache.py
Labels: python, breaking, enhancement

#16723 fix: Only flush if operator can flush in streaming outer join
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, fix

#16733 fixes `.list.to_array()` with sliced df
  crates/polars-arrow/src/compute/cast/mod.rs
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: fix

#16732 feat: Initial SQL support for `INTERVAL` strings
  Cargo.lock
  crates/polars-plan/src/logical_plan/lit.rs
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/simple_exprs.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/sql/test_literals.py
  py-polars/tests/unit/sql/test_numeric.py
Labels: python, rust, enhancement, A-sql

#16730 fix(python): Panic on empty df / null List(Categorical)
  crates/polars-core/src/series/from.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/test_empty.py
Labels: python, fix

#15030 feat!: Update some error types to more appropriate variants
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/operations/test_transpose.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, breaking, enhancement

#16739 fix: Column selection wasn't applied when reading CSV with no rows
  crates/polars-io/src/csv/read/read_impl.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#16711 feat: Add SQL support for `NULLS FIRST/LAST` ordering
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_miscellaneous.py
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/sql/test_order_by.py
Labels: python, rust, enhancement, A-sql

#16738 feat(python): Mark `min_periods` as keyword-only for `rolling` methods
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: python, enhancement

#16734 feat!: Update `date_range` to no longer produce datetime ranges
  crates/polars-plan/src/dsl/function_expr/range/date_range.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/functions/range.rs
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/src/functions/range.rs
  py-polars/tests/unit/functions/range/test_date_range.py
Labels: python, rust, breaking, enhancement

#16754 feat!: Expedited removal of certain deprecated functionality
  crates/polars-time/src/upsample.rs
  docs/src/rust/user-guide/transformations/time-series/resampling.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/series.py
  py-polars/src/dataframe/general.rs
  py-polars/tests/unit/dataframe/test_upsample.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/test_cum_count.py
  py-polars/tests/unit/operations/test_ewm.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, breaking, enhancement

#16741 feat!: Remove deprecated parameters in `Series.cut/qcut`
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/series/ops/cut.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_cut.py
  py-polars/tests/unit/operations/test_qcut.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, breaking, enhancement

#16719 feat(rust): add `env` locked metadata functions
  crates/polars-core/src/chunked_array/metadata.rs
  crates/polars-core/src/chunked_array/metadata/collect.rs
  crates/polars-core/src/chunked_array/metadata/env.rs
  crates/polars-core/src/chunked_array/metadata/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/series/any_value.rs
Labels: rust, enhancement

#16746 feat: Support executing polars SQL against `pandas` and `pyarrow` objects
  py-polars/polars/_utils/various.py
  py-polars/polars/config.py
  py-polars/polars/sql/context.py
  py-polars/polars/sql/functions.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, rust, enhancement, A-sql, A-interop

#16745 feat: Support use of ordinal values in SQL `ORDER BY` clause
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_group_by.py
  py-polars/tests/unit/sql/test_order_by.py
Labels: python, rust, enhancement, A-sql

#16744 feat: Streamline SQL `INTERVAL` handling and improve related error messages, update `sqlparser-rs` lib
  Cargo.lock
  Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/keywords.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_literals.py
Labels: python, rust, enhancement, A-sql

#16728 perf: speed up offset_by 2x for constant durations
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_offset_by.py
Labels: python, rust, performance

#16674 feat: Support cloud storage in `scan_csv`
  Cargo.lock
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/cache_lock.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/eviction.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/file_cache/file_lock.rs
  crates/polars-io/src/file_cache/metadata.rs
  crates/polars-io/src/file_cache/mod.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/lib.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/scans.rs
  crates/polars-plan/src/logical_plan/file_scan.rs
  crates/polars-plan/src/logical_plan/functions/count.rs
  crates/polars-plan/src/logical_plan/optimizer/slice_pushdown_lp.rs
  py-polars/polars/io/csv/functions.py
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, enhancement

#16753 docs(python): Add docstring example for DataFrame.limit()
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#16235 fix(python): Include pl. qualifier for inner dtypes in to_init_repr()
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/_utils.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_utils.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/interop/test_to_init_repr.py
Labels: python, fix

#16761 fix: `DATE_PART` SQL syntax/parsing, improve some error messages
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/docs/source/reference/sql/functions/temporal.rst
  py-polars/tests/unit/sql/test_numeric.py
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, fix, A-sql

#16757 docs(python): Update versioning docs for 1.0.0
  .github/release-drafter-python.yml
  docs/development/versioning.md
Labels: documentation, python

#16765 fix: Fix boolean distinct
  crates/polars-compute/src/distinct_count.rs
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
Labels: python, rust, fix

#16766 fix: Incorrect parquet statistics written for UInt64 values > Int64::MAX
  crates/polars-parquet/src/arrow/write/primitive/basic.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#16755 feat(python)!: Enforce deprecation of keyword arguments as positional
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/test_drop.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/utils/test_deprecation.py
Labels: python, breaking, enhancement

#16778 feat(python): Add `check_order` parameter to `assert_series_equal`
  py-polars/polars/testing/asserts/frame.py
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, enhancement

#16784 feat(python)!: Remove `pyxlsb` engine from `read_database`
  docs/user-guide/io/excel.md
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/meta/versions.py
  py-polars/polars/type_aliases.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, breaking, enhancement

#16786 depr(python): Deprecate `arctan2d`
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/lazy.rs
  py-polars/src/lib.rs
Labels: python, deprecation

#16783 feat(python)!: Removal of `read_database_uri` passthrough from `read_database`
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, breaking, enhancement

#16782 fix(rust): properly set boolean distinct count
  crates/polars-arrow/src/bitmap/bitmap_ops.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-compute/src/distinct_count.rs
Labels: rust, fix

#16779 feat(python)!: More removal of deprecated functionality
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/operations/test_ewm_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, breaking, enhancement

#16769 feat!: Default to `coalesce=False` in left outer join
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/series/ops/replace.rs
  crates/polars-time/src/upsample.rs
  crates/polars/tests/it/chunks/parquet.rs
  crates/polars/tests/it/core/joins.rs
  crates/polars/tests/it/lazy/predicate_queries.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/pyproject.toml
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/streaming/test_streaming_categoricals.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_string_cache.py
Labels: python, rust, breaking, enhancement

#16791 feat: Support array arithmetic for equally sized shapes
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/arithmetic/owned.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/mod.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_queries.py
Labels: python, rust, enhancement

#16789 refactor(rust): add distinct_non_null_count method
  crates/polars-compute/src/distinct_count.rs
  crates/polars-parquet/src/arrow/write/boolean/basic.rs
Labels: rust, internal

#16790 depr(python, rust!): Rename `str.concat` to `str.join`
  crates/polars-ops/src/chunked_array/strings/concat.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/src/expr/string.rs
  py-polars/tests/unit/expr/test_expr_apply_eval.py
  py-polars/tests/unit/operations/namespaces/string/test_concat.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/sql/test_table_operations.py
Labels: python, rust, deprecation, breaking rust

#16793 feat(python)!: Update group-by iteration to always return tuple keys
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/tests/unit/dataframe/test_partition_by.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/test_rows.py
Labels: python, breaking, enhancement

#16799 fix: Fix comparison of UInt64 with zero
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/datatypes/test_integer.py
Labels: python, rust, fix

#16797 refactor(rust): Remove deprecated `MutableBitmap.null_count` method
  crates/polars-arrow/src/bitmap/mutable.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/type_aliases.py
  py-polars/src/conversion/mod.rs
Labels: rust, internal

#16788 refactor(rust): start further use of polars-compute in polars-parquet
  crates/polars-parquet/src/arrow/write/binview/basic.rs
  crates/polars-parquet/src/arrow/write/primitive/nested.rs
Labels: rust, internal

#16801 chore(python): Update docstring/test/etc usage of `select` and `with_columns` to idiomatic form
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/eager.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/functions/as_datatype/test_as_datatype.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
  py-polars/tests/unit/interop/test_to_pandas.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/test_binary.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/namespaces/test_name.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_ewm.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/operations/test_with_columns.py
  py-polars/tests/unit/operations/unique/test_unique_counts.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_projections.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_schema.py
Labels: documentation, python, internal

#16803 chore(python): Skip latest deltalake release on macos
  py-polars/requirements-ci.txt
  py-polars/requirements-dev.txt
Labels: python, internal

#16804 fix: rewrite top_k/bottom_k, variety of bugs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-compute/src/filter/mod.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/ops/filter.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, fix

#16771 fix(rust): `describe` / `explain` streaming plan
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-plan/src/logical_plan/alp/dot.rs
  crates/polars-plan/src/logical_plan/alp/format.rs
  crates/polars-plan/src/logical_plan/alp/mod.rs
  crates/polars-plan/src/logical_plan/alp/tree_format.rs
  crates/polars-plan/src/logical_plan/functions/mod.rs
  crates/polars-utils/src/arena.rs
Labels: rust, fix

#16800 feat(python)!: Only accept a single column in `set_sorted`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/test_errors.py
Labels: python, breaking, enhancement

#16806 chore(python): Properly skip deltalake 0.18.0 for MacOS
  py-polars/requirements-dev.txt
  py-polars/tests/unit/operations/test_value_counts.py
Labels: python, skip changelog, internal

#16770 fix: Raise on non-positive json schema inference
  crates/polars-io/src/json/infer.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-json/src/ndjson/file.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ndjson.rs
  crates/polars/tests/it/io/json.rs
  py-polars/polars/io/ndjson.py
  py-polars/src/dataframe/io.rs
  py-polars/tests/unit/io/test_lazy_json.py
Labels: python, rust, fix

#16795 feat(rust, python): Return datetime for mean/median of Date colum
  crates/polars-core/src/frame/group_by/aggregations/dispatch.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  crates/polars-plan/src/logical_plan/aexpr/schema.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/series/test_describe.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, enhancement

#16808 perf: Special no null branch in arg-sort
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, performance

#16812 fix: Reset if next caller clones inner series
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/series/unstable.rs
  crates/polars-expr/src/expressions/group_iter.rs
  crates/polars-ops/src/chunked_array/array/dispersion.rs
  crates/polars-ops/src/chunked_array/array/join.rs
  crates/polars-ops/src/chunked_array/array/sum_mean.rs
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/src/series/export.rs
  py-polars/tests/unit/operations/test_random.py
Labels: python, rust, fix

#16820 refactor: Improve safety of amortized_iter
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/series/amortized_iter.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/series.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/group_iter.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-ops/src/chunked_array/array/dispersion.rs
  crates/polars-ops/src/chunked_array/array/join.rs
  crates/polars-ops/src/chunked_array/array/sum_mean.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-ops/src/series/ops/rolling.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  py-polars/src/series/export.rs
Labels: python, rust, internal

#16796 chore(rust!): move offset_by implementation from polars-plan to polars-time, rename feature from DateOffset to OffsetBy
  crates/polars-lazy/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-time/Cargo.toml
  crates/polars-time/src/lib.rs
  crates/polars-time/src/offset_by.rs
  crates/polars/Cargo.toml
  crates/polars/src/lib.rs
  docs/user-guide/installation.md
  py-polars/Cargo.toml
  py-polars/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: rust, internal, breaking rust

#16817 depr(python): Rename parameter `descending` to `reverse` in `top_k` methods
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/expr/general.rs
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, deprecation

#16827 feat: improve error message when raising integers to negative integers, improve docs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, enhancement

#16767 feat: Extend recognised `EXTRACT` and `DATE_PART` SQL part abbreviations
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/docs/source/reference/sql/functions/temporal.rst
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, enhancement, A-sql

#16810 refactor: Don't enter streaming engine for groupby-> agg mean/median …
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/convert.rs
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, internal

#16831 fix: Reduce needless panics in comparisons
  crates/polars-core/src/series/comparison.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#16835 refactor(python)!: Set `infer_schema_length` as keyword-only for `str.json_decode`
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: python, breaking, internal

#16837 fix: Ensure that splitted ChunkedArray also flattens chunks
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
Labels: python, rust, fix

#16838 refactor(rust): Remove unneeded code
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-core/src/utils/series.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
Labels: rust, internal

#16829 fix: Standardised additional SQL interface errors
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/iss_7436.rs
  crates/polars-sql/tests/iss_7437.rs
  crates/polars-sql/tests/iss_7440.rs
  crates/polars-sql/tests/iss_8395.rs
  crates/polars-sql/tests/iss_8419.rs
  crates/polars-sql/tests/issues.rs
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, fix, A-sql

#16836 feat: Support `SQL` "SELECT" with no tables, optimise registration of globals
  crates/polars-sql/src/context.rs
  py-polars/polars/sql/context.py
  py-polars/tests/unit/sql/test_literals.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, rust, enhancement, A-sql

#16840 fix(python): Consistent behaviour when "infer_schema_length=0" for `read_excel`
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-excel

#16807 refactor: Rename allow_overflow to wrap_numerical
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/series/mod.rs
Labels: python, rust, internal

#16802 fix(python): Ensure `read_excel` and `read_ods` return identical frames across all engines when given empty spreadsheet tables
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/files/empty.ods
  py-polars/tests/unit/io/files/empty.xls
  py-polars/tests/unit/io/files/empty.xlsb
  py-polars/tests/unit/io/files/empty.xlsx
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-excel

#16841 feat(python!): Default to raising for oob on all `get`/`gather` operations
  py-polars/polars/expr/array.py
  py-polars/polars/expr/list.py
  py-polars/polars/series/array.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, enhancement, breaking python

#16816 chore: Prepare update of API reference URLs
  .github/workflows/docs-global.yml
Labels: python, rust, internal

#16825 feat(python)!: Update `reshape` to return Array types instead of List types
  crates/polars-core/src/series/ops/reshape.rs
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/src/expr/general.rs
  py-polars/src/series/mod.rs
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/datatypes/test_array.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/functions/as_datatype/test_as_datatype.py
  py-polars/tests/unit/operations/test_reshape.py
  py-polars/tests/unit/series/test_scatter.py
  py-polars/tests/unit/series/test_series.py
Labels: python, breaking, enhancement

#16843 chore: Update links to API references
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/workflows/docs-python.yml
  .github/workflows/docs-rust.yml
  README.md
  docs/_build/API_REFERENCE_LINKS.yml
  docs/api/index.md
  docs/development/contributing/index.md
  docs/development/versioning.md
  docs/user-guide/expressions/functions.md
  docs/user-guide/expressions/plugins.md
  docs/user-guide/expressions/user-defined-functions.md
  py-polars/docs/source/_static/version_switcher.json
  py-polars/docs/source/conf.py
  py-polars/pyproject.toml
Labels: python, rust, internal

#16846 ci(python): Do not update stable API reference on prerelease
  .github/workflows/docs-global.yml
  .github/workflows/docs-python.yml
  .github/workflows/release-python.yml
  py-polars/docs/source/conf.py
Labels: python, internal

#16849 docs(python): Update link from Python API reference to user guide
  py-polars/docs/source/conf.py
Labels: documentation, python

#16845 perf: Don't create small chunks in parallel collect.
  crates/polars-core/src/chunked_array/from_iterator_par.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars/tests/it/lazy/functions.rs
Labels: python, rust, performance

#16850 perf: Don't rechunk in `align_` if arrays are aligned
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#16852 fix: Fix `should_rechunk` check
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/test_chunks.py
Labels: python, rust, fix

#16856 perf: Use `split_at` instead of double slice in chunk splits.
  crates/polars-arrow/src/array/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#16860 depr(python): Deprecate `LazyFrame.with_context`
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_with_context.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_schema.py
Labels: python, deprecation

#16858 feat(python): Support Python `Enum` values in `lit`
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/functions/test_lit.py
Labels: python, enhancement

#16851 feat: Support SQL `VALUES` clause and inline renaming of columns in CTE & derived table definitions
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_miscellaneous.py
  py-polars/tests/unit/sql/test_numeric.py
Labels: python, rust, enhancement, A-sql

#16865 perf: Use `split_at` in `split`
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#16870 refactor: Remove inner `Arc` from `FileCacheEntry`
  crates/polars-io/src/file_cache/entry.rs
Labels: python, rust, internal

#16866 feat: Improve `read_csv` SQL table reading function defaults (better handle dates)
  crates/polars-sql/src/table_functions.rs
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, rust, enhancement, A-sql

#16871 perf: Optimize string/binary sort
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, performance

#16847 docs(python): Update version switcher for 1.0.0 prereleases
  py-polars/docs/source/_static/version_switcher.json
Labels: documentation, python, do not merge

#16828 feat(python!): consistently convert to given time zone in Series constructor
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/exceptions.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/range/test_datetime_range.py
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/operations/namespaces/temporal/test_add_business_days.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_offset_by.py
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/test_ewm_by.py
  py-polars/tests/unit/operations/test_interpolate.py
  py-polars/tests/unit/series/buffers/test_from_buffers.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement, breaking python

#16877 test(python): Move around some existing tests
  py-polars/tests/unit/constructors/test_dataframe.py
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/functions/as_datatype/test_struct.py
  py-polars/tests/unit/functions/test_concat.py
  py-polars/tests/unit/lazyframe/test_rename.py
  py-polars/tests/unit/operations/aggregation/test_folds.py
  py-polars/tests/unit/operations/aggregation/test_horizontal.py
  py-polars/tests/unit/operations/aggregation/test_vertical.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
  py-polars/tests/unit/operations/arithmetic/test_pow.py
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/namespaces/test_struct.py
  py-polars/tests/unit/operations/test_bitwise.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/test_comparison.py
  py-polars/tests/unit/operations/test_diff.py
  py-polars/tests/unit/operations/test_fill_null.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_join_asof.py
  py-polars/tests/unit/operations/test_shrink_dtype.py
  py-polars/tests/unit/test_convert.py
  py-polars/tests/unit/test_schema.py
Labels: python, internal

#16890 fix: Remove unwrap in `extend()`
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/functions/test_functions.py
Labels: python, rust, fix

#16892 feat: Cache downloaded cloud IPC files
  crates/polars-io/src/ipc/ipc_reader_async.rs
Labels: python, rust, enhancement

#16893 perf: Improve rle_id iteration perf and set sorted flags
  crates/polars-ops/src/series/ops/rle.rs
  py-polars/tests/unit/operations/test_group_by_dynamic.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, performance

#16894 perf: Optimize generic argsort of row-encoding
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
Labels: python, rust, performance

#16884 feat: add fundamentals for new async-based streaming execution engine
  Cargo.lock
  Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/LICENSE
  crates/polars-stream/README.md
  crates/polars-stream/build.rs
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/async_primitives/pipe.rs
  crates/polars-stream/src/async_primitives/task_parker.rs
  crates/polars-stream/src/async_primitives/wait_group.rs
  crates/polars-stream/src/executor/mod.rs
  crates/polars-stream/src/executor/park_group.rs
  crates/polars-stream/src/executor/task.rs
  crates/polars-stream/src/lib.rs
Labels: python, rust, enhancement

#16899 refactor: Refactor parts of IR.
  crates/polars-io/src/csv/read/options.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-lazy/src/physical_plan/executors/python_scan.rs
  crates/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  crates/polars-lazy/src/physical_plan/executors/scan/mod.rs
  crates/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  crates/polars-lazy/src/physical_plan/planner/lp.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/logical_plan/anonymous_scan.rs
  crates/polars-plan/src/logical_plan/builder_dsl.rs
  crates/polars-plan/src/logical_plan/conversion/dsl_to_ir.rs
  crates/polars-plan/src/logical_plan/conversion/mod.rs
  crates/polars-plan/src/logical_plan/ir/dot.rs
  crates/polars-plan/src/logical_plan/ir/format.rs
  crates/polars-plan/src/logical_plan/ir/inputs.rs
  crates/polars-plan/src/logical_plan/ir/mod.rs
  crates/polars-plan/src/logical_plan/ir/schema.rs
  crates/polars-plan/src/logical_plan/ir/tree_format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/cluster_with_columns.rs
  crates/polars-plan/src/logical_plan/optimizer/count_star.rs
  crates/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/stack_opt.rs
  crates/polars-plan/src/logical_plan/options.rs
  crates/polars-plan/src/logical_plan/visitor/hash.rs
  crates/polars/tests/it/io/csv.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/src/batched_csv.rs
  py-polars/src/dataframe/io.rs
  py-polars/src/lazyframe/visitor/nodes.rs
Labels: python, rust, internal

#16895 feat!: Change casting failures from `ComputeError` to `InvalidOperationError`
  crates/polars-core/src/utils/series.rs
  crates/polars-plan/src/logical_plan/conversion/type_coercion/binary.rs
  py-polars/polars/interchange/from_dataframe.py
  py-polars/tests/unit/constructors/test_dataframe.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/test_clip.py
  py-polars/tests/unit/operations/test_replace.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/sql/test_cast.py
  py-polars/tests/unit/sql/test_temporal.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_format.py
  py-polars/tests/unit/test_lazy.py
Labels: python, rust, breaking, enhancement

#16900 feat: setup skeleton
  Cargo.lock
  Cargo.toml
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/skeleton.rs
  py-polars/Cargo.toml
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
Labels: python, rust, enhancement, internal

#16902 feat(rust,python): add `eq`/`ne` for more `FixedSizeList`s
  crates/polars-compute/src/comparisons/array.rs
  crates/polars-compute/src/comparisons/mod.rs
  crates/polars-compute/src/comparisons/null.rs
  crates/polars-compute/src/comparisons/struct_.rs
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, enhancement

#16906 refactor(python): Refactor expression parsing utils
  py-polars/polars/_utils/parse/__init__.py
  py-polars/polars/_utils/parse/expr.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/array.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/expr/whenthen.py
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/business.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range/date_range.py
  py-polars/polars/functions/range/datetime_range.py
  py-polars/polars/functions/range/int_range.py
  py-polars/polars/functions/range/time_range.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/functions/whenthen.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/plugins.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/utils/parse/__init__.py
  py-polars/tests/unit/utils/parse/test_expr.py
Labels: python, internal

#16909 docs(python): fixup bullet points in write_parquet
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#16908 test(python): Skip intermittently failing AWS test
  py-polars/tests/unit/io/cloud/test_aws.py
Labels: python, internal

#16888 depr(python): Deprecate `dt.mean`/`dt.median` in favor of `mean`/`median`
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, deprecation
