Repository pola-rs/polars, pull requests merged in 2024-02, with the labels that each got.

#14152 fix: Fix for `set_operations` of binary dtype
  crates/polars-ops/src/chunked_array/list/sets.rs
  py-polars/tests/unit/namespaces/list/__init__.py
  py-polars/tests/unit/namespaces/list/test_list.py
  py-polars/tests/unit/namespaces/list/test_set_operations.py
Labels: python, rust, fix

#14148 docs(python): Document that Kleene logic is followed in `any_horizontal` and `all_horizontal`
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/aggregation/vertical.py
  py-polars/polars/series/series.py
Labels: documentation, python

#14160 chore: Run `cargo update`
  Cargo.lock
  crates/polars-ops/src/chunked_array/list/sets.rs
Labels: python, rust, internal

#14146 docs: fix code blocks in user-guide/concepts/data-structures
  docs/user-guide/concepts/data-structures.md
Labels: documentation, python, rust

#14175 perf: improve `ChunkId`
  crates/polars-core/src/chunked_array/ops/take/take_chunked.rs
  crates/polars-core/src/datatypes/aliases.rs
  crates/polars-core/src/prelude.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-utils/src/index.rs
Labels: python, rust, performance

#14176 docs: Small improvements Ecosystem page
  docs/user-guide/ecosystem.md
Labels: documentation, python, rust

#14178 chore(rust): Enable `clippy` lint to warn on debug macros
  .github/workflows/lint-rust.yml
  Makefile
  crates/Makefile
  crates/polars-arrow/src/legacy/kernels/list.rs
  py-polars/Makefile
Labels: rust, internal

#14187 chore(python): Issue a warning when running doctests on Python 3.11 or lower
  py-polars/tests/docs/run_doctest.py
Labels: python, internal

#14185 chore: `take_chunked` to polars-ops
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/logical/struct_/mod.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/take/mod.rs
  crates/polars-core/src/chunked_array/upstream_traits.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/dates_time.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/chunked_array/gather/mod.rs
  crates/polars-ops/src/chunked_array/mod.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-plan/Cargo.toml
  crates/polars/Cargo.toml
Labels: python, rust, internal

#14191 chore: Add `.cargo` directory to .gitignore
  .gitignore
Labels: python, rust, internal

#14195 refactor: make gather_chunked completely generic
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, internal

#14196 feat: make `IdxVec` generic as `UnitVec`
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/frame/group_by/hashing.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-utils/src/idx_vec.rs
Labels: python, rust, enhancement

#14199 perf: Use `UnitVec` in polars-plan traversal
  crates/polars-plan/src/logical_plan/alp.rs
  crates/polars-plan/src/logical_plan/iterator.rs
  crates/polars-plan/src/logical_plan/optimizer/cse.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  crates/polars-plan/src/logical_plan/visitor/expr.rs
  crates/polars-plan/src/logical_plan/visitor/lp.rs
  crates/polars-plan/src/utils.rs
  crates/polars-utils/src/idx_vec.rs
Labels: python, rust, performance

#14203 feat: Supports map fields name of struct
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/name.rs
  py-polars/docs/source/reference/expressions/name.rst
  py-polars/polars/expr/name.py
  py-polars/src/expr/name.rs
  py-polars/tests/unit/namespaces/test_struct.py
Labels: python, rust, enhancement

#14210 fix: make csv parser more robust to edge cases
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/csv/utils.rs
  crates/polars-lazy/src/physical_plan/executors/scan/csv.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/options.rs
Labels: python, rust, fix

#14212 chore(python): remove unused method DataFrame._from_dicts
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#14171 fix(python): enable windows test coverage for `read_excel` "calamine" (fastexcel) engine
  py-polars/polars/io/_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#13052 docs(python): Add visualisation page to user guide
  docs/development/contributing/index.md
  docs/requirements.txt
  docs/src/python/user-guide/misc/visualization.py
  docs/user-guide/misc/visualization.md
  mkdocs.yml
  py-polars/tests/docs/test_user_guide.py
Labels: documentation, python

#14222 build(rust): Enable feature nightly with optional sql feature
  crates/polars/Cargo.toml
Labels: rust, build

#14202 feat: Introduce `arr.to_struct`
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/array/mod.rs
  crates/polars-ops/src/chunked_array/array/to_struct.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/array.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#14230 refactor(python): Move metadata utils to `meta` module
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/metadata.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/meta/__init__.py
  py-polars/polars/meta/build_info.py
  py-polars/polars/meta/get_index_type.py
  py-polars/polars/meta/show_versions.py
  py-polars/polars/meta/threadpool_size.py
  py-polars/polars/series/series.py
  py-polars/polars/utils/__init__.py
  py-polars/polars/utils/_construction.py
  py-polars/polars/utils/_polars_version.py
  py-polars/polars/utils/build_info.py
  py-polars/polars/utils/meta.py
  py-polars/polars/utils/polars_version.py
  py-polars/src/functions/meta.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, internal

#14234 feat(python): improved `read_excel` format detection, and support for excel 97-2004 workbooks
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/files/example.xls
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-excel

#14228 docs: fix code block in user-guide/lazy/schemas
  docs/src/python/user-guide/lazy/schema.py
  docs/user-guide/concepts/lazy-vs-eager.md
  docs/user-guide/lazy/schemas.md
Labels: documentation, python, rust

#14194 perf: Use a compression API that is designed for this use case (#11699)
  crates/polars-parquet/src/parquet/compression.rs
Labels: python, rust, performance

#14229 fix: Fix join validation for String types
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#14135 fix(python): fix ufunc in agg (change __ufunc_array__ so it uses `is_elementwise=True` parameter)
  py-polars/polars/exceptions.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/map/test_map_batches.py
Labels: python, fix

#14172 feat: Polish decimal arithmetic
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/add.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/commutative.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/div.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/mod.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/mul.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/decimal/sub.rs
  crates/polars-arrow/src/legacy/compute/arithmetics/mod.rs
  crates/polars-arrow/src/legacy/compute/mod.rs
  crates/polars-compute/src/arithmetic/mod.rs
  crates/polars-compute/src/arithmetic/signed.rs
  crates/polars-compute/src/min_max/mod.rs
  crates/polars-core/src/chunked_array/arithmetic/decimal.rs
  crates/polars-core/src/chunked_array/logical/decimal.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#14236 depr(python): Rename `threadpool_size` to `thread_pool_size`
  py-polars/docs/source/reference/metadata.rst
  py-polars/polars/__init__.py
  py-polars/polars/expr/expr.py
  py-polars/polars/meta/__init__.py
  py-polars/polars/meta/build.py
  py-polars/polars/meta/index_type.py
  py-polars/polars/meta/thread_pool.py
  py-polars/polars/meta/versions.py
  py-polars/polars/utils/_construction.py
  py-polars/src/functions/meta.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/meta/__init__.py
  py-polars/tests/unit/meta/test_build.py
  py-polars/tests/unit/meta/test_index_type.py
  py-polars/tests/unit/meta/test_thread_pool.py
  py-polars/tests/unit/meta/test_versions.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/utils/test_build_info.py
Labels: python, deprecation

#14239 fix(python): Make `Series.to_numpy` on booleans without nulls return `bool` type
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/test_numpy.py
Labels: python, fix, A-interop-numpy

#14238 fix: load numpy array with np array values #14237
  py-polars/polars/datatypes/constructor.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix

#14248 refactor(python): Remove `*args` in `Series.to_numpy`
  py-polars/polars/series/series.py
Labels: python, internal

#14243 test(python): frame.py missing test coverage
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/test_random.py
  py-polars/tests/unit/operations/test_with_columns.py
Labels: python, internal

#14244 perf: use is_between to skip parquet row groups
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/tests/io.rs
Labels: python, rust, performance

#14240 feat(python): Change `Series.to_numpy` to return `f64` for `Int32/UInt32` Series with nulls instead of `f32`
  Cargo.lock
  py-polars/Cargo.toml
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
  py-polars/tests/unit/interop/test_numpy.py
Labels: python, enhancement

#14251 feat: Implements `prefix/suffix_fields`
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/name.rs
  py-polars/docs/source/reference/expressions/name.rst
  py-polars/polars/expr/name.py
  py-polars/src/expr/name.rs
  py-polars/tests/unit/namespaces/test_struct.py
Labels: python, rust, enhancement

#14253 feat: Implements `list.gather_every`
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/list.rs
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/namespaces/list/test_list.py
Labels: python, rust, enhancement

#14254 feat(python): read arrow-c-interface without requiring pyarrow
  py-polars/polars/series/series.py
  py-polars/src/series/c_interface.rs
  py-polars/src/series/mod.rs
Labels: python, enhancement

#14256 fix: `any/all_horizontal` with single input has incorrect type
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
Labels: python, rust, fix

#14257 test(python): Reorganize NumPy interop tests
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/interop/numpy/__init__.py
  py-polars/tests/unit/interop/numpy/test_from_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_from_numpy_series.py
  py-polars/tests/unit/interop/numpy/test_numpy.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_series.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/interop/test_numpy.py
  py-polars/tests/unit/namespaces/array/test_array.py
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/series/test_to_numpy.py
  py-polars/tests/unit/test_lazy.py
Labels: python, internal

#14110 fix: allow set operations on list of categoricals
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-plan/src/logical_plan/optimizer/type_coercion/mod.rs
  py-polars/tests/unit/operations/test_sets.py
Labels: python, rust, fix

#14261 perf(python): Avoid unnecessary copies in `Series.to_numpy` for boolean/temporal types
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
Labels: python, performance

#14260 perf: prune parquet row groups when `is_not_null` is used
  crates/polars-io/src/parquet/predicates.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/expressions/apply.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-plan/src/logical_plan/hive.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  examples/datasets/null_nutriscore.csv
Labels: python, rust, performance

#14258 fix: Fix `glimpse` overload signature
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_glimpse.py
Labels: python, rust, fix

#14259 feat(python): move `F-order` data in and out of numpy to polars zero copy
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/_numpy.py
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/src/to_numpy.rs
  py-polars/tests/unit/interop/numpy/test_numpy.py
Labels: python, enhancement

#14241 feat(rust,python): add `u8`/`i8`/`u16`/`i16` parsers to CSV reader
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/buffer.rs
  crates/polars-io/src/csv/read.rs
  crates/polars/Cargo.toml
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#14264 fix: deduplicate recursive growables
  crates/polars-arrow/src/array/growable/binview.rs
Labels: python, rust, fix

#14265 feat(python): add parametric testing support for the `Array` dtype
  py-polars/polars/testing/parametric/__init__.py
  py-polars/polars/testing/parametric/primitives.py
  py-polars/polars/testing/parametric/strategies.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/parametric/time_series/test_truncate.py
Labels: python, enhancement, test

#14272 fix: Allow format object series with registry
  crates/polars-core/src/fmt.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, rust, fix

#14270 fix: relax precision when up scaling
  crates/polars-core/src/chunked_array/logical/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#14276 fix: `list.get` does not work on list of decimals
  crates/polars-arrow/src/compute/take/mod.rs
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/builder/list/primitive.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#14279 chore(python): remove dataframe consortium standard api entrypoint
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dependencies.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/test_consortium_standard.py
Labels: python, internal

#14275 feat(python): Support `Categorical/Enum` in `Series.to_numpy`
  py-polars/polars/series/series.py
  py-polars/src/series/export.rs
  py-polars/tests/unit/interop/numpy/test_numpy.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, enhancement

#14282 docs(python): Update deltalake docstrings to new link
  py-polars/polars/io/delta.py
Labels: documentation, python

#14285 docs(python): Fix explode docstring mentioning String types
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#14288 test(python): Temporarily fix failing deltalake test
  py-polars/tests/unit/io/test_delta.py
Labels: python, internal

#14294 chore(python): Bump ruff version to 0.2.0
  Makefile
  docs/pyproject.toml
  py-polars/Makefile
  py-polars/pyproject.toml
  py-polars/requirements-lint.txt
Labels: python, internal

#14310 docs(python): Small clarifications in the contributing guide
  docs/development/contributing/index.md
  docs/development/contributing/test.md
  py-polars/tests/unit/io/test_delta.py
Labels: documentation, python

#14297 docs(python): Add example for `Series.bin.contains`
  py-polars/polars/series/binary.py
Labels: documentation, python

#14184 docs: Add deprecation period policy example for post-1.0.0
  docs/development/versioning.md
Labels: documentation, python, rust

#14320 fix: Preserve name when casting to Enum
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#14330 feat: Do not panic when casting from an empty Series to pl.Decimal
  crates/polars-core/src/chunked_array/logical/decimal.rs
  crates/polars-core/src/series/ops/null.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement, fix

#14304 fix: Wrap `par_iter` in `list.to_struct` by `POOL.install`
  crates/polars-ops/src/chunked_array/list/to_struct.rs
Labels: python, rust, fix

#14306 feat: Implements `list.n_unique`
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/list.rs
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/list.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/src/expr/list.rs
  py-polars/tests/unit/namespaces/list/test_list.py
Labels: python, rust, enhancement

#14303 fix: Fix `set_operation` if the input is sliced and be broadcast
  crates/polars-ops/src/chunked_array/list/sets.rs
  py-polars/tests/unit/namespaces/list/test_set_operations.py
Labels: python, rust, fix

#14298 feat: Implements `arr.shift`
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/docs/source/reference/series/array.rst
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/src/expr/array.rs
  py-polars/tests/unit/namespaces/array/test_array.py
Labels: python, rust, enhancement

#8107 fix: Remove duplicated content in error messages
  crates/polars-lazy/src/tests/err_msg.rs
  crates/polars-lazy/src/tests/mod.rs
  crates/polars-plan/src/dot.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix, A-exceptions

#14337 test(python): Add test for `Series.to_numpy` with timezones
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, internal

#14341 fix(python): Handle chunked Series in `Series.to_numpy`
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, fix

#14328 fix(python): fix ufunc for unlimited column args
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/map/test_map_batches.py
Labels: python, fix

#14296 refactor(python): Update `Series.to_numpy` to handle Decimal/Time types in Rust
  py-polars/polars/series/series.py
  py-polars/src/conversion/chunked_array.rs
  py-polars/src/conversion/mod.rs
  py-polars/src/series/export.rs
Labels: python, internal

#14348 refactor(python): Minor refactor of `DataFrame.to_numpy` structured code
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#14339 docs: Rust examples for data structures in user guide
  docs/src/python/user-guide/basics/series-dataframes.py
  docs/src/rust/Cargo.toml
  docs/src/rust/user-guide/basics/series-dataframes.rs
Labels: documentation, python, rust

#14338 feat: support decimal comparison
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-core/src/utils/supertype.rs
  py-polars/src/series/comparison.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#14357 fix(python): Require exact checking for Decimals in assertion utils
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, fix

#14360 docs: Realign file structure of user guide
  docs/src/python/user-guide/concepts/data-structures.py
  docs/src/python/user-guide/expressions/missing-data.py
  docs/src/python/user-guide/getting-started/expressions.py
  docs/src/python/user-guide/getting-started/joins.py
  docs/src/python/user-guide/getting-started/reading-writing.py
  docs/src/rust/Cargo.toml
  docs/src/rust/user-guide/concepts/data-structures.rs
  docs/src/rust/user-guide/expressions/missing-data.rs
  docs/src/rust/user-guide/getting-started/expressions.rs
  docs/src/rust/user-guide/getting-started/joins.rs
  docs/src/rust/user-guide/getting-started/reading-writing.rs
  docs/user-guide/concepts/data-structures.md
  docs/user-guide/expressions/index.md
  docs/user-guide/expressions/missing-data.md
  docs/user-guide/getting-started.md
  docs/user-guide/migration/pandas.md
  mkdocs.yml
Labels: documentation, python, rust

#14364 refactor(rust): Minor refactor to satisfy clippy
  crates/polars-arrow/src/array/dictionary/value_map.rs
Labels: rust, internal

#14369 feat: Implement `mean_horizontal` expression
  crates/polars-core/src/frame/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/aggregation/__init__.py
  py-polars/polars/functions/aggregation/horizontal.py
  py-polars/polars/functions/lazy.py
  py-polars/src/functions/aggregation.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/aggregation/test_horizontal.py
Labels: python, rust, enhancement

#14370 perf: simplify negated predicates to improve row groups skipping
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  crates/polars-plan/src/logical_plan/optimizer/simplify_functions.rs
  examples/datasets/null_nutriscore.csv
Labels: python, rust, performance

#14221 feat(rust,python): Implemented tree formatting for LogicalPlan
  Cargo.lock
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/logical_plan/format.rs
  crates/polars-plan/src/logical_plan/mod.rs
  crates/polars-plan/src/logical_plan/tree_format.rs
  py-polars/Makefile
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lazyframe/mod.rs
  py-polars/tests/unit/lazyframe/test_tree_format.py
  py-polars/tests/unit/namespaces/files/test_tree_fmt.txt
Labels: python, rust, enhancement, highlight

#14323 feat(rust): Implements the IntoLazy for LazyFrame
  crates/polars-lazy/src/frame/mod.rs
Labels: rust, enhancement

#14392 feat(rust): Improve panic message for missing struct feature in `DataType::from_arrow`
  crates/polars-core/src/datatypes/field.rs
Labels: rust, enhancement

#14393 refactor(python): Internal rename of `_or` to `or_` in PyO3 (same for `_xor/_and`)
  py-polars/polars/expr/expr.py
  py-polars/src/expr/general.rs
Labels: python, internal

#14394 docs: Fix some typos
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-compute/src/arity.rs
  crates/polars-json/src/ndjson/file.rs
  crates/polars-json/src/ndjson/write.rs
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-parquet/src/parquet/read/compression.rs
  crates/polars-parquet/src/parquet/read/page/indexed_reader.rs
  crates/polars-plan/src/utils.rs
  crates/polars-time/src/chunkedarray/string/strptime.rs
  crates/polars/tests/it/lazy/group_by.rs
  docs/user-guide/concepts/data-types/overview.md
  docs/user-guide/expressions/structs.md
  docs/user-guide/migration/pandas.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/database.py
  py-polars/polars/utils/_construction.py
Labels: documentation, python, rust

#14149 docs(python): Clarify behavior of `DataFrame.rows_by_key`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#14395 docs(python): Define what a 'character' means in `slice` / `len_chars`
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: documentation, python

#14263 feat: Allow brackets in SQL join conditions
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/statements.rs
Labels: python, rust, enhancement, A-sql

#14397 fix(python): Raise if invalid strategy is passed to `map_elements`
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, fix

#10576 docs: Add debugging section to contributing docs
  docs/development/contributing/ide.md
  py-polars/debug/launch.py
Labels: documentation, python, rust

#14402 docs: Fix typo in plugins section
  docs/user-guide/expressions/plugins.md
Labels: documentation, python, rust

#14403 feat: add boolean rle decoding for parquet
  crates/polars-parquet/src/arrow/read/deserialize/boolean/basic.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/decoder.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#14408 chore: Update `make clean` command
  Makefile
  py-polars/Makefile
Labels: python, rust, internal

#14410 feat(python): Allow column name input in `clip`
  crates/polars-ops/src/series/ops/clip.rs
  crates/polars-plan/src/dsl/function_expr/clip.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_clip.py
Labels: python, enhancement

#14405 feat(python): expose numpy view to integer types
  py-polars/src/to_numpy.rs
Labels: python, enhancement

#14406 fix(python,rust): rechunk series when apply_lambda
  py-polars/src/series/mod.rs
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#14407 fix: Series.hist panicking on empty/all-null
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, fix

#14416 fix: Error on some invalid `clip` inputs
  crates/polars-ops/src/series/ops/clip.rs
  py-polars/tests/unit/operations/test_clip.py
Labels: python, rust, fix

#14409 perf: simplify and speed up cum_sum and cum_prod
  crates/polars-ops/src/series/ops/cum_agg.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, performance

#14404 test(python): Minor test refactor
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/namespaces/list/test_set_operations.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/series/test_series.py
Labels: python, internal

#14420 test(python): Set specific temp dir for OOC tests
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
Labels: python, internal

#14399 feat(python): Hide `polars.testing.*` in pytest stack traces
  py-polars/polars/testing/asserts/frame.py
  py-polars/polars/testing/asserts/series.py
  py-polars/tests/unit/testing/test_assert_frame_equal.py
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, enhancement

#14429 ci: Bump release drafter to v6
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-python.yml
Labels: python, rust, internal

#14112 feat: Implement `min`/`max` for categorical dtype
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/series/implementations/categorical.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#14434 test(python): Skip some OOC tests that fail randomly in the CI
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, internal

#14308 fix: pivot was producing incorrect results when (single) `index` was Struct
  crates/polars-ops/src/frame/pivot/positioning.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#14436 feat: apply negate in simplify expression pass
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/test_arity.py
Labels: python, rust, enhancement

#14437 fix: remove literal `Series` from projection state
  crates/polars-arrow/src/legacy/utils.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/logical_plan/optimizer/projection_pushdown/projection.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#14439 test(python): Refactor `arg_min/max` test case
  py-polars/tests/unit/series/test_series.py
Labels: python, internal

#14441 test(python): Raise better error in import timings test
  py-polars/tests/unit/test_polars_import.py
Labels: python, internal

#14428 depr(python): Deprecate positional args in `pivot` to prepare new functionality
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, deprecation

#14449 test(python): Use resolved path in `test_user_guide`
  py-polars/tests/docs/test_user_guide.py
Labels: python, internal

#14438 fix: DataFrame.pivot was returning incorrect results when multiple columns were passed to `index` and one of them was Struct
  crates/polars-ops/src/frame/pivot/positioning.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#14467 ci(python): Ignore unclosed file warnings for now
  py-polars/pyproject.toml
  py-polars/tests/docs/test_user_guide.py
Labels: python, internal

#14469 feat: change print to warn in reading csv from python file like object
  py-polars/src/file.rs
Labels: rust, fix

#14376 fix: Return appropriate data type for duration `mean` and `median`
  crates/polars-core/src/frame/group_by/aggregations/dispatch.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-lazy/src/frame/mod.rs
  py-polars/polars/series/datetime.py
  py-polars/src/series/aggregation.rs
  py-polars/tests/unit/namespaces/test_datetime.py
Labels: python, rust, fix

#14346 perf: Combine small chunks in sinks for streaming pipelines
  crates/polars-pipe/src/executors/sinks/ordered.rs
  crates/polars-pipe/src/executors/sinks/output/file_sink.rs
  crates/polars-pipe/src/operators/chunks.rs
Labels: python, rust, performance

#14461 docs(python): Update `read_database` docstring note about getting the connection URI string for sqlalchemy
  py-polars/polars/io/database.py
Labels: documentation, python

#11899 feat: Increase verbosity of duplicate column error message
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-plan/src/logical_plan/builder.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement, fix

#14473 fix: don't gc after variadic buffers are written
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/serialize/binview.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, fix

#14478 docs(python): Add examples for `Series.bin.ends_with`, `Series.bin.starts_with`, `Series.bin.decode`, `Series.bin.encode`.
  py-polars/polars/series/binary.py
Labels: documentation, python

#14488 docs: Clean up grammar and capitalization in `README.md`
  README.md
Labels: documentation, python, rust

#14483 fix(python): Error on invalid `schema` input in DataFrame constructor
  py-polars/polars/datatypes/convert.py
  py-polars/polars/utils/_construction.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, fix

#14500 feat: add `flush` operator to streaming operators
  crates/polars-pipe/src/operators/operator.rs
  crates/polars-pipe/src/pipeline/dispatcher.rs
Labels: python, rust, enhancement

#14493 fix(python): Remove `is_numeric` check on `Series.std/var`
  py-polars/polars/series/series.py
  py-polars/tests/unit/datatypes/test_duration.py
Labels: python, fix

#14502 refactor(python): Use constant for checking Sphinx building
  py-polars/polars/api.py
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/polars/series/struct.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/test_lazy.py
Labels: python, internal

#13623 docs(rust): Clarify doc summary of `upsample_stable`
  crates/polars-time/src/upsample.rs
Labels: documentation, rust

#14501 build(rust): Fix `json` feature for `polars-sql` crate
  crates/polars-sql/Cargo.toml
Labels: rust, build

#14486 feat: Make formatting more consistent in DOT graphs
  crates/polars-plan/src/dot.rs
Labels: python, rust, enhancement

#14510 fix: race conditions in OOC writing
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-core/src/utils/mod.rs
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/io.rs
  crates/polars-pipe/src/executors/sinks/sort/ooc.rs
Labels: python, rust, fix

#14512 feat: flatten aliases
  crates/polars-plan/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/unit/test_simplify.py
Labels: python, rust, enhancement

#14514 fix: fix binary-offset row-encode
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-row/src/encode.rs
Labels: python, rust, fix

#14517 fix: fix logical dtypes in take_chunked
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, fix

#14522 test(python): Re-enable streaming OOC tests
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
Labels: python, internal

#14518 fix: write csv header if necessary when finishing sinks
  crates/polars-io/src/csv/write.rs
  crates/polars-pipe/src/executors/sinks/output/csv.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#14525 perf: use owned arithmetic in horizontal_sum
  crates/polars-core/src/frame/mod.rs
Labels: python, rust, performance

#14527 fix: Ensure series are contiguous prior to `transpose`
  crates/polars-core/src/frame/row/transpose.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/operations/test_transpose.py
Labels: python, rust, fix

#14520 feat(python): Add `writable` flag to `DataFrame.to_numpy`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
Labels: python, enhancement

#14233 docs(python): Fix `infer_schema_length` param description
  py-polars/polars/convert.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/string.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/json.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/string.py
Labels: documentation, python

#14533 docs(python): Fix docstring example for `Config.save_to_file`
  py-polars/polars/config.py
Labels: documentation, python

#14537 fix: ensure the streaming dispatcher can replace placeholders in unions
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-pipe/src/executors/operators/pass.rs
  crates/polars-pipe/src/executors/sinks/joins/cross.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/operators/sink.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-pipe/src/pipeline/dispatcher.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, fix

#14545 feat: disable status from code coverage
  codecov.yml
Labels: python, rust, enhancement

#14529 feat(python): warn on inefficient use of `map_elements` for temporal attributes/methods
  py-polars/polars/utils/udfs.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#14562 perf(python): Avoid loading pandas in `from_arrow` when array has 0 chunks
  py-polars/polars/utils/_construction.py
Labels: python, performance

#14563 ci: Refactor code coverage workflow
  .github/workflows/codecov.yml
  .github/workflows/test-python.yml
  py-polars/tests/unit/test_serde.py
Labels: python, rust, internal

#14567 docs(python): Fix markdown newline for rendering function description in VSCode
  py-polars/polars/io/csv/functions.py
Labels: documentation, python, rust

#14557 feat(python): improve `read_database` interop with sqlalchemy `Session` connections
  py-polars/polars/io/database.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/io/test_database_read.py
Labels: python, enhancement

#14569 feat(python): Add `allow_copy` parameter to `DataFrame.to_numpy`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
Labels: python, enhancement, deprecation

#14443 feat(rust!): Mark `DataFrame::new_no_checks` and `DataFrame::new_no_length_checks` unsafe
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  crates/polars-core/src/chunked_array/logical/struct_/from.rs
  crates/polars-core/src/chunked_array/random.rs
  crates/polars-core/src/frame/arithmetic.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/frame/from.rs
  crates/polars-core/src/frame/group_by/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/functions.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/flatten.rs
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/csv/read_impl/mod.rs
  crates/polars-io/src/ipc/ipc_stream.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-lazy/src/physical_plan/executors/group_by_partitioned.rs
  crates/polars-lazy/src/physical_plan/executors/projection_utils.rs
  crates/polars-lazy/src/physical_plan/exotic.rs
  crates/polars-lazy/src/physical_plan/expressions/binary.rs
  crates/polars-lazy/src/physical_plan/expressions/window.rs
  crates/polars-lazy/src/physical_plan/node_timer.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-ops/src/series/ops/replace.rs
  crates/polars-ops/src/series/ops/to_dummies.rs
  crates/polars-ops/src/series/ops/various.rs
  crates/polars-pipe/src/executors/operators/projection.rs
  crates/polars-pipe/src/executors/operators/reproject.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/primitive/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/string.rs
  crates/polars-plan/src/logical_plan/builder.rs
  crates/polars-plan/src/logical_plan/functions/merge_sorted.rs
  py-polars/src/arrow_interop/to_rust.rs
  py-polars/src/map/lazy.rs
Labels: rust, enhancement, breaking rust

#14446 chore(rust): Format safety sections in Rust docstrings
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/binary/mutable.rs
  crates/polars-arrow/src/array/binary/mutable_values.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/boolean/mutable.rs
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/array/ffi.rs
  crates/polars-arrow/src/array/fixed_size_binary/mod.rs
  crates/polars-arrow/src/array/fixed_size_binary/mutable.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/growable/binview.rs
  crates/polars-arrow/src/array/growable/mod.rs
  crates/polars-arrow/src/array/indexable.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/primitive/mutable.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/union/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/array/utf8/mutable.rs
  crates/polars-arrow/src/array/utf8/mutable_values.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-arrow/src/buffer/mod.rs
  crates/polars-arrow/src/ffi/array.rs
  crates/polars-arrow/src/ffi/stream.rs
  crates/polars-arrow/src/legacy/array/slice.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/window.rs
  crates/polars-arrow/src/offset.rs
  crates/polars-arrow/src/types/index.rs
  crates/polars-core/src/chunked_array/array/iterator.rs
  crates/polars-core/src/chunked_array/builder/fixed_size_list.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-core/src/series/unstable.rs
  crates/polars-io/src/csv/read.rs
  crates/polars-io/src/parquet/read_impl.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: rust, internal

#14565 feat(python): Warn on inefficient use of `map_elements` for additional string functions
  py-polars/polars/utils/udfs.py
  py-polars/polars/utils/various.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#14571 fix: semi-join and multiple keys outer-join did not respect POLARS_MAX_THREADS
  crates/polars-ops/src/frame/join/hash_join/multiple_keys.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_semi_anti.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
Labels: python, rust, fix
