Repository pola-rs/polars, pull requests merged in 2025-05, with the labels that each got.

#22540 feat: Use fixed-width font in streaming phys plan graph
  crates/polars-stream/src/physical_plan/fmt.rs
Labels: python, rust, enhancement

#22542 fix: Multi-selector regex expansion
  py-polars/polars/selectors.py
Labels: python, rust, fix

#22549 refactor(rust): Add extend_each_repeated to builders
  crates/polars-arrow/src/array/binary/builder.rs
  crates/polars-arrow/src/array/binview/builder.rs
  crates/polars-arrow/src/array/boolean/builder.rs
  crates/polars-arrow/src/array/builder.rs
  crates/polars-arrow/src/array/fixed_size_binary/builder.rs
  crates/polars-arrow/src/array/fixed_size_list/builder.rs
  crates/polars-arrow/src/array/list/builder.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/builder.rs
  crates/polars-arrow/src/array/struct_/builder.rs
  crates/polars-arrow/src/bitmap/builder.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/frame/builder.rs
  crates/polars-core/src/series/builder.rs
Labels: rust, internal

#22556 docs: Improve `join` documentation
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python, rust

#22551 docs(python): Improve `insert_column` docstring (description and examples)
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#22552 chore: Display the operation behind `in-memory-map`
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
Labels: python, rust, internal

#22561 feat: Preserve exception type and traceback for errors raised from Python
  Cargo.lock
  crates/polars-arrow/src/array/specification.rs
  crates/polars-core/Cargo.toml
  crates/polars-error/Cargo.toml
  crates/polars-error/src/lib.rs
  crates/polars-error/src/python.rs
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-mem-engine/Cargo.toml
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  crates/polars-plan/src/dsl/options/sink.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-python/src/dataset/dataset_provider_funcs.rs
  crates/polars-python/src/error.rs
  crates/polars-python/src/lazygroupby.rs
  crates/polars-python/src/map/dataframe.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/io/python_dataset.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/python_function.rs
  py-polars/tests/unit/expr/test_udfs.py
  py-polars/tests/unit/io/cloud/test_cloud.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
  py-polars/tests/unit/io/test_iceberg.py
Labels: python, rust, enhancement

#22550 fix: Allow pivot on `Time` column
  crates/polars-ops/src/frame/pivot/mod.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#22566 fix: Make `replace` and `replace_strict` mapping use list literals
  crates/polars-core/src/chunked_array/builder/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/explode.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/reshape.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/list/min_max.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/chunked_array/strings/find_many.rs
  crates/polars-ops/src/series/ops/is_in.rs
  crates/polars-ops/src/series/ops/replace.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/format.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/iterator.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-sql/src/context.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-testing/src/asserts/utils.rs
  crates/polars/tests/it/core/list.rs
  crates/polars/tests/it/lazy/expressions/arity.rs
  crates/polars/tests/it/lazy/expressions/slice.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  crates/polars/tests/it/lazy/group_by.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_replace_strict.py
Labels: python, rust, fix

#22573 refactor: Unify function flags into 1 bitset
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/functions/business.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/aexpr/scalar.rs
  crates/polars-plan/src/plans/optimizer/fused.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/functions/misc.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, internal

#22575 feat: Support grouping by `pl.Array`
  crates/polars-core/src/frame/group_by/into_groups.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, enhancement

#22577 fix: CSV count rows skipped last line if file did not end with newline
  crates/polars-io/src/csv/read/parser.rs
  py-polars/tests/unit/io/test_lazy_count_star.py
Labels: python, rust, fix

#22541 fix: Fix interpolate on dtype Decimal
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  py-polars/tests/unit/operations/test_interpolate.py
Labels: python, rust, fix

#22592 fix: Consistently use Unix epoch as origin for ``dt.truncate`` (except weekly buckets which start on Mondays)
  crates/polars-time/src/windows/duration.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Labels: python, rust, fix

#22598 ci: Fix test_truncate_path test case
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Labels: python, rust, internal

#22601 fix: Add `new_streaming` feature to `polars` crate
  .github/workflows/release-python.yml
  .github/workflows/test-pyodide.yml
  crates/Makefile
  crates/polars-core/Cargo.toml
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-time/Cargo.toml
  crates/polars/Cargo.toml
Labels: python, rust, fix

#22602 chore: Remove confusing error context calling `.collect(_eager=True)`
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Labels: python, rust, internal

#22597 fix: Panic in group_by_dynamic on single-row df with group_by
  crates/polars-mem-engine/src/executors/group_by_rolling.rs
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#22607 Rust Polars 0.47.1
  .github/workflows/test-rust.yml
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/src/temporal_conversions.rs
  crates/polars-compute/src/lib.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-plan/src/dsl/options/sink.rs
  crates/polars-python/src/conversion/any_value.rs
  crates/polars-python/src/conversion/datetime.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-testing/README.md
Labels: title needs formatting

#22594 feat(python): Support PEP702 `@deprecated` decorator behaviour
  py-polars/polars/__init__.py
  py-polars/polars/_typing.py
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/_utils/unstable.py
  py-polars/polars/_utils/various.py
  py-polars/polars/config.py
  py-polars/polars/convert/general.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/meta.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/business.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/interchange/protocol.py
  py-polars/polars/io/cloud/credential_provider/_builder.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/iceberg/functions.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/ndjson.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/partition.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/meta/thread_pool.py
  py-polars/polars/series/datetime.py
  py-polars/polars/series/plotting.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/asserts/frame.py
  py-polars/polars/testing/asserts/series.py
  py-polars/polars/testing/parametric/strategies/legacy.py
  py-polars/polars/type_aliases.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/interop/numpy/test_ufunc_series.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_init.py
  py-polars/tests/unit/utils/test_deprecation.py
  py-polars/tests/unit/utils/test_unstable.py
Labels: python, enhancement

#22571 refactor(python): Include equiprobable as valid quantile method
  py-polars/polars/_typing.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/group_by.py
  py-polars/polars/series/series.py
Labels: python, internal

#22350 fix: Resolve `get()` SchemaMismatch panic
  crates/polars-expr/src/expressions/gather.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#22613 fix: WASM and PyOdide compile
  crates/polars-lazy/Cargo.toml
Labels: python, rust, fix

#22608 chore: Add `proptest` testing for for parquet decoding kernels
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/bitmap/mod.rs
  crates/polars-arrow/src/bitmap/proptest.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/optional_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required_masked_dense.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/mod.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/proptest.rs
  crates/polars/Cargo.toml
Labels: python, rust, internal

#22492 perf: Switch off `maintain_order` in group-by followed by sort
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  py-polars/tests/unit/lazyframe/test_optimizations.py
Labels: python, rust, performance

#22523 refactor(rust!): Use a wrapper struct to store time zone
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/logical/datetime.rs
  crates/polars-core/src/chunked_array/logical/duration.rs
  crates/polars-core/src/chunked_array/temporal/datetime.rs
  crates/polars-core/src/chunked_array/temporal/duration.rs
  crates/polars-core/src/chunked_array/temporal/mod.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/datatypes/temporal/mod.rs
  crates/polars-core/src/datatypes/temporal/time_unit.rs
  crates/polars-core/src/datatypes/temporal/time_zone.rs
  crates/polars-core/src/frame/row/av_buffer.rs
  crates/polars-core/src/scalar/new.rs
  crates/polars-core/src/scalar/reduce.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-io/src/csv/read/schema_inference.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/ewm_by.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  crates/polars-python/src/conversion/any_value.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/expr/datetime.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/mod.rs
  crates/polars-time/src/date_range.rs
  crates/polars-time/src/offset_by.rs
  crates/polars-time/src/replace.rs
  crates/polars-time/src/round.rs
  crates/polars-time/src/series/mod.rs
  crates/polars-time/src/truncate.rs
  crates/polars-time/src/upsample.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars/tests/it/io/csv.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  docs/source/src/rust/user-guide/transformations/time-series/parsing.rs
  docs/source/src/rust/user-guide/transformations/time-series/timezones.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, rust, internal, breaking rust

#22622 fix: Allow Expr.round() to be called on integer dtypes
  crates/polars-ops/src/series/ops/round.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#22581 perf: Add streaming cross-join node
  crates/polars-arrow/src/array/struct_/builder.rs
  crates/polars-core/src/frame/builder.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-stream/src/nodes/joins/cross_join.rs
  crates/polars-stream/src/nodes/joins/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, performance

#22246 chore: Add a nix flake with a devShell and package
  flake.lock
  flake.nix
Labels: python, rust, internal

#21806 feat(python): Allow to read and write custom file-level parquet metadata
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-io/src/parquet/write/key_value_metadata.rs
  crates/polars-io/src/parquet/write/mod.rs
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/read/schema/metadata.rs
  crates/polars-parquet/src/arrow/read/schema/mod.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/functions/io.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/_typing.py
  py-polars/polars/_utils/parquet.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/parquet/__init__.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, enhancement

#22632 feat(python): Support use of literal values as "other" when evaluating `Series.zip_with`
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#22642 fix: DSL version deserialization endianness
  crates/polars-plan/src/dsl/plan.rs
Labels: python, rust, fix

#22647 refactor(rust): Use named fields for Logical
  crates/polars-core/src/chunked_array/arithmetic/decimal.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/date.rs
  crates/polars-core/src/chunked_array/logical/datetime.rs
  crates/polars-core/src/chunked_array/logical/decimal.rs
  crates/polars-core/src/chunked_array/logical/duration.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/chunked_array/logical/time.rs
  crates/polars-core/src/chunked_array/temporal/datetime.rs
  crates/polars-core/src/chunked_array/temporal/duration.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-ops/src/chunked_array/datetime/replace_time_zone.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-python/src/conversion/chunked_array.rs
  crates/polars-time/src/base_utc_offset.rs
  crates/polars-time/src/chunkedarray/duration.rs
  crates/polars-time/src/dst_offset.rs
  crates/polars-time/src/month_end.rs
  crates/polars-time/src/month_start.rs
  crates/polars-time/src/offset_by.rs
Labels: rust, internal

#22649 fix: Bump argminmax to 0.6.3
  Cargo.lock
  crates/polars-ops/Cargo.toml
Labels: python, rust, fix

#22648 refactor(rust): Emphasize PolarsDataType::get_dtype is static-only
  crates/polars-core/src/chunked_array/builder/mod.rs
  crates/polars-core/src/chunked_array/builder/primitive.rs
  crates/polars-core/src/chunked_array/collect.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ndarray.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-core/src/chunked_array/ops/arity.rs
  crates/polars-core/src/chunked_array/ops/bit_repr.rs
  crates/polars-core/src/chunked_array/ops/explode.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/trusted_len.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/arithmetic/borrowed.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-ops/src/chunked_array/repeat_by.rs
  crates/polars-ops/src/series/ops/arg_min_max.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate_by.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
Labels: rust, internal

#22469 fix: Return input instead of panicking if empty subset in `drop_nulls()` and `drop_nans()`
  crates/polars-plan/src/dsl/builder_dsl.rs
  py-polars/tests/unit/operations/test_drop.py
Labels: python, rust, fix

#22626 chore: Add proptest for row-encode
  Cargo.lock
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/proptest.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/primitive/mod.rs
  crates/polars-arrow/src/array/primitive/proptest.rs
  crates/polars-arrow/src/array/proptest.rs
  crates/polars-row/Cargo.toml
  crates/polars-row/src/encode.rs
Labels: python, rust, internal

#22651 feat: Allow setting of regex size limit using `POLARS_REGEX_SIZE_LIMIT`
  crates/polars-utils/src/regex_cache.rs
Labels: python, rust, enhancement

#22621 fix: Panic on `group_by` with literal and empty rows
  crates/polars-core/src/frame/group_by/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#22643 chore: Stabilize `sink_*`
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, internal

#22611 feat(python): Allow casting List<UInt8> to Binary
  crates/polars-compute/src/cast/mod.rs
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, enhancement

#22655 fix(rust): Fix polars crate not compiling when lazy feature enabled
  crates/polars-lazy/src/frame/mod.rs
  crates/polars/Cargo.toml
Labels: rust, fix

#22661 fix: Fix `index out of bounds` panic when scanning hugging face
  crates/polars-io/src/path_utils/hugging_face.rs
  crates/polars-io/src/path_utils/mod.rs
Labels: python, rust, fix

#22669 fix: Fix predicate pushdown of fallible expressions
  crates/polars-plan/src/plans/aexpr/minterm_iter.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/conversion/convert_utils.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#22617 feat(python): Add `cast_options` parameter to control type casting in `scan_parquet`
  crates/polars-core/src/datatypes/temporal/time_zone.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/dsl/file_scan/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/cast_options.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/io/test_scan_cast.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#22685 fix: Gzip has maximum compression of 9, not 10
  crates/polars-parquet/src/parquet/parquet_bridge.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, fix

#22694 docs(python): Fix non-rendering bullet points in `scan_iceberg`
  py-polars/polars/io/iceberg/functions.py
Labels: documentation, python

#22652 feat: Add options to write Parquet field metadata
  crates/polars-arrow/src/datatypes/field.rs
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-io/src/parquet/write/mod.rs
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/pages.rs
  crates/polars-parquet/src/arrow/write/row_group.rs
  crates/polars-parquet/src/arrow/write/schema.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/type_check/mod.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  crates/polars/tests/it/io/parquet/roundtrip.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/io/parquet/__init__.py
  py-polars/polars/io/parquet/field_overwrites.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#22615 chore: Add test for `str.replace_many`
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, internal

#22697 fix: Don't mark `str.replace_many` with Mapping as deprecated
  py-polars/polars/expr/string.py
Labels: python, rust, fix

#22680 refactor: Move to all optimization flags to `QueryOptFlags`
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/optflags.rs
  py-polars/docs/source/reference/lazyframe/miscellaneous.rst
  py-polars/polars/__init__.py
  py-polars/polars/_utils/cloud.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/__init__.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/lazyframe/opt_flags.py
  py-polars/tests/unit/cloud/test_prepare_cloud_plan.py
  py-polars/tests/unit/functions/as_datatype/test_concat_str.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_json.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/lazyframe/test_collect_all.py
  py-polars/tests/unit/lazyframe/test_engine_selection.py
  py-polars/tests/unit/lazyframe/test_explain.py
  py-polars/tests/unit/lazyframe/test_optimizations.py
  py-polars/tests/unit/lazyframe/test_order_observability.py
  py-polars/tests/unit/lazyframe/test_with_context.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/arithmetic/utils.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/test_cross_join.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_gather.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_profile.py
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_cwc.py
  py-polars/tests/unit/test_expansion.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, internal

#22698 docs(python): Add missing `repeat_by` to API reference, fixup `list.get`
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
Labels: documentation, python

#22682 feat(python): Support inference of `Int128` dtype from databases that support it
  py-polars/polars/convert/general.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/io/database/_executor.py
  py-polars/polars/io/database/_inference.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/database/test_inference.py
Labels: python, enhancement, A-io-database

#22582 refactor: Dispatch `.write_*` to `.lazy().sink_*(engine='in-memory')`
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/file.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_count_star.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#22638 feat: Support optimised init from non-dict `Mapping` objects in `from_records` and frame/series constructors
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/series/construction.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/_utils/construction/utils.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, rust, enhancement, performance

#22711 chore: Add proptest implementations for all Array types
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/binary/proptest.rs
  crates/polars-arrow/src/array/binview/proptest.rs
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-arrow/src/array/boolean/proptest.rs
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/fixed_size_list/proptest.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/list/proptest.rs
  crates/polars-arrow/src/array/proptest.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/struct_/proptest.rs
  crates/polars-arrow/src/bitmap/bitmask.rs
  crates/polars-row/src/encode.rs
Labels: python, rust, internal

#22715 perf: Add elementwise execution mode for `list.eval`
  crates/polars-lazy/src/dsl/list.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, performance

#22672 fix: Fix deadlock joining scanned tables with low thread count
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/cache.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/optimizer/expand_datasets.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/plans/visitor/hash.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/unique_id.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#22729 test(python): Fix unstable `list.eval` performance test
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, internal

#22722 feat: Support `AnyValue` translation from `PyMapping` values
  crates/polars-plan/src/dsl/string.rs
  crates/polars-python/src/conversion/any_value.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, enhancement

#22712 feat: Allow for `.over` to be called without `partition_by`
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/general.rs
  crates/polars/tests/it/lazy/expressions/window.rs
  docs/source/src/rust/user-guide/expressions/window.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_over.py
Labels: python, rust, enhancement

#22707 fix: Properly account for nulls in the `is_not_nan` check made in `drop_nans`
  crates/polars-plan/src/dsl/builder_dsl.rs
  py-polars/tests/unit/operations/test_drop.py
Labels: python, rust, fix

#22606 feat: Improved time-string parsing and inference (generally, and via the SQL interface)
  crates/polars-sql/src/types.rs
  crates/polars-time/src/chunkedarray/string/patterns.rs
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/sql/test_temporal.py
Labels: python, rust, enhancement, A-sql

#22739 fix: Provide schema even if empty json, fixes #22738
  py-polars/polars/convert/normalize.py
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#22624 chore: Update cloud docs
  docs/source/polars-cloud/cli.md
  docs/source/polars-cloud/explain/authentication.md
  docs/source/polars-cloud/explain/service-accounts.md
  docs/source/polars-cloud/organizations.md
  docs/source/polars-cloud/quickstart.md
  docs/source/polars-cloud/run/compute-context.md
  docs/source/polars-cloud/run/workflow.md
  docs/source/src/python/polars-cloud/authentication.py
  docs/source/src/python/polars-cloud/quickstart.py
  mkdocs.yml
Labels: python, rust, internal

#22555 docs(python): Add documentation to new `RoundMode` parameter in `round`
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#22700 perf: Increase default cross-file parallelism limit for new-streaming multiscan
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/slice.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, performance

#22657 docs: Rework documentation for `drop`/`fill` for nulls/nans
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#22589 fix(python): Fix the default value type in `Schema` init
  py-polars/polars/schema.py
Labels: python, fix

#22756 docs(python): Provide additional explanation and examples for the `value_counts` "normalize" parameter
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#22765 fix: Don't merge `Enum` categories on append
  crates/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  py-polars/tests/unit/series/test_append.py
Labels: python, rust, fix

#22759 fix: Handle sliced out remainder for bitmaps
  Cargo.lock
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/bitmap/bitmap_ops.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/bitmap/utils/chunk_iterator/mod.rs
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/unique/boolean.rs
  crates/polars/tests/it/arrow/bitmap/utils/chunk_iter.rs
  py-polars/tests/unit/operations/namespaces/list/test_unique.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#22771 fix: Clippy on new stable version
  crates/polars/tests/it/io/avro/read.rs
Labels: python, rust, fix

#22760 fix: Fallback to non-strict casting for deprecated casts
  crates/polars-core/src/utils/series.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#22734 feat(rust): Allow named opaque functions for serde
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/expr/named_serde.rs
  crates/polars-plan/src/dsl/expr/serde_expr.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
Labels: rust, enhancement

#22777 docs(python): Add `match_to_schema` to API reference
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#22778 fix: Correct the output order of `PartitionByKey` and `PartitionParted`
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, fix

#22773 feat: Add `nulls_equal` flag to `list/arr.contains`
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-python/src/expr/array.rs
  crates/polars-python/src/expr/list.rs
  crates/polars-sql/src/functions.rs
  py-polars/polars/expr/array.py
  py-polars/polars/expr/list.py
  py-polars/polars/series/array.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, rust, enhancement

#22776 refactor: Hide option in scan ID formatting
  crates/polars-plan/src/plans/ir/format.rs
Labels: python, rust, skip changelog, internal

#22785 fix: Respect BinaryOffset metadata
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/from.rs
Labels: python, rust, fix

#22786 feat: Support binaryoffset in search sorted
  crates/polars-ops/src/series/ops/search_sorted.rs
Labels: python, rust, enhancement

#22762 docs: Fix broken link to service account page in Polars Cloud docs
  docs/source/polars-cloud/explain/authentication.md
Labels: documentation, python, rust

#22783 fix(python): Fix typing of `match_to_schema` parameters
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: python, skip changelog, fix

#22787 Python 1.30 pre-release
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#22792 fix: Panic on quantile over nulls in rolling window
  crates/polars-compute/src/rolling/nulls/quantile.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#22797 perf: Allow predicate passing set_sorted
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#22799 fix: Don't panic for cross join with misaligned chunking
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/utils/mod.rs
  py-polars/tests/unit/operations/test_cross_join.py
Labels: python, rust, fix

#22808 docs: Add pre-release policy
  docs/source/development/versioning.md
Labels: documentation, python, rust

#22802 fix: Add type equality checking for relevant methods
  py-polars/polars/_utils/various.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_equals.py
  py-polars/tests/unit/dataframe/test_extend.py
  py-polars/tests/unit/dataframe/test_merge_sorted.py
  py-polars/tests/unit/dataframe/test_vstack.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/lazyframe/test_merged_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/series/test_append.py
  py-polars/tests/unit/series/test_equals.py
  py-polars/tests/unit/series/test_extend.py
  py-polars/tests/unit/series/test_zip_with.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#22806 chore(rust): Remove unused dependencies in `polars-arrow`
  Cargo.lock
  crates/polars-arrow/Cargo.toml
Labels: rust, internal

#22749 feat: Implemented `list.filter`
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-python/Cargo.toml
  crates/polars-python/src/expr/list.rs
  crates/polars/Cargo.toml
  py-polars/Cargo.toml
  py-polars/polars/expr/list.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, rust, enhancement

#22803 chore: Fix flake.nix to work on macos
  flake.nix
Labels: python, rust, internal

#22809 chore: Fix `nix build`
  .typos.toml
  flake.lock
  flake.nix
Labels: python, rust, internal

#22817 fix(python): Don't require numpy for search_sorted
  py-polars/polars/series/series.py
Labels: python, fix

#22548 chore(rust): Cleanup `polars-python` lifetimes
  crates/polars-python/src/batched_csv.rs
  crates/polars-python/src/catalog/unity.rs
  crates/polars-python/src/cloud.rs
  crates/polars-python/src/conversion/any_value.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/construction.rs
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/dataframe/serde.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/functions/io.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-python/src/interop/arrow/to_py.rs
  crates/polars-python/src/interop/arrow/to_rust.rs
  crates/polars-python/src/interop/numpy/to_numpy_df.rs
  crates/polars-python/src/interop/numpy/to_numpy_series.rs
  crates/polars-python/src/interop/numpy/utils.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/serde.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-python/src/map/dataframe.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/aggregation.rs
  crates/polars-python/src/series/arithmetic.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/comparison.rs
  crates/polars-python/src/series/construction.rs
  crates/polars-python/src/series/export.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/import.rs
  crates/polars-python/src/series/scatter.rs
Labels: rust, internal

#22831 feat(rust): Format named functions
  crates/polars-plan/src/dsl/format.rs
Labels: rust, enhancement

#22832 fix: Fix reverse list type
  crates/polars-core/src/chunked_array/ops/reverse.rs
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/test_reverse.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#22833 fix(python): Fix map_elements predicate pushdown
  crates/polars-plan/src/plans/aexpr/properties.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, fix

#22834 chore: Update Polars Rust versions
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-parquet/Cargo.toml
  crates/polars-testing/README.md
Labels: python, rust, internal

#22839 build: Add missing features
  crates/polars-error/Cargo.toml
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/parquet/metadata/column_chunk_metadata.rs
  crates/polars-parquet/src/parquet/metadata/column_descriptor.rs
  crates/polars-parquet/src/parquet/metadata/column_order.rs
  crates/polars-parquet/src/parquet/metadata/schema_descriptor.rs
  crates/polars-parquet/src/parquet/metadata/sort.rs
  crates/polars-parquet/src/parquet/parquet_bridge.rs
  crates/polars-parquet/src/parquet/schema/types/basic_type.rs
  crates/polars-parquet/src/parquet/schema/types/converted_type.rs
  crates/polars-parquet/src/parquet/schema/types/parquet_type.rs
  crates/polars-parquet/src/parquet/schema/types/physical_type.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/temporal.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/python/predicate.rs
  crates/polars-plan/src/plans/python/pyarrow.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-stream/Cargo.toml
  crates/polars-testing/Cargo.toml
Labels: python, rust, build

#22846 build: Fix building `polars-lazy` with certain features
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/mod.rs
Labels: python, rust, build

#22481 chore(python): Add basic smoke test for free-threaded python
  .github/workflows/test-python.yml
Labels: python, internal

#22850 perf: Switch eligible casts to non-strict in optimizer
  crates/polars-plan/src/dsl/file_scan/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-python/src/conversion/mod.rs
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#22851 feat(python): Load AWS `endpoint_url` using boto3
  crates/polars-core/src/config.rs
  crates/polars-io/src/cloud/credential_provider.rs
  crates/polars-io/src/cloud/options.rs
  py-polars/polars/_utils/logging.py
  py-polars/polars/io/cloud/credential_provider/_builder.py
  py-polars/polars/io/cloud/credential_provider/_providers.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, enhancement

#22854 chore: Update Rust Polars versions
  Cargo.lock
  Cargo.toml
  crates/polars-testing/README.md
Labels: python, rust, internal

#22856 Python Polars 1.30
  Cargo.lock
  crates/polars-core/src/series/any_value.rs
  py-polars/Cargo.toml
Labels: title needs formatting

#22852 fix: Ensure rename behaves the same as select
  crates/polars-core/src/frame/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/functions/rename.rs
  crates/polars-plan/src/plans/functions/schema.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/rename.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/lazyframe/test_rename.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#22881 fix: Fix error using `write_csv` with `storage_options`
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_write.py
Labels: python, rust, fix

#22901 fix: Don't silently overflow for temporal casts
  crates/polars-compute/src/arithmetic/float.rs
  crates/polars-compute/src/arithmetic/mod.rs
  crates/polars-compute/src/arithmetic/signed.rs
  crates/polars-compute/src/arithmetic/unsigned.rs
  crates/polars-compute/src/cast/primitive_to.rs
  crates/polars-core/src/chunked_array/arithmetic/numeric.rs
  crates/polars-core/src/chunked_array/logical/date.rs
  crates/polars-core/src/chunked_array/logical/datetime.rs
  crates/polars-core/src/chunked_array/logical/duration.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#22822 fix(rust): Set the sorted flag on Array after it is sorted
  crates/polars-core/src/series/implementations/array.rs
Labels: rust, fix

#22894 fix: Correct `int_ranges` to raise error on invalid inputs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/int_range.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  py-polars/tests/unit/functions/range/test_int_range.py
Labels: python, rust, fix

#22902 fix(python): Add {top, bottom}_k_by to Series
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, fix

#22885 fix: Add inline implodes in type coercion
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/lit.rs
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/operations/aggregation/test_implode.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_over.py
Labels: python, rust, fix

#22897 perf: Optimise low-level `null` scans and `arg_max` for bools (when chunked)
  crates/polars-core/src/utils/mod.rs
  crates/polars-ops/src/series/ops/arg_min_max.rs
  crates/polars-ops/src/series/ops/index_of.rs
  py-polars/tests/unit/operations/test_index_of.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, performance

#22903 perf: Don't go through row encoding for most types on `index_of`
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-ops/src/series/ops/index_of.rs
  crates/polars-plan/Cargo.toml
Labels: python, rust, performance

#22789 feat: Add per partition sort and finish callback to sinks
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/options/sink.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/metrics.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/by_key.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/nodes/io_sinks/partition/parted.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/python_convert_registry.rs
  py-polars/polars/io/partition.py
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, enhancement

#22917 docs(python): Add missing `top_k_by` and `bottom_k_by` to `Series` reference
  py-polars/docs/source/reference/series/modify_select.rst
Labels: documentation, python

#22924 docs: Add missing entry for LazyFrame `__getitem__`
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python, rust

#22913 fix: Return early in pl.Expr.__array_ufunc__ when only single input
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
Labels: python, rust, fix

#22907 perf: Add first_(true|false)_idx to BooleanChunked and use in bool arg_(min|max)
  crates/polars-arrow/src/legacy/bit_util.rs
  crates/polars-core/src/chunked_array/ops/bits.rs
  crates/polars-ops/src/series/ops/arg_min_max.rs
  crates/polars-ops/src/series/ops/index_of.rs
Labels: python, rust, performance

#22915 fix: Allow subclasses in type equality checking
  py-polars/polars/_utils/various.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_equals.py
  py-polars/tests/unit/dataframe/test_extend.py
  py-polars/tests/unit/dataframe/test_merge_sorted.py
  py-polars/tests/unit/dataframe/test_vstack.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/lazyframe/test_merged_sorted.py
  py-polars/tests/unit/series/test_equals.py
  py-polars/tests/unit/series/test_zip_with.py
Labels: python, rust, fix

#22932 fix(python): Guard against invalid nested objects in 'map_elements'
  crates/polars-core/src/fmt.rs
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/map.rs
  py-polars/tests/unit/datatypes/test_object.py
Labels: python, fix

#22699 feat(python): Add `extra_columns` parameter to `scan_parquet`
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/options.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/dsl/file_scan/mod.rs
  crates/polars-plan/src/plans/optimizer/expand_datasets.rs
  crates/polars-python/src/io/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lib.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  py-polars/polars/io/__init__.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/scan_options/__init__.py
  py-polars/polars/io/scan_options/_options.py
  py-polars/polars/io/scan_options/cast_options.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/io/test_scan_options.py
Labels: python, rust, enhancement

#22941 fix: Update arrow format
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/src/io/ipc/read/file.rs
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix

#22928 fix(python): Guard against dictionaries being passed to `with_columns`
  py-polars/polars/_utils/parse/expr.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/test_projections.py
Labels: python, fix

#22962 fix(python): Narrow return type for `DataType.is_`, improve Pyright's type completeness from 69% to 95%
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, fix

#22960 fix: Setting `compat_level=0` for `sink_ipc`
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  py-polars/tests/unit/io/test_lazy_ipc.py
Labels: python, rust, fix

#22784 depr(python): Deprecate `allow_missing_columns` in `scan_parquet` in favor of `missing_columns`
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-python/src/io/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/missing_columns.rs
  py-polars/polars/io/delta.py
  py-polars/polars/io/iceberg/dataset.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/scan_options/_options.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_scan.py
Labels: python, deprecation

#22969 refactor(rust): Don't enable `ir_serde` together with `serde`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/iejoin/mod.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/dsl/options/sink.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/joins.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/semi_anti_join.rs
  crates/polars-plan/src/plans/python/source.rs
  crates/polars-plan/src/plans/schema.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/cloud_client.rs
  crates/polars-python/src/cloud_server.rs
  crates/polars-python/src/lib.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/arena.rs
  crates/polars/Cargo.toml
  py-polars/src/lib.rs
Labels: rust, internal

#22971 chore(python): Fix CI for latest pandas-stubs release
  py-polars/polars/_utils/construction/dataframe.py
Labels: python, internal

#22973 feat: Remove duplicate verbose logging from `FetchedCredentialsCache`
  crates/polars-io/src/cloud/credential_provider.rs
Labels: python, rust, enhancement

#22986 fix: Integer underflow in `propagate_nulls`
  crates/polars-compute/src/propagate_nulls.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/functions/as_datatype/test_struct.py
  py-polars/tests/unit/functions/test_when_then.py
Labels: python, rust, fix

#22987 fix: Allow for IO plugins with reordered columns in streaming
  crates/polars-core/src/frame/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, fix

#22989 refactor: Implement `Hash` and use `SpecialEq` for `RenameAliasFn`
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/name.rs
Labels: python, rust, internal

#22949 fix: Support `skip_lines` for `scan_csv` with `pl.len()`
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-plan/src/plans/functions/count.rs
  py-polars/tests/unit/io/test_lazy_count_star.py
Labels: python, rust, fix

#22995 perf: Move row index materialization in post-apply to occur after slicing
  .github/workflows/test-python.yml
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, performance

#22984 refactor(rust): Use a ref-counted `UniqueId` instead of `usize` for `cache_id`
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-mem-engine/src/executors/cache.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/collapse_and_project.rs
  crates/polars-plan/src/plans/optimizer/cse/cse_lp.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-utils/src/unique_id.rs
Labels: rust, internal

#23010 fix(rust): Fix incorrect `size_hint()` for `FlatIter`
  crates/polars-expr/src/expressions/group_iter.rs
Labels: rust, fix

#23013 feat: Add `required: bool` to `ParquetFieldOverwrites`
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/pages.rs
  crates/polars-parquet/src/arrow/write/schema.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/io/parquet/field_overwrites.py
  py-polars/tests/unit/io/test_parquet_field_overwrites.py
Labels: python, rust, enhancement
