Repository pola-rs/polars, pull requests merged in 2025-02, with the labels that each got.

#21030 refactor(rust): Use string-based keyboard interrupt panic detection
  crates/polars-error/src/signals.rs
  crates/polars-python/src/utils.rs
Labels: rust, internal

#20994 fix(python): Ensure `write_excel` recognises the Array dtype and writes it out as a string
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-spreadsheet

#20960 feat: Implement a streaming merge sorted node
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/merge_sorted.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, enhancement

#20938 test(python): Added test to check for the computation of list.len for null
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, internal

#20906 fix: Fix `set_tbl_width_chars` panicking with negative width
  crates/polars-core/src/fmt.rs
  py-polars/polars/config.py
  py-polars/tests/unit/test_config.py
Labels: python, rust, fix

#20747 docs(python): Add missing `shape` param to `Array` docstring
  py-polars/polars/datatypes/classes.py
Labels: documentation, python

#20746 docs(python): Add example showing use of `write_delta` with `delta_lake.WriterProperties`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#19815 feat: Support max/min method for Time dtype
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, rust, enhancement

#21042 fix: Fix rolling on empty DataFrame panicking
  crates/polars-time/src/windows/group_by.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#21043 fix: Calling `top_k` on list type panics
  crates/polars-ops/src/chunked_array/top_k.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, fix

#21040 chore: Fix new ruff lints
  py-polars/polars/sql/context.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, rust, internal

#21047 feat(python): Add CredentialProviderAzure parameter to accept user-instantiated azure credential classes
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/src/python/user-guide/io/cloud-storage.py
  docs/source/src/rust/user-guide/io/cloud-storage.rs
  docs/source/user-guide/io/cloud-storage.md
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, enhancement

#21044 fix: Invalidate sortedness flag when sorting from pl.Categorical to pl.Categorical("lexical")
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#21050 fix: Quadratic allocations when loading nested Parquet column metadata
  crates/polars-parquet/src/parquet/metadata/column_descriptor.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-parquet/src/parquet/metadata/schema_descriptor.rs
Labels: python, rust, fix

#21039 feat: Hold string cache in new streaming engine and fix row-encoding
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/eval.rs
  crates/polars-pipe/src/executors/sinks/group_by/generic/hash_table.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_build.rs
  crates/polars-pipe/src/executors/sinks/joins/row_values.rs
  crates/polars-pipe/src/executors/sinks/sort/sink_multiple.rs
  crates/polars-python/src/series/general.rs
  crates/polars-row/src/row.rs
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/test_hist.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_replace_strict.py
  py-polars/tests/unit/operations/test_sets.py
  py-polars/tests/unit/operations/test_shift.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_unpivot.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, enhancement

#21053 docs: Correct Arrow misconception
  docs/source/index.md
Labels: documentation, python, rust

#21054 chore(rust): Add force_populate_read for debugging pagefault performance problems
  crates/polars-stream/src/nodes/io_sources/parquet/mem_prefetch_funcs.rs
  crates/polars-utils/src/mem.rs
Labels: rust, internal

#21045 feat: Implement `merge_sorted` for binary
  crates/polars-ops/src/frame/join/merge_sorted.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, enhancement

#21060 test: Skip physical order test
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, internal

#21061 refactor: Improve binary dispatch
  crates/polars-ops/src/frame/join/merge_sorted.rs
Labels: python, rust, internal

#21071 perf(python): Micro-optimise internal `DataFrame` height and width checks
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/getitem.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_from_dict.py
  py-polars/tests/unit/dataframe/test_getitem.py
  py-polars/tests/unit/dataframe/test_null_count.py
  py-polars/tests/unit/dataframe/test_to_dict.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/functions/test_lit.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
  py-polars/tests/unit/operations/test_explode.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, performance

#21072 perf: Rechunk only once during join probe gather
  crates/polars-stream/src/nodes/joins/equi_join.rs
Labels: python, rust, performance

#21074 feat(python): Add `is_object` method to Polars `DataType` class
  py-polars/polars/convert/general.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/constructors/test_dataframe.py
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/interop/test_to_pandas.py
  py-polars/tests/unit/series/test_scatter.py
Labels: python, enhancement, A-dtype

#21067 fix: Fix `join_where` incorrectly dropping transformations on RHS of equality expressions
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  py-polars/tests/unit/lazyframe/test_optimizations.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21085 docs(python): Replace pandas `where` with `mask` in Migrating -> Coming from Pandas
  docs/source/user-guide/migration/pandas.md
Labels: documentation, python

#21090 fix: Do not auto-init CredentialProviderAWS if credential fetch returns error
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, rust, fix

#21089 feat(python): Add `write_table()` function to Unity catalog client
  py-polars/polars/catalog/unity/client.py
  py-polars/tests/unit/io/cloud/test_catalog.py
Labels: python, enhancement

#21080 perf: Add dedicated concatenate kernels
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/values.rs
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/legacy/array/fixed_size_list.rs
  crates/polars-arrow/src/legacy/array/list.rs
  crates/polars-arrow/src/legacy/kernels/concatenate.rs
  crates/polars-arrow/src/legacy/kernels/mod.rs
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-json/src/ndjson/deserialize.rs
  crates/polars-ops/src/chunked_array/gather_skip_nulls.rs
  crates/polars-ops/src/frame/pivot/unpivot.rs
  crates/polars-ops/src/series/ops/rank.rs
Labels: python, rust, performance

#21086 chore(python): Upgrade packages and apply latest formatting
  py-polars/polars/dataframe/frame.py
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
  py-polars/tests/unit/dataframe/test_getitem.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/lazyframe/cuda/test_node_visitor.py
  py-polars/tests/unit/lazyframe/test_getitem.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
  py-polars/tests/unit/operations/test_hist.py
  py-polars/tests/unit/sql/test_set_ops.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_api.py
  py-polars/tests/unit/test_config.py
Labels: python, internal

#21075 test: Add various tests for open issues
  py-polars/tests/unit/constructors/test_series.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_fill_null.py
  py-polars/tests/unit/operations/test_join_asof.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, internal

#21088 fix(rust): Fix minor histogram issues
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/tests/unit/operations/test_hist.py
Labels: rust, fix

#21092 fix(python): Fix credential provider error
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, skip changelog, fix

#21049 fix: Validate/coerce types for comparisons within join_where predicates
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/conversion/type_coercion/binary.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/join_utils.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/python/pyarrow.rs
  py-polars/tests/unit/operations/test_inequality_join.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21079 feat(python): IO plugins suppport lazy schema
  Cargo.lock
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/frame/python.rs
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/dsl/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/python_dsl/mod.rs
  crates/polars-plan/src/dsl/python_dsl/source.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-plan/src/plans/optimizer/fused.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/python/source.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  py-polars/Cargo.toml
  py-polars/polars/io/plugins.py
  py-polars/polars/lazyframe/frame.py
Labels: python, enhancement

#21057 build: Speed up CI by running a few more tests in parallel
  .github/workflows/test-python.yml
Labels: python, rust, build

#21098 perf: Deduplicate buffers again in stringview concat kernel
  crates/polars-arrow/src/compute/concatenate.rs
Labels: python, rust, performance

#21101 perf: Enable parquet column expressions for streaming
  crates/polars-core/src/chunked_array/from.rs
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/count.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/rolling.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/sort.rs
  crates/polars-expr/src/expressions/sortby.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-mem-engine/src/predicate.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/predicate.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/aexpr/minterm_iter.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/predicates/column_expr.rs
  crates/polars-plan/src/plans/aexpr/predicates/mod.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, performance

#20941 feat: Add `linear_spaces`
  crates/polars-ops/src/series/ops/linear_space.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/function_expr/range/linear_space.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/range/utils.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-python/src/functions/range.rs
  py-polars/docs/source/reference/expressions/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/range/__init__.py
  py-polars/polars/functions/range/linear_space.py
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/range/test_linear_space.py
Labels: python, rust, enhancement

#21109 perf: Enable prefiltered by default for new streaming
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/predicates.rs
  crates/polars-plan/src/plans/aexpr/predicates/column_expr.rs
  crates/polars-plan/src/plans/aexpr/predicates/mod.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: python, rust, performance, needs-bench

#21112 perf: Reduce conversion cost in chunked string gather
  crates/polars-compute/src/gather/binview.rs
  crates/polars-compute/src/gather/mod.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
Labels: python, rust, performance

#21114 chore: Add test for equality filters in Parquet
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#21116 perf: Use Cow as output for rechunk and add rechunk_mut
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/iterator/par/list.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/from.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/downcast.rs
  crates/polars-core/src/chunked_array/ops/explode_and_offsets.rs
  crates/polars-core/src/chunked_array/ops/extend.rs
  crates/polars-core/src/chunked_array/ops/gather.rs
  crates/polars-core/src/chunked_array/ops/reverse.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/agg_list.rs
  crates/polars-core/src/frame/group_by/aggregations/boolean.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/string.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/utils/mod.rs
  crates/polars-expr/src/expressions/filter.rs
  crates/polars-lazy/src/dsl/list.rs
  crates/polars-ops/src/chunked_array/hist.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-ops/src/chunked_array/scatter.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/frame/join/asof/default.rs
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/iejoin/mod.rs
  crates/polars-ops/src/series/ops/concat_arr.rs
  crates/polars-ops/src/series/ops/is_first_distinct.rs
  crates/polars-ops/src/series/ops/is_last_distinct.rs
  crates/polars-ops/src/series/ops/rank.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/scatter.rs
  crates/polars-stream/src/nodes/merge_sorted.rs
Labels: python, rust, performance

#21121 feat(python): Ensure AWS credential provider sources AWS_PROFILE from environment after deserialization
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, enhancement

#21122 fix: Use microseconds for Unity catalog datetime unit
  crates/polars-io/src/catalog/unity/schema.rs
Labels: python, rust, fix

#20964 perf: Speed up list operations that use amortized_iter()
  crates/polars-core/src/chunked_array/list/iterator.rs
Labels: python, rust, performance

#21126 perf: Implement native Expr.count() on new-streaming
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/count.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
Labels: python, rust, performance

#21127 feat: Environment `POLARS_MAX_CONCURRENT_SCANS` in multiscan for new streaming
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
Labels: python, rust, enhancement

#21124 feat: Enable new streaming multiscan for CSV
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#21129 perf: Reduce sharing in stringview arrays in new-streaming equijoin
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_inner_left.rs
  crates/polars-pipe/src/executors/sinks/joins/generic_probe_outer.rs
  crates/polars-stream/src/nodes/joins/equi_join.rs
Labels: python, rust, performance

#21131 fix: Restore printing backtraces on panics
  crates/polars-error/src/signals.rs
Labels: python, rust, fix

#21125 feat: Use unique temporary directory path per user and restrict permissions
  crates/polars-io/src/path_utils/mod.rs
Labels: python, rust, enhancement

#21135 fix: Fix cse panic
  crates/polars-plan/src/plans/optimizer/cse/cse_expr.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, skip changelog, fix

#21003 fix(python): Ensure `lit` handles datetimes with tzinfo that represents a fixed offset from UTC
  py-polars/polars/functions/lit.py
  py-polars/pyproject.toml
  py-polars/tests/unit/expr/test_literal.py
Labels: python, fix

#21136 fix: Fix IO plugin predicate with failed serialization
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, fix

#21093 feat: Implement join on struct dtype
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#21139 feat: Add projection pushdown to new streaming multiscan
  crates/polars-core/src/schema.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#21137 feat: Add `POLARS_ALLOW_UNSECURED_TEMP_DIR` environment variable
  crates/polars-io/src/path_utils/mod.rs
Labels: python, rust, skip changelog, enhancement

#21140 fix: Fix `Expr.over` applying scale incorrectly for Decimal types
  crates/polars-expr/src/expressions/window.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#21141 Python Polars 1.22
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21150 docs(rust): Correct small typo in `FileInfo`
  crates/polars-plan/src/plans/schema.rs
Labels: documentation, rust

#21146 docs(python): Improve example in IO plugins user guide
  docs/source/user-guide/plugins/io_plugins.md
Labels: documentation, python

#21162 fix: Fix projection count query optimization
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/functions/unpivot.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust, fix

#21168 chore: Install seaborn when running remote benchmark
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal

#21171 docs: Improve Arrow key feature description
  docs/source/index.md
Labels: documentation, python, rust

#21179 chore: Add feature gate to old streaming deprecation warning
  crates/polars-plan/src/plans/optimizer/mod.rs
Labels: python, rust, internal

#21169 feat: Add row index to new streaming multiscan
  crates/polars-error/src/lib.rs
  crates/polars-plan/src/plans/schema.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#20789 fix: Raise error instead of panicking for unsupported SQL operations
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/sql/test_set_ops.py
Labels: python, rust, fix, A-sql

#21176 fix: Do not panic in `strptime()` if `format` ends with '%'
  crates/polars-time/src/chunkedarray/string/strptime.rs
  py-polars/tests/unit/operations/namespaces/test_strptime.py
Labels: python, rust, fix

#21190 feat: Add SQL support for the `DELETE` statement
  crates/polars-sql/src/context.rs
  py-polars/docs/source/reference/sql/table_operations.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/sql/test_table_operations.py
Labels: python, rust, enhancement, A-sql

#21197 perf: Add sampling to new-streaming equi join to decide between build/probe side
  crates/polars-expr/src/hash_keys.rs
  crates/polars-stream/src/nodes/joins/equi_join.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, performance

#21189 refactor(rust): Use distributor channel in new-streaming CSV reader and prepare scanning routine for true parallel reading
  crates/polars-io/src/csv/read/parser.rs
  crates/polars-stream/src/async_primitives/wait_group.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/select.rs
Labels: rust, internal

#21231 chore: Disable the TraceMalloc allocator
  py-polars/src/allocator.rs
  py-polars/src/lib.rs
  py-polars/src/memory.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/test_conftest.py
Labels: python, rust, internal

#21234 refactor: Don't mutate arena by default in Rewriting Visitor
  crates/polars-plan/src/plans/optimizer/cse/cse_lp.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/visitor/lp.rs
Labels: python, rust, internal

#21237 chore: Add use_field_init_shorthand = true to rustfmt
  rustfmt.toml
Labels: python, rust, internal

#21205 feat: Implement `merge_sorted` for struct
  crates/polars-ops/src/frame/join/merge_sorted.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, enhancement

#21214 docs(python): Update social icons in API reference docs
  py-polars/docs/source/conf.py
Labels: documentation, python

#21223 refactor(python): Avoid unnecessary `packaging` dependency
  py-polars/polars/dataframe/frame.py
Labels: python, internal

#21243 docs: Add kappa ask ai widget
  py-polars/docs/source/_templates/layout.html
  py-polars/docs/source/conf.py
Labels: documentation, python, rust

#21245 docs: Add more info to Ask AI
  py-polars/docs/source/_templates/layout.html
Labels: documentation, python, rust

#21246 ci: Fix docs
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21249 ci: Try to mimic all steps
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21250 docs: Revert plugin
  py-polars/docs/source/_templates/layout.html
Labels: documentation, python, rust

#21261 docs: Add logo to Ask AI
  py-polars/docs/source/_templates/layout.html
Labels: documentation, python, rust

#21213 fix: Raise instead of panicking when casting a Series to a Struct with the wrong number of fields
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#21262 fix: UTF-8 validation of nested string slice in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/binview/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#21264 fix: Incorrect result for top_k/bottom_k when input is sorted
  crates/polars-ops/src/chunked_array/top_k.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, fix

#21265 fix: Deadlock due to bad logic in new-streaming join sampling
  crates/polars-stream/src/nodes/joins/equi_join.rs
Labels: python, rust, fix

#21268 fix: Infinite recursion when broadcasting into struct zip_outer_validity
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#21269 fix: Properly implement and test Skip Batch Predicate
  crates/polars-plan/src/plans/aexpr/evaluate.rs
  crates/polars-plan/src/plans/aexpr/predicates/column_expr.rs
  crates/polars-plan/src/plans/aexpr/predicates/mod.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-python/src/expr/general.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/io/test_skip_batch_predicate.py
Labels: python, rust, fix

#21277 fix(python): Account for minor change in new `connectorx` release
  py-polars/polars/io/database/_utils.py
Labels: python, fix, ci, test

#21254 fix: Adding a struct field using a literal raises InvalidOperationError
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#21185 test: Add tests for fixed open issues
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_fill_null.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, internal

#21207 fix: Checking overflow in Sliced function
  crates/polars-arrow/src/array/mod.rs
Labels: rust, fix

#21182 fix: try converting pandas `pytz` timezone to `zoneinfo` timezone
  crates/polars-python/src/conversion/any_value.rs
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: title needs formatting

#21232 fix: Categorical min/max returning String dtype rather than Categorical
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#21282 fix: Add `Int128` path for `join_asof`
  crates/polars-ops/src/frame/join/asof/mod.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#21279 feat(rust): Expose `include_file_paths` to python visitor
  crates/polars-python/src/lazyframe/visitor/nodes.rs
Labels: rust, enhancement

#21278 fix: Incorrect result for merge_sorted with lexical categorical
  crates/polars-ops/src/frame/join/merge_sorted.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, fix

#21296 fix: Resolve deadlock due to leaking in Connector recv drop
  crates/polars-stream/src/async_primitives/connector.rs
Labels: python, rust, fix

#21295 feat(python): Rename `credentials` parameter to `credential` in `CredentialProviderAzure`
  py-polars/polars/io/cloud/credential_provider/_providers.py
Labels: python, enhancement

#21294 fix(rust): Fix inconsistency between code and comment
  crates/polars-arrow/src/array/growable/utf8.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/map/mod.rs
  crates/polars-arrow/src/array/struct_/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-arrow/src/array/utf8/mutable_values.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/offset.rs
Labels: rust, fix

#21289 fix: Panic in `to_physical` for series of arrays and lists
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#21293 fix: Fix incorrect predicate pushdown for predicates referring to right-join key columns
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/join_utils.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21308 fix: Fix performance regression for eager `join_where`
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  py-polars/tests/unit/operations/test_inequality_join.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21259 feat: Add a dedicated `remove` method for `DataFrame` and `LazyFrame`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-sql/src/context.rs
  py-polars/docs/source/reference/dataframe/modify_select.rst
  py-polars/docs/source/reference/lazyframe/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/array.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, enhancement

#21310 fix: Skip Batches Expression for boolean literals
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_skip_batch_predicate.py
Labels: python, rust, fix

#21309 docs(python): Improve `Expr.name.map` docstring example
  py-polars/polars/expr/name.py
Labels: documentation, python

#21330 feat: Support reading arrow Map type from Delta
  crates/polars-core/src/datatypes/field.rs
  crates/polars-io/src/parquet/read/reader.rs
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement, support

#21315 fix: Fix duplicate column names after join if suffix already present
  crates/polars-core/src/frame/horizontal.rs
  crates/polars-ops/src/frame/join/general.rs
  crates/polars-plan/src/plans/schema.rs
  crates/polars-schema/src/schema.rs
  crates/polars-sql/src/context.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, fix

#21312 docs: Add pandas strictness API difference
  docs/source/user-guide/migration/pandas.md
Labels: documentation, python, rust

#21321 docs: Fix initial selector example
  py-polars/docs/source/reference/selectors.rst
Labels: documentation, python, rust

#21291 fix: Method `dt.offset_by` was discarding month and year info if day was included in offset for timezone-aware columns
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_offset_by.py
Labels: python, rust, fix

#21290 feat: Implement sorted flags for struct series
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/series/implementations/struct_.rs
  py-polars/tests/unit/operations/test_is_sorted.py
Labels: python, rust, enhancement

#21338 chore: Feature gate merge sorted in new streaming engine
  crates/polars-stream/src/nodes/mod.rs
Labels: python, rust, internal

#21341 fix(rust): Incorrect atomic ordering in Connector
  crates/polars-stream/src/async_primitives/connector.rs
Labels: python, rust, fix

#21209 feat(python): Allow iterable of frames as input to `align_frames`
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/functions/eager.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, enhancement

#21355 fix: Fix ColumnNotFound error selecting `len()` after semi/anti join
  crates/polars-plan/src/plans/optimizer/projection_pushdown/semi_anti_join.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21340 fix: Fix unequal DataFrame column heights from parquet hive scan with filter
  .github/workflows/benchmark.yml
  crates/polars-io/src/hive.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/utils.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#21335 fix(rust): Fix height validation in `hstack_mut` was bypassed when adding to empty frame
  crates/polars-core/src/frame/horizontal.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/frame/validation.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/series/ops/to_dummies.rs
  crates/polars-schema/src/schema.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: rust, fix

#21219 feat: Add negative slicing to new streaming multiscan
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#21368 fix: Rust test race condition
  crates/polars-lazy/src/tests/mod.rs
Labels: python, rust, fix

#21366 fix: Properly set `fast_unique` in EnumBuilder
  crates/polars-core/src/chunked_array/logical/enum_/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#21373 fix: Mark test as may_fail_auto_streaming
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#21369 fix: Properly update groups after `gather` in aggregation context
  crates/polars-expr/src/expressions/gather.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#21361 fix: Panic when projecting only row index from IPC file
  crates/polars-io/src/ipc/ipc_file.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, fix

#21367 refactor(rust): Move dsl related code under dsl/*
  crates/polars-lazy/src/prelude.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-mem-engine/src/utils.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/dsl/file_scan.rs
  crates/polars-plan/src/dsl/format.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-plan/src/plans/anonymous_scan.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/mod.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
Labels: rust, internal

#21372 feat: Filter hive files using predicates in new streaming
  crates/polars-io/src/predicates.rs
  crates/polars-mem-engine/src/predicate.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#21380 feat: Make user facing binary formats mostly self describing
  Cargo.lock
  Cargo.toml
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/plans/python/predicate.rs
  crates/polars-python/src/cloud.rs
  crates/polars-python/src/expr/serde.rs
  crates/polars-python/src/lazyframe/serde.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/pl_serialize.rs
Labels: python, rust, enhancement

#21381 fix: Prefiltered optional plain primitive kernel
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#21382 fix: Struct arithmetic broadcasting behavior
  crates/polars-core/src/series/arithmetic/borrowed.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#21383 feat: Version DSL
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/src/lazyframe/serde.rs
Labels: python, rust, enhancement

#21387 feat(python): Connect polars-cloud
  .github/workflows/test-python.yml
  py-polars/polars/dependencies.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/meta/versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
Labels: python, enhancement

#21394 fix: Allow duration multiplied w/ primitive to propagate in IR schema
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, fix

#21013 fix: Don't silently produce null values from invalid input to `pl.datetime` and `pl.date`
  crates/polars-time/src/chunkedarray/date.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  py-polars/tests/unit/functions/as_datatype/test_datetime.py
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/operations/namespaces/temporal/test_replace.py
Labels: python, rust, fix

#21397 fix: Upcast small integer dtypes for rolling sum operations
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#21405 perf: Toggle projection pushdown for eager rolling
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
Labels: python, rust, performance

#21411 feat: Implement i128 -> str cast
  crates/polars-compute/src/cast/mod.rs
  crates/polars-compute/src/cast/primitive_to.rs
  py-polars/tests/unit/test_format.py
Labels: python, rust, enhancement

#21412 docs(python): Fix doc for SQL Functions navigation
  py-polars/docs/source/reference/sql/functions/bitwise.rst
Labels: documentation, python

#21413 fix: Use Kahan summation for rolling sum kernels. Fix numerical stability issues
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/mean.rs
  crates/polars-arrow/src/legacy/kernels/rolling/no_nulls/sum.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mean.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/sum.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#21410 fix: Method `dt.ordinal_day` was returning UTC results as opposed to those on the local timestamp
  crates/polars-time/src/chunkedarray/datetime.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, fix

#21414 Python Polars 1.23
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21416 chore(rust): Refactor ordinal_day
  crates/polars-time/src/chunkedarray/datetime.rs
Labels: rust, internal

#21422 refactor(rust): Dispatch ChunkedArray serialization to Series (IPC) serialization
  crates/polars-core/src/serde/chunked_array.rs
Labels: rust, internal

#21428 fix(python): Address regression with `read_excel` not handling URL paths correctly
  py-polars/polars/io/spreadsheet/functions.py
Labels: python, fix, A-io-spreadsheet

#20900 fix(python): Throw exception if dataframe is too large to be compatible with Excel
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix

#21418 test: Test for unique length on multiple columns
  py-polars/tests/unit/lazyframe/test_lazyframe.py
Labels: python, rust, internal

#21430 perf: Parallelize the passing in new streaming multiscan
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, performance

#21434 docs(python): Mention that `statistics=True` doesn't enable all statistics in `sink_parquet()`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#21444 fix: Use stable sort for rolling-groupby
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-mem-engine/src/executors/group_by_rolling.rs
Labels: python, rust, fix

#21455 chore: Add test for empty `.is_in` predicate filter
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal
