Repository pola-rs/polars, pull requests merged in 2025-06, with the labels that each got.

#23017 fix: View buffer exceeding 2^32 - 1 bytes in concatenate_view
  crates/polars-arrow/src/compute/concatenate.rs
Labels: python, rust, fix

#23019 refactor: Move scan parameter parsing for parquet to reusable function
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/io/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/scan_options/_options.py
Labels: python, rust, internal

#23044 chore: Add make test-streaming
  crates/polars-expr/src/expressions/window.rs
  py-polars/Makefile
  py-polars/tests/unit/operations/test_window.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, internal

#23043 fix: Fix confusing error message on duplicate row_index
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, fix

#23049 feat: Basic implementation of `DataTypeExpr` in Rust DSL
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/functions/syntactic_sugar.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/convert_utils.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-sql/src/sql_expr.rs
Labels: python, rust, enhancement

#23018 fix: Do not schema-match structs with different field counts
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/series/test_append.py
Labels: python, rust, fix

#23052 chore: Add environment variable to get Parquet decoding metrics
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
Labels: python, rust, internal

#23059 refactor: Add components for iceberg deletion file support
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/deletion_files.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/row_counter.rs
  crates/polars-stream/src/nodes/io_sources/parquet/builder.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_utils.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/slice_enum.rs
Labels: python, rust, internal

#23069 fix(python): Don't call unnest for objects implementing `__arrow_c_array__`
  py-polars/polars/_utils/pycapsule.py
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#23057 fix: Respect column order in `register_io_source` schema
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, fix

#23072 fix: Preserve `file://` in LazyFrame node traverser
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  py-polars/tests/unit/lazyframe/cuda/test_node_visitor.py
Labels: python, rust, fix

#23073 fix: Incorrect null count in rolling_min/max
  crates/polars-compute/src/rolling/min_max.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#23074 fix: Fix hive partition pruning not filtering out `__HIVE_DEFAULT_PARTITION__`
  crates/polars-io/src/predicates.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-mem-engine/src/predicate.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/predicate.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#23101 feat(rust): Make match_chunks public
  crates/polars-core/src/chunked_array/mod.rs
Labels: rust, enhancement

#23091 feat: Native implementation for Iceberg positional deletes
  .github/workflows/test-python.yml
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/deletion_files.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/slice.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/post_apply_pipeline/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/row_counter.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_scan_row_deletion.py
Labels: python, rust, enhancement

#22763 build(python): Update `pyo3` and `numpy` crates to version `0.25`
  Cargo.lock
  Cargo.toml
  crates/polars-python/src/conversion/any_value.rs
Labels: python, build

#23118 fix(rust): Don't create i128 scalars if dtype-128 is not set
  crates/polars-plan/src/plans/lit.rs
Labels: rust, fix

#23123 docs(python): Fix typo on pandas comparison page
  docs/source/user-guide/migration/pandas.md
Labels: documentation, python

#23130 fix(rust): Enable serde feature with python in `polars-mem-engine`
  crates/polars-plan/Cargo.toml
Labels: rust, skip changelog, fix

#23144 docs(python): Fix reference to non-existent `Expr.replace_all` in `replace_strict` docs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python

#23137 fix: Support Datetime broadcast in `list.concat`
  crates/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
Labels: python, rust, fix

#23148 chore: Use `ir_serde` instead of `serde` for `IRFunctionExpr`
  crates/polars-plan/src/plans/aexpr/function_expr/array.rs
  crates/polars-plan/src/plans/aexpr/function_expr/binary.rs
  crates/polars-plan/src/plans/aexpr/function_expr/bitwise.rs
  crates/polars-plan/src/plans/aexpr/function_expr/boolean.rs
  crates/polars-plan/src/plans/aexpr/function_expr/business.rs
  crates/polars-plan/src/plans/aexpr/function_expr/cat.rs
  crates/polars-plan/src/plans/aexpr/function_expr/correlation.rs
  crates/polars-plan/src/plans/aexpr/function_expr/datetime.rs
  crates/polars-plan/src/plans/aexpr/function_expr/fused.rs
  crates/polars-plan/src/plans/aexpr/function_expr/list.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/pow.rs
  crates/polars-plan/src/plans/aexpr/function_expr/random.rs
  crates/polars-plan/src/plans/aexpr/function_expr/range/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling_by.rs
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  crates/polars-plan/src/plans/aexpr/function_expr/struct_.rs
  crates/polars-plan/src/plans/aexpr/function_expr/trigonometry.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
Labels: python, rust, internal

#23147 refactor: Refactor skip_batches to use AExprBuilder
  crates/polars-core/src/scalar/mod.rs
  crates/polars-plan/src/plans/aexpr/builder.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
Labels: python, rust, internal

#23143 docs(python): Document aggregations that return identity when there's no non-null values, suggest workaround for those who want SQL-standard behaviour
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/functions/aggregation/vertical.py
  py-polars/polars/series/array.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
Labels: documentation, python

#23141 refactor: Connect Python `assert_series_equal()` to Rust back-end
  Cargo.lock
  Cargo.toml
  crates/polars-python/Cargo.toml
  crates/polars-python/src/lib.rs
  crates/polars-python/src/testing/mod.rs
  crates/polars-python/src/testing/series.rs
  crates/polars-testing/src/asserts/utils.rs
  py-polars/polars/testing/asserts/series.py
  py-polars/src/lib.rs
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: python, rust, internal

#23158 fix: Null return from var/std on scalar column
  crates/polars-core/src/frame/column/mod.rs
  py-polars/tests/unit/functions/test_functions.py
Labels: python, rust, fix

#23167 feat: DataType expressions in Python
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/range.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/plans/aexpr/function_expr/range/int_range.rs
  crates/polars-plan/src/plans/aexpr/function_expr/range/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-python/src/expr/binary.rs
  crates/polars-python/src/expr/datatype.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/expr/mod.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/docs/source/reference/datatype_expr.rst
  py-polars/docs/source/reference/index.rst
  py-polars/polars/__init__.py
  py-polars/polars/_reexport.py
  py-polars/polars/datatype_expr.py
  py-polars/polars/datatypes/__init__.py
  py-polars/polars/datatypes/_parse.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/datatype.py
  py-polars/polars/functions/range/int_range.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lib.rs
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/test_datatype_exprs.py
Labels: python, rust, enhancement

#23168 chore: Added more descriptive error message by replacing `FixedSizeList` with `Array`
  crates/polars-arrow/src/array/static_array_collect.rs
  crates/polars-core/src/series/ops/downcast.rs
Labels: python, rust, internal

#23176 fix: Raise ComputeError instead of panicking in `truncate` when mixing month/week/day/sub-daily units
  crates/polars-time/src/group_by/dynamic.rs
  crates/polars-time/src/windows/duration.rs
  crates/polars-time/src/windows/group_by.rs
  crates/polars-time/src/windows/test.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_truncate.py
Labels: python, rust, fix

#23192 Python Polars 1.31.0 pre-release
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#23202 chore: Add `default_alloc` feature to `py-polars`
  py-polars/Cargo.toml
  py-polars/src/allocator.rs
Labels: python, rust, internal

#23155 fix: Restrict custom `aggregate_function` in `pivot` to `pl.element()`
  crates/polars-lazy/src/frame/pivot.rs
  crates/polars-lazy/src/physical_plan/exotic.rs
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#23210 fix(python): Remove AXIS ticks in `show_graph`
  py-polars/polars/_utils/various.py
Labels: python, fix

#23226 Python Polars 1.31.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#23138 perf: Optimize `Bitmap::make_mut`
  crates/polars-arrow/src/bitmap/immutable.rs
Labels: python, rust, performance

#23125 fix(rust): Fix time zone handling in `dt.iso_year` and `dt.is_leap_year`
  crates/polars-time/src/chunkedarray/datetime.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, fix, internal

#23239 chore: Update Rust Polars versions
  Cargo.lock
  Cargo.toml
  crates/polars-testing/README.md
Labels: python, rust, internal

#23242 feat: Improve arity simplification
  crates/polars-plan/src/plans/optimizer/simplify_expr/arity.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  py-polars/tests/unit/functions/test_when_then.py
Labels: python, rust, enhancement

#23245 docs: Update when_then in user guide
  docs/source/user-guide/transformations/joins.md
Labels: documentation, python, rust

#23240 perf: Push more filters past joins
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/join_utils.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/tests/unit/lazyframe/test_optimizations.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, performance

#23238 feat: Support comma as decimal separator for CSV write
  crates/polars-io/src/csv/write/options.rs
  crates/polars-io/src/csv/write/write_impl/serializer.rs
  crates/polars-io/src/csv/write/writer.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#23271 fix: Restore `concat_arr` inputs expansion
  crates/polars-plan/src/plans/aexpr/function_expr/array.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_arr.py
Labels: python, rust, fix

#23220 chore: Add flag for auto distributed testing
  py-polars/pyproject.toml
  py-polars/tests/conftest.py
Labels: python, rust, internal

#23215 feat: Added `drop_nulls` option to `to_dummies`
  crates/polars-ops/src/frame/mod.rs
  crates/polars-ops/src/series/ops/to_dummies.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/series/general.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#23274 perf: Trigger cache/cse optimizations when multiplexing
  crates/polars-plan/src/plans/optimizer/mod.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, performance

#23269 feat: Drop superfluous casts from optimized plan
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/lit.rs
  py-polars/polars/datatypes/group.py
  py-polars/polars/functions/col.py
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, enhancement

#23277 refactor: Organize `dsl_to_ir` logic into modules
  crates/polars-plan/src/plans/conversion/convert_utils.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/concat.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_expansion.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/utils.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/scans.rs
Labels: python, rust, internal

#23273 feat: Add `is_close` method
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/is_close.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/aexpr/function_expr/boolean.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-utils/src/total_ord.rs
  crates/polars/Cargo.toml
  docs/source/_build/API_REFERENCE_LINKS.yml
  py-polars/docs/source/reference/expressions/boolean.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#23309 fix: Don't ignore return_dtype
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
Labels: python, rust, fix

#23303 fix: Fix filters on inserted columns did not remove rows
  crates/polars-io/src/predicates.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#23310 fix: Fix panic filtering after left join
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#23324 fix: Ignore null values in `bitwise` aggregation on bools
  crates/polars-compute/src/bitwise/mod.rs
  crates/polars-core/src/series/implementations/boolean.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, fix

#23325 perf: Improve boolean bitwise aggregate performance
  crates/polars-arrow/src/bitmap/bitmap_ops.rs
  crates/polars-compute/src/bitwise/mod.rs
Labels: python, rust, performance

#23281 refactor(rust): Optimize equality comparisons and fix error handling
  crates/polars-testing/src/asserts/utils.rs
  py-polars/tests/unit/testing/test_assert_series_equal.py
Labels: rust, internal

#23347 chore: Update rust version in nix flake
  flake.nix
Labels: python, rust, internal

#23350 fix: Properly join URI paths in `PlPath`
  crates/polars-utils/src/plpath.rs
Labels: python, rust, fix

#23340 fix: Respect data-model in `map_elements`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/eval.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/constants.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/conftest.py
  py-polars/tests/unit/dataframe/test_describe.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/expr/test_udfs.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_schema.py
Labels: python, rust, fix

#23317 perf: Improve null-preserving identification for boolean functions
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/plans/aexpr/function_expr/boolean.rs
  crates/polars-plan/src/plans/aexpr/minterm_iter.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-plan/src/plans/options.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, performance

#23344 fix: Fix boolean `min()` in `group_by` aggregation (streaming)
  crates/polars-arrow/src/bitmap/mutable.rs
  py-polars/tests/unit/datatypes/test_bool.py
Labels: python, rust, fix

#23352 refactor: Only conver to `ExprIR` once in `with_columns`
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
Labels: python, rust, internal

#23359 feat: Use `scan_parquet().collect_schema()` for `read_parquet_schema`
  crates/polars-python/src/functions/io.rs
  py-polars/polars/io/parquet/functions.py
  py-polars/src/lib.rs
Labels: python, rust, enhancement

#23358 fix: Fix incorrect results with `group_by` aggregation on empty groups
  crates/polars-expr/src/expressions/mod.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#23321 feat: Execute bitwise reductions in streaming engine
  crates/polars-arrow/src/bitmap/mutable.rs
  crates/polars-expr/src/reduce/bitwise.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  py-polars/tests/unit/operations/test_bitwise.py
Labels: python, rust, enhancement
