Repository pola-rs/polars, pull requests merged in 2025-01, with the labels that each got.

#20516 docs: Fix flaky doctests
  py-polars/polars/expr/expr.py
Labels: documentation, python, rust

#20508 fix(rust): `slice_pushdown` optimization leading to incorrectly sliced row index on parquet file
  crates/polars-io/src/parquet/read/read_impl.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: title needs formatting

#20523 fix: Fix union
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/datatypes/schema.rs
  crates/polars-core/src/lib.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/operations/test_concat.py
Labels: python, rust, fix

#20524 fix: Fix global cat unique
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#20515 fix: Fix various `Int128` operations
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/downcast.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-ops/src/frame/join/hash_join/sort_merge.rs
  crates/polars-ops/src/series/ops/abs.rs
  crates/polars-ops/src/series/ops/cum_agg.rs
  crates/polars-ops/src/series/ops/interpolation/interpolate.rs
  crates/polars-plan/src/dsl/function_expr/cum.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/series/comparison.rs
  py-polars/polars/datatypes/convert.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/rolling/test_map.py
  py-polars/tests/unit/operations/test_abs.py
  py-polars/tests/unit/operations/test_interpolate.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, fix

#20536 fix: Add `unique` fast path for empty categoricals
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#20535 feat: Add `Int128` IO support for csv & ipc
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/datatypes/physical_type.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-arrow/src/util/macros.rs
  crates/polars-compute/src/comparisons/array.rs
  crates/polars-compute/src/comparisons/dyn_array.rs
  crates/polars-compute/src/comparisons/list.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/read/buffer.rs
  crates/polars-io/src/csv/write/write_impl/serializer.rs
  crates/polars/Cargo.toml
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, enhancement

#20532 docs(python): Fix typo in `DataFrame.cast`
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#20540 fix: Revert categorical unique code
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  py-polars/polars/_utils/various.py
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#20542 fix: Update eager join doctest on multiple columns
  crates/polars/src/docs/eager.rs
Labels: python, rust, fix

#20547 fix: Fix more global categorical issues
  .github/workflows/benchmark.yml
  crates/polars-core/src/chunked_array/comparison/categorical.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#20514 chore: Increase categorical test coverage
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, internal

#20531 fix: Output index type instead of u32 for `sum_horizontal` with boolean inputs
  crates/polars-ops/src/series/ops/horizontal.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/operations/aggregation/test_horizontal.py
Labels: python, rust, fix

#20552 Python Polars 1.19.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#20551 ci: Improve bin size info
  .github/workflows/benchmark.yml
Labels: python, rust, internal

#20550 refactor(rust): Groundwork for allowing multi-output nodes in the new streaming engine
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/graph.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
Labels: rust, internal

#20558 refactor(python): Remove unused nested function in `LazyFrame.fill_null`
  py-polars/polars/lazyframe/frame.py
Labels: python, internal

#20543 chore: Bump multiversion from 0.7 to 0.8
  Cargo.lock
  Cargo.toml
Labels: python, rust, internal

#20257 feat: Add `cat.starts_with`/`cat.ends_with`
  crates/polars-plan/src/dsl/cat.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  crates/polars-python/src/expr/categorical.rs
  py-polars/docs/source/reference/expressions/categories.rst
  py-polars/docs/source/reference/series/categories.rst
  py-polars/polars/expr/categorical.py
  py-polars/polars/series/categorical.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, enhancement

#20553 fix: Fix variable name in error message for "unsupported data type" in rolling and upsampling operations
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#20566 ci: Remove upload/download sizes
  .github/workflows/benchmark.yml
Labels: title needs formatting

#20548 docs: Update "group_by_rolling" (deprecated) to "rolling" in user guide
  docs/source/user-guide/concepts/expressions-and-contexts.md
Labels: documentation, python, rust

#20565 fix(python): Fix type annotation of `str.strip_suffix_*` methods
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: python, fix

#20563 fix(rust): Restore symbols on Apple by bumping nightly version
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-io/src/partition.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  crates/polars-mem-engine/src/executors/group_by_dynamic.rs
  crates/polars-mem-engine/src/executors/group_by_partitioned.rs
  crates/polars-mem-engine/src/executors/group_by_rolling.rs
  crates/polars-mem-engine/src/executors/projection_utils.rs
  crates/polars-mem-engine/src/executors/stack.rs
  crates/polars-ops/src/series/ops/duration.rs
  crates/polars-parquet/src/parquet/encoding/hybrid_rle/encoder.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/range/datetime_range.rs
  crates/polars-plan/src/dsl/function_expr/range/time_range.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/lib.rs
  crates/polars-python/src/map/dataframe.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-utils/src/index.rs
  rust-toolchain.toml
Labels: python, rust, fix

#20569 perf: Improve unique pred-pd
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/group_by.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, performance

#20573 docs: Miscellaneous minor updates/fixes
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/dictionary/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/array/utf8/mod.rs
  crates/polars-compute/src/cast/decimal_to.rs
  crates/polars-compute/src/cast/primitive_to.rs
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/ndarray.rs
  crates/polars-core/src/chunked_array/ops/apply.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/plans/conversion/join.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-row/src/encode.rs
  py-polars/polars/_utils/various.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/classes.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: documentation, python, rust

#20583 fix(python): Propagate `tenant_id` to `CredentialProviderAzure` if given
  crates/polars-io/src/cloud/options.rs
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/meta/versions.py
Labels: python, fix

#20584 fix: Fix error filtering after `with_columns()` on unit height LazyFrame
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#20576 feat: Update `sqlparser-rs`, enabling "LEFT" keyword to be optional for anti/semi joins in SQL queries
  Cargo.lock
  Cargo.toml
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_joins.py
Labels: python, rust, enhancement, A-sql

#20585 fix: Soundness when loading Parquet string statistics
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-parquet/src/arrow/read/statistics/binview.rs
Labels: python, rust, fix

#20588 refactor(rust): Reduce size of ArrowDataType by boxing heavy variants
  crates/polars-arrow/src/array/union/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/ffi/schema.rs
  crates/polars-arrow/src/io/avro/read/schema.rs
  crates/polars-arrow/src/io/ipc/read/array/union.rs
  crates/polars-arrow/src/io/ipc/read/common.rs
  crates/polars-arrow/src/io/ipc/read/schema.rs
  crates/polars-arrow/src/io/ipc/write/mod.rs
  crates/polars-arrow/src/io/ipc/write/schema.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/extension/polars_extension.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/series/from.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/schema/metadata.rs
  crates/polars-parquet/src/arrow/write/schema.rs
  crates/polars-row/src/decode.rs
  crates/polars-row/src/encode.rs
  crates/polars/tests/it/arrow/array/fixed_size_binary/mod.rs
  crates/polars/tests/it/arrow/array/growable/list.rs
  crates/polars/tests/it/arrow/array/growable/mod.rs
  crates/polars/tests/it/arrow/array/mod.rs
  crates/polars/tests/it/arrow/array/union.rs
  py-polars/requirements-dev.txt
Labels: rust, internal

#20587 docs(python): Update `DataFrame` join examples
  py-polars/polars/dataframe/frame.py
Labels: documentation, python

#20591 test(python): Fix flaky categorical test
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, internal

#20549 build(python): Officially support Python 3.13
  .github/workflows/benchmark-remote.yml
  .github/workflows/benchmark.yml
  .github/workflows/docs-python.yml
  .github/workflows/lint-python.yml
  .github/workflows/test-python.yml
  docs/source/development/contributing/index.md
  py-polars/pyproject.toml
  py-polars/requirements-ci.txt
  py-polars/tests/unit/ml/test_to_torch.py
Labels: python, build

#20594 chore(rust): Remove unused file
  crates/polars-expr/src/chunked_idx_table/binary.rs
Labels: rust, internal

#20604 perf(rust): Use AtomicWaker in async engine task joiner
  crates/polars-stream/src/async_executor/task.rs
Labels: rust, performance

#20595 chore(rust): Fix rust-analyzer misinterpretation
  crates/polars-core/src/chunked_array/cast.rs
Labels: rust, internal

#19894 feat: Add `index_of()` function to `Series` and `Expr`
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/index_of.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-ops/src/series/ops/search_sorted.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/index_of.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars/Cargo.toml
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_index_of.py
Labels: python, rust, enhancement

#20586 perf: Skip filter expansion in eager
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#20615 fix: Fix order observability of group-by-dyn
  crates/polars-plan/src/plans/optimizer/set_order.rs
  py-polars/tests/unit/lazyframe/optimizations.py
  py-polars/tests/unit/lazyframe/test_order_observability.py
Labels: python, rust, fix

#20614 perf: Move to `zlib-rs` by default and use `zstd::with_buffer`
  Cargo.lock
  crates/Makefile
  crates/polars-arrow/src/io/ipc/compression.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/utils.rs
  crates/polars-io/src/utils/compression.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/parquet/compression.rs
  crates/polars-python/Cargo.toml
  crates/polars/Cargo.toml
Labels: python, rust, performance

#20612 feat: Add hint to error message for extra struct field in JSON
  crates/polars-json/src/json/deserialize.rs
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, enhancement

#20590 feat: Support writing partitioned parquet to cloud
  crates/polars-io/src/partition.rs
  crates/polars-io/src/shared.rs
  crates/polars-python/src/dataframe/io.rs
Labels: python, rust, enhancement, breaking rust

#20619 ci: Fix Python deps installation in remote-benchmark workflow
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal

#20610 fix: Properly load nested Parquet Statistics
  crates/polars-arrow/src/offset.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-parquet/src/arrow/read/mod.rs
  crates/polars-parquet/src/arrow/read/statistics.rs
  crates/polars-parquet/src/arrow/read/statistics/binary.rs
  crates/polars-parquet/src/arrow/read/statistics/binview.rs
  crates/polars-parquet/src/arrow/read/statistics/boolean.rs
  crates/polars-parquet/src/arrow/read/statistics/fixlen.rs
  crates/polars-parquet/src/arrow/read/statistics/map.rs
  crates/polars-parquet/src/arrow/read/statistics/mod.rs
  crates/polars-parquet/src/arrow/read/statistics/null.rs
  crates/polars-parquet/src/arrow/read/statistics/primitive.rs
  crates/polars-parquet/src/arrow/read/statistics/struct_.rs
  crates/polars-parquet/src/arrow/read/statistics/utf8.rs
  crates/polars/tests/it/io/parquet/arrow/mod.rs
  crates/polars/tests/it/io/parquet/arrow/write.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20434 fix: Properly broadcast in sort_by
  crates/polars-expr/src/expressions/sortby.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#20625 docs: Add docs reference for `Field`
  py-polars/docs/source/reference/datatypes.rst
Labels: documentation, python, rust

#20623 perf: Make Parquet `verify_dict_indices` SIMD
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/mod.rs
  crates/polars-parquet/src/lib.rs
Labels: python, rust, performance

#20613 fix: Ensure that SQL `LIKE` and `ILIKE` operators support multi-line matches
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, fix, A-sql

#20636 fix(python): Ensure `read_excel` and `read_ods` support reading from raw `bytes` for all engines
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-spreadsheet

#20629 fix: Fix `Int128` dtype serialization
  crates/polars-core/src/datatypes/_serde.rs
  py-polars/tests/unit/io/test_pickle.py
Labels: python, rust, fix

#20624 feat(python): Raise `DuplicateError` if given a pyarrow Table object with duplicate column names
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, enhancement

#20647 fix: Don't panic but set null type if type is unknown
  crates/polars-core/src/series/ops/null.rs
Labels: python, rust, fix

#20643 fix: Fix `join_asof` panicking for invalid `tolerance` input
  crates/polars-mem-engine/src/executors/join.rs
  crates/polars-ops/src/frame/join/asof/default.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#20648 refactor: Implement CSV, IPC and NDJson in the `MultiScanExec` node
  crates/polars-arrow/src/io/ipc/read/file.rs
  crates/polars-arrow/src/io/ipc/read/mod.rs
  crates/polars-mem-engine/src/executors/mod.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/file_scan.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
Labels: python, rust, internal

#20651 fix: Add `.default` to azure credential provider scope URL
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, rust, fix

#20638 feat(python): Support writing to file objects from `write_excel`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-spreadsheet

#20653 docs: Add polars-h3 and polars-st to plugin list
  docs/source/user-guide/plugins/index.md
Labels: documentation, python, rust

#20657 docs: Fix small typo in plugins
  docs/source/user-guide/plugins/index.md
Labels: documentation, python, rust

#20658 fix: Fix serialization of empty DF in LazyFrame
  crates/polars-core/src/serde/df.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust, skip changelog, fix

#20654 feat(python): Support loading Excel Table objects by name
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, enhancement, A-io-spreadsheet

#20659 refactor(rust): Remove implicit reverse from AExpr::replace_inputs()
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-plan/src/plans/conversion/stack_opt.rs
  crates/polars-plan/src/plans/iterator.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/plans/optimizer/stack_opt.rs
  crates/polars-plan/src/plans/visitor/expr.rs
Labels: rust, internal

#20571 ci: Don't include debug symbols in benchmark run
  .github/workflows/benchmark.yml
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, internal

#20662 fix: Check for MAP-GROUPS in cloud-eligible
  crates/polars-plan/src/client/check.rs
  py-polars/tests/unit/cloud/test_prepare_cloud_plan.py
Labels: python, rust, fix

#20664 perf: Use downcast_ref instead of dtype equality in `<dyn SeriesTrait as AsRef<ChunkedArray<T>>`
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-expr/src/reduce/mod.rs
Labels: python, rust, performance

#20663 feat: Allow more group_by agg expressions in the new streaming engine
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, enhancement

#20668 fix: Fix `map_elements` ignoring `skip_nulls=True` for struct dtype
  crates/polars-python/src/map/mod.rs
  crates/polars-python/src/map/series.rs
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#20661 docs(python): Add links to `read_excel` "engine_options" and "read_options" docstring
  py-polars/polars/_typing.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: documentation, python

#20483 feat: Add `str.normalize()`
  Cargo.lock
  Cargo.toml
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  crates/polars-ops/src/chunked_array/strings/normalize.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-sql/Cargo.toml
  crates/polars/Cargo.toml
  py-polars/docs/source/reference/expressions/string.rst
  py-polars/docs/source/reference/series/string.rst
  py-polars/polars/_typing.py
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, enhancement

#20570 depr(python): Make parameter of `str.to_decimal` keyword-only
  py-polars/polars/expr/string.py
  py-polars/polars/series/string.py
Labels: python, deprecation

#20672 fix: Validate length of `schema_overrides` in `read_csv`
  crates/polars-io/src/csv/read/read_impl.rs
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#20675 perf: Cache rolling groups
  crates/polars-expr/src/expressions/rolling.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-mem-engine/src/executors/projection_utils.rs
Labels: python, rust, performance

#20676 docs: Fix typo in sql functions (cosinus -> cosine)
  crates/polars-sql/src/functions.rs
Labels: documentation, python, rust

#20680 test: Add tests for various open issues that have been fixed
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_pivot.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, internal

#20681 perf: Broadcast without materialization in `concat_arr`
  crates/polars-core/src/frame/column/scalar.rs
  crates/polars-ops/src/series/ops/concat_arr.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_arr.py
Labels: python, rust, performance

#20682 fix: Only verify Parquet ConvertedType if no LogicalType is given
  crates/polars-parquet/src/parquet/schema/types/parquet_type.rs
  crates/polars-parquet/src/parquet/schema/types/spec.rs
Labels: python, rust, fix

#20689 perf: Improve state caching and parallelism of window functions
  crates/polars-expr/src/expressions/rolling.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-mem-engine/src/executors/projection_utils.rs
Labels: python, rust, performance

#20691 fix: Incorrect view buffer dedup
  crates/polars-ops/src/chunked_array/gather/chunked.rs
Labels: python, rust, fix

#20660 perf(python): Use PyO3 to convert between Python and Rust datetimes
  Cargo.lock
  crates/polars-python/Cargo.toml
  crates/polars-python/src/conversion/any_value.rs
  crates/polars-python/src/conversion/chunked_array.rs
  crates/polars-python/src/conversion/datetime.rs
Labels: python, performance

#20649 feat(python): Reduce scan_csv() (and friends') memory usage when using BytesIO
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-python/src/file.rs
  py-polars/src/memory.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/test_scan.py
Labels: python, enhancement

#20652 feat: Make automatic use of Azure storage account keys opt-in
  crates/polars-io/src/cloud/options.rs
  py-polars/polars/io/cloud/credential_provider.py
Labels: python, rust, enhancement

#20702 fix(python): Fix xor operation of selector with Expr
  py-polars/polars/selectors.py
Labels: python, fix

#20703 test(python): Fixes an Excel test following new `fastexcel` release
  py-polars/polars/io/spreadsheet/functions.py
Labels: python, internal

#20704 fix: Don't partition group-by with non-scalar literals in agg
  crates/polars-plan/src/plans/aexpr/properties.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#20710 feat(rust): Expose IRBuilder
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/builder_ir.rs
Labels: rust, enhancement

#20713 fix: Add outer validity to AnyValueBufferTrusted for structs
  crates/polars-core/src/frame/row/av_buffer.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#20690 feat: Add Parquet Sink to new streaming engine
  crates/polars-io/src/parquet/write/batched_writer.rs
  crates/polars-io/src/parquet/write/mod.rs
  crates/polars-io/src/parquet/write/writer.rs
  crates/polars-io/src/shared.rs
  crates/polars-parquet/src/arrow/write/file.rs
  crates/polars-parquet/src/parquet/metadata/schema_descriptor.rs
  crates/polars-parquet/src/parquet/write/compression.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, enhancement

#20720 test: Add tests for various open issues
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/test_empty.py
Labels: python, rust, internal

#20716 feat: Add new-streaming first/last aggregations
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/first_last.rs
  crates/polars-expr/src/reduce/len.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/min_max.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/nodes/reduce.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, enhancement

#20722 fix: Fix incorrect top-k by sorted column, fix `head()` returning extra rows
  crates/polars-core/src/chunked_array/ops/sort/arg_sort.rs
  crates/polars-core/src/chunked_array/ops/sort/options.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, fix

#20724 fix: Fix `Series.n_unique` raising for list of struct
  crates/polars-core/src/series/implementations/list.rs
  py-polars/tests/unit/operations/unique/test_n_unique.py
Labels: python, rust, fix

#20728 perf: Specialize first/last agg for simple types in new-streaming engine
  crates/polars-expr/src/reduce/first_last.rs
  crates/polars-expr/src/reduce/mean.rs
  crates/polars-expr/src/reduce/min_max.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/var_std.rs
Labels: python, rust, performance

#20705 feat: Add SQL support for the `NORMALIZE` string function
  Cargo.lock
  crates/polars-sql/Cargo.toml
  crates/polars-sql/src/functions.rs
  py-polars/docs/source/reference/sql/functions/string.rst
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement, A-sql

#20740 feat: Allow different python versions for pickle
  crates/polars-utils/src/python_function.rs
Labels: python, rust, enhancement

#20741 fix: Don't serialize credentials provider
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, fix

#20730 refactor: Simplify hive predicate handling in `NEW_MULTIFILE`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/column.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
Labels: python, rust, internal

#20729 fix: Don't collapse into a Nested Loop Join if the cross join maintains order
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#20745 test: Fix tests
  crates/polars-io/src/cloud/options.rs
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, rust, internal

#20737 fix: Fix `unique(maintain_order=True)` raising `InvalidOperationError` for null array
  crates/polars-core/src/series/implementations/null.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#20743 fix: Incorrect output type for `map_groups` returning all-NULL column
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-lazy/src/tests/aggregations.rs
  py-polars/tests/unit/operations/map/test_map_groups.py
Labels: python, rust, fix

#20744 fix: Fix `allow_invalid_certificates` being ignored in `storage_options`
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, fix

#20750 fix: Avoid blocking on async runtime when resolving cloud scans
  crates/polars-plan/src/plans/conversion/scans.rs
Labels: python, rust, fix

#20751 refactor: Fix flaky test
  crates/polars-expr/src/expressions/apply.rs
  py-polars/tests/unit/operations/map/test_map_groups.py
Labels: python, rust, skip changelog, internal

#20752 Python Polars 1.20.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#20753 docs(python): Add more information for cross joins
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#20755 chore: Fix remote benchmark script
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal

#20767 chore: Touch the upload probe for the remote benchmark
  .github/workflows/benchmark-remote.yml
Labels: python, rust, internal

#20772 refactor: Small drive-by's
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
Labels: python, rust, internal

#20768 test: Add various tests
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/test_fill_null.py
  py-polars/tests/unit/series/test_item.py
Labels: python, rust, internal

#20769 feat(python): Additional support for loading `numpy.float16` values (as Float32)
  py-polars/polars/datatypes/convert.py
  py-polars/tests/unit/interop/numpy/test_numpy.py
Labels: python, enhancement, A-interop-numpy

#20776 perf: Use BitmapBuilder in a lot more places
  crates/polars-arrow/src/array/binary/mutable.rs
  crates/polars-arrow/src/array/physical_binary.rs
  crates/polars-arrow/src/bitmap/builder.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/compute/boolean.rs
  crates/polars-arrow/src/compute/boolean_kleene.rs
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/legacy/array/fixed_size_list.rs
  crates/polars-arrow/src/legacy/array/list.rs
  crates/polars-arrow/src/legacy/array/mod.rs
  crates/polars-arrow/src/legacy/kernels/rolling/nulls/mod.rs
  crates/polars-arrow/src/legacy/trusted_len/boolean.rs
  crates/polars-compute/src/comparisons/dictionary.rs
  crates/polars-compute/src/comparisons/struct_.rs
  crates/polars-compute/src/gather/boolean.rs
  crates/polars-compute/src/gather/generic_binary.rs
  crates/polars-compute/src/unique/boolean.rs
  crates/polars-compute/src/unique/primitive.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/comparison/scalar.rs
  crates/polars-core/src/chunked_array/from_iterator.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/chunked_array/ops/zip.rs
  crates/polars-core/src/datatypes/static_array_collect.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-json/src/json/deserialize.rs
  crates/polars-ops/src/chunked_array/array/any_all.rs
  crates/polars-ops/src/chunked_array/list/any_all.rs
  crates/polars-ops/src/chunked_array/top_k.rs
  crates/polars-ops/src/series/ops/cum_agg.rs
  crates/polars-python/src/map/mod.rs
Labels: python, rust, performance

#20757 feat(python): Support `lakefs://` URI for delta scanner
  py-polars/polars/io/delta.py
Labels: python, enhancement

#20791 feat: Improve window function caching strategy
  crates/polars-mem-engine/src/executors/projection_utils.rs
Labels: python, rust, enhancement

#20792 ci: Unpin NumPy in type checking workflow
  .github/workflows/lint-python.yml
  py-polars/polars/series/series.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, internal

#20793 feat(python): Drop `nest-asyncio` in favor of custom logic
  py-polars/polars/io/database/_utils.py
  py-polars/polars/meta/versions.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/tests/unit/io/database/test_async.py
Labels: python, enhancement

#20796 fix: Ignore file cache allocation error if `fallocate()` is not permitted
  crates/polars-io/src/file_cache/entry.rs
Labels: python, rust, fix

#20797 fix: Do not print sensitive information to output on `POLARS_VERBOSE`
  crates/polars-core/src/config.rs
  crates/polars-io/src/cloud/object_store_setup.rs
Labels: python, rust, fix

#20785 refactor: Rename `ContainsMany` to `ContainsAny`
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: python, rust, internal

#20787 fix(python): Propagate null instead of panicking in `pl.repeat_by()`
  crates/polars-ops/src/chunked_array/repeat_by.rs
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, fix

#20800 perf: Make an owned version of append
  crates/polars-core/src/chunked_array/drop.rs
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
  crates/polars-core/src/chunked_array/logical/categorical/ops/append.rs
  crates/polars-core/src/chunked_array/logical/mod.rs
  crates/polars-core/src/chunked_array/ops/append.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-core/src/utils/mod.rs
Labels: python, rust, performance

#20801 fix(python): Allow `is_in` values to be given as custom `Collection`
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_is_in.py
Labels: python, fix

#20799 feat(python): Account for SurrealDB Python API updates (handle both `SurrealDB` and `AsyncSurrealDB` classes) in `read_database`
  py-polars/polars/io/database/_cursor_proxies.py
  py-polars/polars/io/database/functions.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/io/database/test_async.py
Labels: python, enhancement, A-io-database

#20802 feat: Support cumulative aggregations for `Decimal` dtype
  crates/polars-ops/src/series/ops/cum_agg.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement, fix

#20781 fix: Error instead of truncate if length mismatch for several `str` functions
  crates/polars-plan/src/dsl/function_expr/strings.rs
  py-polars/tests/unit/operations/namespaces/string/test_pad.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#20810 fix: Shift mask when skipping Bitpacked values in Parquet
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/required_masked_dense.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#20817 fix: Incorrect height from slicing after projecting only the file path column
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  py-polars/tests/unit/io/test_scan.py
  stream_test.arrow
Labels: python, rust, fix

#20814 fix: Fix `clip` for `Decimal` returning wrong values
  crates/polars-ops/src/series/ops/clip.rs
  py-polars/tests/unit/operations/test_clip.py
Labels: python, rust, fix

#20820 fix: Fix panic `InvalidHeaderValue` scanning from S3 on Windows
  crates/polars-io/src/cloud/options.rs
Labels: python, rust, fix

#20825 fix(python): Selectors should raise on `+` between themselves
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/polars/selectors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, fix

#20819 fix: Remove `assert` that panics on `group_by` followed by `head(n)`, where `n` is larger then the frame height
  crates/polars-core/src/frame/group_by/position.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/test_queries.py
Labels: python, rust, fix

#20826 feat: Periodically check python signals ('CTRL-C' handling)
  crates/polars-core/src/frame/group_by/into_groups.rs
  crates/polars-error/src/lib.rs
  crates/polars-error/src/signals.rs
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/cross_join.rs
  crates/polars-ops/src/frame/join/dispatch_left_right.rs
  crates/polars-ops/src/frame/join/hash_join/mod.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_inner.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_left.rs
  crates/polars-ops/src/frame/join/hash_join/single_keys_outer.rs
  crates/polars-ops/src/frame/join/iejoin/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-python/src/functions/misc.rs
  crates/polars-python/src/on_startup.rs
Labels: python, rust, enhancement

#20778 fix(python): Add height check to frame-level row indexing when key is int
  py-polars/polars/_utils/getitem.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#20804 feat: Add CSV sink for the new streaming engine
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, enhancement

#20805 feat: Add NDJson sink for the new streaming engine
  .typos.toml
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, enhancement

#20839 refactor: Reduce mode bloat
  crates/polars-ops/src/chunked_array/mode.rs
Labels: python, rust, internal

#20841 refactor: Mark 'register_startup' as unsafe
  crates/polars-python/src/functions/misc.rs
  crates/polars-python/src/on_startup.rs
Labels: python, rust, internal

#20830 fix: Fix one edge case (out of many) of int128 literals not working
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/expr/test_literal.py
  py-polars/tests/unit/operations/test_index_of.py
Labels: python, rust, fix

#20844 fix: Incorrect `Decimal` value for `fill_null(strategy="one")`
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#20855 feat: Add unique operations for Decimal dtype
  crates/polars-core/src/series/implementations/decimal.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, enhancement

#20857 test: Add tests for open issues
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/datatypes/test_duration.py
  py-polars/tests/unit/interop/test_to_init_repr.py
  py-polars/tests/unit/io/test_ipc.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, internal

#20860 chore: Dispatch to the in-memory engine for multifile sources
  crates/polars-mem-engine/src/executors/executor.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: python, rust, internal

#20862 chore: Dispatch to the in-mem engine for `AExpr::Gather`
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, internal

#20858 docs: Update source URL for `legislators-historical.csv`
  crates/polars-lazy/src/scan/csv.rs
  docs/source/src/python/user-guide/expressions/aggregation.py
  docs/source/src/rust/user-guide/expressions/aggregation.rs
Labels: documentation, python, rust

#20843 feat(python): Auto-initialize Python credential providers in more cases
  py-polars/polars/io/cloud/credential_provider.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, enhancement

#20846 feat(python): Allow column expressions in DataFrame `unnest`
  crates/polars-python/src/dataframe/general.rs
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, enhancement

#20865 fix: Fix DuplicateError when selecting columns after `join_where` or cross join + filter
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  py-polars/tests/unit/lazyframe/test_optimizations.py
Labels: python, rust, fix

#20861 chore: Remove todo and test restriction for new-streaming
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, internal

#20867 refactor(rust): Move sum kernel to polars-compute
  Cargo.lock
  Cargo.toml
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/compute/aggregate/mod.rs
  crates/polars-arrow/src/compute/aggregate/simd/mod.rs
  crates/polars-arrow/src/compute/aggregate/simd/native.rs
  crates/polars-arrow/src/compute/aggregate/simd/packed.rs
  crates/polars-arrow/src/compute/aggregate/sum.rs
  crates/polars-arrow/src/types/mod.rs
  crates/polars-arrow/src/types/simd/mod.rs
  crates/polars-arrow/src/types/simd/native.rs
  crates/polars-arrow/src/types/simd/packed.rs
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/sum.rs
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/mean.rs
  crates/polars-pipe/src/executors/sinks/group_by/aggregates/sum.rs
  crates/polars/tests/it/arrow/compute/aggregate/mod.rs
  crates/polars/tests/it/arrow/compute/aggregate/sum.rs
Labels: rust, internal

#20868 perf: Use BitmapBuilder in yet more places
  crates/polars-arrow/src/bitmap/builder.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-plan/src/dsl/function_expr/shift_and_fill.rs
  crates/polars-python/src/series/construction.rs
  crates/polars-row/src/decode.rs
  crates/polars-row/src/fixed/decimal.rs
  crates/polars-row/src/fixed/packed_u32.rs
  crates/polars-row/src/utils.rs
  crates/polars-row/src/variable/no_order.rs
  crates/polars-row/src/variable/utf8.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: python, rust, performance

#20871 refactor(python): Reduce python map bloat
  crates/polars-python/src/map/series.rs
Labels: python, internal
