Repository pola-rs/polars, pull requests merged in 2025-04, with the labels that each got.

#22016 fix: Panic on empty aggregation in streaming
  crates/polars-stream/src/nodes/reduce.rs
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
Labels: python, rust, fix

#21992 refactor(rust): Dispatch new-streaming Parquet source to updated multiscan
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/builder.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_utils.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_data_fetch.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: rust, internal

#22017 fix: Use block_in_place_on to start streaming
  crates/polars-stream/src/execute.rs
Labels: python, rust, fix

#22021 docs: Add Polars Cloud release notes
  docs/source/polars-cloud/release-notes.md
  mkdocs.yml
Labels: documentation, python, rust

#22008 perf: Fix quadratic behavior when casting Enums
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
Labels: python, rust, performance

#21971 feat: Add `cat.slice`
  crates/polars-ops/src/chunked_array/strings/mod.rs
  crates/polars-ops/src/chunked_array/strings/substring.rs
  crates/polars-plan/src/dsl/cat.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  crates/polars-python/src/expr/categorical.rs
  py-polars/polars/expr/categorical.py
  py-polars/polars/series/categorical.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, enhancement

#22019 fix: Expression pl.concat was incorrectly marked as elementwise
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/tests/unit/functions/test_concat.py
Labels: python, rust, fix

#22030 fix: Remove outdated depth warning
  Cargo.lock
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/dsl/eval.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/exotic.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, fix

#22031 fix: Revert #22017 and improve block(_in_place)_on doc comment
  crates/polars-io/src/pl_async.rs
  crates/polars-stream/src/execute.rs
Labels: python, rust, fix

#22022 fix(python): Documented return type for `bin.encode` and `bin.decode`
  py-polars/polars/expr/binary.py
Labels: python, rust, fix

#22036 fix(python): Check types for `fill_char` in `str.pad_{start,end}`
  py-polars/polars/expr/string.py
Labels: python, fix

#22032 fix(python): Check input python type for `str.extract_groups`
  py-polars/polars/expr/string.py
Labels: python, fix

#22055 fix: Mark `pl.business_day_count` as elementwise
  crates/polars-plan/src/dsl/functions/business.rs
Labels: python, rust, fix

#22061 feat(rust): Add `add_alp_optimize_exprs` to `IRBuilder`
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/stack_opt.rs
Labels: python, rust, enhancement

#21987 feat: Allow sinking to abstract python `io` and `fs` classes
  crates/polars-io/src/utils/file.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/dsl/options/sink.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/by_key.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/nodes/io_sinks/partition/parted.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/python_convert_registry.rs
  py-polars/polars/_typing.py
  py-polars/polars/io/partition.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_partition.py
  py-polars/tests/unit/io/test_sink.py
Labels: python, rust, enhancement

#22060 fix: Correctly type check `pl.arctan2`
  py-polars/polars/functions/lazy.py
Labels: python, rust, fix

#22063 chore: Remove rust exclusive `MaxBound` and `MinBound` fill strategies
  crates/polars-core/src/chunked_array/ops/fill_null.rs
  crates/polars-core/src/chunked_array/ops/mod.rs
Labels: python, rust, internal

#22044 fix: Mark `bitwise_{count,leading,trailing}_{ones,zeros}` as elementwise
  crates/polars-plan/src/dsl/bitwise.rs
Labels: python, rust, fix

#22071 fix: Type check `n` parameter of `pl.repeat`
  py-polars/polars/functions/repeat.py
Labels: python, rust, fix

#22088 fix: Add scalarity checks to `pl.repeat`
  crates/polars-plan/src/plans/conversion/functions.rs
  crates/polars-python/src/functions/lazy.rs
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, rust, fix

#22093 fix: Panic for unequal length `ewm_mean_by` args
  crates/polars-error/src/lib.rs
  crates/polars-ops/src/series/ops/ewm_by.rs
  py-polars/tests/unit/functions/test_ewm_by.py
Labels: python, rust, fix

#22052 fix(rust): Fix to_integer panicing on invalid base
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: rust, fix

#22097 feat(python): Add an `eager` parameter to `pl.corr`
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, enhancement

#22095 fix(rust): Panic in `GroupBySinkState::into_source` with empty locals
  crates/polars-stream/src/nodes/group_by.rs
Labels: rust, fix

#22092 feat(python): Add an `eager` parameter to `pl.coalesce`
  py-polars/polars/convert/general.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/test_functions.py
Labels: python, enhancement

#22102 chore: Solve clippy lints for 1.86
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars/tests/it/arrow/array/binary/mod.rs
  crates/polars/tests/it/arrow/array/boolean/mod.rs
  crates/polars/tests/it/arrow/array/mod.rs
  crates/polars/tests/it/arrow/bitmap/assign_ops.rs
  crates/polars/tests/it/arrow/bitmap/mutable.rs
  crates/polars/tests/it/arrow/bitmap/utils/iterator.rs
  crates/polars/tests/it/lazy/expressions/slice.rs
Labels: python, rust, internal

#22116 fix: Parquet filter performance regression from multiscan dispatch
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, fix

#22083 chore: Deprecate duplicate `backward_fill` and `forward_fill` interface
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_upsample.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, internal

#22104 feat: Add support for `Int128` parsing/recognition to the SQL interface
  crates/polars-sql/src/context.rs
  crates/polars-sql/src/types.rs
  py-polars/tests/unit/sql/test_array.py
  py-polars/tests/unit/sql/test_cast.py
Labels: python, rust, enhancement, A-sql

#22109 fix: Ensure SQL dot-notation for nested column fields resolves correctly
  crates/polars-sql/src/sql_expr.rs
  py-polars/tests/unit/sql/test_structs.py
Labels: python, rust, fix, A-sql

#22098 feat(python): Add an `eager` parameter to `pl.cov`
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, enhancement

#21991 fix: Fix glob expansion matching extra files
  crates/polars-io/src/cloud/glob.rs
  crates/polars-io/src/path_utils/hugging_face.rs
Labels: python, rust, fix

#21976 fix: Join revmaps for categoricals in `merge_sorted`
  crates/polars-core/src/chunked_array/logical/categorical/merge.rs
  crates/polars-ops/src/chunked_array/list/sets.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-ops/src/series/ops/is_in.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, fix

#21208 fix: Avoiding panic with striptime for out-of-bounds dates
  crates/polars-core/src/chunked_array/temporal/conversion.rs
Labels: python, rust, fix

#21776 feat: Add dt.is_business_day
  crates/polars-ops/src/series/ops/business.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-python/src/expr/datetime.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/functions/business.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_is_business_day.py
Labels: python, rust, enhancement

#21681 Add .with_options() method to CsvReader for easier configuration
  crates/polars-io/src/csv/read/reader.rs
Labels: title needs formatting

#22090 fix: Make bottom interval closed in `hist`
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/test_hist.py
Labels: python, rust, fix

#22100 fix: Error on unequal length `str.to_integer` arguments
  crates/polars-ops/src/chunked_array/strings/namespace.rs
  py-polars/polars/series/string.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#22121 fix: Throw error for unsupported rolling operations
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#22122 fix: Throw error for `n=0` on `list.gather_every`
  crates/polars-core/src/chunked_array/list/iterator.rs
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-ops/src/chunked_array/list/namespace.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  py-polars/tests/unit/operations/namespaces/list/test_list.py
Labels: python, rust, fix

#22128 docs: Update distributed engine docs
  docs/source/polars-cloud/run/distributed-engine.md
Labels: documentation, python, rust

#22114 fix(python): Fix panic when constructing DF from pyarrow due to duplicate field names
  crates/polars-python/src/interop/arrow/to_rust.rs
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, fix

#22138 fix: Add `i128` as supertype to boolean
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, fix

#22129 feat: Add `STRING_TO_ARRAY` function to the SQL interface
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/table_functions.rs
  py-polars/docs/source/reference/sql/functions/string.rst
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement, A-sql

#22035 fix: Raise an error if a number doesn't have associated unit in duration strings
  crates/polars-time/src/offset_by.rs
  crates/polars-time/src/windows/duration.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, fix

#22146 fix: Fix csv serializer panic by supporting ScalarColumn in as_single_chunk
  crates/polars-core/src/frame/mod.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#22127 feat: Support additional unsigned int aliases in the SQL interface
  crates/polars-sql/src/types.rs
  py-polars/tests/unit/sql/test_cast.py
Labels: python, rust, enhancement, A-sql

#22144 Add `repeat_by` to `Series`
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: title needs formatting

#21993 refactor(rust): Dispatch new-streaming IPC source to updated multiscan
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: rust, internal

#22157 fix: Build error in new-streaming IPC source
  crates/polars-stream/src/nodes/io_sources/ipc.rs
Labels: python, rust, skip changelog, fix

#22156 chore: Undeprecate `backward_fill` and `forward_fill`
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, internal

#22068 fix: Mark `Expr.repeat_by` as elementwise
  crates/polars-ops/src/chunked_array/repeat_by.rs
  crates/polars-plan/src/dsl/mod.rs
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, fix

#22009 refactor(rust): Dispatch new-streaming IO plugin source to updated multiscan
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/nodes/io_sources/batch.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#22159 fix: Deadlock in join due to rayon nested task-stealing
  Cargo.lock
  Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/joins/equi_join.rs
  crates/polars-stream/src/nodes/joins/semi_anti_join.rs
Labels: python, rust, fix

#22163 fix: Allow set input to `list.set_*` operations
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/tests/unit/operations/test_sets.py
Labels: python, rust, fix

#21994 refactor(rust): Dispatch new-streaming CSV source to updated multiscan
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: rust, internal

#22133 refactor: Separate `FunctionOptions` from DSL calls
  crates/polars-plan/src/dsl/arithmetic.rs
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/bitwise.rs
  crates/polars-plan/src/dsl/cat.rs
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/function_expr/bitwise.rs
  crates/polars-plan/src/dsl/function_expr/boolean.rs
  crates/polars-plan/src/dsl/function_expr/business.rs
  crates/polars-plan/src/dsl/function_expr/cat.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/pow.rs
  crates/polars-plan/src/dsl/function_expr/range/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/function_expr/trigonometry.rs
  crates/polars-plan/src/dsl/functions/coerce.rs
  crates/polars-plan/src/dsl/functions/concat.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/functions/horizontal.rs
  crates/polars-plan/src/dsl/functions/index.rs
  crates/polars-plan/src/dsl/functions/range.rs
  crates/polars-plan/src/dsl/functions/repeat.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/name.rs
  crates/polars-plan/src/dsl/random.rs
  crates/polars-plan/src/dsl/statistics.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/dsl/struct_.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-python/src/functions/misc.rs
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, internal

#22173 fix: Incorrect rounding for very large/small numbers
  Cargo.lock
  Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-ops/src/series/ops/round.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_round.py
Labels: python, rust, fix

#22169 perf: Speedup new-streaming file row count
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-expr/src/reduce/count.rs
  crates/polars-expr/src/reduce/first_last.rs
  crates/polars-expr/src/reduce/len.rs
  crates/polars-expr/src/reduce/min_max.rs
  crates/polars-expr/src/reduce/mod.rs
  crates/polars-expr/src/reduce/sum.rs
  crates/polars-ops/src/series/ops/concat_arr.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/projection.rs
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/nodes/reduce.rs
Labels: python, rust, performance

#22175 fix: Schema error during lowering
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/tests/unit/operations/test_replace_strict.py
Labels: python, rust, fix

#22142 feat: Allow scalar expr in `Expr.diff`
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/function_expr/dispatch.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/conversion/functions.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars/tests/it/lazy/group_by.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_diff.py
Labels: python, rust, enhancement

#22172 fix: Handle Parquet with compressed empty DataPage v2
  crates/polars-parquet/src/parquet/read/compression.rs
  py-polars/tests/unit/io/files/empty_datapage_v2.snappy.parquet
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#22183 refactor(rust): Remove unused multiscan code
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/by_key.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/nodes/io_sinks/partition/parted.rs
  crates/polars-stream/src/nodes/io_sinks/phase.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/predicate.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#22179 perf: Speed-up new streaming predicate filtering
  crates/polars-io/src/predicates.rs
  crates/polars-parquet/src/arrow/read/expr.rs
Labels: python, rust, performance

#22184 chore: Remove old `MultiScanExec` for in-memory
  crates/polars-mem-engine/src/executors/mod.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
Labels: python, rust, internal

#22112 fix: Enhance predicate validation and cast safety in `join_where`
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/unit/operations/test_inequality_join.py
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#22161 docs(python): Add user guide section on working with Sheets in Colab
  docs/source/src/python/user-guide/io/sheets_colab.py
  docs/source/user-guide/io/sheets_colab.md
  mkdocs.yml
Labels: documentation, python, rust

#22158 feat: Add `SPLIT_PART` string function to the SQL interface
  crates/polars-sql/src/functions.rs
  py-polars/docs/source/reference/sql/functions/string.rst
  py-polars/tests/unit/sql/test_strings.py
Labels: python, rust, enhancement, A-sql

#22196 perf: Add CSE to streaming groupby
  crates/polars-plan/src/plans/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/plans/optimizer/cse/mod.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
Labels: python, rust, performance

#22197 fix: Implode in agg
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars/tests/it/lazy/queries.rs
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/aggregation/test_implode.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/test_sets.py
Labels: python, rust, fix

#22210 fix: Writing masked out list values to json
  crates/polars-json/src/json/write/serialize.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#22215 fix: Don't panic for `LruCachedFunc` for `size=0`
  crates/polars-utils/src/cache.rs
  py-polars/tests/unit/operations/namespaces/test_strptime.py
Labels: python, rust, fix

#22213 fix: Fallback predicate filter for `min=max` with `is_in`
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, fix

#22208 fix: Incorrect condition on empty inner join fast path
  crates/polars-ops/src/frame/join/mod.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#22195 feat(rust): Expose `FunctionIR::FastCount` in the python visitor
  crates/polars-python/src/lazyframe/visitor/nodes.rs
Labels: rust, enhancement

#22220 Python Polars 1.27.1
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#22153 feat: Dispatch scans to new-streaming by default
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/lib.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/dsl/file_scan.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-python/src/cloud.rs
  crates/polars-stream/src/lib.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/predicate.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/projection.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_ipc.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, enhancement

#22190 perf: Turn on `parallel=prefiltered` by default for new streaming
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: python, rust, performance

#22225 refactor: Add BinaryArrayBuilder
  crates/polars-arrow/src/array/binary/builder.rs
  crates/polars-arrow/src/array/binary/mod.rs
  crates/polars-arrow/src/array/builder.rs
  crates/polars-arrow/src/array/list/builder.rs
Labels: python, rust, internal

#22224 chore: Close async reader issues
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, internal

#22228 refactor: Make other parallel parquet modes filter afterwards
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/parquet/builder.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#22230 feat: Support `implode + agg`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/planner.rs
  crates/polars/tests/it/lazy/queries.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/map/test_map_groups.py
  py-polars/tests/unit/operations/test_window.py
Labels: python, rust, enhancement

#22240 chore: Change format name from list to implode
  crates/polars-plan/src/plans/ir/format.rs
Labels: python, rust, internal

#22247 fix: Check matching key datatypes for new streaming joins
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, fix

#22237 perf: Optimize central_moment computation
  crates/polars-ops/src/series/ops/moment.rs
  crates/polars-utils/src/kahan_sum.rs
  crates/polars-utils/src/lib.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: title needs formatting

#22243 fix(rust): Fix `str.to_integer` panics for certain inputs
  crates/polars-ops/src/chunked_array/strings/namespace.rs
Labels: rust, fix

#22235 feat(python): Support running Polars SQL queries against any objects implementing the PyCapsule interface
  py-polars/polars/sql/context.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, enhancement, A-sql

#22245 fix: Ensure floating-point accuracy in `hist`
  crates/polars-ops/src/chunked_array/hist.rs
  py-polars/tests/unit/operations/test_hist.py
Labels: python, rust, fix

#22223 chore: Add Polars Cloud 0.0.7 release notes
  docs/source/polars-cloud/release-notes.md
Labels: python, rust, internal

#22256 refactor(rust): Use more logical delta definition in var/cov calcs
  crates/polars-compute/src/var_cov.rs
Labels: rust, internal

#22253 fix: Parquet filters for logical types and operations
  crates/polars-core/src/series/from.rs
  crates/polars-io/src/predicates.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#22271 feat: Add rolling min/max for temporals
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#22261 refactor: Add online skew/kurtosis algorithm for future use in rolling kernels
  crates/polars-compute/src/lib.rs
  crates/polars-compute/src/moment.rs
  crates/polars-compute/src/rolling/no_nulls/variance.rs
  crates/polars-compute/src/rolling/nulls/variance.rs
  crates/polars-compute/src/var_cov.rs
  crates/polars-core/src/chunked_array/ops/aggregate/var.rs
  crates/polars-expr/src/reduce/var_std.rs
  crates/polars-ops/src/chunked_array/cov.rs
  crates/polars-ops/src/series/ops/moment.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, internal

#22268 fix: Raise `ColumnNotFoundError` for missing columns in `join_where`
  crates/polars-plan/src/plans/conversion/join.rs
  py-polars/tests/benchmark/test_join_where.py
Labels: python, rust, fix

#22280 fix: Duplicate key column name in streaming group_by due to CSE
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#22277 refactor(rust): Move missing / cast columns policies from `polars-stream` to `polars-plan`
  crates/polars-plan/src/dsl/file_scan.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/missing_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#22276 fix: More robust `str → date` conversion when reading from spreadsheet
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, rust, fix, A-io-spreadsheet

#22201 fix(rust): Expr.over() returning List type when DataFrame is empty
  crates/polars-expr/src/expressions/window.rs
  crates/polars-lazy/src/tests/queries.rs
  py-polars/tests/unit/operations/test_window.py
Labels: rust, fix

#22180 fix: Datetime parser was incorrectly parsing 8-digit fractional seconds when format specified to expect 9
  crates/polars-time/src/chunkedarray/string/strptime.rs
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
Labels: python, rust, fix

#20202 fix(rust): Too-strict SQL UDF schema validation
  crates/polars-plan/src/dsl/udf.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/udf.rs
Labels: rust, fix

#22274 docs: Improve interpolation documentation to clarify behavior of null values
  crates/polars-plan/src/dsl/mod.rs
  docs/source/user-guide/expressions/missing-data.md
  docs/source/user-guide/installation.md
  py-polars/polars/dataframe/frame.py
  py-polars/polars/expr/expr.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#22254 fix: Add an `__all__` entry to internal type definition module
  py-polars/polars/_typing.py
Labels: python, rust, fix, internal, A-typing

#22293 fix: Set revmap for empty `AnyValue` to `Series`
  crates/polars-core/src/series/any_value.rs
Labels: python, rust, fix

#22294 fix: Don't collect `NaN` from Parquet Statistics
  crates/polars-parquet/src/parquet/statistics/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#22300 feat: Add `.sort(nulls_last=True)` to booleans, categoricals and enums
  crates/polars-core/src/chunked_array/ops/sort/categorical.rs
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#22301 fix: Coalesce correct column for new streaming full join
  crates/polars-stream/src/nodes/joins/equi_join.rs
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, fix

#22226 chore: Purge old parquet and scan code
  Cargo.toml
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-io/src/parquet/read/async_impl.rs
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/parquet/read/reader.rs
  crates/polars-io/src/predicates.rs
  crates/polars-lazy/src/physical_plan/streaming/construct_pipeline.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/streaming.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sources/mod.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-plan/src/plans/hive.rs
  crates/polars-python/src/dataframe/io.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_join.py
Labels: python, rust, internal

#22304 fix: Move type coercion for `pl.duration` to planner
  crates/polars-ops/src/series/ops/duration.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  py-polars/tests/unit/datatypes/test_duration.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#22305 fix: Check matching lengths for `pl.corr`
  crates/polars-plan/src/dsl/function_expr/correlation.rs
  py-polars/tests/unit/operations/test_statistics.py
Labels: python, rust, fix

#22317 feat: Support Cast in IO plugin predicates
  crates/polars-plan/src/plans/python/predicate.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, enhancement

#22314 refactor(rust): Introduce and use `UnifiedScanArgs`
  crates/polars-io/src/options.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/scan/anonymous_scan.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/file_scan.rs
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-plan/src/plans/optimizer/delay_rechunk.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/plans/schema.rs
  crates/polars-plan/src/plans/visitor/hash.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/predicate.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/slice.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
  crates/polars-utils/src/slice_enum.rs
Labels: rust, internal

#22318 perf: Patch jemalloc to not purge huge allocs eagerly if we have background threads
  Cargo.lock
  Cargo.toml
Labels: python, rust, performance

#22319 chore: Update mozilla-actions/sccache-action
  .github/workflows/benchmark.yml
Labels: python, rust, internal

#22321 fix: Fix nested datetypes in ndjson
  crates/polars-io/src/ndjson/buffer.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#22325 fix: Fix ndjson nested types
  crates/polars-io/src/ndjson/buffer.rs
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_lazy_json.py
Labels: python, rust, fix

#22205 fix: Resolve streaming panic on multiple `merge_sorted`
  crates/polars-stream/src/nodes/merge_sorted.rs
  py-polars/tests/unit/operations/test_merge_sorted.py
Labels: python, rust, fix

#22333 perf: Dedicated `rolling_skew` kernel
  crates/polars-compute/src/rolling/mod.rs
  crates/polars-compute/src/rolling/moment.rs
  crates/polars-compute/src/rolling/no_nulls/mod.rs
  crates/polars-compute/src/rolling/no_nulls/moment.rs
  crates/polars-compute/src/rolling/no_nulls/quantile.rs
  crates/polars-compute/src/rolling/nulls/mod.rs
  crates/polars-compute/src/rolling/nulls/moment.rs
  crates/polars-compute/src/rolling/nulls/quantile.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-ops/src/series/ops/rolling.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, performance

#22335 feat: Add `rolling_kurtosis`
  crates/polars-ops/src/series/ops/rolling.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  py-polars/docs/source/reference/expressions/computation.rst
  py-polars/docs/source/reference/series/computation.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, enhancement

#22338 docs(python): Add missing `is_business_day` to documentation reference
  py-polars/docs/source/reference/expressions/temporal.rst
  py-polars/docs/source/reference/series/temporal.rst
Labels: documentation, python

#22340 fix: Maintain float32 type in partitioned group-by
  crates/polars-expr/src/expressions/aggregation.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#22341 fix: Don't leak state during prefill CSE cache
  crates/polars-mem-engine/src/executors/cache.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, fix

#21785 fix(python): Handle pytz named timezone in `lit`
  py-polars/polars/dependencies.py
  py-polars/polars/functions/lit.py
  py-polars/tests/unit/datatypes/test_temporal.py
Labels: python, fix

#22347 chore(rust): Make streaming dispatch public
  crates/polars-lazy/src/frame/mod.rs
Labels: python, rust, enhancement, internal

#22345 docs(python): Update `pl.when` documentation
  py-polars/polars/functions/whenthen.py
Labels: documentation, python

#20940 feat(python, rust): Add GPU support to sink_* APIs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  py-polars/polars/lazyframe/frame.py
Labels: python, enhancement, title needs formatting

#22353 perf: Use optimize rolling_quantile with varying window sizes
  Cargo.lock
  Cargo.toml
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/rolling/min_max.rs
  crates/polars-compute/src/rolling/no_nulls/mean.rs
  crates/polars-compute/src/rolling/no_nulls/mod.rs
  crates/polars-compute/src/rolling/no_nulls/moment.rs
  crates/polars-compute/src/rolling/no_nulls/quantile.rs
  crates/polars-compute/src/rolling/no_nulls/sum.rs
  crates/polars-compute/src/rolling/nulls/mean.rs
  crates/polars-compute/src/rolling/nulls/mod.rs
  crates/polars-compute/src/rolling/nulls/moment.rs
  crates/polars-compute/src/rolling/nulls/quantile.rs
  crates/polars-compute/src/rolling/nulls/sum.rs
  crates/polars-compute/src/rolling/window.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
Labels: python, rust, performance

#22382 refactor(rust): Improve code re-use for groupby and delete unused code
  crates/polars-expr/src/groups/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/hot_groups/row_encoded.rs
Labels: rust, internal

#22380 fix: Fix incorrect filter after `LazyFrame.rename().select()`
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/keys.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/rename.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#22360 feat(python): Add Series `backward_fill` / `forward_fill`
  py-polars/docs/source/reference/expressions/modify_select.rst
  py-polars/docs/source/reference/series/modify_select.rst
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, enhancement

#22390 feat(python): When reporting unexpected types in errors, module-qualify the typename
  py-polars/polars/_utils/getitem.py
  py-polars/polars/_utils/various.py
  py-polars/polars/convert/general.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/datatypes/group.py
  py-polars/polars/expr/categorical.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/struct.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/escape_regex.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/interchange/from_dataframe.py
  py-polars/polars/io/csv/functions.py
  py-polars/polars/io/database/functions.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/series/series.py
  py-polars/polars/series/struct.py
  py-polars/polars/sql/context.py
  py-polars/tests/unit/functions/test_functions.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_selectors.py
Labels: python, enhancement

#22401 chore: Replace intrinsic with non-intrinsic
  crates/polars-utils/src/select.rs
Labels: python, rust, internal

#22400 refactor: Reduce hot table size in debug mode
  crates/polars-stream/src/nodes/group_by.rs
Labels: python, rust, internal

#22404 fix: Panic when visualizing streaming physical plan with joins
  crates/polars-stream/src/physical_plan/fmt.rs
Labels: python, rust, fix

#22409 perf: Add single-key variants of streaming group_by
  crates/polars-arrow/src/array/binview/builder.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-compute/src/binview_index_map.rs
  crates/polars-expr/src/groups/binview.rs
  crates/polars-expr/src/groups/mod.rs
  crates/polars-expr/src/groups/row_encoded.rs
  crates/polars-expr/src/groups/single_key.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/hot_groups/binview.rs
  crates/polars-expr/src/hot_groups/fixed_index_table.rs
  crates/polars-expr/src/hot_groups/mod.rs
  crates/polars-expr/src/hot_groups/row_encoded.rs
  crates/polars-expr/src/hot_groups/single_key.rs
  crates/polars-expr/src/lib.rs
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/nodes/joins/semi_anti_join.rs
  crates/polars-utils/src/hashing.rs
  crates/polars-utils/src/idx_map/bytes_idx_map.rs
  crates/polars-utils/src/idx_map/total_idx_map.rs
Labels: python, rust, performance

#22367 fix(rust): Fix chaining pl.lit(<list>) with .list.get(pl.col(...))
  crates/polars-plan/src/dsl/function_expr/list.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: rust, fix

#22420 perf: Lower Expr.(n_)unique to group_by on streaming engine
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_float.py
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, performance

#22421 chore: Make interpolate fix more robust
  py-polars/tests/unit/operations/test_interpolate_by.py
Labels: python, rust, internal

#22407 fix(rust): Fix rust -> python -> rust for map_batches
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-python/src/py_modules.rs
  crates/polars-python/src/series/export.rs
  crates/polars-python/src/series/import.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/series/series.py
Labels: rust, fix

#22415 refactor(rust): Improve new-streaming multiscan physical plan visualization
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#22411 fix(rust): Ensure at least one column projected for AnonymousScan
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
Labels: rust, fix

#22379 fix(python): Ensure `write_excel` correctly preserves null values in nested dtype data on export
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, fix, A-io-spreadsheet

#22357 docs(python): Update docs for schema arg in scan_csv to match read_csv
  py-polars/polars/io/csv/functions.py
Labels: documentation, python

#22356 chore: Install pytorch for 3.13 on Windows
  py-polars/requirements-ci.txt
Labels: python, rust, internal

#22419 Python Polars 1.28.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#22429 fix: Last thread in parquet predicate filter oob
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: python, rust, fix

#22015 build(python): Update `pyo3` and `numpy` crates to version `0.24`
  Cargo.lock
  Cargo.toml
  crates/polars-python/src/conversion/datetime.rs
Labels: python, build

#22426 docs: Add multiplexing page
  docs/source/src/python/user-guide/lazy/multiplexing.py
  docs/source/user-guide/lazy/multiplexing.md
  mkdocs.yml
Labels: documentation, python, rust

#22355 chore: Only use pytorch index-url for `pytorch` package
  .github/workflows/test-coverage.yml
  py-polars/pyproject.toml
  py-polars/requirements-ci.txt
Labels: python, rust, internal

#22431 Python Polars 1.28.1 (fix mac aarch64)
  .github/workflows/release-python.yml
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#22438 chore: Fix CI by removing use_legacy_dataset
  py-polars/tests/unit/io/test_hive.py
Labels: python, rust, internal
