Repository pola-rs/polars, pull requests merged in 2025-10, with the labels that each got.

#24691 fix: Make `Categories` pickleable
  crates/polars-python/src/conversion/categorical.rs
  py-polars/polars/datatypes/classes.py
  py-polars/tests/unit/test_categories.py
Labels: python, rust, fix

#24694 perf: Pushdown filter with `strptime` if input is literal
  crates/polars-plan/src/plans/aexpr/properties/general.rs
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#24699 build: Python pre-release 1.34.0b5
  Cargo.lock
  crates/polars-python/src/c_api/mod.rs
  py-polars/pyproject.toml
  py-polars/runtime/Cargo.toml
  py-polars/src/polars/_plr.py
Labels: python, rust, build

#24711 chore: Fix Makefile `uv pip` option syntax
  Makefile
Labels: python, rust, internal

#24700 perf: Native streaming `gather_every`
  crates/polars-stream/src/nodes/gather_every.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, performance

#24701 refactor: Remove `{Upper,Lower}Bound` expressions in IR
  crates/polars-plan/src/plans/aexpr/function_expr/bounds.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: python, rust, internal

#24705 refactor(rust): Cleaner whitespace skipping in CSV field parser
  crates/polars-io/src/csv/read/buffer.rs
  crates/polars-io/src/csv/read/parser.rs
Labels: rust, internal, A-io-csv

#24735 perf: Pushdown slices on plans within unions
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/lazyframe/test_optimizations.py
Labels: python, rust, performance

#24749 docs: Mention polars[rt64] and polars[rtcompat] instead of u64-idx and lts-cpu
  README.md
  crates/polars-core/src/utils/mod.rs
  crates/polars-error/src/constants.rs
  crates/polars-error/src/lib.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  docs/source/user-guide/installation.md
  py-polars/src/polars/_cpu_check.py
  py-polars/src/polars/dataframe/frame.py
  py-polars/src/polars/lazyframe/frame.py
Labels: documentation, python, rust

#24742 docs: Specify that precision=None becomes 38 for Decimal
  py-polars/src/polars/datatypes/classes.py
Labels: documentation, python, rust

#24746 docs(python): Document output name determination in when/then/otherwise
  py-polars/src/polars/expr/whenthen.py
  py-polars/src/polars/functions/whenthen.py
Labels: documentation, python

#24762 docs: Fix duplicated article in SECURITY.md
  SECURITY.md
Labels: documentation, python, rust

#24298 feat: Add `union()` function for unordered concatenation
  crates/polars-python/src/functions/lazy.rs
  py-polars/src/polars/__init__.py
  py-polars/src/polars/_plr.pyi
  py-polars/src/polars/functions/__init__.py
  py-polars/src/polars/functions/eager.py
  py-polars/tests/unit/functions/test_union.py
Labels: python, rust, enhancement

#24716 feat: Add `separator` to `{Data,Lazy}Frame.unnest`
  crates/polars-core/src/frame/mod.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/plans/functions/dsl.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/functions/schema.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars/tests/it/lazy/projection_queries.rs
  docs/source/src/rust/user-guide/expressions/structs.rs
  py-polars/src/polars/_plr.pyi
  py-polars/src/polars/dataframe/frame.py
  py-polars/src/polars/lazyframe/frame.py
Labels: python, rust, enhancement

#24768 fix: Correct `str.replace` with missing pattern
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#24743 feat: Improve rolling_(sum|mean) accuracy
  crates/polars-compute/src/rolling/mean.rs
  crates/polars-compute/src/rolling/mod.rs
  crates/polars-compute/src/rolling/no_nulls/mean.rs
  crates/polars-compute/src/rolling/no_nulls/sum.rs
  crates/polars-compute/src/rolling/nulls/mean.rs
  crates/polars-compute/src/rolling/nulls/sum.rs
  crates/polars-compute/src/rolling/sum.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
Labels: python, rust, enhancement

#24775 fix: Type error in `bitmask::nth_set_bit_u64`
  crates/polars-arrow/src/bitmap/bitmask.rs
Labels: python, rust, fix

#24774 fix: Use Kahan summation for in-memory groupby sum/mean
  crates/polars-arrow/src/legacy/kernels/take_agg/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  crates/polars-utils/src/kahan_sum.rs
Labels: python, rust, fix

#24740 fix: Fix iterable on `dynamic_group_by` and `rolling` object
  py-polars/src/polars/dataframe/group_by.py
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#24180 feat(python): Drop PyArrow requirement for non-batched usage of `read_database` with the ADBC engine and support `iter_batches` with the ADBC engine
  py-polars/src/polars/dataframe/frame.py
  py-polars/src/polars/io/database/_arrow_registry.py
  py-polars/src/polars/io/database/_executor.py
  py-polars/src/polars/io/database/functions.py
  py-polars/tests/unit/io/database/test_read.py
Labels: python, enhancement, A-io-database

#24472 feat: Add `arr.eval`
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/frame/group_by/position.rs
  crates/polars-expr/src/expressions/eval.rs
  crates/polars-expr/src/planner.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/format.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/properties/general.rs
  crates/polars-plan/src/plans/aexpr/scalar.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/optimizer/set_order/expr_pullup.rs
  crates/polars-plan/src/plans/optimizer/set_order/expr_pushdown.rs
  crates/polars-python/src/expr/array.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/src/polars/_plr.pyi
  py-polars/src/polars/expr/array.py
  py-polars/src/polars/series/array.py
  py-polars/tests/unit/operations/namespaces/array/test_eval.py
Labels: python, rust, enhancement, merge-after-dsl-unfreeze

#24797 ci: Temporarily pin pydantic to fix CI
  py-polars/requirements-dev.txt
Labels: python, rust, internal

#24798 feat: Recursively apply CSPE
  crates/polars-plan/src/plans/optimizer/cse/cse_lp.rs
  crates/polars-plan/src/plans/optimizer/cse/mod.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, enhancement
