Repository pola-rs/polars, pull requests merged in 2025-09, with the labels that each got.

#24301 chore: Remove PDS-H code
  py-polars/tests/benchmark/data/__init__.py
  py-polars/tests/benchmark/data/pdsh/__init__.py
  py-polars/tests/benchmark/data/pdsh/dbgen/dbgen
  py-polars/tests/benchmark/data/pdsh/dbgen/dists.dss
  py-polars/tests/benchmark/data/pdsh/generate_data.py
  py-polars/tests/benchmark/test_pdsh.py
Labels: python, rust, internal

#24286 perf: Move unordering optimization to end
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
Labels: python, rust, performance

#24305 docs: Fix few typos
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/src/dsl/mod.rs
  docs/source/user-guide/lazy/sources_sinks.md
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#24303 fix: Make `Expr.rechunk` serializable
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/dispatch.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: python, rust, fix

#24302 fix: Make `dt.epoch('s')` serializable
  crates/polars-python/src/expr/datetime.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/expr/datetime.py
Labels: python, rust, fix

#24279 perf: Lower `arg_unique` natively to the streaming engine
  crates/polars-plan/src/plans/aexpr/builder.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, performance

#24310 Python Polars 1.33.0
  Cargo.lock
  crates/polars-python/src/c_api/mod.rs
  py-polars/Cargo.toml
Labels: title needs formatting

#23967 fix: Do not error on non-list `Sequence` for `columns` parameter in `read_excel`
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/tests/unit/io/test_spreadsheet.py
Labels: python, rust, fix

#24094 docs(python): Add detail about server-side cursor behaviour for SQLAlchemy in the "iter_batches" parameter of `read_database`
  py-polars/polars/io/database/functions.py
Labels: documentation, python

#24326 fix: Incorrect logic in negative streaming slice
  crates/polars-stream/src/nodes/negative_slice.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#24327 chore: Mark some tests as slow
  py-polars/tests/unit/io/cloud/test_credential_provider.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, internal

#24337 feat: User-friendly error message on empty path expansion
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_scan.py
Labels: python, rust, enhancement

#24287 chore: Update cloud test `InteractiveQuery` to `DirectQuery`
  py-polars/tests/conftest.py
Labels: python, rust, internal

#24343 fix(rust): Make mmap use MAP_PRIVATE rather than MAP_SHARED
  crates/polars-utils/src/mmap.rs
Labels: python, rust, fix

#23805 fix: Match output type to engine for `Struct` arithmetic
  crates/polars-plan/src/plans/aexpr/schema.rs
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, fix

#24361 Revert "perf: Allocate only for read items when reading Parquet with predicate"
  crates/polars-io/src/parquet/read/mmap.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/binview/predicate.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/categorical.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/dictionary_encoded/predicate.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested.rs
  crates/polars-parquet/src/arrow/read/deserialize/nested_utils.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/float.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/plain/predicate.rs
  crates/polars-parquet/src/arrow/read/deserialize/simple.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  crates/polars-parquet/src/arrow/read/expr.rs
  crates/polars-parquet/src/parquet/page/mod.rs
  crates/polars-parquet/src/parquet/types.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars/tests/it/io/parquet/read/file.rs
  crates/polars/tests/it/io/parquet/read/row_group.rs
Labels: title needs formatting

#24381 perf: Don't aggregate groups for strict cast if original len
  crates/polars-expr/src/expressions/cast.rs
Labels: python, rust, performance

#24384 fix: Enable all integer dtypes for `by` parameter in `join_asof`
  crates/polars-ops/src/frame/join/asof/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#24398 fix: Correct `sink_ipc` overload for compression
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, fix

#24399 feat: Support Partitioning sinks in cloud
  crates/polars-plan/src/client/check.rs
Labels: python, rust, enhancement

#24365 feat(python): Add PyCapsule `__arrow_c_schema__` interface to `pl.Schema`
  crates/polars-arrow/src/ffi/generated.rs
  crates/polars-python/src/c_api/mod.rs
  crates/polars-python/src/interop/arrow/to_py.rs
  py-polars/polars/io/iceberg/functions.py
  py-polars/polars/schema.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, enhancement

#24403 perf: Use specialized decoding for all predicates for Parquet dictionary encoding
  crates/polars-parquet/src/arrow/read/deserialize/binview/mod.rs
  crates/polars-parquet/src/arrow/read/deserialize/boolean.rs
  crates/polars-parquet/src/arrow/read/deserialize/categorical.rs
  crates/polars-parquet/src/arrow/read/deserialize/fixed_size_binary.rs
  crates/polars-parquet/src/arrow/read/deserialize/null.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/float.rs
  crates/polars-parquet/src/arrow/read/deserialize/primitive/integer.rs
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
Labels: python, rust, performance, A-io-parquet

#24413 docs: Update readme.
  README.md
Labels: title needs formatting

#24416 chore: Update github template to dispatch to cloud client
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: python, rust, internal

#24406 feat: Support `unique` / `n_unique` / `arg_unique` for `array` columns
  crates/polars-core/src/series/implementations/array.rs
  py-polars/tests/unit/operations/unique/test_n_unique.py
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, enhancement

#23405 fix(python): Fix `iterable_to_pydf(..., infer_schema_length=None)` to scan all data
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, fix

#24421 feat: Add user guide section on AWS role assumption
  docs/source/polars-cloud/providers/aws/permissions.md
Labels: python, rust, enhancement

#24465 fix: Show IR sort options in `explain`
  crates/polars-plan/src/plans/ir/format.rs
Labels: python, rust, fix

#24485 chore: Pin `xlsvwriter` to `3.2.5` or before
  py-polars/requirements-dev.txt
Labels: python, rust, internal

#24434 feat(python): Add unstable `pl.Config.set_default_credential_provider`
  docs/source/src/python/user-guide/io/cloud-storage.py
  docs/source/src/rust/user-guide/io/cloud-storage.rs
  docs/source/user-guide/io/cloud-storage.md
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/polars/io/cloud/credential_provider/_builder.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, enhancement

#24484 refactor: Use `PlanCallback` in `name.map_*`
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/callback.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/format.rs
  crates/polars-plan/src/dsl/function_expr/struct_.rs
  crates/polars-plan/src/dsl/name.rs
  crates/polars-plan/src/plans/aexpr/function_expr/struct_.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/name.rs
  crates/polars-utils/src/pl_str.rs
  docs/source/src/rust/user-guide/expressions/expression-expansion.rs
  py-polars/tests/unit/expr/test_exprs.py
Labels: python, rust, internal

#24459 perf: Native streaming `.mode()` expression
  crates/polars-lazy/Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, performance

#24513 perf: Stop caching Parquet metadata after 8 files
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
Labels: python, rust, performance, A-io-parquet, enterprise-support

#24495 refactor(rust): Move collapse_joins optimizer logic into predicate pushdown optimizer
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/frame/opt_state.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/optimizer/collapse_joins.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/optflags.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/lazyframe/opt_flags.py
  py-polars/tests/unit/lazyframe/test_optimizations.py
  py-polars/tests/unit/operations/test_inequality_join.py
  py-polars/tests/unit/operations/test_join.py
Labels: rust, internal

#24435 feat: Add Zstd Level to IPC compression DSL
  crates/polars-arrow/src/io/ipc/compression.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  crates/polars-arrow/src/io/ipc/write/serialize/mod.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-python/src/conversion/mod.rs
  crates/polars-utils/src/compression.rs
  crates/polars/tests/it/arrow/io/ipc/mod.rs
  crates/polars/tests/it/io/ipc.rs
  crates/polars/tests/it/io/ipc_stream.rs
Labels: do not merge, merge-after-dsl-unfreeze

#24532 fix(rust): Escape backslashes in EscapeLabel to produce valid DOT labels
  crates/polars-plan/src/plans/ir/dot.rs
Labels: rust, fix

#24510 fix: Correct dtype for cum_agg in streaming engine
  crates/polars-stream/src/physical_plan/lower_expr.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#24530 fix: Fix regression error when scanning AWS presigned URL
  crates/polars-io/src/path_utils/mod.rs
  py-polars/polars/io/cloud/_utils.py
  py-polars/tests/unit/io/cloud/test_cloud.py
Labels: python, rust, fix

#24554 chore: Fix quickstart example in Polars Cloud user guide
  docs/source/src/python/polars-cloud/quickstart.py
Labels: python, rust, internal

#24550 fix: Fix potential OOB writes in unaligned IPC read
  crates/polars-arrow/src/mmap/array.rs
Labels: python, rust, fix

#24546 fix: Roundtrip empty string through hive partitioning
  crates/polars-plan/src/plans/hive.rs
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, fix

#24531 feat: Deterministic import order for Python Polars package variants
  .github/workflows/release-python.yml
  crates/polars-python/src/c_api/mod.rs
  py-polars/Cargo.toml
  py-polars/_polars64/.gitkeep
  py-polars/polars/__init__.py
  py-polars/polars/_plr.py
  py-polars/polars/_plr.pyi
  py-polars/polars/schema.py
  py-polars/pyproject.toml
  py-polars/src/lib.rs
  py-polars/tests/unit/conftest.py
Labels: python, rust, enhancement, internal

#24569 Python Polars 1.34.0-beta.1
  Cargo.lock
  crates/polars-python/src/c_api/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/_plr.py
  py-polars/tests/unit/test_init.py
Labels: title needs formatting

#24581 fix: Have `log()` prioritize the leftmost dtype for its output dtype
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/operations/arithmetic/test_arithmetic.py
Labels: python, rust, fix

#24595 chore: Rename pl.dependencies to pl._dependencies
  py-polars/polars/_dependencies.py
  py-polars/polars/_typing.py
  py-polars/polars/_utils/async_.py
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/construction/other.py
  py-polars/polars/_utils/construction/series.py
  py-polars/polars/_utils/construction/utils.py
  py-polars/polars/_utils/getitem.py
  py-polars/polars/_utils/various.py
  py-polars/polars/config.py
  py-polars/polars/convert/general.py
  py-polars/polars/dataframe/_html.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/plotting.py
  py-polars/polars/datatypes/constructor.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/lit.py
  py-polars/polars/io/_utils.py
  py-polars/polars/io/cloud/credential_provider/_providers.py
  py-polars/polars/io/database/_cursor_proxies.py
  py-polars/polars/io/database/_utils.py
  py-polars/polars/io/database/functions.py
  py-polars/polars/io/delta.py
  py-polars/polars/io/iceberg/_utils.py
  py-polars/polars/io/ipc/functions.py
  py-polars/polars/io/parquet/functions.py
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/io/pyarrow_dataset/functions.py
  py-polars/polars/io/spreadsheet/_write_utils.py
  py-polars/polars/io/spreadsheet/functions.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/ml/utilities.py
  py-polars/polars/series/plotting.py
  py-polars/polars/series/series.py
  py-polars/polars/sql/context.py
  py-polars/polars/testing/parametric/__init__.py
  py-polars/pyproject.toml
  py-polars/tests/unit/constructors/test_constructors.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/ml/test_to_jax.py
  py-polars/tests/unit/ml/test_torch.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_async.py
  py-polars/tests/unit/test_ds_plugin.py
  py-polars/tests/unit/test_polars_import.py
Labels: python, rust, internal

#24593 chore: Resolve nightly clippy hints
  crates/polars-python/src/series/import.rs
  crates/polars-utils/src/plpath.rs
Labels: python, rust, internal

#24594 fix: Decimal <-> literal arithmetic supertype rules
  crates/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#24437 fix: More precisely model expression ordering requirements
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/plans/aexpr/function_expr/bitwise.rs
  crates/polars-plan/src/plans/aexpr/function_expr/boolean.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
  crates/polars-plan/src/plans/optimizer/set_order/expr_pullup.rs
  crates/polars-plan/src/plans/optimizer/set_order/expr_pushdown.rs
  crates/polars-plan/src/plans/optimizer/set_order/ir_pullup.rs
  crates/polars-plan/src/plans/optimizer/set_order/ir_pushdown.rs
  crates/polars-plan/src/plans/optimizer/set_order/mod.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/options.rs
  crates/polars-utils/src/idx_vec.rs
  py-polars/tests/unit/lazyframe/test_order_observability.py
  py-polars/tests/unit/sql/test_miscellaneous.py
Labels: python, rust, fix

#24585 fix: Sink batches early stop on in-memory engine
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-stream/src/nodes/callback_sink.rs
  py-polars/tests/unit/io/test_sink_batches.py
Labels: python, rust, fix

#24591 fix: Do not allow inferring (`-1`) the dimension on any `Expr.reshape` dimension except the first
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/test_reshape.py
Labels: python, rust, fix

#24592 refactor: Cleanup and prepare `to_field` for element and struct field context
  crates/polars-expr/src/planner.rs
  crates/polars-expr/src/reduce/convert.rs
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/properties/general.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/conversion/stack_opt.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/optimizer/fused.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-plan/src/utils.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, internal

#24597 refactor(rust): Genericize UnitVec for any T
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-stream/src/async_primitives/opt_spawned_future.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-utils/src/enum_unit_vec.rs
  crates/polars-utils/src/idx_vec.rs
  crates/polars-utils/src/lib.rs
Labels: rust, internal

#24612 fix: Newline escaping in streaming show_graph
  crates/polars-stream/src/physical_plan/fmt.rs
Labels: python, rust, fix

#24613 fix: Include missing feature dependency from `polars-stream/diff` to `polars-plan/abs`
  crates/polars-stream/Cargo.toml
Labels: python, rust, fix

#24614 refactor: Remove unused `UnknownKind::Ufunc`
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/utils/supertype.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/plans/conversion/type_coercion/binary.rs
  crates/polars-plan/src/plans/conversion/type_coercion/functions.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
Labels: python, rust, internal

#24621 feat: Log which file the schema was sourced from, and which file caused an extra column error
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/errors.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/forbid_extra_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/pipeline/tasks/reader_starter.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#24584 fix(python): Widen `from_dicts` to `Iterable[Mapping[str, Any]]`
  py-polars/polars/convert/general.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, fix

#24626 chore: Release script pyodide wheel
  .github/workflows/release-python.yml
Labels: python, rust, internal

#24627 chore: Release script pyodide wheel
  .github/workflows/release-python.yml
Labels: python, rust, internal

#24628 chore: Fix sed in-place in release script
  .github/workflows/release-python.yml
Labels: python, rust, internal

#24630 chore: Remove PyOdide from release for now
  .github/workflows/release-python.yml
Labels: python, rust, internal

#24639 ci: Remove dist/ from release python workflow
  .github/workflows/release-python.yml
Labels: python, rust, internal

#24642 build: Include source `polars` in main package only
  Cargo.lock
  crates/polars-python/src/c_api/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/_plr.py
  py-polars/polars/pyproject.toml
  py-polars/pyproject.toml
Labels: title needs formatting

#24590 fix: Add type assertion to prevent out-of-bounds in `GenericFirstLastGroupedReduction`
  crates/polars-core/src/frame/row/av_buffer.rs
  crates/polars-expr/src/reduce/first_last.rs
  crates/polars-expr/src/reduce/len.rs
  crates/polars-expr/src/reduce/mod.rs
Labels: python, rust, fix

#24658 fix: Overflow in slice-slice optimization
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
Labels: python, rust, fix

#24598 feat: Add support to output `dt.total_{}()` duration values as fractionals
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/plans/aexpr/function_expr/datetime.rs
  crates/polars-plan/src/plans/aexpr/function_expr/temporal.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/datetime.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-time/src/chunkedarray/duration.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/polars/testing/parametric/strategies/data.py
  py-polars/tests/unit/datatypes/test_duration.py
Labels: python, rust, enhancement

#24665 feat: Implement maintain_order for cross join
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/cross_join.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_cross_join.py
Labels: python, rust, enhancement

#24674 fix: Support reading of mixed compressed/uncompressed IPC buffers
  crates/polars-arrow/src/io/ipc/read/read_basic.rs
Labels: python, rust, fix

#24634 fix: Fix handling of `AggregatedScalar` in `ApplyExpr` single input
  crates/polars-expr/src/expressions/apply.rs
  py-polars/tests/unit/operations/test_over.py
Labels: python, rust, fix

#24669 perf: Avoid copying expanded paths
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/file_list_reader.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
  crates/polars-utils/src/idx_vec.rs
Labels: python, rust, performance
