Repository pola-rs/polars, pull requests merged in 2025-03, with the labels that each got.

#21520 refactor: Refactor code for re-use by streaming NDJSON source
  crates/polars-io/src/ndjson/core.rs
  crates/polars-io/src/ndjson/mod.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mem_prefetch_funcs.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_data_fetch.rs
  crates/polars-utils/src/mem.rs
  crates/polars-utils/src/mmap.rs
  py-polars/tests/unit/io/test_lazy_json.py
Labels: python, rust, internal

#21548 docs: Polars Cloud docs
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/_build/css/extra.css
  docs/source/api/reference.md
  docs/source/polars-cloud/cli.md
  docs/source/polars-cloud/connect-cloud.md
  docs/source/polars-cloud/explain/authentication.md
  docs/source/polars-cloud/faq.md
  docs/source/polars-cloud/index.md
  docs/source/polars-cloud/integrations/airflow.md
  docs/source/polars-cloud/providers/aws/infra.md
  docs/source/polars-cloud/providers/aws/permissions.md
  docs/source/polars-cloud/quickstart.md
  docs/source/polars-cloud/run/compute-context.md
  docs/source/polars-cloud/run/distributed-engine.md
  docs/source/polars-cloud/run/interactive-batch.md
  docs/source/polars-cloud/run/service-accounts.md
  docs/source/polars-cloud/run/workflow.md
  docs/source/polars-cloud/workspace/settings.md
  docs/source/polars-cloud/workspace/team.md
  docs/source/src/python/polars-cloud/authentication.py
  docs/source/src/python/polars-cloud/compute-context.py
  docs/source/src/python/polars-cloud/index.py
  docs/source/src/python/polars-cloud/interactive-batch.py
  docs/source/src/python/polars-cloud/quickstart.py
  mkdocs.yml
Labels: documentation, python, rust

#21550 docs: Move llm page under misc
  docs/source/user-guide/misc/polars_llms.md
  mkdocs.yml
Labels: documentation, python, rust

#21551 refactor: Don't take ownership of IRplan in new streaming engine
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-stream/src/skeleton.rs
Labels: python, rust, internal

#21524 docs(python): Correct typos and grammar in Python docstrings
  py-polars/polars/dataframe/plotting.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/eager.py
  py-polars/polars/functions/escape_regex.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/interchange/dataframe.py
  py-polars/polars/ml/torch.py
  py-polars/polars/testing/asserts/frame.py
  py-polars/polars/testing/asserts/series.py
Labels: documentation, python

#21552 fix: Categorical min/max panicking when string cache is enabled
  crates/polars-core/src/chunked_array/ops/aggregate/mod.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#21554 docs: Fix typo
  docs/source/development/contributing/index.md
  docs/source/polars-cloud/index.md
  docs/source/polars-cloud/run/distributed-engine.md
  py-polars/docs/source/_templates/layout.html
Labels: documentation, python, rust

#21433 feat: Add lossy decoding to `read_csv` for non-utf8 encodings
  py-polars/polars/io/_utils.py
  py-polars/polars/io/csv/functions.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, enhancement

#21555 Python Polars 1.24
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21559 refactor(rust): Use a oneshot channel for `unrestricted_row_count`, fix panic in new-streaming negative slice
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/negative_slice.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: rust, internal

#21560 feat(python): Support passing `token` in `storage_options` for GCP cloud
  py-polars/polars/io/cloud/credential_provider/_builder.py
Labels: python, enhancement

#21565 fix: Don't hit parquet::pre-filtered in case of pre-slice
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_fetch.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, fix

#21566 docs: Add cloud api reference to Ref guide
  py-polars/docs/source/conf.py
Labels: documentation, python, rust

#21563 fix: Several aspects related to ParquetColumnExpr
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#21567 refactor(rust): Add SeriesBuilder and DataFrameBuilder
  crates/polars-arrow/src/array/builder.rs
  crates/polars-core/src/frame/builder.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/builder.rs
  crates/polars-core/src/series/mod.rs
Labels: rust, internal

#21569 perf: Pre-sort groups in group-by-dynamic
  crates/polars-mem-engine/src/executors/group_by_dynamic.rs
  crates/polars-mem-engine/src/executors/group_by_rolling.rs
  crates/polars-time/src/group_by/dynamic.rs
Labels: python, rust, performance

#21536 refactor: Prepare skeleton for partitioning sinks
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-python/src/functions/mod.rs
  crates/polars-python/src/functions/partitioning.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/polars/io/partition.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lib.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, internal

#21579 feat: Dispatch new-streaming CSV negative slice to separate node
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, enhancement

#21534 feat(python,rust): Support engine callback for `LazyFrame.profile`
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-expr/src/state/node_timer.rs
  crates/polars-lazy/src/frame/exitable.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/cuda/test_node_visitor.py
Labels: python, rust, enhancement

#21574 feat(rust): Implement `unpack_dtypes()` functionality with unit tests
  crates/polars-core/src/datatypes/dtype.rs
Labels: rust, enhancement

#21580 refactor(rust): Avoid downloading full parquet when initializing new streaming parquet source
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: rust, internal

#21582 refactor(rust): Add opt_gather and extend_nulls to builders
  crates/polars-arrow/src/array/binview/builder.rs
  crates/polars-arrow/src/array/boolean/builder.rs
  crates/polars-arrow/src/array/builder.rs
  crates/polars-arrow/src/array/fixed_size_binary/builder.rs
  crates/polars-arrow/src/array/fixed_size_list/builder.rs
  crates/polars-arrow/src/array/list/builder.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/builder.rs
  crates/polars-arrow/src/array/struct_/builder.rs
  crates/polars-arrow/src/bitmap/builder.rs
  crates/polars-core/src/frame/builder.rs
  crates/polars-core/src/series/builder.rs
Labels: rust, internal

#21573 feat: Add new `PartitionMaxSize` sink
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-python/src/functions/mod.rs
  crates/polars-python/src/functions/partitioning.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/mod.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/polars/_typing.py
  py-polars/polars/io/partition.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_partition.py
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, enhancement

#21584 refactor: Remove multiscan handling from new streaming parquet source
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_data_fetch.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: python, rust, internal

#21587 refactor(rust): Add freeze_reset to the builders
  crates/polars-arrow/src/array/binview/builder.rs
  crates/polars-arrow/src/array/boolean/builder.rs
  crates/polars-arrow/src/array/builder.rs
  crates/polars-arrow/src/array/fixed_size_binary/builder.rs
  crates/polars-arrow/src/array/fixed_size_list/builder.rs
  crates/polars-arrow/src/array/list/builder.rs
  crates/polars-arrow/src/array/null.rs
  crates/polars-arrow/src/array/primitive/builder.rs
  crates/polars-arrow/src/array/struct_/builder.rs
  crates/polars-core/src/frame/builder.rs
  crates/polars-core/src/series/builder.rs
Labels: rust, internal

#21586 perf: Don't maintain order when maintain_order=False in new streaming sinks
  crates/polars-io/src/csv/write/options.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/parquet/write/options.rs
  crates/polars-pipe/src/executors/sinks/output/csv.rs
  crates/polars-pipe/src/executors/sinks/output/ipc.rs
  crates/polars-pipe/src/executors/sinks/output/json.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/async_primitives/linearizer.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/pipe.rs
  py-polars/polars/lazyframe/frame.py
Labels: python, rust, performance

#21590 fix: Bad view index in BinaryViewBuilder
  crates/polars-arrow/src/array/binview/builder.rs
  crates/polars-arrow/src/array/builder.rs
Labels: python, rust, fix

#21598 fix: Fix deadlock in new streaming CSV / NDJSON sinks
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
Labels: python, rust, fix

#21597 docs(python): Add a `Plotnine` example to the visualization docs
  docs/source/requirements.txt
  docs/source/src/python/user-guide/misc/visualization.py
  docs/source/user-guide/misc/visualization.md
Labels: documentation, python

#21603 fix: Bad null handling in unordered row encoding
  crates/polars-row/src/variable/no_order.rs
  py-polars/tests/unit/streaming/test_streaming_group_by.py
Labels: python, rust, fix

#21588 feat: Closeable files on unix
  crates/polars-io/src/mmap.rs
  crates/polars-io/src/utils/file.rs
  crates/polars-pipe/src/executors/sinks/output/parquet.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/io.rs
  crates/polars-python/src/file.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-utils/src/file.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, enhancement

#21606 fix: Take into account scalar/partitioned columns in DataFrame::split_chunks
  crates/polars-core/src/frame/chunks.rs
Labels: python, rust, fix

#21607 fix(python): Release the gil on explain
  crates/polars-python/src/lazyframe/general.rs
Labels: python, fix

#21601 refactor: Remove even more parquet multiscan handling
  crates/polars-error/src/lib.rs
  crates/polars-io/src/parquet/read/mod.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_fetch.rs
  crates/polars-stream/src/nodes/io_sources/parquet/metadata_utils.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_data_fetch.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, internal

#21611 fix: Unspecialized prefiltering on nullable arrays
  crates/polars-parquet/src/arrow/read/deserialize/utils/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, fix

#21612 perf: Update Cargo.lock (mainly for zstd 1.5.7)
  Cargo.lock
  py-polars/tests/unit/datatypes/test_temporal.py
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, performance

#21609 docs: Update Polars Cloud interactive workflow examples
  docs/source/polars-cloud/run/interactive-batch.md
  docs/source/polars-cloud/run/workflow.md
  docs/source/src/python/polars-cloud/interactive-batch.py
Labels: documentation, python, rust

#21617 test: Add test for 21581
  py-polars/tests/unit/test_scalar.py
Labels: python, rust, internal

#21599 refactor(rust): Introduce `Writeable` and `AsyncWriteable`
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/utils/file.rs
Labels: rust, internal

#21618 feat: Add len method to arr
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-python/src/expr/array.rs
  py-polars/polars/expr/array.py
  py-polars/polars/series/array.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
Labels: python, rust, enhancement

#21619 fix: Check enum categories when reading csv
  crates/polars-core/src/chunked_array/logical/categorical/builder.rs
  crates/polars-io/src/csv/read/buffer.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#21621 feat: Cloud support for new-streaming scans and sinks
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/partition.py
Labels: python, rust, enhancement

#21622 fix: Always use global registry for object
  crates/polars-core/src/chunked_array/builder/list/mod.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/extension/drop.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/chunked_array/ops/any_value.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/row_encode.rs
  crates/polars-core/src/chunked_array/struct_/mod.rs
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/field.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/fmt.rs
  crates/polars-core/src/frame/row/mod.rs
  crates/polars-core/src/frame/row/transpose.rs
  crates/polars-core/src/series/any_value.rs
  crates/polars-core/src/series/from.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/into.rs
  crates/polars-core/src/series/iterator.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-core/src/series/ops/null.rs
  crates/polars-io/src/csv/write/write_impl.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-io/src/shared.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-ops/src/chunked_array/gather/chunked.rs
  crates/polars-plan/src/dsl/function_expr/shift_and_fill.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-python/src/conversion/mod.rs
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/datatypes.rs
  crates/polars-python/src/interop/numpy/to_numpy_series.rs
  crates/polars-python/src/series/export.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/map.rs
Labels: python, rust, fix

#21624 ci: Add docs workflow
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21626 ci: Check major/minor in docs
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21629 ci: Fail docs early
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21630 ci: Push versioned docs on workflow dispatch
  .github/workflows/docs-python.yml
Labels: python, rust, internal

#21589 feat: Enable new streaming memory sinks by default
  README.md
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-io/src/ipc/write.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/mod.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  docs/source/src/python/user-guide/concepts/streaming.py
  docs/source/src/python/user-guide/lazy/execution.py
  py-polars/polars/_typing.py
  py-polars/polars/_utils/cloud.py
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_partition.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/lazyframe/test_engine_selection.py
  py-polars/tests/unit/lazyframe/test_with_context.py
  py-polars/tests/unit/operations/test_concat.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_merge_sorted.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_categoricals.py
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_io.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
Labels: python, rust, enhancement, highlight, fix

#21627 refactor(rust): Rename `block_on_potential_spawn` to `block_in_place_on`
  crates/polars-io/src/cloud/adaptors.rs
  crates/polars-io/src/file_cache/file_fetcher.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils/file.rs
  crates/polars-mem-engine/src/executors/scan/ipc.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-plan/src/plans/conversion/scans.rs
  crates/polars-python/src/catalog/unity.rs
Labels: rust, internal

#21636 refactor: Support object from chunks
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/series/from.rs
Labels: python, rust, internal

#21600 fix: Properly handle phase transitions in row-wise sinks
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  py-polars/tests/unit/streaming/test_streaming_io.py
Labels: python, rust, fix

#21632 perf: Collect parquet statistics in one contiguous buffer
  crates/polars-arrow/src/array/fixed_size_binary/mutable.rs
  crates/polars-io/src/parquet/read/predicates.rs
  crates/polars-parquet/src/arrow/read/statistics.rs
  crates/polars-parquet/src/parquet/metadata/row_metadata.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
Labels: python, rust, performance

#21640 fix: Fix deadlock in cache + hconcat
  crates/polars-mem-engine/src/executors/merge_sorted.rs
  crates/polars-mem-engine/src/lib.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-mem-engine/src/utils.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
Labels: python, rust, fix

#21642 refactor(rust): Remove unused flag
  crates/polars-lazy/src/dsl/functions.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/scan/csv.rs
  crates/polars-lazy/src/scan/ipc.rs
  crates/polars-lazy/src/scan/parquet.rs
  crates/polars-plan/src/frame/opt_state.rs
Labels: rust, internal

#21646 perf: Pre-fill caches
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-mem-engine/src/executors/cache.rs
  crates/polars-mem-engine/src/executors/merge_sorted.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  py-polars/tests/unit/test_cse.py
Labels: python, rust, performance

#21639 refactor(rust): Remove `once_cell` in favor of `std` equivalents
  Cargo.lock
  Cargo.toml
  crates/polars-core/Cargo.toml
  crates/polars-core/src/chunked_array/logical/categorical/string_cache.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/chunked_array/temporal/mod.rs
  crates/polars-core/src/lib.rs
  crates/polars-core/src/random.rs
  crates/polars-expr/Cargo.toml
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-io/Cargo.toml
  crates/polars-io/src/cloud/object_store_setup.rs
  crates/polars-io/src/cloud/options.rs
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/cache_lock.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/path_utils/mod.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-io/src/utils/other.rs
  crates/polars-lazy/Cargo.toml
  crates/polars-ops/Cargo.toml
  crates/polars-pipe/Cargo.toml
  crates/polars-pipe/src/executors/sinks/group_by/generic/thread_local.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/dsl/function_expr/plugin.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-python/Cargo.toml
  crates/polars-time/Cargo.toml
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/strptime.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/mem.rs
  crates/polars-utils/src/mmap.rs
  crates/polars-utils/src/python_function.rs
  crates/polars-utils/src/sys.rs
Labels: rust, internal

#21620 perf: Improve join performance for new-streaming engine
  Cargo.lock
  crates/polars-arrow/src/array/primitive/builder.rs
  crates/polars-arrow/src/bitmap/builder.rs
  crates/polars-core/src/chunked_array/object/builder.rs
  crates/polars-core/src/chunked_array/object/registry.rs
  crates/polars-core/src/series/builder.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/idx_table/mod.rs
  crates/polars-expr/src/idx_table/row_encoded.rs
  crates/polars-expr/src/lib.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/joins/equi_join.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/sparse_init_vec.rs
Labels: python, rust, performance

#21641 fix: Fix`Future attached to different loop` error on `read_database_uri`
  .typos.toml
  py-polars/polars/_utils/nest_asyncio.py
  py-polars/polars/io/database/_utils.py
  py-polars/tests/unit/io/database/test_async.py
Labels: python, rust, fix

#21656 fix: Casting Struct to String panics if n_chunks > 1
  crates/polars-core/src/chunked_array/struct_/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#21657 perf: Box large enum variants
  crates/polars-core/src/chunked_array/builder/list/dtypes.rs
  crates/polars-io/src/utils/file.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-lazy/src/physical_plan/streaming/convert_alp.rs
  crates/polars-lazy/src/scan/ndjson.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-mem-engine/src/executors/multi_file_scan.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/mod.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-mem-engine/src/executors/scan/parquet.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-parquet/src/arrow/read/statistics.rs
  crates/polars-pipe/src/executors/sources/csv.rs
  crates/polars-pipe/src/executors/sources/parquet.rs
  crates/polars-pipe/src/pipeline/convert.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/functions/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/optimizer/count_star.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/utils/late_materialized_df.rs
Labels: python, rust, performance

#21473 docs(python): Add expression composability to PySpark comparison
  docs/source/user-guide/migration/spark.md
Labels: documentation, python

#21669 fix: Right join on multiple columns not coalescing left_on columns
  crates/polars-ops/src/frame/join/mod.rs
  py-polars/tests/unit/operations/test_join_right.py
Labels: python, rust, fix

#21670 fix: Incorrect loop length in new-streaming group by
  crates/polars-stream/src/nodes/group_by.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#21672 chore: Work around typos ignore bug
  .typos.toml
Labels: python, rust, internal

#21673 feat: Use FFI to read dataframe instead of transmute
  Cargo.lock
  crates/polars-ffi/src/version_0.rs
  crates/polars-plan/Cargo.toml
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/plans/python/utils.rs
  crates/polars-python/Cargo.toml
  crates/polars-python/src/dataframe/general.rs
  py-polars/tests/unit/cloud/test_prepare_cloud_plan.py
Labels: python, rust, enhancement, internal

#21679 perf: Remove unnecessary black_boxes in Kahan summation
  crates/polars-compute/src/rolling/no_nulls/sum.rs
  crates/polars-compute/src/rolling/nulls/sum.rs
Labels: python, rust, performance

#21678 fix: Variance can never be negative
  crates/polars-compute/src/var_cov.rs
Labels: python, rust, fix

#21685 feat: Add `pl.defer`, a function that defers DataFrame construction.
  crates/polars-lazy/src/frame/python.rs
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  crates/polars-plan/src/dsl/python_dsl/source.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/python/source.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazyframe/visit.rs
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/plugins.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_io_plugin.py
Labels: title needs formatting

#21688 feat: Support Polars int128 in from arrow
  crates/polars-arrow/src/ffi/schema.rs
Labels: python, rust, enhancement

#21686 feat: Stabilize Enum datatype
  py-polars/polars/datatypes/classes.py
Labels: python, rust, enhancement

#21671 fix: IPC round-trip of list of empty view with non-empty bufferset
  crates/polars-arrow/src/compute/concatenate.rs
  crates/polars-arrow/src/io/ipc/write/common.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust, fix

#21691 fix: Support 128 sum reduction on new streaming
  crates/polars-expr/src/reduce/sum.rs
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#21696 refactor: Add as_phys_any to PrivateSeries for downcasting
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/binary.rs
  crates/polars-core/src/series/implementations/binary_offset.rs
  crates/polars-core/src/series/implementations/boolean.rs
  crates/polars-core/src/series/implementations/categorical.rs
  crates/polars-core/src/series/implementations/date.rs
  crates/polars-core/src/series/implementations/datetime.rs
  crates/polars-core/src/series/implementations/decimal.rs
  crates/polars-core/src/series/implementations/duration.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-core/src/series/implementations/object.rs
  crates/polars-core/src/series/implementations/string.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/implementations/time.rs
  crates/polars-core/src/series/series_trait.rs
Labels: python, rust, internal

#21667 chore: Remove old-streaming from engine argument
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  py-polars/polars/_typing.py
  py-polars/polars/_utils/cloud.py
  py-polars/polars/_utils/deprecation.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/datatypes/test_decimal.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_scan.py
  py-polars/tests/unit/lazyframe/test_with_context.py
  py-polars/tests/unit/operations/test_concat.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_categoricals.py
  py-polars/tests/unit/streaming/test_streaming_cse.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_io.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/streaming/test_streaming_sort.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
Labels: python, rust, internal

#21702 fix: Support nulls in multi-column sort
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, fix

#21704 fix: IO plugin; support empty iterator
  crates/polars-mem-engine/src/executors/scan/python_scan.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, fix

#21705 feat: Support all elementwise functions in IO plugin predicates
  crates/polars-plan/src/plans/python/predicate.rs
Labels: python, rust, enhancement

#21694 fix: New streaming multiscan deadlock
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/mod.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/negative_slice_pass.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/row_index_limit_pass.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  py-polars/tests/unit/io/test_multiscan.py
Labels: python, rust, fix

#21711 fix: Always fallback in SkipBatchPredicate
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
Labels: python, rust, fix

#21713 refactor: Add sinks into the DSL before optimization
  crates/polars-io/src/utils/mod.rs
  crates/polars-io/src/utils/sync_on_close.rs
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/executor.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/mod.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
Labels: python, rust, internal

#20717 feat(rust,python): Add a config option to specify the default engine to attempt to use during lazyframe calls
  crates/polars-core/src/config.rs
  crates/polars-python/src/functions/utils.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/config.py
  py-polars/polars/lazyframe/frame.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_config.py
Labels: python, rust, enhancement

#21716 fix: Incorrect (FixedSize)ListArrayBuilder gather implementation
  crates/polars-arrow/src/array/fixed_size_list/builder.rs
  crates/polars-arrow/src/array/list/builder.rs
Labels: python, rust, fix

#21687 feat: Enable joins on list/array dtypes
  crates/polars-ops/src/frame/join/hash_join/single_keys_dispatch.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, enhancement

#21717 feat: Add `mkdir` flag to sinks
  crates/polars-io/src/utils/mkdir.rs
  crates/polars-io/src/utils/mod.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/nodes/io_sinks/csv.rs
  crates/polars-stream/src/nodes/io_sinks/ipc.rs
  crates/polars-stream/src/nodes/io_sinks/json.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_sink.py
Labels: python, rust, enhancement

#21730 chore: Remove order check from flaky test
  py-polars/tests/unit/operations/test_join_right.py
Labels: python, rust, internal

#21712 perf: Add primitive single-key hashtable to new-streaming join
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/idx_table/mod.rs
  crates/polars-expr/src/idx_table/single_key.rs
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-stream/src/nodes/joins/equi_join.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/idx_map/mod.rs
  crates/polars-utils/src/idx_map/total_idx_map.rs
  crates/polars-utils/src/total_ord.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_join_right.py
Labels: python, rust, performance

#21731 feat: Fix replace flags
  crates/polars-plan/src/plans/conversion/functions.rs
  crates/polars-plan/src/plans/options.rs
Labels: python, rust, enhancement

#21144 fix: Fix `list.mean` and `list.median` returning Float64 for temporal types
  crates/polars-ops/src/chunked_array/list/dispersion.rs
  crates/polars-ops/src/chunked_array/list/sum_mean.rs
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/schema.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#21715 fix: Disallow cast to empty Enum
  crates/polars-core/src/series/mod.rs
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#21734 docs: Make python/rust getting-started consistent and clarify performance risk of infer_schema_length=None
  crates/polars-io/src/csv/read/options.rs
  crates/polars-lazy/src/scan/csv.rs
  docs/source/src/rust/user-guide/getting-started.rs
  docs/source/user-guide/transformations/time-series/parsing.md
Labels: documentation, python, rust

#21727 fix: Incorrect multithread path taken for aggregations
  crates/polars-expr/src/expressions/aggregation.rs
Labels: python, rust, fix

#21721 refactor: Only use chrono_tz timezones in hypothesis testing
  crates/polars-python/src/datatypes.rs
  crates/polars-time/src/lib.rs
  crates/polars-time/src/utils.rs
  py-polars/polars/testing/parametric/strategies/dtype.py
  py-polars/src/lib.rs
Labels: python, rust, internal

#21733 feat: Add lazy sinks
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/general.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/io/test_sink.py
Labels: python, rust, enhancement, highlight

#21724 fix: Don't check sortedness in `join_asof` when 'by' groups supplied, but issue warning
  crates/polars-ops/src/frame/join/asof/groups.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#21746 docs(python): Add example for percentile rank
  py-polars/polars/expr/expr.py
Labels: documentation, python

#21743 feat: Support multi-column sort for all nested types and nested search-sorted
  crates/polars-core/src/chunked_array/ops/sort/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-ops/src/series/ops/search_sorted.rs
  py-polars/tests/unit/operations/test_index_of.py
  py-polars/tests/unit/operations/test_sort.py
Labels: python, rust, enhancement

#21749 chore: Remove variance numerical stability hack
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
Labels: python, rust, internal

#21748 feat: Add support for rolling_(sum/min/max) for booleans through casting
  crates/polars-time/src/chunkedarray/rolling_window/dispatch.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, enhancement

#21653 perf: Allow elementwise functions in recursive lowering
  crates/polars-core/src/fmt.rs
  crates/polars-ops/src/chunked_array/strings/concat.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/plans/aexpr/properties.rs
  crates/polars-plan/src/utils.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  py-polars/tests/unit/operations/namespaces/string/test_pad.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/sql/test_group_by.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, performance

#21747 perf: Enable common subplan elimination across plans in `collect_all`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/lib.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/ir/schema.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/collect_members.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  crates/polars-plan/src/plans/visitor/hash.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/mod.rs
  crates/polars-python/src/lazyframe/optflags.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-stream/src/skeleton.rs
  py-polars/polars/functions/lazy.py
  py-polars/polars/lazyframe/__init__.py
  py-polars/polars/lazyframe/opt_flags.py
  py-polars/src/lib.rs
  py-polars/tests/unit/io/test_sink.py
Labels: python, rust, performance, highlight

#21714 fix: Disallow cast from boolean to categorical/enum
  crates/polars-core/src/chunked_array/cast.rs
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, fix

#21492 fix: Allow init from BigQuery Arrow data containing ExtensionType cols with irrelevant metadata
  crates/polars-python/src/interop/arrow/to_rust.rs
  py-polars/polars/selectors.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, rust, fix, A-interop-arrow, A-io-database

#21756 Python Polars 1.25
  Cargo.lock
  crates/polars-python/src/interop/arrow/to_rust.rs
  py-polars/Cargo.toml
Labels: title needs formatting

#21761 fix: Clear NaNs due to zero-weight division in rolling var/std
  crates/polars-compute/src/var_cov.rs
  py-polars/tests/unit/operations/test_rolling.py
Labels: python, rust, fix

#21760 docs: Add skrub to ecosystem.md
  docs/source/user-guide/ecosystem.md
Labels: documentation, python, rust

#21753 fix: Fix error due to race condition in file cache
  crates/polars-io/src/file_cache/cache_lock.rs
  crates/polars-io/src/file_cache/entry.rs
  crates/polars-io/src/file_cache/eviction.rs
Labels: python, rust, fix

#21765 fix(python): Expose and document partitions
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io/__init__.py
Labels: python, fix

#21767 perf: Improve InputIndependentSelect by delegating to InMemorySourceNode
  crates/polars-stream/src/expression.rs
  crates/polars-stream/src/nodes/input_independent_select.rs
Labels: python, rust, performance

#21768 refactor(rust): Add allocation-free empty/default to SharedStorage
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/storage.rs
Labels: rust, internal

#21763 Python Polars 1.25.1
  .github/workflows/release-python.yml
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21770 perf: Implement linear-time rolling_min/max
  crates/polars-compute/src/rolling/min_max.rs
  crates/polars-compute/src/rolling/mod.rs
  crates/polars-compute/src/rolling/no_nulls/min_max.rs
  crates/polars-compute/src/rolling/nulls/min_max.rs
  crates/polars-compute/src/rolling/nulls/mod.rs
  crates/polars-core/src/frame/group_by/aggregations/mod.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/min_max.rs
  crates/polars-utils/src/ord.rs
Labels: python, rust, performance

#21774 Python Polars 1.25.2
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21780 docs: Add sources and sinks to user-guide
  docs/source/user-guide/concepts/_streaming.md
  docs/source/user-guide/lazy/execution.md
  docs/source/user-guide/lazy/index.md
  docs/source/user-guide/lazy/sources_sinks.md
  docs/source/user-guide/lazy/streaming.md
  mkdocs.yml
  py-polars/polars/functions/lazy.py
Labels: documentation, python, rust

#21775 perf: Use binary_search instead of contains in business-day functions
  crates/polars-ops/src/series/ops/business.rs
Labels: python, rust, performance

#21722 feat(rust): Add `polars_testing` folder with relevant files and `add_series_equal!()` functionality
  Cargo.lock
  crates/Makefile
  crates/polars-testing/Cargo.toml
  crates/polars-testing/LICENSE
  crates/polars-testing/README.md
  crates/polars-testing/src/asserts/mod.rs
  crates/polars-testing/src/asserts/series.rs
  crates/polars-testing/src/asserts/utils.rs
  crates/polars-testing/src/lib.rs
Labels: rust, enhancement

#21795 refactor(rust): Add a slice enum to polars-utils
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/slice_enum.rs
Labels: rust, internal

#21797 feat(python): Add `explain_all`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-python/src/functions/lazy.rs
  py-polars/docs/source/reference/functions.rst
  py-polars/polars/__init__.py
  py-polars/polars/functions/__init__.py
  py-polars/polars/functions/lazy.py
  py-polars/src/lib.rs
Labels: python, enhancement

#21798 fix: Memory leaks in SharedStorage
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/storage.rs
Labels: python, rust, fix

#21813 fix: Deprecation of `streaming=False`
  py-polars/polars/_utils/deprecation.py
  py-polars/tests/unit/streaming/test_streaming.py
Labels: python, rust, fix

#21814 fix: Respect header separator in `sink_csv`
  crates/polars-stream/src/nodes/io_sinks/csv.rs
Labels: python, rust, fix

#21675 fix(python): Add option to use relative paths for plugin libraries
  py-polars/polars/plugins.py
  py-polars/tests/unit/test_plugins.py
Labels: python, fix

#21811 refactor(rust): Add MorselLinearizer convenience wrapper
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/async_primitives/morsel_linearizer.rs
Labels: rust, internal

#21822 feat: Minor improvements to EXPLAIN plan output
  crates/polars-plan/src/plans/ir/format.rs
  py-polars/tests/unit/io/test_lazy_csv.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, enhancement, A-plan

#21826 fix: Incorrect quote check in CSV parser
  crates/polars-io/src/csv/read/schema_inference.rs
Labels: python, rust, fix

#21816 feat(rust): Add DoubleEndedIterator for CatIter
  crates/polars-core/src/chunked_array/logical/categorical/mod.rs
Labels: rust, enhancement

#21812 refactor(rust): Add ops components for refactored multiscan
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-core/src/frame/mod.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/missing_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/reorder_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
Labels: rust, internal

#21842 fix: Fix div 0 partitioned group-by
  crates/polars-arrow/src/array/boolean/mod.rs
  crates/polars-core/src/chunked_array/ops/chunkops.rs
  crates/polars-core/src/chunked_array/ops/set.rs
  crates/polars-expr/src/expressions/aggregation.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#21843 fix: Fix partitioned group-by broadcast
  crates/polars-mem-engine/src/executors/group_by_partitioned.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: title needs formatting

#21788 feat: Add `PartitionParted`
  crates/polars-ops/src/series/ops/rle.rs
  crates/polars-plan/src/dsl/options.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir.rs
  crates/polars-plan/src/plans/conversion/mod.rs
  crates/polars-python/src/lazyframe/sink.rs
  crates/polars-stream/src/nodes/io_sinks/partition/by_key.rs
  crates/polars-stream/src/nodes/io_sinks/partition/mod.rs
  crates/polars-stream/src/nodes/io_sinks/partition/parted.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/io/__init__.py
  py-polars/polars/io/partition.py
  py-polars/tests/unit/io/test_partition.py
  py-polars/tests/unit/operations/test_rle.py
Labels: python, rust, enhancement

#21821 perf: Improve join performance for expanding joins
  crates/polars-stream/src/nodes/joins/equi_join.rs
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/lazyframe/test_optimizations.py
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_join_right.py
  py-polars/tests/unit/streaming/test_streaming_join.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, performance

#21841 refactor(rust): Mark `with_row_index_mut` as unsafe
  crates/polars-core/src/frame/mod.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/csv/read/read_impl/batched.rs
  crates/polars-io/src/ipc/ipc_file.rs
  crates/polars-io/src/parquet/read/read_impl.rs
  crates/polars-io/src/shared.rs
  crates/polars-mem-engine/src/executors/scan/csv.rs
  crates/polars-mem-engine/src/executors/scan/ndjson.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/negative_slice_pass.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/row_index_limit_pass.rs
Labels: rust, internal

#21839 refactor(rust): Add new `FileReader` / `FileReaderBuilder` interfaces for multi file
  Cargo.lock
  Cargo.toml
  crates/polars-io/Cargo.toml
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/async_primitives/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/builder.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/output.rs
Labels: rust, internal

#21829 perf: Enable THP by default
  .cargo/config.toml
  py-polars/polars/__init__.py
  py-polars/src/allocator.rs
Labels: python, rust, performance

#21853 perf: Put THP behind feature flag
  py-polars/polars/__init__.py
Labels: python, rust, performance

#21825 fix: Join with categoricals on new-streaming engine
  crates/polars-core/src/chunked_array/logical/categorical/revmap.rs
  crates/polars-core/src/chunked_array/logical/categorical/string_cache.rs
  crates/polars-core/src/series/builder.rs
  crates/polars-error/src/lib.rs
  crates/polars-expr/src/hash_keys.rs
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/operations/test_cut.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, fix

#21865 chore(rust): Remove `FileSink` from `polars-parquet`
  crates/polars-parquet/src/arrow/write/mod.rs
  crates/polars-parquet/src/arrow/write/sink.rs
Labels: rust, internal

#21873 fix: Null panic on decimal aggregate
  crates/polars-core/src/series/implementations/decimal.rs
Labels: python, rust, fix

#21876 perf: Avoid rechunking in gather
  crates/polars-core/src/chunked_array/ops/gather.rs
Labels: python, rust, performance

#21872 perf: Use views for binary hash tables and add single-key binary variant
  Cargo.lock
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/array/binview/mutable.rs
  crates/polars-arrow/src/array/binview/view.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/buffer/immutable.rs
  crates/polars-compute/Cargo.toml
  crates/polars-compute/src/binview_index_map.rs
  crates/polars-compute/src/lib.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/idx_table/binview.rs
  crates/polars-expr/src/idx_table/mod.rs
  crates/polars-expr/src/idx_table/row_encoded.rs
Labels: python, rust, performance

#21884 chore: Fix refcount assert being messed up by pytest assertion magic
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, rust, internal

#21885 chore: Disable --dist loadgroup in pytest
  .github/workflows/benchmark.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-python.yml
  py-polars/Makefile
Labels: python, rust, internal

#21881 refactor(rust): Remove `FileType` in favor of `ReaderCapabilities` for new-streaming multiscan
  Cargo.lock
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/missing_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/builder.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-utils/src/slice_enum.rs
Labels: rust, internal

#21887 chore: Add POLARS_TIMEOUT_MS for timing out slow Polars tests
  .github/workflows/benchmark.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-python.yml
  crates/polars-python/src/lib.rs
  crates/polars-python/src/timeout.rs
  crates/polars-python/src/utils.rs
  py-polars/Makefile
Labels: python, rust, internal

#21870 feat: Add support for io-plugins in new-streaming
  Cargo.lock
  crates/polars-mem-engine/src/lib.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/nodes/io_sources/batch.rs
  crates/polars-stream/src/nodes/io_sources/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_io_plugin.py
Labels: python, rust, enhancement

#21863 refactor(rust): Add bridge for multi scan
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/bridge.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
Labels: rust, internal

#21890 fix: Allow `pivot` on empty frame for all integer index dtypes
  crates/polars-ops/src/frame/pivot/mod.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#21861 fix(python): Fix `DataFrame.nan_to_null` work for tuple
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/dataframe/frame.py
  py-polars/tests/unit/dataframe/test_df.py
Labels: python, fix

#21849 refactor: Change dynamic literals to be separate category
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/datatypes/mod.rs
  crates/polars-core/src/scalar/from.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-core/src/scalar/new.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/expr.rs
  crates/polars-plan/src/dsl/format.rs
  crates/polars-plan/src/dsl/functions/temporal.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/plans/aexpr/predicates/skip_batches.rs
  crates/polars-plan/src/plans/conversion/expr_expansion.rs
  crates/polars-plan/src/plans/conversion/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/type_coercion/mod.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/lit.rs
  crates/polars-plan/src/plans/optimizer/cse/cse_expr.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/simplify_functions.rs
  crates/polars-plan/src/plans/python/predicate.rs
  crates/polars-plan/src/utils.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-sql/tests/functions_string.rs
  crates/polars/tests/it/lazy/expressions/arity.rs
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, internal

#21894 Python Polars 1.26.0
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#21904 fix(python): Use absolute paths by defaults for plugins
  py-polars/polars/plugins.py
Labels: python, fix
