Repository pola-rs/polars, pull requests merged in 2025-07, with the labels that each got.

#23361 fix(python): Removed special handling for bytes like objects in read_ndjson
  py-polars/polars/io/ndjson.py
  py-polars/tests/unit/io/test_json.py
Labels: python, fix

#23375 docs(python): Add example of using OR in `join_where`
  py-polars/polars/dataframe/frame.py
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python

#23362 refactor: Rename from_buffer()/FromBuffer to reinterpret()/Reinterpret
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/binary.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/aexpr/function_expr/binary.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/binary.rs
  py-polars/polars/expr/binary.py
Labels: python, rust, internal

#23384 fix(rust): Fix compilation failure with `--no-default-features` and `--features lazy,strings`
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
Labels: rust, fix

#23320 refactor: Ignore Sort if 'by' is empty
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/mod.rs
  crates/polars-plan/src/plans/optimizer/simplify_expr/simplify_functions.rs
Labels: python, rust, internal

#22619 build(rust): Bump up rand & rand_distr
  Cargo.lock
  Cargo.toml
  crates/Makefile
  crates/polars-arrow/Cargo.toml
  crates/polars-arrow/src/bitmap/utils/iterator.rs
  crates/polars-arrow/src/bitmap/utils/mod.rs
  crates/polars-compute/src/filter/boolean.rs
  crates/polars-core/src/chunked_array/random.rs
  crates/polars-core/src/random.rs
  crates/polars-ops/src/chunked_array/gather_skip_nulls.rs
  crates/polars-ops/src/series/ops/rank.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/async_primitives/distributor_channel.rs
  crates/polars-utils/src/clmul.rs
  crates/polars/Cargo.toml
  crates/polars/tests/it/lazy/cwc.rs
  crates/polars/tests/it/lazy/exprs.rs
  docs/source/src/rust/user-guide/expressions/operations.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
  py-polars/tests/unit/operations/test_random.py
  py-polars/tests/unit/operations/test_rank.py
Labels: rust, build

#23387 build: Update all rand code
  Cargo.lock
  crates/polars-parquet/Cargo.toml
  crates/polars-parquet/src/parquet/encoding/bitpacked/pack.rs
Labels: python, rust, build

#23356 feat: Support row group skipping with filters when `cast_options` is given
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/cast_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/parquet/builder.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, enhancement

#23403 docs(python): Update example code in pandas migration guide
  docs/source/user-guide/migration/pandas.md
Labels: documentation, python

#23412 feat: Pass payload in `ExprRegistry`
  crates/polars-plan/src/dsl/expr/named_serde.rs
  crates/polars-plan/src/dsl/expr/serde_expr.rs
Labels: python, rust, enhancement

#23414 chore(python): Fix typing error from new pandas-stubs release
  py-polars/tests/unit/constructors/test_constructors.py
Labels: python, internal

#23413 fix(python): Overload for `eager` default in `Schema.to_frame` was `False` instead of `True`
  py-polars/polars/schema.py
Labels: python, fix

#23417 refactor(rust): Remove unneeded allocations when creating `PlPath`
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  crates/polars-sql/src/table_functions.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  crates/polars-utils/src/plpath.rs
Labels: rust, internal

#23418 fix: Fix index calculation for `nearest` interpolation
  crates/polars-compute/src/rolling/no_nulls/quantile.rs
  crates/polars-compute/src/rolling/nulls/quantile.rs
  crates/polars-compute/src/rolling/quantile_filter.rs
  py-polars/polars/series/series.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#23411 feat: Support `pathlib.Path` as source for `read/scan_delta()`
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, rust, enhancement

#23432 feat: Allow cast to Categorical inside list.eval
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/operations/namespaces/list/test_eval.py
Labels: python, rust, enhancement

#23435 fix: Null handling in full-null group_by_dynamic mean/sum
  crates/polars-compute/src/rolling/nulls/mean.rs
  crates/polars-compute/src/rolling/nulls/sum.rs
  py-polars/tests/unit/operations/test_group_by_dynamic.py
Labels: python, rust, fix

#23436 perf: Use single-key optimization with Categorical
  crates/polars-expr/src/groups/mod.rs
  crates/polars-expr/src/hash_keys.rs
  crates/polars-expr/src/hot_groups/mod.rs
  crates/polars-expr/src/idx_table/mod.rs
Labels: python, rust, performance

#23442 fix(python): Fix missing overload defaults in `read_ods` and `tree_format`
  py-polars/polars/expr/meta.py
  py-polars/polars/io/spreadsheet/functions.py
Labels: python, fix

#23430 refactor(rust): Move `options` out of `RollingFunction`
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/function_expr/rolling_by.rs
  crates/polars-plan/src/dsl/functions/correlation.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling_by.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-time/src/chunkedarray/rolling_window/mod.rs
Labels: rust, internal

#23443 perf: Rolling quantile lower time complexity
  Cargo.lock
  Cargo.toml
  crates/polars-compute/src/rolling/no_nulls/quantile.rs
  crates/polars-compute/src/rolling/nulls/quantile.rs
  crates/polars-compute/src/rolling/window.rs
  crates/polars-core/src/serde/mod.rs
  crates/polars-parquet/Cargo.toml
  crates/polars-utils/src/pl_serialize.rs
Labels: python, rust, performance

#23445 chore: Remove hashbrown_nightly_hack
  Cargo.lock
  Cargo.toml
  crates/polars-core/Cargo.toml
Labels: python, rust, internal

#23444 fix(python): Fix incorrect `_get_path_scheme`
  py-polars/polars/io/cloud/_utils.py
  py-polars/tests/unit/io/test_utils.py
Labels: python, fix

#23455 fix: Support min/max aggregation for DataFrame/LazyFrame Categoricals
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/datatypes/test_categorical.py
Labels: python, rust, fix

#23456 fix(python): Pass DeltaTable._storage_options if no storage_options are provided
  py-polars/polars/io/delta.py
Labels: python, fix

#23464 fix: Don't panic for `finish_callback` with nested datatypes
  crates/polars-core/src/series/builder.rs
  crates/polars-stream/src/nodes/io_sinks/metrics.rs
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, fix

#23473 chore: Remove StringCache from the test suite
  py-polars/polars/testing/parametric/strategies/core.py
  py-polars/tests/docs/run_doctest.py
  py-polars/tests/unit/conftest.py
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/dataframe/test_extend.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/functions/as_datatype/test_concat_list.py
  py-polars/tests/unit/functions/as_datatype/test_struct.py
  py-polars/tests/unit/functions/test_repeat.py
  py-polars/tests/unit/interchange/test_from_dataframe.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interop/test_from_pandas.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/interop/test_to_init_repr.py
  py-polars/tests/unit/io/test_delta.py
  py-polars/tests/unit/io/test_lazy_parquet.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/io/test_parquet.py
  py-polars/tests/unit/io/test_pyarrow_dataset.py
  py-polars/tests/unit/operations/namespaces/test_categorical.py
  py-polars/tests/unit/operations/test_cast.py
  py-polars/tests/unit/operations/test_cut.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_group_by.py
  py-polars/tests/unit/operations/test_hist.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_merge_sorted.py
  py-polars/tests/unit/operations/test_replace.py
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/operations/unique/test_unique.py
  py-polars/tests/unit/series/test_append.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/streaming/test_streaming_categoricals.py
  py-polars/tests/unit/streaming/test_streaming_group_by.py
  py-polars/tests/unit/streaming/test_streaming_io.py
  py-polars/tests/unit/test_config.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, internal

#23474 fix: Always use `cloudpickle` for the python objects in cloud plans
  crates/polars-plan/src/client/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-python/src/lazyframe/serde.rs
  crates/polars-utils/src/pl_serialize.rs
  crates/polars-utils/src/python_function.rs
  crates/polars/src/lib.rs
  py-polars/tests/unit/testing/parametric/strategies/test_core.py
Labels: python, rust, fix

#23477 chore: Remove unnecessary may_fail_auto_streaming
  py-polars/tests/unit/constructors/test_any_value_fallbacks.py
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/dataframe/test_serde.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/datatypes/test_enum.py
  py-polars/tests/unit/datatypes/test_list.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/test_hist.py
  py-polars/tests/unit/operations/test_is_in.py
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/operations/test_merge_sorted.py
  py-polars/tests/unit/operations/test_shift.py
  py-polars/tests/unit/operations/test_transpose.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/streaming/test_streaming_unique.py
  py-polars/tests/unit/test_datatypes.py
Labels: python, rust, internal

#23479 feat(rust): Expose `IRFunctionExpr::FillNullWithStrategy` in the python visitor
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: rust, enhancement

#23482 fix: Properly handle non-finite floats in rolling_sum/mean
  crates/polars-compute/src/rolling/no_nulls/mean.rs
  crates/polars-compute/src/rolling/no_nulls/sum.rs
  crates/polars-compute/src/rolling/nulls/mean.rs
  crates/polars-compute/src/rolling/nulls/sum.rs
  crates/polars-time/src/chunkedarray/rolling_window/rolling_kernels/no_nulls.rs
  crates/polars-utils/src/float.rs
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#23495 refactor: Simpify arena iterators
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-lazy/src/tests/io.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/pdsh.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-lazy/src/tests/projection_queries.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/iterator.rs
  crates/polars-plan/src/plans/optimizer/delay_rechunk.rs
Labels: python, rust, internal

#23501 refactor: Pruning follow-up
  crates/polars-plan/src/plans/prune.rs
Labels: python, rust, internal

#23497 test(python): Fix join test
  py-polars/tests/unit/operations/test_join.py
Labels: python, skip changelog, fix, internal

#23496 docs: Update structure of Polars Cloud documentation
  docs/source/polars-cloud/organization/organizations.md
  docs/source/polars-cloud/run/compute-context.md
  docs/source/polars-cloud/run/distributed-engine.md
  docs/source/polars-cloud/run/example-workflow.md
  docs/source/polars-cloud/workspace/settings.md
  docs/source/polars-cloud/workspace/team.md
  mkdocs.yml
Labels: documentation, python, rust

#23502 refactor: Add test to ensure the global categories gets cleaned up
  py-polars/tests/unit/test_categories.py
Labels: python, rust, internal

#23512 feat(rust): Expose `IRFunctionExpr::Rank` in the python visitor
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
Labels: rust, enhancement

#23510 refactor: Improve Categories error message
  crates/polars-dtype/src/categorical/mod.rs
Labels: python, rust, internal

#23507 fix: Unreachable with `pl.self_dtype`
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-python/src/expr/datatype.rs
  py-polars/polars/datatype_expr.py
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/test_datatype_exprs.py
Labels: python, rust, fix

#23534 chore: Reduce warning in docs serve
  docs/source/polars-cloud/integrations/airflow.md
  docs/source/src/python/user-guide/expressions/user-defined-functions.py
Labels: python, rust, internal

#23535 docs: Update streaming page
  docs/source/src/python/user-guide/concepts/streaming.py
  docs/source/user-guide/concepts/_streaming.md
  docs/source/user-guide/concepts/streaming.md
  mkdocs.yml
Labels: documentation, python, rust

#23536 docs: Fix a few typos in the "Streaming" section
  docs/source/user-guide/concepts/streaming.md
Labels: documentation, python, rust

#23552 docs: Correct note in `from_pandas` about data being cloned
  py-polars/polars/convert/general.py
Labels: documentation, python, rust

#23560 fix: Correctly handle null values when comparing structs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  py-polars/tests/unit/datatypes/test_struct.py
Labels: python, rust, fix

#23563 fix: Update AWS cloud documentation
  docs/source/polars-cloud/providers/aws/infra.md
Labels: python, rust, fix

#23562 fix: Prevent in-mem partition sink deadlock
  crates/polars-mem-engine/src/planner/lp.rs
Labels: python, rust, fix

#23462 fix: Preserve row order within partition when sinking parquet
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, fix

#23564 docs: Add page about billing to Polars Cloud user guide
  docs/source/polars-cloud/organization/billing.md
  mkdocs.yml
Labels: documentation, python, rust

#23565 fix: Make Scalar Categorical, Enum and Struct values serializable
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/scalar/mod.rs
  crates/polars-core/src/scalar/new.rs
  crates/polars-core/src/scalar/serde.rs
  crates/polars-mem-engine/src/executors/join.rs
  crates/polars-ops/src/frame/join/args.rs
  crates/polars-ops/src/frame/join/asof/mod.rs
  crates/polars-ops/src/frame/join/mod.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-python/src/lazyframe/general.rs
Labels: python, rust, fix

#23566 test: Mark select test case as `write_disk`
  py-polars/tests/unit/io/test_partition.py
Labels: python, rust, internal

#23574 fix: Enum serialization assert
  crates/polars-core/src/scalar/new.rs
Labels: python, rust, fix

#23578 feat: Implement `vec_hash` for `List` and `Array`
  crates/polars-core/src/series/implementations/array.rs
  crates/polars-core/src/series/implementations/list.rs
  crates/polars-core/src/series/implementations/struct_.rs
  crates/polars-core/src/series/series_trait.rs
  py-polars/tests/unit/operations/test_hash.py
Labels: python, rust, enhancement

#23580 fix: Allow writing nested Int128 data to Parquet
  crates/polars-parquet/src/arrow/write/mod.rs
  py-polars/tests/unit/functions/test_lit.py
Labels: python, rust, fix

#23585 fix: Fix incorrect `join_asof` with `by` followed by `head/slice`
  crates/polars-ops/src/frame/join/asof/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#23588 fix: Round-trip Enum and Categorical metadata in plugins
  crates/polars-ffi/src/lib.rs
  crates/polars-ffi/src/version_0.rs
Labels: python, rust, fix

#23589 docs(python): Add docs of Expr.list.filter and Series.list.filter
  py-polars/docs/source/reference/expressions/list.rst
  py-polars/docs/source/reference/series/list.rst
Labels: documentation, python

#23598 fix: Honor `n=0` in all cases of `str.replace`
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#23609 fix: Bug in Categorical <-> str compare with nulls
  crates/polars-core/src/chunked_array/comparison/categorical.rs
  py-polars/tests/unit/operations/test_comparison.py
Labels: python, rust, fix

#23606 fix: Casting unused columns in to_torch
  py-polars/polars/dataframe/frame.py
Labels: python, rust, fix

#23611 fix: Correctly set value count output field name
  crates/polars-ops/src/series/ops/various.rs
Labels: python, rust, fix

#23616 chore: Continue on cloud testing
  py-polars/tests/conftest.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/operations/test_explode.py
Labels: python, rust, internal

#23620 docs: Update GPU docs for RAPIDS CUDA 11 deprecation
  docs/source/user-guide/gpu-support.md
  py-polars/polars/lazyframe/frame.py
Labels: documentation, python, rust

#23586 fix: Apply `agg_fn` on `null` values in `pivot`
  crates/polars-core/src/frame/group_by/expr.rs
  crates/polars-core/src/frame/group_by/position.rs
  crates/polars-lazy/src/frame/pivot.rs
  crates/polars-ops/src/frame/pivot/mod.rs
  crates/polars-ops/src/frame/pivot/positioning.rs
  crates/polars/tests/it/core/pivot.rs
  py-polars/tests/unit/operations/test_pivot.py
Labels: python, rust, fix

#23486 feat: Implement mean function in `arr` namespace
  crates/polars-ops/src/chunked_array/array/dispersion.rs
  crates/polars-ops/src/chunked_array/array/namespace.rs
  crates/polars-plan/dsl-schema.sha256
  crates/polars-plan/src/dsl/array.rs
  crates/polars-plan/src/dsl/function_expr/array.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/aexpr/function_expr/array.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/array.rs
  py-polars/docs/source/reference/expressions/array.rst
  py-polars/polars/expr/array.py
  py-polars/tests/unit/datatypes/test_array.py
Labels: python, rust, enhancement

#23632 feat: Add scalar checks to range expressions
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-python/src/functions/range.rs
  py-polars/tests/unit/functions/range/test_date_range.py
  py-polars/tests/unit/functions/range/test_int_range.py
  py-polars/tests/unit/functions/range/test_linear_space.py
  py-polars/tests/unit/functions/range/test_time_range.py
Labels: python, rust, enhancement

#23622 fix: Fix ColumnNotFound error when joining on `col().cast()`
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/conversion/stack_opt.rs
  crates/polars-plan/src/plans/conversion/type_check/mod.rs
  crates/polars-plan/src/plans/optimizer/stack_opt.rs
  crates/polars-plan/src/plans/schema.rs
  py-polars/tests/unit/operations/test_join.py
Labels: python, rust, fix

#20265 docs(python): Update example for writing to cloud storage
  docs/source/src/python/user-guide/io/cloud-storage.py
  docs/source/src/rust/user-guide/io/cloud-storage.rs
  docs/source/user-guide/io/cloud-storage.md
Labels: documentation, python

#23584 fix: Logic of broadcast_rhs in binary functions to correct list.set_intersection for list[str] columns
  crates/polars-ops/src/chunked_array/list/sets.rs
  py-polars/tests/unit/operations/namespaces/list/test_set_operations.py
Labels: python, rust, fix

#23643 chore: Group By maintain order on test
  py-polars/tests/unit/operations/test_filter.py
Labels: python, rust, internal

#23642 chore: Fix cloud bytes scanning and read_* functions
  py-polars/tests/conftest.py
Labels: python, rust, internal

#23645 refactor(rust): Replace `PlSmallStr::from_static("item")` with `LIST_VALUES_NAME`
  crates/polars-arrow/src/array/fixed_size_list/mod.rs
  crates/polars-arrow/src/array/list/mod.rs
  crates/polars-arrow/src/array/mod.rs
  crates/polars-arrow/src/datatypes/mod.rs
  crates/polars-arrow/src/ffi/schema.rs
  crates/polars-core/src/chunked_array/array/mod.rs
  crates/polars-core/src/chunked_array/list/mod.rs
  crates/polars-core/src/chunked_array/ops/full.rs
  crates/polars-core/src/datatypes/any_value.rs
  crates/polars-core/src/datatypes/dtype.rs
  crates/polars-core/src/series/arithmetic/fixed_size_list.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-io/src/json/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/column_selector.rs
Labels: rust, internal

#23644 refactor(rust): Use RelaxedCell for fully relaxed atomics
  crates/polars-arrow/src/array/binview/ffi.rs
  crates/polars-arrow/src/array/binview/mod.rs
  crates/polars-arrow/src/bitmap/immutable.rs
  crates/polars-arrow/src/compute/decimal.rs
  crates/polars-core/src/chunked_array/flags.rs
  crates/polars-core/src/chunked_array/object/extension/mod.rs
  crates/polars-core/src/fmt.rs
  crates/polars-expr/src/idx_table/binview.rs
  crates/polars-expr/src/idx_table/row_encoded.rs
  crates/polars-expr/src/idx_table/single_key.rs
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-io/src/cloud/polars_object_store.rs
  crates/polars-io/src/csv/read/read_impl.rs
  crates/polars-io/src/pl_async.rs
  crates/polars-lazy/src/frame/exitable.rs
  crates/polars-python/src/timeout.rs
  crates/polars-stream/src/async_executor/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/morsel.rs
  crates/polars-stream/src/nodes/io_sinks/parquet.rs
  crates/polars-stream/src/nodes/io_sinks/partition/max_size.rs
  crates/polars-stream/src/nodes/io_sinks/partition/parted.rs
  crates/polars-stream/src/nodes/joins/equi_join.rs
  crates/polars-stream/src/pipe.rs
  crates/polars-utils/src/arena.rs
  crates/polars-utils/src/lib.rs
  crates/polars-utils/src/pl_str.rs
  crates/polars-utils/src/relaxed_cell.rs
Labels: rust, internal

#23652 fix: Stop splitfields iterator at eol in simd branch
  crates/polars-io/src/csv/read/splitfields.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#23631 fix: Selectors in `{Lazy,Data}Frame.filter`
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/meta.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/concat.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_expansion.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/join.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/utils.rs
  crates/polars-plan/src/plans/prune.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visit.rs
  py-polars/tests/unit/operations/namespaces/list/test_eval.py
Labels: python, rust, fix

#23653 perf: Elide bound check
  crates/polars-io/src/csv/read/parser.rs
Labels: python, rust, performance

#23650 refactor(rust): Make helper functions private for equality assertions and update test
  crates/polars-testing/src/asserts/frame.rs
  crates/polars-testing/src/asserts/utils.rs
Labels: rust, internal

#23647 fix: Fix handling of UTF-8 in `write_csv` to `IO[str]`
  crates/polars-python/src/file.rs
  py-polars/tests/unit/io/test_lazy_csv.py
Labels: python, rust, fix

#23659 refactor(rust): Underscore prefix for `get_backing_series`/`to_new_from_backing`
  crates/polars-core/src/frame/column/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/column_selector.rs
Labels: rust, internal

#23660 docs: Point the R Polars version on R-multiverse
  README.md
Labels: documentation, python, rust

#23664 fix: Fix output field dtype for `ToInteger`
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#23670 fix: Revert to old behavior with `name.keep`
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  py-polars/tests/unit/operations/namespaces/test_name.py
Labels: python, rust, fix

#23675 fix: Sort and Scan `with_exprs_and_input`
  crates/polars-plan/src/plans/expr_ir.rs
  crates/polars-plan/src/plans/ir/inputs.rs
Labels: python, rust, fix

#23676 fix: Correct the planner output datatype for `strptime`
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
Labels: python, rust, fix

#23683 perf: Lower Expr.slice to streaming engine
  crates/polars-stream/src/nodes/dynamic_slice.rs
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/streaming_slice.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, performance

#23687 chore: Remove unused `evaluate_inline`
  crates/polars-expr/src/expressions/alias.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/cast.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/planner.rs
Labels: python, rust, internal

#23673 fix(python): Moved passing `DeltaTable._storage_options`
  py-polars/polars/io/delta.py
  py-polars/tests/unit/io/test_delta.py
Labels: python, fix

#23702 fix: Match output type to engine for `rolling_map`
  crates/polars-python/src/expr/rolling.rs
  py-polars/tests/unit/operations/rolling/test_map.py
Labels: python, rust, fix

#23698 fix: Fix output for `str.extract_groups` with empty string pattern
  crates/polars-ops/src/chunked_array/strings/extract.rs
  py-polars/tests/unit/operations/namespaces/string/test_string.py
Labels: python, rust, fix

#23704 refactor: Use UUID for UniqueID
  Cargo.lock
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-lazy/src/tests/cse.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/utils.rs
  crates/polars-plan/src/plans/ir/dot.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/inputs.rs
  crates/polars-plan/src/plans/ir/tree_format.rs
  crates/polars-plan/src/plans/optimizer/cache_states.rs
  crates/polars-plan/src/plans/optimizer/collapse_and_project.rs
  crates/polars-plan/src/plans/optimizer/cse/cse_lp.rs
  crates/polars-plan/src/plans/prune.rs
  crates/polars-python/src/lazyframe/visit.rs
  crates/polars-python/src/lazyframe/visitor/nodes.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/unique_id.rs
Labels: python, rust, internal

#23712 refactor(rust): Use RelaxedCell in multiscan
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: rust, internal

#23711 refactor(rust): Add assertions for unique ID
  crates/polars-mem-engine/src/planner/lp.rs
Labels: rust, internal

#23723 chore: Fix rank test to respect maintain order
  py-polars/tests/unit/operations/test_is_sorted.py
  py-polars/tests/unit/operations/test_rank.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, internal

#23713 fix: Fix incorrect native Iceberg scan from tables with renamed/dropped columns/fields
  .github/workflows/test-python.yml
  crates/polars-core/src/schema/iceberg.rs
  crates/polars-stream/src/nodes/io_sources/batch.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/apply.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/column_selector.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/missing_columns.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/extra_ops/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/deletion_files.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/initialization/projection.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/projection.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_pipelines/generic.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/row_counter.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_iceberg.py
Labels: python, rust, fix

#23734 fix: Correct output datatype for `dt.with_time_unit`
  crates/polars-plan/src/plans/aexpr/function_expr/datetime.rs
Labels: python, rust, fix

#23735 fix: Fix `to_datetime()` fallible identification
  crates/polars-plan/src/plans/aexpr/properties.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Labels: python, rust, fix

#23740 chore: Add `AExpr::is_expr_equal_to`
  crates/polars-plan/src/plans/aexpr/equality.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/traverse.rs
Labels: python, rust, internal

#23750 Python Polars 1.32 pre-release
  Cargo.lock
  py-polars/Cargo.toml
Labels: title needs formatting

#23754 refactor(rust): Expose `PlPathRef` via polars::prelude
  crates/polars/src/prelude.rs
Labels: rust, internal

#23761 chore: Reduce required deps for pyo3-polars
  Cargo.lock
  pyo3-polars/example/derive_expression/expression_lib/Cargo.toml
  pyo3-polars/pyo3-polars/Cargo.toml
Labels: python, rust, internal

#23768 fix: Remove sleep for credential refresh
  crates/polars-io/src/cloud/credential_provider.rs
Labels: python, rust, fix

#23770 fix: Support i128 in asof join
  crates/polars-ops/src/frame/join/asof/groups.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#23773 docs: Correct the `name.*` methods on their removal of aliases
  py-polars/polars/expr/name.py
Labels: documentation, python, rust

#23782 feat(python): Update `BytecodeParser` opcode awareness for upcoming Python 3.14
  py-polars/polars/_utils/udfs.py
Labels: python, enhancement

#23729 refactor(rust): Remove Default for StreamingExecutionState
  crates/polars-expr/src/state/execution_state.rs
  crates/polars-plan/src/plans/optimizer/expand_datasets.rs
  crates/polars-plan/src/plans/optimizer/mod.rs
  crates/polars-stream/src/execute.rs
  crates/polars-stream/src/nodes/io_sources/batch.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_file_reader/reader_interface/builder.rs
  crates/polars-stream/src/physical_plan/io/python_dataset.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/io/test_io_plugin.py
  py-polars/tests/unit/test_predicates.py
Labels: rust, internal

#23801 fix: Stack overflow in `DslPlan` serde
  Cargo.lock
  Cargo.toml
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/pl_serialize.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#23791 test(python): Add pyiceberg to dev dependencies
  py-polars/requirements-ci.txt
  py-polars/requirements-dev.txt
Labels: python, build, internal

#23802 chore: Remove `deserialize_with_unknown_fields`
  Cargo.lock
  Cargo.toml
  crates/polars-plan/Cargo.toml
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/pl_serialize.rs
Labels: python, rust, internal

#23794 feat: Implement `repeat_by` for `Array` and `Null`
  crates/polars-core/src/prelude.rs
  crates/polars-core/src/series/implementations/null.rs
  crates/polars-ops/src/chunked_array/repeat_by.rs
  py-polars/tests/unit/functions/test_repeat.py
Labels: python, rust, enhancement

#23804 perf: Lower pl.repeat to streaming engine
  crates/polars-stream/src/nodes/mod.rs
  crates/polars-stream/src/nodes/repeat.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
Labels: python, rust, performance

#23822 fix: Remove accidental todo! in repeat node
  crates/polars-stream/src/nodes/repeat.rs
Labels: python, rust, fix

#23825 feat(python): Change typing for `.remote()` from `LazyFrameExt` to `LazyFrameRemote`
  docs/source/_build/API_REFERENCE_LINKS.yml
  docs/source/polars-cloud/index.md
  docs/source/polars-cloud/quickstart.md
  py-polars/polars/lazyframe/frame.py
Labels: python, enhancement

#23827 fix: Filter sorted flag from physical in CategoricalChunked
  crates/polars-core/src/chunked_array/logical/categorical.rs
  py-polars/tests/unit/operations/namespaces/test_categorical.py
Labels: python, rust, fix

#23829 fix: Allow encoding of `pl.Enum` with smaller physicals
  crates/polars-json/src/json/write/serialize.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#23839 docs: Fix `pyo3` documentation page link
  README.md
Labels: documentation, python, rust

#23844 fix: Fix error on empty range requests
  crates/polars-io/src/cloud/polars_object_store.rs
Labels: python, rust, fix
