Repository pola-rs/polars, pull requests merged in 2025-08, with the labels that each got.

#23850 fix: Fix index out of bounds panic filtering parquet
  Cargo.lock
  crates/polars-stream/src/async_primitives/opt_spawned_future.rs
  crates/polars-stream/src/nodes/io_sources/parquet/init.rs
  crates/polars-stream/src/nodes/io_sources/parquet/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
  crates/polars-utils/Cargo.toml
  crates/polars-utils/src/enum_unit_vec.rs
  crates/polars-utils/src/lib.rs
  py-polars/tests/unit/io/test_lazy_parquet.py
Labels: python, rust, fix

#23848 feat: Make `rolling_map` serializable
  crates/polars-core/src/chunked_array/ops/mod.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  crates/polars-core/src/series/implementations/floats.rs
  crates/polars-core/src/series/implementations/mod.rs
  crates/polars-core/src/series/series_trait.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/function_expr/rolling.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/rolling.rs
  crates/polars/tests/it/core/rolling_window.rs
  py-polars/polars/expr/expr.py
Labels: python, rust, enhancement

#22840 feat: Reinterpret binary data to fixed size numerical array
  crates/polars-compute/src/cast/binview_to.rs
  crates/polars-compute/src/cast/mod.rs
  crates/polars-ops/src/chunked_array/binary/namespace.rs
  crates/polars-plan/src/dsl/function_expr/binary.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  py-polars/polars/expr/binary.py
  py-polars/polars/series/binary.py
  py-polars/tests/unit/operations/namespaces/test_binary.py
Labels: python, rust, enhancement, do not merge

#23813 refactor(python): Improve/fix internal `LRUCache` implementation and move into "_utils" module
  py-polars/polars/_utils/cache.py
  py-polars/polars/io/cloud/_utils.py
  py-polars/polars/io/cloud/credential_provider/_builder.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
  py-polars/tests/unit/utils/test_cache.py
Labels: python, internal

#23811 fix: Fix errors on native `scan_iceberg`
  crates/polars-parquet/src/arrow/read/schema/convert.rs
  crates/polars-plan/src/plans/optimizer/expand_datasets.rs
  py-polars/tests/unit/io/test_iceberg.py
Labels: python, rust, enhancement, fix

#23725 refactor(rust): Add subphase and query task spawning to StreamingExecState
  crates/polars-stream/src/execute.rs
Labels: rust, internal

#23864 fix: Correctly raise DuplicateError on asof_join with suffix=""
  crates/polars-plan/src/plans/schema.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#23119 feat: Implement `dt.days_in_month` function
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/dt.rs
  crates/polars-plan/src/dsl/function_expr/datetime.rs
  crates/polars-plan/src/plans/aexpr/function_expr/datetime.rs
  crates/polars-plan/src/plans/aexpr/function_expr/temporal.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/datetime.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-time/src/chunkedarray/date.rs
  crates/polars-time/src/chunkedarray/datetime.rs
  crates/polars-time/src/chunkedarray/kernels.rs
  crates/polars-time/src/series/mod.rs
  crates/polars-time/src/windows/calendar.rs
  py-polars/polars/expr/datetime.py
  py-polars/polars/series/datetime.py
  py-polars/tests/unit/operations/namespaces/temporal/test_datetime.py
Labels: python, rust, enhancement

#23884 fix: Spawning tokio task outside reactor
  crates/polars-stream/src/execute.rs
Labels: python, rust, fix

#23191 fix: Improve identification of "non group-key" aggregates in SQL `GROUP BY` queries
  crates/polars-sql/src/context.rs
  crates/polars-sql/tests/issues.rs
Labels: python, rust, fix

#23895 docs: Improve StackOverflow links in contributing guide
  docs/source/development/contributing/index.md
Labels: documentation, python, rust

#23904 fix: Incorrect datatype passed to libc::write
  pyo3-polars/pyo3-polars/src/alloc.rs
Labels: python, rust, fix

#23908 fix: Update cloud testing environment
  py-polars/tests/conftest.py
Labels: python, rust, fix

#23700 refactor: Rewrite `evaluate_on_groups` for `.gather` / `.get`
  crates/polars-expr/src/expressions/aggregation.rs
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/binary.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/expressions/group_iter.rs
  crates/polars-expr/src/expressions/literal.rs
  crates/polars-expr/src/expressions/mod.rs
  crates/polars-expr/src/expressions/slice.rs
  crates/polars-expr/src/expressions/ternary.rs
  crates/polars-expr/src/expressions/window.rs
  crates/polars-ops/src/chunked_array/list/get.rs
  crates/polars-ops/src/chunked_array/list/mod.rs
  crates/polars-ops/src/series/ops/index.rs
  crates/polars-plan/src/plans/aexpr/function_expr/list.rs
  py-polars/tests/unit/operations/aggregation/test_implode.py
  py-polars/tests/unit/operations/test_filter.py
  py-polars/tests/unit/operations/test_gather.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, internal

#23890 feat: Lower `unique_counts` and `value_counts` to streaming engine
  crates/polars-stream/Cargo.toml
  crates/polars-stream/src/physical_plan/lower_expr.rs
Labels: python, rust, enhancement

#23875 fix: Writing List(Array) columns to JSON without panic
  crates/polars-json/src/json/write/serialize.rs
  py-polars/tests/unit/io/test_json.py
Labels: python, rust, fix

#23907 fix: Ensure `collect()` native Iceberg always scans latest when no `snapshot_id` is given
  crates/polars-plan/src/dsl/file_scan/python_dataset.rs
  crates/polars-plan/src/plans/optimizer/expand_datasets.rs
  crates/polars-python/src/dataset/dataset_provider_funcs.rs
  py-polars/polars/io/iceberg/dataset.py
  py-polars/tests/unit/io/test_iceberg.py
Labels: python, rust, fix

#23921 refactor(rust): Split `column_selector.rs`
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/apply_extra_ops.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/column_selector/builder.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/column_selector/mod.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/column_selector/transform.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/components/projection/builder.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/pipeline/tasks/mod.rs
  crates/polars-stream/src/nodes/io_sources/parquet/row_group_decode.rs
Labels: rust, internal

#23881 fix: Restore Arrow-FFI-based Python<->Rust conversion in pyo3-polars
  pyo3-polars/example/extend_polars_python_dispatch/extend_polars/src/lib.rs
  pyo3-polars/example/io_plugin/io_plugin/io_plugin/__init__.py
  pyo3-polars/example/io_plugin/io_plugin/src/lib.rs
  pyo3-polars/pyo3-polars/src/ffi/mod.rs
  pyo3-polars/pyo3-polars/src/ffi/to_py.rs
  pyo3-polars/pyo3-polars/src/ffi/to_rust.rs
  pyo3-polars/pyo3-polars/src/lib.rs
  pyo3-polars/pyo3-polars/src/types.rs
Labels: python, rust, fix

#23877 fix: Properly set sumwise complete on filter for missing columns
  crates/polars-io/src/predicates.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/pipeline/tasks/reader_starter.rs
Labels: python, rust, fix

#23867 refactor: Dispatch through `pl.map_batches` and `AnonymousColumnsUdf`
  crates/polars-expr/src/expressions/apply.rs
  crates/polars-expr/src/expressions/gather.rs
  crates/polars-expr/src/planner.rs
  crates/polars-lazy/src/lib.rs
  crates/polars-lazy/src/tests/aggregations.rs
  crates/polars-lazy/src/tests/optimization_checks.rs
  crates/polars-lazy/src/tests/predicate_queries.rs
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-ops/src/chunked_array/list/get.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/datatype_expr.rs
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/dsl/expr/named_serde.rs
  crates/polars-plan/src/dsl/expr/serde_expr.rs
  crates/polars-plan/src/dsl/functions/arity.rs
  crates/polars-plan/src/dsl/functions/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/name.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/dsl/udf.rs
  crates/polars-plan/src/plans/aexpr/equality.rs
  crates/polars-plan/src/plans/aexpr/function_expr/arg_where.rs
  crates/polars-plan/src/plans/aexpr/function_expr/boolean.rs
  crates/polars-plan/src/plans/aexpr/function_expr/dispatch.rs
  crates/polars-plan/src/plans/aexpr/function_expr/list.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/pow.rs
  crates/polars-plan/src/plans/aexpr/function_expr/rolling.rs
  crates/polars-plan/src/plans/aexpr/function_expr/trigonometry.rs
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/aexpr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_expansion.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-plan/src/plans/optimizer/slice_pushdown_expr.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  crates/polars-python/src/c_api/mod.rs
  crates/polars-python/src/expr/datetime.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-sql/tests/udf.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars/src/docs/lazy.rs
  crates/polars/tests/it/lazy/expressions/arity.rs
  crates/polars/tests/it/lazy/expressions/filter.rs
  crates/polars/tests/it/lazy/queries.rs
  docs/source/src/rust/user-guide/expressions/structs.rs
  docs/source/src/rust/user-guide/transformations/time-series/rolling.rs
  py-polars/polars/expr/expr.py
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/interop/numpy/test_ufunc_expr.py
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/operations/map/test_map_groups.py
  py-polars/tests/unit/test_datatype_exprs.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, internal

#23958 fix: Fix `unpivot` panic when `index=` column not found
  crates/polars-ops/src/frame/pivot/unpivot.rs
  py-polars/tests/unit/operations/test_unpivot.py
Labels: python, rust, fix

#23968 fix: Correct allocator name in `PyCapsule`
  crates/polars-python/src/c_api/allocator.rs
  py-polars/requirements-ci.txt
  py-polars/tests/unit/test_ds_plugin.py
  pyo3-polars/pyo3-polars/src/alloc.rs
Labels: python, rust, fix

#23964 fix: Allow serializing `LazyGroupBy.map_groups`
  crates/polars-lazy/src/frame/mod.rs
  crates/polars-mem-engine/src/executors/group_by.rs
  crates/polars-mem-engine/src/executors/group_by_dynamic.rs
  crates/polars-mem-engine/src/executors/group_by_rolling.rs
  crates/polars-mem-engine/src/planner/lp.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/callback.rs
  crates/polars-plan/src/client/check.rs
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/builder_ir.rs
  crates/polars-plan/src/plans/ir/format.rs
  crates/polars-plan/src/plans/ir/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/group_by.rs
  crates/polars-plan/src/plans/optimizer/projection_pushdown/group_by.rs
  crates/polars-python/src/lazygroupby.rs
  crates/polars-python/src/on_startup.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-utils/src/python_convert_registry.rs
  py-polars/polars/lazyframe/group_by.py
Labels: python, rust, fix

#23976 refactor: Don't define CountStar as dyn OptimizationRule
  crates/polars-plan/src/plans/optimizer/count_star.rs
Labels: python, rust, internal

#23983 docs(python): Fix a typo in "lazy/execution" user-guide page
  docs/source/user-guide/lazy/execution.md
Labels: documentation, python

#23970 chore: Add a `_plr.pyi` to remove `mypy` issues
  .typos.toml
  crates/polars-python/src/dataframe/export.rs
  crates/polars-python/src/dataframe/general.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/functions/meta.rs
  crates/polars-python/src/functions/range.rs
  crates/polars-python/src/lazyframe/general.rs
  crates/polars-python/src/lazygroupby.rs
  crates/polars-python/src/series/buffers.rs
  crates/polars-python/src/series/general.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/_typing.py
  py-polars/polars/_utils/async_.py
  py-polars/polars/_utils/construction/dataframe.py
  py-polars/polars/_utils/getitem.py
  py-polars/polars/config.py
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/polars/datatype_expr/datatype_expr.py
  py-polars/polars/datatypes/convert.py
  py-polars/polars/exceptions.py
  py-polars/polars/expr/array.py
  py-polars/polars/expr/binary.py
  py-polars/polars/expr/datetime.py
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/expr/whenthen.py
  py-polars/polars/functions/as_datatype.py
  py-polars/polars/functions/business.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/functions/range/int_range.py
  py-polars/polars/functions/range/linear_space.py
  py-polars/polars/functions/repeat.py
  py-polars/polars/interchange/protocol.py
  py-polars/polars/lazyframe/frame.py
  py-polars/polars/selectors.py
  py-polars/polars/series/series.py
  py-polars/polars/series/utils.py
  py-polars/polars/string_cache.py
  py-polars/tests/unit/interop/numpy/test_numpy.py
  py-polars/tests/unit/interop/test_interop.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/io/test_multiscan.py
  py-polars/tests/unit/operations/map/test_map_groups.py
  py-polars/tests/unit/series/test_series.py
  py-polars/tests/unit/test_row_encoding.py
  py-polars/tests/unit/test_row_encoding_sort.py
Labels: python, rust, internal

#24007 fix: Align `map_elements` with and without `return_dtype`
  crates/polars-python/src/map/series.rs
  crates/polars-python/src/series/map.rs
  py-polars/tests/unit/operations/map/test_map_elements.py
Labels: python, rust, fix

#24005 fix: Cache id is not a valid dot node id
  crates/polars-plan/src/plans/ir/dot.rs
Labels: python, rust, fix

#24013 fix: Accept another zlib "magic header" file signature
  crates/polars-io/src/utils/compression.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust, fix

#24014 perf: Lower .sort(maintain_order=True).head() to streaming top_k
  crates/polars-stream/src/physical_plan/lower_ir.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, performance

#24024 chore: Use .venv instead of venv in pyo3-polars examples
  pyo3-polars/example/derive_expression/Makefile
  pyo3-polars/example/extend_polars_python_dispatch/Makefile
  pyo3-polars/example/io_plugin/Makefile
Labels: python, rust, internal

#24032 fix: Incorrect slice-slice pushdown
  crates/polars-plan/src/plans/optimizer/slice_pushdown_lp.rs
  py-polars/tests/unit/operations/test_slice.py
Labels: python, rust, fix

#24031 chore: Update pyo3-polars versions
  Cargo.lock
  pyo3-polars/pyo3-polars-derive/Cargo.toml
  pyo3-polars/pyo3-polars/Cargo.toml
Labels: python, rust, internal

#24036 fix: Don't encode entire CategoricalMapping when going to Arrow
  crates/polars-core/src/chunked_array/logical/categorical.rs
Labels: python, rust, fix

#24041 fix: Error when using named functions
  Cargo.lock
  crates/polars-lazy/Cargo.toml
  crates/polars-lazy/src/tests/queries.rs
  crates/polars-plan/src/dsl/expr/expr_dyn_fn.rs
  crates/polars-plan/src/dsl/expr/mod.rs
  py-polars/tests/conftest.py
Labels: python, rust, fix

#24044 fix: Revert "fix: Don't encode entire CategoricalMapping when going to Arrow (#24036)"
  crates/polars-core/src/chunked_array/logical/categorical.rs
Labels: python, rust, fix

#24051 fix: Categorical in nested data in row encoding
  crates/polars-row/src/decode.rs
  py-polars/tests/unit/sql/test_group_by.py
Labels: python, rust, fix

#23821 feat: Add `DataFrame.map_columns` for eager evaluation
  py-polars/polars/dataframe/frame.py
Labels: python, rust, enhancement

#24027 fix!: Remove, deprecate or change eager `Expr`s to be lazy compatible
  .github/scripts/test_bytecode_parser.py
  crates/polars-core/src/chunked_array/cast.rs
  crates/polars-core/src/chunked_array/ops/decimal.rs
  crates/polars-error/src/lib.rs
  crates/polars-ops/src/series/ops/eager.rs
  crates/polars-ops/src/series/ops/mod.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/function_expr/list.rs
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/function_expr/strings.rs
  crates/polars-plan/src/dsl/list.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/dsl/python_dsl/python_udf.rs
  crates/polars-plan/src/dsl/string.rs
  crates/polars-plan/src/dsl/udf.rs
  crates/polars-plan/src/plans/aexpr/function_expr/list.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/aexpr/function_expr/shrink_type.rs
  crates/polars-plan/src/plans/aexpr/function_expr/strings.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/expr_to_ir.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/expr/list.rs
  crates/polars-python/src/expr/string.rs
  crates/polars-python/src/functions/lazy.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-python/src/map/lazy.rs
  crates/polars-python/src/series/general.rs
  crates/polars-python/src/series/map.rs
  crates/polars-sql/src/sql_expr.rs
  crates/polars-time/src/chunkedarray/string/infer.rs
  crates/polars-time/src/chunkedarray/string/mod.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/expr/expr.py
  py-polars/polars/expr/list.py
  py-polars/polars/expr/string.py
  py-polars/polars/functions/lazy.py
  py-polars/polars/series/list.py
  py-polars/polars/series/series.py
  py-polars/polars/series/string.py
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/datatypes/test_string.py
  py-polars/tests/unit/datatypes/test_struct.py
  py-polars/tests/unit/expr/test_exprs.py
  py-polars/tests/unit/functions/test_when_then.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/map/test_map_rows.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/namespaces/test_strptime.py
  py-polars/tests/unit/operations/test_shrink_dtype.py
  py-polars/tests/unit/sql/test_cast.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, breaking, fix

#24048 chore: Make tests with sinks run on cloud again
  py-polars/tests/conftest.py
  py-polars/tests/unit/io/test_parquet.py
Labels: python, rust, internal

#24068 feat: Add peak_{min,max} support for booleans
  crates/polars-ops/src/chunked_array/peaks.rs
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement, fix

#24064 fix: Expr.meta.output_name for struct fields
  crates/polars-plan/src/utils.rs
  py-polars/tests/unit/operations/namespaces/test_meta.py
Labels: python, rust, fix

#24069 fix: Correct output for `fold` and `reduce`
  crates/polars-plan/src/plans/aexpr/function_expr/horizontal.rs
  py-polars/polars/functions/lazy.py
  py-polars/tests/unit/functions/test_horizontal.py
  py-polars/tests/unit/operations/aggregation/test_folds.py
  py-polars/tests/unit/test_expr_multi_cols.py
Labels: python, rust, fix

#24071 fix: Correct planner output schema for `join_asof`
  crates/polars-plan/src/plans/schema.rs
  py-polars/tests/unit/operations/test_join_asof.py
Labels: python, rust, fix

#24074 fix: Include datatypes in `row_encode` expression
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/row_encode.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  py-polars/tests/unit/test_row_encoding.py
Labels: python, rust, fix

#24076 feat(python): Catch additional temporal attributes in `BytecodeParser` function analysis
  py-polars/polars/_utils/udfs.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
Labels: python, enhancement

#24077 fix: Allow `merge_sorted` for all types
  crates/polars-core/src/chunked_array/binary_offset.rs
  crates/polars-core/src/chunked_array/comparison/mod.rs
  crates/polars-core/src/chunked_array/comparison/scalar.rs
  crates/polars-core/src/chunked_array/mod.rs
  crates/polars-core/src/datatypes/schema.rs
  crates/polars-core/src/series/comparison.rs
  crates/polars-core/src/series/mod.rs
  crates/polars-ops/src/frame/join/merge_sorted.rs
  crates/polars-plan/src/plans/aexpr/builder.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-stream/src/nodes/merge_sorted.rs
  crates/polars-stream/src/physical_plan/fmt.rs
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
  crates/polars-stream/src/physical_plan/mod.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/lazyframe/test_merged_sorted.py
Labels: python, rust, fix

#23485 fix: Rolling mean with weights incorrect when min_samples < window_size
  crates/polars-compute/src/rolling/no_nulls/mean.rs
  crates/polars-compute/src/rolling/no_nulls/mod.rs
  crates/polars-core/src/chunked_array/ops/rolling_window.rs
  py-polars/polars/expr/expr.py
  py-polars/tests/unit/operations/rolling/test_rolling.py
Labels: python, rust, fix

#24053 perf: Lower order-preserving groupby to streaming engine
  crates/polars-stream/src/physical_plan/lower_expr.rs
  crates/polars-stream/src/physical_plan/lower_group_by.rs
  crates/polars-stream/src/physical_plan/lower_ir.rs
Labels: python, rust, performance

#24078 fix: Implode instead of `reshape_list`
  crates/polars-expr/src/expressions/mod.rs
  py-polars/tests/unit/operations/test_gather.py
Labels: python, rust, fix

#24067 chore: Mark tests that may fail in cloud
  py-polars/tests/unit/datatypes/test_object.py
  py-polars/tests/unit/interchange/test_roundtrip.py
  py-polars/tests/unit/interop/numpy/test_to_numpy_df.py
  py-polars/tests/unit/interop/test_to_init_repr.py
  py-polars/tests/unit/io/test_io_plugin.py
  py-polars/tests/unit/io/test_json.py
  py-polars/tests/unit/io/test_spreadsheet.py
  py-polars/tests/unit/operations/aggregation/test_folds.py
  py-polars/tests/unit/operations/map/test_inefficient_map_warning.py
  py-polars/tests/unit/operations/map/test_map_batches.py
  py-polars/tests/unit/operations/map/test_map_elements.py
  py-polars/tests/unit/operations/test_shrink_dtype.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, internal

#24113 fix(python): Make `group_by`/`partition_by` iterator keys `tuple[Any, ...]` to enable tuple-unpacking
  py-polars/polars/dataframe/frame.py
  py-polars/polars/dataframe/group_by.py
  py-polars/tests/unit/dataframe/test_partition_by.py
  py-polars/tests/unit/io/test_hive.py
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, fix

#24115 fix(python): Fix from_repr parsing of negative durations
  py-polars/polars/_utils/various.py
  py-polars/tests/unit/interop/test_interop.py
Labels: python, fix

#24116 chore: Add `order_sensitive` property for `AExpr`
  crates/polars-plan/src/dsl/expr/mod.rs
  crates/polars-plan/src/plans/aexpr/properties/general.rs
  crates/polars-plan/src/plans/aexpr/properties/mod.rs
  crates/polars-plan/src/plans/aexpr/properties/order_sensitive.rs
Labels: python, rust, internal

#24056 feat: Improve Debug formatting of DataType
  crates/polars-core/src/datatypes/dtype.rs
  py-polars/tests/unit/functions/range/test_linear_space.py
  py-polars/tests/unit/operations/test_cast.py
Labels: python, rust, enhancement

#24114 feat: Add a deprecation warning for pl.Series.shift(Null)
  crates/polars-error/src/warning.rs
  crates/polars-plan/src/plans/aexpr/function_expr/shift_and_fill.rs
  crates/polars-stream/src/nodes/shift.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust, enhancement

#24132 refactor(rust): Fool-proof retrieve_error_msg
  crates/polars-plan/src/plans/aexpr/function_expr/plugin.rs
Labels: rust, internal

#24154 refactor(rust): InMemoryJoin should be coloured as InMemoryFallback
  crates/polars-stream/src/physical_plan/fmt.rs
Labels: rust, internal

#24152 fix: Fix `sort_by` for `group_by_dynamic` context
  crates/polars-expr/src/expressions/sortby.rs
  py-polars/tests/unit/operations/test_sort.py
  py-polars/tests/unit/test_errors.py
Labels: python, rust, fix

#24164 fix: Allow non-elementwise by in top_k
  crates/polars-stream/src/physical_plan/lower_ir.rs
  py-polars/tests/unit/operations/test_top_k.py
Labels: python, rust, fix

#24166 fix: PyO3 extension types giving compat_level errors
  pyo3-polars/README.md
  pyo3-polars/pyo3-polars/src/lib.rs
  pyo3-polars/pyo3-polars/src/types.rs
Labels: python, rust, fix

#24136 feat(python): Drop PyArrow requirement for `write_database` with the ADBC engine
  py-polars/polars/dataframe/frame.py
  py-polars/polars/io/database/_utils.py
  py-polars/tests/unit/io/database/test_read.py
  py-polars/tests/unit/io/database/test_write.py
Labels: python, enhancement, A-io-database

#24186 feat: Log pyarrow predicate conversion result in sensitive verbose logs
  crates/polars-mem-engine/src/planner/lp.rs
  py-polars/tests/unit/io/test_pyarrow_dataset.py
Labels: python, rust, enhancement

#24195 docs(python): Update GPU un/supported features
  docs/source/user-guide/gpu-support.md
Labels: documentation, python

#24160 fix: Fix engine type for `concat_list` on AggScalar `implode`
  crates/polars-expr/src/expressions/aggregation.rs
  py-polars/tests/unit/datatypes/test_list.py
Labels: python, rust, fix

#24188 fix(python): Fix credential provider did not auto-init on partition sinks
  py-polars/polars/io/cloud/_utils.py
  py-polars/tests/unit/io/cloud/test_credential_provider.py
Labels: python, fix

#24197 fix: Fix panic in polars cloud CSV scan
  crates/polars-io/src/file_cache/cache.rs
  crates/polars-io/src/file_cache/utils.rs
  crates/polars-io/src/ipc/ipc_reader_async.rs
  crates/polars-plan/src/dsl/scan_sources.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/scans.rs
  crates/polars-plan/src/plans/functions/count.rs
  crates/polars-stream/src/nodes/io_sources/csv.rs
  crates/polars-stream/src/nodes/io_sources/ipc.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/config.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/pipeline/initialization.rs
  crates/polars-stream/src/nodes/io_sources/multi_scan/reader_interface/capabilities.rs
  crates/polars-stream/src/nodes/io_sources/ndjson/builder.rs
  crates/polars-utils/src/lib.rs
Labels: python, rust, fix, A-io-csv

#24201 refactor(rust): Propagate some python feature flags
  crates/polars-dylib/Cargo.toml
  crates/polars-python/Cargo.toml
Labels: rust, internal

#24214 chore: Remove unused `Wrap`
  crates/polars-core/src/datatypes/_serde.rs
  crates/polars-core/src/datatypes/mod.rs
Labels: python, rust, internal

#24220 perf: Basic de-duplication of filter expressions
  crates/polars-plan/src/plans/aexpr/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/join.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/mod.rs
  crates/polars-plan/src/plans/optimizer/predicate_pushdown/utils.rs
  crates/polars-plan/src/plans/visitor/expr.rs
  py-polars/tests/unit/operations/test_join.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust, performance

#24225 fix: Release the GIL in map_groups
  crates/polars-python/src/dataframe/general.rs
Labels: python, rust, fix

#22942 docs(python): Add hint to use `DataFrame/Series` constructors in `from_arrow` docstring
  py-polars/polars/convert/general.py
Labels: documentation, python

#24245 docs: Fix formatting of Series.value_counts examples
  py-polars/polars/series/series.py
Labels: documentation, python, rust

#24226 feat: Allow pl.Expr.log to take in an expression
  crates/polars-ops/src/series/ops/log.rs
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/function_expr/mod.rs
  crates/polars-plan/src/dsl/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/log.rs
  crates/polars-plan/src/plans/aexpr/function_expr/mod.rs
  crates/polars-plan/src/plans/aexpr/function_expr/schema.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/functions.rs
  crates/polars-plan/src/plans/conversion/ir_to_dsl.rs
  crates/polars-python/src/expr/general.rs
  crates/polars-python/src/lazyframe/visitor/expr_nodes.rs
  crates/polars-sql/src/functions.rs
  crates/polars-sql/tests/functions_math.rs
  crates/polars/tests/it/lazy/expressions/apply.rs
  py-polars/polars/_plr.pyi
  py-polars/polars/expr/expr.py
  py-polars/polars/series/series.py
  py-polars/tests/unit/series/test_series.py
Labels: python, rust, enhancement

#24253 fix: Unordered unions in check order observing pass
  crates/polars-plan/src/dsl/options/mod.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
Labels: python, rust, fix

#24257 build: Drop binary support for macos_x86-64
  .github/workflows/release-python.yml
Labels: python, rust, build

#24252 fix: Correct size limits for Decimal cast
  crates/polars-compute/src/cast/primitive_to.rs
  py-polars/tests/unit/datatypes/test_decimal.py
Labels: python, rust, fix

#24251 chore: Fix Makefile venv path
  py-polars/Makefile
Labels: python, rust, internal

#24261 fix: Unique with keep="none" in new optimization pass
  crates/polars-plan/src/plans/optimizer/set_order.rs
  py-polars/tests/unit/operations/unique/test_unique.py
Labels: python, rust, fix

#24262 fix: Sanitize and warn about eval usage
  crates/polars-plan/src/plans/python/pyarrow.rs
  py-polars/polars/io/pyarrow_dataset/anonymous_scan.py
  py-polars/polars/io/pyarrow_dataset/functions.py
Labels: python, rust, fix

#24254 docs(python): Add missing references for `Seriers.rolling_*_by` methods
  py-polars/docs/source/reference/series/computation.rst
Labels: documentation, python

#24266 build: Re-enable macos-x86-64
  .github/workflows/release-python.yml
  rust-toolchain.toml
Labels: python, rust, build

#24265 fix: Keep DSL cache after serialization and deserialization
  crates/polars-plan/dsl-schema-hashes.json
  crates/polars-plan/src/dsl/builder_dsl.rs
  crates/polars-plan/src/dsl/plan.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/mod.rs
  crates/polars-plan/src/plans/conversion/dsl_to_ir/utils.rs
  crates/polars-plan/src/plans/optimizer/set_order.rs
  crates/polars-utils/src/unique_id.rs
  py-polars/tests/unit/lazyframe/test_lazyframe.py
  py-polars/tests/unit/test_serde.py
Labels: python, rust, fix

#24256 fix(rust): The `index_of` feature should not depends on the `object` feature
  crates/polars-ops/src/series/ops/index_of.rs
  crates/polars-plan/Cargo.toml
Labels: rust, fix

#24249 docs(python): Update categorical comparison documentation in user guide
  docs/source/user-guide/expressions/categorical-data-and-enums.md
Labels: documentation, python

#24268 fix: Panic in inexact date(time) conversion
  crates/polars-time/src/chunkedarray/string/mod.rs
  py-polars/tests/unit/operations/namespaces/temporal/test_to_datetime.py
Labels: python, rust, fix

#24269 perf: Do ordering simplification step after common sub-plan elimination
  crates/polars-plan/src/plans/optimizer/mod.rs
  py-polars/tests/unit/test_queries.py
Labels: python, rust, performance

#24283 Revert "perf: Do ordering simplification step after common sub-plan elimination"
  crates/polars-plan/src/plans/optimizer/mod.rs
  py-polars/tests/unit/test_queries.py
Labels: title needs formatting

#24284 chore: Readd ordering tests
  py-polars/tests/unit/test_queries.py
Labels: python, rust, internal

#24289 fix: Incorrect first/last aggregate in streaming engine
  crates/polars-expr/src/hot_groups/binview.rs
  crates/polars-expr/src/hot_groups/fixed_index_table.rs
  crates/polars-expr/src/hot_groups/mod.rs
  crates/polars-expr/src/hot_groups/row_encoded.rs
  crates/polars-expr/src/hot_groups/single_key.rs
  crates/polars-stream/src/nodes/group_by.rs
  crates/polars-stream/src/physical_plan/to_graph.rs
  py-polars/tests/unit/operations/test_group_by.py
Labels: python, rust, fix

#24292 chore: Get ready for even more cloud tests
  py-polars/tests/unit/dataframe/test_df.py
  py-polars/tests/unit/datatypes/test_categorical.py
  py-polars/tests/unit/lazyframe/test_order_observability.py
  py-polars/tests/unit/operations/aggregation/test_aggregations.py
  py-polars/tests/unit/operations/namespaces/array/test_array.py
  py-polars/tests/unit/operations/namespaces/list/test_list.py
  py-polars/tests/unit/operations/namespaces/string/test_string.py
  py-polars/tests/unit/operations/test_ewm.py
  py-polars/tests/unit/operations/test_shrink_dtype.py
  py-polars/tests/unit/streaming/test_streaming.py
  py-polars/tests/unit/test_categories.py
  py-polars/tests/unit/test_cse.py
  py-polars/tests/unit/test_predicates.py
  py-polars/tests/unit/test_projections.py
Labels: python, rust, internal
